Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu

python3Packages.django_compat: fix tests and re-enable
  pkgs/development/python-modules/django-compat/default.nix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

trv: remove at 0.1.3
  pkgs/development/tools/misc/trv/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

ocamlPackages.core_profiler: remove at 0.11.0
  pkgs/development/ocaml-modules/janestreet/default.nix
Owners: none

ocamlPackages.ocaml_plugin: remove at 0.11.0
  pkgs/development/ocaml-modules/janestreet/default.nix
Owners: none

ocamlPackages.cohttp_p4: remove at 0.19.3
  pkgs/development/ocaml-modules/cohttp/0.19.3.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

ocamlPackages.conduit_p4: remove at 0.10.0
  pkgs/development/ocaml-modules/conduit/0.10.0.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

ocaml-ng.ocamlPackages_4_10.ocaml: 4.10.0+β2 → 4.10.0+rc1
  pkgs/development/compilers/ocaml/4.10.nix
Owners: none

ocaml-ng.ocamlPackages_4_10.ocaml: 4.10.0+rc1 → 4.10.0+rc2
  pkgs/development/compilers/ocaml/4.10.nix
Owners: none

ocaml-ng.ocamlPackages_4_10.ocaml: 4.10.0+rc2 → 4.10.0
  pkgs/development/compilers/ocaml/4.10.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

haskellPackages.pantry: get building with ghc882
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

haskellPackages.stack: get compiling with ghc882
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
  pkgs/development/haskell-modules/patches/stack-ghc882-support.patch
Owners: @cdepillabout, @infinisil

haskellPackages.taffybar: Fix compilation with ghc882
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

LTS Haskell 15.2
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

haskellPackages.nixfmt: Unbreak
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

haskellPackages.github: mark unbroken
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

unbreak lsp-related packages
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

haskellPackages.binary-instances: mark unbroken
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

perlPackages.ParserYapp: init ad 1.21
  pkgs/top-level/perl-packages.nix
Owners: @volth

plex: 1.18.7.2438 -> 1.18.7.2457
  pkgs/servers/plex/raw.nix
Owners: none

libqmi: 1.24.4 -> 1.24.6
  pkgs/development/libraries/libqmi/default.nix
Owners: none

hackage2nix: disable Hydra builds that don't evaluate or fail
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

haskellPackages.semver-range: disable tests on ghc88x
  pkgs/development/haskell-modules/configuration-ghc-8.8.x.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

ormolu: remove unneeded override after bump to lts-15
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @infinisil

spago: unbreak after update to ghc-8.8.2
  pkgs/development/haskell-modules/configuration-nix.nix
  pkgs/development/tools/purescript/spago/spago.nix
Owners: @cdepillabout, @infinisil

haskellPackages.dhall_1_29_0: disable tests since they access the network
  pkgs/development/haskell-modules/configuration-nix.nix
Owners: @cdepillabout, @infinisil

haskellPackages.pantry_0_2_0_0: Mark dontCheck
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @infinisil

haskell-binary-instances: disable test suite to avoid spurious failures
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @infinisil

all-cabal-hashes: update to Hackage at 2020-03-06T12:35:04Z
  pkgs/data/misc/hackage/default.nix
Owners: none

stack: Get building with old version of pantry
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

haskell-ci: fix the build
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @infinisil

haskell-cryptonite: disable the test suite to fix the build on older CPUs
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @infinisil

python3akcages.django_compat: improve test fix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

python3Pakcages.django_compat: fix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

vector: 0.8.0 -> 0.8.1
  pkgs/tools/misc/vector/default.nix
Owners: none

python3Packages.django_compat: fix tests and re-enable
  pkgs/development/python-modules/django-compat/default.nix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

python3akcages.django_compat: improve test fix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

python3Pakcages.django_compat: fix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

libzip: 1.6.0 -> 1.6.1
  pkgs/development/libraries/libzip/default.nix
Owners: none

nixos/wireguard: Fix typo in error message
  nixos/modules/services/networking/wireguard.nix
Owners: none

ripcord: init at 0.4.23
  pkgs/applications/networking/instant-messengers/ripcord/default.nix
  pkgs/top-level/all-packages.nix
Owners: none
