Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Boostraping and core infra
/pkgs/stdenv                    @edolstra
/pkgs/build-support/cc-wrapper  @edolstra

# Libraries
/lib                        @edolstra @nbp

# Nixpkgs Internals
/default.nix                @nbp
/pkgs/top-level/default.nix @nbp
/pkgs/top-level/impure.nix  @nbp
/pkgs/top-level/stage.nix   @nbp

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

networkmanagerapplet: cleanup
  pkgs/tools/networking/network-manager-applet/default.nix
Owners: none

libgudev: 231 → 232
  pkgs/development/libraries/libgudev/default.nix
Owners: none

libinput: 1.7.3 → 1.9.1
  pkgs/development/libraries/libinput/default.nix
  pkgs/development/libraries/libinput/udev-absolute-path.patch
Owners: none

xf86_input_wacom: 0.34 → 0.35
  pkgs/os-specific/linux/xf86-input-wacom/default.nix
Owners: none

libwacom: 0.22 → 0.26
  pkgs/development/libraries/libwacom/default.nix
Owners: none

gnome3.vte: 0.48.3 → 0.50.1
  pkgs/desktops/gnome-3/core/vte/src.nix
Owners: none

gobjectIntrospection: 1.52.1 → 1.54.1
  pkgs/development/libraries/gobject-introspection/default.nix
Owners: none

ostree: 2017.9 → 2017.12
  pkgs/tools/misc/ostree/default.nix
Owners: none

json_glib: 1.2.0 → 1.4.2
  pkgs/development/libraries/json-glib/default.nix
Owners: none

zeitgeist: 0.9.15 → 1.0
  pkgs/development/libraries/zeitgeist/default.nix
Owners: none

colord: 1.2.12 → 1.4.1
  pkgs/tools/misc/colord/default.nix
  pkgs/tools/misc/colord/fix-build-paths.patch
Owners: none

appstream-glib: clean up
  pkgs/development/libraries/appstream-glib/default.nix
Owners: none

nautilus-sendto: 3.8.1 → 3.8.6
  pkgs/desktops/gnome-3/apps/nautilus-sendto/default.nix
Owners: none

packagekit: 1.1.3 → 1.1.7
  pkgs/tools/package-management/packagekit/default.nix
Owners: none

gnome3.totem-pl-parser: clean up
  pkgs/desktops/gnome-3/core/totem-pl-parser/default.nix
Owners: none

gnome3.mutter: remove stale patches
  pkgs/desktops/gnome-3/core/mutter/default.nix
  pkgs/desktops/gnome-3/core/mutter/math.patch
  pkgs/desktops/gnome-3/core/mutter/x86.patch
Owners: none

gnome3.mutter: add libwacom dependency
  pkgs/desktops/gnome-3/core/mutter/default.nix
Owners: none

telepathy_glib: cleanup
  pkgs/development/libraries/telepathy/glib/default.nix
Owners: none

gnome3.dconf: cleanup
  pkgs/desktops/gnome-3/core/dconf/default.nix
Owners: none

gnome3.mutter: fix libgudev 232 compatibility
  pkgs/desktops/gnome-3/core/mutter/default.nix
Owners: none

libevdev: 1.5.6 → 1.5.7
  pkgs/development/libraries/libevdev/default.nix
Owners: none

gnome3.mutter: cleanup
  pkgs/desktops/gnome-3/core/mutter/default.nix
Owners: none

libinput: enable tests
  pkgs/development/libraries/libinput/default.nix
Owners: none

mkvtoolnix: 16.0.0 -> 17.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Owners: none

quodlibet: 2.6.3 -> 3.9.1
  pkgs/applications/audio/quodlibet/default.nix
  pkgs/applications/audio/quodlibet/quodlibet-package-plugins.patch
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

vapoursynth: R38 -> R39
  pkgs/development/libraries/vapoursynth/default.nix
Owners: none

babeld module: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/babeld.nix
Owners: none

phpPackages.redis: rev 4a37e4 -> 3.1.4
  pkgs/top-level/php-packages.nix
Owners: none

phpPackages.apcu: 5.1.2 -> 5.1.8 and enable tests
  pkgs/top-level/php-packages.nix
Owners: none

babeld module: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/babeld.nix
Owners: none

python.pkgs.faulthandler: init at 2.6
  pkgs/development/python-modules/faulthandler/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

quodlibet: 2.6.3 -> 3.9.1
  pkgs/applications/audio/quodlibet/default.nix
  pkgs/applications/audio/quodlibet/quodlibet-package-plugins.patch
  pkgs/top-level/all-packages.nix
Owners: none

python.pkgs.pyobjc: init at 4.0b1
  pkgs/development/python-modules/pyobjc/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

lib/types.nix: Disable 32-bit integer types for now
  lib/types.nix
Owners: @edolstra, @nbp

Revert "cyrus_sasl: Fix CVE-2013-4122"
  pkgs/development/libraries/cyrus-sasl/default.nix
Owners: none

linux: 4.14.0-rc7 -> 4.14.0-rc8
  pkgs/os-specific/linux/kernel/linux-testing.nix
Owners: none

nixos/mattermost: 4.1.0 -> 4.2.0
  pkgs/servers/mattermost/default.nix
Owners: none

mattermost: 4.2.0 -> 4.3.0
  pkgs/servers/mattermost/default.nix
Owners: none

nixos/mattermost: fix for webapp being renamed to client
  nixos/modules/services/web-apps/mattermost.nix
Owners: none

mattermost: build from source
  pkgs/servers/mattermost/default.nix
Owners: none
