Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

kwin: Fix build with qt 5.10
  pkgs/desktops/plasma-5/kwin/default.nix
Owners: @ttuegel

plasma-desktop: Fix build with qt 5.10
  pkgs/desktops/plasma-5/plasma-desktop/default.nix
Owners: @ttuegel

plasma-vault: Fixes build
  pkgs/desktops/plasma-5/plasma-vault/default.nix
Owners: @ttuegel

redshift: fix redshift-gtk, autoreconfHook
  pkgs/applications/misc/redshift/575.patch
  pkgs/applications/misc/redshift/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

vimb: 2.11 -> 3.1.0
  pkgs/applications/networking/browsers/vimb/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

solc: enable shared libs
  pkgs/development/compilers/solc/default.nix
  pkgs/development/compilers/solc/shared_install.patch
Owners: none

vim-plugins/autopairs init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/Cosco init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/Syntastic: 2017 -> 2018
  pkgs/misc/vim-plugins/default.nix
Owners: none

vim-plugins/SyntaxRange init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/caw init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/csv init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/easygit init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/xterm-color-table init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/zeavim init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/neco-look init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/prettyprint init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/vim-scouter init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/riv init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/vim-ruby init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/table-mode: 2017 -> 2018
  pkgs/misc/vim-plugins/default.nix
Owners: none

vim-plugins/sparkup init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/vim-cursorword init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/vim-javascript init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/vim-jsbeautify init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

redshift: reintroduce longDescription
  pkgs/applications/misc/redshift/default.nix
Owners: none

vim-plugins/vim-logreview init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/vim-ft-diff_fold init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/tabpagecd init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/fzf.vim: 2017 -> 2018
  pkgs/misc/vim-plugins/default.nix
Owners: none

vim-plugins/deoplete.nvim: 2017 -> 2018
  pkgs/misc/vim-plugins/default.nix
Owners: none

vim-plugins/vim-dashboard init
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: none

vim-plugins/fugitive: 2017 -> 2018
  pkgs/misc/vim-plugins/default.nix
Owners: none

libnetfilter_queue: 1.0.2 -> 1.0.3
  pkgs/development/libraries/libnetfilter_queue/default.nix
Owners: none

release-lib: forAllSupportedSystems -> forTheseSystems
  pkgs/top-level/release-cross.nix
  pkgs/top-level/release-lib.nix
Owners: none

libmpc: 1.0.3. -> 1.1.0
  pkgs/development/libraries/libmpc/default.nix
Owners: none

nixos/release.nix: Use forTheseSystems from release-lib
  nixos/release.nix
Owners: none

nixos/release.nix: Move forAllSystems to release-lib
  nixos/release.nix
  pkgs/top-level/release-lib.nix
Owners: none

Python docs: remove `name` attribute
  doc/languages-frameworks/python.md
Owners: @FRidh

julia: 0.6.0 -> 0.6.2
  pkgs/development/compilers/julia/0.6.nix
Owners: none
