Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

atk: needs glib in nativeBuildInputs
  pkgs/development/libraries/atk/default.nix
Owners: none

plymouth: update configure flags
  pkgs/os-specific/linux/plymouth/default.nix
Owners: none

pango: add glib to nativeBuildInputs
  pkgs/development/libraries/pango/default.nix
Owners: none

json-glib: add glib to nativeBuildInputs
  pkgs/development/libraries/json-glib/default.nix
Owners: none

nixos-artwork: make imagemagick a native build input
  pkgs/data/misc/nixos-artwork/icons.nix
Owners: none

gtk-icon-cache: get native gtk3 for icon cache
  nixos/modules/config/gtk/gtk-icon-cache.nix
Owners: none

breeze-plymouth: make some things native
  pkgs/desktops/plasma-5/breeze-plymouth/default.nix
Owners: @ttuegel

unpack-bootstrap-tools: remove obsolete linker script patching
  pkgs/stdenv/linux/bootstrap-tools/scripts/unpack-bootstrap-tools.sh
Owners: none

stdenv: update ARM bootstrap tarballs
  pkgs/stdenv/linux/bootstrap-files/armv5tel.nix
  pkgs/stdenv/linux/bootstrap-files/armv6l.nix
  pkgs/stdenv/linux/bootstrap-files/armv7l.nix
Owners: none

gnupg: apply patch to allow import of key updates without user ids
  pkgs/tools/security/gnupg/22.nix
  pkgs/tools/security/gnupg/accept-subkeys-with-a-good-revocation-but-no-self-sig.patch
  pkgs/tools/security/gnupg/allow-import-of-previously-known-keys-even-without-UI.patch
  pkgs/tools/security/gnupg/tests-add-test-cases-for-import-without-uid.patch
Owners: none

libvdpau: 1.2 -> 1.3
  pkgs/development/libraries/libvdpau/default.nix
  pkgs/development/libraries/libvdpau/installdir.patch
Owners: none

vdpauinfo: 1.0 -> 1.3
  pkgs/tools/X11/vdpauinfo/default.nix
Owners: none

ncurses: 6.1-20190112 -> 6.2
  pkgs/development/libraries/ncurses/default.nix
Owners: none

gdb: 8.3.1 -> 9.1
  pkgs/development/tools/misc/gdb/darwin-target-match.patch
  pkgs/development/tools/misc/gdb/debug-info-from-env.patch
  pkgs/development/tools/misc/gdb/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

waf: move binary to $out/bin/
  pkgs/development/tools/build-managers/waf/default.nix
  pkgs/development/tools/build-managers/wafHook/setup-hook.sh
Owners: none

libevdev: 1.8.0 -> 1.9.0
  pkgs/development/libraries/libevdev/default.nix
Owners: none

libva: 2.5.0 -> 2.6.1
  pkgs/development/libraries/libva/default.nix
Owners: none

vim: 8.2.0227 -> 8.2.0343
  pkgs/applications/editors/vim/common.nix
Owners: none

libfido2: change dependency from libressl to openssl
  pkgs/development/libraries/libfido2/default.nix
Owners: none

util-linux: use $bin output for umount
  pkgs/os-specific/linux/util-linux/default.nix
Owners: none

cmake: 3.16.4 -> 3.16.5
  pkgs/development/tools/build-managers/cmake/default.nix
Owners: none

skypeforlinux: 8.55.0.141 -> 8.56.0.103
  pkgs/applications/networking/instant-messengers/skypeforlinux/default.nix
Owners: none

intel-graphics-compiler: 1.0.3041 -> 1.0.3151
  pkgs/development/compilers/intel-graphics-compiler/default.nix
Owners: none

rawtherapee: 5.7 -> 5.8
  pkgs/applications/graphics/rawtherapee/default.nix
Owners: none

zotero: 5.0.82 -> 5.0.83
  pkgs/applications/office/zotero/default.nix
Owners: none

urh: 2.8.2 -> 2.8.3
  pkgs/applications/radio/urh/default.nix
Owners: none

gdcm: 3.0.4 -> 3.0.5
  pkgs/development/libraries/gdcm/default.nix
Owners: none

facter: 3.14.7 -> 3.14.8
  pkgs/tools/system/facter/default.nix
Owners: none

elogind: 243.4 -> 243.7
  pkgs/applications/misc/elogind/default.nix
Owners: none

osi: 0.108.4 -> 0.108.6
  pkgs/development/libraries/science/math/osi/default.nix
Owners: none

python27Packages.uproot: 3.11.2 -> 3.11.3
  pkgs/development/python-modules/uproot/default.nix
Owners: @FRidh, @jonringer

python27Packages.traitsui: 6.1.1 -> 6.1.3
  pkgs/development/python-modules/traitsui/default.nix
Owners: @FRidh, @jonringer

python27Packages.pyface: 6.1.1 -> 6.1.2
  pkgs/development/python-modules/pyface/default.nix
Owners: @FRidh, @jonringer

python37Packages.pikepdf: 1.10.0 -> 1.10.2
  pkgs/development/python-modules/pikepdf/default.nix
Owners: @FRidh, @jonringer

python27Packages.denonavr: 0.7.10 -> 0.7.12
  pkgs/development/python-modules/denonavr/default.nix
Owners: @FRidh, @jonringer

python37Packages.ckcc-protocol: 1.0.0 -> 1.0.1
  pkgs/development/python-modules/ckcc-protocol/default.nix
Owners: @FRidh, @jonringer

micronaut: 1.3.0 -> 1.3.2
  pkgs/development/tools/micronaut/default.nix
Owners: none

metabase: 0.34.2 -> 0.34.3
  pkgs/servers/metabase/default.nix
Owners: none

librealsense: 2.31.0 -> 2.32.1
  pkgs/development/libraries/librealsense/default.nix
Owners: none

rednotebook: 2.16 -> 2.18
  pkgs/applications/editors/rednotebook/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu
