Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

perf: inherit makeFlags from kernel
  pkgs/os-specific/linux/kernel/perf.nix
Owners: none

pygame_sdl2: 6.99.10.1227 -> 2.1.0-6.99.14
  pkgs/development/python-modules/pygame_sdl2/default.nix
Owners: @FRidh

kernel: revert seemingly incorrect change to extraMeta merging
  pkgs/os-specific/linux/kernel/manual-config.nix
Owners: none

freeradius: 3.0.15 -> 3.0.16
  pkgs/servers/freeradius/default.nix
Owners: none

glibc: fix CVE-2018-1000001 (getcwd() absolute path issue)
  pkgs/development/libraries/glibc/2.26-115to137.diff.gz
  pkgs/development/libraries/glibc/common.nix
Owners: none

linuxPackages.vhba: fix add libelf build input
  pkgs/misc/emulators/cdemu/vhba.nix
Owners: none

elpa-packages: 2018-01-15
  pkgs/applications/editors/emacs-modes/elpa-generated.nix
Owners: none

org-packages: 2018-01-15
  pkgs/applications/editors/emacs-modes/org-generated.nix
Owners: none

melpa-stable-packages: 2018-01-15
  pkgs/applications/editors/emacs-modes/melpa-stable-generated.nix
Owners: none

melpa-stable: Don't `markBroken rcirc-menu` (that doesn't exist)
  pkgs/applications/editors/emacs-modes/melpa-stable-packages.nix
Owners: none

melpa-packages: 2018-01-15
  pkgs/applications/editors/emacs-modes/melpa-generated.nix
Owners: none

perlPackages.Clipboard: Fix darwin build
  pkgs/top-level/perl-packages.nix
Owners: none

perlPackages.MacPasteboard: init at 0.009
  pkgs/top-level/perl-packages.nix
Owners: none

kpcli: Fix darwin build
  pkgs/tools/security/kpcli/default.nix
Owners: none

nixos/dnscrypt-wrapper: fix rotate script failing to restart the service
  nixos/modules/services/networking/dnscrypt-wrapper.nix
Owners: none

skim: init at 0.3.1
  pkgs/tools/misc/skim/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

neovim: init wrapper
  pkgs/applications/editors/neovim/default.nix
  pkgs/applications/editors/neovim/wrapper.nix
  pkgs/top-level/all-packages.nix
Owners: none

amd-hybrid-graphics module: remove
  nixos/doc/manual/release-notes/rl-1803.xml
  nixos/modules/module-list.nix
  nixos/modules/services/hardware/amd-hybrid-graphics.nix
Owners: none

qt5: reduce closure size
  pkgs/development/libraries/qt-5/5.10/qtbase.patch
  pkgs/development/libraries/qt-5/5.10/qtdeclarative.patch
  pkgs/development/libraries/qt-5/5.6/qtbase.patch
  pkgs/development/libraries/qt-5/5.9/qtbase.patch
  pkgs/development/libraries/qt-5/hooks/fix-qt-module-paths.sh
  pkgs/development/libraries/qt-5/hooks/fix-qt-static-libs.sh
  pkgs/development/libraries/qt-5/hooks/qtbase-setup-hook.sh
  pkgs/development/libraries/qt-5/mkDerivation.nix
  pkgs/development/libraries/qt-5/modules/qtbase.nix
Owners: @ttuegel

kwidgetsaddons: 5.42.0 -> 5.42.1
  pkgs/development/libraries/kde-frameworks/srcs.nix
Owners: @ttuegel

qtbase: fix evaluation error
  pkgs/development/libraries/qt-5/modules/qtbase.nix
Owners: @ttuegel

ethsign: init at 0.8.2
  pkgs/applications/altcoins/default.nix
  pkgs/applications/altcoins/ethsign/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

seth: 0.5.6 -> 0.6.2
  pkgs/applications/altcoins/seth.nix
Owners: none

sudo: add example for extra rules
  nixos/modules/security/sudo.nix
Owners: none

goxel: init at 0.7.2
  lib/maintainers.nix
  pkgs/applications/graphics/goxel/default.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

i3status-rust: 0.9.0.2017-11-09 -> 0.9.0.2018-01-15
  pkgs/applications/window-managers/i3/status-rust.nix
Owners: none

pythonPackages.rdflib: 4.1.2 -> 4.2.2
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.traits: 4.5.0 -> 4.6.0
  pkgs/top-level/python-packages.nix
Owners: @FRidh

kernel: fix dependencies
  pkgs/os-specific/linux/kernel/generic.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
  pkgs/os-specific/linux/kernel/perf.nix
Owners: none

wakatime: don't run check phase
  pkgs/tools/misc/wakatime/default.nix
Owners: none

pythonPackages.nimfa: init at 1.3.1
  pkgs/top-level/python-packages.nix
Owners: @FRidh

miniupnpd: 2.0 -> 2.0.20171212 (fixes CVE-2017-1000494)
  pkgs/tools/networking/miniupnpd/default.nix
Owners: none

miniupnpc_2: 2.0.20170509 -> 2.0.20171212
  pkgs/tools/networking/miniupnpc/default.nix
Owners: none

openvpn: add warning about world-readable credentials
  nixos/modules/services/networking/openvpn.nix
Owners: none

pythonPackages.progressbar2: init at 3.12.0
  pkgs/top-level/python-packages.nix
Owners: @FRidh

Adds support xen domU lightweight containers
  nixos/modules/system/activation/top-level.nix
  nixos/modules/system/boot/kernel.nix
  nixos/modules/system/boot/loader/grub/grub.nix
  nixos/modules/system/boot/loader/init-script/init-script.nix
  nixos/modules/system/boot/modprobe.nix
  nixos/modules/system/boot/stage-1.nix
Owners: none

parallel-rust: init at 0.11.3
  pkgs/tools/misc/parallel-rust/default.nix
  pkgs/tools/misc/parallel-rust/fix_cargo_lock_version.patch
  pkgs/top-level/all-packages.nix
Owners: none

molden: init at 5.7
  pkgs/applications/science/chemistry/molden/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

bettercap: init at 1.6.2 (#33902)
  lib/maintainers.nix
  pkgs/tools/security/bettercap/Gemfile
  pkgs/tools/security/bettercap/Gemfile.lock
  pkgs/tools/security/bettercap/default.nix
  pkgs/tools/security/bettercap/gemset.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

netsniff-ng: 0.6.2 -> 0.6.3
  pkgs/tools/networking/netsniff-ng/default.nix
Owners: none
