Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

mencal: init at 3.0
  lib/maintainers.nix
  pkgs/applications/misc/mencal/default.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

sudo: define extra rules in Nix language (#33905)
  nixos/modules/security/sudo.nix
  nixos/release.nix
  nixos/tests/misc.nix
  nixos/tests/sudo.nix
Owners: none

openjdk: 8u152 -> 8u162
  pkgs/development/compilers/openjdk/8.nix
Owners: none

openjdk: 9.0.1 -> 9.0.4
  pkgs/development/compilers/openjdk/9.nix
Owners: none

openjdk: 9.0.1 -> 9.0.4
  pkgs/development/compilers/openjdk/9.nix
Owners: none

openjdk: 8u152 -> 8u162
  pkgs/development/compilers/openjdk/8.nix
Owners: none

oraclejre: 9.0.1 -> 9.0.4
  pkgs/development/compilers/oraclejdk/jdk9-linux.nix
Owners: none

oraclejdk: remove JCE option
  pkgs/development/compilers/oraclejdk/jdk9-linux.nix
Owners: none

oraclejdk: 8u151, 8u152, 9.0.1 -> 8u161, 8u162, 9.0.4
  pkgs/development/compilers/oraclejdk/jdk8cpu-linux.nix
  pkgs/development/compilers/oraclejdk/jdk8psu-linux.nix
  pkgs/development/compilers/oraclejdk/jdk9-linux.nix
Owners: none

kotlin: 1.2.10 -> 1.2.20
  pkgs/development/compilers/kotlin/default.nix
Owners: none

kotlin: 1.1.50 -> 1.1.51
  pkgs/development/compilers/kotlin/default.nix
Owners: none

kotlin: 1.1.51 -> 1.1.60
  pkgs/development/compilers/kotlin/default.nix
Owners: none

kotlin: 1.1.60-b55 -> 1.2.10
  pkgs/development/compilers/kotlin/default.nix
Owners: none

kotlin: 1.2.10 -> 1.2.20
  pkgs/development/compilers/kotlin/default.nix
Owners: none

atom: 1.23.2 -> 1.23.3
  pkgs/applications/editors/atom/default.nix
Owners: none

atom-beta: 1.24.0-beta2 -> 1.24.0-beta3
  pkgs/applications/editors/atom/beta.nix
Owners: none

atom: 1.23.2 -> 1.23.3
  pkgs/applications/editors/atom/default.nix
Owners: none

gradle: 4.4 -> 4.4.1
  pkgs/development/tools/build-managers/gradle/default.nix
Owners: none

gradle: 4.3.1 -> 4.4
  pkgs/development/tools/build-managers/gradle/default.nix
Owners: none

gradle: 4.4 -> 4.4.1
  pkgs/development/tools/build-managers/gradle/default.nix
Owners: none

keybase: 1.0.33 -> 1.0.39
  pkgs/tools/security/keybase/default.nix
Owners: none

keybase: 1.0.33 -> 1.0.39
  pkgs/tools/security/keybase/default.nix
Owners: none

hypothesis: 3.11.1 -> 3.27.0
  pkgs/development/python-modules/hypothesis/default.nix
Owners: @FRidh

hypothesis: fix tests
  pkgs/development/python-modules/hypothesis/default.nix
Owners: @FRidh

gitHUD: disable tests
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

kdeconnect: 1.2 -> 1.2.1
  pkgs/applications/misc/kdeconnect/default.nix
Owners: none

squid, squid4: Allowing build on Darwin
  pkgs/servers/squid/4.nix
  pkgs/servers/squid/default.nix
Owners: none

dpkg: 1.19.0.4 -> 1.19.0.5
  pkgs/tools/package-management/dpkg/default.nix
Owners: none

firejail: 0.9.50 -> 0.9.52
  pkgs/os-specific/linux/firejail/default.nix
Owners: none

linux-copperhead: 4.14.13.a -> 4.14.14.a
  pkgs/os-specific/linux/kernel/linux-hardened-copperhead.nix
Owners: none

linux-copperhead: 4.14.13.a -> 4.14.14.a
  pkgs/os-specific/linux/kernel/linux-hardened-copperhead.nix
Owners: none

dbus-cpp: init at 5.0.0
  pkgs/development/libraries/dbus-cpp/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

libprocess-cpp: init at 3.0.1
  pkgs/development/libraries/libprocess-cpp/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

libproperties-cpp: init at 0.0.1
  pkgs/development/libraries/libproperties-cpp/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

anbox: build kmod-binder
  pkgs/applications/virtualization/anbox/kmod-binder.nix
  pkgs/top-level/all-packages.nix
Owners: none

anbox: init at 2018-01-06
  pkgs/applications/virtualization/anbox/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

anbox: build kmod-ashmem
  pkgs/applications/virtualization/anbox/kmod-ashmem.nix
  pkgs/top-level/all-packages.nix
Owners: none

anbox: reorder build inputs
  pkgs/applications/virtualization/anbox/default.nix
Owners: none

anbox: image platforms now reflect stdenv.system
  pkgs/applications/virtualization/anbox/default.nix
Owners: none

firefox-devedition-bin: 58.0b16 -> 59.0b1
  pkgs/applications/networking/browsers/firefox-bin/devedition_sources.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel
