Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu

libreswan: 3.29 -> 3.30
  pkgs/tools/networking/libreswan/default.nix
Owners: none

libreswan: 3.30 -> 3.31
  pkgs/tools/networking/libreswan/default.nix
Owners: none

onnxruntime: 1.1.1 -> 1.1.2
  pkgs/development/libraries/onnxruntime/default.nix
Owners: none

notable: 1.7.3 -> 1.8.4
  pkgs/applications/misc/notable/default.nix
Owners: none

riot-web: 1.5.10 -> 1.5.12
  pkgs/applications/networking/instant-messengers/riot/riot-web.nix
Owners: none

riot-desktop: 1.5.10 -> 1.5.12
  pkgs/applications/networking/instant-messengers/riot/riot-desktop-package.json
  pkgs/applications/networking/instant-messengers/riot/riot-desktop.nix
Owners: none

mercurial: 5.3 -> 5.3.1
  pkgs/applications/version-management/mercurial/default.nix
Owners: none

ppp: 2.4.7 -> 2.4.8
  pkgs/tools/networking/ppp/default.nix
  pkgs/tools/networking/ppp/musl-fix-headers.patch
  pkgs/tools/networking/ppp/nix-purity.patch
Owners: none

ppp: apply patch for CVE-2020-8597
  pkgs/tools/networking/ppp/default.nix
Owners: none

onnxruntime: 1.1.1 -> 1.1.2
  pkgs/development/libraries/onnxruntime/default.nix
Owners: none

notable: update license to unfree
  pkgs/applications/misc/notable/default.nix
Owners: none

newlib: 3.1.0 -> 3.3.0
  pkgs/development/misc/newlib/default.nix
Owners: none

teensyduino: add missing dependencies for teensy-loader
  pkgs/development/arduino/arduino-core/default.nix
Owners: none

gnome3.metacity: 3.34.1 -> 3.36.0
  pkgs/desktops/gnome-3/misc/metacity/default.nix
Owners: none

protonvpn-cli-ng: init at 2.2.0
  maintainers/maintainer-list.nix
  pkgs/applications/networking/protonvpn-cli-ng/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

protonvpn-cli-ng: 2.2.0 -> 2.2.2
  pkgs/applications/networking/protonvpn-cli-ng/default.nix
Owners: none

python27Packages.azure-mgmt-storage: 7.1.0 -> 7.2.0
  pkgs/development/python-modules/azure-mgmt-storage/default.nix
Owners: @FRidh, @jonringer

zsh-powerlevel10k v1.2.0 → v1.3.0
  pkgs/shells/zsh/zsh-powerlevel10k/default.nix
Owners: none

gitstatusd: unstable-2020-02-26 → unstable-2020-03-06
  pkgs/applications/version-management/git-and-tools/gitstatus/default.nix
Owners: none

python27Packages.gym: 0.15.6 -> 0.16.0
  pkgs/development/python-modules/gym/default.nix
Owners: @FRidh, @jonringer

tests/kubernetes: remove unreferenced variable and import from inexsisting file
  nixos/tests/kubernetes/dns.nix
Owners: none

nixos/networking: Add hostFiles option
  nixos/modules/config/networking.nix
Owners: none

ocrmypdf: 9.6.0 -> 9.6.1
  pkgs/tools/text/ocrmypdf/default.nix
Owners: none

linuxPackages{,_latest,_next}_hardened_ia32Emulation: init
  pkgs/os-specific/linux/kernel/hardened-config.nix
  pkgs/top-level/all-packages.nix
Owners: @joachifm

openvswitch: 2.12.0 -> 2.13.0
  pkgs/os-specific/linux/openvswitch/default.nix
Owners: none

nixos/cjdns: Don't use IFD for extra hosts
  nixos/modules/services/networking/cjdns.nix
Owners: none

nixos/cjdns: Fix connectTo example rendering
  nixos/modules/services/networking/cjdns.nix
Owners: none

crystal: 0.32.1 -> 0.33.0
  pkgs/development/compilers/crystal/default.nix
Owners: none
