Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu

rename.nix: fix text of an error message
  nixos/modules/rename.nix
Owners: none

broot: 0.13.1 -> 0.13.2
  pkgs/tools/misc/broot/default.nix
Owners: none

clojure-lsp: 20200121T234305 -> 20200305T151710
  pkgs/development/tools/misc/clojure-lsp/default.nix
Owners: none

cloudflare-wrangler: 1.7.0 -> 1.8.1
  pkgs/development/tools/cloudflare-wrangler/default.nix
Owners: none

appimage-run: replace writeScript to a standalone appimage-exec.sh
  pkgs/tools/package-management/appimage-run/appimage-exec.sh
  pkgs/tools/package-management/appimage-run/default.nix
Owners: none

python3Packages.sapi-python-client: init at 0.13.1 (#81184)
  pkgs/development/python-modules/sapi-python-client/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

create-amis: Add eu-north-1
  nixos/maintainers/scripts/ec2/create-amis.sh
Owners: none

create-amis: Add eu-north-1
  nixos/maintainers/scripts/ec2/create-amis.sh
Owners: none

emplace: 0.2.10 -> 0.2.12
  pkgs/tools/package-management/emplace/default.nix
Owners: none

findomain: 1.4.1 -> 1.4.2
  pkgs/tools/networking/findomain/default.nix
Owners: none

clojure-lsp: 20200121T234305 -> 20200305T151710
  pkgs/development/tools/misc/clojure-lsp/default.nix
Owners: none

gleam: 0.6.0 -> 0.7.1
  pkgs/development/compilers/gleam/default.nix
Owners: none

gcc: remove unneeded RPATH patching
  pkgs/development/compilers/gcc/builder.sh
Owners: @matthewbauer

jackett: 0.12.1301 -> 0.13.467
  pkgs/servers/jackett/default.nix
Owners: none

cudnn_cudatoolkit_10_2: init at 7.6.5
  pkgs/development/libraries/science/math/cudnn/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

khronos: 1.0.5 -> 1.0.6
  pkgs/applications/office/khronos/default.nix
Owners: none

youtube-dl: 2020.03.01 -> 2020.03.06
  pkgs/tools/misc/youtube-dl/default.nix
Owners: none

riot-web: 1.5.10 -> 1.5.12
  pkgs/applications/networking/instant-messengers/riot/riot-web.nix
Owners: none

riot-desktop: 1.5.10 -> 1.5.12
  pkgs/applications/networking/instant-messengers/riot/riot-desktop-package.json
  pkgs/applications/networking/instant-messengers/riot/riot-desktop.nix
Owners: none

foldingathome: 6.02 -> 7.5.1
  nixos/modules/services/misc/folding-at-home.nix
  pkgs/misc/foldingathome/default.nix
Owners: none

riot-web: 1.5.10 -> 1.5.12
  pkgs/applications/networking/instant-messengers/riot/riot-web.nix
Owners: none

riot-desktop: 1.5.10 -> 1.5.12
  pkgs/applications/networking/instant-messengers/riot/riot-desktop-package.json
  pkgs/applications/networking/instant-messengers/riot/riot-desktop.nix
Owners: none

dbeaver: fix hash
  pkgs/applications/misc/dbeaver/default.nix
Owners: none

heimer: 1.15.0 -> 1.15.1
  pkgs/applications/misc/heimer/default.nix
Owners: none

gleam: 0.6.0 -> 0.7.1
  pkgs/development/compilers/gleam/default.nix
Owners: none

go-license-detector: 3.0.2 -> 3.1.0
  pkgs/development/tools/misc/go-license-detector/default.nix
Owners: none

libqalculate: 3.7.0 -> 3.8.0
  pkgs/development/libraries/libqalculate/default.nix
Owners: none

abcmidi: 2019.12.09 -> 2020.02.12
  pkgs/tools/audio/abcmidi/default.nix
Owners: none

chafa: 1.2.1 -> 1.2.2
  pkgs/tools/misc/chafa/default.nix
Owners: none

codeql: 2.0.2 -> 2.0.4
  pkgs/development/tools/analysis/codeql/default.nix
Owners: none

zsh-syntax-highlighting: 0.6.0 -> 0.7.1
  pkgs/shells/zsh/zsh-syntax-highlighting/default.nix
Owners: none

pythonPackages.cffi: 1.13.2 -> 1.14.0
  pkgs/development/python-modules/cffi/default.nix
Owners: @FRidh, @jonringer

bitwarden_rs-vault: 2.12.0c -> 2.12.0e
  pkgs/tools/security/bitwarden_rs/vault.nix
Owners: none

libksi: Bump openssl dependency for rsyslogd
  pkgs/top-level/all-packages.nix
Owners: none

wpgtk: 6.0.12 -> 6.0.13
  pkgs/tools/X11/wpgtk/default.nix
Owners: none

pueue: 0.1.5 -> 0.1.6
  pkgs/applications/misc/pueue/default.nix
Owners: none

azure-storage-azcopy: v10.3.2 -> v10.3.4
  pkgs/development/tools/azcopy/default.nix
Owners: none

bitcoin-abc: 0.20.12 -> 0.21.1
  pkgs/applications/blockchains/bitcoin-abc.nix
Owners: none

debootstrap: 1.0.117 -> 1.0.119
  pkgs/tools/misc/debootstrap/default.nix
Owners: none

xmrig: 5.5.3 -> 5.7.0
  pkgs/applications/misc/xmrig/default.nix
Owners: none
