Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

linux: 5.15.56 -> 5.15.58
  pkgs/os-specific/linux/kernel/linux-5.15.nix
Owners: none

linux: 5.4.207 -> 5.4.208
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

s5cmd: 1.4.0 -> 2.0.0
  pkgs/tools/networking/s5cmd/default.nix
Owners: none

saml2aws: 2.34.0 -> 2.36.0
  pkgs/tools/security/saml2aws/default.nix
Owners: none

Update pkgs/shells/fish/plugins/autopair-fish.nix
  pkgs/shells/fish/plugins/autopair-fish.nix
Owners: none

somebar: init at 1.0.0 (#183164)
  pkgs/applications/misc/somebar/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

scheme-bytestructures: 1.0.10 -> 2.0.1
  pkgs/development/scheme-modules/scheme-bytestructures/default.nix
Owners: none

fishPlugins.autopair-fish: 1.0.3 -> 1.0.4
  pkgs/shells/fish/plugins/autopair-fish.nix
Owners: none

sccache: 0.2.15 -> 0.3.0
  pkgs/development/tools/misc/sccache/default.nix
Owners: none

schismtracker: 20220125 -> 20220506
  pkgs/applications/audio/schismtracker/default.nix
Owners: none

scilla: 1.2.1 -> 1.2.2
  pkgs/tools/security/scilla/default.nix
Owners: none

sd-local: 1.0.40 -> 1.0.42
  pkgs/development/tools/sd-local/default.nix
Owners: none

sec: 2.9.0 -> 2.9.1
  pkgs/tools/admin/sec/default.nix
Owners: none

stdenv/common-path.nix: move to stdenv/generic/
  pkgs/misc/my-env/default.nix
  pkgs/stdenv/darwin/default.nix
  pkgs/stdenv/generic/common-path.nix
  pkgs/stdenv/linux/default.nix
  pkgs/stdenv/nix/default.nix
Owners: @Ericson2314, @matthewbauer

semodule-utils: 3.3 -> 3.4
  pkgs/os-specific/linux/semodule-utils/default.nix
Owners: none

stdenv: Simplify dispatch
  pkgs/stdenv/default.nix
Owners: none

sentry-native: 0.4.15 -> 0.4.18
  pkgs/development/libraries/sentry-native/default.nix
Owners: none

Update cargo-raze to 0.16
  pkgs/development/tools/rust/cargo-raze/default.nix
Owners: none

pythonPackages.oscpy: fix flaky tests
  pkgs/development/python-modules/oscpy/default.nix
Owners: @FRidh, @jonringer

shiori: 1.5.2 -> 1.5.3
  pkgs/servers/web-apps/shiori/default.nix
Owners: none

signal-cli: 0.10.8 -> 0.10.9
  pkgs/applications/networking/instant-messengers/signal-cli/default.nix
Owners: none

sigil: 1.9.2 -> 1.9.10
  pkgs/applications/editors/sigil/default.nix
Owners: none

simdjson: 2.2.0 -> 2.2.2
  pkgs/development/libraries/simdjson/default.nix
Owners: none

sish: 2.1.0 -> 2.5.0
  pkgs/tools/networking/sish/default.nix
Owners: none

smug: 0.2.7 -> 0.3.2
  pkgs/tools/misc/smug/default.nix
Owners: none

Update pkgs/applications/misc/gum/default.nix
  pkgs/applications/misc/gum/default.nix
Owners: none

Update pkgs/applications/misc/gum/default.nix
  pkgs/applications/misc/gum/default.nix
Owners: none

snazy: 0.10.0 -> 0.10.1
  pkgs/development/tools/snazy/default.nix
Owners: none

sof-firmware: 2.1.1 -> 2.2
  pkgs/os-specific/linux/firmware/sof-firmware/default.nix
Owners: none

soft-serve: 0.3.1 -> 0.3.2
  pkgs/servers/soft-serve/default.nix
Owners: none

redpanda: 22.1.3 -> 22.1.6
  pkgs/servers/redpanda/default.nix
Owners: none

simpleitk: 2.1.1 -> 2.1.1.1
  pkgs/development/libraries/simpleitk/default.nix
Owners: none

songrec: 0.3.0 -> 0.3.2
  pkgs/applications/audio/songrec/default.nix
Owners: none

fishPlugins.autopair-fish: init at 1.0.4 (#176884)
  pkgs/shells/fish/plugins/autopair-fish.nix
  pkgs/shells/fish/plugins/default.nix
Owners: none

openxray: Remove multiplayer option, fix license URL
  pkgs/games/openxray/default.nix
Owners: none

signal-cli: 0.10.8 -> 0.10.9
  pkgs/applications/networking/instant-messengers/signal-cli/default.nix
Owners: none

gum: init at 0.1.0 (#183396)
  pkgs/applications/misc/gum/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

buildGoModule: prefer verbose output when NIX_DEBUG set
  pkgs/development/go-modules/generic/default.nix
Owners: @kalbasit, @Mic92, @zowoq

ciftilib: init at 1.6.0
  pkgs/development/libraries/science/biology/ciftilib/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

fvwm: move-rename to fvwm2
  pkgs/applications/window-managers/fvwm/2.6.nix
  pkgs/applications/window-managers/fvwm/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones
