Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu

mkdocs: default to Python 3
  pkgs/development/tools/documentation/mkdocs/default.nix
Owners: none

spago: disable Hydra build while its marked broken
  pkgs/development/tools/purescript/spago/spago.nix
Owners: none

hackage2nix: disable Hydra builds that don't evaluate
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

linux: 4.19.107 -> 4.19.108
  pkgs/os-specific/linux/kernel/linux-4.19.nix
Owners: none

linux: 5.5.7 -> 5.5.8
  pkgs/os-specific/linux/kernel/linux-5.5.nix
Owners: none

linux: 5.4.23 -> 5.4.24
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

oh-my-zsh: 2020-03-05 -> 2020-03-05
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

linux: 4.19.107 -> 4.19.108
  pkgs/os-specific/linux/kernel/linux-4.19.nix
Owners: none

linux: 5.4.23 -> 5.4.24
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

linux: 5.5.7 -> 5.5.8
  pkgs/os-specific/linux/kernel/linux-5.5.nix
Owners: none

linux: 5.4.23 -> 5.4.24
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

linux: 4.19.107 -> 4.19.108
  pkgs/os-specific/linux/kernel/linux-4.19.nix
Owners: none

nixos/nginx: use Mozilla Intermediate TLS configuration
  nixos/modules/services/web-servers/nginx/default.nix
Owners: none

uwsgi: use pyhome instead of pythonpath for uwsgi vassals
  nixos/modules/services/web-servers/uwsgi.nix
Owners: none

all-cabal-hashes: update to Hackage at 2020-03-06T12:35:04Z
  pkgs/data/misc/hackage/default.nix
Owners: none

elan: 0.7.5 -> 0.8.0
  pkgs/applications/science/logic/elan/default.nix
Owners: none

recursive: 1.042 -> 1.043
  pkgs/data/fonts/recursive/default.nix
Owners: none

gnome3.gnome-robots: 3.34.1 -> 3.36.0
  pkgs/desktops/gnome-3/games/gnome-robots/default.nix
Owners: none

ghc: 8.8.2 -> 8.8.3
  pkgs/development/compilers/ghc/8.8.2.nix
Owners: @cdepillabout

gpxsee: 7.22 -> 7.25
  pkgs/applications/misc/gpxsee/default.nix
Owners: none

gnome3.gnome-mahjongg: 3.34.0 -> 3.36.0
  pkgs/desktops/gnome-3/games/gnome-mahjongg/default.nix
Owners: none

gpxsee: 7.22 -> 7.25
  pkgs/applications/misc/gpxsee/default.nix
Owners: none

nixos/nginx: use Mozilla Intermediate TLS configuration
  nixos/modules/services/web-servers/nginx/default.nix
Owners: none

elan: v0.8.0 tag was force-pushed by upstream
  pkgs/applications/science/logic/elan/default.nix
Owners: none

spago: not broken
  pkgs/development/tools/purescript/spago/spago.nix
Owners: none

python3Packages.django_compat: fix tests and re-enable
  pkgs/development/python-modules/django-compat/default.nix
  pkgs/development/python-modules/django-compat/fix-tests.diff
Owners: @FRidh, @jonringer

ipset: 7.5 -> 7.6
  pkgs/os-specific/linux/ipset/default.nix
Owners: none

nixos/wireguard: Fix typo in error message
  nixos/modules/services/networking/wireguard.nix
Owners: none

python3Packages.somajo: init at 2.0.4
  pkgs/development/python-modules/somajo/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

cargo-asm: 0.1.17 -> 2019-12-24
  pkgs/development/tools/rust/cargo-asm/default.nix
Owners: none

snmp_exporter: 0.15.0 -> 0.17.0
  pkgs/servers/monitoring/prometheus/snmp-exporter.nix
Owners: none

python3Packages.threadpoolctl: init at 2.0.0
  pkgs/development/python-modules/threadpoolctl/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

python3Packages.batchgenerators: init at 0.19.7
  pkgs/development/python-modules/batchgenerators/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

sequoia: 0.14.0 -> 0.15.0
  pkgs/tools/security/sequoia/default.nix
Owners: none

dav1d: 0.5.2 -> 0.6.0
  pkgs/development/libraries/dav1d/default.nix
Owners: none

croc: 6.4.10 -> 8.0.2
  pkgs/tools/networking/croc/default.nix
Owners: none

libreswan: 3.30 -> 3.31
  pkgs/tools/networking/libreswan/default.nix
Owners: none

pulumi: use autoPatchelfHook
  pkgs/tools/admin/pulumi/default.nix
Owners: none

dav1d: 0.5.2 -> 0.6.0 (#81900)
  pkgs/development/libraries/dav1d/default.nix
Owners: none

libxmlb: 0.1.14 -> 0.1.15
  pkgs/development/libraries/libxmlb/default.nix
Owners: none
