Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

caffeine-ng: 3.5.1 -> 4.0.2
  pkgs/tools/X11/caffeine-ng/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

pulumictl: 0.0.30 -> 0.0.32
  pkgs/development/tools/pulumictl/default.nix
Owners: none

pure-maps: 3.0.0 -> 3.1.0
  pkgs/applications/misc/pure-maps/default.nix
Owners: none

python310Packages.json-schema-for-humans: update disabled
  pkgs/development/python-modules/json-schema-for-humans/default.nix
Owners: @FRidh, @jonringer

py-spy: 0.3.11 -> 0.3.12
  pkgs/development/tools/py-spy/default.nix
Owners: none

python310Packages.pyshp: disable on older Python releases
  pkgs/development/python-modules/pyshp/default.nix
Owners: @FRidh, @jonringer

manual: fix typos
  nixos/doc/manual/development/writing-nixos-tests.section.md
  nixos/doc/manual/from_md/development/writing-nixos-tests.section.xml
Owners: none

grafana: 9.0.4 -> 9.0.5
  pkgs/servers/monitoring/grafana/default.nix
Owners: none

python310Packages.detect-secrets: disable on older Python releases
  pkgs/development/python-modules/detect-secrets/default.nix
Owners: @FRidh, @jonringer

signal-desktop: 5.50.0 -> 5.52.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Owners: none

lilypond: 2.22.2 -> 2.23.11
  pkgs/misc/lilypond/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

gnumake: unconditionally disable guileSupport on bootstrap
  pkgs/development/tools/build-managers/gnumake/default.nix
  pkgs/stdenv/linux/default.nix
Owners: none

Update .git-blame-ignore-revs with typos-fix commit
  .git-blame-ignore-revs
Owners: none

python310Packages.pyshp: enable tests
  pkgs/development/python-modules/pyshp/default.nix
Owners: @FRidh, @jonringer

gnupg: remove ? null from inputs, remove with lib
  pkgs/tools/security/gnupg/23.nix
Owners: none

systemd: remove null overwrites for gnupg
  pkgs/top-level/all-packages.nix
Owners: none

squash! libadwaita: 1.1.3 → 1.2.alpha
  pkgs/development/libraries/libadwaita/default.nix
Owners: none

exploitdb: 2022-07-22 -> 2022-07-27
  pkgs/tools/security/exploitdb/default.nix
Owners: none

levant: 0.3.0 pin to go 1.17 The build with go 1.18 is broken on Darwin.
  pkgs/top-level/all-packages.nix
Owners: none

squash! squash! libadwaita: 1.1.3 → 1.2.alpha
  pkgs/development/libraries/libadwaita/default.nix
Owners: none

lib/systems/inspect.nix: add isAarch
  lib/systems/inspect.nix
Owners: @alyssais, @nbp, @ericson2314, @matthewbauer

exportarr: init at 1.1.0
  pkgs/servers/monitoring/exportarr/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

python3Packages.pygls: 0.11.3 -> 0.12
  pkgs/development/python-modules/pygls/default.nix
Owners: @FRidh, @jonringer

nixos/prometheus: Harden systemd service
  nixos/modules/services/monitoring/prometheus/default.nix
Owners: none

qdirstat: 1.8 -> 1.8.1
  pkgs/applications/misc/qdirstat/default.nix
Owners: none

qFlipper: 1.1.0 -> 1.1.1
  pkgs/tools/misc/qflipper/default.nix
Owners: none

qmplay2: 22.03.19 -> 22.06.16
  pkgs/applications/video/qmplay2/default.nix
Owners: none

qpdf: 10.6.2 -> 10.6.3
  pkgs/development/libraries/qpdf/default.nix
Owners: none

pass-secret-service: unstable-2022-03-21 -> unstable-2022-07-18
  pkgs/applications/misc/pass-secret-service/default.nix
  pkgs/applications/misc/pass-secret-service/int_from_bytes-deprecation-fix.patch
Owners: none

qrcodegen: 1.7.0 -> 1.8.0
  pkgs/development/libraries/qrcodegen/default.nix
Owners: none

qtads: 3.2.0 -> 3.3.0
  pkgs/games/qtads/default.nix
Owners: none

rsync: enable parallel building
  pkgs/applications/networking/sync/rsync/default.nix
Owners: none

Revert "rsync: Work around upstream cross-compilation issue"
  pkgs/applications/networking/sync/rsync/default.nix
Owners: none

python310Packages.types-setuptools: 63.2.1 -> 63.2.2
  pkgs/development/python-modules/types-setuptools/default.nix
Owners: @FRidh, @jonringer

railway: 1.8.3 -> 1.8.4
  pkgs/development/tools/railway/default.nix
Owners: none

randoop: 4.3.0 -> 4.3.1
  pkgs/development/tools/analysis/randoop/default.nix
Owners: none

python310Packages.pyotgw: 2.0.0 -> 2.0.1
  pkgs/development/python-modules/pyotgw/default.nix
Owners: @FRidh, @jonringer

rapidfuzz-cpp: 1.0.4 -> 1.1.0
  pkgs/development/libraries/rapidfuzz-cpp/default.nix
Owners: none

python310Packages.sentry-sdk: 1.8.0 -> 1.9.0
  pkgs/development/python-modules/sentry-sdk/default.nix
Owners: @FRidh, @jonringer

rauc: 1.6 -> 1.7
  pkgs/tools/misc/rauc/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones
