Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FRidh, @copumpkin, @LnL7

module sks-keyserver fix default hkpAddress value
  nixos/modules/services/security/sks.nix
Owners: none

strigi: Build on gcc 6
  pkgs/development/libraries/strigi/default.nix
  pkgs/development/libraries/strigi/gcc6.patch
Owners: none

prometheus-openvpn-exporter: init at 2017-05-15
  pkgs/servers/monitoring/prometheus/openvpn-exporter-deps.nix
  pkgs/servers/monitoring/prometheus/openvpn-exporter.nix
  pkgs/top-level/all-packages.nix
Owners: none

gnupg: 2.1.21 -> 2.1.22 https://lists.gnupg.org/pipermail/gnupg-announce/2017q3/000411.html
  pkgs/tools/security/gnupg/21.nix
Owners: none

fbida: fix build failure
  pkgs/applications/graphics/fbida/default.nix
Owners: none

module pgpkeyserver-lite: make hkpAddress a string type option
  nixos/modules/services/web-apps/pgpkeyserver-lite.nix
Owners: none

Removed networking.fqdn option
  nixos/modules/config/networking.nix
Owners: none

prometheus.nodeExporter module: init
  nixos/modules/module-list.nix
  nixos/modules/services/monitoring/prometheus/openvpn-exporter.nix
Owners: none

batman-adv: 2017.1 -> 2017.2
  pkgs/os-specific/linux/batman-adv/alfred.nix
  pkgs/os-specific/linux/batman-adv/batctl.nix
  pkgs/os-specific/linux/batman-adv/default.nix
Owners: none

cacert: fix unicode names in blacklist
  pkgs/data/misc/cacert/default.nix
Owners: none

cacert: fix unicode names in blacklist
  pkgs/data/misc/cacert/default.nix
Owners: none

youtubeDL: 2017.07.09 -> 2017.07.30.1
  pkgs/tools/misc/youtube-dl/default.nix
Owners: none

whois: 5.2.16 -> 5.2.17
  pkgs/tools/networking/whois/default.nix
Owners: none

dockerTools: fix permissions on base image
  pkgs/build-support/docker/default.nix
Owners: none

vm: Add trusty-updates to the packages list
  pkgs/build-support/vm/default.nix
Owners: none

caddy: 0.10.4 -> 0.10.6
  pkgs/servers/caddy/default.nix
Owners: none

radvd: 2.16 -> 2.17
  pkgs/tools/networking/radvd/default.nix
Owners: none

Python: disable user site-packages for programs and environments.
  pkgs/development/interpreters/python/wrap.sh
  pkgs/development/interpreters/python/wrapper.nix
Owners: @FRidh

ephemeralpg: Add meta
  pkgs/applications/misc/ephemeralpg/default.nix
Owners: none

dockerTools: fix permissions on base image
  pkgs/build-support/docker/default.nix
Owners: none

Removed networking.fqdn option
  nixos/modules/config/networking.nix
Owners: none

qdirstat: add script dependency
  pkgs/applications/misc/qdirstat/default.nix
Owners: none

electrum: 2.8.3 -> 2.9.0
  pkgs/applications/misc/electrum/default.nix
Owners: none

torbrowser: 7.0.2 -> 7.0.3
  pkgs/applications/networking/browsers/tor-browser-bundle-bin/default.nix
Owners: none

torbrowser: 7.0.2 -> 7.0.3
  pkgs/applications/networking/browsers/torbrowser/default.nix
Owners: none

electrum: 2.8.2 -> 2.8.3
  pkgs/applications/misc/electrum/default.nix
Owners: none

nixos/timezone: support imperative timezone configuration (#26608)
  nixos/modules/config/timezone.nix
  nixos/tests/timezone.nix
Owners: none

{radarr,sonarr}: add libcurl to library search path (#27628)
  pkgs/servers/radarr/default.nix
  pkgs/servers/sonarr/default.nix
Owners: none

nixos/timezone: Fix evaluation error
  nixos/modules/config/timezone.nix
Owners: none

libqalculate, qalculate-gtk: 0.9.9 -> 1.0.0
  pkgs/applications/science/math/qalculate-gtk/default.nix
  pkgs/development/libraries/libqalculate/default.nix
Owners: none

pythonPackages.daphne: 1.2.0 -> 1.3.0
  pkgs/development/python-modules/daphne/default.nix
Owners: none

nixos: Simplify writing of /etc/hosts
  nixos/modules/config/networking.nix
Owners: none

nixos: Use submodule for networking.hosts entries
  nixos/modules/config/networking.nix
Owners: none

pythonPackages.gst-python: Use correct package set
  pkgs/top-level/python-packages.nix
Owners: @FRidh

linux_rpi: 1.20170427 -> 1.20170515
  pkgs/os-specific/linux/kernel/linux-rpi.nix
Owners: none

raspberrypifw: 1.20170427 -> 1.20170515
  pkgs/os-specific/linux/firmware/raspberrypi/default.nix
Owners: none

Kdeconnect: Minor fixes and improvements
  nixos/modules/module-list.nix
  nixos/modules/programs/kdeconnect.nix
  pkgs/applications/misc/kdeconnect/default.nix
Owners: none

ocamlPackages.gen: 0.4 -> 0.4.0.1
  pkgs/development/ocaml-modules/gen/default.nix
Owners: none

ocamlPackages.containers: 1.2 -> 1.3
  pkgs/development/ocaml-modules/containers/default.nix
Owners: none

Revert "Fix Darwin stdenv to work on 10.13 (backport to 17.03)"
  pkgs/applications/editors/nano/default.nix
  pkgs/development/libraries/libunistring/default.nix
  pkgs/development/tools/misc/gnum4/default.nix
  pkgs/development/tools/parsing/bison/3.x.nix
  pkgs/os-specific/darwin/apple-source-releases/Libsystem/reexported_libraries
  pkgs/os-specific/darwin/apple-source-releases/Libsystem/system_kernel_symbols
  pkgs/stdenv/darwin/darwin-secure-format.patch
  pkgs/stdenv/darwin/default.nix
  pkgs/tools/compression/gzip/default.nix
  pkgs/tools/misc/coreutils/default.nix
Owners: @copumpkin, @LnL7

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# Python-related code and docs
pkgs/top-level/python-packages.nix	@FRidh
pkgs/development/interpreters/python/*	@FRidh
pkgs/development/python-modules/*	@FRidh
doc/languages-frameworks/python.md	@FRidh

# Darwin-related
pkgs/stdenv/darwin/*    @copumpkin @LnL7
pkgs/os-specific/darwin/*   @LnL7
pkgs/os-specific/darwin/apple-source-releases/* @copumpkin
