Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones

helmsman: 3.8.1 -> 3.13.0
  pkgs/applications/networking/cluster/helmsman/default.nix
Owners: none

highfive: 2.3.1 -> 2.4.1
  pkgs/development/libraries/highfive/default.nix
Owners: none

highfive-mpi: 2.3.1 -> 2.4.1
  pkgs/development/libraries/highfive/default.nix
Owners: none

hjson-go: 3.2.0 -> 4.0.0
  pkgs/development/tools/hjson-go/default.nix
Owners: none

htpdate: 1.3.3 -> 1.3.5
  pkgs/tools/networking/htpdate/default.nix
Owners: none

cachix: 0.8.0 -> 0.8.1
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @sternenseemann, @maralorn

humioctl: 0.28.11 -> 0.29.1
  pkgs/applications/logging/humioctl/default.nix
Owners: none

buildkite-agent: 3.37.0 -> 3.38.0 (#183264)
  pkgs/development/tools/continuous-integration/buildkite-agent/default.nix
Owners: none

hyper: 3.2.1 -> 3.2.3
  pkgs/applications/terminal-emulators/hyper/default.nix
Owners: none

gnome-commander: init at 1.14.3
  pkgs/applications/file-managers/gnome-commander/default.nix
  pkgs/applications/file-managers/gnome-commander/gsettings.patch
  pkgs/top-level/all-packages.nix
Owners: none

i2pd: 2.41.0 -> 2.42.1
  pkgs/tools/networking/i2pd/default.nix
Owners: none

nixpkgs/doc: remove unused `unfree.xml`
  doc/builders/packages/unfree.xml
  doc/using/configuration.chapter.md
Owners: @fricklerhandwerk

icingaweb2-thirdparty: 0.10.0 -> 0.11.0
  pkgs/servers/icingaweb2/thirdparty.nix
Owners: none

imgbrd-grabber: 7.7.1 -> 7.9.1
  pkgs/applications/graphics/imgbrd-grabber/default.nix
Owners: none

imgcrypt: 1.1.4 -> 1.1.6
  pkgs/applications/virtualization/imgcrypt/default.nix
Owners: none

nixos/gitlab-runner: undeprecate configFile option
  nixos/modules/services/continuous-integration/gitlab-runner.nix
Owners: none

nixos/gitlab-runner: add settings option
  nixos/modules/services/continuous-integration/gitlab-runner.nix
Owners: none

oh-my-zsh: 2022-07-12 -> 2022-07-26 (#183068)
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

linuxPackages.apfs: unstable-2022-02-03 -> unstable-2022-07-24
  pkgs/os-specific/linux/apfs/default.nix
Owners: none

haskell.compiler: ghc923 -> ghc924
  lib/options.nix
  nixos/doc/manual/development/option-declarations.section.md
  nixos/doc/manual/from_md/development/option-declarations.section.xml
  pkgs/development/compilers/ghc/9.2.4.nix
  pkgs/development/tools/haskell/haskell-language-server/withWrapper.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/haskell-packages.nix
  pkgs/top-level/release-haskell.nix
Owners: @edolstra, @nbp, @infinisil, @cdepillabout, @sternenseemann, @maralorn

fluxcd: 0.31.4 -> 0.31.5
  pkgs/applications/networking/cluster/fluxcd/default.nix
Owners: none

imgui: 1.87 -> 1.88
  pkgs/development/libraries/imgui/default.nix
Owners: none

indilib: 1.9.5 -> 1.9.6
  pkgs/development/libraries/science/astronomy/indilib/default.nix
Owners: none

infracost: 0.10.0 -> 0.10.8
  pkgs/tools/misc/infracost/default.nix
Owners: none

lib/systems/inspect.nix: add isAarch
  lib/systems/inspect.nix
Owners: @alyssais, @nbp, @ericson2314, @matthewbauer

inih: 53 -> 56
  pkgs/development/libraries/inih/default.nix
Owners: none

intel-cmt-cat: 4.3.0 -> 4.4.0
  pkgs/os-specific/linux/intel-cmt-cat/default.nix
Owners: none

python310Packages.urllib3: 1.26.10 -> 1.26.11
  pkgs/development/python-modules/urllib3/default.nix
Owners: @FRidh, @jonringer

interactsh: 1.0.2 -> 1.0.6
  pkgs/tools/misc/interactsh/default.nix
Owners: none

python310Packages.clvm-rs: fix build
  pkgs/development/python-modules/clvm-rs/default.nix
Owners: @FRidh, @jonringer

python3Packages.clvm-tools: 0.4.3 -> 0.4.4
  pkgs/development/python-modules/clvm-tools/default.nix
Owners: @FRidh, @jonringer

python3Packages.blspy: 1.0.9 -> 1.0.13
  pkgs/development/python-modules/blspy/default.nix
  pkgs/development/python-modules/blspy/dont_fetch_dependencies.patch
Owners: @FRidh, @jonringer

python3Packages.clvm-tools-rs: init at 0.1.19
  pkgs/development/python-modules/clvm-tools-rs/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

python3Packages.chia-rs: init at 0.1.5
  pkgs/development/python-modules/chia-rs/Cargo.lock
  pkgs/development/python-modules/chia-rs/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

chia: patch deadlock
  pkgs/applications/blockchains/chia/default.nix
  pkgs/applications/blockchains/chia/dont_lock_in_store.patch
Owners: @mmahut, @RaghavSood

chia: 1.3.1 -> 1.5.0
  pkgs/applications/blockchains/chia/default.nix
Owners: @mmahut, @RaghavSood

goreleaser: 1.10.2 -> 1.10.3
  pkgs/tools/misc/goreleaser/default.nix
Owners: none

iotop-c: 1.21 -> 1.22
  pkgs/os-specific/linux/iotop-c/default.nix
Owners: none

python310Packages.geventhttpclient: 1.5.5 -> 2.0
  pkgs/development/python-modules/geventhttpclient/default.nix
Owners: @FRidh, @jonringer

haskell.compiler: ghc923 -> ghc924
  lib/options.nix
  nixos/doc/manual/development/option-declarations.section.md
  nixos/doc/manual/from_md/development/option-declarations.section.xml
  pkgs/development/compilers/ghc/9.2.4.nix
  pkgs/development/tools/haskell/haskell-language-server/withWrapper.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/haskell-packages.nix
  pkgs/top-level/release-haskell.nix
Owners: @edolstra, @nbp, @infinisil, @cdepillabout, @sternenseemann, @maralorn
