Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

plex-media-player: 2.52.0.1051 -> 2.52.1.1054
  pkgs/applications/video/plex-media-player/default.nix
  pkgs/applications/video/plex-media-player/deps.nix
Owners: none

libevdev: 1.8.0 -> 1.9.0
  pkgs/development/libraries/libevdev/default.nix
Owners: none

standardnotes: 3.0.15 -> 3.3.3
  pkgs/applications/editors/standardnotes/default.nix
Owners: none

pythonPackages.python-mpv-jsonipc: 1.1.6 -> 1.1.7
  pkgs/development/python-modules/python-mpv-jsonipc/default.nix
Owners: @FRidh, @jonringer

pythonPackages.jellyfin-apiclient-python: init at 1.4.0
  pkgs/development/python-modules/jellyfin-apiclient-python/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

moarvm: 2020.02 -> 2020.02.1
  pkgs/development/interpreters/rakudo/moarvm.nix
Owners: none

signal-desktop: 1.31.0 -> 1.32.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Owners: none

standardnotes: refactoring to use appimageTools instead of appimage-run
  pkgs/applications/editors/standardnotes/default.nix
Owners: none

signal-desktop: 1.30.1 -> 1.31.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Owners: none

signal-desktop: 1.31.0 -> 1.32.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Owners: none

signal-desktop: 1.31.0 -> 1.32.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Owners: none

nixos/activation: use eval-config's system argument for nesting
  nixos/lib/eval-config.nix
  nixos/modules/misc/nixpkgs.nix
  nixos/modules/system/activation/top-level.nix
Owners: @nbp, @infinisil

mercury: 14.01.1 -> 20.01.1
  pkgs/development/compilers/mercury/default.nix
Owners: none

rakudo: 2020.02 -> 2020.02.1
  pkgs/development/interpreters/rakudo/default.nix
  pkgs/development/interpreters/rakudo/moarvm.nix
  pkgs/development/interpreters/rakudo/nqp.nix
Owners: none

jenkins: 2.204.3 -> 2.204.4
  pkgs/development/tools/continuous-integration/jenkins/default.nix
Owners: none

vivaldi: 2.11.1811.44-1 -> 2.11.1811.47-1
  pkgs/applications/networking/browsers/vivaldi/default.nix
Owners: none

oh-my-zsh: 2020-03-03 -> 2020-03-05
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

nixos/release-notes: fix a tiny typo
  nixos/doc/manual/release-notes/rl-2003.xml
Owners: none

nixos/release-notes: fix a tiny typo
  nixos/doc/manual/release-notes/rl-2003.xml
Owners: none

stack: Get building with old version of pantry
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @cdepillabout, @infinisil

pwsafe -> 1.9.0
  pkgs/applications/misc/pwsafe/default.nix
Owners: none

palemoon: 28.8.2.1 -> 28.8.4
  pkgs/applications/networking/browsers/palemoon/default.nix
Owners: none

openiscsi: 2.1.0 -> 2.1.1
  pkgs/os-specific/linux/open-iscsi/default.nix
Owners: none

wayvnc: 0.1.0 -> 0.1.1
  pkgs/applications/networking/remote/wayvnc/default.nix
Owners: none

displayManager: make autoLogin option independend on DM type
  nixos/modules/installer/cd-dvd/installation-cd-graphical-gnome.nix
  nixos/modules/installer/cd-dvd/installation-cd-graphical-plasma5.nix
  nixos/modules/profiles/demo.nix
  nixos/modules/rename.nix
  nixos/modules/services/x11/display-managers/default.nix
  nixos/modules/services/x11/display-managers/gdm.nix
  nixos/modules/services/x11/display-managers/lightdm.nix
  nixos/modules/services/x11/display-managers/sddm.nix
  nixos/tests/common/auto.nix
  nixos/tests/gnome3-xorg.nix
  nixos/tests/gnome3.nix
  nixos/tests/plasma5.nix
  nixos/tests/sddm.nix
  nixos/tests/xfce.nix
Owners: none

nix-bash-completions: 0.6.7 -> 0.6.8 (#81019)
  pkgs/shells/bash/nix-bash-completions/default.nix
Owners: none

nix-bash-completions: 0.6.7 -> 0.6.8 (#81019)
  pkgs/shells/bash/nix-bash-completions/default.nix
Owners: none

test-support.displayManager.auto: resort to default DM, even if it is not lightdm
  nixos/tests/common/auto.nix
Owners: none

aws-sam-cli: fix incorrect dependency version of tomlkit
  pkgs/development/tools/aws-sam-cli/default.nix
Owners: none

ntp: 4.2.8p13 -> 4.2.8p14
  pkgs/tools/networking/ntp/default.nix
Owners: @thoughtpolice

docker: 19.03.6 -> 19.03.7
  pkgs/applications/virtualization/docker/default.nix
Owners: none

gitlab: 12.8.1 -> 12.8.2 (#81803)
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
Owners: none

gitlab: 12.7.6 -> 12.8.1
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv/gemset.nix
  pkgs/applications/version-management/gitlab/yarnPkgs.nix
Owners: none

gitaly: 1.83.0 -> 12.8.1
  pkgs/applications/version-management/gitlab/gitaly/Gemfile
  pkgs/applications/version-management/gitlab/gitaly/Gemfile.lock
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
  pkgs/applications/version-management/gitlab/gitaly/gemset.nix
Owners: none

gitlab-workhorse: 8.20.0 -> 8.21.0
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
Owners: none

gitlab-shell: Change name from gitlab-shell-go to gitlab-shell
  pkgs/applications/version-management/gitlab/gitlab-shell/default.nix
Owners: none

bundlerEnv: Add option to copy gem files instead of symlinking
  pkgs/development/ruby-modules/bundled-common/default.nix
  pkgs/development/ruby-modules/bundler-env/default.nix
Owners: @alyssais, @zimbatm

gitaly: Copy gem files into bundler env instead of symlinking
  pkgs/applications/version-management/gitlab/gitaly/default.nix
Owners: none

gitlab: 12.8.1 -> 12.8.2 (#81803)
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
Owners: none

gitlab: 12.8.1 -> 12.8.2 (#81803)
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu
