Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @FRidh, @peti, @copumpkin, @LnL7, @gleber, @edwtjo

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
.github/CODEOWNERS @edolstra

# Boostraping and core infra
pkgs/stdenv/    @edolstra
pkgs/build-support/cc-wrapper/  @edolstra

# Libraries
lib/  @edolstra

# Python-related code and docs
pkgs/top-level/python-packages.nix      @FRidh
pkgs/development/interpreters/python/*  @FRidh
pkgs/development/python-modules/*       @FRidh
doc/languages-frameworks/python.md      @FRidh

# Haskell
pkgs/development/compilers/ghc                       @peti
pkgs/development/haskell-modules                     @peti
pkgs/development/haskell-modules/default.nix         @peti
pkgs/development/haskell-modules/generic-builder.nix @peti
pkgs/development/haskell-modules/hoogle.nix          @peti

# R
pkgs/applications/science/math/R @peti
pkgs/development/r-modules       @peti

# Darwin-related
pkgs/stdenv/darwin/*    @copumpkin @LnL7
pkgs/os-specific/darwin/*       @LnL7
pkgs/os-specific/darwin/apple-source-releases/* @copumpkin

# Beam-related (Erlang, Elixir, LFE, etc)
pkgs/development/beam-modules/*	@gleber
pkgs/development/interpreters/erlang/*	@gleber
pkgs/development/interpreters/lfe/*	@gleber
pkgs/development/interpreters/elixir/*	@gleber
pkgs/development/tools/build-managers/rebar/*	@gleber
pkgs/development/tools/build-managers/rebar3/*	@gleber
pkgs/development/tools/erlang/*	@gleber

# Jetbrains
pkgs/applications/editors/jetbrains @edwtjo

sysdig: remove broken patchelf call
  pkgs/os-specific/linux/sysdig/default.nix
Owners: none

nixos/bcc: init module
  nixos/modules/module-list.nix
  nixos/modules/programs/bcc.nix
Owners: none

nixos/sysdig: init module
  nixos/modules/module-list.nix
  nixos/modules/programs/sysdig.nix
Owners: none

peco: 0.2.10 -> 0.5.1
  pkgs/tools/text/peco/default.nix
Owners: none

assertion should check for encrypted.label of the defined fileSystem
  nixos/modules/tasks/encrypted-devices.nix
Owners: none

assertion should check for encrypted.label of the defined fileSystem
  nixos/modules/tasks/encrypted-devices.nix
Owners: none

arguments: init at 2015-11-30
  pkgs/development/libraries/arguments/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

oobicpl: init at 2016-03-02
  pkgs/development/libraries/science/biology/oobicpl/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

ghc: Add enableBootLibPIC option.
  pkgs/development/compilers/ghc/6.10.4.nix
  pkgs/development/compilers/ghc/6.12.3.nix
  pkgs/development/compilers/ghc/7.0.4.nix
  pkgs/development/compilers/ghc/7.10.2.nix
  pkgs/development/compilers/ghc/7.10.3.nix
  pkgs/development/compilers/ghc/7.2.2.nix
  pkgs/development/compilers/ghc/7.4.2.nix
  pkgs/development/compilers/ghc/7.6.3.nix
  pkgs/development/compilers/ghc/7.8.3.nix
  pkgs/development/compilers/ghc/7.8.4.nix
  pkgs/development/compilers/ghc/8.0.2.nix
  pkgs/development/compilers/ghc/8.2.1.nix
  pkgs/development/compilers/ghc/head.nix
Owners: @peti

peco: 0.2.10 -> 0.5.1:
  pkgs/tools/text/peco/default.nix
  pkgs/tools/text/peco/deps.nix
Owners: none

pysmbc: init at 1.0.15.8
  pkgs/development/python-modules/pysmbc/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

system-config-printer: add (optional) dependency pysmbc
  pkgs/tools/misc/system-config-printer/default.nix
Owners: none

consul: 0.7.5 -> 0.9.3
  pkgs/servers/consul/default.nix
Owners: none

kafkacat: init at 1.3.1
  pkgs/development/tools/kafkacat/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

base16-builder: init
  pkgs/misc/base16-builder/default.nix
  pkgs/misc/base16-builder/node-packages-generated.nix
  pkgs/misc/base16-builder/node-packages.json
  pkgs/misc/base16-builder/node-packages.nix
  pkgs/misc/base16/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

base16-builder: init
  pkgs/misc/base16-builder/default.nix
  pkgs/misc/base16-builder/node-packages-generated.nix
  pkgs/misc/base16-builder/node-packages.json
  pkgs/misc/base16-builder/node-packages.nix
  pkgs/misc/base16/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

bcc: fix relocation bug downgrading to llvm 3.9
  pkgs/os-specific/linux/bcc/default.nix
Owners: none

bcc: fix relocation bug downgrading to llvm 3.9
  pkgs/os-specific/linux/bcc/default.nix
Owners: none

chromium: disable patch chromium-gn-bootstrap-r14 for version 62
  pkgs/applications/networking/browsers/chromium/common.nix
Owners: none

ipfs-migrator: init
  pkgs/applications/networking/ipfs-migrator/default.nix
  pkgs/applications/networking/ipfs-migrator/deps.nix
  pkgs/applications/networking/ipfs-migrator/lru-repo-path-fix.patch
  pkgs/top-level/all-packages.nix
Owners: none

ipfs: disable autoMigrate option for now
  nixos/modules/services/network-filesystems/ipfs.nix
Owners: none

falkon: init at 2.1.2.1
  pkgs/applications/networking/browsers/falkon/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

nerdfonts: derivations is not fixed output
  pkgs/data/fonts/nerdfonts/default.nix
Owners: none

kgraphviewer: 2.2.0 -> 2.4.2
  pkgs/applications/graphics/kgraphviewer/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

LTS Haskell 9.6
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @peti

git-annex: update to version 6.20170925
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

haskell-stack: jailbreak build to support hpack 0.19
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

haskell-hspec-core: disable test suite until transient failures are fixed
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

lshw: fix built-in version info
  pkgs/tools/system/lshw/default.nix
Owners: none

lshw: fix built-in version info
  pkgs/tools/system/lshw/default.nix
Owners: none

lshw: fix built-in version info
  pkgs/tools/system/lshw/default.nix
Owners: none

giac, xcas: init at 1.4.9
  pkgs/applications/science/math/giac/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

aseprite: 1.2-beta12 -> 1.2.2
  pkgs/applications/editors/aseprite/default.nix
Owners: none

glusterfs: 3.10.2 -> 3.12.1
  pkgs/tools/filesystems/glusterfs/default.nix
  pkgs/tools/filesystems/glusterfs/glusterfs-fix-bug-1489610-glusterfind-var-data-under-prefix.patch
  pkgs/tools/filesystems/glusterfs/glusterfs-fix-unsubstituted-autoconf-macros.patch
  pkgs/tools/filesystems/glusterfs/glusterfs-use-PATH-instead-of-hardcodes.patch
Owners: none

global: a naoive complete evaluation will fail, make it fail faster
  pkgs/top-level/all-packages.nix
Owners: none

glusterfs service: Add settings to disable rpcbind and the events daemon.
  nixos/modules/services/network-filesystems/glusterfs.nix
Owners: none

glusterfs service: Don't make it a prerequisite of network-online.target.
  nixos/modules/services/network-filesystems/glusterfs.nix
Owners: none

lua-iconv: init at 7
  pkgs/top-level/lua-packages.nix
Owners: none

linux-copperhead: 4.13.3.a -> 4.13.4.a
  pkgs/os-specific/linux/kernel/linux-hardened-copperhead.nix
Owners: none

linux-copperhead: 4.13.3.a -> 4.13.4.a
  pkgs/os-specific/linux/kernel/linux-hardened-copperhead.nix
Owners: none
