Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

libnet: add 1.1.6.
  pkgs/development/libraries/libnet/1.1.nix
  pkgs/top-level/all-packages.nix
Owners: none

libprelude: init at 4.1.0
  pkgs/development/libraries/libprelude/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

suricata: init at 4.0.3
  pkgs/applications/networking/ids/suricata/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

dcm2niix: init at 1.0.20170130
  lib/maintainers.nix
  pkgs/applications/science/biology/dcm2niix/default.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

libnet: fix packaging.
  pkgs/development/libraries/libnet/1.1.nix
Owners: none

dcm2niix: cmake is native, style
  pkgs/applications/science/biology/dcm2niix/default.nix
Owners: none

ponyc: 0.21.2 -> 0.21.3
  pkgs/development/compilers/ponyc/default.nix
Owners: none

bitscope: create derivations with version info
  pkgs/applications/science/electronics/bitscope/common.nix
Owners: none

openvpn: add option to store credentials
  nixos/modules/services/networking/openvpn.nix
Owners: none

wildmidi: 0.3.9 -> 0.4.2
  pkgs/development/libraries/wildmidi/default.nix
Owners: none

mrtrix3: init at 0.3.16
  lib/maintainers.nix
  pkgs/applications/science/biology/mrtrix/default.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

mrtrix3: platforms to all
  pkgs/applications/science/biology/mrtrix/default.nix
Owners: none

libvncserver: reduce dependencies; only use systemd on linux
  pkgs/development/libraries/libvncserver/default.nix
Owners: none

solc: 0.4.17 -> 0.4.19
  pkgs/development/compilers/solc/default.nix
Owners: none

apache-directory-studio: add missing desktop item
  pkgs/applications/networking/apache-directory-studio/default.nix
Owners: none

linux_testing: 4.15-rc7 -> 4.15-rc8
  pkgs/os-specific/linux/kernel/linux-testing.nix
Owners: none

tokei: 6.1.2 -> 7.0.0
  pkgs/development/tools/misc/tokei/default.nix
Owners: none

Revert "aws_shell: move to pythonPackages"
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

Revert "awscli: move to pythonPackages"
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

ispc: 20170807 -> 1.9.2
  pkgs/development/compilers/ispc/default.nix
Owners: none

portaudio: add old 2014 version
  pkgs/top-level/all-packages.nix
Owners: none

lightworks: use portaudio 2014
  pkgs/top-level/all-packages.nix
Owners: none

nixos/nginx: allow using existing ACME certificate
  nixos/modules/services/web-servers/nginx/default.nix
  nixos/modules/services/web-servers/nginx/vhost-options.nix
Owners: none

yajl: small clean up
  pkgs/development/libraries/yajl/default.nix
Owners: none

apache-directory-studio: use install command to copy icons
  pkgs/applications/networking/apache-directory-studio/default.nix
Owners: none

apache-directory-studio: add missing desktop item (#33893)
  pkgs/applications/networking/apache-directory-studio/default.nix
Owners: none

rstudio: 1.1.383 -> 1.1.414
  pkgs/applications/editors/rstudio/default.nix
Owners: none

Add bettercap package
  lib/maintainers.nix
  pkgs/tools/security/bettercap/Gemfile
  pkgs/tools/security/bettercap/Gemfile.lock
  pkgs/tools/security/bettercap/default.nix
  pkgs/tools/security/bettercap/gemset.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

Fix license
  pkgs/tools/security/bettercap/default.nix
Owners: none

sudo: define extra rules in Nix language
  nixos/modules/security/sudo.nix
Owners: none

miniupnpd: 2.0 -> 2.0.20171212 (fixes CVE-2017-1000494)
  pkgs/tools/networking/miniupnpd/default.nix
Owners: none

miniupnpc_2: 2.0.20170509 -> 2.0.20171212
  pkgs/tools/networking/miniupnpc/default.nix
Owners: none

kernel: Enable cross compiling
  pkgs/os-specific/linux/kernel/common-config.nix
  pkgs/os-specific/linux/kernel/generic.nix
  pkgs/os-specific/linux/kernel/linux-4.13.nix
  pkgs/os-specific/linux/kernel/linux-4.14.nix
  pkgs/os-specific/linux/kernel/linux-4.4.nix
  pkgs/os-specific/linux/kernel/linux-4.9.nix
  pkgs/os-specific/linux/kernel/linux-beagleboard.nix
  pkgs/os-specific/linux/kernel/linux-hardened-copperhead.nix
  pkgs/os-specific/linux/kernel/linux-mptcp.nix
  pkgs/os-specific/linux/kernel/linux-rpi.nix
  pkgs/os-specific/linux/kernel/linux-samus-4.12.nix
  pkgs/os-specific/linux/kernel/linux-testing-bcachefs.nix
  pkgs/os-specific/linux/kernel/linux-testing.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
  pkgs/os-specific/linux/kernel/perf.nix
Owners: none

kernel: Use build kmod
  pkgs/os-specific/linux/kernel/manual-config.nix
Owners: none

kernel: Fix cross-compilation
  pkgs/os-specific/linux/kernel/manual-config.nix
Owners: none

vscode: 1.19.1 -> 1.19.2
  pkgs/applications/editors/vscode/default.nix
Owners: none

vscode: 1.19.1 -> 1.19.2
  pkgs/applications/editors/vscode/default.nix
Owners: none

kernel: don't force ignoreConfigErrors when cross compiling, only set the default
  pkgs/os-specific/linux/kernel/generic.nix
Owners: none

evdi: Update to unstable
  pkgs/os-specific/linux/evdi/default.nix
Owners: none

kernel: remove leftover remnants of old cross compiling system
  pkgs/os-specific/linux/kernel/generic.nix
Owners: none
