Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

cutelyst: 2.14.2 -> 3.5.0
  pkgs/development/libraries/cutelyst/default.nix
Owners: none

cudatext: 1.167.5 -> 1.168.0
  pkgs/applications/editors/cudatext/default.nix
  pkgs/applications/editors/cudatext/deps.json
Owners: none

tidy-viewer: 1.4.3 -> 1.4.6
  pkgs/tools/text/tidy-viewer/default.nix
Owners: none

taplo: rename from taplo-{cli,lsp}, 0.6.2 -> 0.6.9
  pkgs/development/tools/taplo/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Owners: none

eksctl: 0.106.0 -> 0.107.0
  pkgs/tools/admin/eksctl/default.nix
Owners: none

emuflight-configurator: 0.4.0 -> 0.4.1
  pkgs/applications/science/robotics/emuflight-configurator/default.nix
Owners: none

verco: 6.8.0 -> 6.12.0
  pkgs/applications/version-management/verco/default.nix
Owners: none

erlfmt: 1.0.0 -> 1.1.0
  pkgs/development/beam-modules/erlfmt/default.nix
Owners: none

nixos/networkd: Fix example for dhcpServerStaticLeaseOptions option
  nixos/modules/system/boot/networkd.nix
Owners: @dasJ

nixos/networkd: Fix example for ipv6Prefixes option
  nixos/modules/system/boot/networkd.nix
Owners: @dasJ

flyctl: 0.0.362 -> 0.0.363
  pkgs/development/web/flyctl/default.nix
Owners: none

git-delete-merged-branches: 6.4.0 -> 7.0.0
  pkgs/applications/version-management/git-and-tools/git-delete-merged-branches/default.nix
Owners: none

godns: 2.8.5 -> 2.8.6
  pkgs/tools/networking/godns/default.nix
Owners: none

grpc-gateway: 2.11.0 -> 2.11.1
  pkgs/development/tools/grpc-gateway/default.nix
Owners: none

endeavour: rename from gnome.gnome-todo
  pkgs/applications/misc/endeavour/default.nix
  pkgs/desktops/gnome/default.nix
  pkgs/top-level/all-packages.nix
Owners: @jtojnar

phosh: 0.17.0 -> 0.20.0_beta2
  pkgs/applications/window-managers/phosh/default.nix
Owners: none

fishfight: 0.3 -> 0.4.2
  pkgs/games/fishfight/default.nix
  pkgs/games/fishfight/use-system-sdl2.patch
  pkgs/top-level/all-packages.nix
Owners: none

argocd: 2.4.4 -> 2.4.8
  pkgs/applications/networking/cluster/argocd/default.nix
Owners: none

tezos-base58: init at 1.0.0
  maintainers/maintainer-list.nix
  pkgs/development/ocaml-modules/tezos-base58/default.nix
Owners: none

ligo: Mark as broken Requires ctypes_stubs_js which is not yet packaged
  pkgs/development/compilers/ligo/default.nix
Owners: none

ocamlPackages.dns: 6.1.4 -> 6.2.2
  pkgs/development/ocaml-modules/dns/bos.nix
  pkgs/development/ocaml-modules/dns/certify.nix
  pkgs/development/ocaml-modules/dns/cli.nix
  pkgs/development/ocaml-modules/dns/client.nix
  pkgs/development/ocaml-modules/dns/default.nix
  pkgs/development/ocaml-modules/dns/fmt.nix
  pkgs/development/ocaml-modules/dns/logs.nix
  pkgs/development/ocaml-modules/dns/resolver.nix
  pkgs/development/ocaml-modules/dns/sec.nix
  pkgs/development/ocaml-modules/dns/stub.nix
  pkgs/development/ocaml-modules/emile/default.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

mdbook-mermaid: 0.11.1 -> 0.11.2
  pkgs/tools/text/mdbook-mermaid/default.nix
Owners: none

ocamlPackages.alcotest: 1.5.0 -> 1.6.0
  pkgs/development/ocaml-modules/alcotest/default.nix
  pkgs/development/ocaml-modules/alcotest/lwt.nix
Owners: none

txtpbfmt: drop redundant override
  pkgs/top-level/all-packages.nix
Owners: none

ocamlPackages.awa: 0.1.0 -> 0.1.1
  pkgs/development/ocaml-modules/awa/default.nix
Owners: none

ocamlPackages.bap: 2.4.0 -> 2.5.0
  pkgs/development/ocaml-modules/bap/default.nix
Owners: none

ocamlPackages.bigstringaf: 0.7.0 -> 0.9.0
  pkgs/development/ocaml-modules/bigstringaf/default.nix
Owners: none

ocamlPackages.bisect_ppx: update cmdliner
  pkgs/development/ocaml-modules/bisect_ppx/default.nix
Owners: none

ocamlPackages.ca-certs-nss: 3.74 -> 3.80
  pkgs/development/ocaml-modules/ca-certs-nss/default.nix
Owners: none

ocamlPackages.caqti: update cmdliner
  pkgs/development/ocaml-modules/caqti/default.nix
Owners: none

ocamlPackages.carton: 0.4.3 -> 0.4.4
  pkgs/development/ocaml-modules/carton/default.nix
Owners: none

ocamlPackages.checkseum: 0.3.2 -> 0.3.4
  pkgs/development/ocaml-modules/checkseum/default.nix
Owners: none

ocamlPackages.cohttp-lwt-unix: update cmdliner Also removed uneccassary path in cohttp-async
  pkgs/development/ocaml-modules/cohttp/async.nix
  pkgs/development/ocaml-modules/cohttp/lwt-unix.nix
Owners: none

txtpbfmt: drop redundant override
  pkgs/top-level/all-packages.nix
Owners: none

go, buildGo{Module,Package}: put top-level attributes together
  pkgs/top-level/all-packages.nix
Owners: none

sfz: init at 0.7.0
  pkgs/tools/misc/sfz/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

open-policy-agent: 0.42.0 -> 0.43.0
  pkgs/development/tools/open-policy-agent/default.nix
Owners: none

overmind: 2.2.2 -> 2.3.0
  pkgs/applications/misc/overmind/default.nix
Owners: none

pacemaker: 2.1.2 -> 2.1.4
  pkgs/misc/logging/pacemaker/default.nix
Owners: none

rednotebook: 2.24 -> 2.25
  pkgs/applications/editors/rednotebook/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones
