Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

batman-adv: add missing nativeBuildInputs
  pkgs/os-specific/linux/batman-adv/default.nix
Owners: none

batman-adv: 2017.3 -> 2017.4
  pkgs/os-specific/linux/batman-adv/alfred.nix
  pkgs/os-specific/linux/batman-adv/batctl.nix
  pkgs/os-specific/linux/batman-adv/default.nix
Owners: none

linuxPackages.exfat-nofuse: fix libelf dependency
  pkgs/os-specific/linux/exfat/default.nix
Owners: none

batman-adv: add missing nativeBuildInputs
  pkgs/os-specific/linux/batman-adv/default.nix
Owners: none

batman-adv: 2017.3 -> 2017.4
  pkgs/os-specific/linux/batman-adv/alfred.nix
  pkgs/os-specific/linux/batman-adv/batctl.nix
  pkgs/os-specific/linux/batman-adv/default.nix
Owners: none

pythonPackages.progressbar2: Get tests running.
  pkgs/development/python-modules/progressbar2/default.nix
Owners: @FRidh

redshift: add myself to maintainers
  pkgs/applications/misc/redshift/default.nix
Owners: none

gateone: fix url
  pkgs/top-level/python-packages.nix
Owners: @FRidh

wp-cli: use as much memory as possible
  pkgs/development/tools/wp-cli/default.nix
Owners: none

mencal: init at 3.0
  lib/maintainers.nix
  pkgs/applications/misc/mencal/default.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

salt: Prefer to load Nix libcrypto
  pkgs/tools/admin/salt/fix-libcrypto-loading.patch
Owners: none

python2.7: Return full path from find_library
  pkgs/development/interpreters/python/cpython/2.7/2.7.14-return-full-path-from-find_library.patch
  pkgs/development/interpreters/python/cpython/2.7/default.nix
Owners: @FRidh

kubernetes-dashboard (module): 1.6.3 -> 1.8.2
  nixos/modules/services/cluster/kubernetes/dashboard.nix
Owners: none

elk: 5.6.5 -> 5.6.6
  pkgs/development/tools/misc/kibana/5.x.nix
  pkgs/misc/logging/beats/5.x.nix
  pkgs/servers/search/elasticsearch/5.x.nix
  pkgs/tools/misc/logstash/5.x.nix
  pkgs/top-level/all-packages.nix
Owners: none

muchsync: add homepage
  pkgs/applications/networking/mailreaders/notmuch/muchsync.nix
Owners: none

oraclejdk: 8u151, 8u152, 9.0.1 -> 8u161, 8u162, 9.0.4
  pkgs/development/compilers/oraclejdk/jdk8cpu-linux.nix
  pkgs/development/compilers/oraclejdk/jdk8psu-linux.nix
  pkgs/development/compilers/oraclejdk/jdk9-linux.nix
Owners: none

kmod: 24 -> 25
  pkgs/os-specific/linux/kmod/default.nix
Owners: none

utillinux: 2.31 -> 2.31.1
  pkgs/os-specific/linux/util-linux/default.nix
Owners: none

audit: 2.8.1 -> 2.8.2
  pkgs/os-specific/linux/audit/default.nix
Owners: none

pythonPackages.pytestrunner: 2.6.2 -> 3.0
  pkgs/development/python-modules/progressbar2/default.nix
  pkgs/development/python-modules/pytestrunner/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

sudo: fix bug when no command is provided
  nixos/modules/security/sudo.nix
Owners: none

sudo: add more advanced tests
  nixos/release.nix
  nixos/tests/misc.nix
  nixos/tests/sudo.nix
Owners: none

elk: 5.6.5 -> 5.6.6
  pkgs/development/tools/misc/kibana/5.x.nix
  pkgs/misc/logging/beats/5.x.nix
  pkgs/servers/search/elasticsearch/5.x.nix
  pkgs/tools/misc/logstash/5.x.nix
  pkgs/top-level/all-packages.nix
Owners: none

firefox: fix clang dependency
  pkgs/applications/networking/browsers/firefox/common.nix
Owners: none

firefox: use libclang
  pkgs/applications/networking/browsers/firefox/common.nix
Owners: none

irony-server: use libclang
  pkgs/development/tools/irony-server/default.nix
Owners: none

ycmd: use libclang
  pkgs/development/tools/misc/ycmd/default.nix
Owners: none

mily: use libclang
  pkgs/applications/misc/milu/default.nix
Owners: none

linux: 4.4.111 -> 4.4.112
  pkgs/os-specific/linux/kernel/linux-4.4.nix
Owners: none

linux: 4.14.13 -> 4.14.14
  pkgs/os-specific/linux/kernel/linux-4.14.nix
Owners: none

linux: 4.9.76 -> 4.9.77
  pkgs/os-specific/linux/kernel/linux-4.9.nix
Owners: none

linux: 4.14.13 -> 4.14.14
  pkgs/os-specific/linux/kernel/linux-4.14.nix
Owners: none

linux: 4.9.76 -> 4.9.77
  pkgs/os-specific/linux/kernel/linux-4.9.nix
Owners: none

linux: 4.4.111 -> 4.4.112
  pkgs/os-specific/linux/kernel/linux-4.4.nix
Owners: none

woof: init at 2012-05-31
  lib/maintainers.nix
  pkgs/tools/misc/woof/default.nix
  pkgs/top-level/all-packages.nix
Owners: @ghost

physfs: 2.0.3 -> 3.0.1
  pkgs/development/libraries/physfs/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

asc: compile against older physfs
  pkgs/top-level/all-packages.nix
Owners: none

lincity_ng: cleanups and compile against older physfs
  pkgs/games/lincity/ng.nix
  pkgs/top-level/all-packages.nix
Owners: none

oraclejre: 9.0.1 -> 9.0.4
  pkgs/development/compilers/oraclejdk/jdk9-linux.nix
Owners: none

mbuffer: 20170806 -> 20171011
  pkgs/tools/misc/mbuffer/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel
