Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

nixos/prometheus: get rid of empty arguments
  nixos/modules/services/monitoring/prometheus/default.nix
Owners: @Infinisil

nixos/prometheus: use ExecStart instead of a shell script
  nixos/modules/services/monitoring/prometheus/default.nix
Owners: @Infinisil

shabnam-fonts: init at v4.0.0 (#58446)
  pkgs/data/fonts/shabnam-fonts/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

mu: 1.0 -> 1.2
  pkgs/tools/networking/mu/default.nix
  pkgs/tools/networking/mu/failing_tests.patch
Owners: none

v4l-utils: 1.16.2 -> 1.16.5
  pkgs/os-specific/linux/v4l-utils/default.nix
Owners: none

nixos/tests: register the prometheus2 test
  nixos/tests/all-tests.nix
Owners: none

ir-standard-fonts: init at unstable-2017-01-21 (#57943)
  pkgs/data/fonts/ir-standard-fonts/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

home-assistant: 0.91.1 -> 0.91.2
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
Owners: none

pythonPackages.ipdb: 0.8.1 -> 0.12
  pkgs/development/python-modules/ipdb/default.nix
Owners: @FRidh

nixos/nginx: fix error in writeNginxConfig
  nixos/tests/nginx.nix
  pkgs/build-support/writers/default.nix
Owners: none

hdf5: 1.10.4 -> 1.10.5
  pkgs/tools/misc/hdf5/0001-Updated-H5S-to-use-the-MPI-2-function-MPI_Type_get_e.patch
  pkgs/tools/misc/hdf5/0001-Yanked-all-MPI-1-calls.patch
  pkgs/tools/misc/hdf5/default.nix
Owners: none

lib.cleanSourceFilter: Filter all .git, not just directories
  lib/sources.nix
Owners: @edolstra, @nbp

mutt: 1.11.3 -> 1.11.4
  pkgs/applications/networking/mailreaders/mutt/default.nix
Owners: none

mutt: 1.11.2 -> 1.11.3
  pkgs/applications/networking/mailreaders/mutt/default.nix
Owners: none

prometheus: rename the generic function to buildPrometheus
  pkgs/servers/monitoring/prometheus/default.nix
Owners: none

python.pkgs.user-agents: 1.1.0 -> 2.0
  pkgs/development/python-modules/user-agents/default.nix
Owners: @FRidh

pythonPackages.h5py: add patch to fix broken test
  pkgs/development/python-modules/h5py/default.nix
Owners: @FRidh

home-assistant: pin user-agents to 1.1.0
  pkgs/servers/home-assistant/default.nix
Owners: none

grafana: 6.1.1 -> 6.1.2
  pkgs/servers/monitoring/grafana/default.nix
Owners: none

folly: 2019.01.28.00 -> 2019.03.18.00 (#58673)
  pkgs/development/libraries/folly/default.nix
Owners: none

prometheus_2: 2.6.0 -> 2.8.1
  pkgs/servers/monitoring/prometheus/default.nix
Owners: none

doc/python: cleanup examples, references
  doc/languages-frameworks/python.section.md
Owners: @FRidh

nixos/prometheus: fix indentation and unnecessary parenthesis
  nixos/modules/services/monitoring/prometheus/default.nix
Owners: @Infinisil

pulumi: fix darwin src hash
  pkgs/tools/admin/pulumi/default.nix
Owners: none

nixos/doc: added the Prometheus changes to the 19.09 release notes
  nixos/doc/manual/release-notes/rl-1909.xml
Owners: none

purescript: upgrade to 0.12.4 (#59147)
  pkgs/development/compilers/purescript/purescript/default.nix
Owners: none

sysstat: 12.1.2 -> 12.1.3 (#58894)
  pkgs/os-specific/linux/sysstat/default.nix
Owners: none

spice-protocol: 0.12.14 -> 0.12.15 (#58889)
  pkgs/development/libraries/spice-protocol/default.nix
Owners: none

pythonPackages.ipdb: 0.8.1 -> 0.12 (#58965)
  pkgs/development/python-modules/ipdb/default.nix
Owners: @FRidh

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch
