Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

debian-patches.sh: patch-tracker is long-since dead, fix to use sources?
  maintainers/scripts/debian-patches.sh
Owners: none

gamin: fix debian-patches to use live URL
  pkgs/development/libraries/gamin/debian-patches.nix
  pkgs/development/libraries/gamin/debian-patches.txt
Owners: none

Elixir: 1.6-rc -> 1.6
  pkgs/development/beam-modules/default.nix
  pkgs/development/interpreters/elixir/1.6.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/beam-packages.nix
Owners: @gleber

eclipse-plugins-ansi-econsole: init at 1.3.5
  pkgs/applications/editors/eclipse/plugins.nix
Owners: @rycee

plotutils: regenerate debian patch url's, apply few more
  pkgs/tools/graphics/plotutils/debian-patches.nix
  pkgs/tools/graphics/plotutils/debian-patches.txt
  pkgs/tools/graphics/plotutils/default.nix
Owners: none

qt510-qtbase: fix darwin build
  pkgs/development/libraries/qt-5/5.10/default.nix
  pkgs/development/libraries/qt-5/5.10/qtbase-darwin.patch
Owners: @ttuegel

glibc: 2.25-49 -> 2.25-123 to fix CVE-2018-1000001
  pkgs/development/libraries/glibc/2.25-49to123.diff.gz
  pkgs/development/libraries/glibc/common.nix
  pkgs/development/libraries/glibc/cve-2017-15670.patch
Owners: none

linux_beagleboard: 4.9.61-ti-r76 -> 4.14.12-ti-r23
  pkgs/os-specific/linux/kernel/linux-beagleboard.nix
  pkgs/top-level/all-packages.nix
Owners: none

pypy: 5.9.0 -> 5.10.0
  pkgs/development/interpreters/python/pypy/2.7/default.nix
Owners: @FRidh

freetype: 2.7.1 -> 2.9
  pkgs/development/libraries/freetype/cve-2017-8105.patch
  pkgs/development/libraries/freetype/cve-2017-8287.patch
  pkgs/development/libraries/freetype/default.nix
  pkgs/development/libraries/freetype/disable-pcf-long-family-names.patch
  pkgs/development/libraries/freetype/pcf-config-long-family-names.patch
  pkgs/development/libraries/freetype/pcf-introduce-driver.patch
Owners: none

gprof2dot: do not use pypy
  pkgs/top-level/all-packages.nix
Owners: none

gprof2dot: do not use pypy
  pkgs/top-level/all-packages.nix
Owners: none

pypy: Remove redundant manual building of CFFI extensions
  pkgs/development/interpreters/python/pypy/2.7/default.nix
Owners: @FRidh

ncbi-blast: init at 2.7.1
  pkgs/applications/science/biology/ncbi-blast/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

pythonPackages.netdisco: 1.2.3 -> 1.2.4
  pkgs/development/python-modules/netdisco/default.nix
Owners: @FRidh

dxx-rebirth: 0.58.1 -> 0.59.100
  pkgs/games/d1x-rebirth/default.nix
  pkgs/games/d2x-rebirth/default.nix
  pkgs/games/dxx-rebirth/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

qutebrowser: 1.0.4 -> 1.1.0
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Owners: none

pythonPackages.fritzconnection: init at 0.6.5
  pkgs/development/python-modules/fritzconnection/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

buildRustCrate: Allow arbitrary attributes in crateOverrides
  pkgs/build-support/rust/build-rust-crate.nix
Owners: none

cargo-vendor: Build from source using carnix
  pkgs/build-support/rust/cargo-vendor.nix
  pkgs/build-support/rust/cargo-vendor/cargo-vendor.nix
  pkgs/build-support/rust/cargo-vendor/default.nix
  pkgs/build-support/rust/default-crate-overrides.nix
  pkgs/build-support/rust/default.nix
Owners: none

netcat-openbsd: 1.130 -> 1.187
  pkgs/tools/networking/netcat-openbsd/default.nix
Owners: none

awscli: upgrade to 1.14.22 botocore: upgrade to 1.8.26 boto3: upgrade to 1.4.8 s3transfer: upgrade to 0.1.12
  pkgs/top-level/python-packages.nix
Owners: @FRidh

gpodder: fix crash on startup due missing GI_TYPELIB_PATH
  pkgs/applications/audio/gpodder/default.nix
Owners: none

wireshark-gtk: Fix build
  pkgs/applications/networking/sniffers/wireshark/default.nix
  pkgs/applications/networking/sniffers/wireshark/no-qt4.patch
Owners: none

git: 2.15.1 -> 2.16.0
  pkgs/applications/version-management/git-and-tools/git/default.nix
  pkgs/applications/version-management/git-and-tools/git/git-send-email-honor-PATH.patch
  pkgs/applications/version-management/git-and-tools/git/ssh-path.patch
Owners: none

wireshark-cli: Fix build
  pkgs/applications/networking/sniffers/wireshark/default.nix
Owners: none

weka: 3.8.1 -> 3.8.2
  pkgs/applications/science/math/weka/default.nix
Owners: none

git: 2.15.1 -> 2.16.0
  pkgs/applications/version-management/git-and-tools/git/default.nix
  pkgs/applications/version-management/git-and-tools/git/git-send-email-honor-PATH.patch
  pkgs/applications/version-management/git-and-tools/git/ssh-path.patch
Owners: none

sshd: provide option to disable firewall altering
  nixos/modules/services/networking/ssh/sshd.nix
Owners: none

sshd: provide option to disable firewall altering
  nixos/modules/services/networking/ssh/sshd.nix
Owners: none

platformio: 3.5.0 -> 3.5.1
  pkgs/development/python-modules/platformio/default.nix
Owners: @FRidh

linux_beagleboard: 4.9.61-ti-r76 -> 4.14.12-ti-r23
  pkgs/os-specific/linux/kernel/linux-beagleboard.nix
  pkgs/top-level/all-packages.nix
Owners: none

Revert "openjdk: 8u152 -> 8u162"
  pkgs/development/compilers/openjdk/8.nix
Owners: none

bazel: Bump nix-hacks.patch for 0.9.
  pkgs/development/tools/build-managers/bazel/0.4.nix
  pkgs/development/tools/build-managers/bazel/nix-hacks-0.4.patch
  pkgs/development/tools/build-managers/bazel/nix-hacks.patch
  pkgs/top-level/all-packages.nix
Owners: none

multi-ghc-travis: update to latest Git version and create a proper Haskell build
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
  pkgs/development/tools/haskell/multi-ghc-travis/default.nix
  pkgs/top-level/all-packages.nix
Owners: @peti

hackage: update all-cabal-hashes snapshot to Hackage at 2018-01-18T14:32:45Z
  pkgs/data/misc/hackage/default.nix
Owners: none

libmpc: update source URL
  pkgs/development/libraries/libmpc/default.nix
Owners: none

openjdk: 8u152 -> 8u172
  pkgs/development/compilers/openjdk/8.nix
Owners: none

perf-tools: 20160418 -> 20171219
  pkgs/os-specific/linux/perf-tools/default.nix
Owners: none

openjdk: 8u152 -> 8u172
  pkgs/development/compilers/openjdk/8.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel
