Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee

python/meliae: Fix version string for download URL
  pkgs/development/python-modules/meliae/default.nix
Owners: @FRidh

Revert "Revert "services.xserver: assert that either desktop- or window manager is not "none"""
  nixos/doc/manual/release-notes/rl-1803.xml
  nixos/modules/services/x11/desktop-managers/default.nix
  nixos/modules/services/x11/xserver.nix
Owners: none

fetchurl: add passthru
  pkgs/build-support/fetchurl/default.nix
Owners: none

Python: move expressions in python-modules to their own folders
  pkgs/development/python-modules/bcrypt/default.nix
  pkgs/development/python-modules/csscompressor/default.nix
  pkgs/development/python-modules/django_guardian/default.nix
  pkgs/development/python-modules/docker/default.nix
  pkgs/development/python-modules/docker_compose/default.nix
  pkgs/development/python-modules/ds4drv/default.nix
  pkgs/development/python-modules/dulwich/default.nix
  pkgs/development/python-modules/flask-elastic/default.nix
  pkgs/development/python-modules/flask-ldap-login/default.nix
  pkgs/development/python-modules/flask-login/default.nix
  pkgs/development/python-modules/flask-oauthlib/default.nix
  pkgs/development/python-modules/flask-testing/default.nix
  pkgs/development/python-modules/flask-wtf/default.nix
  pkgs/development/python-modules/ghdiff/default.nix
  pkgs/development/python-modules/gunicorn/default.nix
  pkgs/development/python-modules/htmlmin/default.nix
  pkgs/development/python-modules/hypothesis/default.nix
  pkgs/development/python-modules/jabberbot/default.nix
  pkgs/development/python-modules/ldap/default.nix
  pkgs/development/python-modules/markdown2/default.nix
  pkgs/development/python-modules/nltk/default.nix
  pkgs/development/python-modules/pep257/default.nix
  pkgs/development/python-modules/protobuf/default.nix
  pkgs/development/python-modules/pyaes/default.nix
  pkgs/development/python-modules/pyrax/default.nix
  pkgs/development/python-modules/pytest-pep257/default.nix
  pkgs/development/python-modules/pyudev/default.nix
  pkgs/development/python-modules/rackspace-novaclient/default.nix
  pkgs/development/python-modules/requests-oauthlib/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

Python pkgs: remove old/unused patches
  pkgs/development/python-modules/pelican-fix-tests-with-pygments-2.1.patch
  pkgs/development/python-modules/sqlalchemy-0.7.10-test-failures.patch
Owners: @FRidh

Python update-python-libraries: fetch and update asynchronously
  maintainers/scripts/update-python-libraries
Owners: none

translate-toolkit: Init at 2.2.5
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

cc-wrapper: disable POSIX compatibility
  pkgs/build-support/cc-wrapper/cc-wrapper.sh
  pkgs/build-support/cc-wrapper/gnat-wrapper.sh
  pkgs/build-support/cc-wrapper/gnatlink-wrapper.sh
  pkgs/build-support/cc-wrapper/ld-wrapper.sh
Owners: @edolstra

cargo: fix darwin build
  pkgs/development/compilers/rust/cargo.nix
Owners: none

compton: change extraOptions type to types.lines
  nixos/modules/services/x11/compton.nix
Owners: none

python.pkgs.urwid: fix build
  pkgs/development/python-modules/urwid/default.nix
Owners: @FRidh

krita: 3.2.1 -> 3.3.2
  pkgs/applications/graphics/krita/default.nix
Owners: none

fast-cli: pinpoint to a 1.x version, since 2.x requires nodejs 8 or greater
  pkgs/development/node-packages/default-v6.nix
  pkgs/development/node-packages/node-packages-v6.json
  pkgs/development/node-packages/node-packages-v6.nix
Owners: none

kernel, initrd: Remove legacy ubootChooser
  pkgs/build-support/kernel/make-initrd.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
  pkgs/top-level/all-packages.nix
Owners: none

radeon-profile: 20161221 -> 20170714
  pkgs/tools/misc/radeon-profile/default.nix
Owners: none

browserpass: 1.0.6 -> 2.0.7
  pkgs/tools/security/browserpass/default.nix
  pkgs/tools/security/browserpass/deps.nix
Owners: none

linux_mptcp: 0.92.1 -> 0.93
  pkgs/os-specific/linux/kernel/linux-mptcp.nix
  pkgs/top-level/all-packages.nix
Owners: none

kernelmptcp: 0.91.3 -> 0.92.1
  pkgs/os-specific/linux/kernel/linux-mptcp.nix
  pkgs/os-specific/linux/kernel/patches.nix
  pkgs/top-level/all-packages.nix
Owners: none

browserpass: 1.0.6 -> 2.0.7
  pkgs/tools/security/browserpass/default.nix
  pkgs/tools/security/browserpass/deps.nix
Owners: none

linux_mptcp: 0.92.1 -> 0.93
  pkgs/os-specific/linux/kernel/linux-mptcp.nix
  pkgs/top-level/all-packages.nix
Owners: none

python.pkgs.pyopenssl: do not use multiple outputs
  pkgs/top-level/python-packages.nix
Owners: @FRidh

ddcutil: 0.8.2 -> 0.8.4
  pkgs/tools/misc/ddcutil/default.nix
Owners: none

zimg: 2.4 -> 2.6.1
  pkgs/development/libraries/zimg/default.nix
Owners: none

SBCL: bump to unstable to include upstream fixes for bugs breaking iolib
  pkgs/development/compilers/sbcl/default.nix
Owners: none

python.pkgs.faulthandler: init at 2.6
  pkgs/development/python-modules/faulthandler/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

python.pkgs.pyobjc: init at 4.0b1
  pkgs/development/python-modules/pyobjc/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

bdf2psf 1.158 -> 1.170
  pkgs/tools/misc/bdf2psf/default.nix
Owners: none

rewritefs: 2016-07-27 -> 2017-08-14
  pkgs/os-specific/linux/rewritefs/default.nix
Owners: none

lib/types: match lowercase descriptions of other types
  lib/types.nix
Owners: @edolstra, @nbp

lib/types: fix up documentation formatting a bit
  lib/types.nix
Owners: @edolstra, @nbp

lib/types: add various signed/unsigned int types
  lib/types.nix
Owners: @edolstra, @nbp

lib/types: nixos manual documentation for signed/unsinged int
  nixos/doc/manual/development/option-types.xml
Owners: @nbp

lib/types: add `ints.positive`.
  lib/tests/modules.sh
  lib/tests/modules/declare-int-positive-value.nix
  lib/tests/modules/define-value-int-zero.nix
  lib/types.nix
  nixos/doc/manual/development/option-types.xml
Owners: @edolstra, @nbp

lib/types: signed -> s, unsigned -> u, remove signed alias
  lib/types.nix
Owners: @edolstra, @nbp

lib/types: remove port type again
  lib/types.nix
Owners: @edolstra, @nbp

lib/modules: Change type error to be gramatically nicer
  lib/modules.nix
Owners: @edolstra, @nbp

lib/types: add intBetween
  lib/types.nix
  nixos/doc/manual/development/option-types.xml
Owners: @edolstra, @nbp

lib/types: add port type
  lib/types.nix
Owners: @edolstra, @nbp

lib/types: update docs to match the new type names
  lib/tests/modules/declare-int-between-value.nix
  lib/tests/modules/declare-int-unsigned-value.nix
  lib/tests/modules/define-value-int-negative.nix
  lib/tests/modules/define-value-int-positive.nix
  nixos/doc/manual/development/option-types.xml
Owners: @edolstra, @nbp

lib/types: add tests for `ints.between` and `ints.unsigned`
  lib/tests/modules.sh
Owners: @edolstra, @nbp

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Boostraping and core infra
/pkgs/stdenv                    @edolstra
/pkgs/build-support/cc-wrapper  @edolstra

# Libraries
/lib                        @edolstra @nbp

# Nixpkgs Internals
/default.nix                @nbp
/pkgs/top-level/default.nix @nbp
/pkgs/top-level/impure.nix  @nbp
/pkgs/top-level/stage.nix   @nbp

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee
