Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

sequeler: add pantheon maintainers
  pkgs/applications/misc/sequeler/default.nix
Owners: none

libssh2: 1.8.0 -> 1.8.1 (SECURITY)
  pkgs/development/libraries/libssh2/default.nix
Owners: none

pythonPackages.aws-lambda-builders: init at 0.2.1
  pkgs/development/python-modules/aws-lambda-builders/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

libssh2: 1.8.0 -> 1.8.1 (SECURITY)
  pkgs/development/libraries/libssh2/default.nix
Owners: none

libndctl: 63 -> 64.1
  pkgs/development/libraries/libndctl/default.nix
Owners: none

pmdk: init at 1.6
  pkgs/development/libraries/pmdk/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

nextcloud-client: 2.5.1 -> 2.5.2
  pkgs/applications/networking/nextcloud-client/default.nix
Owners: none

nextcloud: 15.0.5 -> 15.0.6
  pkgs/servers/nextcloud/default.nix
Owners: none

nextcloud: use same php package throughout!
  nixos/modules/services/web-apps/nextcloud.nix
Owners: @Infinisil

Add option to disable library-for-ghci in the generic haskell builder.
  pkgs/development/haskell-modules/generic-builder.nix
Owners: @basvandijk

pythonPackages.serverlessrepo: init at 0.1.8
  pkgs/development/python-modules/serverlessrepo/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

purescript: upgrade to 0.12.4
  pkgs/development/compilers/purescript/purescript/default.nix
Owners: none

nixos/sshd: Remove obsolete Protocol options (#59136)
  nixos/modules/services/networking/ssh/sshd.nix
Owners: @Infinisil

pipes: 1.2.0 -> 1.3.0
  pkgs/misc/screensavers/pipes/default.nix
Owners: none

wordgrinder: 0.7.1 -> 0.7.2
  pkgs/applications/office/wordgrinder/default.nix
Owners: none

cli-visualizer: 1.7 -> 1.8
  pkgs/applications/misc/cli-visualizer/default.nix
Owners: none

fltrdr: 0.1.1 -> 0.2.1
  pkgs/tools/misc/fltrdr/default.nix
Owners: none

jackett: 0.10.846 -> 0.11.170
  pkgs/servers/jackett/default.nix
Owners: none

vulnix: 1.8.0 -> 1.8.1
  pkgs/tools/security/vulnix/default.nix
Owners: none

melpa-packages: 2019-04-08
  pkgs/applications/editors/emacs-modes/melpa-packages.nix
Owners: none

elpa-packages: 2019-04-08
  pkgs/applications/editors/emacs-modes/elpa-generated.nix
  pkgs/applications/editors/emacs-modes/elpa-packages.nix
Owners: none

melpa-stable-packages: 2019-04-08
  pkgs/applications/editors/emacs-modes/melpa-stable-generated.nix
Owners: none

google-cloud-sdk: 222.0.0 -> 241.0.0 (#59129)
  pkgs/tools/admin/google-cloud-sdk/default.nix
Owners: none

fuse3: use /etc/fuse.conf for configuration (#59043)
  pkgs/os-specific/linux/fuse/fuse3-install.patch
Owners: none

vulnix: 1.8.0 -> 1.8.1 (#59149)
  pkgs/tools/security/vulnix/default.nix
Owners: none

aws-sam-cli: 0.5.0 -> 0.14.2
  pkgs/development/tools/aws-sam-cli/default.nix
Owners: none

netperf: 20180504 -> 20180613 (#59011)
  pkgs/applications/networking/netperf/default.nix
Owners: none

pngout: 20130221 -> 20150319 (#58752)
  pkgs/tools/graphics/pngout/default.nix
Owners: none

govc: 0.16.0 -> 0.20.0 (#58986)
  pkgs/tools/virtualization/govc/default.nix
Owners: none

grub: Add support for gfxpayload in grub. Needed for NVIDIA drivers before KMS, afaik
  nixos/modules/system/boot/loader/grub/grub.nix
  nixos/modules/system/boot/loader/grub/install-grub.pl
Owners: @Infinisil

macdylibbundler: init
  maintainers/maintainer-list.nix
  pkgs/development/tools/misc/macdylibbundler/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

flatpak: 1.2.3 -> 1.2.4 (#58671)
  pkgs/development/libraries/flatpak/default.nix
Owners: none

flatpak: 1.2.3 -> 1.2.4 (#58671)
  pkgs/development/libraries/flatpak/default.nix
Owners: none

virtmanager: Fix gobject-introspection (#57385)
  pkgs/applications/virtualization/virt-manager/default.nix
Owners: none

pythonPackages.mpi4py: 3.0.0 -> 3.0.1
  pkgs/development/python-modules/mpi4py/default.nix
Owners: @FRidh

teamviewer: 14.1.3399 -> 14.2.2558
  pkgs/applications/networking/remote/teamviewer/default.nix
Owners: none

pythonPackages.h5py: add ssh to checkInputs
  pkgs/development/python-modules/h5py/default.nix
Owners: @FRidh

Expose prometheus generic builder.
  pkgs/servers/monitoring/prometheus/default.nix
Owners: none

nixos/prometheus: use ExecStart instead of a shell script
  nixos/modules/services/monitoring/prometheus/default.nix
Owners: @Infinisil

nixos/prometheus: get rid of empty arguments
  nixos/modules/services/monitoring/prometheus/default.nix
Owners: @Infinisil
