Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

netsniff-ng: 0.6.2 -> 0.6.3
  pkgs/tools/networking/netsniff-ng/default.nix
Owners: none

python.pkgs.nose-parameterized: 0.5.0 -> 0.6.0
  pkgs/development/python-modules/nose-parameterized/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

wakatime: 10.0.1 -> 10.1.0
  pkgs/tools/misc/wakatime/default.nix
Owners: none

removing i686. Future support is problematic
  pkgs/development/interpreters/pixie/default.nix
  pkgs/development/interpreters/pixie/dust.nix
Owners: none

pythonPackages.xvfbwrapper: init at 0.2.9
  pkgs/development/python-modules/xvfbwrapper/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.pydotplus: init at 2.0.2
  pkgs/development/python-modules/pydotplus/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.nibabel: 2.0.2 -> 2.2.0
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.prov: init at 1.5.0
  pkgs/development/python-modules/prov/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.nipype: 0.10.0 -> 0.14.0
  pkgs/top-level/python-packages.nix
Owners: @FRidh

neovim: don't install desktop file on darwin
  pkgs/applications/editors/neovim/wrapper.nix
Owners: none

pythonPackages.progressbar2: move to separate file.
  pkgs/development/python-modules/progressbar2/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

kimageformats: Fixes build
  pkgs/development/libraries/kde-frameworks/kimageformats.nix
Owners: @ttuegel

linuxPackages.evdi: also needs kernel.moduleBuildDependencies
  pkgs/os-specific/linux/evdi/default.nix
Owners: none

evdi: 1.4.1+git2017-06-12 -> unstable-2018-01-12 (#33907)
  pkgs/os-specific/linux/evdi/default.nix
Owners: none

hdf5: introduce hdf5-threadsafe variant
  pkgs/top-level/all-packages.nix
Owners: none

sudo: fix extra rules when no option is provided
  nixos/modules/security/sudo.nix
Owners: none

alembic: clean buildInputs to nativeBuildInputs
  pkgs/development/libraries/alembic/default.nix
Owners: none

alembic: use hdf5-threadsafe
  pkgs/development/libraries/alembic/default.nix
Owners: none

pythonPackages.nimfa: Move to own file.
  pkgs/development/python-modules/nimfa/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

sudo: fix typo
  nixos/modules/security/sudo.nix
Owners: none

pythonPackages.prov: Add meta
  pkgs/development/python-modules/prov/default.nix
Owners: @FRidh

pythonPackages.pydotplus: Update homepage, add license and maintainers.
  pkgs/development/python-modules/pydotplus/default.nix
Owners: @FRidh

pythonPackages.nipype: Check phase requires which, but still fails
  pkgs/top-level/python-packages.nix
Owners: @FRidh

python.pkgs.aenum: glibcLocales are only during check required
  pkgs/development/python-modules/aenum/default.nix
Owners: @FRidh

aenum: make tests pass (#33805)
  pkgs/development/python-modules/aenum/default.nix
Owners: @FRidh

libnetfilter_queue: 1.0.2 -> 1.0.3
  pkgs/development/libraries/libnetfilter_queue/default.nix
Owners: none

libnftnl: 1.0.8 -> 1.0.9
  pkgs/development/libraries/libnftnl/default.nix
Owners: none

pythonPackages.stem: init at 1.6.0
  pkgs/top-level/python-packages.nix
Owners: @FRidh

onioncircuits: init at 0.5
  pkgs/tools/security/onioncircuits/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

linode-api: 4.1.2b0 -> 4.1.6b0
  pkgs/development/python-modules/linode-api/default.nix
Owners: @FRidh

alembic: use threadsafe hdf5 (#30682)
  pkgs/development/libraries/alembic/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

toot: 0.16.2 -> 0.17.1
  pkgs/applications/misc/toot/default.nix
Owners: none

kinit: Fixes build
  pkgs/development/libraries/kde-frameworks/kinit/default.nix
Owners: @ttuegel

pythonPackages.multidict: 3.3.2 -> 4.0.0
  pkgs/development/python-modules/multidict/default.nix
Owners: @FRidh

rustc: Supports ARMv7
  pkgs/development/compilers/rust/bootstrap.nix
  pkgs/development/compilers/rust/print-hashes.sh
Owners: none

kwin: Fixes build
  pkgs/desktops/plasma-5/kwin/default.nix
Owners: @ttuegel

kindlegen: Use unzip where necessary
  pkgs/tools/typesetting/kindlegen/default.nix
Owners: none

pythonPackages.nibabel: Move to separate file.
  pkgs/development/python-modules/nibabel/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.nipype: To separate file.
  pkgs/development/python-modules/nipype/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

kio-extras: Fix build with qt 5.10
  pkgs/applications/kde/kio-extras.nix
Owners: @ttuegel
