Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee

ultrastardx: fix build
  pkgs/top-level/all-packages.nix
Owners: none

platforms.nix: Clean up more 'uboot' legacy
  lib/systems/platforms.nix
  pkgs/build-support/kernel/make-initrd.nix
  pkgs/os-specific/linux/kernel/generic.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
Owners: @edolstra, @nbp

networking.wireguard: added `allowedIpsAsRoutes` boolean to control peer routes
  nixos/modules/services/networking/wireguard.nix
Owners: none

wireguard: fix function for adding routes
  nixos/modules/services/networking/wireguard.nix
Owners: none

imagemagick7: 7.0.7-8 -> 7.0.7-9
  pkgs/applications/graphics/ImageMagick/7.0.nix
Owners: none

imagemagick: 6.9.9-20 -> 6.9.9-21
  pkgs/applications/graphics/ImageMagick/default.nix
Owners: none

wireguard module: add device name environment var
  nixos/modules/services/networking/wireguard.nix
Owners: none

wireguard module: add device name environment var
  nixos/modules/services/networking/wireguard.nix
Owners: none

imagemagick7: 7.0.7-8 -> 7.0.7-9
  pkgs/applications/graphics/ImageMagick/7.0.nix
Owners: none

imagemagick: 6.9.9-20 -> 6.9.9-21
  pkgs/applications/graphics/ImageMagick/default.nix
Owners: none

coqPackages.math-classes: 1.0.6 -> 1.0.7
  pkgs/development/coq-modules/math-classes/default.nix
Owners: none

bignums: init at various versions
  pkgs/development/coq-modules/bignums/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

gnome3.folks: 0.11.3 → 0.11.4
  pkgs/desktops/gnome-3/core/folks/default.nix
Owners: none

gnome3.totem-pl-parser: move src to a separate file
  pkgs/desktops/gnome-3/core/totem-pl-parser/default.nix
  pkgs/desktops/gnome-3/core/totem-pl-parser/src.nix
Owners: none

gnome3.grilo: 0.3.3 → 0.3.4
  pkgs/desktops/gnome-3/core/grilo/default.nix
Owners: none

gnome3.grilo_plugins: 0.3.3 → 0.3.5
  pkgs/desktops/gnome-3/core/grilo-plugins/default.nix
Owners: none

gnome3.libgdata: 0.17.6 → 0.17.9
  pkgs/desktops/gnome-3/core/libgdata/default.nix
Owners: none

clutter_gtk: 1.8.2 → 1.8.4
  pkgs/development/libraries/clutter-gtk/default.nix
Owners: none

glibmm: 2.50.0 → 2.54.1
  pkgs/development/libraries/glibmm/default.nix
Owners: none

gnome3.libpeas: 1.18.0 → 1.22.0
  pkgs/desktops/gnome-3/core/libpeas/src.nix
Owners: none

gvfs: 1.30.1 → 1.34.1
  pkgs/development/libraries/gvfs/default.nix
Owners: none

gusb: 0.2.9 → 0.2.11
  pkgs/development/libraries/gusb/default.nix
Owners: none

librsvg: 2.40.17 → 2.40.19
  pkgs/development/libraries/librsvg/default.nix
Owners: none

libchamplain: 0.12.14 → 0.12.16
  pkgs/development/libraries/libchamplain/default.nix
Owners: none

spice_protocol: 0.12.12 → 0.12.13
  pkgs/development/libraries/spice-protocol/default.nix
Owners: none

spice_gtk: 0.33 → 0.34
  pkgs/development/libraries/spice-gtk/default.nix
Owners: none

libgtop: 2.34.1 → 2.38.0
  pkgs/development/libraries/libgtop/default.nix
Owners: none

fwup: 0.14.3 → 0.16.1
  pkgs/tools/misc/fwup/default.nix
Owners: none

spidermonkey_52: init at 52.2.1gnome1
  pkgs/development/interpreters/spidermonkey/52.nix
  pkgs/top-level/all-packages.nix
Owners: none

libxkbcommon: 0.7.1 → 0.7.2
  pkgs/development/libraries/libxkbcommon/default.nix
Owners: none

gstreamer: 1.10.4 → 1.12.2
  pkgs/development/compilers/orc/default.nix
  pkgs/development/libraries/gstreamer/bad/default.nix
  pkgs/development/libraries/gstreamer/base/default.nix
  pkgs/development/libraries/gstreamer/core/default.nix
  pkgs/development/libraries/gstreamer/ges/default.nix
  pkgs/development/libraries/gstreamer/gnonlin/default.nix
  pkgs/development/libraries/gstreamer/good/default.nix
  pkgs/development/libraries/gstreamer/gstreamermm/default.nix
  pkgs/development/libraries/gstreamer/legacy/gst-ffmpeg/default.nix
  pkgs/development/libraries/gstreamer/legacy/gst-plugins-bad/default.nix
  pkgs/development/libraries/gstreamer/legacy/gst-plugins-base/default.nix
  pkgs/development/libraries/gstreamer/legacy/gst-plugins-good/default.nix
  pkgs/development/libraries/gstreamer/legacy/gst-plugins-ugly/default.nix
  pkgs/development/libraries/gstreamer/legacy/gst-python/default.nix
  pkgs/development/libraries/gstreamer/legacy/qt-gstreamer/default.nix
  pkgs/development/libraries/gstreamer/libav/default.nix
  pkgs/development/libraries/gstreamer/qt-gstreamer/default.nix
  pkgs/development/libraries/gstreamer/ugly/default.nix
  pkgs/development/libraries/gstreamer/vaapi/default.nix
  pkgs/development/libraries/gstreamer/validate/default.nix
  pkgs/development/python-modules/gst-python/default.nix
Owners: @FRidh

libzapojit: add meta.description
  pkgs/desktops/gnome-3/core/libzapojit/default.nix
Owners: none

gnome3.libgxps: 0.2.2 → 0.3.0
  pkgs/desktops/gnome-3/core/libgxps/default.nix
Owners: none

cyrus_sasl: fix bad merge
  pkgs/development/libraries/cyrus-sasl/default.nix
Owners: none

pdns-recursor: 4.0.4 -> 4.0.6
  pkgs/servers/dns/pdns-recursor/default.nix
Owners: none

cmake: add manpage
  pkgs/development/tools/build-managers/cmake/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

zimg: 2.4 -> 2.6.1
  pkgs/development/libraries/zimg/default.nix
Owners: none

ddcutil: 0.8.2 -> 0.8.4
  pkgs/tools/misc/ddcutil/default.nix
Owners: none

glibc: security patches from upstream
  pkgs/development/libraries/glibc/common.nix
  pkgs/development/libraries/glibc/cve-2009-5064.patch
  pkgs/development/libraries/glibc/cve-2017-15670.patch
Owners: none

users-groups module: use `buildEnv` in per-user profiles
  nixos/modules/config/users-groups.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Boostraping and core infra
/pkgs/stdenv                    @edolstra
/pkgs/build-support/cc-wrapper  @edolstra

# Libraries
/lib                        @edolstra @nbp

# Nixpkgs Internals
/default.nix                @nbp
/pkgs/top-level/default.nix @nbp
/pkgs/top-level/impure.nix  @nbp
/pkgs/top-level/stage.nix   @nbp

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee
