Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones

add jonaenz to maintainer list
  maintainers/maintainer-list.nix
Owners: none

git-cola: 3.12.0 -> 4.0.1
  pkgs/applications/version-management/git-and-tools/git-cola/default.nix
Owners: none

fulcio: 0.4.1 -> 0.5.2
  pkgs/tools/security/fulcio/default.nix
Owners: none

kubeseal: 0.17.5 -> 0.18.1
  pkgs/applications/networking/cluster/kubeseal/default.nix
Owners: none

dogecoin: 1.14.5 -> 1.14.6
  pkgs/applications/blockchains/dogecoin/default.nix
Owners: @mmahut, @RaghavSood

pip-tools: fix build (#184326)
  pkgs/development/python-modules/pip-tools/default.nix
  pkgs/development/python-modules/pip-tools/fix-setup-py-bad-syntax-detection.patch
Owners: @FRidh, @jonringer

obs-studio-plugins.obs-vkcapture: 1.1.4 -> 1.1.5
  pkgs/applications/video/obs-studio/plugins/obs-vkcapture.nix
Owners: none

kops: 1.24.0 -> 1.24.1 (#183803)
  pkgs/applications/networking/cluster/kops/default.nix
Owners: none

httpx: 1.2.3 -> 1.2.4
  pkgs/tools/security/httpx/default.nix
Owners: none

gotktrix: 0.1.3 -> 0.1.4
  pkgs/applications/networking/instant-messengers/gotktrix/default.nix
Owners: none

firefox-beta-bin-unwrapped: 103.0b9 -> 104.0b4
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
Owners: none

firefox-bin-unwrapped: 103.0 -> 103.0.1
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
Owners: none

firefox-unwrapped: 103.0 -> 103.0.1
  pkgs/applications/networking/browsers/firefox/packages.nix
Owners: @mweinelt

firefox-devedition-bin-unwrapped: 103.0b9 -> 104.0b4
  pkgs/applications/networking/browsers/firefox-bin/devedition_sources.nix
Owners: none

iaito: 5.7.0 -> 5.7.2
  pkgs/tools/security/iaito/default.nix
Owners: none

python310Packages.mat2: 0.12.4 -> 0.13.0
  pkgs/development/python-modules/mat2/default.nix
Owners: @FRidh, @jonringer

unbound: 1.16.0 -> 1.16.2
  pkgs/tools/networking/unbound/default.nix
Owners: none

unbound: set myself as maintainer
  pkgs/tools/networking/unbound/default.nix
Owners: none

linux_latest: 5.18.15 -> 5.19
  pkgs/os-specific/linux/kernel/linux-5.19.nix
  pkgs/top-level/linux-kernels.nix
Owners: none

hysteria: init at 1.1.0
  maintainers/maintainer-list.nix
  pkgs/tools/networking/hysteria/default.nix
Owners: none

linux_latest: 5.18.15 -> 5.19
  pkgs/os-specific/linux/kernel/linux-5.19.nix
  pkgs/top-level/linux-kernels.nix
Owners: none

endlessh-go: 20220710 -> 20220731
  pkgs/servers/endlessh-go/default.nix
Owners: none

hysteria: init at 1.1.0
  maintainers/maintainer-list.nix
  pkgs/tools/networking/hysteria/default.nix
Owners: none

deltachat-desktop: fix build
  pkgs/applications/networking/instant-messengers/deltachat-desktop/default.nix
Owners: none

python3Packages.dbus-python: add missing egg-info
  pkgs/development/python-modules/dbus/default.nix
Owners: @FRidh, @jonringer

linuxHeaders: 5.18 -> 5.19
  pkgs/os-specific/linux/kernel-headers/default.nix
  pkgs/os-specific/linux/kernel-headers/restore-__bitwise__.patch
Owners: none

python3Packages.justbases: init at 0.15
  pkgs/development/python-modules/justbases/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

python3Packages.justbytes: init at 0.15
  pkgs/development/python-modules/justbytes/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

python3Packages.dbus-client-gen: init at 0.5
  pkgs/development/python-modules/dbus-client-gen/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

compiler-rt: Fix "bare metal" case boolean logic
  pkgs/development/compilers/llvm/12/compiler-rt/default.nix
  pkgs/development/compilers/llvm/13/compiler-rt/default.nix
  pkgs/development/compilers/llvm/14/compiler-rt/default.nix
  pkgs/development/compilers/llvm/git/compiler-rt/default.nix
Owners: @matthewbauer

treewide: fix platforms
  pkgs/applications/audio/ssrc/default.nix
  pkgs/applications/misc/masterpdfeditor/default.nix
  pkgs/applications/misc/masterpdfeditor4/default.nix
  pkgs/applications/radio/welle-io/default.nix
  pkgs/applications/science/biology/spades/default.nix
  pkgs/development/compilers/bupc/default.nix
  pkgs/development/compilers/dale/default.nix
  pkgs/development/compilers/gnatboot/default.nix
  pkgs/development/libraries/libwhereami/default.nix
  pkgs/games/keeperrl/default.nix
  pkgs/games/tome4/default.nix
  pkgs/tools/security/b2sum/default.nix
Owners: none

linux_lqx: 5.18.15-lqx1 -> 5.18.15-lqx2
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Owners: none

zigbee2mqtt: 1.26.0 -> 1.27.0
  pkgs/servers/zigbee2mqtt/default.nix
  pkgs/servers/zigbee2mqtt/node-packages.nix
Owners: none

vk-bootstrap: init at 0.5
  pkgs/development/libraries/vk-bootstrap/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

compiler-rt: Fix "bare metal" case boolean logic
  pkgs/development/compilers/llvm/12/compiler-rt/default.nix
  pkgs/development/compilers/llvm/13/compiler-rt/default.nix
  pkgs/development/compilers/llvm/14/compiler-rt/default.nix
  pkgs/development/compilers/llvm/git/compiler-rt/default.nix
Owners: @matthewbauer

nixos: systemd-coredump: improve disabled state
  nixos/modules/system/boot/systemd/coredump.nix
  nixos/tests/all-tests.nix
  nixos/tests/systemd-coredump.nix
Owners: @NixOS/systemd

treewide: remove unnecessary meson find_program patches
  pkgs/development/libraries/libdrm/cross-build-nm-path.patch
  pkgs/development/libraries/libdrm/default.nix
  pkgs/development/libraries/mesa/default.nix
  pkgs/development/libraries/wayland/add-placeholder-for-nm.patch
  pkgs/development/libraries/wayland/default.nix
Owners: none

meson: pull patch to use more binutils variables
  pkgs/development/tools/build-managers/meson/default.nix
Owners: none

stdenv: mesonFlags: use canExecute in needs_exe_wrapper
  pkgs/stdenv/generic/make-derivation.nix
Owners: @Ericson2314, @matthewbauer

polymc: use LD_LIBRARY_PATH, not GAME_LIBRARY_PATH
  pkgs/games/polymc/default.nix
Owners: none
