Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @FRidh, @peti, @copumpkin, @LnL7, @gleber, @edwtjo

proot: fix aarch64 build
  pkgs/tools/system/proot/default.nix
Owners: none

proot: add makefu as maintainer
  pkgs/tools/system/proot/default.nix
Owners: none

fonts/libertine: remove darwin from supported platforms
  pkgs/data/fonts/libertine/default.nix
Owners: none

haskell-hspec-core: enable test suite again
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

tig: 2.2.2 -> 2.3.0
  pkgs/applications/version-management/git-and-tools/tig/default.nix
Owners: none

pgtap: init at version 0.97.0
  pkgs/servers/sql/postgresql/pgtap/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

perlPackages/TAPParserSourceHandlerpgTAP: 3.30 -> 3.33
  pkgs/top-level/perl-packages.nix
Owners: none

pgjwt: 0.0.1 -> unstable-2017-04-24
  pkgs/servers/sql/postgresql/pgjwt/default.nix
Owners: none

bazel: 0.5.4 -> 0.6.0
  pkgs/development/tools/build-managers/bazel/default.nix
Owners: none

glusterfs service: fix issues with useRpcbind
  nixos/modules/services/network-filesystems/glusterfs.nix
Owners: none

kore: init at 2.0.0
  lib/maintainers.nix
  pkgs/development/web/kore/default.nix
  pkgs/top-level/all-packages.nix
Owners: @edolstra

nixos/tests: rewrite pgjwt test
  nixos/tests/pgjwt.nix
Owners: none

kore: fix up
  pkgs/development/web/kore/default.nix
Owners: none

llvm: init 5.0
  pkgs/development/compilers/llvm/5/clang/default.nix
  pkgs/development/compilers/llvm/5/clang/purity.patch
  pkgs/development/compilers/llvm/5/compiler-rt-codesign.patch
  pkgs/development/compilers/llvm/5/default.nix
  pkgs/development/compilers/llvm/5/libc++/default.nix
  pkgs/development/compilers/llvm/5/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/5/libc++abi.nix
  pkgs/development/compilers/llvm/5/lld.nix
  pkgs/development/compilers/llvm/5/lldb.nix
  pkgs/development/compilers/llvm/5/llvm-outputs.patch
  pkgs/development/compilers/llvm/5/llvm.nix
  pkgs/development/compilers/llvm/5/openmp.nix
  pkgs/top-level/all-packages.nix
Owners: none

haskell-json-autotype: jailbreak to fix build within LTS 9.x
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

libubox: init at 2017-09-29
  pkgs/development/libraries/libubox/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

uqmi: init at 2016-12-19
  pkgs/tools/networking/uqmi/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

nextcloud: 12.0.2 -> 12.0.3
  pkgs/servers/nextcloud/default.nix
Owners: none

runv: initial at 1.0.0
  pkgs/applications/virtualization/runv/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

docker service: add runv runtime support
  nixos/modules/virtualisation/docker.nix
Owners: none

hyperstart: init at 1.0.0
  pkgs/applications/virtualization/runv/hyperstart.nix
  pkgs/top-level/all-packages.nix
Owners: none

mopidy-iris: 3.4.1 -> 3.4.9
  pkgs/applications/audio/mopidy-iris/default.nix
Owners: none

grafana: 4.5.1 -> 4.5.2
  pkgs/servers/monitoring/grafana/default.nix
Owners: none

git: Properly wrap Git commands that are implemented in Perl.
  pkgs/applications/version-management/git-and-tools/git/default.nix
Owners: none

gogs: 0.11.19 -> 0.11.29
  pkgs/applications/version-management/gogs/default.nix
Owners: none

docker service: remove libvirt
  nixos/modules/virtualisation/docker.nix
Owners: none

spotify: 1.0.64.401.g9d720389-21 -> 1.0.64.407.g9bd02c2d-26
  pkgs/applications/audio/spotify/default.nix
Owners: none

firefox-beta-bin: 56.0b5 -> 57.0b4
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
Owners: none

glib-networking: 2.50.0 → 2.54.0
  pkgs/development/libraries/glib-networking/default.nix
Owners: none

go: declare support for aarch64
  pkgs/development/compilers/go/1.9.nix
Owners: none

googler: init at 3.3
  pkgs/applications/misc/googler/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

bazel: 0.5.4 -> 0.6.0 (#29990)
  pkgs/development/tools/build-managers/bazel/default.nix
Owners: none

bower: fix up
  pkgs/applications/networking/mailreaders/bower/default.nix
Owners: none

pythonPackages.MechanicalSoup: 0.4.0 -> 0.7.0
  pkgs/development/python-modules/MechanicalSoup/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

nixos/network-interfaces: add ip address conf flags
  nixos/modules/tasks/network-interfaces-scripted.nix
  nixos/modules/tasks/network-interfaces.nix
Owners: none

pysmbc: fix license
  pkgs/development/python-modules/pysmbc/default.nix
Owners: none

pysmbc: clarify license
  pkgs/development/python-modules/pysmbc/default.nix
Owners: none

nasm: run checkPhase
  pkgs/development/compilers/nasm/default.nix
Owners: none

spotify: 1.0.64.401.g9d720389-21 -> 1.0.64.407.g9bd02c2d-26
  pkgs/applications/audio/spotify/default.nix
Owners: none

rosegarden: clean up after merge with staging
  pkgs/applications/audio/rosegarden/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
.github/CODEOWNERS @edolstra

# Boostraping and core infra
pkgs/stdenv/    @edolstra
pkgs/build-support/cc-wrapper/  @edolstra

# Libraries
lib/  @edolstra

# Python-related code and docs
pkgs/top-level/python-packages.nix      @FRidh
pkgs/development/interpreters/python/*  @FRidh
pkgs/development/python-modules/*       @FRidh
doc/languages-frameworks/python.md      @FRidh

# Haskell
pkgs/development/compilers/ghc                       @peti
pkgs/development/haskell-modules                     @peti
pkgs/development/haskell-modules/default.nix         @peti
pkgs/development/haskell-modules/generic-builder.nix @peti
pkgs/development/haskell-modules/hoogle.nix          @peti

# R
pkgs/applications/science/math/R @peti
pkgs/development/r-modules       @peti

# Darwin-related
pkgs/stdenv/darwin/*    @copumpkin @LnL7
pkgs/os-specific/darwin/*       @LnL7
pkgs/os-specific/darwin/apple-source-releases/* @copumpkin

# Beam-related (Erlang, Elixir, LFE, etc)
pkgs/development/beam-modules/*	@gleber
pkgs/development/interpreters/erlang/*	@gleber
pkgs/development/interpreters/lfe/*	@gleber
pkgs/development/interpreters/elixir/*	@gleber
pkgs/development/tools/build-managers/rebar/*	@gleber
pkgs/development/tools/build-managers/rebar3/*	@gleber
pkgs/development/tools/erlang/*	@gleber

# Jetbrains
pkgs/applications/editors/jetbrains @edwtjo
