Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu

avocode: 4.3.0 -> 4.4.3
  pkgs/applications/graphics/avocode/default.nix
Owners: none

soulseekqt: refactoring using appimageTools
  pkgs/applications/networking/p2p/soulseekqt/default.nix
Owners: none

radare2: 4.2.1 -> 4.3.0 (#81730)
  pkgs/development/tools/analysis/radare2/default.nix
Owners: none

nixos/initrd-network: always run postCommands
  nixos/modules/system/boot/initrd-network.nix
Owners: none

nixos/tests/initrd-network-ssh: fix test
  nixos/tests/initrd-network-ssh/default.nix
Owners: none

anydesk: 5.5.2 -> 5.5.4
  pkgs/applications/networking/remote/anydesk/default.nix
Owners: none

asymptote: 2.62 -> 2.63
  pkgs/tools/graphics/asymptote/default.nix
Owners: none

nodejs-13_x: 13.9.0 -> 13.10.0
  pkgs/development/web/nodejs/v13.nix
Owners: none

wesnoth: 1.14.10 -> 1.14.11
  pkgs/games/wesnoth/default.nix
Owners: none

Revert "defaultGemConfig: remove asciidoctor-diagram JARs" (#81737)
  pkgs/development/ruby-modules/gem-config/default.nix
Owners: @alyssais, @zimbatm

Revert "defaultGemConfig: remove asciidoctor-diagram JARs" (#81737)
  pkgs/development/ruby-modules/gem-config/default.nix
Owners: @alyssais, @zimbatm

cherrytree: 0.38.11 -> 0.39.0
  pkgs/applications/misc/cherrytree/default.nix
Owners: none

fluxboxlauncher: init at 0.2.1
  pkgs/applications/misc/fluxboxlauncher/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

curaengine: 4.4.0 -> 4.5.0
  pkgs/applications/misc/curaengine/default.nix
Owners: none

bgpq3: init at 0.1.35
  pkgs/tools/networking/bgpq3/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

ddrescue: 1.24 -> 1.25
  pkgs/tools/system/ddrescue/default.nix
Owners: none

closurecompiler: 20200204 -> 20200224
  pkgs/development/compilers/closure/default.nix
Owners: none

cloudflared: 2020.2.0 -> 2020.2.1
  pkgs/applications/networking/cloudflared/default.nix
Owners: none

chromium: 80.0.3987.122 -> 80.0.3987.132
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Owners: none

uwsgi: use pyhome instead of pythonpath for uwsgi vassals
  nixos/modules/services/web-servers/uwsgi.nix
Owners: none

php74: 7.4.2 → 7.4.3
  pkgs/development/interpreters/php/default.nix
Owners: @etu

chromium: 80.0.3987.122 -> 80.0.3987.132
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Owners: none

nixos/codimd: update useCDN default to false
  nixos/modules/services/web-apps/codimd.nix
Owners: none

codimd: 1.5.0 -> 1.6.0
  pkgs/servers/web-apps/codimd/default.nix
  pkgs/servers/web-apps/codimd/package.json
  pkgs/servers/web-apps/codimd/yarn.lock
  pkgs/servers/web-apps/codimd/yarn.nix
Owners: none

debootstrap: 1.0.117 -> 1.0.119
  pkgs/tools/misc/debootstrap/default.nix
Owners: none

gnome3.glade: 3.22.1 -> 3.22.2
  pkgs/desktops/gnome-3/apps/glade/default.nix
Owners: none

at-spi2-atk: 2.34.1 -> 2.34.2
  pkgs/development/libraries/at-spi2-atk/default.nix
Owners: none

clipgrab: 3.8.7 -> 3.8.11
  pkgs/applications/video/clipgrab/default.nix
Owners: none

pantheon.cerbere: 2.5.0 -> 2.5.1
  pkgs/desktops/pantheon/services/cerbere/default.nix
Owners: none

eternal-terminal: 6.0.6 -> 6.0.7
  pkgs/tools/networking/eternal-terminal/default.nix
Owners: none

cargo-raze: 0.2.10 -> 0.2.15
  pkgs/development/tools/rust/cargo-raze/default.nix
Owners: none

build-support/rust: specify proper path to Cargo.lock
  pkgs/build-support/rust/default.nix
Owners: @andir

glib.setupHook: run glibPreFixupPhase before gappsWrapperArgsHook
  pkgs/development/libraries/glib/setup-hook.sh
Owners: none

adminer: init at 4.7.6
  pkgs/servers/adminer/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

cargo-xbuild: 0.5.24 -> 0.5.28
  pkgs/development/tools/rust/cargo-xbuild/default.nix
Owners: none

gcc: move target-specific runtime libraries to separate output
  pkgs/build-support/cc-wrapper/default.nix
  pkgs/development/compilers/gcc/builder.sh
Owners: @Ericson2314, @orivej, @matthewbauer

brscan4: 0.4.4-4 -> 0.4.8-1 (#79872)
  pkgs/applications/graphics/sane/backends/brscan4/default.nix
Owners: none

eventstat: 0.04.08 -> 0.04.09
  pkgs/os-specific/linux/eventstat/default.nix
Owners: none

gitAndTools.gh 0.6.0 -> 0.6.1
  pkgs/applications/version-management/git-and-tools/gh/default.nix
Owners: none

conmon: 2.0.10 -> 2.0.11
  pkgs/applications/virtualization/conmon/default.nix
Owners: none
