Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @Mic92, @zowoq, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @jtojnar, @FRidh, @jonringer, @cdepillabout, @volth, @stigtsp, @peti, @alyssais, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @Infinisil, @mboes, @adisbladis, @teto, @softinio, @WilliButz, @NixOS/php, @NixOS/podman, @roberth, @utdemir, @mmahut, @kalbasit

or1k-newlib: Add newlib for OpenRISC 1000
  pkgs/development/misc/or1k/newlib.nix
  pkgs/top-level/all-packages.nix
Owners: none

Initial support for OpenRISC 1000 (or1k)
  lib/systems/doubles.nix
  lib/systems/examples.nix
  lib/systems/inspect.nix
  lib/systems/parse.nix
  pkgs/build-support/bintools-wrapper/default.nix
Owners: @nbp, @ericson2314, @matthewbauer, @Ericson2314, @orivej

binutils: Add patches for 2.34
  pkgs/development/tools/misc/binutils/patches/2.34/always-search-rpath.patch
  pkgs/development/tools/misc/binutils/patches/2.34/build-components-separately.patch
  pkgs/development/tools/misc/binutils/patches/2.34/deterministic.patch
  pkgs/development/tools/misc/binutils/patches/2.34/disambiguate-arm-targets.patch
  pkgs/development/tools/misc/binutils/patches/2.34/no-plugins.patch
Owners: none

binutils: Prepare for concurrent versions
  pkgs/development/tools/misc/binutils/default.nix
Owners: none

binutils: Move patches in versioned dir
  pkgs/development/libraries/libbfd/default.nix
  pkgs/development/libraries/libopcodes/default.nix
  pkgs/development/tools/misc/binutils/default.nix
  pkgs/development/tools/misc/binutils/patches/2.31/0001-x86-Add-a-GNU_PROPERTY_X86_ISA_1_USED-note-if-needed.patch
  pkgs/development/tools/misc/binutils/patches/2.31/0001-x86-Properly-add-X86_ISA_1_NEEDED-property.patch
  pkgs/development/tools/misc/binutils/patches/2.31/0001-x86-Properly-merge-GNU_PROPERTY_X86_ISA_1_USED.patch
  pkgs/development/tools/misc/binutils/patches/2.31/always-search-rpath.patch
  pkgs/development/tools/misc/binutils/patches/2.31/build-components-separately.patch
  pkgs/development/tools/misc/binutils/patches/2.31/deterministic.patch
  pkgs/development/tools/misc/binutils/patches/2.31/disambiguate-arm-targets.patch
  pkgs/development/tools/misc/binutils/patches/2.31/gold-symbol-visibility.patch
  pkgs/development/tools/misc/binutils/patches/2.31/no-plugins.patch
Owners: none

binutils: Use 2.34 for OpenRISC 1000
  pkgs/development/tools/misc/binutils/default.nix
Owners: none

geant4.tests.example_B1: init
  pkgs/development/libraries/physics/geant4/default.nix
  pkgs/development/libraries/physics/geant4/tests.nix
Owners: none

bandwidth: fix build on darwin, fix license, adopt (#101522)
  pkgs/tools/misc/bandwidth/default.nix
Owners: none

ocaml-libvirt: 0.6.1.4.2017-11-08-unstable -> 0.6.1.5
  pkgs/applications/virtualization/virt-top/default.nix
  pkgs/development/ocaml-modules/ocaml-libvirt/default.nix
Owners: none

ocamlPackages.camlimages: 5.0.3 → 5.0.4
  pkgs/development/ocaml-modules/camlimages/default.nix
Owners: none

pipenv: 2020.8.13 -> 2020.11.4
  pkgs/development/tools/pipenv/default.nix
Owners: none

dt-schema: 2020.8.1 -> 2020.11
  pkgs/development/tools/dt-schema/default.nix
Owners: none

python37Packages.pyvmomi: 7.0 -> 7.0.1
  pkgs/development/python-modules/pyvmomi/default.nix
Owners: @FRidh, @jonringer

ansible-lint: 4.3.6 -> 4.3.7
  pkgs/development/python-modules/ansible-lint/default.nix
Owners: @FRidh, @jonringer

python37Packages.dash-core-components: 1.12.1 -> 1.13.0
  pkgs/development/python-modules/dash-core-components/default.nix
Owners: @FRidh, @jonringer

python37Packages.jupyterlab-git: 0.22.2 -> 0.22.3
  pkgs/development/python-modules/jupyterlab-git/default.nix
Owners: @FRidh, @jonringer

nixos-generators: 1.1.0 -> 1.2.0
  pkgs/tools/nix/nixos-generators/default.nix
Owners: none

xorg.libX11: fix static build
  pkgs/top-level/static.nix
Owners: none

python37Packages.pytest-pylint: 0.17.0 -> 0.18.0
  pkgs/development/python-modules/pytest-pylint/default.nix
Owners: @FRidh, @jonringer

python37Packages.pyvmomi: 7.0 -> 7.0.1
  pkgs/development/python-modules/pyvmomi/default.nix
Owners: @FRidh, @jonringer

ansible-lint: 4.3.6 -> 4.3.7
  pkgs/development/python-modules/ansible-lint/default.nix
Owners: @FRidh, @jonringer

python37Packages.pytest-pylint: 0.17.0 -> 0.18.0
  pkgs/development/python-modules/pytest-pylint/default.nix
Owners: @FRidh, @jonringer

python37Packages.streamz: 0.5.5 -> 0.6.1
  pkgs/development/python-modules/streamz/default.nix
Owners: @FRidh, @jonringer

pythonPackages.cpyparsing: init at 2.4.5.0.1.1
  pkgs/development/python-modules/cpyparsing/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

coconut: init at 1.4.3
  pkgs/development/python-modules/coconut/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

maintainers: add fabianhjr
  maintainers/maintainer-list.nix
Owners: none

python37Packages.dash-renderer: 1.8.2 -> 1.8.3
  pkgs/development/python-modules/dash-renderer/default.nix
Owners: @FRidh, @jonringer

python27Packages.rtslib: 2.1.72 -> 2.1.74
  pkgs/development/python-modules/rtslib/default.nix
Owners: @FRidh, @jonringer

python37Packages.chalice: 1.21.3 -> 1.21.4
  pkgs/development/python-modules/chalice/default.nix
Owners: @FRidh, @jonringer

python37Packages.sshtunnel: 0.2.1 -> 0.2.2
  pkgs/development/python-modules/sshtunnel/default.nix
Owners: @FRidh, @jonringer

python37Packages.snowflake-connector-python: 2.3.4 -> 2.3.5
  pkgs/development/python-modules/snowflake-connector-python/default.nix
Owners: @FRidh, @jonringer

maintainers: add guillaumecherel.
  maintainers/maintainer-list.nix
Owners: none

python3Packages.slugify: init at 0.0.1
  pkgs/development/python-modules/slugify/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

python3Packages.kaggle: 1.5.6 -> 1.5.9
  pkgs/development/python-modules/kaggle/default.nix
Owners: @FRidh, @jonringer

python37Packages.onnx: 1.7.0 -> 1.8.0
  pkgs/development/python-modules/onnx/default.nix
Owners: @FRidh, @jonringer

postgresql: add debug versions
  pkgs/servers/sql/postgresql/default.nix
  pkgs/top-level/all-packages.nix
Owners: @thoughtpolice

gnomeExtensions.paperwm: 38.0 -> 38.1
  pkgs/desktops/gnome-3/extensions/paperwm/default.nix
Owners: none

nixos/loki: add logcli to system path
  nixos/modules/services/monitoring/loki.nix
Owners: none

nixos/promtail: use json type for configuration
  nixos/modules/services/logging/promtail.nix
Owners: none

nixos/loki: mergeable configuration
  nixos/modules/services/monitoring/loki.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @Mic92 @zowoq

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth @stigtsp
/pkgs/top-level/perl-packages.nix   @volth @stigtsp
/pkgs/development/perl-modules      @volth @stigtsp

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais
/pkgs/development/ruby-modules      @alyssais

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @andir @zowoq

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer
/pkgs/applications/editors/neovim      @teto

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md @NixOS/php
/nixos/tests/php                         @NixOS/php
/pkgs/build-support/build-pecl.nix       @NixOS/php
/pkgs/development/interpreters/php       @NixOS/php
/pkgs/development/php-packages           @NixOS/php
/pkgs/top-level/php-packages.nix         @NixOS/php

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @NixOS/podman @zowoq
/nixos/modules/virtualisation/cri-o.nix      @NixOS/podman @zowoq
/nixos/modules/virtualisation/podman.nix     @NixOS/podman @zowoq
/nixos/tests/cri-o.nix                       @NixOS/podman @zowoq
/nixos/tests/podman.nix                      @NixOS/podman @zowoq

# Docker tools
/pkgs/build-support/docker                   @roberth @utdemir
/nixos/tests/docker-tools-overlay.nix        @roberth
/nixos/tests/docker-tools.nix                @roberth
/doc/builders/images/dockertools.xml         @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut

# Go
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq
