Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

shabnam-fonts: init at v4.0.0
  pkgs/data/fonts/shabnam-fonts/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

go_1_12: port from master but do *not* make it default
  pkgs/development/compilers/go/1.12.nix
  pkgs/top-level/all-packages.nix
Owners: none

Merge #57711: go: 1.11.5 -> 1.11.6 and 1.12 -> 1.12.1
  pkgs/development/compilers/go/1.11.nix
  pkgs/development/compilers/go/1.12.nix
  pkgs/development/compilers/go/ssl-cert-file-1.12.1.patch
Owners: none

ibus-engines.table: 1.9.21 -> 1.9.20 [revert]
  pkgs/tools/inputmethods/ibus-engines/ibus-table/default.nix
Owners: none

release-notes: remove ibus-table config change note [revert]
  nixos/doc/manual/release-notes/rl-1903.xml
Owners: none

openldap: 2.4.46 -> 2.4.47 (#52817)
  pkgs/development/libraries/openldap/default.nix
Owners: none

deepin.dde-network-utils: init at 0.1.2
  pkgs/desktops/deepin/dde-network-utils/default.nix
  pkgs/desktops/deepin/dde-network-utils/fix-paths.patch
  pkgs/desktops/deepin/default.nix
Owners: none

R: explicitly declare `which` as a run-time dependency
  pkgs/applications/science/math/R/default.nix
Owners: @peti

LTS Haskell 13.15
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @basvandijk

haskell-pandoc: update override for the latest release
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @basvandijk

ocamlPackages.ppxlib: 0.3.1 -> 0.5.0 (#54755)
  pkgs/development/ocaml-modules/ppxlib/default.nix
Owners: none

vdirsyncerStable: init at 0.16.7
  pkgs/tools/misc/vdirsyncer/stable.nix
  pkgs/top-level/all-packages.nix
Owners: none

grpc: 1.18.0 -> 1.19.0 (#56693)
  pkgs/development/libraries/grpc/default.nix
Owners: none

lib3mf: init at 1.8.1
  pkgs/development/libraries/lib3mf/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

apktool: 2.3.4 -> 2.4.0 (#57203)
  pkgs/development/tools/apktool/default.nix
Owners: none

python37Packages.eyeD3: 0.8.9 -> 0.8.10 (#57231)
  pkgs/development/python-modules/eyed3/default.nix
Owners: @FRidh

jmeter: 4.0 -> 5.1 (#57257)
  pkgs/applications/networking/jmeter/default.nix
Owners: none

gns3Packages.{server,gui}Preview: 2.2.0a3 -> 2.2.0a4
  pkgs/applications/networking/gns3/default.nix
Owners: none

pythonPackages.zerorpc: init at 0.6.1
  pkgs/development/python-modules/zerorpc/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

link-grammar: 5.5.1 -> 5.6.0 (#57303)
  pkgs/tools/text/link-grammar/default.nix
Owners: none

hackage2nix: update list of broken packages
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Owners: @basvandijk

nextcloud: 15.0.5 -> 15.0.6
  pkgs/servers/nextcloud/default.nix
Owners: none

nextcloud: use same php package throughout!
  nixos/modules/services/web-apps/nextcloud.nix
Owners: @Infinisil

qemu: apply CVE-2019-3812 patch
  pkgs/applications/virtualization/qemu/default.nix
Owners: none

wget: 1.20.1 -> 1.20.3
  pkgs/tools/networking/wget/default.nix
Owners: none

R: explicitly declare `which` as a run-time dependency
  pkgs/applications/science/math/R/default.nix
Owners: @peti

grpc: 1.18.0 -> 1.19.0 (#56693)
  pkgs/development/libraries/grpc/default.nix
Owners: none

syncthing 1.1.0 -> 1.1.1
  pkgs/applications/networking/syncthing/default.nix
  pkgs/applications/networking/syncthing/deps.nix
Owners: none

netperf: remove libsmbios on non-x86
  pkgs/applications/networking/netperf/default.nix
Owners: none

nextcloud-client: 2.5.1 -> 2.5.2
  pkgs/applications/networking/nextcloud-client/default.nix
Owners: none

ocamlPackages.ppxlib: 0.3.1 -> 0.5.0 (#54755)
  pkgs/development/ocaml-modules/ppxlib/default.nix
Owners: none

lib3mf: init at 1.8.1
  pkgs/development/libraries/lib3mf/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

link-grammar: 5.5.1 -> 5.6.0 (#57303)
  pkgs/tools/text/link-grammar/default.nix
Owners: none

mandoc: 1.14.4 -> 1.14.5
  pkgs/tools/misc/mandoc/default.nix
Owners: none

apktool: 2.3.4 -> 2.4.0 (#57203)
  pkgs/development/tools/apktool/default.nix
Owners: none

python37Packages.eyeD3: 0.8.9 -> 0.8.10 (#57231)
  pkgs/development/python-modules/eyed3/default.nix
Owners: @FRidh

gns3Packages.{server,gui}Preview: 2.2.0a3 -> 2.2.0a4
  pkgs/applications/networking/gns3/default.nix
Owners: none

jmeter: 4.0 -> 5.1 (#57257)
  pkgs/applications/networking/jmeter/default.nix
Owners: none

mandoc: 1.14.4 -> 1.14.5
  pkgs/tools/misc/mandoc/default.nix
Owners: none

cdb: fix platforms
  pkgs/development/tools/database/cdb/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch
