Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

python37Packages.pex: 1.6.2 -> 1.6.3
  pkgs/development/python-modules/pex/default.nix
Owners: @FRidh

python37Packages.Nuitka: 0.6.1.1 -> 0.6.2
  pkgs/development/python-modules/nuitka/default.nix
Owners: @FRidh

Merge #57951: qemu: apply CVE-2019-3812 patch
  pkgs/applications/virtualization/qemu/default.nix
Owners: none

add patchwork
  pkgs/applications/social/patchwork/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

maintainers: add `suhr`
  maintainers/maintainer-list.nix
Owners: none

tox-node: init at 0.0.7
  pkgs/tools/networking/tox-node/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

linux: Fix update script
  pkgs/os-specific/linux/kernel/linux-4.14.nix
  pkgs/os-specific/linux/kernel/linux-4.19.nix
  pkgs/os-specific/linux/kernel/linux-5.0.nix
  pkgs/os-specific/linux/kernel/update.sh
Owners: none

vim: 8.1.0578 -> 8.1.0675 (#53172)
  pkgs/applications/editors/vim/common.nix
Owners: none

plasma-workspace: fix patch
  pkgs/desktops/plasma-5/plasma-workspace/plasma-workspace.patch
Owners: @ttuegel

mixxx: 2.1.5 -> 2.2.0 (#53643)
  pkgs/applications/audio/mixxx/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

cdb: fix platforms (#59106)
  pkgs/development/tools/database/cdb/default.nix
Owners: none

gem-config: add opus-ruby (#59084)
  pkgs/development/ruby-modules/gem-config/default.nix
Owners: @alyssais, @zimbatm

maintainers: add dhkl
  maintainers/maintainer-list.nix
Owners: none

vdr: fix overrideAttrs (#59083)
  pkgs/applications/video/vdr/default.nix
  pkgs/applications/video/vdr/plugins.nix
  pkgs/top-level/all-packages.nix
Owners: none

sl: add missing man pages
  pkgs/tools/misc/sl/default.nix
Owners: none

git: Add update script
  pkgs/applications/version-management/git-and-tools/git/update.sh
Owners: none

shfmt: 1.1.0 -> 2.6.4
  pkgs/tools/text/shfmt/default.nix
Owners: none

sunvox: 1.9.3b -> 1.9.4c (#56888)
  pkgs/applications/audio/sunvox/default.nix
Owners: none

shfmt: 1.1.0 -> 2.6.4 (#59113)
  pkgs/tools/text/shfmt/default.nix
Owners: none

cassandra: Wrap new binaries (#59090)
  pkgs/servers/nosql/cassandra/generic.nix
Owners: none

quilt: 0.65 -> 0.66 (#58861)
  pkgs/development/tools/quilt/default.nix
Owners: none

clipster: 2.0.1 -> 2.0.2 (#58654)
  pkgs/tools/misc/clipster/default.nix
Owners: none

ltc-tools: 0.6.4 -> 0.7.0 (#58323)
  pkgs/applications/audio/ltc-tools/default.nix
Owners: none

gmrender-resurrect: mark as broken
  pkgs/tools/networking/gmrender-resurrect/default.nix
Owners: none

amazon-ecs-cli: 1.12.1 -> 1.13.1 (#58620)
  pkgs/tools/virtualization/amazon-ecs-cli/default.nix
Owners: none

kid3: 3.7.0 -> 3.7.1 (#58280)
  pkgs/applications/audio/kid3/default.nix
Owners: none

alsaOss: 1.1.6 -> 1.1.8 (#58619)
  pkgs/os-specific/linux/alsa-oss/default.nix
Owners: none

dropbox-cli: replace python by python3
  pkgs/applications/networking/dropbox/cli.nix
Owners: none

kisslicer: 1.6.2 -> 1.6.3 (#58281)
  pkgs/tools/misc/kisslicer/default.nix
Owners: none

liblouis: 3.5.0 -> 3.9.0 (#58302)
  pkgs/development/libraries/liblouis/default.nix
Owners: none

vitetris: 0.57.2 -> 0.58.0 (#58914)
  pkgs/games/vitetris/default.nix
Owners: none

i3blocks: 1.4 -> unstable-2019-05-07
  pkgs/applications/window-managers/i3/blocks.nix
Owners: none

tcpreplay: 4.3.1 -> 4.3.2 (#58898)
  pkgs/tools/networking/tcpreplay/default.nix
Owners: none

roccat-tools: 5.7.0 -> 5.8.0 (#58872)
  pkgs/os-specific/linux/roccat-tools/default.nix
Owners: none

btrbk: 0.27.1 -> 0.27.2 (#58651)
  pkgs/tools/backup/btrbk/default.nix
Owners: none

reaper: 5.965 -> 5.973 (#58865)
  pkgs/applications/audio/reaper/default.nix
Owners: none

teamspeak_server: 3.6.1 -> 3.7.1
  pkgs/applications/networking/instant-messengers/teamspeak/server.nix
Owners: none

rebar3: 3.9.0 -> 3.9.1 (#58864)
  pkgs/development/tools/build-managers/rebar3/default.nix
Owners: @gleber

redir: 3.2 -> 3.3 (#58868)
  pkgs/tools/networking/redir/default.nix
Owners: none

socket_wrapper: 1.2.1 -> 1.2.3 (#58884)
  pkgs/development/libraries/socket_wrapper/default.nix
Owners: none
