Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @Mic92, @zowoq, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @jtojnar, @FRidh, @jonringer, @cdepillabout, @volth, @stigtsp, @peti, @alyssais, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @Infinisil, @mboes, @adisbladis, @teto, @softinio, @WilliButz, @NixOS/php, @NixOS/podman, @roberth, @utdemir, @mmahut, @kalbasit

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @Mic92 @zowoq

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth @stigtsp
/pkgs/top-level/perl-packages.nix   @volth @stigtsp
/pkgs/development/perl-modules      @volth @stigtsp

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais
/pkgs/development/ruby-modules      @alyssais

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @andir @zowoq

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer
/pkgs/applications/editors/neovim      @teto

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md @NixOS/php
/nixos/tests/php                         @NixOS/php
/pkgs/build-support/build-pecl.nix       @NixOS/php
/pkgs/development/interpreters/php       @NixOS/php
/pkgs/development/php-packages           @NixOS/php
/pkgs/top-level/php-packages.nix         @NixOS/php

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @NixOS/podman @zowoq
/nixos/modules/virtualisation/cri-o.nix      @NixOS/podman @zowoq
/nixos/modules/virtualisation/podman.nix     @NixOS/podman @zowoq
/nixos/tests/cri-o.nix                       @NixOS/podman @zowoq
/nixos/tests/podman.nix                      @NixOS/podman @zowoq

# Docker tools
/pkgs/build-support/docker                   @roberth @utdemir
/nixos/tests/docker-tools-overlay.nix        @roberth
/nixos/tests/docker-tools.nix                @roberth
/doc/builders/images/dockertools.xml         @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut

# Go
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

libnftnl: 1.1.7 -> 1.1.8
  pkgs/development/libraries/libnftnl/default.nix
Owners: none

iptables: 1.8.5 -> 1.8.6
  pkgs/os-specific/linux/iptables/default.nix
Owners: none

python37Packages.b2sdk: 1.1.4 -> 1.2.0
  pkgs/development/python-modules/b2sdk/default.nix
Owners: @FRidh, @jonringer

linux: 4.14.204 -> 4.14.205
  pkgs/os-specific/linux/kernel/linux-4.14.nix
Owners: none

linux: 4.19.155 -> 4.19.156
  pkgs/os-specific/linux/kernel/linux-4.19.nix
Owners: none

linux: 4.4.241 -> 4.4.242
  pkgs/os-specific/linux/kernel/linux-4.4.nix
Owners: none

linux: 5.4.75 -> 5.4.76
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

linux: 4.9.241 -> 4.9.242
  pkgs/os-specific/linux/kernel/linux-4.9.nix
Owners: none

linux: 5.9.6 -> 5.9.7
  pkgs/os-specific/linux/kernel/linux-5.9.nix
Owners: none

linux: 4.14.204 -> 4.14.205
  pkgs/os-specific/linux/kernel/linux-4.14.nix
Owners: none

linux: 4.19.155 -> 4.19.156
  pkgs/os-specific/linux/kernel/linux-4.19.nix
Owners: none

linux: 4.4.241 -> 4.4.242
  pkgs/os-specific/linux/kernel/linux-4.4.nix
Owners: none

linux: 4.9.241 -> 4.9.242
  pkgs/os-specific/linux/kernel/linux-4.9.nix
Owners: none

linux: 5.9.6 -> 5.9.7
  pkgs/os-specific/linux/kernel/linux-5.9.nix
Owners: none

linux: 5.4.75 -> 5.4.76
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

linux: 4.14.204 -> 4.14.205
  pkgs/os-specific/linux/kernel/linux-4.14.nix
Owners: none

linux: 4.19.155 -> 4.19.156
  pkgs/os-specific/linux/kernel/linux-4.19.nix
Owners: none

linux: 4.4.241 -> 4.4.242
  pkgs/os-specific/linux/kernel/linux-4.4.nix
Owners: none

linux: 4.9.241 -> 4.9.242
  pkgs/os-specific/linux/kernel/linux-4.9.nix
Owners: none

linux: 5.4.75 -> 5.4.76
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Owners: none

zfs: extend zpool scripts with :$PATH, remove sudo
  pkgs/os-specific/linux/zfs/default.nix
Owners: none

oh-my-zsh: Fix update script
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

oh-my-zsh: 2020-11-04 → 2020-11-09
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

python37Packages.awkward: 0.13.0 -> 0.14.0
  pkgs/development/python-modules/awkward/default.nix
Owners: @FRidh, @jonringer

bobcat: 4.08.03 -> 5.05.00; switch homepage
  pkgs/development/libraries/bobcat/default.nix
Owners: none

gitui: fix darwin build (#103194)
  pkgs/applications/version-management/git-and-tools/default.nix
  pkgs/applications/version-management/git-and-tools/gitui/default.nix
Owners: none

python37Packages.awkward: 0.13.0 -> 0.14.0
  pkgs/development/python-modules/awkward/default.nix
Owners: @FRidh, @jonringer

python37Packages.uproot-methods: 0.7.4 -> 0.8.0
  pkgs/development/python-modules/uproot-methods/default.nix
Owners: @FRidh, @jonringer

python3Package.mautrix: 0.5.8 -> 0.8.1
  pkgs/development/python-modules/mautrix/default.nix
Owners: @FRidh, @jonringer

python37Packages.aioconsole: 0.3.0 -> 0.3.1
  pkgs/development/python-modules/aioconsole/default.nix
Owners: @FRidh, @jonringer

fixup get rid of propagation altogether
  pkgs/development/interpreters/python/default.nix
  pkgs/development/interpreters/python/mk-python-derivation.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

python37Packages.xstatic-bootbox: 4.4.0.1 -> 5.5.1.1
  pkgs/development/python-modules/xstatic-bootbox/default.nix
Owners: @FRidh, @jonringer

python.pkgs.matplotlib: fix expression
  pkgs/development/python-modules/matplotlib/2.nix
  pkgs/development/python-modules/matplotlib/default.nix
Owners: @FRidh, @jonringer

python2.pkgs.pysqlite: fix expression
  pkgs/development/python-modules/pysqlite/default.nix
Owners: @FRidh, @jonringer

bisoncpp: init at 6.04.00
  pkgs/development/tools/parsing/bisonc++/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

monero: 0.17.1.1 -> 0.17.1.3
  pkgs/applications/blockchains/monero/default.nix
Owners: @mmahut

monero-gui: 0.17.1.1 -> 0.17.1.4
  pkgs/applications/blockchains/monero-gui/default.nix
Owners: @mmahut

gtklick: fix expression
  pkgs/applications/audio/gtklick/default.nix
Owners: none

gtklick: fix expression
  pkgs/applications/audio/gtklick/default.nix
Owners: none

Update based on recommendations
  pkgs/tools/networking/gp-saml-gui/default.nix
Owners: none
