Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones

gremlin-console: 3.6.0 -> 3.6.1
  pkgs/applications/misc/gremlin-console/default.nix
Owners: none

genext2fs: 1.4.1 > 1.5.0
  pkgs/tools/filesystems/genext2fs/default.nix
Owners: none

n8n: 0.187.1 → 0.188.0
  pkgs/applications/networking/n8n/node-packages.nix
Owners: none

atlantis: 0.19.6 -> 0.19.7
  pkgs/applications/networking/cluster/atlantis/default.nix
Owners: none

organicmaps: 2022.06.29-3 -> 2022.07.27-3
  pkgs/applications/misc/organicmaps/default.nix
Owners: none

gpsd: delete useless line
  pkgs/servers/gpsd/default.nix
Owners: none

ani-cli: 2.2 -> 3.3
  pkgs/applications/video/ani-cli/default.nix
Owners: none

tor-browser-bundle-bin: 11.5 -> 11.5.1
  pkgs/applications/networking/browsers/tor-browser-bundle-bin/default.nix
Owners: none

aws-nuke: 2.17.0 -> 2.19.0
  pkgs/tools/admin/aws-nuke/default.nix
Owners: none

ares: 128 -> 129
  pkgs/applications/emulators/bsnes/ares/default.nix
Owners: none

bdf2psf: 1.208 -> 1.209
  pkgs/tools/misc/bdf2psf/default.nix
Owners: none

maintainers: add amesgen
  maintainers/maintainer-list.nix
Owners: none

acl2: 8.4 -> 8.5
  pkgs/development/interpreters/acl2/0001-Fix-some-paths-for-Nix-build.patch
  pkgs/development/interpreters/acl2/default.nix
Owners: none

lighttpd: link nixosTests.lighttpd to passthru.tests
  pkgs/servers/http/lighttpd/default.nix
Owners: none

nixos: add lighttpd test
  nixos/tests/all-tests.nix
  nixos/tests/lighttpd.nix
Owners: none

puppet-bolt: 3.19.0 → 3.24.0
  pkgs/tools/admin/puppet/puppet-bolt/Gemfile.lock
  pkgs/tools/admin/puppet/puppet-bolt/default.nix
  pkgs/tools/admin/puppet/puppet-bolt/gemset.nix
Owners: none

alpine-make-vm-image: 0.8.0 -> 0.9.0
  pkgs/tools/virtualization/alpine-make-vm-image/default.nix
Owners: none

grex: 1.3.0 -> 1.4.0
  pkgs/tools/misc/grex/default.nix
Owners: none

itch: fix hash
  pkgs/games/itch/default.nix
Owners: none

nix.perl-bindings: fix build on aarch64-darwin
  pkgs/tools/package-management/nix/common.nix
  pkgs/tools/package-management/nix/nix-perl.nix
Owners: none

haskellPackages.levenshtein: disable tests and unbreak
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix/broken.yaml
Owners: @cdepillabout, @sternenseemann, @maralorn

gobject-introspection: use objdump -p instead of prelink-rtld
  pkgs/development/libraries/gobject-introspection/default.nix
  pkgs/development/libraries/gobject-introspection/giscanner-ignore-error-return-codes-from-ldd-wrapper.patch
  pkgs/development/libraries/gobject-introspection/wrapper.nix
  pkgs/development/libraries/gobject-introspection/wrappers/g-ir-compiler.sh
  pkgs/development/libraries/gobject-introspection/wrappers/g-ir-scanner-lddwrapper.sh
  pkgs/development/libraries/gobject-introspection/wrappers/g-ir-scanner.sh
Owners: none

pc-ble-driver: fix building with gcc 11
  pkgs/development/libraries/pc-ble-driver/default.nix
Owners: none

python3Packages.pc-ble-driver-py: 0.16.3 -> 0.17.0
  pkgs/development/python-modules/pc-ble-driver-py/default.nix
Owners: @FRidh, @jonringer

nrfutil: 6.1.3 -> 6.1.6
  pkgs/development/tools/misc/nrfutil/default.nix
Owners: none

terraform: 1.2.5 -> 1.2.6
  pkgs/applications/networking/cluster/terraform/default.nix
Owners: none

antimicrox: 3.2.4 -> 3.2.5
  pkgs/tools/misc/antimicrox/default.nix
Owners: none

diffoscope: use multitarget binutils
  pkgs/tools/misc/diffoscope/default.nix
Owners: none

libqrtr-glib: fix cross
  pkgs/development/libraries/libqrtr-glib/default.nix
Owners: none

stylua: 0.14.1 -> 0.14.2
  pkgs/development/tools/stylua/default.nix
Owners: none

kea: 2.0.2 -> 2.2.0
  pkgs/tools/networking/kea/default.nix
Owners: @mweinelt

nixosTests.kea: set name
  nixos/tests/kea.nix
Owners: @mweinelt

SDL2: restore udev support by default on linux
  pkgs/development/libraries/SDL2/default.nix
Owners: none

terraform: 1.2.5 -> 1.2.6
  pkgs/applications/networking/cluster/terraform/default.nix
Owners: none

vim-vint: set meta.mainProgram
  pkgs/development/tools/vim-vint/default.nix
Owners: none

armadillo: 11.2.2 -> 11.2.3
  pkgs/development/libraries/armadillo/default.nix
Owners: none

signald: 0.18.5 -> 0.20.0
  pkgs/applications/networking/instant-messengers/signald/0001-Fetch-buildconfig-during-gradle-build-inside-Nix-FOD.patch
  pkgs/applications/networking/instant-messengers/signald/0002-buildconfig-local-deps-fixes.patch
  pkgs/applications/networking/instant-messengers/signald/default.nix
Owners: none

gh-dash: init at 3.2.0
  pkgs/tools/misc/gh-dash/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

asciidoctorj: 2.5.4 -> 2.5.5
  pkgs/tools/typesetting/asciidoctorj/default.nix
Owners: none

skim: set meta.mainProgram
  pkgs/tools/misc/skim/default.nix
Owners: none
