Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @Mic92, @zowoq, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @jtojnar, @FRidh, @jonringer, @cdepillabout, @volth, @stigtsp, @peti, @alyssais, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @Infinisil, @mboes, @adisbladis, @teto, @softinio, @WilliButz, @NixOS/php, @NixOS/podman, @roberth, @utdemir, @mmahut, @kalbasit

fwupd: 1.4.6 → 1.5.1
  nixos/modules/services/hardware/fwupd.nix
  nixos/tests/installed-tests/fwupd.nix
  pkgs/os-specific/linux/firmware/fwupd/add-option-for-installation-sysconfdir.patch
  pkgs/os-specific/linux/firmware/fwupd/default.nix
  pkgs/os-specific/linux/firmware/fwupd/installed-tests-path.patch
Owners: none

fwupd: 1.4.6 → 1.5.1
  nixos/modules/services/hardware/fwupd.nix
  nixos/tests/installed-tests/fwupd.nix
  pkgs/os-specific/linux/firmware/fwupd/add-option-for-installation-sysconfdir.patch
  pkgs/os-specific/linux/firmware/fwupd/default.nix
  pkgs/os-specific/linux/firmware/fwupd/installed-tests-path.patch
Owners: none

bpytop: 1.0.47 -> 1.0.50
  pkgs/tools/system/bpytop/default.nix
Owners: none

bpytop: 1.0.21 -> 1.0.25
  pkgs/tools/system/bpytop/default.nix
Owners: none

bpytop: 1.0.25 -> 1.0.42
  pkgs/tools/system/bpytop/default.nix
Owners: none

bpytop: 1.0.42 -> 1.0.44
  pkgs/tools/system/bpytop/default.nix
Owners: none

bpytop: 1.0.44 -> 1.0.47
  pkgs/tools/system/bpytop/default.nix
Owners: none

haskellPackages.pandoc: 2.11.1 -> 2.11.1.1
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout

haskellPackages.reflex-dom-core: Remove obsolete patches
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout

python37Packages.pytools: 2020.4 -> 2020.4.3
  pkgs/development/python-modules/pytools/default.nix
Owners: @FRidh, @jonringer

python27Packages.rtslib: 2.1.72 -> 2.1.74
  pkgs/development/python-modules/rtslib/default.nix
Owners: @FRidh, @jonringer

qemu: apply patch for CVE-2020-27617
  pkgs/applications/virtualization/qemu/CVE-2020-27617.patch
  pkgs/applications/virtualization/qemu/default.nix
Owners: none

qtractor: 0.9.15 -> 0.9.18
  pkgs/applications/audio/qtractor/default.nix
Owners: none

python27Packages.zfec: 1.5.3 -> 1.5.4
  pkgs/development/python-modules/zfec/default.nix
Owners: @FRidh, @jonringer

qview: 3.0 -> 4.0
  pkgs/applications/graphics/qview/default.nix
Owners: none

libunwind: Add devman output
  pkgs/development/libraries/libunwind/default.nix
Owners: none

qmmp: 1.4.1 -> 1.4.2
  pkgs/applications/audio/qmmp/default.nix
Owners: none

python27Packages.scp: 0.13.2 -> 0.13.3
  pkgs/development/python-modules/scp/default.nix
Owners: @FRidh, @jonringer

bolt: 0.8 -> 0.9
  pkgs/os-specific/linux/bolt/default.nix
Owners: none

plasma-thunderbolt: init at 5.18.5
  pkgs/desktops/plasma-5/default.nix
  pkgs/desktops/plasma-5/plasma-thunderbolt.nix
  pkgs/top-level/all-packages.nix
Owners: @ttuegel

thunderbird-bin: 78.4.1 -> 78.4.2
  pkgs/applications/networking/mailreaders/thunderbird-bin/release_sources.nix
Owners: none

thunderbird: 78.4.1 -> 78.4.2
  pkgs/applications/networking/mailreaders/thunderbird/default.nix
Owners: none

python27Packages.rope: 0.17.0 -> 0.18.0
  pkgs/development/python-modules/rope/default.nix
Owners: @FRidh, @jonringer

maintainers: add dbirks
  maintainers/maintainer-list.nix
Owners: none

openvpn: 2.4.9 -> 2.5.0
  pkgs/tools/networking/openvpn/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

vdirsyncerStable: deprecate
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh, @jonringer

libsForQt5.quazip: 0.9.1 -> 1.1
  pkgs/development/libraries/quazip/default.nix
Owners: none

vkquake: 1.05.0 -> 1.05.1
  pkgs/games/quakespasm/vulkan.nix
Owners: none

mercury: 20.06 -> 20.06.1
  pkgs/development/compilers/mercury/default.nix
Owners: none

qalculate-gtk: 3.13.0 -> 3.14.0
  pkgs/applications/science/math/qalculate-gtk/default.nix
Owners: none

qpdf: 10.0.1 -> 10.0.3
  pkgs/development/libraries/qpdf/default.nix
Owners: none

qt5.qtwebengine: don't override `patches` in qtModule
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/5.14/default.nix
  pkgs/development/libraries/qt-5/5.15/default.nix
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

python37Packages.streamz: 0.5.5 -> 0.6.1
  pkgs/development/python-modules/streamz/default.nix
Owners: @FRidh, @jonringer

qbs: 1.16.0 -> 1.17.0
  pkgs/development/tools/build-managers/qbs/default.nix
Owners: none

qrencode: 4.0.2 -> 4.1.1
  pkgs/development/libraries/qrencode/default.nix
Owners: none

zfsbackup: update unstable-2019-03-05 -> unstable-2020-09-30
  pkgs/tools/backup/zfsbackup/default.nix
  pkgs/tools/backup/zfsbackup/deps.nix
Owners: none

vimPlugins: update
  pkgs/misc/vim-plugins/generated.nix
Owners: @jonringer, @softinio

vimPlugins.vim-openscad: init at 2020-07-08
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Owners: @jonringer, @softinio

perlPackages.FutureAsyncAwait: 0.45 -> 0.46
  pkgs/top-level/perl-packages.nix
Owners: @volth, @stigtsp

tmuxp: 1.5.8 -> 1.6.2
  pkgs/tools/misc/tmuxp/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @Mic92 @zowoq

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth @stigtsp
/pkgs/top-level/perl-packages.nix   @volth @stigtsp
/pkgs/development/perl-modules      @volth @stigtsp

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais
/pkgs/development/ruby-modules      @alyssais

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @andir @zowoq

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer
/pkgs/applications/editors/neovim      @teto

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md @NixOS/php
/nixos/tests/php                         @NixOS/php
/pkgs/build-support/build-pecl.nix       @NixOS/php
/pkgs/development/interpreters/php       @NixOS/php
/pkgs/development/php-packages           @NixOS/php
/pkgs/top-level/php-packages.nix         @NixOS/php

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @NixOS/podman @zowoq
/nixos/modules/virtualisation/cri-o.nix      @NixOS/podman @zowoq
/nixos/modules/virtualisation/podman.nix     @NixOS/podman @zowoq
/nixos/tests/cri-o.nix                       @NixOS/podman @zowoq
/nixos/tests/podman.nix                      @NixOS/podman @zowoq

# Docker tools
/pkgs/build-support/docker                   @roberth @utdemir
/nixos/tests/docker-tools-overlay.nix        @roberth
/nixos/tests/docker-tools.nix                @roberth
/doc/builders/images/dockertools.xml         @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut

# Go
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq
