Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu

fanficfare: 3.15.0 -> 3.16.0
  pkgs/tools/text/fanficfare/default.nix
Owners: none

argo: 2.6.0 -> 2.6.1
  pkgs/applications/networking/cluster/argo/default.nix
Owners: none

glib.setupHook: run glibPreFixupPhase before gappsWrapperArgsHook
  pkgs/development/libraries/glib/setup-hook.sh
Owners: none

graylog: 3.2.1 -> 3.2.2
  pkgs/tools/misc/graylog/default.nix
Owners: none

chezmoi: 1.7.13 -> 1.7.16
  pkgs/tools/misc/chezmoi/default.nix
Owners: none

tensorflow: 1.15.1 -> 1.15.2
  pkgs/development/python-modules/tensorflow/default.nix
  pkgs/development/python-modules/tensorflow/lift-gast-restriction.patch
Owners: @FRidh, @jonringer

shorewall: fix RestartTriggers
  nixos/modules/services/networking/shorewall.nix
  nixos/modules/services/networking/shorewall6.nix
Owners: none

fwts: 19.11.00 -> 20.02.00
  pkgs/os-specific/linux/fwts/default.nix
Owners: none

gromacs: 2020 -> 2020.1
  pkgs/applications/science/molecular-dynamics/gromacs/default.nix
Owners: none

kube3d: correct k3s version tag
  pkgs/applications/networking/cluster/kube3d/default.nix
Owners: none

frostwire-bin: 6.8.3 -> 6.8.4
  pkgs/applications/networking/p2p/frostwire/frostwire-bin.nix
Owners: none

gallery-dl: 1.12.3 -> 1.13.1
  pkgs/applications/misc/gallery-dl/default.nix
Owners: none

forkstat: 0.02.13 -> 0.02.14
  pkgs/os-specific/linux/forkstat/default.nix
Owners: none

Fix gcc builder.sh to reference targetConfig and only move cross outputs to lib when it is set
  pkgs/development/compilers/gcc/7/default.nix
  pkgs/development/compilers/gcc/builder.sh
Owners: @matthewbauer

qt512: pick upstream patch for QTBUG-78937
  pkgs/development/libraries/qt-5/5.12/default.nix
Owners: @ttuegel

gmsh: 4.5.2 -> 4.5.4
  pkgs/applications/science/math/gmsh/default.nix
Owners: none

gnomeExtensions.sound-output-device-chooser: 24 -> 25
  pkgs/desktops/gnome-3/extensions/sound-output-device-chooser/default.nix
  pkgs/desktops/gnome-3/extensions/sound-output-device-chooser/fix-paths.patch
Owners: none

ghc: 8.8.2 -> 8.8.3
  pkgs/development/compilers/ghc/8.8.2.nix
Owners: @cdepillabout

flyway: 6.2.2 -> 6.2.4
  pkgs/development/tools/flyway/default.nix
Owners: none

nodejs-13_x: 13.10.0 -> 13.10.1
  pkgs/development/web/nodejs/v13.nix
Owners: none

brave: 1.4.95 -> 1.4.96
  pkgs/applications/networking/browsers/brave/default.nix
Owners: none

brave: 1.4.95 -> 1.4.96
  pkgs/applications/networking/browsers/brave/default.nix
Owners: none

brave: 1.4.95 -> 1.4.96
  pkgs/applications/networking/browsers/brave/default.nix
Owners: none

joker: 0.14.1 -> 0.14.2
  pkgs/development/interpreters/joker/default.nix
Owners: none

jgmenu: 4.0.2 -> 4.1.0
  pkgs/applications/misc/jgmenu/default.nix
Owners: none

jruby: 9.2.10.0 -> 9.2.11.0
  pkgs/development/interpreters/jruby/default.nix
Owners: none

ibus-engines.table: 1.9.22 -> 1.9.25
  pkgs/tools/inputmethods/ibus-engines/ibus-table/default.nix
Owners: none

satallax: Fix build with GCC9
  pkgs/applications/science/logic/satallax/default.nix
  pkgs/applications/science/logic/satallax/fix-declaration-gcc9.patch
Owners: none

haproxy: 2.1.2 -> 2.1.3
  pkgs/tools/networking/haproxy/default.nix
Owners: none

mdsh: 0.3.0 -> 0.4.0
  pkgs/development/tools/documentation/mdsh/default.nix
Owners: none

gitlab: 12.8.1 -> 12.8.2
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
Owners: none

scaff: 0.1.1 -> 0.1.2
  pkgs/development/tools/scaff/default.nix
Owners: none

nixpkgs-fmt: 0.6.1 -> 0.7.0
  pkgs/tools/nix/nixpkgs-fmt/default.nix
Owners: none

procs: 0.9.11 -> 0.9.18
  pkgs/tools/admin/procs/default.nix
Owners: none

logrotate: 3.15.1 -> 3.16.0
  pkgs/tools/system/logrotate/default.nix
Owners: none

link-grammar: 5.7.0 -> 5.8.0
  pkgs/tools/text/link-grammar/default.nix
Owners: none

users.groups.disnix instead of a list
  nixos/modules/services/misc/disnix.nix
Owners: none

nixpkgs-fmt: 0.6.1 -> 0.7.0 (#81805)
  pkgs/tools/nix/nixpkgs-fmt/default.nix
Owners: none

mdsh: 0.3.0 -> 0.4.0 (#81802)
  pkgs/development/tools/documentation/mdsh/default.nix
Owners: none

zam-plugins: 3.11 -> 3.12
  pkgs/applications/audio/zam-plugins/default.nix
Owners: none
