Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @FRidh, @peti, @copumpkin, @LnL7, @gleber, @edwtjo

curl: 7.55.1 -> 7.56.0 for CVE-2017-1000254
  pkgs/tools/networking/curl/default.nix
Owners: none

curl: 7.55.1 -> 7.56.0 for CVE-2017-1000254
  pkgs/tools/networking/curl/default.nix
Owners: none

curl: 7.55.0 -> 7.55.1
  pkgs/tools/networking/curl/default.nix
Owners: none

curl: 7.55.1 -> 7.56.0 for CVE-2017-1000254
  pkgs/tools/networking/curl/default.nix
Owners: none

Add fastlane package
  pkgs/tools/admin/fastlane/Gemfile
  pkgs/tools/admin/fastlane/Gemfile.lock
  pkgs/tools/admin/fastlane/default.nix
  pkgs/tools/admin/fastlane/gemset.nix
  pkgs/top-level/all-packages.nix
Owners: none

Add david50407 into maintainers.nix
  lib/maintainers.nix
Owners: @edolstra

crystal: fix build by using the previous bootstrap
  pkgs/development/compilers/crystal/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

crystal: 0.23.0 -> 0.23.1
  pkgs/development/compilers/crystal/default.nix
Owners: none

Add myself as maintainer
  lib/maintainers.nix
  pkgs/tools/admin/fastlane/default.nix
Owners: @edolstra

ocamlPackages.ocaml-migrate-parsetree: 1.0.4 -> 1.0.5
  pkgs/development/ocaml-modules/ocaml-migrate-parsetree/default.nix
Owners: none

gmsh: 2.12.0 -> 3.0.5
  pkgs/applications/science/math/gmsh/default.nix
Owners: none

gmsh: no longer broken
  pkgs/applications/science/math/gmsh/default.nix
Owners: none

unicode: change UnicodeData.txt to stable version
  pkgs/tools/misc/unicode/default.nix
Owners: none

Shorten description
  pkgs/tools/admin/fastlane/default.nix
Owners: none

bonfire: init at 0.0.7
  pkgs/tools/misc/bonfire/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

nixos/traefik create service
  nixos/modules/module-list.nix
  nixos/modules/services/web-servers/traefik.nix
Owners: none

nixos/traefik: create /var/lib/traefik with correct permissions
  nixos/modules/services/web-servers/traefik.nix
Owners: none

vala: add 0.38.0
  pkgs/development/compilers/vala/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

amrwb: 7.1.0.3 -> 11.0.0.0
  pkgs/development/libraries/amrwb/default.nix
Owners: none

nixos/traefik: owner/group should be changed recursivly
  nixos/modules/services/web-servers/traefik.nix
Owners: none

jq: sanity check with --help
  pkgs/development/tools/jq/default.nix
Owners: none

nixos/tests: clean up pgjwt test
  nixos/tests/pgjwt.nix
Owners: none

dovecot: 2.2.27 -> 2.2.32, dovecot_pigeonhole: 0.4.10 -> 0.4.20
  pkgs/servers/mail/dovecot/default.nix
  pkgs/servers/mail/dovecot/plugins/pigeonhole/default.nix
Owners: none

gns3Packages.{server,gui}Preview: 2.1.0rc1 -> 2.1.0rc2
  pkgs/applications/networking/gns3/default.nix
Owners: none

mitmproxy: fix transitive cryptography dependency
  pkgs/tools/networking/mitmproxy/default.nix
Owners: none

nspr: 4.15 -> 4.16
  pkgs/development/libraries/nspr/default.nix
Owners: none

nss: 3.31 -> 3.32.1
  pkgs/development/libraries/nss/default.nix
Owners: none

icu4c: 58.2 -> 59.1
  pkgs/development/libraries/icu/default.nix
Owners: none

android-studio-preview: 3.0.0.14 -> 3.0.0.15
  pkgs/applications/editors/android-studio/packages.nix
Owners: none

gcolor3: init at 2.2
  pkgs/applications/graphics/gcolor3/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

xzgv: 0.9.1 -> 0.9.2
  pkgs/applications/graphics/xzgv/default.nix
  pkgs/applications/graphics/xzgv/fix-linker-paths.patch
Owners: none

pythonPackages.devpi-common: 3.0.1 -> 3.2.0rc1
  pkgs/development/python-modules/devpi-common/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

devpi-client: 2.7.0 -> 3.1.0rc1
  pkgs/development/tools/devpi-client/default.nix
Owners: none

xzgv: 0.9.1 -> 0.9.2
  pkgs/applications/graphics/xzgv/default.nix
  pkgs/applications/graphics/xzgv/fix-linker-paths.patch
Owners: none

go-ethereum: 1.7.0 -> 1.7.1
  pkgs/applications/altcoins/go-ethereum.nix
Owners: none

go-ethereum: 1.7.0 -> 1.7.1
  pkgs/applications/altcoins/go-ethereum.nix
Owners: none

nixos/traefik: guard example path
  nixos/modules/services/web-servers/traefik.nix
Owners: none

fastlane: init at 2.60.1
  lib/maintainers.nix
  pkgs/tools/admin/fastlane/Gemfile
  pkgs/tools/admin/fastlane/Gemfile.lock
  pkgs/tools/admin/fastlane/default.nix
  pkgs/tools/admin/fastlane/gemset.nix
  pkgs/top-level/all-packages.nix
Owners: @edolstra

melpa-packages: Add new lean packages
  pkgs/applications/editors/emacs-modes/melpa-generated.nix
Owners: none

go-ethereum: 1.7.0 -> 1.7.1
  pkgs/applications/altcoins/go-ethereum.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
.github/CODEOWNERS @edolstra

# Boostraping and core infra
pkgs/stdenv/    @edolstra
pkgs/build-support/cc-wrapper/  @edolstra

# Libraries
lib/  @edolstra

# Python-related code and docs
pkgs/top-level/python-packages.nix      @FRidh
pkgs/development/interpreters/python/*  @FRidh
pkgs/development/python-modules/*       @FRidh
doc/languages-frameworks/python.md      @FRidh

# Haskell
pkgs/development/compilers/ghc                       @peti
pkgs/development/haskell-modules                     @peti
pkgs/development/haskell-modules/default.nix         @peti
pkgs/development/haskell-modules/generic-builder.nix @peti
pkgs/development/haskell-modules/hoogle.nix          @peti

# R
pkgs/applications/science/math/R @peti
pkgs/development/r-modules       @peti

# Darwin-related
pkgs/stdenv/darwin/*    @copumpkin @LnL7
pkgs/os-specific/darwin/*       @LnL7
pkgs/os-specific/darwin/apple-source-releases/* @copumpkin

# Beam-related (Erlang, Elixir, LFE, etc)
pkgs/development/beam-modules/*	@gleber
pkgs/development/interpreters/erlang/*	@gleber
pkgs/development/interpreters/lfe/*	@gleber
pkgs/development/interpreters/elixir/*	@gleber
pkgs/development/tools/build-managers/rebar/*	@gleber
pkgs/development/tools/build-managers/rebar3/*	@gleber
pkgs/development/tools/erlang/*	@gleber

# Jetbrains
pkgs/applications/editors/jetbrains @edwtjo
