Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones

bazel_5: get libtool from path
  pkgs/development/tools/build-managers/bazel/bazel_5/default.nix
Owners: @Profpatsch

rebar3: 3.18.0 -> 3.19.0
  pkgs/development/tools/build-managers/rebar3/default.nix
  pkgs/development/tools/build-managers/rebar3/rebar-deps.nix
Owners: none

s3ql: 3.8.1 -> 4.0.0
  pkgs/tools/backup/s3ql/default.nix
Owners: none

{realcugan,waifu2x}-ncnn-vulkan: use symlinks instead of a patch
  pkgs/tools/graphics/realcugan-ncnn-vulkan/default.nix
  pkgs/tools/graphics/realcugan-ncnn-vulkan/models_path.patch
  pkgs/tools/graphics/waifu2x-ncnn-vulkan/default.nix
  pkgs/tools/graphics/waifu2x-ncnn-vulkan/models_path.patch
Owners: none

wdt: unstable-2022-03-24 -> unstable-2022-07-08, add updateScript
  pkgs/applications/networking/sync/wdt/default.nix
Owners: none

snakemake: 7.9.0 -> 7.12.0
  pkgs/applications/science/misc/snakemake/default.nix
Owners: none

sov: 0.71 -> 0.72
  pkgs/tools/wayland/sov/default.nix
Owners: none

spaceship-prompt: 3.16.4 -> 3.16.7
  pkgs/shells/zsh/spaceship-prompt/default.nix
Owners: none

souffle: 2.2 -> 2.3
  pkgs/development/compilers/souffle/default.nix
Owners: none

spire: 1.3.1 -> 1.3.3
  pkgs/tools/security/spire/default.nix
Owners: none

spotify-qt: 3.8 -> 3.9
  pkgs/applications/audio/spotify-qt/default.nix
Owners: none

sptlrx: 0.2.0 -> 1.0.0
  pkgs/applications/audio/sptlrx/default.nix
Owners: none

sqlc: 1.13.0 -> 1.14.0
  pkgs/development/tools/database/sqlc/default.nix
Owners: none

ssh-to-age: 1.0.1 -> 1.0.2
  pkgs/tools/security/ssh-to-age/default.nix
Owners: none

sssd: 2.7.0 -> 2.7.3
  pkgs/os-specific/linux/sssd/default.nix
Owners: none

git-delete-merged-branches: 6.4.0 -> 7.0.0
  pkgs/applications/version-management/git-and-tools/git-delete-merged-branches/default.nix
Owners: none

pdns: 4.6.2 -> 4.6.3, fix pname
  pkgs/servers/dns/pdns/default.nix
Owners: none

clash-meta: init at 1.12.0
  maintainers/maintainer-list.nix
  pkgs/tools/networking/clash-meta/default.nix
Owners: none

nixosTests.powerdns: fix test script for type checking
  nixos/tests/powerdns.nix
Owners: none

oauth2-proxy: 7.2.1 -> 7.3.0
  pkgs/servers/oauth2-proxy/default.nix
Owners: none

material-kwin-decoration: unstable-2021-10-28 -> unstable-2022-01-19, add update script
  pkgs/data/themes/material-kwin-decoration/default.nix
Owners: none

oauth2-proxy: 7.2.1 -> 7.3.0
  pkgs/servers/oauth2-proxy/default.nix
Owners: none

libtiff: get rid of aarch64-darwin.nix
  pkgs/development/libraries/libtiff/aarch64-darwin.nix
  pkgs/development/libraries/libtiff/default.nix
  pkgs/development/libraries/libtiff/headers-cmake.patch
  pkgs/top-level/all-packages.nix
Owners: none

babashka: 0.9.159 -> 0.9.160
  pkgs/development/interpreters/clojure/babashka.nix
Owners: none

cameracontroller: init at 1.4.0
  pkgs/applications/video/cameracontroller/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

python3Packages.hatchling: 1.5.0 -> 1.6.0
  pkgs/development/python-modules/hatchling/default.nix
Owners: @FRidh, @jonringer

python310Packages.glyphslib: 6.0.6 -> 6.0.7
  pkgs/development/python-modules/glyphslib/default.nix
Owners: @FRidh, @jonringer

python310Packages.statmake: Enable more tests
  pkgs/development/python-modules/statmake/default.nix
Owners: @FRidh, @jonringer

python310Packages.lark: Enable more tests
  pkgs/development/python-modules/lark/default.nix
Owners: @FRidh, @jonringer

herbstluftwm: 0.9.4 -> 0.9.5
  pkgs/applications/window-managers/herbstluftwm/default.nix
Owners: none

bitcoin: fix broken build on aarch64-darwin
  pkgs/applications/blockchains/bitcoin/default.nix
Owners: @mmahut, @RaghavSood

sonic-pi: 3.3.1 -> 4.0.3
  pkgs/applications/audio/sonic-pi/default.nix
Owners: none

buildFHSUserEnv: add /etc/alsa configuration symlink
  pkgs/build-support/build-fhs-userenv/env.nix
Owners: none

virtualbox: 6.1.34 -> 6.1.36
  pkgs/applications/virtualization/virtualbox/default.nix
  pkgs/applications/virtualization/virtualbox/extpack.nix
  pkgs/applications/virtualization/virtualbox/ffreestanding.patch
  pkgs/applications/virtualization/virtualbox/guest-additions/default.nix
Owners: none

cinnamon.bulky: 1.9 -> 2.4
  pkgs/desktops/cinnamon/bulky/default.nix
Owners: @mkg20001

xplayer: 2.4.2 -> 2.4.3
  pkgs/applications/video/xplayer/default.nix
Owners: none

cinnamon.cinnamon-menus: 5.2.0 -> 5.4.0
  pkgs/desktops/cinnamon/cinnamon-menus/default.nix
Owners: @mkg20001

cinnamon.cinnamon-session: 5.2.0 -> 5.4.0
  pkgs/desktops/cinnamon/cinnamon-session/default.nix
Owners: @mkg20001

cinnamon.xreader: 3.3.0 -> 3.4.3
  pkgs/desktops/cinnamon/xreader/default.nix
Owners: @mkg20001

cinnamon.cinnamon-translations: 5.2.0 -> 5.4.2
  pkgs/desktops/cinnamon/cinnamon-translations/default.nix
Owners: @mkg20001
