Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @Mic92, @zowoq, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @jtojnar, @FRidh, @jonringer, @cdepillabout, @volth, @stigtsp, @peti, @alyssais, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @Infinisil, @mboes, @adisbladis, @teto, @softinio, @WilliButz, @NixOS/php, @NixOS/podman, @roberth, @utdemir, @mmahut, @kalbasit

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @Mic92 @zowoq

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth @stigtsp
/pkgs/top-level/perl-packages.nix   @volth @stigtsp
/pkgs/development/perl-modules      @volth @stigtsp

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais
/pkgs/development/ruby-modules      @alyssais

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @andir @zowoq

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer
/pkgs/applications/editors/neovim      @teto

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md @NixOS/php
/nixos/tests/php                         @NixOS/php
/pkgs/build-support/build-pecl.nix       @NixOS/php
/pkgs/development/interpreters/php       @NixOS/php
/pkgs/development/php-packages           @NixOS/php
/pkgs/top-level/php-packages.nix         @NixOS/php

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @NixOS/podman @zowoq
/nixos/modules/virtualisation/cri-o.nix      @NixOS/podman @zowoq
/nixos/modules/virtualisation/podman.nix     @NixOS/podman @zowoq
/nixos/tests/cri-o.nix                       @NixOS/podman @zowoq
/nixos/tests/podman.nix                      @NixOS/podman @zowoq

# Docker tools
/pkgs/build-support/docker                   @roberth @utdemir
/nixos/tests/docker-tools-overlay.nix        @roberth
/nixos/tests/docker-tools.nix                @roberth
/doc/builders/images/dockertools.xml         @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut

# Go
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

pymupdf: 1.17.6 -> 1.18.0
  pkgs/development/python-modules/pymupdf/default.nix
Owners: @FRidh, @jonringer

mupdf: mark 1.17 as insecure but as still required as dependency
  pkgs/applications/misc/k2pdfopt/default.nix
  pkgs/applications/misc/mupdf/1.17.nix
  pkgs/applications/misc/mupdf/mupdf-1.14-shared_libs.patch
  pkgs/os-specific/linux/jfbview/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

llpp: 32 -> 33
  pkgs/applications/misc/llpp/default.nix
  pkgs/applications/misc/llpp/fix-build-bash.patch
Owners: none

mupdf: adopt post-release bugfix-patches from upstream
  pkgs/applications/misc/mupdf/default.nix
Owners: none

mupdf: 1.17.0 -> 1.18.0
  pkgs/applications/misc/mupdf/default.nix
  pkgs/applications/misc/mupdf/mupdf-1.14-shared_libs.patch
Owners: none

Add patch to avoid type inference error. https://github.com/mono/mono/pull/13109/commits/e8778a357aae57547e0b829c06b2859a5eaf9998
  pkgs/development/compilers/fsharp41/default.nix
  pkgs/development/compilers/fsharp41/fsharp-GetFileNameWithoutExtension-type-inference.patch
Owners: none

treewide: generate pulseaudio pulseDir
  nixos/modules/config/pulseaudio.nix
  pkgs/applications/audio/pulseaudio-modules-bt/default.nix
  pkgs/applications/audio/pulseaudio-modules-bt/fix-install-path.patch
  pkgs/servers/pulseaudio/default.nix
Owners: none

pulseaudio-hsphfpd: init at 2020-11-02
  pkgs/servers/pulseaudio/add-option-for-installation-sysconfdir.patch
  pkgs/servers/pulseaudio/correct-ldflags.patch
  pkgs/servers/pulseaudio/pali.nix
  pkgs/top-level/all-packages.nix
Owners: none

trezord: 2.0.29 -> 2.0.30
  pkgs/servers/trezord/default.nix
Owners: none

asterisk: Bump all packages
  pkgs/servers/asterisk/default.nix
Owners: none

google-cloud-cpp: Mark as broken
  pkgs/development/libraries/google-cloud-cpp/default.nix
Owners: none

python310: 3.10.0a1 -> 3.10.0a2
  pkgs/development/interpreters/python/cpython/3.10/no-ldconfig.patch
  pkgs/development/interpreters/python/cpython/default.nix
  pkgs/development/interpreters/python/default.nix
Owners: @FRidh

tree-sitter: make shared/static libraries configurable
  pkgs/development/tools/parsing/tree-sitter/default.nix
  pkgs/top-level/static.nix
Owners: none

tree-sitter: macOS compatibility
  pkgs/development/tools/parsing/tree-sitter/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

tree-sitter: update grammars
  pkgs/development/tools/parsing/tree-sitter/grammars/default.nix
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-cpp.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-go.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-java.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-javascript.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-python.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-ruby.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-rust.json
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-typescript.json
Owners: none

nixos/k3s: Update service to match upstream
  nixos/modules/services/cluster/k3s/default.nix
Owners: none

pijul: 0.12.0 -> 1.0.0-alpha
  pkgs/applications/version-management/pijul/default.nix
  pkgs/applications/version-management/pijul/thrussh-build-fix.patch
Owners: none

cachix: bump to 0.5.1
  pkgs/development/haskell-modules/configuration-nix.nix
Owners: @cdepillabout

arcanist: copy directly from $PWD to pick up any applied patches (#95879)
  pkgs/development/tools/misc/arcanist/default.nix
Owners: none

deno: 1.5.1 -> 1.5.2
  pkgs/development/web/deno/default.nix
Owners: none

chrysalis: init at 0.7.9
  pkgs/applications/misc/chrysalis/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

Dockapps: cleanup
  pkgs/applications/window-managers/windowmaker/dockapps/alsamixer.app.nix
  pkgs/applications/window-managers/windowmaker/dockapps/wmcalclock.nix
  pkgs/applications/window-managers/windowmaker/dockapps/wmsm.app.nix
  pkgs/applications/window-managers/windowmaker/dockapps/wmsystemtray.nix
  pkgs/top-level/all-packages.nix
Owners: none

libdockapp: init at 0.7.3
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
  pkgs/applications/window-managers/windowmaker/dockapps/libdockapp.nix
Owners: none

wmsystemtray: stay at 1.4
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
  pkgs/applications/window-managers/windowmaker/dockapps/wmsystemtray.nix
Owners: none

AlsaMixer-app: stay at 0.2.1
  pkgs/applications/window-managers/windowmaker/dockapps/AlsaMixer-app.nix
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
Owners: none

Dockapps: fetch sources
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
Owners: none

wmCalClock: stay at 1.25
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
  pkgs/applications/window-managers/windowmaker/dockapps/wmCalClock.nix
Owners: none

Dockapps: new structure
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

wmsm-app: stay at 0.2.1
  pkgs/applications/window-managers/windowmaker/dockapps/default.nix
  pkgs/applications/window-managers/windowmaker/dockapps/wmsm-app.nix
Owners: none

qt5.qtwebengine: remove dead conditions for pre 5.12 support
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

promscale: 0.1.1 -> 0.1.2
  pkgs/servers/monitoring/prometheus/promscale.nix
Owners: none

libavif: add thumbnailer
  pkgs/development/libraries/libavif/default.nix
  pkgs/development/libraries/libavif/thumbnailer
Owners: none

libavif: build gdk-pixbuf module
  pkgs/development/libraries/libavif/default.nix
Owners: none

libavif: move pixbuf loader to .gdkPixbufLoader
  pkgs/development/libraries/libavif/default.nix
Owners: none

wine{Unstable,Staging}: 5.20 -> 5.21
  pkgs/misc/emulators/wine/sources.nix
Owners: none

portfolio: 0.49.0 -> 0.49.2
  pkgs/applications/office/portfolio/default.nix
Owners: none

nixos/k3s: Add dependency on firewall.service
  nixos/modules/services/cluster/k3s/default.nix
Owners: none

batman-adv: 2020.3 -> 2020.4
  pkgs/os-specific/linux/batman-adv/version.nix
Owners: none

gcc: update to isl 0.20.0 for bootstrapping and recent versions
  pkgs/stdenv/linux/default.nix
  pkgs/stdenv/linux/make-bootstrap-tools.nix
  pkgs/top-level/all-packages.nix
Owners: none

deno: move to new installShellCompletion style
  pkgs/development/web/deno/default.nix
Owners: none
