Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

gem-config: add opus-ruby
  pkgs/development/ruby-modules/gem-config/default.nix
Owners: @alyssais, @zimbatm

Revert "meld: 3.20.0 -> 3.20.1"
  pkgs/applications/version-management/meld/default.nix
Owners: none

python.pkgs.cypari2: 2.0.3 -> 2.1.0
  pkgs/applications/science/math/sage/sage-src.nix
  pkgs/development/python-modules/cypari2/default.nix
Owners: @FRidh

unfiStable: 5.10.19 -> 5.10.20
  pkgs/servers/unifi/default.nix
Owners: none

unifi: replace erictapen as maintainer
  pkgs/servers/unifi/default.nix
Owners: none

gnome3.gitg: cleanup
  pkgs/desktops/gnome-3/misc/gitg/default.nix
Owners: none

gnome3.gitg: fix build using vala_0_42
  pkgs/desktops/gnome-3/misc/gitg/default.nix
Owners: none

vte-ng: fix build
  pkgs/development/libraries/vte/ng.nix
Owners: none

python.pkgs.cypari2: 2.0.3 -> 2.1.0 (#59085)
  pkgs/applications/science/math/sage/sage-src.nix
  pkgs/development/python-modules/cypari2/default.nix
Owners: @FRidh

pythonPackages.pyscard: fix darwin tests
  pkgs/development/python-modules/pyscard/default.nix
Owners: @FRidh

fanficfare: 3.1.1 -> 3.6.0
  pkgs/tools/text/fanficfare/default.nix
Owners: none

ibus 1.5.17 -> 1.5.20
  pkgs/tools/inputmethods/ibus/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

oh-my-zsh: Add update script
  pkgs/shells/zsh/oh-my-zsh/update.sh
Owners: none

oh-my-zsh: Move rev outside src
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

oh-my-zsh: 2019-01-15 -> 2019-04-04
  pkgs/shells/zsh/oh-my-zsh/default.nix
Owners: none

update-source-version: Fixes, add --ignore-same-hash
  pkgs/common-updater/scripts/update-source-version
Owners: none

pantheon.elementary-greeter: hardcode elementary theme
  pkgs/desktops/pantheon/desktop/elementary-greeter/default.nix
  pkgs/desktops/pantheon/desktop/elementary-greeter/hardcode-theme.patch
Owners: none

pantheon.elementary-greeter: correct substituteAll
  pkgs/desktops/pantheon/desktop/elementary-greeter/default.nix
  pkgs/desktops/pantheon/desktop/elementary-greeter/gsd.patch
Owners: none

shotcut: 18.12.23 -> 19.02.28 (#56875)
  pkgs/applications/video/shotcut/default.nix
Owners: none

pantheon.elementary-greeter: correct substituteAll
  pkgs/desktops/pantheon/desktop/elementary-greeter/default.nix
  pkgs/desktops/pantheon/desktop/elementary-greeter/gsd.patch
Owners: none

pantheon.elementary-greeter: hardcode elementary theme
  pkgs/desktops/pantheon/desktop/elementary-greeter/default.nix
  pkgs/desktops/pantheon/desktop/elementary-greeter/hardcode-theme.patch
Owners: none

cassandra: Wrap new binaries
  pkgs/servers/nosql/cassandra/generic.nix
Owners: none

deepin.qcef: init at 1.1.4.6
  pkgs/desktops/deepin/default.nix
  pkgs/desktops/deepin/qcef/default.nix
Owners: none

libndctl: 63 -> 64.1
  pkgs/development/libraries/libndctl/default.nix
Owners: none

cryptol: fix, rework cryptol 2.6.0 builds
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
  pkgs/top-level/all-packages.nix
Owners: @basvandijk

vips: 8.7.0 -> 8.7.4
  pkgs/tools/graphics/vips/default.nix
Owners: none

youtube-dl: 2019.04.01 -> 2019.04.07
  pkgs/tools/misc/youtube-dl/default.nix
Owners: none

joplin-desktop: 1.0.140 -> 1.0.142
  pkgs/applications/misc/joplin-desktop/default.nix
Owners: none

joplin-desktop: wrap to avoid crashing due to lack of schemas
  pkgs/applications/misc/joplin-desktop/default.nix
Owners: none

nodePackages.joplin: init, cli note-taking app
  pkgs/development/node-packages/default-v10.nix
  pkgs/development/node-packages/node-packages-v10.json
Owners: none

nodePackages: update (regen via generate.sh)
  pkgs/development/node-packages/node-packages-v10.nix
  pkgs/development/node-packages/node-packages-v6.nix
  pkgs/development/node-packages/node-packages-v8.nix
Owners: none

joplin: top-level \o/
  pkgs/top-level/all-packages.nix
Owners: none

youtube-dl: 2019.04.01 -> 2019.04.07
  pkgs/tools/misc/youtube-dl/default.nix
Owners: none

youtube-dl: 2019.04.01 -> 2019.04.07
  pkgs/tools/misc/youtube-dl/default.nix
Owners: none

Merge #59036: wget: 1.20.1 -> 1.20.3 (SECURITY)
  pkgs/tools/networking/wget/default.nix
Owners: none

Merge #59036: wget: 1.20.1 -> 1.20.3 (SECURITY)
  pkgs/tools/networking/wget/default.nix
Owners: none

persepolis: init at 3.1.0
  pkgs/tools/networking/persepolis/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

Merge #57711: go: 1.11.5 -> 1.11.6
  pkgs/development/compilers/go/1.11.nix
  pkgs/development/compilers/go/ssl-cert-file-1.12.1.patch
Owners: none

mcos-xfce-edition: init at 8d90e10
  pkgs/data/themes/mcos-xfce-edition/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

mcos-dark-xfce-edition: init at f0ec359
  pkgs/data/themes/mcos-dark-xfce-edition/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch
