Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee

postage: replaced by pgmanage-10.0.2
  nixos/modules/module-list.nix
  nixos/modules/services/databases/pgmanage.nix
  nixos/release.nix
  nixos/tests/pgmanage.nix
  pkgs/applications/misc/pgmanage/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Owners: none

nixborg: 2017-10-29 -> 2017-11-04, rename from nixbot
  nixos/doc/manual/release-notes/rl-1703.xml
  nixos/modules/module-list.nix
  nixos/modules/services/web-apps/nixborg.nix
  nixos/modules/services/web-apps/nixbot.nix
  pkgs/tools/misc/nixborg/default.nix
  pkgs/tools/misc/nixbot/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/release-mf.nix
Owners: none

hyp: move expression out python-packages.nix
  pkgs/servers/http/hyp/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

fdm: 1.8 -> 1.9.0.20170124
  pkgs/tools/networking/fdm/default.nix
Owners: none

tcpflow: fix build
  pkgs/tools/networking/tcpflow/default.nix
Owners: none

textadept: fix build
  pkgs/applications/editors/textadept/default.nix
Owners: none

openrct2: fix build
  pkgs/games/openrct2/default.nix
Owners: none

mawk: 1.3.4-20161120 -> 1.3.4-20171017
  pkgs/tools/text/mawk/default.nix
Owners: none

tilix: 1.6.4 -> 1.7.1
  pkgs/applications/misc/tilix/default.nix
Owners: none

services.xserver: assert that either desktop- or window manager is not "none"
  nixos/doc/manual/release-notes/rl-1803.xml
  nixos/modules/services/x11/desktop-managers/default.nix
  nixos/modules/services/x11/xserver.nix
Owners: none

synergy: track upstream repository name change.
  pkgs/applications/misc/synergy/default.nix
Owners: none

jruby: 9.1.12.0 -> 9.1.13.0
  pkgs/development/interpreters/jruby/default.nix
Owners: none

mawk: 1.3.4-20161120 -> 1.3.4-20171017
  pkgs/tools/text/mawk/default.nix
Owners: none

nixos-prepare-root: chmod if dir already exists
  nixos/modules/installer/tools/nixos-prepare-root.sh
Owners: none

nixpkgs manual : clearer meta.platforms description
  doc/meta.xml
Owners: none

ultrastardx: fix build
  pkgs/top-level/all-packages.nix
Owners: none

lame: prevent build failure from using outdated symbol list
  pkgs/development/libraries/lame/default.nix
Owners: none

wireguard: add support for default routing
  nixos/modules/services/networking/wireguard.nix
  pkgs/os-specific/linux/wireguard/default.nix
  pkgs/os-specific/linux/wireguard/wg-default.sh
Owners: none

gawk: 4.1.4 -> 4.2.0
  pkgs/tools/text/gawk/default.nix
Owners: none

nixbot: 2016-10-09 -> 2017-10-29
  nixos/modules/services/web-apps/nixbot.nix
  pkgs/tools/misc/nixbot/default.nix
Owners: none

nixborg: 2017-10-29 -> 2017-11-04, rename from nixbot
  nixos/doc/manual/release-notes/rl-1703.xml
  nixos/modules/module-list.nix
  nixos/modules/services/web-apps/nixborg.nix
  nixos/modules/services/web-apps/nixbot.nix
  pkgs/tools/misc/nixborg/default.nix
  pkgs/tools/misc/nixbot/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

graphite: override django and django_tagging
  nixos/modules/services/monitoring/graphite.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

ocamlPackages.sexplib: 0.9.2 -> 0.9.3
  pkgs/development/ocaml-modules/janestreet/default.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

wxGTK-{2.9,3.0}: apply an upstream patch
  pkgs/development/libraries/wxwidgets/2.9/default.nix
  pkgs/development/libraries/wxwidgets/3.0/default.nix
Owners: none

ocamlPackages.base: 0.9.3 -> 0.9.4
  pkgs/development/ocaml-modules/janestreet/default.nix
Owners: none

ocamlPackages.stdio: 0.9.0 -> 0.9.1
  pkgs/development/ocaml-modules/janestreet/default.nix
Owners: none

stdenv.lib.maintainers: add c0bw3b
  lib/maintainers.nix
Owners: @edolstra, @nbp

nsjail: 2.1 -> 2.2
  pkgs/tools/security/nsjail/default.nix
Owners: none

ghc: add 8.2.2-rc2
  pkgs/development/compilers/ghc/8.2.2.nix
  pkgs/top-level/haskell-packages.nix
Owners: @peti

elixir: 1.5.1 -> 1.5.2
  pkgs/development/interpreters/elixir/1.5.nix
Owners: @gleber

pgpdump: Add support for compressed data packets
  pkgs/tools/security/pgpdump/default.nix
Owners: none

acl2: 6.5 -> 7.4, refactor
  lib/maintainers.nix
  pkgs/development/interpreters/acl2/default.nix
  pkgs/top-level/all-packages.nix
Owners: @edolstra, @nbp

sbcl: remove old versions 1.2.0, 1.3.12
  pkgs/development/compilers/sbcl/1.2.0.nix
  pkgs/development/compilers/sbcl/1.3.12.nix
  pkgs/top-level/all-packages.nix
Owners: none

fetchipfs: init
  pkgs/applications/misc/hello/default.nix
  pkgs/build-support/fetchipfs/builder.sh
  pkgs/build-support/fetchipfs/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

adapta-gtk-theme: 3.91.2.147 -> 3.92.1.72
  pkgs/misc/themes/adapta/default.nix
Owners: none

ocamlPackages.ocaml-migrate-parsetree: 1.0.5 -> 1.0.7
  pkgs/development/ocaml-modules/ocaml-migrate-parsetree/default.nix
Owners: none

Revert "services.xserver: assert that either desktop- or window manager is not "none""
  nixos/doc/manual/release-notes/rl-1803.xml
  nixos/modules/services/x11/desktop-managers/default.nix
  nixos/modules/services/x11/xserver.nix
Owners: none

hubstaff: init at 1.2.14
  pkgs/applications/misc/hubstaff/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

subsurface: 4.6.0 -> 4.7.2
  pkgs/applications/misc/subsurface/default.nix
Owners: none

dump1090: init at 2014-10-31
  pkgs/applications/misc/dump1090/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Boostraping and core infra
/pkgs/stdenv                    @edolstra
/pkgs/build-support/cc-wrapper  @edolstra

# Libraries
/lib                        @edolstra @nbp

# Nixpkgs Internals
/default.nix                @nbp
/pkgs/top-level/default.nix @nbp
/pkgs/top-level/impure.nix  @nbp
/pkgs/top-level/stage.nix   @nbp

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee
