Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

hoogle: fix http-conduit dependency for new version
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

git-annex: update hash for new version
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

mathematica: enable installation of localized editions
  pkgs/applications/science/math/mathematica/default.nix
  pkgs/applications/science/math/mathematica/l10ns.nix
Owners: none

ghc841: GHC 8.4.1: nix-shell -p haskell.compiler.ghc841
  pkgs/development/compilers/ghc/8.4.1.nix
  pkgs/development/haskell-modules/configuration-ghc-8.4.x.nix
  pkgs/top-level/haskell-packages.nix
Owners: @peti

linuxPackages.openafs: 1.6.21.1 -> 1.6.22.1 (fixes build with kernel >=4.14)
  pkgs/servers/openafs-client/default.nix
Owners: none

linuxPackages.v4l2loopback: fix compilation with linux-4.14
  pkgs/os-specific/linux/v4l2loopback/default.nix
Owners: none

linuxPackages.phc-intel: fix build with linux-4.14
  pkgs/os-specific/linux/phc-intel/default.nix
Owners: none

linuxPackages.vhba: use kernel.moduleBuildDependencies instead of hardcoding libelf
  pkgs/misc/emulators/cdemu/vhba.nix
Owners: none

linuxPackages.openafs: 1.6.21.1 -> 1.6.22.1 (fixes build with kernel >=4.14)
  pkgs/servers/openafs-client/default.nix
Owners: none

linuxPackages.dpdk: needs libelf from kernel.moduleBuildDependencies
  pkgs/os-specific/linux/dpdk/default.nix
Owners: none

linuxPackages.v4l2loopback: fix compilation with linux-4.14
  pkgs/os-specific/linux/v4l2loopback/default.nix
Owners: none

linuxPackages.vhba: fix compilation with linux-4.14
  pkgs/misc/emulators/cdemu/vhba.nix
Owners: none

linuxPackages.phc-intel: fix build with linux-4.14
  pkgs/os-specific/linux/phc-intel/default.nix
Owners: none

fetchFromGitHub: Revert to the original version
  pkgs/top-level/all-packages.nix
Owners: none

libvirt: add qemu to PATH for libvirtd
  pkgs/development/libraries/libvirt/default.nix
Owners: none

libvirt: add myself to maintainers
  lib/maintainers.nix
  pkgs/development/libraries/libvirt/default.nix
Owners: @ghost

apparmor: updating utilities to fresh python
  pkgs/os-specific/linux/apparmor/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

supertuxkart: 0.9.2 -> 0.9.3
  pkgs/games/super-tux-kart/default.nix
Owners: none

mapsplotlib: init at 1.0.6
  pkgs/top-level/python-packages.nix
Owners: @FRidh

mapsplotlib: disable for python3
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pythonPackages.netaddr: fix patch hash
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pngquant: change platforms from linux to unix
  pkgs/tools/graphics/pngquant/default.nix
Owners: none

docker: Fix build after containerd update
  pkgs/applications/virtualization/docker/default.nix
Owners: none

nixos/libvirtd: add qemu-img to $PATH of the daemon
  nixos/modules/virtualisation/libvirtd.nix
Owners: none

diff_cover: init at 1.0.2
  pkgs/development/python-modules/diff_cover/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

jinja2_pluralize: init at 0.3.0
  pkgs/development/python-modules/jinja2_pluralize/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

pydocstyle: init at 0.3.2
  pkgs/development/python-modules/pydocstyle/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

Revert "fetchFromGitHub: Revert to the original version"
  pkgs/top-level/all-packages.nix
Owners: none

minio: 2018-01-02T23-07-00Z -> 2018-01-18T20-33-21Z
  pkgs/servers/minio/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel
