Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @FRidh, @peti, @copumpkin, @LnL7, @gleber, @edwtjo

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
.github/CODEOWNERS @edolstra

# Boostraping and core infra
pkgs/stdenv/    @edolstra
pkgs/build-support/cc-wrapper/  @edolstra

# Libraries
lib/  @edolstra

# Python-related code and docs
pkgs/top-level/python-packages.nix      @FRidh
pkgs/development/interpreters/python/*  @FRidh
pkgs/development/python-modules/*       @FRidh
doc/languages-frameworks/python.md      @FRidh

# Haskell
pkgs/development/compilers/ghc                       @peti
pkgs/development/haskell-modules                     @peti
pkgs/development/haskell-modules/default.nix         @peti
pkgs/development/haskell-modules/generic-builder.nix @peti
pkgs/development/haskell-modules/hoogle.nix          @peti

# R
pkgs/applications/science/math/R @peti
pkgs/development/r-modules       @peti

# Darwin-related
pkgs/stdenv/darwin/*    @copumpkin @LnL7
pkgs/os-specific/darwin/*       @LnL7
pkgs/os-specific/darwin/apple-source-releases/* @copumpkin

# Beam-related (Erlang, Elixir, LFE, etc)
pkgs/development/beam-modules/*	@gleber
pkgs/development/interpreters/erlang/*	@gleber
pkgs/development/interpreters/lfe/*	@gleber
pkgs/development/interpreters/elixir/*	@gleber
pkgs/development/tools/build-managers/rebar/*	@gleber
pkgs/development/tools/build-managers/rebar3/*	@gleber
pkgs/development/tools/erlang/*	@gleber

# Jetbrains
pkgs/applications/editors/jetbrains @edwtjo

axoloti: init at 1.0.12-1
  lib/maintainers.nix
  pkgs/applications/audio/axoloti/default.nix
  pkgs/applications/audio/axoloti/dfu-util.nix
  pkgs/applications/audio/axoloti/libusb1.nix
  pkgs/top-level/all-packages.nix
Owners: @edolstra

axoloti: fix evaluation
  pkgs/applications/audio/axoloti/default.nix
Owners: none

caneda: git-2012-02-16 -> 0.3.1
  pkgs/applications/science/electronics/caneda/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

ardour: 5.11 -> 5.12
  pkgs/applications/audio/ardour/default.nix
Owners: none

sbcl: 1.3.21 -> 1.4.0
  pkgs/development/compilers/sbcl/default.nix
Owners: none

emby: 3.2.32.0 -> 3.2.33.0
  pkgs/servers/emby/default.nix
Owners: none

vagrant: fix Ruby and libffi libraries on Darwin
  pkgs/development/tools/vagrant/default.nix
Owners: none

jansson-2.9 -> jansson-2.10
  pkgs/development/libraries/jansson/default.nix
Owners: none

snowman: 2017-07-22 -> 2017-08-13
  pkgs/development/tools/analysis/snowman/default.nix
Owners: none

gnome3.pomodoro: 0.11.2 → 0.13.3
  pkgs/desktops/gnome-3/misc/pomodoro/default.nix
Owners: none

jwm: 1621 -> 1651
  pkgs/applications/window-managers/jwm/default.nix
Owners: none

curl: fix clang build
  pkgs/tools/networking/curl/default.nix
Owners: none

terraform: 0.10.2 -> 0.10.7 (#30055)
  pkgs/applications/networking/cluster/terraform/default.nix
  pkgs/applications/networking/cluster/terraform/providers/data.nix
Owners: none

curl: fix clang build
  pkgs/tools/networking/curl/default.nix
Owners: none

keybase-gui: 1.0.25 -> 1.0.33
  pkgs/tools/security/keybase-gui/default.nix
Owners: none

elixir: Fix locale problem on NixOS
  pkgs/development/interpreters/elixir/generic-builder.nix
Owners: @gleber

keybase: 1.0.30 -> 1.0.33
  pkgs/tools/security/keybase/default.nix
Owners: none

chirp: 20170311 -> 20170714
  pkgs/applications/misc/chirp/default.nix
Owners: none

go: 1.8.3 -> 1.8.4
  pkgs/development/compilers/go/1.8.nix
Owners: none

go: 1.9 -> 1.9.1
  pkgs/development/compilers/go/1.9.nix
Owners: none

devtodo: init at 0.1.20
  pkgs/development/tools/devtodo/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

simple-scan: move to gnome3 package set
  pkgs/desktops/gnome-3/core/simple-scan/default.nix
  pkgs/desktops/gnome-3/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

gnome3.simple-scan: move src to a separate file
  pkgs/desktops/gnome-3/core/simple-scan/default.nix
  pkgs/desktops/gnome-3/core/simple-scan/src.nix
Owners: none

fscrypt: 0.2.1 -> 0.2.2
  pkgs/os-specific/linux/fscrypt/default.nix
Owners: none

libxdg-basedir: 1.0.2 -> 1.2.0
  pkgs/development/libraries/libxdg-basedir/default.nix
Owners: none

Mathematica: 11.0.1 -> 11.2.0
  pkgs/applications/science/math/mathematica/default.nix
Owners: none

declarative containers: improve example config
  nixos/modules/virtualisation/containers.nix
Owners: none

kbfs: 20170922.f76290 -> 20171004.70800d
  pkgs/tools/security/kbfs/default.nix
Owners: none

keybase: 1.0.30 -> 1.0.33
  pkgs/tools/security/keybase/default.nix
Owners: none

spotify: 1.0.64.401.g9d720389-21 -> 1.0.64.407.g9bd02c2d-26
  pkgs/applications/audio/spotify/default.nix
Owners: none

keybase-gui: 1.0.25-20170714172717.73f9070 -> 1.0.33-20171003193427.d9ceb86ac
  pkgs/tools/security/keybase-gui/default.nix
Owners: none

packer: 1.0.3 -> 1.1.0
  pkgs/development/tools/packer/default.nix
  pkgs/development/tools/packer/deps.nix
Owners: none

kbfs: 20170922.f76290 -> 20171004.40555d
  pkgs/tools/security/kbfs/default.nix
Owners: none

firefox-beta-bin: 57.0b4 -> 57.0b5
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
Owners: none

Mathematica: 11.0.1 -> 11.2.0
  pkgs/applications/science/math/mathematica/default.nix
Owners: none

emby: 3.2.32.0 -> 3.2.33.0
  pkgs/servers/emby/default.nix
Owners: none

go: 1.9 -> 1.9.1
  pkgs/development/compilers/go/1.9.nix
Owners: none

go: 1.8.3 -> 1.8.4
  pkgs/development/compilers/go/1.8.nix
Owners: none

ocamlPackages.react: 1.2.0 -> 1.2.1
  pkgs/development/ocaml-modules/eliom/default.nix
  pkgs/development/ocaml-modules/lambda-term/1.6.nix
  pkgs/development/ocaml-modules/lwt/default.nix
  pkgs/development/ocaml-modules/lwt_react/default.nix
  pkgs/development/ocaml-modules/ocsigen-server/default.nix
  pkgs/development/ocaml-modules/ojquery/default.nix
  pkgs/development/ocaml-modules/react/default.nix
  pkgs/development/ocaml-modules/reactivedata/default.nix
  pkgs/development/ocaml-modules/zed/default.nix
  pkgs/development/tools/ocaml/utop/default.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

ntk: 2017-04-22 -> 1.3.1000
  pkgs/development/libraries/audio/ntk/default.nix
Owners: none
