Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @Ericson2314, @FRidh, @peti, @zimbatm, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel

Revert "perf: inherit makeFlags from kernel"
  pkgs/os-specific/linux/kernel/perf.nix
Owners: none

perf: fix cross evaluation
  pkgs/os-specific/linux/kernel/perf.nix
Owners: none

haskell-ide-engine: Fix build in sandbox
  pkgs/development/haskell-modules/hie-packages.nix
Owners: @peti

fetchpatch: Add support for an arbitrary extra prefix
  pkgs/build-support/fetchpatch/default.nix
  pkgs/development/libraries/libstdc++5/default.nix
  pkgs/development/libraries/pcre2/default.nix
Owners: none

pytest-httpbin: 0.2.3 -> 0.3.0
  pkgs/development/python-modules/pytest-httpbin/default.nix
Owners: @FRidh

httpbin: patch to fix test failures when used as dependency
  pkgs/development/python-modules/httpbin/default.nix
Owners: @FRidh

python-modules: fix httpbin by adding missing deps (!)
  pkgs/development/python-modules/crayons/default.nix
  pkgs/development/python-modules/flask-common/default.nix
  pkgs/development/python-modules/flask-limiter/default.nix
  pkgs/development/python-modules/httpbin/default.nix
  pkgs/development/python-modules/limits/default.nix
  pkgs/development/python-modules/maya/default.nix
  pkgs/development/python-modules/meinheld/default.nix
  pkgs/development/python-modules/pendulum/default.nix
  pkgs/development/python-modules/pytzdata/default.nix
  pkgs/development/python-modules/raven/default.nix
  pkgs/development/python-modules/whitenoise/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

python: remove 'name' attributes for modules touched in previous commits
  pkgs/development/python-modules/crayons/default.nix
  pkgs/development/python-modules/flask-common/default.nix
  pkgs/development/python-modules/flask-limiter/default.nix
  pkgs/development/python-modules/httpbin/default.nix
  pkgs/development/python-modules/limits/default.nix
  pkgs/development/python-modules/maya/default.nix
  pkgs/development/python-modules/meinheld/default.nix
  pkgs/development/python-modules/pendulum/default.nix
  pkgs/development/python-modules/pytest-httpbin/default.nix
  pkgs/development/python-modules/pytzdata/default.nix
  pkgs/development/python-modules/raven/default.nix
  pkgs/development/python-modules/whitenoise/default.nix
Owners: @FRidh

dnsmasq module: test config on system build
  nixos/modules/services/networking/dnsmasq.nix
Owners: none

webkitgtk: 2.18.4 -> 2.18.5
  pkgs/development/libraries/webkitgtk/2.18.nix
Owners: none

leiningen: 2.7.1 -> 2.8.1
  pkgs/development/tools/build-managers/leiningen/default.nix
Owners: none

webkitgtk: 2.18.4 -> 2.18.5
  pkgs/development/libraries/webkitgtk/2.18.nix
Owners: none

leiningen: 2.7.1 -> 2.8.1
  pkgs/development/tools/build-managers/leiningen/default.nix
Owners: none

keep i686 but add osx
  pkgs/development/interpreters/pixie/default.nix
  pkgs/development/interpreters/pixie/dust.nix
Owners: none

xcbuild: 0.1.1 -> 0.1.2-pre
  pkgs/development/tools/xcbuild/default.nix
  pkgs/development/tools/xcbuild/platform.nix
  pkgs/development/tools/xcbuild/return-false.patch
Owners: none

samba: 4.6.11 -> 4.7.4
  pkgs/servers/samba/4.x.nix
Owners: none

ldb: 1.1.27 -> 1.3.1
  pkgs/development/libraries/ldb/default.nix
Owners: none

nvidia-x11: 384.98 -> 384.111
  pkgs/os-specific/linux/nvidia-x11/default.nix
Owners: none

bustle: re-enable hgettext support
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @peti

containerd: 0.2.9 -> 1.0.1
  pkgs/applications/virtualization/containerd/default.nix
Owners: none

Move packageSourceOverrides to haskellLib
  pkgs/development/haskell-modules/lib.nix
  pkgs/development/haskell-modules/make-package-set.nix
Owners: @peti

wine-stable: 2.0.3 -> 3.0
  pkgs/misc/emulators/wine/sources.nix
Owners: none

minio: 2018-01-02T23-07-00Z -> 2018-01-18T20-33-21Z
  pkgs/servers/minio/default.nix
Owners: none

hdparm: 9.52 -> 9.53
  pkgs/os-specific/linux/hdparm/default.nix
Owners: none

samba: apply patch mailinglist, which fixes `#ifdef` boundaries
  pkgs/servers/samba/4.x.nix
  pkgs/servers/samba/patch-source3__libads__kerberos_keytab.c.patch
Owners: none

gdbgui: 0.9.1.0 -> 0.10.1.0
  pkgs/development/tools/misc/gdbgui/default.nix
  pkgs/development/tools/misc/gdbgui/requirements.nix
Owners: none

wine-stable: 2.0.3 -> 3.0
  pkgs/misc/emulators/wine/sources.nix
Owners: none

Revert "wireshark-gtk: Fix build"
  pkgs/applications/networking/sniffers/wireshark/default.nix
  pkgs/applications/networking/sniffers/wireshark/no-qt4.patch
Owners: none

wireshark-gtk: explicitly disable the Qt build when building Gtk
  pkgs/applications/networking/sniffers/wireshark/default.nix
Owners: none

wireshark: en- & disable Gtk/Qt separately
  pkgs/applications/networking/sniffers/wireshark/default.nix
Owners: none

pixie: name binary `pixie` and allow macOS build
  pkgs/development/interpreters/pixie/default.nix
  pkgs/development/interpreters/pixie/dust.nix
Owners: none

pixie: add maintainer
  pkgs/development/interpreters/pixie/default.nix
Owners: none

cargo-vendor: 0.1.12 -> 0.1.13
  pkgs/build-support/rust/cargo-vendor.nix
Owners: none

rustPlatform: use `cargo vendor` config output
  pkgs/build-support/rust/default.nix
  pkgs/build-support/rust/fetchcargo.nix
  pkgs/development/compilers/rust/default.nix
Owners: none

nixos/release.nix: Clean some syntax
  nixos/release.nix
Owners: none

nixos/release.nix: More refactoring for multi-arch
  nixos/release-combined.nix
  nixos/release.nix
Owners: none

nixos/release.nix: Add preferLocalBuild to makeNetboot result
  nixos/release.nix
Owners: none

akonadi: Fixes build
  pkgs/applications/kde/akonadi/default.nix
Owners: @ttuegel

calligra: Fixes build
  pkgs/applications/office/calligra/default.nix
Owners: none

rPackages.data_table: OpenMP support on Darwin
  pkgs/development/r-modules/default.nix
Owners: @peti

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @edolstra @nbp @ericson2314

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314
/pkgs/stdenv                          @edolstra
/pkgs/build-support/cc-wrapper        @edolstra @Ericson2314
/pkgs/build-support/bintools-wrapper  @edolstra @Ericson2314
/pkgs/build-support/setup-hooks       @edolstra @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# Python-related code and docs
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @peti
/pkgs/development/haskell-modules                     @peti
/pkgs/development/haskell-modules/default.nix         @peti
/pkgs/development/haskell-modules/generic-builder.nix @peti
/pkgs/development/haskell-modules/hoogle.nix          @peti

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @zimbatm
/pkgs/development/ruby-modules      @zimbatm

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/maintainers.nix @ghost
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel
