Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

sqlcipher: 4.0.1 -> 4.1.0 (#58890)
  pkgs/development/libraries/sqlcipher/default.nix
Owners: none

sigil: 0.9.12 -> 0.9.13 (#58880)
  pkgs/applications/editors/sigil/default.nix
Owners: none

serviio: 1.9 -> 1.10.1 (#58879)
  pkgs/servers/serviio/default.nix
Owners: none

scid-vs-pc: 4.19 -> 4.20 (#58877)
  pkgs/games/scid-vs-pc/default.nix
Owners: none

codimd: build with nodejs-8_x
  pkgs/servers/web-apps/codimd/CodeMirror/default.nix
  pkgs/servers/web-apps/codimd/CodeMirror/generate.sh
  pkgs/servers/web-apps/codimd/CodeMirror/node-packages.nix
  pkgs/servers/web-apps/codimd/CodeMirror/node.nix
  pkgs/servers/web-apps/codimd/default.nix
  pkgs/servers/web-apps/codimd/deps.json
  pkgs/servers/web-apps/codimd/generate.sh
  pkgs/servers/web-apps/codimd/js-sequence-diagrams/default.nix
  pkgs/servers/web-apps/codimd/node-packages.nix
  pkgs/servers/web-apps/codimd/node.nix
Owners: none

gmrender-resurrect: mark as broken (#59114)
  pkgs/tools/networking/gmrender-resurrect/default.nix
Owners: none

zsh-prezto: 2017-12-03 -> 2019-03-18
  pkgs/shells/zsh/zsh-prezto/default.nix
Owners: none

transcribe: mark as broken
  pkgs/applications/audio/transcribe/default.nix
Owners: none

i3blocks: 1.4 -> unstable-2019-05-07 (#59099)
  pkgs/applications/window-managers/i3/blocks.nix
Owners: none

Merge #58589: openblas: fix aarch64 build
  pkgs/development/libraries/science/math/openblas/default.nix
Owners: none

Merge #58456: pythonPackages.grpcio: fix build on Darwin
  pkgs/development/python-modules/grpcio/default.nix
Owners: @FRidh

plex: 1.15.2.793 -> 1.15.3.876
  pkgs/servers/plex/default.nix
Owners: none

R: fix regression from commit cbade453 #58989
  pkgs/applications/science/math/R/default.nix
Owners: @peti

pythonPackages.jsbeautifier: 1.8.9 -> 1.9.1
  pkgs/development/python-modules/jsbeautifier/default.nix
Owners: @FRidh

pythonPackages.jsbeautifier: fix build (#58608)
  pkgs/development/python-modules/jsbeautifier/default.nix
Owners: @FRidh

transcribe: mark as broken (#59117)
  pkgs/applications/audio/transcribe/default.nix
Owners: none

nomachine-client: 6.5.6 -> 6.6.8
  pkgs/tools/admin/nomachine-client/default.nix
Owners: none

deepin.deepin-turbo: init at 0.0.2
  pkgs/desktops/deepin/deepin-turbo/default.nix
  pkgs/desktops/deepin/default.nix
Owners: none

deepin: setup hook grep with '-a'
  pkgs/desktops/deepin/setup-hook.sh
Owners: none

kubernetes: 1.13.5 -> 1.14.0
  pkgs/applications/networking/cluster/kubernetes/default.nix
Owners: none

checkstyle: 8.18 -> 8.19
  pkgs/development/tools/analysis/checkstyle/default.nix
Owners: none

entr: 4.1 -> 4.2
  pkgs/tools/misc/entr/default.nix
Owners: none

jasper: 2.0.14 -> 2.0.16
  pkgs/development/libraries/jasper/default.nix
Owners: none

haskellPackages.yesod-markdown: jailbreak
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @basvandijk

haskellPackages.yesod-markdown: jailbreak
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @basvandijk

xfce panel plugins: Remove me as maintainer
  pkgs/desktops/xfce/panel-plugins/xfce4-mailwatch-plugin.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-mpc-plugin.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-timer-plugin.nix
Owners: none

Merge #59126: xfce panel plugins: Remove me as maintainer
  pkgs/desktops/xfce/panel-plugins/xfce4-mailwatch-plugin.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-mpc-plugin.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-timer-plugin.nix
Owners: none

google-cloud-sdk: 222.0.0 -> 241.0.0
  pkgs/tools/admin/google-cloud-sdk/default.nix
Owners: none

ocamlPackages.uri: 1.9.6 -> 2.2.0
  pkgs/development/ocaml-modules/uri/default.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

ocamlPackages.cohttp: 1.1.1 -> 2.0.0
  pkgs/development/ocaml-modules/cohttp/default.nix
  pkgs/development/ocaml-modules/cohttp/lwt.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

curl: 7.64.0 -> 7.64.1 (#58659)
  pkgs/tools/networking/curl/default.nix
Owners: none

qogir-theme: 2019-03-10 -> 2019-04-07
  pkgs/data/themes/qogir/default.nix
Owners: none

electron: 4.1.3 -> 4.1.4 (#59039)
  pkgs/development/tools/electron/default.nix
Owners: none

dropbox-cli: replace python by python3 (#59115)
  pkgs/applications/networking/dropbox/cli.nix
Owners: none

libpqxx: 6.4.2 -> 6.4.3 (#59035)
  pkgs/development/libraries/libpqxx/default.nix
Owners: none

teamspeak_server: 3.6.1 -> 3.7.1 (#59116)
  pkgs/applications/networking/instant-messengers/teamspeak/server.nix
Owners: none

qogir-theme: 2019-03-10 -> 2019-04-07 (#59133)
  pkgs/data/themes/qogir/default.nix
Owners: none

fuse3: use /etc/fuse.conf for configuration (#59043)
  pkgs/os-specific/linux/fuse/fuse3-install.patch
Owners: none

rl-1903: Document sway update and aarch64 UEFI image
  nixos/doc/manual/release-notes/rl-1903.xml
Owners: none

rl-1903: list new modules
  nixos/doc/manual/release-notes/rl-1903.xml
Owners: none
