Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @NixOS/Security, @Mic92, @zowoq, @FRidh, @nbp, @infinisil, @alyssais, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @layus, @lassulus, @fricklerhandwerk, @jtojnar, @ryantm, @dasJ, @tfc, @NixOS/systemd, @jonringer, @adisbladis, @cdepillabout, @sternenseemann, @maralorn, @stigtsp, @zakame, @jbedo, @marsam, @LnL7, @mweinelt, @edwtjo, @ttuegel, @thoughtpolice, @joachifm, @Gabriella439, @ehmry, @Infinisil, @peti, @teto, @WilliButz, @aanderse, @etu, @globin, @ma27, @talyz, @roberth, @mmahut, @RaghavSood, @kalbasit, @piegamesde, @mkg20001, @IvarWithoutBones

python310Packages.validobj: 0.5.1 -> 0.6
  pkgs/development/python-modules/validobj/default.nix
Owners: @FRidh, @jonringer

openvscode-server: 1.66.0 -> 1.69.2
  pkgs/servers/openvscode-server/default.nix
Owners: none

python3Packages.tpm2-pytss: add missing pyyaml dependency
  pkgs/development/python-modules/tpm2-pytss/default.nix
Owners: @FRidh, @jonringer

tpm2-pkcs11: fix build
  pkgs/misc/tpm2-pkcs11/default.nix
Owners: none

python310Packages.validobj: 0.5.1 -> 0.6
  pkgs/development/python-modules/validobj/default.nix
Owners: @FRidh, @jonringer

raft-canonical: ignore broken test
  pkgs/development/libraries/raft-canonical/default.nix
Owners: none

samtools: Fix cross-compilation
  pkgs/applications/science/biology/samtools/default.nix
Owners: none

python310Packages.azure-mgmt-netapp: 8.0.0 -> 8.1.0
  pkgs/development/python-modules/azure-mgmt-netapp/default.nix
Owners: @FRidh, @jonringer

opentabletdriver: add buildInputs
  pkgs/tools/X11/opentabletdriver/default.nix
Owners: none

doc: Add anchor to Recursive attributes in `mkDerivation`
  doc/stdenv/stdenv.chapter.md
Owners: @fricklerhandwerk

tpm2-pkcs11: fix build
  pkgs/misc/tpm2-pkcs11/default.nix
Owners: none

glooctl: 1.11.25 -> 1.12.0
  pkgs/applications/networking/cluster/glooctl/default.nix
Owners: none

gogs: 0.12.9 -> 0.12.10
  pkgs/applications/version-management/gogs/default.nix
Owners: none

grpc-client-cli: 1.13.0 -> 1.13.1
  pkgs/development/tools/misc/grpc-client-cli/default.nix
Owners: none

kmymoney: avoid hardcoding libpython version
  pkgs/applications/office/kmymoney/default.nix
Owners: none

abcmidi: 2022.06.14 -> 2022.08.01
  pkgs/tools/audio/abcmidi/default.nix
Owners: none

pulseaudio: add darwin support
  pkgs/servers/pulseaudio/0001-Make-gio-2.0-optional-15.patch
  pkgs/servers/pulseaudio/0001-Make-gio-2.0-optional-16.patch
  pkgs/servers/pulseaudio/0002-Ignore-SCM_CREDS-on-darwin.patch
  pkgs/servers/pulseaudio/0003-Disable-z-nodelete-on-darwin.patch
  pkgs/servers/pulseaudio/0003-Ignore-HAVE_CPUID_H-on-aarch64-darwin.patch
  pkgs/servers/pulseaudio/0004-Prefer-HAVE_CLOCK_GETTIME-on-darwin.patch
  pkgs/servers/pulseaudio/0004-Prefer-clock_gettime.patch
  pkgs/servers/pulseaudio/0005-Enable-CoreAudio-on-darwin.patch
  pkgs/servers/pulseaudio/0005-Include-poll-posix.c-on-darwin.patch
  pkgs/servers/pulseaudio/0006-Fix-libpulsecommon-sources-on-darwin.patch
  pkgs/servers/pulseaudio/0006-Only-use-version-script-on-GNU-ish-linkers.patch
  pkgs/servers/pulseaudio/0007-Adapt-undefined-link-args-per-linker.patch
  pkgs/servers/pulseaudio/0007-Fix-link-args-on-darwin.patch
  pkgs/servers/pulseaudio/0008-Use-correct-semaphore-on-darwin.patch
  pkgs/servers/pulseaudio/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

libcanberra: fix build on darwin
  pkgs/development/libraries/libcanberra/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

gsound: add darwin support
  pkgs/development/libraries/gsound/default.nix
Owners: none

imagemagick: 7.1.0-43 -> 7.1.0-44
  pkgs/applications/graphics/ImageMagick/7.0.nix
Owners: none

Update doc/builders/fetchers.chapter.md
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

Update doc/builders/fetchers.chapter.md
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

Update doc/builders/fetchers.chapter.md
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

Update doc/builders/fetchers.chapter.md
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

Update doc/builders/fetchers.chapter.md
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

python310Packages.azure-mgmt-monitor: 3.1.0 -> 4.0.0
  pkgs/development/python-modules/azure-mgmt-monitor/default.nix
Owners: @FRidh, @jonringer

Updating sha256 to more realistic example
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

icewm: 2.9.8 -> 2.9.9
  pkgs/applications/window-managers/icewm/default.nix
Owners: none

imagemagick: 7.1.0-44 -> 7.1.0-45
  pkgs/applications/graphics/ImageMagick/default.nix
Owners: none

infracost: 0.10.8 -> 0.10.9
  pkgs/tools/misc/infracost/default.nix
Owners: none

Add example error message.
  doc/builders/fetchers.chapter.md
Owners: @fricklerhandwerk

ssm-session-manager-plugin: Add aarch64-linux
  pkgs/applications/networking/cluster/ssm-session-manager-plugin/default.nix
Owners: none

pkgs.boogie: 2.4.1 -> 2.15.7
  pkgs/development/dotnet-modules/boogie-deps.nix
  pkgs/top-level/dotnet-packages.nix
Owners: none

Drop an unneeded pkgs.
  pkgs/top-level/dotnet-packages.nix
Owners: none

Maintain Boogie 2.4.1 for use with Dafny
  pkgs/top-level/dotnet-packages.nix
Owners: none

istioctl: 1.14.1 -> 1.14.3
  pkgs/applications/networking/cluster/istioctl/default.nix
Owners: none

nixos/soju: add defaults and assertions for TLS
  nixos/modules/services/networking/soju.nix
Owners: none

matrix-synapse: 1.63.1 -> 1.64.0
  pkgs/servers/matrix-synapse/default.nix
Owners: none

terraform-full: remove (#184649)
  .github/workflows/update-terraform-providers.yml
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Owners: @NixOS/Security, @Mic92, @zowoq

jellyfin-ffmpeg: 5.0.1-8 -> 5.1-1
  pkgs/development/libraries/jellyfin-ffmpeg/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @NixOS/Security @Mic92 @zowoq
/.github/workflows/merge-staging @FRidh

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @alyssais @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                                     @nbp
/pkgs/top-level/default.nix                      @nbp @Ericson2314
/pkgs/top-level/impure.nix                       @nbp @Ericson2314
/pkgs/top-level/stage.nix                        @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix                       @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix                @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                             @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                               @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper                   @Ericson2314
/pkgs/build-support/bintools-wrapper             @Ericson2314
/pkgs/build-support/setup-hooks                  @Ericson2314
/pkgs/build-support/setup-hooks/auto-patchelf.sh @layus
/pkgs/build-support/setup-hooks/auto-patchelf.py @layus

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# Nixpkgs documentation
/doc @fricklerhandwerk
/maintainers/scripts/db-to-md.sh @jtojnar @ryantm
/maintainers/scripts/doc @jtojnar @ryantm
/doc/build-aux/pandoc-filters @jtojnar
/doc/contributing/contributing-to-documentation.chapter.md @jtojnar

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp
/nixos/modules/system                                 @dasJ

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Systemd
/nixos/modules/system/boot/systemd.nix      @NixOS/systemd
/nixos/modules/system/boot/systemd          @NixOS/systemd
/nixos/lib/systemd-*.nix                    @NixOS/systemd
/pkgs/os-specific/linux/systemd             @NixOS/systemd

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	              @FRidh
/pkgs/top-level/python-packages.nix                         @FRidh @jonringer
/pkgs/development/interpreters/python                       @FRidh
/pkgs/development/python-modules                            @FRidh @jonringer
/doc/languages-frameworks/python.section.md                 @FRidh
/pkgs/development/tools/poetry2nix                          @adisbladis
/pkgs/development/interpreters/python/hooks                 @FRidh @jonringer

# Haskell
/doc/languages-frameworks/haskell.section.md  @cdepillabout @sternenseemann @maralorn
/maintainers/scripts/haskell                  @cdepillabout @sternenseemann @maralorn
/pkgs/development/compilers/ghc               @cdepillabout @sternenseemann @maralorn
/pkgs/development/haskell-modules             @cdepillabout @sternenseemann @maralorn
/pkgs/test/haskell                            @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/release-haskell.nix           @cdepillabout @sternenseemann @maralorn
/pkgs/top-level/haskell-packages.nix          @cdepillabout @sternenseemann @maralorn

# Perl
/pkgs/development/interpreters/perl @stigtsp @zakame
/pkgs/top-level/perl-packages.nix   @stigtsp @zakame
/pkgs/development/perl-modules      @stigtsp @zakame

# R
/pkgs/applications/science/math/R   @jbedo
/pkgs/development/r-modules         @jbedo

# Ruby
/pkgs/development/interpreters/ruby @marsam
/pkgs/development/ruby-modules      @marsam

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @zowoq
/doc/languages-frameworks/rust.section.md @zowoq

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Audio
/nixos/modules/services/audio/botamusique.nix @mweinelt
/nixos/modules/services/audio/snapserver.nix @mweinelt
/nixos/tests/modules/services/audio/botamusique.nix @mweinelt
/nixos/tests/snapcast.nix @mweinelt

# Browsers
/pkgs/applications/networking/browsers/firefox @mweinelt

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice @marsam
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Home Automation
/nixos/modules/services/misc/home-assistant.nix @mweinelt
/nixos/modules/services/misc/zigbee2mqtt.nix @mweinelt
/nixos/tests/home-assistant.nix @mweinelt
/nixos/tests/zigbee2mqtt.nix @mweinelt
/pkgs/servers/home-assistant @mweinelt
/pkgs/tools/misc/esphome @mweinelt

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Network
/pkgs/tools/networking/kea/default.nix @mweinelt
/pkgs/tools/networking/babeld/default.nix @mweinelt
/nixos/modules/services/networking/babeld.nix @mweinelt
/nixos/modules/services/networking/kea.nix @mweinelt
/nixos/modules/services/networking/knot.nix @mweinelt
/nixos/tests/babeld.nix @mweinelt
/nixos/tests/kea.nix @mweinelt
/nixos/tests/knot.nix @mweinelt

# Dhall
/pkgs/development/dhall-modules      @Gabriella439 @Profpatsch @ehmry
/pkgs/development/interpreters/dhall @Gabriella439 @Profpatsch @ehmry

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs/elisp-packages @adisbladis
/pkgs/applications/editors/emacs                @adisbladis
/pkgs/top-level/emacs-packages.nix              @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer @teto

# VimPlugins
/pkgs/applications/editors/vim/plugins         @jonringer

# VsCode Extensions
/pkgs/applications/editors/vscode/extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md          @aanderse @etu @globin @ma27 @talyz
/nixos/tests/php                                  @aanderse @etu @globin @ma27 @talyz
/pkgs/build-support/build-pecl.nix                @aanderse @etu @globin @ma27 @talyz
/pkgs/development/interpreters/php       @jtojnar @aanderse @etu @globin @ma27 @talyz
/pkgs/development/php-packages                    @aanderse @etu @globin @ma27 @talyz
/pkgs/top-level/php-packages.nix         @jtojnar @aanderse @etu @globin @ma27 @talyz

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @zowoq @adisbladis
/nixos/modules/virtualisation/cri-o.nix      @zowoq @adisbladis
/nixos/modules/virtualisation/podman         @zowoq @adisbladis
/nixos/tests/cri-o.nix                       @zowoq @adisbladis
/nixos/tests/podman                          @zowoq @adisbladis

# Docker tools
/pkgs/build-support/docker                   @roberth
/nixos/tests/docker-tools*                   @roberth
/doc/builders/images/dockertools.section.md  @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut @RaghavSood

# Go
/doc/languages-frameworks/go.section.md @kalbasit @Mic92 @zowoq
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq

# GNOME
/pkgs/desktops/gnome                              @jtojnar
/pkgs/desktops/gnome/extensions       @piegamesde @jtojnar

# Cinnamon
/pkgs/desktops/cinnamon @mkg20001

# nim
/pkgs/development/compilers/nim   @ehmry
/pkgs/development/nim-packages    @ehmry
/pkgs/top-level/nim-packages.nix  @ehmry

# terraform providers
/pkgs/applications/networking/cluster/terraform-providers @zowoq

# kubernetes
/nixos/doc/manual/configuration/kubernetes.chapter.md @zowoq
/nixos/modules/services/cluster/kubernetes            @zowoq
/nixos/tests/kubernetes                               @zowoq
/pkgs/applications/networking/cluster/kubernetes      @zowoq

# Matrix
/pkgs/servers/heisenbridge                                 @piegamesde
/pkgs/servers/matrix-conduit                               @piegamesde
/pkgs/servers/matrix-synapse/matrix-appservice-irc         @piegamesde
/nixos/modules/services/misc/heisenbridge.nix              @piegamesde
/nixos/modules/services/misc/matrix-appservice-irc.nix     @piegamesde
/nixos/modules/services/misc/matrix-conduit.nix            @piegamesde
/nixos/tests/matrix-appservice-irc.nix                     @piegamesde
/nixos/tests/matrix-conduit.nix                            @piegamesde

# Dotnet
/pkgs/build-support/dotnet          @IvarWithoutBones
/pkgs/development/compilers/dotnet  @IvarWithoutBones
