Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

python37Packages.hstspreload: 2020.2.5 -> 2020.2.29
  pkgs/development/python-modules/hstspreload/default.nix
Owners: @FRidh, @jonringer

coqPackages.simple-io: enable for Coq 8.10
  pkgs/development/coq-modules/simple-io/default.nix
Owners: none

coqPackages_8_10.QuickChick: init at 1.2.0
  pkgs/development/coq-modules/QuickChick/default.nix
Owners: none

js_of_ocaml: 3.4.0 -> 3.5.2 (#75766)
  pkgs/applications/science/logic/why3/default.nix
  pkgs/development/ocaml-modules/eliom/default.nix
  pkgs/development/ocaml-modules/ocsigen-start/default.nix
  pkgs/development/ocaml-modules/ocsigen-toolkit/default.nix
  pkgs/development/ocaml-modules/ppxlib/default.nix
  pkgs/development/tools/ocaml/js_of_ocaml/compiler.nix
  pkgs/development/tools/ocaml/js_of_ocaml/ppx_deriving_json.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

crispyDoom: 5.7 -> 5.7.1
  pkgs/games/crispy-doom/default.nix
Owners: none

tree-sitter.builtGrammars: build parser libraries
  pkgs/development/tools/parsing/tree-sitter/default.nix
  pkgs/development/tools/parsing/tree-sitter/library.nix
Owners: none

byobu: 5.131 -> 5.133
  pkgs/tools/misc/byobu/default.nix
Owners: none

cimg: 2.8.3 -> 2.8.4
  pkgs/development/libraries/cimg/default.nix
Owners: none

datovka: 4.14.1 -> 4.15.0
  pkgs/applications/networking/datovka/default.nix
Owners: none

cfr: 0.148 -> 0.149
  pkgs/development/tools/java/cfr/default.nix
Owners: none

fix https://github.com/NixOS/nixpkgs/issues/81873
  nixos/modules/services/x11/window-managers/xmonad.nix
Owners: none

shellcheck: add manpage and docs
  pkgs/development/tools/shellcheck/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

dpic: 2019.11.30 -> 2020.03.01
  pkgs/tools/graphics/dpic/default.nix
Owners: none

update pulumi new version from 1.40 to 1.7.1 and update associated plugins
  pkgs/tools/admin/pulumi/data.nix
  pkgs/tools/admin/pulumi/update.sh
Owners: none

Updated and fixed libstdc++ issue
  pkgs/tools/admin/pulumi/data.nix
  pkgs/tools/admin/pulumi/default.nix
  pkgs/tools/admin/pulumi/update.sh
Owners: none

nixos/tests/prometheus-exporters: increase memory for rspamd
  nixos/tests/prometheus-exporters.nix
Owners: @WilliButz

ocamlPackages.pgocaml_ppx: init at 4.0
  pkgs/development/ocaml-modules/pgocaml/ppx.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

ocamlPackages.resource-pooling: 0.6 → 1.1
  pkgs/development/ocaml-modules/ocsigen-start/default.nix
  pkgs/development/ocaml-modules/resource-pooling/default.nix
Owners: none

js_of_ocaml: 3.4.0 -> 3.5.2 (#75766)
  pkgs/applications/science/logic/why3/default.nix
  pkgs/development/ocaml-modules/eliom/default.nix
  pkgs/development/ocaml-modules/ocsigen-start/default.nix
  pkgs/development/ocaml-modules/ocsigen-toolkit/default.nix
  pkgs/development/ocaml-modules/ppxlib/default.nix
  pkgs/development/tools/ocaml/js_of_ocaml/compiler.nix
  pkgs/development/tools/ocaml/js_of_ocaml/ppx_deriving_json.nix
  pkgs/top-level/ocaml-packages.nix
Owners: none

xonsh: 0.9.13 -> 0.9.14
  pkgs/shells/xonsh/default.nix
Owners: none

terraform: 0.12.21 -> 0.12.23
  pkgs/applications/networking/cluster/terraform/default.nix
Owners: none

vault: 1.3.2 -> 1.3.3
  pkgs/tools/security/vault/default.nix
Owners: none

youtube-dl: 2020.03.01 -> 2020.03.06
  pkgs/tools/misc/youtube-dl/default.nix
Owners: none

stdenv: Fix gcc multi line libc-cflags
  pkgs/build-support/cc-wrapper/default.nix
Owners: @Ericson2314, @orivej

gnome3.devhelp: 3.34.0 -> 3.36.0
  pkgs/desktops/gnome-3/devtools/devhelp/default.nix
Owners: none

nixos/prometheus-snmp-exporter: update log options
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
Owners: none

nixos/prometheus-snmp-exporter: fix assertion
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
Owners: @WilliButz

nixos/prometheus-*-exporter: escape shell args
  nixos/modules/services/monitoring/prometheus/exporters/blackbox.nix
  nixos/modules/services/monitoring/prometheus/exporters/collectd.nix
  nixos/modules/services/monitoring/prometheus/exporters/dnsmasq.nix
  nixos/modules/services/monitoring/prometheus/exporters/dovecot.nix
  nixos/modules/services/monitoring/prometheus/exporters/json.nix
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
  nixos/modules/services/monitoring/prometheus/exporters/minio.nix
  nixos/modules/services/monitoring/prometheus/exporters/nextcloud.nix
  nixos/modules/services/monitoring/prometheus/exporters/postfix.nix
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
  nixos/modules/services/monitoring/prometheus/exporters/unifi.nix
  nixos/modules/services/monitoring/prometheus/exporters/varnish.nix
  nixos/modules/services/monitoring/prometheus/exporters/wireguard.nix
Owners: none

nixos/prometheus-mail-exporter: misc fixes
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
  nixos/tests/prometheus-exporters.nix
Owners: @WilliButz

nixos/prometheus-mail-exporter: fix assertion
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
Owners: @WilliButz

nixos/tests/prometheus-exporters: increase memory for rspamd
  nixos/tests/prometheus-exporters.nix
Owners: @WilliButz

prometheus-mikrotik-exporter: init at 2020-02-10
  pkgs/servers/monitoring/prometheus/mikrotik-exporter.nix
Owners: none

nixos/prometheus-mikrotik-exporter: init
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/mikrotik.nix
  nixos/tests/prometheus-exporters.nix
  pkgs/top-level/all-packages.nix
Owners: @WilliButz

focuswriter: 1.7.4 -> 1.7.5
  pkgs/applications/editors/focuswriter/default.nix
Owners: none

pulumi: 1.4.0 -> 1.12.0
  pkgs/tools/admin/pulumi/data.nix
  pkgs/tools/admin/pulumi/default.nix
  pkgs/tools/admin/pulumi/update.sh
Owners: none

elisa: 19.12.2 -> 19.12.3
  pkgs/applications/audio/elisa/default.nix
Owners: none

gnome3.gnome-disk-utility: 3.34.4 -> 3.36.0
  pkgs/desktops/gnome-3/core/gnome-disk-utility/default.nix
Owners: none

perlPackages.AuthenSCRAM: init at 0.011
  pkgs/top-level/perl-packages.nix
Owners: @volth

gnome3.gnome-sudoku: 3.34.1 -> 3.36.0
  pkgs/desktops/gnome-3/games/gnome-sudoku/default.nix
Owners: none

gnome3.gnome-chess: 3.34.0 -> 3.36.0
  pkgs/desktops/gnome-3/games/gnome-chess/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu
