Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @Infinisil, @FRidh, @basvandijk, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ghost, @ttuegel, @thoughtpolice, @Gabriel439, @mboes

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# NixOS Internals
/nixos/default.nix          @nbp
/nixos/lib/from-env.nix     @nbp
/nixos/lib/eval-config.nix  @nbp
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS modules
/nixos/modules @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @basvandijk
/pkgs/development/haskell-modules                     @basvandijk
/pkgs/development/haskell-modules/default.nix         @basvandijk
/pkgs/development/haskell-modules/generic-builder.nix @basvandijk
/pkgs/development/haskell-modules/hoogle.nix          @basvandijk

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# https://github.com/NixOS/nixpkgs/issues/31401
/lib/licenses.nix @ghost

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

rl-1903: spelling, grammar, markup improvements
  nixos/doc/manual/release-notes/rl-1903.xml
Owners: none

python37Packages.braintree: 3.51.0 -> 3.52.0 (#58773)
  pkgs/development/python-modules/braintree/default.nix
Owners: @FRidh

python37Packages.agate-dbf: 0.2.0 -> 0.2.1 (#58768)
  pkgs/development/python-modules/agate-dbf/default.nix
Owners: @FRidh

python37Packages.aniso8601: 4.1.0 -> 6.0.0 (#58765)
  pkgs/development/python-modules/aniso8601/default.nix
Owners: @FRidh

pianobar: 2018.06.22 -> 2019.02.14 (#58750)
  pkgs/applications/audio/pianobar/default.nix
Owners: none

ncdc: 1.20 -> 1.21 (#58725)
  pkgs/applications/networking/p2p/ncdc/default.nix
Owners: none

python37Packages.backports_csv: 1.0.6 -> 1.0.7 (#58772)
  pkgs/development/python-modules/backports_csv/default.nix
Owners: @FRidh

python37Packages.APScheduler: 3.5.3 -> 3.6.0 (#58769)
  pkgs/development/python-modules/APScheduler/default.nix
Owners: @FRidh

pcapfix: 1.1.3 -> 1.1.4 (#58744)
  pkgs/tools/networking/pcapfix/default.nix
Owners: none

libx86emu: 2.1 -> 2.2 (#58716)
  pkgs/development/libraries/libx86emu/default.nix
Owners: none

dpkg: 1.19.5 -> 1.19.6 (#58667)
  pkgs/tools/package-management/dpkg/default.nix
Owners: none

lobster: init
  pkgs/development/interpreters/lobster/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

nixos/lightdm-greeters/pantheon: add warning
  nixos/modules/services/x11/display-managers/lightdm-greeters/pantheon.nix
Owners: @Infinisil

nixos/pantheon: add warning when not using LightDM
  nixos/modules/services/x11/desktop-managers/pantheon.nix
Owners: @Infinisil

codimd: build with nodejs-8_x
  pkgs/servers/web-apps/codimd/CodeMirror/default.nix
  pkgs/servers/web-apps/codimd/CodeMirror/generate.sh
  pkgs/servers/web-apps/codimd/CodeMirror/node-packages.nix
  pkgs/servers/web-apps/codimd/CodeMirror/node.nix
  pkgs/servers/web-apps/codimd/default.nix
  pkgs/servers/web-apps/codimd/deps.json
  pkgs/servers/web-apps/codimd/generate.sh
  pkgs/servers/web-apps/codimd/js-sequence-diagrams/default.nix
  pkgs/servers/web-apps/codimd/node-packages.nix
  pkgs/servers/web-apps/codimd/node.nix
Owners: none

sequeler: 0.6.8 -> 0.7.0
  pkgs/applications/misc/sequeler/default.nix
Owners: none

nixos/shadow: create setuid wrapper for chsh
  nixos/modules/programs/shadow.nix
Owners: @Infinisil

nixos/users: Allow mutable shells for declarative users
  nixos/modules/config/update-users-groups.pl
  nixos/modules/config/users-groups.nix
Owners: @Infinisil

grml-zsh-config: 0.15.3 -> 0.16.0 (#58688)
  pkgs/shells/zsh/grml-zsh-config/default.nix
Owners: none

nixos/sshd: Remove obsolete Protocol options
  nixos/modules/services/networking/ssh/sshd.nix
Owners: @Infinisil

eid-mw: 4.4.13 -> 4.4.16 (#58669)
  pkgs/tools/security/eid-mw/default.nix
Owners: none

doclifter: 2.18 -> 2.19 (#58663)
  pkgs/development/tools/misc/doclifter/default.nix
Owners: none

cni-plugins: 0.7.4 -> 0.7.5 (#58655)
  pkgs/applications/networking/cluster/cni/plugins.nix
Owners: none

pybcrypt: remove old and insecure package
  pkgs/development/python-modules/pybcrypt/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh

bookworm: unstabled-2018-11-19 -> 1.1.1
  pkgs/applications/office/bookworm/default.nix
Owners: none

trivial-builders: Fix outdated comment on writeTextFile
  pkgs/build-support/trivial-builders.nix
Owners: none

frab: 2016-12-28 -> 2019-03-22
  nixos/modules/services/web-apps/frab.nix
  nixos/tests/frab.nix
  pkgs/servers/web-apps/frab/Gemfile
  pkgs/servers/web-apps/frab/Gemfile.lock
  pkgs/servers/web-apps/frab/default.nix
  pkgs/servers/web-apps/frab/gemset.nix
Owners: @Infinisil

Remove nodejs-6_x which is about to enter EOL
  nixos/doc/manual/release-notes/rl-1903.xml
  pkgs/development/node-packages/composition-v6.nix
  pkgs/development/node-packages/generate.sh
  pkgs/development/web/nodejs/v6.nix
  pkgs/development/web/remarkjs/generate.sh
  pkgs/development/web/remarkjs/node-packages.nix
  pkgs/development/web/remarkjs/nodepkgs.nix
  pkgs/misc/base16-builder/default.nix
  pkgs/misc/base16-builder/generate.sh
  pkgs/misc/base16-builder/node-packages-generated.nix
  pkgs/misc/base16-builder/node-packages.nix
  pkgs/servers/web-apps/codimd/CodeMirror/node.nix
  pkgs/servers/web-apps/codimd/node.nix
  pkgs/tools/networking/airfield/deps.sh
  pkgs/tools/networking/airfield/node-packages.nix
  pkgs/tools/networking/airfield/node.nix
  pkgs/tools/package-management/nixui/generate.sh
  pkgs/tools/package-management/nixui/nixui.nix
  pkgs/tools/package-management/nixui/node-packages.nix
  pkgs/tools/security/bitwarden-cli/generate.sh
  pkgs/tools/security/bitwarden-cli/node-packages-generated.nix
  pkgs/tools/security/bitwarden-cli/node-packages.nix
  pkgs/top-level/all-packages.nix
Owners: none

qtpass: 1.2.1 -> 1.2.3
  pkgs/applications/misc/qtpass/default.nix
  pkgs/applications/misc/qtpass/hidpi.patch
Owners: none

xcbuild: provide migcom in toolchain
  pkgs/development/tools/xcbuild/toolchains.nix
Owners: @matthewbauer

qt511.qtwebengine: fix build on darwin
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.11/qtwebengine-clang-fix.patch
  pkgs/development/libraries/qt-5/5.11/qtwebengine-darwin-sdk-10.10.patch
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

qt5.qtwebengine: don't propagate cups dependency
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

qt5.qtwebengine: refactor to use lib.versionOlder
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

qt5.qtwebengine: disable platform check using patches
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.11/qtwebengine-darwin-no-platform-check.patch
  pkgs/development/libraries/qt-5/5.9/default.nix
  pkgs/development/libraries/qt-5/5.9/qtwebengine-darwin-no-platform-check.patch
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

pmdk: init at 1.6
  pkgs/development/libraries/pmdk/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

qt5.qtwebengine: refactor more things to use patches instead of substituteInPlace
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.11/qtwebengine-darwin-old-sdk.patch
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

qt59.qtwebengine: fix on darwin
  pkgs/development/libraries/qt-5/5.9/default.nix
  pkgs/development/libraries/qt-5/5.9/qtwebengine-clang-fix.patch
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Owners: @ttuegel

qt5.qtwebengine: fail properly
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.11/qtwebengine-no-build-skip.patch
  pkgs/development/libraries/qt-5/5.9/qtwebengine-no-build-skip.patch
Owners: @ttuegel

qt511.qtwebengine: fix eval
  pkgs/development/libraries/qt-5/5.11/default.nix
Owners: @ttuegel

pythonPackages.chevron: init at 0.13.1
  pkgs/development/python-modules/chevron/default.nix
  pkgs/top-level/python-packages.nix
Owners: @FRidh
