Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @Infinisil, @FRidh, @jonringer, @cdepillabout, @volth, @peti, @alyssais, @zimbatm, @Mic92, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @mboes, @adisbladis, @softinio, @WilliButz, @etu

maintainers: add bqv
  maintainers/maintainer-list.nix
Owners: none

maintainers: add peelz
  maintainers/maintainer-list.nix
Owners: none

nixos/prometheus-*-exporter: escape shell args
  nixos/modules/services/monitoring/prometheus/exporters/blackbox.nix
  nixos/modules/services/monitoring/prometheus/exporters/collectd.nix
  nixos/modules/services/monitoring/prometheus/exporters/dnsmasq.nix
  nixos/modules/services/monitoring/prometheus/exporters/dovecot.nix
  nixos/modules/services/monitoring/prometheus/exporters/json.nix
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
  nixos/modules/services/monitoring/prometheus/exporters/minio.nix
  nixos/modules/services/monitoring/prometheus/exporters/nextcloud.nix
  nixos/modules/services/monitoring/prometheus/exporters/postfix.nix
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
  nixos/modules/services/monitoring/prometheus/exporters/unifi.nix
  nixos/modules/services/monitoring/prometheus/exporters/varnish.nix
  nixos/modules/services/monitoring/prometheus/exporters/wireguard.nix
Owners: none

nixos/prometheus-snmp-exporter: fix assertion
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
Owners: @WilliButz

nixos/prometheus-snmp-exporter: update log options
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
Owners: none

nixos/prometheus-mail-exporter: fix assertion
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
Owners: @WilliButz

nixos/prometheus-mail-exporter: misc fixes
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
  nixos/tests/prometheus-exporters.nix
Owners: @WilliButz

tiny: 0.5.1 -> 0.5.2-test
  pkgs/applications/networking/irc/tiny/default.nix
Owners: none

topgrade: 4.0.2 -> 4.2.0
  pkgs/tools/misc/topgrade/default.nix
Owners: none

elfutils: remove unneeded custom cross build/install phase
  pkgs/development/tools/misc/elfutils/default.nix
Owners: none

aspell: perl is also a native build input
  pkgs/development/libraries/aspell/default.nix
Owners: none

libevdev: python is a native input
  pkgs/development/libraries/libevdev/default.nix
Owners: none

libpsl: add libxslt as a native dependency
  pkgs/development/libraries/libpsl/default.nix
Owners: none

libsecret: add glib as a native dependency
  pkgs/development/libraries/libsecret/default.nix
Owners: none

libinput: move test dependencies to checkInputs
  pkgs/development/libraries/libinput/default.nix
Owners: none

gstreamer: needs extra build inputs
  pkgs/development/libraries/gstreamer/base/default.nix
  pkgs/development/libraries/gstreamer/core/default.nix
Owners: none

bubblewrap: use buildInputs instead of nativeBuildInputs
  pkgs/tools/admin/bubblewrap/default.nix
Owners: none

cage: add wayland as nativeBuildInputs
  pkgs/applications/window-managers/cage/default.nix
Owners: none

wlroots: add wayland as nativeBuildInputs
  pkgs/development/libraries/wlroots/default.nix
Owners: none

alsa-firmware: enable cross compilation
  pkgs/os-specific/linux/alsa-firmware/cross.patch
  pkgs/os-specific/linux/alsa-firmware/default.nix
Owners: none

alsa-firmware: enable cross compilation (#63866)
  pkgs/os-specific/linux/alsa-firmware/cross.patch
  pkgs/os-specific/linux/alsa-firmware/default.nix
Owners: none

vector: 0.8.0 -> 0.8.1
  pkgs/tools/misc/vector/default.nix
Owners: none

haskellPackages.pantry_0_2_0_0: Mark dontCheck
  pkgs/development/haskell-modules/configuration-common.nix
Owners: @cdepillabout, @infinisil

crun: 0.12.2.1 -> 0.13
  pkgs/applications/virtualization/crun/default.nix
Owners: none

xxHash: 0.7.2 -> 0.7.3
  pkgs/development/libraries/xxHash/default.nix
Owners: none

gnome3.accerciser: 3.34.4 -> 3.36.0
  pkgs/desktops/gnome-3/apps/accerciser/default.nix
Owners: none

pdf2djvu: 0.9.14 -> 0.9.17
  pkgs/tools/typesetting/pdf2djvu/default.nix
Owners: none

firefox: mark as broken on 32-bit buildPlatform
  pkgs/applications/networking/browsers/firefox/packages.nix
Owners: none

gerbil: add wrapper to set GERBIL_HOME
  pkgs/development/compilers/gerbil/build.nix
Owners: none

waf: move binary to $out/bin/
  pkgs/development/tools/build-managers/waf/default.nix
  pkgs/development/tools/build-managers/wafHook/setup-hook.sh
Owners: none

gcr: specify libgrypt prefix
  pkgs/development/libraries/gcr/default.nix
Owners: none

libdazzle: add glib to nativeBuildInputs
  pkgs/development/libraries/libdazzle/default.nix
Owners: none

epiphany: fix cross compilation
  pkgs/desktops/gnome-3/core/epiphany/default.nix
Owners: none

gnome-desktop: needs glib in nativeBuildInputs
  pkgs/desktops/gnome-3/core/gnome-desktop/default.nix
Owners: none

libhandy: add libxml2 to nativeBuildInputs
  pkgs/development/libraries/libhandy/default.nix
Owners: none

webkitgtk: ignore gettext when cross compiling
  pkgs/development/libraries/webkitgtk/default.nix
Owners: none

glade: add libxml2 to nativeBuildInputs
  pkgs/desktops/gnome-3/apps/glade/default.nix
Owners: none

gsettings-desktop-schemas: add glib to nativeBuildInputs
  pkgs/development/libraries/gsettings-desktop-schemas/default.nix
Owners: none

dconf: needs glib in nativeBuildInputs
  pkgs/development/libraries/dconf/default.nix
Owners: none

libsoup: needs glib in nativeBuildInputs
  pkgs/development/libraries/libsoup/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# New NixOS modules
/nixos/modules/module-list.nix @Infinisil

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout @infinisil
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth
/pkgs/top-level/perl-packages.nix   @volth
/pkgs/development/perl-modules      @volth

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais @zimbatm
/pkgs/development/ruby-modules      @alyssais @zimbatm

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7
/pkgs/build-support/rust @andir

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP
/pkgs/development/interpreters/php  @etu
/pkgs/top-level/php-packages.nix    @etu
/pkgs/build-support/build-pecl.nix  @etu
