Repository NixOS/nixpkgs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @Mic92, @zowoq, @nbp, @infinisil, @ericson2314, @matthewbauer, @Profpatsch, @Ericson2314, @orivej, @lassulus, @tfc, @jtojnar, @FRidh, @jonringer, @cdepillabout, @volth, @stigtsp, @peti, @alyssais, @LnL7, @andir, @NixOS/darwin-maintainers, @gleber, @edwtjo, @rycee, @ttuegel, @thoughtpolice, @joachifm, @Gabriel439, @Infinisil, @mboes, @adisbladis, @teto, @softinio, @WilliButz, @NixOS/php, @NixOS/podman, @roberth, @utdemir, @mmahut, @kalbasit

nixos/promtail: fix access to journal
  nixos/modules/services/logging/promtail.nix
  nixos/tests/loki.nix
Owners: none

loki: reference nixosTests
  pkgs/servers/monitoring/loki/default.nix
Owners: none

.github/workflows/editorconfig.yml: disable for release branches
  .github/workflows/editorconfig.yml
Owners: @Mic92, @zowoq

.github/workflows/editorconfig.yml: check indent_style
  .github/workflows/editorconfig.yml
Owners: @Mic92, @zowoq

.editorconfig: indent_style excludes
  .editorconfig
Owners: @Mic92, @zowoq

atlassian-confluence: 7.8.1 -> 7.9.0
  pkgs/servers/atlassian/confluence.nix
Owners: none

python37Packages.trytond: 5.6.8 -> 5.8.0
  pkgs/development/python-modules/trytond/default.nix
Owners: @FRidh, @jonringer

maintainers: add mazurel
  maintainers/maintainer-list.nix
Owners: none

chromium: 86.0.4240.183 -> 86.0.4240.193
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Owners: none

cp437: init at v0.6
  pkgs/tools/misc/cp437/default.nix
  pkgs/top-level/all-packages.nix
Owners: none

postgresql: use separateDebugInfo
  pkgs/servers/sql/postgresql/default.nix
  pkgs/top-level/all-packages.nix
Owners: @thoughtpolice

postgresql: remove local name change
  pkgs/top-level/all-packages.nix
Owners: none

python37Packages.mss: 6.0.0 -> 6.1.0
  pkgs/development/python-modules/mss/default.nix
Owners: @FRidh, @jonringer

flashplayer: 32.0.0.445 -> 32.0.0.453
  pkgs/applications/networking/browsers/chromium/plugins.nix
  pkgs/applications/networking/browsers/mozilla-plugins/flashplayer/default.nix
  pkgs/applications/networking/browsers/mozilla-plugins/flashplayer/standalone.nix
  pkgs/applications/networking/browsers/ungoogled-chromium/plugins.nix
Owners: none

python37Packages.google_cloud_automl: 2.0.0 -> 2.1.0
  pkgs/development/python-modules/google_cloud_automl/default.nix
Owners: @FRidh, @jonringer

python37Packages.xstatic-jquery: 3.4.1.0 -> 3.5.1.1
  pkgs/development/python-modules/xstatic-jquery/default.nix
Owners: @FRidh, @jonringer

cp437: fix eval
  pkgs/tools/misc/cp437/default.nix
Owners: none

fsharp41: Add patch to avoid type inference error. (#103223)
  pkgs/development/compilers/fsharp41/default.nix
  pkgs/development/compilers/fsharp41/fsharp-GetFileNameWithoutExtension-type-inference.patch
Owners: none

nixos/cfdyndns: add apikeyFile option
  nixos/modules/services/misc/cfdyndns.nix
Owners: none

python37Packages.dropbox: 10.7.0 -> 10.8.0
  pkgs/development/python-modules/dropbox/default.nix
Owners: @FRidh, @jonringer

nixUnstable: patch to work around NixOS/nix#4235
  pkgs/tools/package-management/nix/default.nix
Owners: none

nixUnstable: 2.4pre20201102_550e11f -> 2.4pre20201105_cdc840d
  pkgs/tools/package-management/nix/default.nix
Owners: none

python37Packages.genanki: 0.8.1 -> 0.9.0
  pkgs/development/python-modules/genanki/default.nix
Owners: @FRidh, @jonringer

python37Packages.dbus-next: 0.1.4 -> 0.2.1
  pkgs/development/python-modules/dbus-next/default.nix
Owners: @FRidh, @jonringer

terraform-providers: vultr 1.4.1 -> 1.5.0
  pkgs/applications/networking/cluster/terraform-providers/default.nix
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Owners: none

kube3d: 3.1.5 -> 3.2.0
  pkgs/applications/networking/cluster/kube3d/default.nix
Owners: none

kube3d: move to new installShellCompletion style
  pkgs/applications/networking/cluster/kube3d/default.nix
Owners: none

python37Packages.cairosvg: 2.4.2 -> 2.5.0
  pkgs/development/python-modules/cairosvg/default.nix
Owners: @FRidh, @jonringer

libcap: fix static build
  pkgs/os-specific/linux/libcap/default.nix
  pkgs/os-specific/linux/libcap/no-shared-lib.patch
  pkgs/top-level/static.nix
Owners: none

terragrunt: 0.25.5 -> 0.26.2
  pkgs/applications/networking/cluster/terragrunt/default.nix
Owners: none

zfs: extend zpool scripts with :$PATH, remove sudo
  pkgs/os-specific/linux/zfs/default.nix
Owners: none

python37Packages.pymavlink: 2.4.11 -> 2.4.12
  pkgs/development/python-modules/pymavlink/default.nix
Owners: @FRidh, @jonringer

libgcrypt: 1.8.6 -> 1.8.7
  pkgs/development/libraries/libgcrypt/default.nix
Owners: none

libqmi: 1.26.2 -> 1.26.6
  pkgs/development/libraries/libqmi/default.nix
Owners: none

libshout: 2.4.3 -> 2.4.4
  pkgs/development/libraries/libshout/default.nix
Owners: none

lilv: 0.24.8 -> 0.24.10
  pkgs/development/libraries/audio/lilv/default.nix
Owners: none

libipt: 2.0.2 -> 2.0.3
  pkgs/development/libraries/libipt/default.nix
Owners: none

libmtp: 1.1.17 -> 1.1.18
  pkgs/development/libraries/libmtp/default.nix
Owners: none

libbluray: 1.2.0 -> 1.2.1
  pkgs/development/libraries/libbluray/default.nix
Owners: none

libmbim: 1.24.2 -> 1.24.4
  pkgs/development/libraries/libmbim/default.nix
Owners: none

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @edolstra

# GitHub actions
/.github/workflows @Mic92 @zowoq

# EditorConfig
/.editorconfig @Mic92 @zowoq

# Libraries
/lib                        @edolstra @nbp @infinisil
/lib/systems                @nbp @ericson2314 @matthewbauer
/lib/generators.nix         @edolstra @nbp @Profpatsch
/lib/cli.nix                @edolstra @nbp @Profpatsch
/lib/debug.nix              @edolstra @nbp @Profpatsch
/lib/asserts.nix            @edolstra @nbp @Profpatsch

# Nixpkgs Internals
/default.nix                          @nbp
/pkgs/top-level/default.nix           @nbp @Ericson2314
/pkgs/top-level/impure.nix            @nbp @Ericson2314
/pkgs/top-level/stage.nix             @nbp @Ericson2314 @matthewbauer
/pkgs/top-level/splice.nix            @Ericson2314 @matthewbauer
/pkgs/top-level/release-cross.nix     @Ericson2314 @matthewbauer
/pkgs/stdenv/generic                  @Ericson2314 @matthewbauer
/pkgs/stdenv/cross                    @Ericson2314 @matthewbauer
/pkgs/build-support/cc-wrapper        @Ericson2314 @orivej
/pkgs/build-support/bintools-wrapper  @Ericson2314 @orivej
/pkgs/build-support/setup-hooks       @Ericson2314

# Nixpkgs build-support
/pkgs/build-support/writers @lassulus @Profpatsch

# NixOS Internals
/nixos/default.nix          @nbp @infinisil
/nixos/lib/from-env.nix     @nbp @infinisil
/nixos/lib/eval-config.nix  @nbp @infinisil
/nixos/doc/manual/configuration/abstractions.xml      @nbp
/nixos/doc/manual/configuration/config-file.xml       @nbp
/nixos/doc/manual/configuration/config-syntax.xml     @nbp
/nixos/doc/manual/configuration/modularity.xml        @nbp
/nixos/doc/manual/development/assertions.xml          @nbp
/nixos/doc/manual/development/meta-attributes.xml     @nbp
/nixos/doc/manual/development/option-declarations.xml @nbp
/nixos/doc/manual/development/option-def.xml          @nbp
/nixos/doc/manual/development/option-types.xml        @nbp
/nixos/doc/manual/development/replace-modules.xml     @nbp
/nixos/doc/manual/development/writing-modules.xml     @nbp
/nixos/doc/manual/man-nixos-option.xml                @nbp
/nixos/modules/installer/tools/nixos-option.sh        @nbp

# NixOS integration test driver
/nixos/lib/test-driver  @tfc

# Updaters
## update.nix
/maintainers/scripts/update.nix   @jtojnar
/maintainers/scripts/update.py    @jtojnar
## common-updater-scripts
/pkgs/common-updater/scripts/update-source-version    @jtojnar

# Python-related code and docs
/maintainers/scripts/update-python-libraries	@FRidh
/pkgs/top-level/python-packages.nix     @FRidh @jonringer
/pkgs/development/interpreters/python   @FRidh
/pkgs/development/python-modules        @FRidh @jonringer
/doc/languages-frameworks/python.section.md     @FRidh

# Haskell
/pkgs/development/compilers/ghc                       @cdepillabout
/pkgs/development/haskell-modules		      @cdepillabout
/pkgs/development/haskell-modules/default.nix	      @cdepillabout
/pkgs/development/haskell-modules/generic-builder.nix @cdepillabout
/pkgs/development/haskell-modules/hoogle.nix	      @cdepillabout

# Perl
/pkgs/development/interpreters/perl @volth @stigtsp
/pkgs/top-level/perl-packages.nix   @volth @stigtsp
/pkgs/development/perl-modules      @volth @stigtsp

# R
/pkgs/applications/science/math/R   @peti
/pkgs/development/r-modules         @peti

# Ruby
/pkgs/development/interpreters/ruby @alyssais
/pkgs/development/ruby-modules      @alyssais

# Rust
/pkgs/development/compilers/rust @Mic92 @LnL7 @zowoq
/pkgs/build-support/rust @andir @zowoq

# Darwin-related
/pkgs/stdenv/darwin         @NixOS/darwin-maintainers
/pkgs/os-specific/darwin    @NixOS/darwin-maintainers

# C compilers
/pkgs/development/compilers/gcc @matthewbauer
/pkgs/development/compilers/llvm @matthewbauer

# Compatibility stuff
/pkgs/top-level/unix-tools.nix @matthewbauer
/pkgs/development/tools/xcbuild @matthewbauer

# Beam-related (Erlang, Elixir, LFE, etc)
/pkgs/development/beam-modules                  @gleber
/pkgs/development/interpreters/erlang           @gleber
/pkgs/development/interpreters/lfe              @gleber
/pkgs/development/interpreters/elixir           @gleber
/pkgs/development/tools/build-managers/rebar    @gleber
/pkgs/development/tools/build-managers/rebar3   @gleber
/pkgs/development/tools/erlang                  @gleber

# Jetbrains
/pkgs/applications/editors/jetbrains @edwtjo

# Eclipse
/pkgs/applications/editors/eclipse @rycee

# Licenses
/lib/licenses.nix @alyssais

# Qt / KDE
/pkgs/applications/kde @ttuegel
/pkgs/desktops/plasma-5 @ttuegel
/pkgs/development/libraries/kde-frameworks @ttuegel
/pkgs/development/libraries/qt-5 @ttuegel

# PostgreSQL and related stuff
/pkgs/servers/sql/postgresql @thoughtpolice
/nixos/modules/services/databases/postgresql.xml @thoughtpolice
/nixos/modules/services/databases/postgresql.nix @thoughtpolice
/nixos/tests/postgresql.nix @thoughtpolice

# Hardened profile & related modules
/nixos/modules/profiles/hardened.nix @joachifm
/nixos/modules/security/hidepid.nix @joachifm
/nixos/modules/security/lock-kernel-modules.nix @joachifm
/nixos/modules/security/misc.nix @joachifm
/nixos/tests/hardened.nix @joachifm
/pkgs/os-specific/linux/kernel/hardened-config.nix @joachifm

# Network Time Daemons
/pkgs/tools/networking/chrony @thoughtpolice
/pkgs/tools/networking/ntp @thoughtpolice
/pkgs/tools/networking/openntpd @thoughtpolice
/nixos/modules/services/networking/ntp @thoughtpolice

# Dhall
/pkgs/development/dhall-modules      @Gabriel439 @Profpatsch
/pkgs/development/interpreters/dhall @Gabriel439 @Profpatsch

# Idris
/pkgs/development/idris-modules @Infinisil

# Bazel
/pkgs/development/tools/build-managers/bazel @mboes @Profpatsch

# NixOS modules for e-mail and dns services
/nixos/modules/services/mail/mailman.nix    @peti
/nixos/modules/services/mail/postfix.nix    @peti
/nixos/modules/services/networking/bind.nix @peti
/nixos/modules/services/mail/rspamd.nix     @peti

# Emacs
/pkgs/applications/editors/emacs-modes @adisbladis
/pkgs/applications/editors/emacs       @adisbladis
/pkgs/top-level/emacs-packages.nix     @adisbladis

# Neovim
/pkgs/applications/editors/neovim      @jonringer
/pkgs/applications/editors/neovim      @teto

# VimPlugins
/pkgs/misc/vim-plugins         @jonringer @softinio

# VsCode Extensions
/pkgs/misc/vscode-extensions   @jonringer

# Prometheus exporter modules and tests
/nixos/modules/services/monitoring/prometheus/exporters.nix  @WilliButz
/nixos/modules/services/monitoring/prometheus/exporters.xml  @WilliButz
/nixos/tests/prometheus-exporters.nix                        @WilliButz

# PHP interpreter, packages, extensions, tests and documentation
/doc/languages-frameworks/php.section.md @NixOS/php
/nixos/tests/php                         @NixOS/php
/pkgs/build-support/build-pecl.nix       @NixOS/php
/pkgs/development/interpreters/php       @NixOS/php
/pkgs/development/php-packages           @NixOS/php
/pkgs/top-level/php-packages.nix         @NixOS/php

# Podman, CRI-O modules and related
/nixos/modules/virtualisation/containers.nix @NixOS/podman @zowoq
/nixos/modules/virtualisation/cri-o.nix      @NixOS/podman @zowoq
/nixos/modules/virtualisation/podman.nix     @NixOS/podman @zowoq
/nixos/tests/cri-o.nix                       @NixOS/podman @zowoq
/nixos/tests/podman.nix                      @NixOS/podman @zowoq

# Docker tools
/pkgs/build-support/docker                   @roberth @utdemir
/nixos/tests/docker-tools-overlay.nix        @roberth
/nixos/tests/docker-tools.nix                @roberth
/doc/builders/images/dockertools.xml         @roberth

# Blockchains
/pkgs/applications/blockchains  @mmahut

# Go
/pkgs/development/compilers/go @kalbasit @Mic92 @zowoq
/pkgs/development/go-modules   @kalbasit @Mic92 @zowoq
/pkgs/development/go-packages  @kalbasit @Mic92 @zowoq
