Repository NixOS/nixpkgs, pull requests merged in 2018-06, with the labels that each got.

#41336 frostwire: 6.6.3 -> 6.6.7
  pkgs/applications/networking/p2p/frostwire/default.nix
  pkgs/applications/networking/p2p/frostwire/frostwire-bin.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41252 qbittorrent: 4.1.0 -> 4.1.1
  pkgs/applications/networking/p2p/qbittorrent/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41349 perlPackages.Git: init at 0.42
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41348 bat: 0.3.0 -> 0.4.1
  pkgs/tools/misc/bat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41338 neo4j: 3.3.4 -> 3.4.0
  pkgs/servers/nosql/neo4j/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41345 scite: 3.7.5 -> 4.0.5
  pkgs/applications/editors/scite/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41310 pythonPackages.amazon_kclpy: init at 1.5.0
  pkgs/development/python-modules/amazon_kclpy/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#35482 init bulletml and rrootage
  pkgs/development/libraries/bulletml/default.nix
  pkgs/games/rrootage/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41337 haskell.packages.ghcjs.terminfo: Bump version
  pkgs/development/haskell-modules/configuration-ghcjs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell, 9.needs: port to stable

#41320 Switch Nixpkgs to using more NetBSD stuff for MUSL
  pkgs/development/libraries/libbsd/cdefs.patch
  pkgs/development/libraries/libbsd/darwin.patch
  pkgs/development/libraries/libbsd/default.nix
  pkgs/development/libraries/libbsd/features.patch
  pkgs/development/libraries/libbsd/non-glibc.patch
  pkgs/os-specific/bsd/netbsd/compat.patch
  pkgs/os-specific/bsd/netbsd/default.nix
  pkgs/os-specific/bsd/netbsd/libbsd-overlay.pc
  pkgs/os-specific/linux/libselinux/default.nix
  pkgs/os-specific/linux/musl/fts-setup-hook.sh
  pkgs/os-specific/linux/musl/fts.nix
  pkgs/os-specific/linux/musl/getconf.nix
  pkgs/os-specific/linux/musl/getent.nix
  pkgs/tools/compression/xar/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/unix-tools.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 101-500, 8.has: clean-up, 8.has: package (new)

#41351 coqPackages.contribs.aac-tactics: enable for Coq 8.7 and 8.8
  pkgs/development/coq-modules/contribs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41367 nixos/mpd: allow services.mpd.dbFile to be null
  nixos/modules/services/audio/mpd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#41353 gnome2.gtksourceview: fix build on darwin
  pkgs/desktops/gnome-2/desktop/gtksourceview/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 6.topic: darwin

#41346 opaline: init at 0.3.1
  pkgs/development/tools/ocaml/opaline/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: package (new)

#41271 p11-kit: 0.23.10 -> 0.23.11
  pkgs/development/libraries/p11-kit/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#41309 nixos/tests/iftop: fix non-deterministic failure
  nixos/tests/iftop.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#41372 {g,w}llvm: 1.2.1 -> 1.2.2
  pkgs/development/tools/gllvm/default.nix
  pkgs/development/tools/wllvm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41288 nftables: 0.8.3 -> 0.8.5
  pkgs/os-specific/linux/nftables/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41046 powerdns: 4.1.2 -> 4.1.3
  pkgs/servers/dns/powerdns/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41049 pdns-recursor: 4.1.2 -> 4.1.3
  pkgs/servers/dns/pdns-recursor/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41352 dep2nix: init at 0.0.1
  pkgs/development/tools/dep2nix/default.nix
  pkgs/development/tools/dep2nix/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41230 wsjtx: 1.8.0 -> 1.9.0
  pkgs/applications/misc/wsjtx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41263 qutebrowser: 1.3.0 -> 1.3.1
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41254 cfitsio: add Darwin support
  pkgs/development/libraries/cfitsio/darwin-curl-config.patch
  pkgs/development/libraries/cfitsio/darwin-rpath-universal.patch
  pkgs/development/libraries/cfitsio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#41287 barrier: init at 2.1.1
  maintainers/maintainer-list.nix
  pkgs/applications/misc/barrier/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41119 errbot: 5.1.3 -> 5.2.0
  pkgs/applications/networking/errbot/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41148 Mint-lang: Init at 2018.05.27
  pkgs/development/compilers/mint/crystal2nix.cr
  pkgs/development/compilers/mint/default.nix
  pkgs/development/compilers/mint/shards.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41020 androidndk: Fixes missing libraries for prebuilt clang
  pkgs/development/mobile/androidenv/androidndk.nix
  pkgs/development/mobile/androidenv/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41383 subversion_1_10: init at 1.10.0
  pkgs/applications/version-management/subversion/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41204 Wine updates
  pkgs/misc/emulators/wine/sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#41023 lua packages: add init.lua to modules search path
  pkgs/development/lua-modules/generic/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#40692 sshd: add custom options
  nixos/modules/services/networking/ssh/sshd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#40712 hadoop: 2.2.0 -> 2.7.6, 2.8.6, 2.9.1, 3.0.2, 3.1.0
  pkgs/applications/networking/cluster/hadoop/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#40611 urn: init at 0.7.1
  pkgs/development/compilers/urn/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#40544 cura: fix invisible sidebar and install missing materials
  pkgs/applications/misc/cura/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#40242 linux: enable support for iGVT-g VGPU
  nixos/modules/module-list.nix
  nixos/modules/virtualisation/kvmgt.nix
  pkgs/applications/virtualization/virt-viewer/default.nix
  pkgs/development/libraries/spice-gtk/default.nix
  pkgs/os-specific/linux/kernel/common-config.nix
  pkgs/tools/networking/phodav/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 501+, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#40171 [RDY] openntpd: make -s flag work
  nixos/modules/services/networking/openntpd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#40037 nixos/modules/services/scheduling/fcron: add setuid to fcrontab
  nixos/modules/services/scheduling/fcron.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#40028 prometheus-dnsmasq-exporter: init at 2018-05-05, add module
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/dnsmasq.nix
  pkgs/servers/monitoring/prometheus/dnsmasq-exporter-deps.nix
  pkgs/servers/monitoring/prometheus/dnsmasq-exporter.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#41384 altcoins.aeon: 0.9.14.0 -> 0.12.0.0
  pkgs/applications/altcoins/aeon/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41380 ponyc: 0.22.2 -> 0.22.3
  pkgs/development/compilers/ponyc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41228 mapmap: init at 0.6.1
  pkgs/applications/video/mapmap/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#40694 aws-sdk-cpp: 1.4.40 -> 1.4.50
  pkgs/development/libraries/aws-sdk-cpp/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#41257 adobe_flex_sdk: 4.0.0.14159 -> apache-flex-sdk: 4.16.1
  pkgs/development/compilers/adobe-flex-sdk/default.nix
  pkgs/development/compilers/apache-flex-sdk/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#41387 bulletml: fix build failure due to -Wformat-security
  pkgs/development/libraries/bulletml/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#40883 zeronet: init at 0.6.2
  pkgs/applications/networking/p2p/zeronet/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41376 ipfs: 0.4.14 -> 0.4.15
  pkgs/applications/networking/ipfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#30037 poppler: add nss to allow for building pdfsig
  pkgs/development/libraries/poppler/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41377 nixos/slurm: Improve slurm configuration options and features.
  nixos/modules/services/computing/slurm/slurm.nix
  nixos/tests/slurm.nix
  pkgs/servers/computing/slurm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#41356 spotify: 1.0.79.223.g92622cc2-21 -> 1.0.80.480.g51b03ac3-13
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41371 pass-import: fix environment bugs
  pkgs/tools/security/pass/extensions/import.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41390 gitkraken: 3.6.1 -> 3.6.3
  pkgs/applications/version-management/gitkraken/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41370 pass-audit: init at 0.1
  pkgs/tools/security/pass/extensions/audit.nix
  pkgs/tools/security/pass/extensions/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41405 prosody: 0.10.1 -> 0.10.2
  pkgs/servers/xmpp/prosody/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41406 prosody: 0.10.0 -> 0.10.2
  pkgs/servers/xmpp/prosody/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41334 configuration-ghc-8.4.x: bump to dhall_1_14_0
  pkgs/development/haskell-modules/configuration-ghc-8.4.x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#41373 lib: bitAnd, bitOr, bitXor
  lib/default.nix
  lib/tests/misc.nix
  lib/trivial.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41350 godep: remove in favor of dep
  pkgs/development/tools/godep/default.nix
  pkgs/development/tools/godep/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#41400 multimc: 0.6.1 -> 0.6.2
  pkgs/games/multimc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41293 lz4: 131 -> 1.8.2
  pkgs/tools/compression/lz4/default.nix
  pkgs/tools/compression/lz4/install-on-freebsd.patch
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#41258 boost 1.67
  pkgs/development/libraries/boost/1.67.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 8.has: package (new)

#41394 [staging] cpan2nix: update perl packages
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#40687 [RDY] cmake: don't override cmakeDir when set
  pkgs/development/tools/build-managers/cmake/setup-hook.sh
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#36530 gettext: 0.19.8 -> 0.19.8.1
  pkgs/development/libraries/gettext/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+

#41382 ctags: fix source url
  pkgs/development/tools/misc/ctags/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1-10

#41139 freecad: 0.16.6712 -> 0.17
  pkgs/applications/graphics/freecad/default.nix
  pkgs/development/libraries/medfile/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41409 imagemagick: depend on fftw for fft feature
  pkgs/applications/graphics/ImageMagick/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#41417 skim: 0.3.2 -> 0.4.0
  pkgs/tools/misc/skim/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41402 synapse-bt: init at 2018-06-04
  pkgs/applications/networking/p2p/synapse-bt/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41395 libarchive: pull in patch to support LibresSSL-2.7.
  pkgs/development/libraries/libarchive/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#41386 libevent: Pull in patches to support LibreSSL 2.7.
  pkgs/development/libraries/libevent/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#41419 pythonPackages.jira: fix build
  pkgs/development/python-modules/jira/default.nix
  pkgs/development/python-modules/jira/sphinx-fix.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#41421 shadowsocks-libev: supports darwin
  pkgs/tools/networking/shadowsocks-libev/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#41366 dockerTools.pullImage: expose image* attributes
  pkgs/build-support/docker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#41411 Fix GHCJS 8.4/8.2 in sandboxed builds
  pkgs/development/compilers/ghcjs-ng/configured-ghcjs-src.nix
  pkgs/development/compilers/ghcjs-ng/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell

#41427 qutebrowser: 1.2.0 -> 1.3.1
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41433 ninja: build manual with docbook
  pkgs/development/tools/build-managers/ninja/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#41439 kubernetes: corrected spelling mistake in docs
  nixos/modules/services/cluster/kubernetes/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#41437 nixos/gitea: Respect gitea-dump enable option.
  nixos/modules/services/misc/gitea.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#41449 gnome3.vinagre: fix build
  pkgs/desktops/gnome-3/apps/vinagre/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3

#41443 opendkim: fix libbsd dependency
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41445 gdal: Fix darwin build
  pkgs/development/libraries/gdal/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: darwin

#41452 Point nix at curl 7.59.0
  pkgs/tools/networking/curl/7_59.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 8.has: package (new)

#41429 cc-wrapper, bintools-wrapper: unbreak include/link paths when cross-compiling
  pkgs/build-support/bintools-wrapper/setup-hook.sh
  pkgs/build-support/cc-wrapper/setup-hook.sh
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+

#41450 eigen3_3: Fix darwin build
  pkgs/development/libraries/eigen/3.3.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin

#41441 znapzend: fix build
  pkgs/tools/backup/znapzend/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41328 Add an additional dependency for home-assistant
  pkgs/development/python-modules/voluptuous-serialize/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#41242 PowerShell: init at 6.0.2
  pkgs/shells/powershell/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41454 [staging] perlPackages: convert some modules to aliases
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41468 dbeaver: 5.0.6 -> 5.1.0
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41469 dbeaver: 5.0.6 -> 5.1.0 (18.03)
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41455 lombok: 1.6.20 -> 1.6.22
  pkgs/development/libraries/java/lombok/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41446 nixos/systemd: Allow to override serviceConfig
  nixos/modules/system/boot/systemd-lib.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#41447 [staging] cpan2nix: remove perl libraries which are not newer than built-ins
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#41484 ponyc: 0.22.3 -> 0.22.5
  pkgs/development/compilers/ponyc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41368 Add missing ios triples to bfd
  pkgs/development/tools/misc/binutils/support-ios.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin

#41456 Do not kill udev during boot
  nixos/maintainers/scripts/ec2/amazon-image.nix
  nixos/modules/system/boot/grow-partition.nix
  nixos/modules/system/boot/stage-1-init.sh
  nixos/modules/virtualisation/amazon-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#41486 grub: Support when boot.loader.grub.font is null
  nixos/modules/system/boot/loader/grub/grub.nix
  nixos/modules/system/boot/loader/grub/install-grub.pl
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#41481 iasl: integrate upstream patch for acpica/acpica#387
  pkgs/development/compilers/iasl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#41489 ocamlPackages.linenoise: init at 1.1.0
  pkgs/development/ocaml-modules/linenoise/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (new)

#41415 opendune: init at 0.9
  pkgs/games/opendune/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41432 steam: add optional extraProfile
  pkgs/games/steam/chrootenv.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: steam

#41492 ctmg: add 1.2
  pkgs/tools/security/ctmg/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41483 vlc: 3.0.1 -> 3.0.3
  pkgs/applications/video/vlc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#41493 readline 7.0.3 -> 7.0.5
  pkgs/development/libraries/readline/readline-7.0-patches.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#40983 pythonPackages.typing-extensions: init at 3.6.5
  pkgs/development/python-modules/typing-extensions/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#41451 pdf-redact-tools: init -> 0.1.2
  pkgs/tools/graphics/pdfredacttools/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41496 mc: 4.8.20 -> 4.8.21
  pkgs/tools/misc/mc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41342 Fixes doc auto-formatting oopsies
  doc/Makefile
  doc/coding-conventions.xml
  doc/cross-compilation.xml
  doc/functions.xml
  doc/languages-frameworks/bower.xml
  doc/meta.xml
  doc/multiple-output.xml
  doc/package-notes.xml
  doc/shell.nix
  doc/stdenv.xml
  nixos/doc/manual/Makefile
  nixos/doc/manual/administration/boot-problems.xml
  nixos/doc/manual/configuration/config-file.xml
  nixos/doc/manual/development/building-parts.xml
  nixos/doc/manual/development/option-declarations.xml
  nixos/doc/manual/development/option-types.xml
  nixos/doc/manual/development/writing-nixos-tests.xml
  nixos/doc/manual/installation/installing.xml
  nixos/doc/manual/man-nixos-build-vms.xml
  nixos/doc/manual/man-nixos-enter.xml
  nixos/doc/manual/man-nixos-generate-config.xml
  nixos/doc/manual/man-nixos-install.xml
  nixos/doc/manual/man-nixos-option.xml
  nixos/doc/manual/man-nixos-rebuild.xml
  nixos/doc/manual/man-nixos-version.xml
  nixos/doc/manual/release-notes/rl-1509.xml
  nixos/doc/manual/release-notes/rl-1809.xml
  nixos/doc/manual/shell.nix
  nixos/doc/varlistentry-fixer.rb
  nixos/doc/xmlformat.conf
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#41344 Fixes doc auto-formatting oopsies [18.03]
  doc/Makefile
  doc/coding-conventions.xml
  doc/cross-compilation.xml
  doc/functions.xml
  doc/languages-frameworks/bower.xml
  doc/meta.xml
  doc/multiple-output.xml
  doc/package-notes.xml
  doc/shell.nix
  doc/stdenv.xml
  nixos/doc/manual/Makefile
  nixos/doc/manual/administration/boot-problems.xml
  nixos/doc/manual/configuration/config-file.xml
  nixos/doc/manual/development/building-parts.xml
  nixos/doc/manual/development/option-declarations.xml
  nixos/doc/manual/development/option-types.xml
  nixos/doc/manual/development/writing-nixos-tests.xml
  nixos/doc/manual/installation/installing.xml
  nixos/doc/manual/man-nixos-build-vms.xml
  nixos/doc/manual/man-nixos-enter.xml
  nixos/doc/manual/man-nixos-generate-config.xml
  nixos/doc/manual/man-nixos-install.xml
  nixos/doc/manual/man-nixos-option.xml
  nixos/doc/manual/man-nixos-rebuild.xml
  nixos/doc/manual/man-nixos-version.xml
  nixos/doc/manual/shell.nix
  nixos/doc/varlistentry-fixer.rb
  nixos/doc/xmlformat.conf
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation

#41504 [18.03] cacert: fix certdata2pem url
  pkgs/data/misc/cacert/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41507 snd: 18.3 -> 18.4
  pkgs/applications/audio/snd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41520 flent: fix fetchFromGitHub version
  pkgs/applications/networking/flent/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41503 bat: support darwin
  pkgs/tools/misc/bat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#41522 Restore freedesktop libbsd
  pkgs/development/libraries/libbsd/cdefs.patch
  pkgs/development/libraries/libbsd/darwin.patch
  pkgs/development/libraries/libbsd/default.nix
  pkgs/development/libraries/libbsd/features.patch
  pkgs/development/libraries/libbsd/non-glibc.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 8.has: clean-up

#41505 gnuplot: 5.2.3 -> 5.2.4
  pkgs/tools/graphics/gnuplot/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#41502 wireless-regdb: 2018.05.09 -> 2018.05.31
  pkgs/data/misc/wireless-regdb/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41515 renpy: 6.99.14.3 -> 7.0.0
  pkgs/development/interpreters/renpy/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41529 pmd: 6.3.0 -> 6.4.0
  pkgs/development/tools/analysis/pmd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41530 pkcs11helper: 1.22 -> 1.23
  pkgs/development/libraries/pkcs11helper/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41527 qrencode: 4.0.0 -> 4.0.1
  pkgs/tools/graphics/qrencode/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#41532 osinfo-db: 20180514 -> 20180531
  pkgs/data/misc/osinfo-db/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41535 monit: 5.25.1 -> 5.25.2
  pkgs/tools/system/monit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41543 lxcfs: 3.0.0 -> 3.0.1
  pkgs/os-specific/linux/lxcfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41557 racket: use latest gtk (gtk2 -> gkt3)
  pkgs/development/interpreters/racket/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41556 gnome3 update
  pkgs/desktops/gnome-3/core/epiphany/default.nix
  pkgs/desktops/gnome-3/core/gdm/default.nix
  pkgs/desktops/gnome-3/core/geocode-glib/default.nix
  pkgs/desktops/gnome-3/core/gnome-control-center/default.nix
  pkgs/desktops/gnome-3/core/gnome-disk-utility/default.nix
  pkgs/desktops/gnome-3/core/gnome-terminal/default.nix
  pkgs/desktops/gnome-3/core/vte/default.nix
  pkgs/development/libraries/libdazzle/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: gnome3

#41068 z3: 4.6.0 -> 4.7.1
  pkgs/applications/science/logic/z3/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#40729 nixos/tests/hydra: build a trivial derivation
  nixos/release.nix
  nixos/tests/hydra.nix
  nixos/tests/hydra/create-trivial-project.sh
  nixos/tests/hydra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#38263 grub: support initrd secrets
  nixos/doc/manual/release-notes/rl-1809.xml
  nixos/modules/system/boot/loader/grub/grub.nix
  nixos/modules/system/boot/loader/grub/install-grub.pl
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#40666 m32edit and x32edit: init at 3.2
  pkgs/applications/audio/midas/generic.nix
  pkgs/applications/audio/midas/m32edit.nix
  pkgs/applications/audio/midas/x32edit.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41561 h2o: 2.2.4 -> 2.2.5
  pkgs/servers/http/h2o/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41560 gtkwave: 3.3.90 -> 3.3.91
  pkgs/applications/science/electronics/gtkwave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41570 cryptoverif: 1.28 -> 2.00
  pkgs/applications/science/logic/cryptoverif/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41578 parity: 1.9.7 -> 1.10.6 [SECURITY UPDATES]
  pkgs/applications/altcoins/default.nix
  pkgs/applications/altcoins/parity/beta.nix
  pkgs/applications/altcoins/parity/default.nix
  pkgs/applications/altcoins/parity/patches/vendored-sources-1.9.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#41597 atom-beta: 1.28.0-beta2 -> 1.28.0-beta3
  pkgs/applications/editors/atom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41595 getdns: 1.4.1 -> 1.4.2
  pkgs/development/libraries/getdns/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41554 Mint: 2018-05-27 -> 0.0.3
  pkgs/development/compilers/mint/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41590 skypeforlinux: remove libstdc++5 dependency
  pkgs/applications/networking/instant-messengers/skypeforlinux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41577 joker: 0.9.2 -> 0.9.3
  pkgs/development/interpreters/joker/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41596 ocamlPackages.functory: 0.5 -> 0.6
  pkgs/development/ocaml-modules/functory/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: package (update)

#41497 mariadb: 10.2.14 -> 10.2.15
  pkgs/servers/sql/mariadb/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#41583 bluez: 5.49 -> 5.50
  pkgs/os-specific/linux/bluez/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#41475 manual: make epub a build product on hydra
  doc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#41576 xearth : init at 1.1
  maintainers/maintainer-list.nix
  pkgs/applications/science/astronomy/xearth/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41568 fcitx-table-extra: init at 0.3.8
  maintainers/maintainer-list.nix
  pkgs/tools/inputmethods/fcitx-engines/fcitx-table-extra/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#41498 docker-machine-kvm2: init at 0.27.0
  pkgs/applications/networking/cluster/docker-machine/kvm2.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: documentation, 8.has: package (new)

#41514 unetbootin: 657 -> 661
  pkgs/tools/cd-dvd/unetbootin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41006 openbox: fix wrapping of openbox-xdg-autostart
  pkgs/applications/window-managers/openbox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#41606 Fix rWrapper on darwin
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin

#41617 check-mssql-health: init at 2.6.4.14
  pkgs/development/perl-modules/DBD-sybase/default.nix
  pkgs/servers/monitoring/plugins/labs_consol_de.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)
