Repository NixOS/nixpkgs, pull requests merged in 2018-11, with the labels that each got.

#48033 konqueror: init at 18.08
  pkgs/applications/kde/default.nix
  pkgs/applications/kde/konqueror.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: qt/kde, 8.has: package (new)

#49577 cargo-tree: 0.20.0 -> 0.21.0
  pkgs/tools/package-management/cargo-tree/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49543 sc-controller: 0.4.4 -> 0.4.5
  pkgs/misc/drivers/sc-controller/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#49572 lightstep-tracer-cpp: 0.36 -> 0.8.1
  pkgs/development/libraries/lightstep-tracer-cpp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49339 pythonPackages.zstd: init at 1.3.5.1
  pkgs/development/python-modules/zstd/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#49342 pythonPackages.trueskill: init at 0.4.5
  pkgs/development/python-modules/trueskill/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#49542 openjpeg: adding patch for CVE-2018-7648
  pkgs/development/libraries/openjpeg/2.x.nix
Labels: 1.severity: security, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#48326 openjdk: 10.0.2 -> 11.0.1
  pkgs/applications/misc/josm/default.nix
  pkgs/development/compilers/openjdk/11.nix
  pkgs/development/compilers/openjdk/bootstrap.nix
  pkgs/development/compilers/openjdk/darwin/11.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: clean-up, 8.has: package (new)

#49460 platformio: 3.5.3 -> 3.6.1
  pkgs/development/arduino/platformio/core.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49571 home-assistant: use SIGINT instead of SIGTERM to shut down
  nixos/modules/services/misc/home-assistant.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#46844 gImageReader: init at 3.2.99 [rdy]
  pkgs/applications/misc/gImageReader/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49076 urh: add support for airspy and limesdr
  pkgs/applications/misc/urh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49080 HybridReverb2: init at 2.1.1
  pkgs/applications/audio/hybridreverb2/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49596 pmtools: remove and alias
  pkgs/os-specific/linux/pmtools/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#49590 atom, atom-beta: 1.32.0 -> 1.32.1, 1.33.0-beta0 -> 1.33.0-beta1
  pkgs/applications/editors/atom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#48861 vulkan-tools: 1.1.82.0 -> 1.1.85
  pkgs/tools/graphics/vulkan-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49598 nlohmann_json: 3.3.0 -> 3.4.0
  pkgs/development/libraries/nlohmann_json/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49566 release-lib: Cache cross nixpkgs evals too, and other fixes, for 18.09
  pkgs/stdenv/linux/make-bootstrap-tools.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/release-cross.nix
  pkgs/top-level/release-lib.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#49611 virtualgl: revert PR #49185
  pkgs/tools/X11/virtualgl/lib.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#47375 oraclejdk: remove version 10
  pkgs/development/compilers/oraclejdk/jdk10-linux.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#49565 release-lib: Cache cross nixpkgs evals too, and other fixes
  pkgs/stdenv/linux/make-bootstrap-tools.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/release-cross.nix
  pkgs/top-level/release-lib.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#49616 yarn: 1.10.1 -> 1.12.1
  pkgs/development/tools/yarn/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49423 nixos/zerotier: binds to network-online.target to avoid the 1m30s …
  nixos/modules/services/networking/zerotierone.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49593 dropwatch: init at 1.5
  pkgs/os-specific/linux/dropwatch/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49587 leveldb: 1.18 -> 1.20
  pkgs/development/libraries/leveldb/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#49614 Add licenses
  lib/licenses.nix
  pkgs/development/libraries/imlib/default.nix
  pkgs/development/libraries/incrtcl/default.nix
  pkgs/development/libraries/jama/default.nix
  pkgs/development/libraries/jasper/default.nix
  pkgs/development/libraries/java/dbus-java/default.nix
  pkgs/development/libraries/java/gwt-dragdrop/default.nix
  pkgs/development/libraries/java/gwt-widgets/default.nix
  pkgs/development/libraries/java/hsqldb/default.nix
  pkgs/development/libraries/java/httpunit/default.nix
  pkgs/development/libraries/java/jdom/default.nix
  pkgs/development/libraries/java/libmatthew-java/default.nix
  pkgs/development/libraries/java/lucene/default.nix
  pkgs/development/libraries/java/mockobjects/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49622 polybar: nuke reference to stdenv.cc, small clean up
  pkgs/applications/misc/polybar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49619 lightdm-mini-greeter: v0.3.2 -> v0.3.3
  pkgs/applications/display-managers/lightdm-mini-greeter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49624 perldevel: 5.29.3 -> 5.29.4
  pkgs/development/interpreters/perl/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#49617 Fix flightgear, simgear & speed_dreams
  pkgs/development/libraries/openscenegraph/3.4.0.nix
  pkgs/development/libraries/simgear/default.nix
  pkgs/games/flightgear/default.nix
  pkgs/games/speed-dreams/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49562 ntp: fix ntpd shutdown by using upstream patch
  pkgs/tools/networking/ntp/seccomp.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49563 [18.09] ntp: fix ntpd shutdown by using upstream patch
  pkgs/tools/networking/ntp/seccomp.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49180 brlaser: fix install dir
  pkgs/misc/cups/drivers/brlaser/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: printing

#49570 webkitgtk: 2.22.2 -> 2.22.3
  pkgs/development/libraries/webkitgtk/2.22.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49514 curl: 7.61.1 -> 7.62.0
  pkgs/tools/networking/curl/default.nix
Labels: 1.severity: security, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#49548 c-ares: 1.14.0 -> 1.15.0
  pkgs/development/libraries/c-ares/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 8.has: package (update)

#49513 activation-script: add libc to path to provide nscd when needed
  nixos/modules/system/activation/activation-script.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49597 mesa: 18.2.3 -> 18.2.4
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#49599 harfbuzz: 2.0.0 -> 2.1.0
  pkgs/development/libraries/harfbuzz/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#49455 gcc6: 6.4.0 -> 6.5.0
  pkgs/development/compilers/gcc/6/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#48579 z3: 4.7.1 -> 4.8.1
  pkgs/applications/science/logic/z3/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#49495 thunderbolt: cleanup
  pkgs/os-specific/linux/thunderbolt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49250 nim: 0.18.0 -> 0.19.0
  pkgs/applications/science/biology/mosdepth/default.nix
  pkgs/development/compilers/nim/default.nix
  pkgs/development/tools/nrpl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#49561 upgrade kicad 5.0.0 -> 5.0.1
  pkgs/applications/science/electronics/kicad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#47526 nixos/syncthing: move configuration to condigDir
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/services/networking/syncthing.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#48550 apparmor: 2.12.0 -> 2.13.1
  pkgs/os-specific/linux/apparmor/default.nix
Labels: 1.severity: mass-rebuild, 10.rebuild-darwin: 0, 10.rebuild-linux: 501+

#49641 openscenegraph: 3.6.2 -> 3.6.3
  pkgs/development/libraries/openscenegraph/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#49347 easysnap: init at 2018-10-28
  maintainers/maintainer-list.nix
  pkgs/tools/backup/easysnap/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#48919 nixos: fix #48917 by setting SYSTEMD_TIMEDATED_NTP_SERVICES
  nixos/modules/services/networking/chrony.nix
  nixos/modules/services/networking/ntpd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#48697 haskellPackages.cabal-helper: Jailbreak restrictive bounds.
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#49352 nomachine-client: init at 6.3.6_1
  maintainers/maintainer-list.nix
  pkgs/tools/admin/nomachine-client/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49582 terraform-providers: Bump all releases
  pkgs/applications/networking/cluster/terraform-providers/data.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 8.has: package (new)

#49379 nixos/dockerPreloader: preload docker images
  nixos/modules/virtualisation/docker-preloader.nix
  nixos/modules/virtualisation/qemu-vm.nix
  nixos/release.nix
  nixos/tests/docker-preloader.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#48672 w3m: 20161120 -> 20180125
  pkgs/applications/networking/browsers/w3m/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 8.has: package (update)

#49658 gitlab: refactor and fix test
  nixos/modules/services/misc/gitlab.nix
  nixos/release.nix
  nixos/tests/gitlab.nix
  pkgs/applications/version-management/gitlab/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#49629 pyre: 0.0.14 -> 0.0.17
  pkgs/development/tools/pyre/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin

#49674 haskellPackages.sdl2: test-suite needs x server, so deactivate it
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#49666 r-ps: patchShebangs in ./configure to fix build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49467 cmusfm: init at 2018-10-11
  pkgs/applications/audio/cmusfm/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#49649 jq: 1.5 -> 1.6 (!!!!)
  pkgs/development/tools/jq/darwin-strptime-test.patch
  pkgs/development/tools/jq/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#49680 nix-du: 0.2.0 -> 0.3.0
  pkgs/tools/package-management/nix-du/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49585 libid3tag: patch CVE-2017-11550 and CVE-2017-11551
  pkgs/development/libraries/libid3tag/CVE-2017-11550-and-CVE-2017-11551.patch
  pkgs/development/libraries/libid3tag/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#49660 yices: 2.6.0 -> 2.6.1
  pkgs/applications/science/logic/yices/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49672 maxx: fix urls
  pkgs/desktops/maxx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#48496 linuxPackages.bpftrace: init at unstable-2018-10-27
  pkgs/os-specific/linux/bpftrace/bcc-source.patch
  pkgs/os-specific/linux/bpftrace/default.nix
  pkgs/os-specific/linux/bpftrace/disable-gtests.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 8.has: package (new)

#49559 bump version librepcb-unstable: 2018-06-28 -> 2018-10-31
  pkgs/applications/science/electronics/librepcb/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49645 pythonPackages.broadlink: init at 0.9
  pkgs/development/python-modules/broadlink/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#47988 pythonPackages.fastpbkdf2: init at 0.2
  pkgs/development/python-modules/fastpbkdf2/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#49665 tootle: 0.1.5 -> 0.2.0
  pkgs/applications/misc/tootle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49650 amazon-image: fix typo in comment
  nixos/modules/virtualisation/amazon-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#48082 ansible: Update to latest supported releases
  pkgs/development/tools/ansible-lint/default.nix
  pkgs/tools/admin/ansible/default.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#49692 nixos/google-network-daemon: systemd job type simple instead of oneshot
  nixos/modules/virtualisation/google-compute-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49656 folly: 2018.08.27.00 -> 2018.10.29.00
  pkgs/development/libraries/folly/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49697 [18.09] ansible: 2.5.2 -> 2.5.11 and 2.6.2 -> 2.6.7
  pkgs/tools/admin/ansible/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49165 consul: 0.9.3 -> 1.3.0 with vendored UI
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/services/networking/consul.nix
  pkgs/servers/consul/Gemfile
  pkgs/servers/consul/Gemfile.lock
  pkgs/servers/consul/default.nix
  pkgs/servers/consul/gemset.nix
  pkgs/servers/consul/ui-no-bundle-exec.patch
  pkgs/servers/consul/ui.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation, 8.has: module (update)

#49128 nvidia-x11: 410.66 -> 410.73
  pkgs/os-specific/linux/nvidia-x11/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#49620 nixos/rspamd: Add support for included files
  nixos/modules/services/mail/rspamd.nix
  nixos/tests/rspamd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49694 alacritty: fix build on darwin
  pkgs/applications/misc/alacritty/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin

#49702 lollypop: 0.9.607 -> 0.9.610
  pkgs/applications/audio/lollypop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49398 Implement rfc0035: default `name` from `pname`
  pkgs/stdenv/generic/make-derivation.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv, 8.has: clean-up

#49707 linux_beagleboard: remove
  pkgs/os-specific/linux/kernel/linux-beagleboard.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49722 radeon-crimson: fix download
  pkgs/os-specific/linux/ati-drivers/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49603 slack-term: init at 0.4.1
  pkgs/applications/networking/instant-messengers/slack-term/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#49739 spotify: 1.0.83.316.ge96b6e67-5 -> 1.0.93.242.gc2341a27-15
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49727 jdupes: 1.10.4 -> 1.11
  pkgs/tools/misc/jdupes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49701 RStudio 1.2 preview init
  maintainers/maintainer-list.nix
  pkgs/applications/editors/rstudio/clang-location.patch
  pkgs/applications/editors/rstudio/fix-cmake.patch
  pkgs/applications/editors/rstudio/preview.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49687 sway-beta module: add missing pieces
  nixos/modules/programs/sway-beta.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49710 linux-samus: remove
  pkgs/os-specific/linux/kernel/linux-samus-4.12.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#49411 libmtp: 1.1.15 -> 1.1.16
  pkgs/development/libraries/libmtp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#49589 vimPlugins: add jedi-vim plugin
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: vim, 8.has: package (new)

#49746 nixos: programs.bash: Fix comment about completion
  nixos/modules/programs/bash/bash.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#48047 gnome3.mutter: fix crash on startup with nvidia drivers
  pkgs/desktops/gnome-3/core/mutter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: gnome3

#49745 xapian: 1.4.8 -> 1.4.9
  pkgs/development/libraries/xapian/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#47985 pythonPackages.sslib: init at 0.2.0
  pkgs/development/python-modules/sslib/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#49749 nixos/prometheus: check configuration before activating, allow specifying custom prometheus package
  nixos/modules/services/monitoring/prometheus/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49747 [18.09] gnome3.mutter: fix crash on startup with nvidia drivers
  pkgs/desktops/gnome-3/core/mutter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: gnome3

#49592 vimPlugins: add jedi-vim
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/overrides.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: vim, 8.has: package (new)

#49579 brightnessctl: fix udev and clean unnecessary make flags
  pkgs/misc/brightnessctl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49116 Add dhallPackages and add current Prelude
  .github/CODEOWNERS
  pkgs/development/dhall-modules/default.nix
  pkgs/development/dhall-modules/prelude/v3.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: policy discussion

#49750 git-big-picture: 0.9.0 -> 0.10.1
  pkgs/applications/version-management/git-and-tools/git-big-picture/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49719 1password: 0.5.3 -> 0.5.4
  pkgs/applications/misc/1password/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49718 ibm-plex: 1.1.6 -> 1.2.1
  pkgs/data/fonts/ibm-plex/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49738 bazel-deps: 2018-08-16 -> 2018-11-01
  pkgs/development/tools/build-managers/bazel/bazel-deps/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49728 acgtk: 1.3.1 -> 1.5.0
  pkgs/applications/science/logic/acgtk/default.nix
  pkgs/applications/science/logic/acgtk/install-emacs-to-site-lisp.patch
  pkgs/applications/science/logic/acgtk/use-nix-ocaml-byteflags.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: clean-up, 8.has: package (update)

#49638 mupdf: 1.13.0 -> 1.14.0
  pkgs/applications/misc/mupdf/darwin.patch
  pkgs/applications/misc/mupdf/default.nix
  pkgs/applications/misc/mupdf/mupdf-1.13-shared_libs-1.patch
  pkgs/applications/misc/mupdf/mupdf-1.14-shared_libs.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49604 matrix-synapse: 0.33.6 -> 0.33.8
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49606 matrix-synapse: 0.33.6 -> 0.33.8
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49669 Provide all the binaries needed by the vim-go plugin
  pkgs/development/tools/asmfmt/default.nix
  pkgs/development/tools/asmfmt/deps.nix
  pkgs/development/tools/check/default.nix
  pkgs/development/tools/check/deps.nix
  pkgs/development/tools/deadcode/default.nix
  pkgs/development/tools/errcheck/default.nix
  pkgs/development/tools/errcheck/deps.nix
  pkgs/development/tools/go-tools/default.nix
  pkgs/development/tools/go-tools/deps.nix
  pkgs/development/tools/goconst/default.nix
  pkgs/development/tools/gocyclo/default.nix
  pkgs/development/tools/gogetdoc/default.nix
  pkgs/development/tools/gogetdoc/deps.nix
  pkgs/development/tools/gometalinter/default.nix
  pkgs/development/tools/gosec/default.nix
  pkgs/development/tools/gosec/deps.nix
  pkgs/development/tools/iferr/default.nix
  pkgs/development/tools/impl/default.nix
  pkgs/development/tools/impl/deps.nix
  pkgs/development/tools/ineffassign/default.nix
  pkgs/development/tools/interfacer/default.nix
  pkgs/development/tools/interfacer/deps.nix
  pkgs/development/tools/maligned/default.nix
  pkgs/development/tools/maligned/deps.nix
  pkgs/development/tools/reftools/default.nix
  pkgs/development/tools/unconvert/default.nix
  pkgs/development/tools/unconvert/deps.nix
  pkgs/misc/vim-plugins/overrides.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: vim, 8.has: documentation, 8.has: package (new)

#49147 pythonPackages.imageio: 1.6 -> 2.4.1
  pkgs/development/python-modules/imageio/default.nix
  pkgs/development/python-modules/moviepy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#49327 tmux: fix tmux sha256 hash
  pkgs/tools/misc/tmux/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49744 pythonPackages.python-gitlab: init at 1.6.0
  pkgs/development/python-modules/httmock/default.nix
  pkgs/development/python-modules/python-gitlab/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#49715 plex: 1.13.8.5395 -> 1.13.9.5456
  pkgs/servers/plex/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#44303 nixos/tomcat: add purifyOnStart option
  nixos/modules/services/web-servers/tomcat.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#49635 coqPackages.contribs.zfc: enable for Coq 8.8
  pkgs/development/coq-modules/contribs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq

#49758 haskellPackages.*.env: Fixed shellHook being ignored
  pkgs/development/haskell-modules/generic-builder.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#49632 fastlane: 2.105.2 -> 2.107.0
  pkgs/tools/admin/fastlane/Gemfile.lock
  pkgs/tools/admin/fastlane/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49670 Fix pkgsi686Linux assertion
  nixos/modules/config/pulseaudio.nix
  nixos/modules/hardware/opengl.nix
  nixos/modules/hardware/video/amdgpu-pro.nix
  nixos/modules/hardware/video/ati.nix
  nixos/modules/hardware/video/nvidia.nix
  nixos/modules/misc/nixpkgs.nix
  nixos/modules/virtualisation/parallels-guest.nix
  pkgs/top-level/stage.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: clean-up, 8.has: module (update)

#49628 raspberrypiWirelessFirmware: 2018-05-30 -> 2018-08-20
  pkgs/os-specific/linux/firmware/raspberrypi-wireless/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49664 bup: 0.29.1 -> 0.29.2
  pkgs/tools/backup/bup/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49462 pkgs.nixos: Add example to inline documentation
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49763 lombok: 1.16.22 -> 1.18.4
  pkgs/development/libraries/java/lombok/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#47679 Document make-channel.nix
  nixos/lib/make-channel.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 4 - Done, 6.topic: nixos

#49751 phototonic: 1.7.1 -> 2.1
  pkgs/applications/graphics/phototonic/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49777 Revert "NixOS tests: Wait for shell for 10x longer (50m)"
  nixos/lib/test-driver/Machine.pm
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#49104 mailcatcher: repackage using bundlerApp
  pkgs/development/web/mailcatcher/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49725 chrootenv: strip the binary
  pkgs/build-support/build-fhs-userenv/chrootenv/default.nix
  pkgs/build-support/build-fhs-userenv/chrootenv/meson.build
  pkgs/build-support/build-fhs-userenv/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#49795 release-lib: Fix `pkgsFor`
  pkgs/top-level/release-lib.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49800 all-cabal-hashes: Update all-cabal-hashes in 18.09 to match Nixpkgs master
  pkgs/data/misc/hackage/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#48244 meson: fix cross compilation of systemd
  pkgs/development/tools/build-managers/meson/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49199 scalapack: switch to openblas and add test
  pkgs/development/libraries/science/math/scalapack/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49328 [18.09] installation-device: set GC initial heap size to 1MB
  nixos/modules/profiles/installation-device.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#48453 Azure functions core tools
  pkgs/development/node-packages/node-packages-v10.nix
  pkgs/development/node-packages/node-packages-v6.nix
  pkgs/development/node-packages/node-packages-v8.json
  pkgs/development/node-packages/node-packages-v8.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#49516 nixos/kubernetes: KubeDNS -> CoreDNS
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/services/cluster/kubernetes/dns.nix
  nixos/tests/kubernetes/dns.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#49798 docs: Remove redundancy
  doc/quick-start.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#49772 vocal: 2.2.0 -> 2.3.0
  pkgs/applications/audio/vocal/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#49354 filesystems: escape spaces in fstab with \040
  nixos/modules/tasks/filesystems.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#48914 pythonPackages.owslib: init at 0.17.0
  pkgs/development/python-modules/owslib/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#49780 coqPackages.ssreflect: refactor choice of source version
  pkgs/development/coq-modules/mathcomp/default.nix
  pkgs/development/coq-modules/ssreflect/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#49550 [18.03] openjpeg: adding patch for CVE-2018-7648
  pkgs/development/libraries/openjpeg/2.1.nix
Labels: 1.severity: security, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#49466 ocamlPackages.odoc: 1.2.0 -> 1.3.0
  pkgs/development/ocaml-modules/odoc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: documentation, 8.has: package (update)

#49609 flyway: 5.1.4 -> 5.2.1
  pkgs/development/tools/flyway/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#49768 darwin: don't include cf-private in framework dependencies
  pkgs/applications/editors/emacs/default.nix
  pkgs/applications/editors/vim/default.nix
  pkgs/development/libraries/SDL/default.nix
  pkgs/development/libraries/SDL2/default.nix
  pkgs/os-specific/darwin/apple-sdk/frameworks.nix
  pkgs/servers/x11/quartz-wm/default.nix
  pkgs/servers/x11/xorg/overrides.nix
  pkgs/servers/x11/xquartz/default.nix
  pkgs/tools/misc/contacts/default.nix
  pkgs/tools/security/pinentry/mac.nix
  pkgs/tools/video/atomicparsley/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: darwin, 6.topic: emacs, 6.topic: vim

#49825 nixos/jupyter: wait for network.target
  nixos/modules/services/development/jupyter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#44439 [RFC] Use `meta.tests` to link from packages to the tests that test them
  doc/meta.xml
  nixos/lib/testing.nix
  nixos/tests/opensmtpd.nix
  pkgs/servers/mail/dovecot/default.nix
  pkgs/servers/mail/opensmtpd/default.nix
  pkgs/stdenv/generic/check-meta.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 6.topic: stdenv, 8.has: clean-up, 8.has: documentation

#49773 humanize: remove platform restriction
  pkgs/development/python-modules/humanize/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: python, 8.has: package (new)

#49813 gucci: init at 0.1.0
  maintainers/maintainer-list.nix
  pkgs/tools/text/gucci/default.nix
  pkgs/tools/text/gucci/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#49429 osmium-tool: init at 1.9.1 incl. dependencies
  maintainers/maintainer-list.nix
  pkgs/applications/misc/osmium-tool/default.nix
  pkgs/development/libraries/libosmium/default.nix
  pkgs/development/libraries/protozero/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#49865 lark-parser: 2017-12-18 -> 0.6.5
  pkgs/development/python-modules/lark-parser/default.nix
Labels: 6.topic: python

#49861 nixos/manual: move syncthing notice in the right position
  nixos/doc/manual/release-notes/rl-1903.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#48610 polar-bookshelf: init at 1.0.11
  pkgs/applications/misc/polar-bookshelf/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)
