Repository NixOS/nixpkgs, pull requests merged in 2018-04, with the labels that each got.

#37465 workcraft: init at 3.1.9
  pkgs/applications/science/logic/workcraft/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#37480 libsForQt5.libopenshot-audio: 0.1.4 -> 0.1.5
  pkgs/applications/video/openshot-qt/libopenshot-audio.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37506 m17n_db: 1.7.0 -> 1.8.0
  pkgs/tools/inputmethods/m17n-db/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37325 unixODBCDrivers.psql: 09.05.0210 -> 10.01.0000
  pkgs/development/libraries/unixODBCDrivers/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37633 avrgcc: 5.4.0 -> 7.3.0
  pkgs/development/misc/avr/gcc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#37640 libretro.mame: 2017-06-04 -> 2017-03-02
  pkgs/misc/emulators/retroarch/cores.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37654 jfbview: 0.5.4 -> 0.5.5
  pkgs/os-specific/linux/jfbview/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37706 slstatus: init at unstable-2018-03-28
  pkgs/applications/misc/slstatus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#37817 libbitcoin-network: 3.4.0 -> 3.5.0
  pkgs/tools/misc/libbitcoin/libbitcoin-network.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37969 diskrsync: add ssh to PATH
  pkgs/tools/backup/diskrsync/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up

#37967 shaarli: 0.9.5 -> 0.9.6
  pkgs/servers/web-apps/shaarli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37966 saga: 6.2.0 -> 6.3.0
  pkgs/applications/gis/saga/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37965 tvheadend: 4.2.5 -> 4.2.6
  pkgs/servers/tvheadend/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37929 commandergenius: 1822release -> 2.2.0
  pkgs/games/commandergenius/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37927 toxiproxy: Init at 2.1.3
  pkgs/development/tools/toxiproxy/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#37916 enlightenment: 0.22.2 -> 0.22.3
  pkgs/desktops/enlightenment/enlightenment.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37904 ct: 0.5.0 -> 0.7.0
  pkgs/development/tools/container-linux-config-transpiler/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37893 panopticon: init -> 0.16.0
  pkgs/development/tools/analysis/panopticon/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#37882 openshift: 3.6.0 -> 3.9.0
  pkgs/applications/networking/cluster/openshift/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37887 slack: 3.0.5 -> 3.1.0
  pkgs/applications/networking/instant-messengers/slack/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37873 spideraok: 7.0.1 -> 7.1.0
  pkgs/applications/networking/spideroak/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38102 checkbashism: 2.0.0.2 -> 2.18.1
  pkgs/development/tools/misc/checkbashisms/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37797 pants: 1.3.0 -> 1.4.0
  pkgs/development/tools/build-managers/pants/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38036 materia-theme: 20180110 -> 20180321
  pkgs/misc/themes/materia-theme/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38006 chirp: 20170714 -> 20180325
  pkgs/applications/misc/chirp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38283 nmon: init at 16g
  maintainers/maintainer-list.nix
  pkgs/os-specific/linux/nmon/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#38259 fixed typo
  pkgs/servers/monitoring/plugins/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#37377 Add `gcompris` educational package
  pkgs/development/libraries/qmlbox2d/default.nix
  pkgs/games/gcompris/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#38287 Haskell: free-4.12.4 for ghc-7.10.x
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#38220 magic-wormhole: make available as an application
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#38245 pythonPackages.imbalanced-learn: 0.3.2 -> 0.3.3, fix build
  pkgs/development/python-modules/imbalanced-learn/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#38075 curaByDagoma: init at 1520506579
  pkgs/applications/misc/curabydagoma/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#36391 nodePackages vue-cli: init at 2.9.3
  pkgs/development/node-packages/node-packages-v6.json
  pkgs/development/node-packages/node-packages-v6.nix
  pkgs/development/node-packages/node-packages-v8.json
  pkgs/development/node-packages/node-packages-v8.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#38281 linuxPackages.sysdig: 0.20.0 -> 0.21.0
  pkgs/os-specific/linux/sysdig/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#38262 bftpd: 4.8 -> 4.9
  pkgs/servers/ftp/bftpd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38296 debootstrap: 1.0.93 -> 1.0.95
  pkgs/tools/misc/debootstrap/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38279 binaryen: 44 -> 45
  pkgs/development/compilers/binaryen/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38275 libamqpcpp: 2.7.4 -> 3.0.0
  pkgs/development/libraries/libamqpcpp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38271 anki: 2.0.50 -> 2.0.51
  pkgs/games/anki/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38264 abcmidi: 2018.03.08 -> 2018.03.21
  pkgs/tools/audio/abcmidi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38282 seafile-client: 6.1.6 -> 6.1.7
  pkgs/applications/networking/seafile-client/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38298 borgbackup: 1.1.4 -> 1.1.5
  pkgs/tools/backup/borg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38297 python: pytest: 3.4.1 -> 3.4.2
  pkgs/development/python-modules/pytest/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: python

#37185 fluidsynth: 1.1.9 -> 1.1.10
  pkgs/applications/audio/fluidsynth/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#38151 pythonPackages.smart_open: fix build, 1.5.6 -> 1.5.7
  pkgs/development/python-modules/smart_open/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#38142 pythonPackages.root_numpy: fix build
  pkgs/development/python-modules/root_numpy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#38301 buildGoPackage: use a separator when joining extraSrcPaths together
  pkgs/development/go-modules/generic/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: golang

#38269 alembic: 1.7.6 -> 1.7.7
  pkgs/development/libraries/alembic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38278 mod_wsgi: 4.6.2 -> 4.6.3
  pkgs/servers/http/apache-modules/mod_wsgi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38268 ansifilter: 2.9 -> 2.10
  pkgs/tools/text/ansifilter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38258 nixos/maintainers/option-usages.nix: Improve spelling and grammar
  nixos/maintainers/option-usages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#38218 Fix monero-gui build
  pkgs/applications/altcoins/monero-gui/default.nix
  pkgs/applications/altcoins/monero-gui/move-log-file.patch
  pkgs/applications/altcoins/monero/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38133 dwb: remove package as its insecure and outdated
  pkgs/applications/networking/browsers/dwb/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#38320 ixgbevf: 4.3.3 -> 4.3.4
  pkgs/os-specific/linux/ixgbevf/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#38310 pythonPackages.python-gnupg: 0.4.1 -> 0.4.2
  pkgs/development/python-modules/python-gnupg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#38153 qutebrowser: 1.2.0 -> 1.2.1
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38328 Semi-automated Emacs updates
  pkgs/applications/editors/emacs-modes/elpa-generated.nix
  pkgs/applications/editors/emacs-modes/melpa-generated.nix
  pkgs/applications/editors/emacs-modes/melpa-stable-generated.nix
  pkgs/applications/editors/emacs-modes/org-generated.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#38304 bettercap: 1.6.2 -> 2.4.0
  pkgs/tools/security/bettercap/Gemfile
  pkgs/tools/security/bettercap/Gemfile.lock
  pkgs/tools/security/bettercap/default.nix
  pkgs/tools/security/bettercap/deps.nix
  pkgs/tools/security/bettercap/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38331 veracrypt: 1.21 -> 1.22
  pkgs/applications/misc/veracrypt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38338 sbcl: 1.4.4 -> 1.4.6
  pkgs/development/compilers/sbcl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#38335 praat: 6.0.37 -> 6.0.38
  pkgs/applications/audio/praat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#37842 GHCJS: Fix GHCJS with haddock-library-1.4.3
  pkgs/development/compilers/ghcjs/head.nix
  pkgs/development/haskell-modules/configuration-ghc-8.0.x.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell, 8.has: package (new)

#38168 epoxy: explicitly search libGL path as fallback
  pkgs/development/libraries/epoxy/default.nix
  pkgs/development/libraries/epoxy/libgl-path.patch
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#38354 git: 2.16.3 -> 2.17.0
  pkgs/applications/version-management/git-and-tools/git/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#38367 flow: 0.68.0 -> 0.69.0
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38261 aws-sdk-cpp: 1.4.15 -> 1.4.24
  pkgs/development/libraries/aws-sdk-cpp/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#38349 jpegoptim: 1.4.4 -> 1.4.5
  pkgs/applications/graphics/jpegoptim/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38346 mkvtoolnix: 21.0.0 -> 22.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38254 bazel: 0.10.1 -> 0.11.1
  pkgs/development/tools/build-managers/bazel/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#37494 krunner-pass: init at version v1.3.0
  maintainers/maintainer-list.nix
  pkgs/tools/security/krunner-pass/default.nix
  pkgs/tools/security/krunner-pass/pass-path.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#38380 nixos/doc: fix instructions for nox-review usage
  doc/submitting-changes.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#38350 criu: 3.8 -> 3.8.1
  pkgs/os-specific/linux/criu/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38217 libdrm: 2.4.90 -> 2.4.91
  pkgs/development/libraries/libdrm/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+

#38379 joker: 0.8.9 -> 0.9.1
  pkgs/development/interpreters/joker/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38385 mesa: 17.3.6 -> 17.3.7, use llvm6
  pkgs/development/libraries/mesa/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+

#38358 dbeaver: 5.0.0 -> 5.0.2
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38357 dbeaver: 4.3.3 -> 5.0.2 (18.03)
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38347 icedtea8_web: 1.6.2 -> 1.7.1
  pkgs/development/compilers/icedtea-web/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38058 pythonPackages.vxi11: init at 0.9
  pkgs/development/python-modules/vxi11/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#38322 buildkite-agent: 2.6.9 -> 2.6.10
  pkgs/development/tools/continuous-integration/buildkite-agent/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38390 Fix gnome-shell-extensions-3.28.0
  pkgs/desktops/gnome-3/core/gnome-shell-extensions/default.nix
  pkgs/desktops/gnome-3/core/gnome-shell-extensions/fix_gmenu.patch
  pkgs/desktops/gnome-3/misc/gnome-tweaks/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3

#38375 webkitgtk: fix non-deterministic build failure
  pkgs/development/libraries/webkitgtk/2.20.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#38294 cups-filters: 1.20.1 -> 1.20.2
  pkgs/misc/cups/filters.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: printing

#38392 gvfs: fix non-deterministic build failure
  pkgs/development/libraries/gvfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#38314 Fix GHCJS 7.10
  pkgs/development/compilers/ghcjs/default.nix
  pkgs/development/haskell-modules/configuration-ghc-7.10.x.nix
  pkgs/development/haskell-modules/configuration-ghcjs.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell, 8.has: package (new)

#38384 tectonic: fix darwin build
  pkgs/tools/typesetting/tectonic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin

#38047 sysvinit: 2.88dsf -> 2.89
  pkgs/os-specific/linux/sysvinit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38077 (create-cycle-app): init at 4.0.0
  pkgs/development/node-packages/node-packages-v8.json
  pkgs/development/node-packages/node-packages-v8.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#38399 binutils: No more darwin conditionals
  pkgs/development/compilers/emscripten-fastcomp/default.nix
  pkgs/development/libraries/libbfd/default.nix
  pkgs/development/libraries/libopcodes/default.nix
  pkgs/os-specific/darwin/binutils/default.nix
  pkgs/stdenv/darwin/default.nix
  pkgs/stdenv/linux/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 11-100, 6.topic: darwin, 6.topic: portability, 8.has: clean-up, 8.has: package (new)

#38174 Machine.pm: tweak to look for graphical target in waitForX
  nixos/lib/test-driver/Machine.pm
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#38414 abella: 2.0.4 -> 2.0.5
  pkgs/applications/science/logic/abella/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38419 i3status-rust: 0.9.0.2018-01-15 -> 0.9.0.2018-03-31
  pkgs/applications/window-managers/i3/status-rust.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38417 Enable libtorrent and xmlrpc-c on darwin
  pkgs/development/libraries/xmlrpc-c/default.nix
  pkgs/tools/networking/p2p/libtorrent/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin, 8.has: package (new)

#38410 libqtxdg: fix pkgconfig files
  pkgs/desktops/lxqt/base/libqtxdg/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#37684 vulkan-loader: 1.0.61.1 -> 1.1.70.0
  pkgs/development/compilers/glslang/default.nix
  pkgs/development/libraries/vulkan-loader/default.nix
  pkgs/development/libraries/vulkan-loader/rev-file.patch
  pkgs/development/tools/spirv-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#38404 Refactor TeX Gyre package sets
  pkgs/data/fonts/tex-gyre-math/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#38242 lightstep-tracer-cpp: mark as broken
  pkgs/development/libraries/lightstep-tracer-cpp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#38412 xbursttools: Fix build
  pkgs/tools/misc/xburst-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38407 transmission: settings doc location changed
  nixos/modules/services/torrent/transmission.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#38228 kubernetes: add kubectl zsh completion
  pkgs/applications/networking/cluster/kubernetes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38365 Monthly update for Gambit and Gerbil
  pkgs/development/compilers/gambit/build.nix
  pkgs/development/compilers/gambit/default.nix
  pkgs/development/compilers/gambit/unstable.nix
  pkgs/development/compilers/gerbil/build.nix
  pkgs/development/compilers/gerbil/default.nix
  pkgs/development/compilers/gerbil/unstable.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38428 Add documentation for weechat
  doc/package-notes.xml
  pkgs/applications/networking/irc/weechat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 8.has: documentation, 8.has: package (new)

#36441 darwin-frameworks: cleanup
  pkgs/os-specific/darwin/apple-sdk/frameworks.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin

#36785 rofi: add `theme` option
  pkgs/applications/misc/rofi/default.nix
  pkgs/applications/misc/rofi/wrapper.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#37288 make-system-tarball: allow alternate compression methods
  nixos/lib/make-system-tarball.nix
  nixos/lib/make-system-tarball.sh
  nixos/modules/profiles/docker-container.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#38425 nixos/dhcp: fix permissions of statedir
  nixos/modules/services/networking/dhcpd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#38431 network-interfaces.nix: dead code removal
  nixos/modules/tasks/network-interfaces.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#38435 jl: iniit at 0.0.4
  pkgs/development/tools/jl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38426 gron: init at 0.5.1
  pkgs/development/tools/gron/default.nix
  pkgs/development/tools/gron/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38415 rocksdb_lite: Fix
  pkgs/development/libraries/rocksdb/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up

#38361 Update face recognition
  pkgs/development/libraries/dlib/default.nix
  pkgs/development/python-modules/face_recognition/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#38409 cups-filters: remove myself from maintainers
  pkgs/misc/cups/filters.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: printing

#38434 linuxPackages.zfsUnstable: 2018-02-02 -> 2018-04-04
  pkgs/os-specific/linux/spl/default.nix
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 9.needs: port to stable

#38149 Updates gstreamer and plugins to 1.14.0
  pkgs/applications/networking/corebird/default.nix
  pkgs/development/libraries/gstreamer/bad/default.nix
  pkgs/development/libraries/gstreamer/bad/fix_pkgconfig_includedir.patch
  pkgs/development/libraries/gstreamer/base/default.nix
  pkgs/development/libraries/gstreamer/base/fix_pkgconfig_includedir.patch
  pkgs/development/libraries/gstreamer/core/default.nix
  pkgs/development/libraries/gstreamer/core/fix_pkgconfig_includedir.patch
  pkgs/development/libraries/gstreamer/default.nix
  pkgs/development/libraries/gstreamer/ges/default.nix
  pkgs/development/libraries/gstreamer/ges/fix_pkgconfig_includedir.patch
  pkgs/development/libraries/gstreamer/gnonlin/default.nix
  pkgs/development/libraries/gstreamer/good/default.nix
  pkgs/development/libraries/gstreamer/good/fix_pkgconfig_includedir.patch
  pkgs/development/libraries/gstreamer/libav/default.nix
  pkgs/development/libraries/gstreamer/rtsp-server/default.nix
  pkgs/development/libraries/gstreamer/ugly/default.nix
  pkgs/development/libraries/gstreamer/vaapi/default.nix
  pkgs/development/libraries/gstreamer/validate/default.nix
  pkgs/development/python-modules/gst-python/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500, 6.topic: python, 8.has: clean-up

#36760 python: Add Rtree library
  pkgs/development/python-modules/Rtree/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 2.status: work-in-progress, 6.topic: python, 8.has: package (new)

#38197 mypy: 0.570 -> 0.580
  pkgs/development/tools/mypy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#36359 behave: 1.2.5 -> 1.2.6
  pkgs/development/python-modules/behave/default.nix
  pkgs/development/python-modules/bibtexparser/default.nix
  pkgs/development/python-modules/parse-type/default.nix
  pkgs/development/python-modules/parse/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#38430 nix-review: init at 0.1.0
  pkgs/tools/package-management/nix-review/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38408 monero-gui: 2018-03-31 -> 0.12.0.0
  pkgs/applications/altcoins/monero-gui/default.nix
  pkgs/applications/altcoins/monero/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38438 ocamlPackages.ocsigen_deriving: 0.7.1 -> 0.8.1
  pkgs/development/ocaml-modules/ocsigen-deriving/default.nix
  pkgs/development/ocaml-modules/optcomp/META
  pkgs/development/ocaml-modules/optcomp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: package (update)

#38441 python27Packages.rootpy: fix build (tests)
  pkgs/development/python-modules/rootpy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#38252 ted: init at 2.23
  pkgs/tools/typesetting/ted/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#37218 nixos: kubernetes fixes
  nixos/modules/services/cluster/kubernetes/default.nix
  nixos/release.nix
  nixos/tests/kubernetes/certs.nix
  nixos/tests/kubernetes/e2e.nix
  nixos/tests/kubernetes/rbac.nix
  pkgs/applications/networking/cluster/cni/default.nix
  pkgs/applications/networking/cluster/cni/plugins.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#38400 raspberrypifw: 1.20171029 -> 1.20180328
  pkgs/os-specific/linux/firmware/raspberrypi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38405 network-interfaces-scripted: wlanInterfaces have .device, …
  nixos/modules/tasks/network-interfaces-scripted.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#38403 mpg123: 1.25.8 -> 1.25.10
  pkgs/applications/audio/mpg123/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#38111 assorted cleanups
  nixos/modules/config/nsswitch.nix
  nixos/modules/config/users-groups.nix
  nixos/modules/rename.nix
  nixos/modules/services/misc/disnix.nix
  nixos/modules/services/misc/dysnomia.nix
  nixos/modules/services/networking/tcpcrypt.nix
  pkgs/applications/networking/browsers/firefox/wrapper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#38114 nixos: doc module
  nixos/modules/config/system-path.nix
  nixos/modules/misc/documentation.nix
  nixos/modules/module-list.nix
  nixos/modules/profiles/minimal.nix
  nixos/modules/programs/info.nix
  nixos/modules/programs/man.nix
  nixos/modules/rename.nix
  nixos/modules/services/misc/nixos-manual.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#38386 python3Packages.black: init at 18.4a0
  pkgs/development/python-modules/black/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#38395 pdd: init at 1.1
  pkgs/tools/misc/pdd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38289 lmdb: 0.9.21 -> 0.9.22
  pkgs/development/libraries/lmdb/default.nix
  pkgs/development/libraries/lmdb/hardcoded-compiler.patch
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#38249 discount: 2.2.3 -> 2.2.3a
  pkgs/tools/text/discount/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38235 gzdoom: 3.2.5 -> 3.3.0
  pkgs/games/gzdoom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38241 gmic: 2.2.0 -> 2.2.1
  pkgs/tools/graphics/gmic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38237 igv: 2.4.9 -> 2.4.10
  pkgs/applications/science/biology/igv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#38191 osrm-backend: 5.16.3 -> 5.16.4
  pkgs/servers/osrm-backend/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38192 opendht: 1.6.0 -> 1.6.1
  pkgs/development/libraries/opendht/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38293 focuswriter: 1.6.10 -> 1.6.11
  pkgs/applications/editors/focuswriter/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37784 pythonPackages.wordfreq and dependencies
  pkgs/development/python-modules/jieba/default.nix
  pkgs/development/python-modules/langcodes/default.nix
  pkgs/development/python-modules/marisa-trie/default.nix
  pkgs/development/python-modules/mecab-python3/default.nix
  pkgs/development/python-modules/wordfreq/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#38240 folly: 2018.02.26.00 -> 2018.03.26.00
  pkgs/development/libraries/folly/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38159 qpdf: 8.0.0 -> 8.0.2
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37044 tensorflow: add a binary wheel release for Darwin
  pkgs/development/python-modules/tensorflow/bin.nix
  pkgs/development/python-modules/tensorflow/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 2.status: work-in-progress, 6.topic: darwin, 6.topic: python, 8.has: clean-up

#38397 Update OpenJDK 10 and Eclipse to GTK 3
  pkgs/applications/editors/eclipse/build-eclipse.nix
  pkgs/applications/editors/eclipse/default.nix
  pkgs/development/compilers/openjdk/10.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#38461 nixos docs: syntax highlight
  doc/Makefile
  doc/style.css
  nixos/doc/manual/default.nix
  nixos/doc/manual/style.css
  pkgs/misc/documentation-highlighter/loader.js
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: documentation

#38457 r17.09: aws-auth: unstable-2017-07-24 -> unstable-2018-04-04
  pkgs/tools/admin/aws-auth/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38453 remake: enable on darwin
  pkgs/development/tools/build-managers/remake/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin, 8.has: package (new)

#38340 rsibreak: init at 0.12.8
  pkgs/applications/misc/rsibreak/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#38466 apg: Darwin support
  pkgs/tools/security/apg/default.nix
  pkgs/tools/security/apg/phony-install-target.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#38479 mesa: 17.3.7 -> 17.3.8
  pkgs/development/libraries/mesa/default.nix
  pkgs/development/libraries/mesa/missing-include.patch
  pkgs/development/libraries/mesa/musl-fixes.patch
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+

#38480 busybox: 1.28.2 -> 1.28.3
  pkgs/os-specific/linux/busybox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100
