Repository NixOS/nixpkgs, pull requests merged in 2018-07, with the labels that each got.

#42816 iwd: 0.2 -> 0.3
  pkgs/os-specific/linux/iwd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42706 gnucash: 3.1-1 -> 3.2
  pkgs/applications/office/gnucash/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42692 lynis: 2.6.4 -> 2.6.5
  pkgs/tools/security/lynis/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42844 curl: fix configure flag for random device.
  pkgs/tools/networking/curl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42837 anonscm.debian.org_gcc6.patch-not-found - replace anonscm.debian.org …
  pkgs/development/interpreters/spidermonkey/1.8.5.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42852 dbeaver: 5.1.1 -> 5.1.2
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42853 dbeaver: 5.1.1 -> 5.1.2 (18.03)
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42572 radare2-cutter: 1.3 -> 1.4
  pkgs/development/tools/analysis/radare2-cutter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42843 add hmetis package
  pkgs/applications/science/math/hmetis/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42822 Update Python documentation overlay
  doc/languages-frameworks/python.section.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#42862 dhall-json_1_2_1: Bump dhall dep
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#41823 meguca: 2018-05-26 -> 2018-06-11
  nixos/modules/services/web-servers/meguca.nix
  pkgs/development/node-packages/node-packages-v6.nix
  pkgs/development/node-packages/node-packages-v8.nix
  pkgs/development/tools/easyjson/default.nix
  pkgs/servers/meguca/default.nix
  pkgs/servers/meguca/server_deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: nixos, 8.has: module (update)

#42865 github-gentoo-compromized_cannot-download_boehm-gc-7.6.0-sys_select.p…
  pkgs/development/libraries/boehm-gc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#33137 buildRustCrate: Set target_os to "macos" on darwin
  pkgs/build-support/rust/build-rust-crate.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: rust

#42832 bazel: fix darwin build on hydra
  pkgs/development/tools/build-managers/bazel/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin

#42854 python: grpcio: 1.12.1 -> 1.13.0
  pkgs/development/python-modules/grpcio/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#42842 barrier: fix compilation on Qt 5.11
  pkgs/applications/misc/barrier/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42840 pythonPackages.backports_shutil_get_terminal_size: 1.0 -> 2018-06-30
  pkgs/applications/science/math/sage/sage-src.nix
  pkgs/development/python-modules/backports_shutil_get_terminal_size/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#42863 livepeer: init at 0.2.4
  pkgs/servers/livepeer/default.nix
  pkgs/servers/livepeer/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42827 source-han-code-jp: init at 2.011R
  pkgs/data/fonts/source-han-code-jp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#41902 SDL2: do not propagate private dependencies
  pkgs/development/libraries/SDL2/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500

#42881 Zotero: Fix
  pkgs/applications/office/zotero/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42858 rspamd: 1.6.6 -> 1.7.4
  pkgs/servers/mail/rspamd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42848 python.pkgs.asyncssh: fix tests
  pkgs/development/python-modules/asyncssh/default.nix
  pkgs/development/python-modules/asyncssh/mock_getnameinfo.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#42891 lib: add float option type
  lib/trivial.nix
  lib/types.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42892 uboot: add ubootNovena
  pkgs/misc/uboot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42856 tor-browser: 52.8.1esr-7.5-1 -> 52.9.0esr-7.5-2
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42857 toxvpn: use default libtoxcore
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42681 redo: 1.2 -> 1.3
  pkgs/development/tools/build-managers/redo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42845 nixos/security.sudo: Document ordering of extraRules
  nixos/modules/security/sudo.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42899 buildbot: 1.1.1 -> 1.2.0, fix build
  pkgs/development/tools/build-managers/buildbot/default.nix
  pkgs/development/tools/build-managers/buildbot/plugins.nix
  pkgs/development/tools/build-managers/buildbot/worker.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42841 HEIF support
  pkgs/applications/graphics/ImageMagick/7.0.nix
  pkgs/applications/graphics/ImageMagick/default.nix
  pkgs/applications/graphics/gimp/default.nix
  pkgs/applications/graphics/krita/default.nix
  pkgs/development/libraries/libde265/default.nix
  pkgs/development/libraries/libheif/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 8.has: package (new)

#42269 zfs: Improve import handling
  nixos/modules/tasks/filesystems/zfs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42898 nixos/kerberos: update binary folder pointer
  nixos/modules/services/system/kerberos.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42890 ipmicfg: 1.27.1 -> 1.28
  pkgs/applications/misc/ipmicfg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42896 nixos/gpsd-service: add services.gpsd.nowait option
  nixos/modules/services/misc/gpsd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42879 rPackages.rhdf5: fix installation
  pkgs/development/r-modules/default.nix
  pkgs/development/r-modules/patches/rhdf5.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42859 icicles: 2018-04-16 -> 2018-07-02
  pkgs/applications/editors/emacs-modes/icicles/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#42913 zstd: 1.3.4 -> 1.3.5
  pkgs/tools/compression/zstd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#42866 Fix buildPythonPackage example
  doc/languages-frameworks/python.section.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#41222 nixos/firewall: per-interface port options
  nixos/modules/services/networking/firewall.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42860 murmur service: prevent silent launch failure by waiting until network is available
  nixos/modules/services/networking/murmur.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42825 llvm6: 6.0.0 -> 6.0.1 (18.03 edition)
  pkgs/development/compilers/llvm/6/clang/default.nix
  pkgs/development/compilers/llvm/6/default.nix
  pkgs/development/compilers/llvm/6/libc++/default.nix
  pkgs/development/compilers/llvm/6/libc++abi.nix
  pkgs/development/compilers/llvm/6/lld.nix
  pkgs/development/compilers/llvm/6/lldb.nix
  pkgs/development/compilers/llvm/6/llvm.nix
  pkgs/development/compilers/llvm/6/openmp.nix
  pkgs/development/compilers/llvm/6/sanitizers-nongnu.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42938 lib.generators.toPlist: add floats
  lib/generators.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42943 wire-desktop: 3.0.2816 -> 3.2.2840
  pkgs/applications/networking/instant-messengers/wire-desktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42847 multimc: create compatibility symlink to fix desktop icon (18.03)
  pkgs/games/multimc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#41420 haskell generic-builder: Use strictDeps always
  pkgs/build-support/fetchpatch/default.nix
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-ghc-8.4.x.nix
  pkgs/development/haskell-modules/configuration-nix.nix
  pkgs/development/haskell-modules/default.nix
  pkgs/development/haskell-modules/generic-builder.nix
  pkgs/development/haskell-modules/lib.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: fetch, 6.topic: haskell, 8.has: clean-up, 8.has: package (new)

#42962 snowman: 2017-11-19 -> 0.1.2
  pkgs/development/tools/analysis/snowman/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42919 gauche: 0.9.5 -> 0.9.6
  pkgs/development/interpreters/gauche/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42731 keybase: 2.0.0 -> 2.1.0
  pkgs/tools/security/keybase/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42732 kbfs: 1.0.44 -> 2.1.1
  pkgs/tools/security/kbfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42733 keybase-gui: 1.0.44 -> 2.3.0
  pkgs/tools/security/keybase/gui.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42959 vim: v8.1.0001 -> v8.1.0146
  pkgs/applications/editors/vim/common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 6.topic: vim

#42969 pciutils: 3.5.6 -> 3.6.0
  pkgs/tools/system/pciutils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+

#43005 harfbuzz-icu: 1.8.0 -> 1.8.1
  pkgs/development/libraries/harfbuzz/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#43007 feh: 2.26.4 -> 2.27
  pkgs/applications/graphics/feh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42960 rtv: 1.22.1 -> 1.23.0
  pkgs/applications/misc/rtv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#43004 apache-jena-fuseki: 3.7.0 -> 3.8.0
  pkgs/servers/nosql/apache-jena/fuseki-binary.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42855 Idris: Wrap with IDRIS_CC
  pkgs/development/idris-modules/default.nix
  pkgs/development/idris-modules/idris-wrapper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43016 Revert "haskell generic-builder: Use strictDeps always"
  pkgs/build-support/fetchpatch/default.nix
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-ghc-8.4.x.nix
  pkgs/development/haskell-modules/configuration-nix.nix
  pkgs/development/haskell-modules/default.nix
  pkgs/development/haskell-modules/generic-builder.nix
  pkgs/development/haskell-modules/lib.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: fetch, 6.topic: haskell, 8.has: clean-up

#42353 pythonPackages.python-prctl: init at 1.7
  pkgs/development/python-modules/python-prctl/default.nix
  pkgs/development/python-modules/python-prctl/skip_bad_tests.patch
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#42897 add bliss package
  pkgs/applications/science/math/bliss/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#43010 p4v: update sha256
  pkgs/applications/version-management/p4v/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42905 Add Brother MFC-L2740DW drivers
  pkgs/misc/cups/drivers/mfcl2740dwcupswrapper/default.nix
  pkgs/misc/cups/drivers/mfcl2740dwlpr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: printing, 8.has: package (new)

#42941 xpra: 2.3.1 -> 2.3.2
  pkgs/tools/X11/xpra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42824 libfive: init at 2018-07-01
  pkgs/development/libraries/libfive/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#43002 iperf: 3.5 -> 3.6
  pkgs/tools/networking/iperf/3.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#42683 libvmi: init at 0.12
  pkgs/development/libraries/libvmi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42946 snd: 18.4 -> 18.5
  pkgs/applications/audio/snd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43008 folly: 2018.06.18.00 -> 2018.06.25.00
  pkgs/development/libraries/folly/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42986 libuv: 1.20.3 -> 1.21.0
  pkgs/development/libraries/libuv/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#43014 wcc: init unstable at 2018-04-05
  pkgs/development/compilers/wcc/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42933 boost: disable system Python.framework detection
  pkgs/development/libraries/boost/darwin-no-system-python.patch
  pkgs/development/libraries/boost/generic.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 0

#42118 mpd: add NixOS tests
  nixos/release.nix
  nixos/tests/mpd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#43042 Revert "pkgs/top-level/release.nix.nix: Use fetchGit if possible"
  pkgs/top-level/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42554 dwarf-fortress: 0.44.10 -> 0.44.11
  maintainers/maintainer-list.nix
  pkgs/games/dwarf-fortress/default.nix
  pkgs/games/dwarf-fortress/dfhack/default.nix
  pkgs/games/dwarf-fortress/dwarf-therapist/default.nix
  pkgs/games/dwarf-fortress/game.nix
  pkgs/games/dwarf-fortress/soundsense.nix
  pkgs/games/dwarf-fortress/unfuck.nix
  pkgs/games/dwarf-fortress/wrapper/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#43026 clingo: 5.2.2 -> 5.3.0
  pkgs/applications/science/logic/potassco/clingo.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#43041 xrdp: 0.9.5 -> 0.9.7
  pkgs/applications/networking/remote/xrdp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42691 mate.mozo: 1.20.0 -> 1.20.1
  pkgs/desktops/mate/mozo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42684 qpdf: 8.0.2 -> 8.1.0
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42695 mate.mate-utils: 1.20.0 -> 1.20.1
  pkgs/desktops/mate/mate-utils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42713 eccodes: 2.7.3 -> 2.8.0
  pkgs/development/libraries/eccodes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42950 pythonPackages.keyutils: fix build
  pkgs/development/python-modules/keyutils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#42929 gradle-completion: init at 1.3.1
  pkgs/shells/zsh/gradle-completion/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42351 qt5: 5.11.0 -> 5.11.1
  pkgs/development/libraries/qt-5/5.11/fetch.sh
  pkgs/development/libraries/qt-5/5.11/qtbase-darwin.patch
  pkgs/development/libraries/qt-5/5.11/qtbase-revert-no-macos10.10.patch
  pkgs/development/libraries/qt-5/5.11/qtbase.patch
  pkgs/development/libraries/qt-5/5.11/qtdeclarative.patch
  pkgs/development/libraries/qt-5/5.11/srcs.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 6.topic: qt/kde

#32408 arp-scan: 1.9 -> 1.9.5
  pkgs/tools/misc/arp-scan/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43057 dwarf-fortress: Run legends-browser with a suitable working directory
  pkgs/games/dwarf-fortress/legends-browser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42383 rstudio: fix build to use compatible boost version
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42769 atom, atom-beta: fixed #42730
  pkgs/applications/editors/atom/default.nix
  pkgs/applications/editors/atom/env.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#43063 nodejs: 10.5.0 -> 10.6.0
  pkgs/development/web/nodejs/v10.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#43035 fonts/babestone-han: 11.0.2 -> 11.0.3
  pkgs/data/fonts/babelstone-han/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#43022 pythonPackaes.grpcio-tools: init at 1.13.0
  pkgs/development/python-modules/grpcio-tools/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#42704 graphicsmagick: 1.3.29 -> 1.3.30
  pkgs/applications/graphics/graphicsmagick/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#43064 lib: concatMap and mapAttrs to be builtins
  lib/attrsets.nix
  lib/lists.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#43046 pngquant: 2.11.7 -> 2.12.1
  pkgs/tools/graphics/pngquant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#43062 poppler_utils: fix darwin build
  pkgs/development/libraries/poppler/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: darwin

#42886 ocamlPackages.zarith: 1.4.1 -> 1.7
  pkgs/development/ocaml-modules/zarith/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: ocaml, 8.has: package (update)

#42829 ocamlPackages.ocaml-migrate-parsetree: 1.0.7 -> 1.0.11
  pkgs/development/ocaml-modules/ocaml-migrate-parsetree/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: ocaml, 8.has: package (update)

#43051 patchwork-classic: fix typo in package name
  pkgs/applications/networking/ssb/patchwork-classic/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43044 write_stylus: init at 209
  maintainers/maintainer-list.nix
  pkgs/applications/graphics/write_stylus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#43058 babl: 0.1.50 -> 0.1.52
  pkgs/development/libraries/babl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#43030 debootstrap: 1.0.103 -> 1.0.105
  pkgs/tools/misc/debootstrap/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43032 conan: 1.4.5 -> 1.5.1
  pkgs/development/tools/build-managers/conan/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42930 xonsh: 0.6.7 -> 0.6.8
  pkgs/shells/xonsh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42398 nixos/autorandr: make default target in systemd service configurable
  nixos/modules/services/misc/autorandr.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#43066 gimp: 2.10.2 -> 2.10.4
  pkgs/applications/graphics/gimp/default.nix
  pkgs/development/libraries/gegl/4.0.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#42977 ispc: llvm_4 -> llvm_6, fix luxcorerender
  pkgs/development/compilers/ispc/default.nix
  pkgs/development/compilers/llvm/6/llvm.nix
  pkgs/tools/graphics/luxcorerender/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+

#42693 libndctl: 60.3 -> 61.1
  pkgs/development/libraries/libndctl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#42696 languagetool: 4.1 -> 4.2
  pkgs/tools/text/languagetool/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42914 xl2tpd: 1.3.10.1 -> 1.3.12
  pkgs/tools/networking/xl2tpd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42945 yaws: 2.0.5 -> 2.0.6
  pkgs/servers/http/yaws/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42998 hwinfo: 21.55 -> 21.56
  pkgs/tools/system/hwinfo/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43065 wine: build wineWow packages on hydra
  pkgs/top-level/all-packages.nix
  pkgs/top-level/wine-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42722 bison2: Fix Darwin runtime crash
  pkgs/development/tools/parsing/bison/2.x.nix
  pkgs/development/tools/parsing/bison/darwin-vasnprintf.patch
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 6.topic: darwin

#42187 openjdk: fix build for !enableGnome2
  pkgs/development/compilers/openjdk/10.nix
  pkgs/development/compilers/openjdk/8.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#43071 vampire: portability fixes
  pkgs/applications/science/logic/vampire/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#43061 graalvm8: 1.0.0-rc1 -> 1.0.0-rc3
  pkgs/development/compilers/graalvm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42916 qutebrowser: 1.3.3 -> 1.4.0
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42876 recoll: Add support to build without QT
  pkgs/applications/search/recoll/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#43011 flatpak: 0.99.1 -> 0.99.2
  pkgs/development/libraries/flatpak/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43040 Darwin stdenv tweaks
  pkgs/development/libraries/libuv/default.nix
  pkgs/os-specific/darwin/apple-sdk/default.nix
  pkgs/os-specific/darwin/apple-sdk/frameworks.nix
  pkgs/os-specific/darwin/security-tool/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: darwin

#42775 oauth2_proxy: add nginx vhost module
  nixos/modules/module-list.nix
  nixos/modules/services/security/oauth2_proxy_nginx.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42922 zoom-us: 2.2.128100.0627 -> 2.2.128200.0702
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42974 mxt-app: 1.27 -> 1.28
  pkgs/misc/mxt-app/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#43072 sixpair: init at 2007-04-18
  pkgs/tools/misc/sixpair/default.nix
  pkgs/tools/misc/sixpair/hcitool.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#43079 Rework stage.nix's extraPkgs
  pkgs/applications/science/programming/scyther/default.nix
  pkgs/development/pharo/vm/default.nix
  pkgs/misc/cups/drivers/canon/default.nix
  pkgs/misc/emulators/wine/packages.nix
  pkgs/os-specific/gnu/default.nix
  pkgs/os-specific/linux/nvidia-x11/generic.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/stage.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: printing, 8.has: clean-up

#43086 atom, atom-beta: 1.28.0 -> 1.28.1, 1.29.0-beta0 -> 1.29.0-beta1
  pkgs/applications/editors/atom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42875 texlive: Propagate biber binary
  pkgs/tools/typesetting/tex/texlive/bin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#43060 Asterisk xmpp support
  pkgs/development/libraries/iksemel/default.nix
  pkgs/servers/asterisk/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42870 pscircle: init at v1.0.0
  pkgs/os-specific/linux/pscircle/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42868 bundler: 1.16.1 -> 1.16.2
  pkgs/development/ruby-modules/bundler/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: ruby

#42851 vmTools: update Debian minor version to 8.11
  pkgs/build-support/vm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42926 flow: 0.72.0 -> 0.75.0
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42931 urh: 2.1.1 -> 2.2.2
  pkgs/applications/misc/urh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42724 libinput: add button to scrollMethod
  nixos/modules/services/x11/hardware/libinput.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42723 elasticsearch5: Set classpath for elasticsearch-plugin
  pkgs/servers/search/elasticsearch/5.x.nix
  pkgs/servers/search/elasticsearch/es-classpath-5.x.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42688 terraform: update all providers
  pkgs/applications/networking/cluster/terraform/providers/data.nix
  pkgs/applications/networking/cluster/terraform/providers/update-all
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42687 nginx: Flag to build with debugging and parallel builds
  pkgs/servers/http/nginx/generic.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#42789 lwp-protocol-https: honour NIX_SSL_CERT_FILE
  pkgs/development/perl-modules/lwp-protocol-https-cert-file.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#42817 appleseed, structure-synth, luxcorerender: libGLU instead of mesa_glu
  pkgs/development/compilers/seexpr/default.nix
  pkgs/tools/graphics/appleseed/default.nix
  pkgs/tools/graphics/luxcorerender/default.nix
  pkgs/tools/graphics/structure-synth/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#42579 dunst: Also install dunstify
  pkgs/applications/misc/dunst/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42569 resolvconf.conf: Remove forced NSCD service restart
  nixos/modules/config/networking.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#42544 MusE: add new package at version 3.0.2
  pkgs/applications/audio/muse/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#42529 mesa: point pkgconfig at $drivers
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#42473 lua5.3/pkgconfig: add lua5.3.pc
  pkgs/development/interpreters/lua-5/5.3.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#42467 mesa: 18.0.3 -> 18.1.2
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#43036 elisa: 0.1.80 -> 0.2.0
  pkgs/applications/audio/elisa/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43095 libndctl: fix build w/musl using patch from upstream
  pkgs/development/libraries/libndctl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#43009 grisbi: 1.0.2 -> 1.0.4
  pkgs/applications/office/grisbi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#43006 grib-api: 1.26.1 -> 1.27.0
  pkgs/development/libraries/grib-api/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10
