Repository NixOS/nixpkgs, pull requests merged in 2018-02, with the labels that each got.

#34763 asciidoctor: expose all the bins
  pkgs/tools/typesetting/asciidoctor/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: documentation

#34764 python.pkgs.awesome-slugify: fix build
  pkgs/development/python-modules/awesome-slugify/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#34765 libproxy: fix building on darwin
  pkgs/development/libraries/libproxy/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#34701 chromedriver: 2.33 -> 2.35
  pkgs/development/tools/selenium/chromedriver/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34673 typora: 0.9.41 -> 0.9.44
  pkgs/applications/editors/typora/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34635 hcloud: init at 1.3.0
  pkgs/development/tools/hcloud/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34766 rPackages.pbdZMQ: fix package loading on Darwin
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34627 rhash: 1.3.3 -> 2018-02-05
  pkgs/tools/security/rhash/darwin.patch
  pkgs/tools/security/rhash/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#34489 nixos/release*.nix: Clean nixpkgs sources by default
  nixos/release-combined.nix
  nixos/release-small.nix
  nixos/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34434 uhd: 3.10.2.0 -> 3.10.3.0
  pkgs/development/tools/misc/uhd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#34769 pythonPackages.pytz: 2017.3 -> 2018.3
  pkgs/development/python-modules/pytz/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: python

#34305 nixos/tests: add predictable-interface-names.nix
  lib/lists.nix
  nixos/release-small.nix
  nixos/release.nix
  nixos/tests/predictable-interface-names.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#32582 yabar: add module
  nixos/modules/module-list.nix
  nixos/modules/programs/yabar.nix
  nixos/release.nix
  nixos/tests/yabar.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#33700 nixos: Add nixpkgs.pkgs option
  nixos/modules/misc/nixpkgs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34771 flexget: mark as broken
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34640 graphviz: Explicitly specify libltdl directories
  pkgs/tools/graphics/graphviz/base.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#34768 pythonPackages.dateparser: 0.6.0 -> 0.7.0
  pkgs/development/python-modules/dateparser/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#34777 pythonPackages.pytest-httpbin: actually run tests
  pkgs/development/python-modules/pytest-httpbin/default.nix
Labels: 6.topic: python

#34772 Fix broken URL for pinentry patch.
  pkgs/tools/security/pinentry/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34788 exfat: 1.2.7 -> 1.2.8
  pkgs/tools/filesystems/exfat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34770 abcmidi: 2018.01.25 -> 2018.02.07
  pkgs/tools/audio/abcmidi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34789 Revert "squashfuse: init at 0.1.101"
  pkgs/tools/filesystems/squashfuse/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34793 trivial: fetchurl more securely
  pkgs/tools/networking/curl/default.nix
  pkgs/tools/networking/stunnel/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34782 looking-glass-client: restrict to x86_64-linux
  pkgs/applications/virtualization/looking-glass-client/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34631 vimPlugins.targets-vim: init at 2017-12-03
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34773 eschalot: init at 2018-01-19
  pkgs/tools/security/eschalot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#33898 nixos: doc: implement related packages in the manual (again)
  lib/default.nix
  lib/lists.nix
  lib/options.nix
  lib/trivial.nix
  nixos/doc/manual/default.nix
  nixos/doc/manual/options-to-docbook.xsl
  nixos/modules/programs/adb.nix
  nixos/modules/programs/tmux.nix
  nixos/modules/rename.nix
  nixos/modules/virtualisation/xen-dom0.nix
  pkgs/applications/virtualization/qemu/default.nix
  pkgs/applications/virtualization/xen/4.5.nix
  pkgs/applications/virtualization/xen/4.8.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#29440 linuxPackages: various changes
  pkgs/os-specific/linux/kernel/linux-copperhead-hardened.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#34767 firefox-bin: 58.0.1 -> 58.0.2
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34607 nixos/rdma-core: add module for soft RoCE and test
  nixos/modules/module-list.nix
  nixos/modules/services/networking/rxe.nix
  nixos/release.nix
  nixos/tests/rxe.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34753 Multiple users with hashedPassword is broken in mosquitto
  nixos/modules/services/networking/mosquitto.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34790 python3Packages.pyhomematic: 0.1.38 -> 0.1.39
  pkgs/development/python-modules/pyhomematic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#34728 Add pam option to enable Google Authenticator
  nixos/modules/security/pam.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34792 linux_testing_bcachefs: 4.11.2017.08.23 -> 4.15.2018.02.09
  pkgs/os-specific/linux/kernel/linux-testing-bcachefs.nix
  pkgs/tools/filesystems/bcachefs-tools/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#34688 Fix build failures with DBD-SQLite
  pkgs/development/perl-modules/DBD-SQLite/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#34531 RAxML: init at 8.2.11 (SSE3 & MPI)
  pkgs/applications/science/biology/raxml/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34761 papis: init at 0.5.2 + dependencies
  pkgs/development/python-modules/arxiv2bib/default.nix
  pkgs/development/python-modules/habanero/default.nix
  pkgs/development/python-modules/papis-python-rofi/default.nix
  pkgs/development/python-modules/pylibgen/default.nix
  pkgs/development/python-modules/pyparser/default.nix
  pkgs/development/python-modules/python-magic/default.nix
  pkgs/tools/misc/papis/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: package (new)

#34530 samtools-old: init at 0.1.19
  pkgs/applications/science/biology/samtools/samtools-0.1.19-no-curses.patch
  pkgs/applications/science/biology/samtools/samtools_0_1_19.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34655 zookeeper.service: option for package and add to environment
  nixos/modules/services/misc/zookeeper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34524 nixos/physlock: add allowAnyUser option
  nixos/modules/services/security/physlock.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34566 qmediathekview: init at 2017-04-16
  pkgs/applications/video/qmediathekview/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34522 infamousPlugins: init at 0.2.03
  pkgs/applications/audio/infamousPlugins/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34518 openssh: Document default Kerberos support
  nixos/doc/manual/release-notes/rl-1803.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34523 librarian-puppet-go: init at 0.3.9
  pkgs/development/tools/librarian-puppet-go/default.nix
  pkgs/development/tools/librarian-puppet-go/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34546 Add presentation app Spice Up
  pkgs/applications/office/spice-up/default.nix
  pkgs/development/libraries/granite/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34515 ocamlPackages.tyxml: 4.0.1 -> 4.2.0
  pkgs/development/ocaml-modules/tyxml/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#34520 tasknc: update (0.8 -> 2017-05-15), fix, cleanup and man pages
  pkgs/applications/misc/tasknc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34384 modules/nvidia-optimus: fix module blacklisting
  nixos/modules/services/hardware/nvidia-optimus.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#34327 node-packages.json-diff: init at 0.5.2
  pkgs/development/node-packages/node-packages-v6.json
  pkgs/development/node-packages/node-packages-v6.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34360 Update keepass238
  pkgs/applications/misc/keepass/default.nix
  pkgs/applications/misc/keepass/keepass-plugins-load.patch
  pkgs/applications/misc/keepass/keepass-plugins.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34285 duktape: init at 2.2.0
  pkgs/development/interpreters/duktape/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34260 Add vim plugins
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#34255 vkquake: init at 0.97.3
  pkgs/games/quakespasm/vulkan.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34275 otter-browser: init at 0.9.94
  pkgs/applications/networking/browsers/otter/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34124 hunspell: 1.6.1 -> 1.6.2
  pkgs/development/libraries/hunspell/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+

#34248 neovim: remove confusing neovim parameter
  pkgs/applications/editors/neovim/wrapper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34249 terraform-landscape: init at 0.1.17
  pkgs/applications/networking/cluster/terraform-landscape/Gemfile
  pkgs/applications/networking/cluster/terraform-landscape/Gemfile.lock
  pkgs/applications/networking/cluster/terraform-landscape/default.nix
  pkgs/applications/networking/cluster/terraform-landscape/gemset.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34190 nixos/acpid: pass event parameters to handler
  nixos/modules/services/hardware/acpid.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34207 busybox: bump copybuf, disable utmp/wtmp when not supported (musl)
  pkgs/os-specific/linux/busybox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#34059 mattermost: 4.4.1 -> 4.6.0
  pkgs/servers/mattermost/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34094 octopus: init at 7.2
  pkgs/applications/science/chemistry/octopus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34015 python-telegram-bot: init at 9.0.0
  pkgs/development/python-modules/python-telegram-bot/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#34021 boomerang: switch to new active fork, cleanup, maintain
  pkgs/development/tools/boomerang/default.nix
  pkgs/development/tools/boomerang/fix-install.patch
  pkgs/development/tools/boomerang/fix-output.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#33665 exim: add optional LDAP support
  pkgs/servers/mail/exim/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34819 Golang: Minor updates (CVE-2018-6574)
  pkgs/development/compilers/go/1.8.nix
  pkgs/development/compilers/go/1.9.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: golang

#32774 slurm-spank-x11: init at 0.2.5
  nixos/modules/services/computing/slurm/slurm.nix
  pkgs/servers/computing/slurm-spank-x11/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34820 fd: 6.2.0 -> 6.3.0
  pkgs/tools/misc/fd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34824 eudev: 3.2.4 -> 3.2.5
  pkgs/os-specific/linux/eudev/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34065 openmpi: 1.10.7->3.0.0, add markuskowa as maintainer
  pkgs/development/libraries/openmpi/default.nix
  pkgs/development/python-modules/h5py/default.nix
  pkgs/development/python-modules/mpi4py/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#34825 home-assistant: 0.62.1 -> 0.63
  pkgs/development/python-modules/astral/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/frontend.nix
  pkgs/servers/home-assistant/parse-requirements.py
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#33128 qsyncthingtray: build with native browser to allow for Qt > 5.6
  pkgs/applications/misc/qsyncthingtray/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34826 pythonPackages.pynacl: 0.3.0 -> 1.2.1
  lib/maintainers.nix
  pkgs/development/python-modules/pynacl/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: clean-up

#34468 Fix and update xfce4-panel weather plugin
  pkgs/desktops/xfce/core/xfce4-panel.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-weather-plugin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#34814 teamspeak_client: 3.1.7 -> 3.1.8
  pkgs/applications/networking/instant-messengers/teamspeak/client.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#34835 pythonPackages.i3ipc: init at 1.4.0
  pkgs/development/python-modules/i3ipc/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#33374 Update LLVM default 4 -> 5
  pkgs/development/compilers/zig/default.nix
  pkgs/development/haskell-modules/configuration-nix.nix
  pkgs/development/libraries/pixman/default.nix
  pkgs/os-specific/darwin/apple-source-releases/ICU/clang-5.patch
  pkgs/os-specific/darwin/apple-source-releases/ICU/default.nix
  pkgs/os-specific/linux/bcc/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#34845 bfs: init at 1.2.1
  lib/licenses.nix
  lib/maintainers.nix
  pkgs/tools/system/bfs/default.nix
  pkgs/tools/system/bfs/tests.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#34853 pythonPackages.aioconsole: init at 0.1.7
  pkgs/development/python-modules/aioconsole/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#34681 postman: init at 5.5.2
  lib/licenses.nix
  pkgs/development/web/postman/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#34797 OpenCL things
  pkgs/development/libraries/hwloc/default.nix
  pkgs/development/libraries/libclc/default.nix
  pkgs/development/libraries/ocl-icd/default.nix
  pkgs/development/libraries/opencl-headers/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 8.has: package (new)

#34861 lib/systems: musl "ABI"s, examples
  lib/systems/default.nix
  lib/systems/examples.nix
  lib/systems/inspect.nix
  lib/systems/parse.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34829 oxipng: init at 1.0.0
  pkgs/tools/graphics/oxipng/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34860 nodejs: 6.12.2 -> 6.12.3 (maintenance)
  pkgs/development/web/nodejs/v6.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 9.needs: community feedback

#34865 supervise: 1.2.0 -> 1.3.0
  pkgs/tools/system/supervise/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34830 lego: init at unstable-2018-02-02
  lib/maintainers.nix
  pkgs/tools/admin/lego/default.nix
  pkgs/tools/admin/lego/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34873 jid: remove package
  nixos/doc/manual/release-notes/rl-1803.xml
  pkgs/development/tools/jid/default.nix
  pkgs/development/tools/jid/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation

#34849 pkgs: firefoxes and tor-browsers
  pkgs/applications/networking/browsers/firefox/common.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 8.has: clean-up, 8.has: package (new)

#34889 pythonPackages.pytest-mock: 1.6.0 -> 1.6.3
  pkgs/development/python-modules/Nikola/default.nix
  pkgs/development/python-modules/pytest-mock/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#34890 pythonPackages.Nikola: remove input pytest-mock
  pkgs/development/python-modules/Nikola/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#34896 Filter out "null" from nix-buffer packages
  pkgs/build-support/emacs/buffer.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#34901 home-assistant: 0.63 -> 0.63.1
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34882 linux: don't add HOSTCC to PATH during build
  pkgs/os-specific/linux/kernel/manual-config.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 501+

#34863 Use static cabal2nix in callCabal2nix
  pkgs/development/haskell-modules/make-package-set.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#34862 rust: fix disabling of fragile test
  pkgs/development/compilers/rust/rustc.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 6.topic: rust

#34908 riot-web: 0.13.3 -> 0.13.5
  pkgs/applications/networking/instant-messengers/riot/riot-web.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34909 faust: 2.5.10 -> 2.5.21
  pkgs/applications/audio/faust/faust2.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#34913 smartgithg: 17_1_1 -> 17_1_4
  pkgs/applications/version-management/smartgithg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34900 yokadi: init at 1.1.1
  lib/maintainers.nix
  pkgs/applications/misc/yokadi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34905 kresd service: add listenTLS option
  nixos/modules/services/networking/kresd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34833 notmuch-addrlookup: 7 -> 9
  pkgs/applications/networking/mailreaders/notmuch-addrlookup/0001-notmuch-0.25-compatibility-fix.patch
  pkgs/applications/networking/mailreaders/notmuch-addrlookup/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34924 qpdf: 7.0.0 -> 7.1.1
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34925 [17.09] qpdf: 6.0.0 -> 7.1.1
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34676 diffpdf: move to using qt5
  pkgs/applications/misc/diffpdf/default.nix
  pkgs/applications/misc/diffpdf/fix_path_poppler_qt5.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34705 php: 7.1.14 -> 7.2.2
  nixos/doc/manual/release-notes/rl-1803.xml
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#34918 grpc: 1.8.3 -> 1.9.1
  pkgs/development/libraries/grpc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34426 WIP: libyaml-cpp: 0.5.3 -> 0.6.1
  pkgs/applications/networking/instant-messengers/ring-daemon/default.nix
  pkgs/development/libraries/libyaml-cpp/default.nix
  pkgs/games/openxcom/default.nix
  pkgs/tools/inputmethods/interception-tools/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: clean-up

#34794 move texstudio from qt4 to qt5
  pkgs/applications/editors/texstudio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#34906 buildRustCrate: add a postInstall hook
  pkgs/build-support/rust/build-rust-crate.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: rust

#34940 sage: Don't build docs by default
  pkgs/applications/science/math/sage/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#33429 gomodifytags: init at 2017-12-14
  pkgs/development/tools/gomodifytags/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34887 buildah: init at 0.11
  pkgs/development/tools/buildah/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#34926 Semi automated emacs package updates
  pkgs/applications/editors/emacs-modes/elpa-generated.nix
  pkgs/applications/editors/emacs-modes/melpa-generated.nix
  pkgs/applications/editors/emacs-modes/melpa-stable-generated.nix
  pkgs/applications/editors/emacs-modes/org-generated.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#34897 vivaldi: 1.13.1008.34-1 -> 1.14.1077.45-1
  pkgs/applications/networking/browsers/vivaldi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34815 ghostwriter: init at 1.5.0
  pkgs/applications/editors/ghostwriter/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34942 Update minio client and server
  pkgs/servers/minio/default.nix
  pkgs/tools/networking/minio-client/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34921 getdns: init at 1.3.0
  pkgs/development/libraries/getdns/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#32200 Mention GNOME-related stuff in changelog
  nixos/doc/manual/release-notes/rl-1803.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 2.status: work-in-progress, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#34507 pipewire: init at 0.1.8
  nixos/modules/module-list.nix
  nixos/modules/services/desktops/pipewire.nix
  pkgs/desktops/gnome-3/core/mutter/default.nix
  pkgs/development/libraries/pipewire/default.nix
  pkgs/development/libraries/pipewire/fix-paths.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: freedesktop, 6.topic: gnome3, 8.has: module (new), 8.has: package (new)

#34944 gnome-shell-extension-remove-dropdown-arrows: init at v9
  pkgs/desktops/gnome-3/extensions/remove-dropdown-arrows/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: gnome3

#34946 compcert: 3.1 -> 3.2
  pkgs/development/compilers/compcert/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#34899 catfish: 1.4.2 -> 1.4.4
  pkgs/applications/search/catfish/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34952 nixos/tests: add simple dockerTools test
  nixos/release.nix
  nixos/tests/docker-tools.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation

#34939 dockerTools.buildImage: do not add /nix/store in the tar stream
  pkgs/build-support/docker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#34799 mailpile: 0.4.1 -> 1.0.0rc1
  pkgs/applications/networking/mailreaders/mailpile/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34932 zsh-autoenv: init at 2017-12-16
  nixos/modules/module-list.nix
  nixos/modules/programs/zsh/zsh-autoenv.nix
  pkgs/tools/misc/zsh-autoenv/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#33428 go-outline: init at 2017-08-04
  pkgs/development/tools/go-outline/default.nix
  pkgs/development/tools/go-outline/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#33430 gopkgs: init at 2017-12-29
  pkgs/development/tools/gopkgs/default.nix
  pkgs/development/tools/gopkgs/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34955 home-assistant: 0.63.1 -> 0.63.2
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34927 ruby: remove unsupported versions
  pkgs/applications/editors/vim/macvim.nix
  pkgs/applications/misc/taskjuggler/default.nix
  pkgs/applications/networking/cluster/panamax/api/default.nix
  pkgs/applications/networking/cluster/panamax/ui/default.nix
  pkgs/development/interpreters/ruby/default.nix
  pkgs/development/interpreters/ruby/patchsets.nix
  pkgs/development/interpreters/ruby/rand-egd.patch
  pkgs/development/interpreters/ruby/ssl_v3.patch
  pkgs/development/tools/redis-dump/default.nix
  pkgs/development/tools/rhc/default.nix
  pkgs/tools/backup/backup/default.nix
  pkgs/tools/video/flvtool2/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: ruby, 6.topic: vim, 8.has: clean-up, 8.has: package (new)

#34726 plasma: 5.11.5 -> 5.12.1
  nixos/modules/services/x11/desktop-managers/plasma5.nix
  pkgs/desktops/plasma-5/default.nix
  pkgs/desktops/plasma-5/fetch.sh
  pkgs/desktops/plasma-5/kde-gtk-config/default.nix
  pkgs/desktops/plasma-5/kwin/default.nix
  pkgs/desktops/plasma-5/kwin/no-setcap-install.patch
  pkgs/desktops/plasma-5/kwin/series
  pkgs/desktops/plasma-5/plasma-desktop/default.nix
  pkgs/desktops/plasma-5/plasma-workspace/plasma-workspace.patch
  pkgs/desktops/plasma-5/srcs.nix
  pkgs/desktops/plasma-5/systemsettings.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: nixos, 6.topic: qt/kde, 8.has: module (update)

#34879 iosevka: 1.13.3 -> 1.14.0
  pkgs/data/fonts/iosevka/bin.nix
  pkgs/data/fonts/iosevka/default.nix
  pkgs/data/fonts/iosevka/package-lock.json
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#33950 tinyxml-2: 4.0.1 -> 6.0.0
  pkgs/development/libraries/tinyxml-2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#34960 Update several broken links to package homepages
  pkgs/development/libraries/cutee/default.nix
  pkgs/development/libraries/gnutls-kdh/generic.nix
  pkgs/development/libraries/mimetic/default.nix
  pkgs/tools/networking/tlspool/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34945 gnunet service: set private TMPDIR
  nixos/modules/services/networking/gnunet.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34949 mate desktop: update to release 1.20
  pkgs/desktops/mate/atril/default.nix
  pkgs/desktops/mate/caja-dropbox/default.nix
  pkgs/desktops/mate/caja-extensions/default.nix
  pkgs/desktops/mate/caja/default.nix
  pkgs/desktops/mate/default.nix
  pkgs/desktops/mate/engrampa/default.nix
  pkgs/desktops/mate/eom/default.nix
  pkgs/desktops/mate/libmatekbd/default.nix
  pkgs/desktops/mate/libmatemixer/default.nix
  pkgs/desktops/mate/libmateweather/default.nix
  pkgs/desktops/mate/marco/default.nix
  pkgs/desktops/mate/mate-applets/default.nix
  pkgs/desktops/mate/mate-backgrounds/default.nix
  pkgs/desktops/mate/mate-calc/default.nix
  pkgs/desktops/mate/mate-common/default.nix
  pkgs/desktops/mate/mate-control-center/default.nix
  pkgs/desktops/mate/mate-desktop/default.nix
  pkgs/desktops/mate/mate-icon-theme-faenza/default.nix
  pkgs/desktops/mate/mate-icon-theme/default.nix
  pkgs/desktops/mate/mate-indicator-applet/default.nix
  pkgs/desktops/mate/mate-media/default.nix
  pkgs/desktops/mate/mate-menus/default.nix
  pkgs/desktops/mate/mate-netbook/default.nix
  pkgs/desktops/mate/mate-notification-daemon/default.nix
  pkgs/desktops/mate/mate-panel/default.nix
  pkgs/desktops/mate/mate-polkit/default.nix
  pkgs/desktops/mate/mate-power-manager/default.nix
  pkgs/desktops/mate/mate-screensaver/default.nix
  pkgs/desktops/mate/mate-sensors-applet/default.nix
  pkgs/desktops/mate/mate-session-manager/default.nix
  pkgs/desktops/mate/mate-settings-daemon/default.nix
  pkgs/desktops/mate/mate-system-monitor/default.nix
  pkgs/desktops/mate/mate-terminal/default.nix
  pkgs/desktops/mate/mate-themes/default.nix
  pkgs/desktops/mate/mate-user-guide/default.nix
  pkgs/desktops/mate/mate-user-share/default.nix
  pkgs/desktops/mate/mate-utils/default.nix
  pkgs/desktops/mate/mozo/default.nix
  pkgs/desktops/mate/pluma/default.nix
  pkgs/desktops/mate/python-caja/default.nix
  pkgs/desktops/mate/update.sh
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#32799 mnemosyne: 2.3.2 -> 2.6
  pkgs/games/mnemosyne/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34966 pythonPackages.supervise_api: 0.3.0 -> 0.4.0
  pkgs/development/python-modules/supervise_api/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#34974 nixos/prosody: add package option
  nixos/modules/services/networking/prosody.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#34979 gnome3.gjs: 1.50.2 → 1.50.4
  nixos/release.nix
  nixos/tests/gjs.nix
  pkgs/desktops/gnome-3/core/gjs/default.nix
  pkgs/desktops/gnome-3/core/gjs/src.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: gnome3, 6.topic: nixos

#34986 eprover: fix build in non-GCC environments
  pkgs/applications/science/logic/eprover/default.nix
Labels: 0.kind: bug, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#32751 fwupd: 1.0.1 → 1.0.4
  nixos/modules/services/hardware/fwupd.nix
  nixos/release.nix
  nixos/tests/fwupd.nix
  pkgs/development/libraries/appstream-glib/default.nix
  pkgs/development/libraries/appstream-glib/paths.patch
  pkgs/development/libraries/gcab/default.nix
  pkgs/os-specific/linux/firmware/fwupd/default.nix
  pkgs/os-specific/linux/firmware/fwupd/fix-missing-deps.patch
  pkgs/tools/system/efivar/default.nix
  pkgs/top-level/all-packages.nix
Labels: 1 - Ready, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: nixos, 8.has: module (update), 8.has: package (new), 8.has: package (update)

#34992 albert: 0.14.14 -> 0.14.15
  pkgs/applications/misc/albert/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#34984 Adding @0x4A6F to maintainers.nix
  lib/maintainers.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#34936 kde_frameworks: 5.42 -> 5.43
  pkgs/development/libraries/kde-frameworks/fetch.sh
  pkgs/development/libraries/kde-frameworks/kglobalaccel.nix
  pkgs/development/libraries/kde-frameworks/plasma-framework.nix
  pkgs/development/libraries/kde-frameworks/srcs.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 6.topic: qt/kde

#34827 rtl8812au: 4.3.20 -> 5.2.20_25672.20171213
  pkgs/os-specific/linux/rtl8812au/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#34831 syncthing: Add discovery/relay servers, improve build
  pkgs/applications/networking/syncthing/add-stcli-target.patch
  pkgs/applications/networking/syncthing/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#34995 rtl8812au: 4.3.20 -> 5.2.20_25672.20171213
  pkgs/os-specific/linux/rtl8812au/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#34996 restic: add completions and man page to package
  pkgs/tools/backup/restic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#34973 zathura: make compatible with darwin
  pkgs/applications/misc/zathura/core/default.nix
  pkgs/applications/misc/zathura/djvu/default.nix
  pkgs/applications/misc/zathura/pdf-mupdf/default.nix
  pkgs/applications/misc/zathura/pdf-poppler/default.nix
  pkgs/applications/misc/zathura/ps/default.nix
  pkgs/applications/misc/zathura/wrapper.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#35000 non: 2017-03-29 -> 2018-02-15
  pkgs/applications/audio/non/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10
