Repository NixOS/nixpkgs, pull requests merged in 2018-05, with the labels that each got.

#39776 nss-mdns: fix build w/musl
  pkgs/tools/networking/nss-mdns/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39785 xmlformat: init at 1.04
  pkgs/tools/text/xml/xmlformat/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38831 Improve cross referencing in NixOS Manual
  .editorconfig
  nixos/doc/manual/administration/cleaning-store.xml
  nixos/doc/manual/administration/container-networking.xml
  nixos/doc/manual/administration/control-groups.xml
  nixos/doc/manual/administration/declarative-containers.xml
  nixos/doc/manual/administration/imperative-containers.xml
  nixos/doc/manual/configuration/abstractions.xml
  nixos/doc/manual/configuration/ad-hoc-network-config.xml
  nixos/doc/manual/configuration/adding-custom-packages.xml
  nixos/doc/manual/configuration/config-file.xml
  nixos/doc/manual/configuration/customizing-packages.xml
  nixos/doc/manual/configuration/declarative-packages.xml
  nixos/doc/manual/configuration/file-systems.xml
  nixos/doc/manual/configuration/firewall.xml
  nixos/doc/manual/configuration/ipv4-config.xml
  nixos/doc/manual/configuration/ipv6-config.xml
  nixos/doc/manual/configuration/linux-kernel.xml
  nixos/doc/manual/configuration/luks-file-systems.xml
  nixos/doc/manual/configuration/modularity.xml
  nixos/doc/manual/configuration/network-manager.xml
  nixos/doc/manual/configuration/ssh.xml
  nixos/doc/manual/configuration/user-mgmt.xml
  nixos/doc/manual/configuration/wireless.xml
  nixos/doc/manual/configuration/x-windows.xml
  nixos/doc/manual/configuration/xfce.xml
  nixos/doc/manual/installation/changing-config.xml
  nixos/doc/manual/installation/installing-from-other-distro.xml
  nixos/doc/manual/installation/installing-virtualbox-guest.xml
  nixos/doc/manual/installation/installing.xml
  nixos/doc/manual/installation/upgrading.xml
  nixos/modules/i18n/input-method/default.xml
  nixos/modules/programs/digitalbitbox/doc.xml
  nixos/modules/programs/plotinus.xml
  nixos/modules/security/acme.xml
  nixos/modules/security/hidepid.xml
  nixos/modules/services/databases/postgresql.xml
  nixos/modules/services/editors/emacs.xml
  nixos/modules/services/misc/gitlab.xml
  nixos/modules/services/misc/taskserver/doc.xml
  nixos/modules/services/networking/dnscrypt-proxy.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#39666 nix: fix stdenv.system check -- should be hostPlatform
  pkgs/tools/package-management/nix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39788 lib: Improve deprecation message for `isArm`
  lib/systems/inspect.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39780 extremetuxracer: 0.7.4 -> 0.7.5
  pkgs/games/extremetuxracer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39794 lib, openssl: 2 misc bits towards iOS support
  lib/systems/examples.nix
  pkgs/development/libraries/openssl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39793 treewide: http to https
  pkgs/applications/audio/gmpc/default.nix
  pkgs/applications/graphics/digikam/default.nix
  pkgs/applications/graphics/dosage/default.nix
  pkgs/applications/graphics/gimp/plugins/default.nix
  pkgs/applications/misc/chirp/default.nix
  pkgs/applications/misc/gramps/default.nix
  pkgs/applications/misc/lilyterm/default.nix
  pkgs/applications/networking/cluster/kubernetes/default.nix
  pkgs/applications/networking/ids/snort/default.nix
  pkgs/applications/networking/instant-messengers/franz/default.nix
  pkgs/applications/networking/irc/irssi/default.nix
  pkgs/applications/video/mpv/default.nix
  pkgs/applications/window-managers/i3/default.nix
  pkgs/applications/window-managers/i3/status.nix
  pkgs/desktops/gnome-3/core/gnome-menus/default.nix
  pkgs/development/compilers/hhvm/default.nix
  pkgs/development/libraries/LASzip/default.nix
  pkgs/development/libraries/fcppt/default.nix
  pkgs/development/libraries/libLAS/default.nix
  pkgs/development/libraries/libdbusmenu-qt/qt-5.5.nix
  pkgs/development/libraries/libmsgpack/generic.nix
  pkgs/development/libraries/liboil/default.nix
  pkgs/development/libraries/libssh2/default.nix
  pkgs/development/libraries/movit/default.nix
  pkgs/development/tools/analysis/include-what-you-use/default.nix
  pkgs/development/tools/build-managers/cmake/2.8.nix
  pkgs/development/tools/castxml/default.nix
  pkgs/development/tools/gauge/default.nix
  pkgs/games/assaultcube/default.nix
  pkgs/misc/emulators/emulationstation/default.nix
  pkgs/servers/firebird/default.nix
  pkgs/servers/xmpp/ejabberd/default.nix
  pkgs/tools/backup/burp/default.nix
  pkgs/tools/filesystems/bindfs/default.nix
  pkgs/tools/filesystems/irods/common.nix
  pkgs/tools/misc/gparted/default.nix
  pkgs/tools/networking/easyrsa/2.x.nix
  pkgs/tools/networking/easyrsa/default.nix
  pkgs/tools/networking/openvpn/default.nix
  pkgs/tools/security/clamav/default.nix
  pkgs/tools/security/mpw/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: gnome3

#39768 goxel: 0.7.3 -> 0.8.0
  pkgs/applications/graphics/goxel/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39772 encfs: 1.9.4 -> 1.9.5
  pkgs/tools/filesystems/encfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39415 coqPackages.mathcomp: 1.6.4 -> 1.7.0
  pkgs/development/coq-modules/autosubst/default.nix
  pkgs/development/coq-modules/coquelicot/default.nix
  pkgs/development/coq-modules/interval/default.nix
  pkgs/development/coq-modules/mathcomp/default.nix
  pkgs/development/coq-modules/mathcomp/generic.nix
  pkgs/development/coq-modules/ssreflect/default.nix
  pkgs/development/coq-modules/ssreflect/generic.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: package (update)

#39801 goxel: don't save imgui.ini to working directory
  pkgs/applications/graphics/goxel/default.nix
  pkgs/applications/graphics/goxel/disable-imgui_ini.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39358 (hitch + nixos/services/hitch): (init at 1.4.8)
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/services/web-servers/hitch/default.nix
  nixos/release.nix
  nixos/tests/hitch/default.nix
  nixos/tests/hitch/example.pem
  nixos/tests/hitch/example/index.txt
  pkgs/servers/hitch/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#39779 eclib: 20171002 -> 20171219
  pkgs/development/libraries/eclib/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39758 lr: 1.3 -> 1.4
  pkgs/tools/system/lr/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39761 ipmiutil: 3.0.9 -> 3.1.0
  pkgs/tools/system/ipmiutil/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39809 prometheus-snmp-exporter: 0.3.0 -> 0.9.0
  pkgs/servers/monitoring/prometheus/snmp-exporter.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39769 git-cola: 3.0 -> 3.1
  pkgs/applications/version-management/git-and-tools/git-cola/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39774 guake: 3.2.0 -> 3.2.1
  pkgs/applications/misc/guake/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39812 nixos/monetdb: init
  nixos/modules/misc/ids.nix
  nixos/modules/module-list.nix
  nixos/modules/services/databases/monetdb.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (new)

#39537 libraw: 0.18.8 -> 0.18.9
  pkgs/development/libraries/libraw/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39630 conglomerate: init at 2017-09-10
  pkgs/applications/science/biology/conglomerate/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#37855 jmol init, pymol -> 2.1.0 and tidied up all-packages.nix
  pkgs/applications/science/chemistry/jmol/default.nix
  pkgs/applications/science/chemistry/pymol/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#39748 bat: init at 0.2.0
  pkgs/tools/misc/bat/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39803 gron: 0.5.1 -> 0.5.2
  pkgs/development/tools/gron/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39820 spotify: 1.0.77.338.g758ebd78-41 -> 1.0.79.223.g92622cc2-21
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39821 Backport #39820: spotify: 1.0.77.338.g758ebd78-41 -> 1.0.79.223.g92622cc2-21
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39428 libfm-extra: 1.2.5 -> 1.3.0
  pkgs/development/libraries/libfm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39790 GNUs on Darwin
  pkgs/applications/editors/moe/default.nix
  pkgs/applications/graphics/ocrad/default.nix
  pkgs/applications/misc/gcal/default.nix
  pkgs/applications/misc/gpa/default.nix
  pkgs/applications/science/math/pspp/default.nix
  pkgs/development/libraries/vcdimager/default.nix
  pkgs/development/tools/misc/dejagnu/default.nix
  pkgs/games/ball-and-paddle/default.nix
  pkgs/tools/networking/inetutils/default.nix
  pkgs/tools/networking/jwhois/default.nix
  pkgs/tools/security/dirmngr/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 6.topic: darwin, 8.has: package (new)

#39729 utf8proc: 2.1.0 -> 2.1.1
  pkgs/development/libraries/utf8proc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39686 all-packages: move aliases to aliases.nix
  pkgs/applications/networking/remote/citrix-receiver/default.nix
  pkgs/development/interpreters/dart/default.nix
  pkgs/development/libraries/libappindicator/default.nix
  pkgs/development/libraries/libindicate/default.nix
  pkgs/development/libraries/libindicator/default.nix
  pkgs/development/libraries/ncurses/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/release.nix
  pkgs/top-level/stage.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#39829 discord: 0.0.4 -> 0.0.5
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39822 nixos doc: mananager -> manager
  nixos/doc/manual/installation/installing-from-other-distro.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation

#39827 kid3: qt5 support
  pkgs/applications/audio/kid3/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39701 uget-integrator: init at 1.0.0
  pkgs/applications/networking/browsers/firefox/wrapper.nix
  pkgs/tools/networking/uget-integrator/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39728 wesnoth-dev: 1.13.13 -> 1.14.0
  pkgs/games/wesnoth/dev.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39828 souffle: 1.0.0 -> 1.2.0
  maintainers/maintainer-list.nix
  pkgs/development/compilers/souffle/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39825 cquery: 2018-03-31 -> 2018-05-01
  pkgs/development/tools/misc/cquery/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39407 nixos/nix-daemon: optionally (on by default) check nix.conf can be read
  nixos/modules/services/misc/nix-daemon.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#39711 luafilesystem: 1.6.3 -> 1.7.0
  pkgs/top-level/lua-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39836 virtualbox: 5.2.8 -> 5.2.10
  nixos/modules/virtualisation/virtualbox-host.nix
  pkgs/applications/virtualization/virtualbox/default.nix
Labels: 6.topic: nixos, 8.has: module (update)

#39826 buildbot: disable tests because of TimeoutErrors
  pkgs/development/tools/build-managers/buildbot/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39837 lib/systems: Fix eval for iphone32* examples
  lib/systems/examples.nix
  pkgs/os-specific/darwin/ios-sdk-pkgs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39786 nixpkgs doc: add format Make target
  doc/Makefile
  doc/default.nix
  doc/shell.nix
  nixos/doc/manual/Makefile
  nixos/doc/manual/shell.nix
  nixos/doc/xmlformat.conf
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation

#39839 stride: 1.8.18 -> 1.17.82
  pkgs/applications/networking/instant-messengers/stride/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39663 xen_4_10: fix qemu-xen build error (memfd)
  pkgs/applications/virtualization/xen/4.10.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39094 vulkan-loader: fix broken symlink in output
  pkgs/development/libraries/vulkan-loader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 9.needs: port to stable

#39848 virtualbox: update guest additions hash
  pkgs/applications/virtualization/virtualbox/guest-additions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#39717 nixos-container: support restarts
  pkgs/tools/virtualization/nixos-container/nixos-container.pl
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos

#37871 nixos/docker-registry: add configuration options to support image deletions
  nixos/doc/manual/release-notes/rl-1809.xml
  nixos/modules/services/misc/docker-registry.nix
  nixos/tests/docker-registry.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#37992 remove godot_headers in favour of a dev output on godot
  pkgs/development/libraries/godot_headers/default.nix
  pkgs/development/tools/godot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#39796 abcmidi: 2018.04.18 -> 2018.04.24
  pkgs/tools/audio/abcmidi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39815 pythonPackages.pytest-flake8: 1.0.0 -> 1.0.1
  pkgs/development/python-modules/keyring/default.nix
  pkgs/development/python-modules/pytest-flake8/default.nix
  pkgs/tools/security/vulnix/default.nix
  pkgs/tools/security/vulnix/disable-flake8.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: python

#39694 pythonPackages.pyslurm: 20170302 -> 20180427
  pkgs/development/python-modules/pyslurm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#39844 cctools, apple libiconv: Apple clean up for iOS cross
  pkgs/os-specific/darwin/apple-source-releases/libiconv/default.nix
  pkgs/os-specific/darwin/cctools/port.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1-10

#39852 solc: 0.4.20 -> 0.4.23
  pkgs/development/compilers/solc/default.nix
  pkgs/development/compilers/solc/patches/boost-shared-libs.patch
  pkgs/development/compilers/solc/patches/shared-libs-install.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39856 prometheus-nginx-exporter: fix bool to string coercion
  nixos/modules/services/monitoring/prometheus/exporters/nginx.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#39756 facette: init at 0.4.0
  pkgs/servers/monitoring/facette/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#37639 Plover 4.0.0.dev6
  pkgs/applications/misc/plover/default.nix
  pkgs/development/python-modules/pyqt/5.x.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#28206 switch-to-configuration: use Net::DBus to retrieve the list of units
  nixos/modules/system/activation/switch-to-configuration.pl
  nixos/modules/system/activation/top-level.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#39863 Fix typo in help message
  pkgs/applications/networking/cluster/terraform/providers/update-all
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39868 remotebox: 2.4 -> 2.5
  pkgs/applications/virtualization/remotebox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39870 gitlab-runner: 10.6.0 -> 10.7.1
  pkgs/development/tools/continuous-integration/gitlab-runner/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39688 [release-18.03] slurm: 17.11.3 -> 17.11.5 (Fix CVE-2018-7033)
  pkgs/development/python-modules/pyslurm/default.nix
  pkgs/servers/computing/slurm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#39865 sudo: 1.8.22 -> 1.8.23
  pkgs/tools/security/sudo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39864 umockdev: 0.11.2 -> 0.11.3
  pkgs/development/libraries/umockdev/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39862 transmission-gtk: 2.93 -> 2.94
  pkgs/applications/networking/p2p/transmission/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39859 lzma: 5.2.3 -> 5.2.4
  pkgs/tools/compression/xz/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+

#39861 webtorrent_desktop: 0.19.0 -> 0.20.0
  pkgs/applications/video/webtorrent_desktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39853 nix-zsh-completions: 0.3.9 -> 0.4.0 (fixes recently broken file completion)
  pkgs/shells/zsh/nix-zsh-completions/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39715 zookeeper: 3.4.11 -> 3.4.12
  pkgs/servers/zookeeper/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39818 robo3t: add libGL
  pkgs/applications/misc/robo3t/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39887 man-pages: 4.15 -> 4.16
  pkgs/data/documentation/man-pages/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: documentation

#39721 visualvm: 1.4 -> 1.4.1
  pkgs/development/tools/java/visualvm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39885 libsass: 3.5.3 -> 3.5.4
  pkgs/development/libraries/libsass/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39884 libnetfilter_conntrack: 1.0.6 -> 1.0.7
  pkgs/development/libraries/libnetfilter_conntrack/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+

#39883 sqsh: Fix darwin build
  pkgs/development/tools/sqsh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin

#39892 libbson: 1.9.4 -> 1.9.5
  pkgs/development/libraries/libbson/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39880 libnftnl: 1.0.9 -> 1.1.0
  pkgs/development/libraries/libnftnl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+

#39888 imagemagick7: 7.0.7-27 -> 7.0.7-29
  pkgs/applications/graphics/ImageMagick/7.0.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39891 salt: Fix build
  pkgs/tools/admin/salt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39893 iosevka: 1.14.1 -> 1.14.2
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39906 vim-utils: update plugin generation instruction
  pkgs/misc/vim-plugins/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vim

#39823 fetchs3: allow to name the derivation output
  pkgs/build-support/fetchs3/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: fetch

#39912 vulnix: 1.6.1 -> 1.6.3
  pkgs/tools/security/vulnix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 11.by: upstream-developer

#39897 dbus: 1.12.6 -> 1.12.8
  pkgs/development/libraries/dbus/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#39752 opendht: 1.7.0 -> 1.7.1
  pkgs/development/libraries/opendht/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39747 paml: 4.9g -> 4.9h
  pkgs/applications/science/biology/paml/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39920 cointop: init at 2018-05-03
  pkgs/applications/misc/cointop/default.nix
  pkgs/applications/misc/cointop/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39754 liquibase: 3.6.0 -> 3.6.1
  pkgs/development/tools/database/liquibase/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39781 di: 4.45 -> 4.46
  pkgs/tools/system/di/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39799 apktool: 2.3.2 -> 2.3.3
  pkgs/development/tools/apktool/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39800 arangodb: 3.3.7 -> 3.3.8
  pkgs/servers/nosql/arangodb/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39875 pdfgrep: 2.0.1 -> 2.1.0
  pkgs/tools/typesetting/pdfgrep/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39904 aws-sdk-cpp: 1.4.33 -> 1.4.40
  pkgs/development/libraries/aws-sdk-cpp/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#39905 alsaUtils: 1.1.5 -> 1.1.6
  pkgs/os-specific/linux/alsa-utils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39753 makeself: 2.3.1 -> 2.4.0
  pkgs/applications/misc/makeself/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39860 qscintilla: revert bump to fix the build
  pkgs/development/libraries/qscintilla/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39911 gnupg: 2.2.6 -> 2.2.7
  pkgs/tools/security/gnupg/22.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#39654 GCE: pull the ssh host keys from the metadata service as expected by NixOps.
  nixos/modules/virtualisation/google-compute-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#39896 poppler_qt4: remove
  pkgs/applications/misc/open-pdf-presenter/default.nix
  pkgs/development/libraries/poppler/qt4.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python, 8.has: clean-up

#39440 electrum-ltc: 3.1.2.1 -> 3.1.3.1
  pkgs/applications/misc/electrum/ltc.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39924 gcc7: Removed java as a target language
  pkgs/development/compilers/gcc/7/default.nix
  pkgs/development/compilers/gcc/snapshot/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+

#39935 jwm: 1653 -> 1685
  pkgs/applications/window-managers/jwm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39886 mono: create mono4 & mono5 aliases and fix gtk-sharp/pdfmod builds
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#38309 go_1_{9,10}: disable problematic tests in net module
  pkgs/development/compilers/go/1.10.nix
  pkgs/development/compilers/go/1.9.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: golang

#39945 git: disable failing test w/musl for now
  pkgs/applications/version-management/git-and-tools/git/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39420 A selection of cross-compiling fixes
  lib/systems/for-meta.nix
  pkgs/development/libraries/avahi/default.nix
  pkgs/development/libraries/glib/default.nix
  pkgs/development/libraries/ldns/default.nix
  pkgs/os-specific/linux/libnl/default.nix
  pkgs/os-specific/linux/mmc-utils/default.nix
  pkgs/os-specific/linux/net-tools/default.nix
  pkgs/os-specific/linux/tcp-wrappers/default.nix
  pkgs/tools/networking/curl/default.nix
  pkgs/tools/security/rng-tools/default.nix
  pkgs/tools/system/runit/default.nix
  pkgs/tools/system/runit/fix-ar-ranlib.patch
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#39922 matrix-synapse: 0.27.4 -> 0.28.1
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39947 lib{std,}c++: Fix setup hooks for cross
  pkgs/development/compilers/gcc/libstdc++-hook.sh
  pkgs/development/compilers/llvm/3.5/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/3.7/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/3.8/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/3.9/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/4/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/5/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/6/libc++/setup-hook.sh
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux: 11-100

#39948 [18.03] matrix-synapse: 0.26.1 -> 0.28.1 (security update)
  pkgs/servers/matrix-synapse/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#39953 runInLinuxVM: fix ext4 and crc32c-intel interactions
  pkgs/build-support/vm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39954 runInLinuxVM: fix ext4 and crc32c-intel interactions
  pkgs/build-support/vm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39903 haskellPackages.blank-canvas: 0.6.3 -> 0.6.2
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#39866 gcc8: init at 8.1.0
  pkgs/development/compilers/gcc/8/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/release.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#39957 nix-prefetch-git: fix handling of submodules with spaces
  pkgs/build-support/fetchgit/nix-prefetch-git
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: fetch

#39970 impure.nix: stringify path from NIX_PATH
  pkgs/top-level/impure.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39121 pass: refactor extension packaging
  pkgs/tools/security/pass/default.nix
  pkgs/tools/security/pass/extensions/default.nix
  pkgs/tools/security/pass/extensions/import.nix
  pkgs/tools/security/pass/extensions/otp.nix
  pkgs/tools/security/pass/extensions/tomb.nix
  pkgs/tools/security/pass/extensions/update.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#39914 gcc49: backport retpoline support
  pkgs/development/compilers/gcc/4.9/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: clean-up

#39980 lolcat: 99.9.10 -> 99.9.11
  pkgs/tools/misc/lolcat/Gemfile.lock
  pkgs/tools/misc/lolcat/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39943 restic-rest-server module: init
  nixos/modules/misc/ids.nix
  nixos/modules/module-list.nix
  nixos/modules/services/backup/restic-rest-server.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#39426 googleearth: remove
  pkgs/applications/misc/googleearth/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#39977 minitube: 2.4 -> 2.9
  pkgs/applications/video/minitube/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39928 Ruby: 2.3.6 -> 2.3.7, 2.4.3 -> 2.4.4, 2.5.0 -> 2.5.1
  pkgs/development/interpreters/ruby/default.nix
  pkgs/development/interpreters/ruby/patchsets.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: ruby, 9.needs: port to stable

#39931 pythonPackages.supervise_api: 0.4.0 -> 0.5.3
  pkgs/development/python-modules/supervise_api/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#39963 freetds: 1.00.80 -> 1.00.91
  pkgs/development/libraries/freetds/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39913 shutter: wrap `XDG_DATA_DIRS` with `hicolor-icon-theme`
  pkgs/applications/graphics/shutter/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#39974 simplescreenrecorder: port to qt5
  pkgs/applications/video/simplescreenrecorder/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#39926 python3Packages.yowsup: 2.5.2 -> 2.5.7
  pkgs/development/python-modules/yowsup/argparse-dependency.patch
  pkgs/development/python-modules/yowsup/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#39541 linux-mptcp: enable advanced schedulers
  pkgs/os-specific/linux/kernel/linux-mptcp.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39795 atlas: 3.10.2 -> 3.10.3
  pkgs/development/libraries/science/math/atlas/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#39783 acpica-tools: 20180313 -> 20180427
  pkgs/tools/system/acpica-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38660 btrbk: fix SSH filter script; clean up build inputs
  pkgs/tools/backup/btrbk/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#39988 gitkraken: 3.4.0 -> 3.6.0
  pkgs/applications/version-management/gitkraken/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39939 theme-obsidian2: init at 2.5
  pkgs/misc/themes/obsidian2/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39797 adapta-gtk-theme: 3.93.0.258 -> 3.93.1.1
  pkgs/misc/themes/adapta/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39938 switch-to-configuration: use Net::DBus to retrieve the list of units
  nixos/modules/system/activation/switch-to-configuration.pl
  nixos/modules/system/activation/top-level.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#39972 mathematica: add mesa, fix `libGL.so.1 not found` messages
  pkgs/applications/science/math/mathematica/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#38489 gmrender-resurrect: init
  pkgs/tools/networking/gmrender-resurrect/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39983 way-cooler: renaming commands is not needed anymore
  pkgs/applications/window-managers/way-cooler/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39714 open-ecard: init at 1.2.4
  pkgs/tools/security/open-ecard/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39994 parity-ui: init at 0.1.1
  pkgs/applications/altcoins/default.nix
  pkgs/applications/altcoins/parity-ui/default.nix
  pkgs/applications/altcoins/parity-ui/env.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#39990 Add package: git-secrets
  pkgs/applications/version-management/git-and-tools/default.nix
  pkgs/applications/version-management/git-and-tools/git-secrets/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#39993 Update version 16.5.439
  pkgs/applications/misc/houdini/runtime.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#39872 sshguard: service creates /var/lib/sshguard
  nixos/modules/services/security/sshguard.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#35533 ndppd module: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/ndppd.nix
  pkgs/applications/networking/ndppd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#39881 Add epeg
  pkgs/applications/graphics/epeg/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#39991 fleet, panamax: remove
  nixos/modules/misc/ids.nix
  nixos/modules/module-list.nix
  nixos/modules/services/cluster/fleet.nix
  nixos/modules/services/cluster/panamax.nix
  nixos/release.nix
  nixos/tests/fleet.nix
  nixos/tests/panamax.nix
  pkgs/applications/networking/cluster/panamax/api/Gemfile
  pkgs/applications/networking/cluster/panamax/api/Gemfile.lock
  pkgs/applications/networking/cluster/panamax/api/default.nix
  pkgs/applications/networking/cluster/panamax/api/gemset.nix
  pkgs/applications/networking/cluster/panamax/ui/Gemfile
  pkgs/applications/networking/cluster/panamax/ui/Gemfile.lock
  pkgs/applications/networking/cluster/panamax/ui/default.nix
  pkgs/applications/networking/cluster/panamax/ui/gemset.nix
  pkgs/servers/fleet/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: clean-up, 8.has: module (update)

#39987 yubikey-personalization-gui: port to qt5
  pkgs/tools/misc/yubikey-personalization-gui/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#40002 powerline-rs: init at 0.1.6
  maintainers/maintainer-list.nix
  pkgs/tools/misc/powerline-rs/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)
