Repository NixOS/nixpkgs, pull requests merged in 2018-09, with the labels that each got.

#45894 bat: 0.6.0 -> 0.6.1
  pkgs/tools/misc/bat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45700 nodePackages: 6_x -> 8_x
  doc/languages-frameworks/node.section.md
  pkgs/development/node-packages/default-v6.nix
  pkgs/development/node-packages/default-v8.nix
  pkgs/development/node-packages/node-packages-v10.nix
  pkgs/development/node-packages/node-packages-v6.json
  pkgs/development/node-packages/node-packages-v6.nix
  pkgs/development/node-packages/node-packages-v8.json
  pkgs/development/node-packages/node-packages-v8.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: documentation

#45855 steam: Add python3 to runtime for steam play / proton
  pkgs/games/steam/chrootenv.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: steam

#45880 qgis: patch for compatibility with cmake 3.12
  pkgs/applications/gis/qgis/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45838 cutecom: 0.45.0 -> 0.50.0
  pkgs/tools/misc/cutecom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45797 verilator: 3.924 -> 3.926
  pkgs/applications/science/electronics/verilator/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45825 libconfuse: 3.2.1 -> 3.2.2
  pkgs/development/libraries/libconfuse/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45705 ruby: default to version 2.5
  pkgs/development/interpreters/ruby/patchsets.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: ruby

#45892 ocamlPackages.reason: remove spurious dependency on opam
  pkgs/development/compilers/reason/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: clean-up

#45870 Navit
  pkgs/applications/misc/navit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45875 nixos/transmission: fix AppArmor profile to include keyutils
  nixos/modules/services/torrent/transmission.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45861 mixxx 2.1.3: Fixed glibc locale bug
  pkgs/applications/audio/mixxx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45899 navit: 0.5.2 -> 0.5.3
  pkgs/applications/misc/navit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45837 dico: 2.5 -> 2.6
  pkgs/servers/dico/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45846 bareos: 17.2.5 -> 17.2.7
  pkgs/tools/backup/bareos/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45900 dde-qt-dbus-factory: init at 1.0.4
  pkgs/desktops/deepin/dde-qt-dbus-factory/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45628 lib: ensure directories of linkFarm links exist
  pkgs/build-support/trivial-builders.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45891 stage-1-init.sh: do not check mounted filesystems
  nixos/modules/system/boot/stage-1-init.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45856 sauce-connect: 4.4.12 -> 4.5.1
  pkgs/development/tools/sauce-connect/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45903 cargo-web: init at 0.6.15
  pkgs/development/tools/cargo-web/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#45878 dbxml: move db62 to propagatedBuildInputs.
  pkgs/development/libraries/dbxml/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#30890 display-managers: make lightdm the default
  nixos/doc/manual/release-notes/rl-1809.xml
  nixos/modules/services/x11/desktop-managers/gnome3.nix
  nixos/modules/services/x11/display-managers/auto.nix
  nixos/modules/services/x11/display-managers/gdm.nix
  nixos/modules/services/x11/display-managers/lightdm.nix
  nixos/modules/services/x11/display-managers/sddm.nix
  nixos/modules/services/x11/display-managers/slim.nix
  nixos/modules/services/x11/xserver.nix
  nixos/tests/gnome3-gdm.nix
  nixos/tests/gnome3.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#45854 nixos/doc: add instructions for installation behind a proxy
  nixos/doc/manual/installation/installing-behind-a-proxy.xml
  nixos/doc/manual/installation/installing.xml
  nixos/modules/installer/tools/nixos-generate-config.pl
  nixos/modules/system/activation/top-level.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#45896 firmware-linux-nonfree: 2018-03-20 -> 2018-08-25
  pkgs/os-specific/linux/firmware/firmware-linux-nonfree/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#42880 coreutils: 8.29 -> 8.30
  pkgs/tools/misc/coreutils/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+

#45720 coreutils: split a coreutils-full version
  nixos/modules/config/system-path.nix
  pkgs/tools/misc/coreutils/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#45871 pythonPackages.dependency-injector: init at 3.13.1
  pkgs/development/python-modules/dependency-injector/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#45904 elasticsearch plugins: don't use lib.version
  pkgs/servers/search/elasticsearch/plugins.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45909 Add licenses
  pkgs/applications/altcoins/ethabi.nix
  pkgs/applications/altcoins/ethrun.nix
  pkgs/applications/audio/axoloti/libusb1.nix
  pkgs/applications/audio/distrho/default.nix
  pkgs/applications/audio/lastfmsubmitd/default.nix
  pkgs/applications/graphics/k3d/default.nix
  pkgs/applications/misc/golden-cheetah/default.nix
  pkgs/applications/misc/goldendict/default.nix
  pkgs/applications/misc/gphoto2/gphotofs.nix
  pkgs/applications/misc/gxneur/default.nix
  pkgs/applications/misc/krename/default.nix
  pkgs/applications/misc/mop/default.nix
  pkgs/applications/misc/nut/default.nix
  pkgs/applications/misc/pdf-quench/default.nix
  pkgs/applications/misc/posterazor/default.nix
  pkgs/applications/misc/terminal-notifier/default.nix
  pkgs/applications/misc/wordnet/default.nix
  pkgs/applications/misc/xautoclick/default.nix
  pkgs/applications/misc/xchm/default.nix
  pkgs/applications/misc/xpdf/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#41801 iproute: copy files in /etc
  nixos/doc/manual/release-notes/rl-1809.xml
  nixos/modules/config/iproute2.nix
  pkgs/os-specific/linux/iproute/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#37690 nixos/xserver.windowManager.session: handle duplicate names
  nixos/modules/services/x11/display-managers/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45913 pianobar: 2016.06.02 -> 2018.06.22
  pkgs/applications/audio/pianobar/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45888 qt-3: Make `configureFlags` a list
  pkgs/development/libraries/qt-3/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45914 Section ids
  doc/cross-compilation.xml
  doc/languages-frameworks/texlive.xml
  doc/multiple-output.xml
  doc/package-notes.xml
  doc/release-notes.xml
  doc/reviewing-contributions.xml
  doc/stdenv.xml
  doc/submitting-changes.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#45917 Nixos docs: section ids
  nixos/doc/manual/Makefile
  nixos/doc/manual/configuration/linux-kernel.xml
  nixos/doc/manual/configuration/modularity.xml
  nixos/doc/manual/development/assertions.xml
  nixos/doc/manual/development/option-types.xml
  nixos/doc/manual/development/writing-documentation.xml
  nixos/doc/manual/installation/upgrading.xml
  nixos/doc/manual/manual.xml
  nixos/doc/manual/options-to-docbook.xsl
  nixos/modules/i18n/input-method/default.xml
  nixos/modules/programs/zsh/oh-my-zsh.xml
  nixos/modules/security/acme.xml
  nixos/modules/services/databases/foundationdb.xml
  nixos/modules/services/databases/postgresql.xml
  nixos/modules/services/editors/emacs.xml
  nixos/modules/services/misc/gitlab.xml
  nixos/modules/services/misc/taskserver/doc.xml
  nixos/modules/services/monitoring/prometheus/exporters.xml
  nixos/modules/services/networking/dnscrypt-proxy.xml
  nixos/modules/services/web-apps/matomo-doc.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#45918 Revert "psmisc: 23.1 -> 23.2 (#45169)"
  pkgs/os-specific/linux/psmisc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45821 libircclient: 1.9 -> 1.10
  pkgs/development/libraries/libircclient/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#44074 Add qcomicbook.
  maintainers/maintainer-list.nix
  pkgs/applications/graphics/qcomicbook/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45923 packet: v20161215 -> v2.2.2
  pkgs/development/tools/packet/default.nix
  pkgs/development/tools/packet/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#44347 fix vlan interface bring up on boot
  nixos/modules/tasks/network-interfaces-scripted.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45195 vulkan: 1.1.77.0 -> 1.1.82.1
  pkgs/development/compilers/glslang/default.nix
  pkgs/development/libraries/vulkan-headers/default.nix
  pkgs/development/libraries/vulkan-loader/default.nix
  pkgs/development/tools/spirv-tools/default.nix
  pkgs/development/tools/vulkan-validation-layers/default.nix
  pkgs/tools/graphics/vulkan-tools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#45922 androidndk: fix eval
  pkgs/development/mobile/androidenv/androidndk-pkgs.nix
  pkgs/development/mobile/androidenv/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#39142 [RDY] networkmanager: enrich dispatcher PATH
  nixos/modules/services/networking/networkmanager.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45916 poppler 0.61: patch against CVE-2018-13988
  pkgs/development/libraries/poppler/0.61.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#45926 deepin-gettext-tools: init at 1.0.8
  pkgs/desktops/deepin/deepin-gettext-tools/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45924 bird: set reloadIfChanged to true
  nixos/modules/services/networking/bird.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45928 cargo-tree: 0.19.0 -> 0.20.0
  pkgs/tools/package-management/cargo-tree/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45921 Cleanup homepage links
  pkgs/applications/audio/axoloti/dfu-util.nix
  pkgs/applications/editors/flpsed/default.nix
  pkgs/applications/graphics/grafx2/default.nix
  pkgs/applications/misc/orpie/default.nix
  pkgs/applications/misc/pdfshuffler/default.nix
  pkgs/applications/misc/pinfo/default.nix
  pkgs/applications/misc/timewarrior/default.nix
  pkgs/applications/networking/instant-messengers/pidgin-plugins/tox-prpl/default.nix
  pkgs/applications/networking/mailreaders/sup/default.nix
  pkgs/applications/office/keepnote/default.nix
  pkgs/applications/science/logic/jonprl/default.nix
  pkgs/applications/science/math/jags/default.nix
  pkgs/applications/science/math/symmetrica/default.nix
  pkgs/applications/science/programming/plm/default.nix
  pkgs/applications/version-management/tkcvs/default.nix
  pkgs/applications/video/uvccapture/default.nix
  pkgs/applications/virtualization/containerd/default.nix
  pkgs/applications/window-managers/larswm/default.nix
  pkgs/data/icons/numix-cursor-theme/default.nix
  pkgs/development/compilers/orc/default.nix
  pkgs/development/interpreters/qnial/default.nix
  pkgs/development/libraries/LASzip/default.nix
  pkgs/development/libraries/audio/jamomacore/default.nix
  pkgs/development/libraries/bwidget/default.nix
  pkgs/development/libraries/clipper/default.nix
  pkgs/development/libraries/gtkimageview/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#45929 backblaze-b2: 1.1.0 -> 1.3.6
  pkgs/development/tools/backblaze-b2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45931 nixos/release.nix: disable blivet test
  nixos/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#45938 [18.03] gnome3.geary: 0.12.3 → 0.12.4 (cherry-picked from master)
  pkgs/desktops/gnome-3/misc/geary/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3

#45818 ipfs-cluster: init at v0.5.0
  maintainers/maintainer-list.nix
  pkgs/applications/networking/ipfs-cluster/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#45907 install-grub.pl: avoid double '/' in menu.lst and grub.conf
  nixos/modules/system/boot/loader/grub/install-grub.pl
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45901 bluez: 5.48 -> 5.50
  pkgs/os-specific/linux/bluez/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#45348 haskellPackages.shellFor: fix after recent getHaskellBuildInputs fix.
  pkgs/development/haskell-modules/lib.nix
  pkgs/development/haskell-modules/make-package-set.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#45853 android-studio: Add desktop item
  pkgs/applications/editors/android-studio/common.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45827 itk: 4.13.0 -> 4.13.1
  pkgs/development/libraries/itk/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45730 snakemake: init at 5.2.2
  maintainers/maintainer-list.nix
  pkgs/applications/science/misc/snakemake/default.nix
  pkgs/development/python-modules/ratelimiter/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#45569 wireguard: change preStop to postStop, require network.target
  nixos/modules/services/networking/wireguard.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#44526 nixos/activation: Identifies the snippet that failed
  nixos/modules/system/activation/activation-script.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45911 nixos/manual: nixos-help knows about colon-separated BROWSER
  nixos/modules/services/misc/nixos-manual.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45939 sc-controller: 0.4.3 -> 0.4.4
  pkgs/misc/drivers/sc-controller/default.nix
  pkgs/misc/drivers/sc-controller/fix-udev.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45955 dtkwidget: init at 2.0.9.3
  pkgs/desktops/deepin/default.nix
  pkgs/desktops/deepin/dtkcore/default.nix
  pkgs/desktops/deepin/dtkwidget/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45951 gnu-pw-mgr: 2.3.3 -> 2.4.2
  pkgs/tools/security/gnu-pw-mgr/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45953 kitty: Add terminfo attr
  pkgs/applications/misc/kitty/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45912 dhcpcd: 6.11.5 -> 7.0.8
  nixos/tests/networking.nix
  pkgs/tools/networking/dhcpcd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos

#45943 FreeOrion 0.4.7.1 -> 0.4.8
  pkgs/games/freeorion/default.nix
  pkgs/games/freeorion/fix-paths.sh
  pkgs/games/freeorion/fix_rpaths.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45840 fbreader: 0.99.4 -> 0.99.6, switch to fetchFromGitHub, add more build options
  pkgs/applications/misc/fbreader/default.nix
  pkgs/applications/misc/fbreader/typecheck.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#45952 racket-minimal: fix hash
  pkgs/development/interpreters/racket/minimal.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45930 nixos: Split paras by \n\n in option descriptions
  nixos/doc/manual/default.nix
  nixos/doc/manual/options-to-docbook.xsl
  nixos/doc/manual/postprocess-option-descriptions.xsl
Labels: 0.kind: enhancement, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation

#45848 augeas: 1.10.1 -> 1.11.0
  pkgs/tools/system/augeas/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45964 python.pkgs.irc: 14.2.2 -> 16.4
  pkgs/development/python-modules/inflect/default.nix
  pkgs/development/python-modules/irc/default.nix
  pkgs/development/python-modules/jaraco_classes/default.nix
  pkgs/development/python-modules/jaraco_collections/default.nix
  pkgs/development/python-modules/jaraco_itertools/default.nix
  pkgs/development/python-modules/jaraco_logging/default.nix
  pkgs/development/python-modules/jaraco_stream/default.nix
  pkgs/development/python-modules/jaraco_text/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python

#45958 nixos: Sets default channel for 18.09
  nixos/modules/misc/version.nix
  nixos/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#45677 More conservative SCC tagging for Haskell libraries
  pkgs/development/haskell-modules/generic-builder.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+, 6.topic: haskell

#45983 perlPackages.UNIVERSALref: broken with perl 5.26+
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#45974 purple-matrix: 2016-07-11 -> 2018-08-02
  pkgs/applications/networking/instant-messengers/pidgin-plugins/purple-matrix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45968 gitea: 1.5.0 -> 1.5.1
  pkgs/applications/version-management/gitea/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45990 Revert "arrow-cpp: 0.9.0 -> 0.10.0"
  pkgs/development/libraries/arrow-cpp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45977 ddcutil: 0.9.1 -> 0.9.2
  pkgs/tools/misc/ddcutil/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45966 qt5dxcb-plugin: init at 1.1.11
  pkgs/desktops/deepin/default.nix
  pkgs/desktops/deepin/qt5dxcb-plugin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#46004 backblaze-b2: Fix autocompletion support
  pkgs/development/tools/backblaze-b2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45992 Keras: fix build by updating expected dependencies.
  pkgs/development/python-modules/keras/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#46005 libguestfs-appliance: do not build on Hydra
  pkgs/development/libraries/libguestfs/appliance.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#46003 perlPackages.TestAggregate: broken with perl 5.26+
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#45975 pirate-get: 0.3.1 -> 0.3.2
  pkgs/tools/networking/pirate-get/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45979 dotnet-sdk: 2.1.302 -> 2.1.401
  pkgs/development/compilers/dotnet/sdk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45989 urlwatch: 2.13 -> 2.14
  pkgs/tools/networking/urlwatch/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45984 pdns-recursor: 4.1.3 -> 4.1.4
  pkgs/servers/dns/pdns-recursor/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45967 Various build fixes
  pkgs/applications/audio/sayonara/default.nix
  pkgs/applications/graphics/imgcat/default.nix
  pkgs/applications/graphics/photoflow/default.nix
  pkgs/applications/networking/instant-messengers/SkypeExport/default.nix
  pkgs/desktops/xfce4-13/xfce4-mixer/default.nix
  pkgs/development/tools/valadoc/default.nix
  pkgs/tools/networking/p2p/amule/default.nix
  pkgs/tools/networking/p2p/amule/gcc47.patch
  pkgs/tools/networking/p2p/amule/upnp-1.8.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: xfce, 8.has: clean-up, 8.has: documentation

#46006 kodi: fix nfs support
  pkgs/applications/video/kodi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46010 ion: broken on darwin
  pkgs/shells/ion/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin

#45991 [18.09] Revert "arrow-cpp: 0.9.0 -> 0.10.0"
  pkgs/development/libraries/arrow-cpp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46011 Cleanup homepage links
  lib/licenses.nix
  pkgs/development/libraries/ilixi/default.nix
  pkgs/development/libraries/iso-codes/default.nix
  pkgs/development/libraries/libLAS/default.nix
  pkgs/development/libraries/libmowgli/default.nix
  pkgs/development/libraries/libtar/default.nix
  pkgs/development/libraries/libwebsockets/default.nix
  pkgs/development/libraries/openslp/default.nix
  pkgs/development/libraries/poker-eval/default.nix
  pkgs/development/libraries/soqt/default.nix
  pkgs/development/libraries/soxt/default.nix
  pkgs/development/libraries/tcllib/default.nix
  pkgs/development/libraries/vrpn/default.nix
  pkgs/development/tools/analysis/splint/default.nix
  pkgs/development/tools/misc/dfu-util/default.nix
  pkgs/development/tools/misc/lsof/default.nix
  pkgs/games/gnugo/default.nix
  pkgs/games/rogue/default.nix
  pkgs/games/urbanterror/default.nix
  pkgs/misc/talkfilters/default.nix
  pkgs/os-specific/linux/i2c-tools/default.nix
  pkgs/os-specific/linux/pmount/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#45999 magit-todos: fix build by providing git as input.
  pkgs/applications/editors/emacs-modes/melpa-packages.nix
  pkgs/applications/editors/emacs-modes/melpa-stable-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#45982 Vapoursynth updates
  pkgs/development/libraries/vapoursynth-mvtools/default.nix
  pkgs/development/libraries/vapoursynth/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46015 pythonPackages.authres: fix broken homepage
  pkgs/development/python-modules/authres/default.nix
Labels: 6.topic: python

#45986 hdaps-gl: init at 0.0.5
  pkgs/tools/misc/hdaps-gl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45976 imv: 2.1.3 -> 3.0.0
  pkgs/applications/graphics/imv/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#46017 masscan: 1.0.4 -> 1.0.5
  pkgs/tools/security/masscan/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46018 18.03/microcode
  pkgs/os-specific/linux/microcode/intel-microcode2ucode.c
  pkgs/os-specific/linux/microcode/intel.nix
  pkgs/os-specific/linux/microcode/iucode-tool.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45812 mkvtoolnix: 25.0.0 -> 26.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45777 swift: 4.1 -> 4.1.3
  pkgs/development/compilers/swift/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46024 mkDerivation: Fix cross compilation for 18.09
  pkgs/stdenv/generic/make-derivation.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: portability, 6.topic: stdenv

#46023 mkDerivation: Fix cross compilation
  pkgs/stdenv/generic/make-derivation.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv, 8.has: port to stable

#46022 deepin-menu: init at 3.3.10
  pkgs/desktops/deepin/deepin-menu/default.nix
  pkgs/desktops/deepin/deepin-terminal/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#45987 vowpalwabbit: fix build against boost-python.
  pkgs/development/python-modules/vowpalwabbit/default.nix
  pkgs/development/python-modules/vowpalwabbit/vowpal-wabbit-find-boost.diff
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#46026 mxnet: 1.1.0 -> 1.2.1
  pkgs/applications/science/math/mxnet/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#45865 libvmi: fix libxenctrl dynamic loading
  pkgs/development/libraries/libvmi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#44978 cargo-download: init at 0.1.1
  pkgs/tools/package-management/cargo-download/Cargo.nix
  pkgs/tools/package-management/cargo-download/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#46037 deepin-shortcut-viewer: init at 1.3.5
  pkgs/desktops/deepin/deepin-shortcut-viewer/default.nix
  pkgs/desktops/deepin/deepin-terminal/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#46033 Monero updates
  pkgs/applications/altcoins/monero-gui/default.nix
  pkgs/applications/altcoins/monero-gui/move-log-file.patch
  pkgs/applications/altcoins/monero-gui/move-translations-dir.patch
  pkgs/applications/altcoins/monero/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46051 sound-juicer: fix build
  pkgs/applications/audio/sound-juicer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46063 nixos/tests/novacomd: prevent non-deterministic failure
  nixos/tests/novacomd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#46057 sudo: 1.8.24 -> 1.8.25
  pkgs/tools/security/sudo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46052 zsh: 5.5.1 -> 5.6
  pkgs/shells/zsh/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46060 dbus-sharp-2_0: fix build
  pkgs/development/libraries/dbus-sharp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46067 kitty: 0.11.3 -> 0.12.0
  pkgs/applications/misc/kitty/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46065 puredata: 0.48-0 -> 0.48-2
  pkgs/applications/audio/puredata/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46050 liblangtag: bump to CLDR 33.1 unicode data
  pkgs/development/libraries/liblangtag/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46021 python.pkgs.pytest-fixture-config: disable tests
  pkgs/development/python-modules/pytest-fixture-config/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#46031 go_1_11: Allow only one of GOARM={5,6,7}
  pkgs/development/compilers/go/1.11.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: golang

#46061 linux_4_18: HID: core: fix grouping by application
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#46049 libreoffice-{fresh,still}: upgrade and clean
  pkgs/applications/office/libreoffice/default-primary-src.nix
  pkgs/applications/office/libreoffice/default.nix
  pkgs/applications/office/libreoffice/libreoffice-srcs-still.nix
  pkgs/applications/office/libreoffice/libreoffice-srcs.nix
  pkgs/applications/office/libreoffice/still-primary-src.nix
  pkgs/applications/office/libreoffice/still.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46008 prettyping: init 1.0.1
  pkgs/tools/networking/prettyping/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#46084 qmapshack: 1.11.1 -> 1.12.0
  pkgs/applications/misc/qmapshack/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46081 solarus[-quest-editor]: 1.4.5 -> 1.5.3
  pkgs/development/tools/solarus-quest-editor/default.nix
  pkgs/development/tools/solarus-quest-editor/patches/partial-f285beab62594f73e57190c49848c848487214cf.patch
  pkgs/games/solarus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#46085 qtkeychain: Fixes Qt4 build.
  pkgs/development/libraries/qtkeychain/0001-Fixes-build-with-Qt4.patch
  pkgs/development/libraries/qtkeychain/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46088 gnumeric: 1.12.39 -> 1.12.43; goffice: 0.10.39 -> 0.10.43
  pkgs/applications/office/gnumeric/default.nix
  pkgs/development/libraries/goffice/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#46086 gnome3.tracker: 2.1.3 -> 2.1.4
  pkgs/desktops/gnome-3/core/tracker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: gnome3

#46040 nullidentdmod: Init at 1.3
  pkgs/servers/identd/nullidentdmod/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#46090 spacy: Fix build
  pkgs/development/python-modules/spacy/default.nix
  pkgs/development/python-modules/thinc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#46089 ocamlPackages.{tyxml,lwt}: always enable camlp4 support
  pkgs/development/ocaml-modules/lwt/default.nix
  pkgs/development/ocaml-modules/tyxml/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml

#46080 restic: Fix autocomplete for zsh
  pkgs/tools/backup/restic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45743 vala: 0.34.17 -> 0.34.18, 0.36.13 -> 0.36.15, 0.38.9 -> 0.38.10, 0.40.6 -> 0.40.9
  pkgs/development/compilers/vala/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#46058 dconf module: add dconf to services.dbus.packages
  nixos/modules/programs/dconf.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#46099 spotify: 1.0.88.353.g15c26ea1-14 -> 1.0.83.316.ge96b6e67-5
  pkgs/applications/audio/spotify/default.nix
Labels: 9.needs: port to stable

#46095 gildas: fix build failures
  pkgs/applications/science/astronomy/gildas/default.nix
  pkgs/applications/science/astronomy/gildas/gag-font-bin-rule.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46053 pythonPackages.mxnet: fix build
  pkgs/applications/science/math/mxnet/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#46096 qutebrowser: 1.4.1 -> 1.4.2
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46097 statsd: mark broken, disable nixos test
  nixos/release.nix
  pkgs/development/node-packages/default-v8.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#46054 libgsf: 1.14.42 -> 1.14.44
  pkgs/development/libraries/libgsf/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#46093 wireguard: 0.0.20180809 -> 0.0.20180904
  pkgs/tools/networking/wireguard-tools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 9.needs: port to stable

#46078 ffmpeg: add support for libssh and speex
  pkgs/development/libraries/ffmpeg/generic.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#46079 stdenv: implement enableParallelChecking option
  pkgs/development/libraries/gettext/default.nix
  pkgs/stdenv/generic/make-derivation.nix
  pkgs/stdenv/generic/setup.sh
  pkgs/tools/security/tor/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 501+, 6.topic: stdenv

#46104 stdenv, neovim: Use `lib.warn` for deprecation warnings
  pkgs/applications/editors/neovim/wrapper.nix
  pkgs/stdenv/generic/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv, 8.has: port to stable

#46105 stdenv, neovim: Use `lib.warn` for deprecation warnings for 18.09
  pkgs/applications/editors/neovim/wrapper.nix
  pkgs/stdenv/generic/default.nix
Labels: 6.topic: stdenv

#46102 pythonPackages.tflearn: 0.2.1 -> 0.3.2
  pkgs/development/python-modules/tflearn/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#46035 mpv: Added flag for cddaSupport to play Audio CDs
  pkgs/applications/video/mpv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#37316 qutebrowser: patch scripts
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#46055 zfs-unstable: 2018-08-13 -> 2018-09-02
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100
