Repository NixOS/nixpkgs, pull requests merged in 2019-08, with the labels that each got.

#65488 passff-host: fix native messaging manifest path
  pkgs/tools/security/passff-host/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65703 python3Packages.xgboost: fix the build on Darwin
  pkgs/development/python-modules/xgboost/default.nix
  pkgs/development/python-modules/xgboost/lib-path-for-python.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 6.topic: python

#65702 nixos/xonsh: Use the package specified in the package option
  nixos/modules/programs/xonsh.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#65656 gpx-viewer: avoid generating a mime database
  pkgs/applications/misc/gpx-viewer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65513 jormungandr: init at 0.3.1
  pkgs/applications/altcoins/jormungandr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#62748 nixos/mediawiki: init service to replace httpd subservice
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/module-list.nix
  nixos/modules/services/web-apps/mediawiki.nix
  nixos/modules/services/web-servers/apache-httpd/mediawiki.nix
  nixos/tests/all-tests.nix
  nixos/tests/mediawiki.nix
  pkgs/servers/web-apps/mediawiki/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update), 8.has: package (new)

#65700 gitea: 1.8.3 -> 1.9.0
  pkgs/applications/version-management/gitea/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65622 croc: init at 6.1.1
  maintainers/maintainer-list.nix
  pkgs/tools/networking/croc/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#65710 flameshot: Use Qt mkDerivation
  pkgs/tools/misc/flameshot/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65709 nix-daemon: Fix builduser count to work when maxJobs is auto
  nixos/modules/services/misc/nix-daemon.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#65697 bundlerApp: meta.platforms defaults to platforms of ruby dependency
  pkgs/development/ruby-modules/bundler-app/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: ruby, 8.has: package (new)

#65677 frog: Fix build (icu64 -> icu60)
  pkgs/development/libraries/languagemachines/packages.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65714 [19.03] gitea: 1.8.3 -> 1.9.0
  pkgs/applications/version-management/gitea/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#64646 mariadb: fix mytop script
  pkgs/servers/sql/mariadb/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#65701 xonsh: 0.9.8 → 0.9.9
  pkgs/shells/xonsh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65688 qgis: 3.4.8 -> 3.4.10
  pkgs/applications/gis/qgis/unwrapped.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#64110 gnome3.pidgin-im-gnome-shell-extension: 1.0.1 -> 31
  pkgs/desktops/gnome-3/default.nix
  pkgs/desktops/gnome-3/extensions/pidgin-im-integration/default.nix
  pkgs/desktops/gnome-3/misc/pidgin/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3, 8.has: package (new)

#59451 treemacs-magit: needs git at build time
  pkgs/applications/editors/emacs-modes/melpa-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#64511 goxel: 0.9.0 -> -> 0.10.0
  pkgs/applications/graphics/goxel/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62742 haskellPackages: Don't ignore old overrides
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#63159 oclgrind: init at 18.3.
  pkgs/development/tools/analysis/oclgrind/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#65617 Allow GnuPG1 to build on all platforms.
  pkgs/tools/security/gnupg/1.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 8.has: package (new)

#65705 ghostwriter: use qt5's mkDerivation
  pkgs/applications/editors/ghostwriter/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65731 jdupes: 1.13.1 -> 1.13.2
  pkgs/tools/misc/jdupes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65729 terraform_0_12: 0.12.5 -> 0.12.6
  pkgs/applications/networking/cluster/terraform/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up

#65613 python3Packages.datatable: fix darwin build
  pkgs/development/python-modules/datatable/default.nix
  pkgs/development/python-modules/datatable/hardcode-library-paths.patch
  pkgs/development/python-modules/datatable/remove-compiler-monkeypatch_disable-native-relocation.patch
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 6.topic: python

#63013 joker: 0.12.2 -> 0.12.4
  pkgs/development/interpreters/joker/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65719 solargraph: 0.34.2 -> 0.35.1
  maintainers/maintainer-list.nix
  pkgs/development/ruby-modules/solargraph/Gemfile.lock
  pkgs/development/ruby-modules/solargraph/default.nix
  pkgs/development/ruby-modules/solargraph/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: ruby

#65704 zoom-us: use flathub desktop integration
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65740 pythonPackages.pyproj: 2.2.1 -> 2.2.2
  pkgs/development/python-modules/pyproj/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#65738 pythonPackages.spacy: 2.1.6 -> 2.1.7
  pkgs/development/python-modules/spacy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#65721 pythonPackages.zstd: 1.4.0.0 -> 1.4.1.0
  pkgs/development/python-modules/zstd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#65691 riemann-tools: 0.2.13 -> 0.2.14
  pkgs/tools/misc/riemann-tools/Gemfile
  pkgs/tools/misc/riemann-tools/Gemfile.lock
  pkgs/tools/misc/riemann-tools/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65602 spotify: 1.0.96.181 -> 1.1.10.546
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65692 hiera-eyaml: 2.1.0 -> 3.0.0
  pkgs/tools/system/hiera-eyaml/Gemfile
  pkgs/tools/system/hiera-eyaml/Gemfile.lock
  pkgs/tools/system/hiera-eyaml/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65754 nixos/xdg/portal: set GTK_USE_PORTAL with lib.mkIf
  nixos/modules/config/xdg/portal.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#65744 pythonPackages.textacy: mark as broken
  pkgs/development/python-modules/textacy/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python

#65743 zathura: drop broken synctexSupport option
  pkgs/applications/misc/zathura/core/default.nix
  pkgs/applications/misc/zathura/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#65734 metabase: 0.32.9 -> 0.32.10
  pkgs/servers/metabase/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65733 slack: 4.0.0 -> 4.0.1
  pkgs/applications/networking/instant-messengers/slack/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65694 Refactor and fix Mumble
  pkgs/applications/networking/mumble/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#65699 nixos/gitlab: fix config initializer permissions
  nixos/modules/services/misc/gitlab.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#65601 unifiStable: 5.10.23 -> 5.10.25
  pkgs/servers/unifi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65582 prometheus-mail-exporter: init at 2019-07-14, add module and test
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
  nixos/tests/prometheus-exporters.nix
  pkgs/servers/monitoring/prometheus/mail-exporter.nix
  pkgs/servers/monitoring/prometheus/mail-exporter_deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#65566 syncthing: create default group if not overridden
  nixos/modules/services/networking/syncthing.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#65610 fractal: 4.0.0 -> 4.2.0
  pkgs/applications/networking/instant-messengers/fractal/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#63669 rambox-pro: 1.1.2 -> 1.1.4
  pkgs/applications/networking/instant-messengers/rambox/pro.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#63282 strelka: 2.9.5 -> 2.9.10
  pkgs/applications/science/biology/strelka/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65732 ghidra: 9.0.2 -> 9.0.4
  pkgs/tools/security/ghidra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#64336 Drop nodejs-8_x
  nixos/doc/manual/release-notes/rl-1909.xml
  pkgs/applications/networking/instant-messengers/rambox/bare.nix
  pkgs/development/mobile/titaniumenv/default.nix
  pkgs/development/node-packages/composition-v10.nix
  pkgs/development/node-packages/composition-v12.nix
  pkgs/development/node-packages/composition-v8.nix
  pkgs/development/node-packages/default-v10.nix
  pkgs/development/node-packages/default-v8.nix
  pkgs/development/node-packages/generate.sh
  pkgs/development/node-packages/node-env.nix
  pkgs/development/node-packages/node-packages-v10.json
  pkgs/development/node-packages/node-packages-v10.nix
  pkgs/development/node-packages/node-packages-v12.nix
  pkgs/development/node-packages/node-packages-v8.json
  pkgs/development/node-packages/node-packages-v8.nix
  pkgs/development/web/nodejs/v8.nix
  pkgs/development/web/remarkjs/nodepkgs.nix
  pkgs/misc/base16-builder/node-packages.nix
  pkgs/servers/web-apps/cryptpad/node-packages.nix
  pkgs/tools/networking/airfield/node.nix
  pkgs/tools/package-management/nixui/nixui.nix
  pkgs/tools/security/bitwarden-cli/node-packages.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation

#65759 pythonPackages.pynamodb: init at 3.4.1
  pkgs/development/python-modules/pynamodb/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#65633 chromium: 75.0.3770.90 -> 76.0.3809.87
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65763 ripgrep: 11.0.1 -> 11.0.2
  pkgs/tools/text/ripgrep/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65727 z-lua: 1.7.1 -> 1.7.2
  pkgs/tools/misc/z-lua/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65742 pythonPackages.redis: 3.1.0 -> 3.3.4
  pkgs/development/python-modules/redis/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#65382 ocamlPackages.merlin_extend-0.3 -> merlin-extend-0.4
  pkgs/development/compilers/reason/default.nix
  pkgs/development/ocaml-modules/merlin-extend/default.nix
  pkgs/development/ocaml-modules/merlin_extend/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: package (update)

#63881 protobuf3_8: init at 3.8.0
  pkgs/development/libraries/protobuf/3.8.nix
  pkgs/development/libraries/protobuf/3.9.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#65767 prometheus-pushgateway: remove myself from list of maintainers
  pkgs/servers/monitoring/prometheus/pushgateway.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#65747 stow: 2.3.0 -> 2.3.1
  pkgs/tools/misc/stow/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65769 dsvpn: init at 0.1.0
  pkgs/applications/networking/dsvpn/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#65766 rubocop: 0.73.0 -> 0.74.0
  pkgs/development/tools/rubocop/Gemfile.lock
  pkgs/development/tools/rubocop/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65765 postgresqlPackages.timescaledb: 1.4.0 -> 1.4.1
  pkgs/servers/sql/postgresql/ext/timescaledb.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65516 ocamlPackages.lambdasoup: init at 0.6.3
  pkgs/development/ocaml-modules/lambdasoup/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (new)

#65772 pythonPackages.scrapy: 1.7.2 -> 1.7.3
  pkgs/development/python-modules/scrapy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#61475 graalvm: rc15->19.0.0
  pkgs/development/compilers/graalvm/001_mx.py.patch
  pkgs/development/compilers/graalvm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#65781 maintainers: update prusnak
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#65777 EmptyEpsilon: 2019.01.19 -> 2019.05.21
  pkgs/games/empty-epsilon/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65741 pythonPackages.python-lz4: 2.1.2 -> 2.1.6
  pkgs/development/python-modules/python-lz4/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#65730 verilog: 2019.03.27 -> 2019.08.1
  pkgs/applications/science/electronics/verilog/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#64302 vagrant: 2.2.3 -> 2.2.5
  pkgs/development/tools/vagrant/default.nix
  pkgs/development/tools/vagrant/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65774 python3Packages.cmd2: 0.9.14 -> 0.9.15
  pkgs/development/python-modules/cmd2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#63355 mariadb: 10.3.15 -> 10.3.17
  pkgs/servers/sql/mariadb/cmake-fix-crypt-libs.patch
  pkgs/servers/sql/mariadb/cmake-libmariadb-includedir.patch
  pkgs/servers/sql/mariadb/cmake-without-client.patch
  pkgs/servers/sql/mariadb/default.nix
  pkgs/servers/sql/mariadb/fix-c++11-narrowing-error.patch
  pkgs/top-level/aliases.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#65789 Skype bump
  pkgs/applications/networking/instant-messengers/skypeforlinux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65746 kustomize: 3.0.0 -> 3.1.0
  pkgs/development/tools/kustomize/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65627 ocamlPackages.secp256k1: init at 0.4.0
  pkgs/development/ocaml-modules/secp256k1/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#65751 prometheus-postgres-exporter: init at 0.5.1
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/postgres.nix
  nixos/tests/prometheus-exporters.nix
  pkgs/servers/monitoring/prometheus/postgres-exporter.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#65814 lsd: 0.15.1 -> 0.16.0
  pkgs/tools/misc/lsd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65526 qt5*: Enforce strict compatible version paths
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/5.6/default.nix
  pkgs/development/libraries/qt-5/5.9/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: qt/kde

#65791 youtube-dl: 2019.07.30 -> 2019.08.02
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#65788 vokoscreen: use qt5's mkDerivation
  pkgs/applications/video/vokoscreen/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65816 dua: 2.1.5 -> 2.1.11
  pkgs/tools/misc/dua/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65815 cbmem: init at 4.9
  pkgs/tools/misc/cbmem/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#65810 nixos/prometheus-exporters: replace nobody/nogroup
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters.xml
  nixos/modules/services/monitoring/prometheus/exporters/bind.nix
  nixos/modules/services/monitoring/prometheus/exporters/blackbox.nix
  nixos/modules/services/monitoring/prometheus/exporters/collectd.nix
  nixos/modules/services/monitoring/prometheus/exporters/dnsmasq.nix
  nixos/modules/services/monitoring/prometheus/exporters/dovecot.nix
  nixos/modules/services/monitoring/prometheus/exporters/fritzbox.nix
  nixos/modules/services/monitoring/prometheus/exporters/json.nix
  nixos/modules/services/monitoring/prometheus/exporters/mail.nix
  nixos/modules/services/monitoring/prometheus/exporters/minio.nix
  nixos/modules/services/monitoring/prometheus/exporters/nginx.nix
  nixos/modules/services/monitoring/prometheus/exporters/node.nix
  nixos/modules/services/monitoring/prometheus/exporters/postfix.nix
  nixos/modules/services/monitoring/prometheus/exporters/postgres.nix
  nixos/modules/services/monitoring/prometheus/exporters/snmp.nix
  nixos/modules/services/monitoring/prometheus/exporters/surfboard.nix
  nixos/modules/services/monitoring/prometheus/exporters/tor.nix
  nixos/modules/services/monitoring/prometheus/exporters/unifi.nix
  nixos/modules/services/monitoring/prometheus/exporters/varnish.nix
  nixos/modules/services/monitoring/prometheus/exporters/wireguard.nix
  nixos/tests/prometheus-exporters.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#65756 bitwarden-cli: fix build
  pkgs/tools/security/bitwarden-cli/node-packages-generated.nix
  pkgs/tools/security/bitwarden-cli/node-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#64753 Updating documentation about adding new Vim plugins
  doc/languages-frameworks/vim.section.md
  pkgs/misc/vim-plugins/readme.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vim, 8.has: documentation

#65811 qmapshack: use Qt mkDerivation
  pkgs/applications/misc/qmapshack/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65804 pyload: fix build
  pkgs/applications/networking/pyload/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65635 [19.03] chromium: 75.0.3770.90 -> 76.0.3809.87
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65821 grafana-loki: 0.1.0 -> 0.2.0
  pkgs/servers/monitoring/loki/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65784 atlassian-jira: 8.2.3 -> 8.3.0
  pkgs/servers/atlassian/jira.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#64707 pantheon.cerbere: 0.2.4 -> 2.5.0
  pkgs/desktops/pantheon/services/cerbere/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: pantheon

#65826 pythonPackages.pytest-cram: fix build
  pkgs/development/python-modules/pytest-cram/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#65823 pythonPackages.nbval: 0.9.1 -> 0.9.2
  pkgs/development/python-modules/nbval/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#65819 python3Packages.ipykernel: 5.1.0 -> 5.1.1
  pkgs/development/python-modules/ipykernel/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#65798 pythonPackages.msreset: 0.6.8 -> 0.6.9
  pkgs/development/python-modules/msrest/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: python

#65828 font-awesome: 5.10.0 -> 5.10.1
  pkgs/data/fonts/font-awesome-5/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65755 pythonPackages.simplejson: 3.16.0 -> 3.16.1
  pkgs/development/python-modules/simplejson/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: python

#65672 pango: CVE-2019-1010238
  pkgs/development/libraries/pango/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#65827 pythonPackages.paramiko: 2.4.2 -> 2.6.0
  pkgs/development/python-modules/paramiko/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#65790 [19.03] doc: fix passthru.updateScript help command
  doc/stdenv.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation, 8.has: port to stable

#65624 networkmanager: 1.18.1 -> 1.18.2
  pkgs/tools/networking/network-manager/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#65376 Use upstream units for mdadm
  nixos/modules/rename.nix
  nixos/modules/system/boot/stage-1.nix
  nixos/modules/system/boot/systemd.nix
  nixos/modules/tasks/filesystems/nfs.nix
  nixos/modules/tasks/swraid.nix
  nixos/tests/systemd.nix
  pkgs/os-specific/linux/mdadm/default.nix
  pkgs/os-specific/linux/systemd/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: nixos, 8.has: module (update)

#65424 coqPackages.coquelicot: 3.0.2 -> 3.0.3
  pkgs/development/coq-modules/coquelicot/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq, 8.has: package (update)

#65043 perlPackages: update
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: package (new)

#65793 solr: 7.7.1 -> 7.7.2, 8.1.1 -> 8.2.0
  pkgs/servers/search/solr/8.x.nix
  pkgs/servers/search/solr/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65778 reason: 3.3.7 -> 3.5.0
  pkgs/development/compilers/reason/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: package (update)

#64655 fribidi: fix cross compilation
  pkgs/development/libraries/fribidi/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 2.status: work-in-progress, 6.topic: emacs, 6.topic: nixos, 6.topic: python, 6.topic: qt/kde, 6.topic: vim, 8.has: documentation, 8.has: module (update), 8.has: package (new)

#65749 hound: Wrap git & mercurial binaries
  pkgs/development/tools/misc/hound/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65736 duktape: 2.3.0 -> 2.4.0
  pkgs/development/interpreters/duktape/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65616 nixos/tests/cassandra: Test jmxPort
  nixos/tests/cassandra.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#65621 nfpm: init at 0.12.0
  pkgs/tools/package-management/nfpm/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#65607 gopro: init at 1.0
  pkgs/tools/video/gopro/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#65599 hcloud: 1.11.0 -> 1.13.0
  pkgs/development/tools/hcloud/default.nix
  pkgs/development/tools/hcloud/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65336 mongodb-compass: 1.13.1 -> 1.17.0
  pkgs/tools/misc/mongodb-compass/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#63352 skopeo: 0.1.36 -> 0.1.37
  pkgs/development/tools/skopeo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#64848 matomo: 3.9.1 -> 3.10.0
  pkgs/servers/web-apps/matomo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65407 Add zfs replication
  nixos/modules/services/backup/zfs-replication.nix
  pkgs/development/python-modules/stringcase/default.nix
  pkgs/tools/backup/zfs-replicate/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 6.topic: python, 8.has: module (update), 8.has: package (new)

#65833 Revert "spotify: 1.0.96.181 -> 1.1.10.546"
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65834 vimPlugins: update
  pkgs/misc/vim-plugins/generated.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: vim

#65832 drawio: 10.9.5 -> 11.1.1
  pkgs/applications/graphics/drawio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65829 goldendict: 2018-06-13 -> 2019-08-01
  pkgs/applications/misc/goldendict/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65820 pythonPackages.jsonpickle: 1.1 -> 1.2
  pkgs/development/python-modules/jsonpickle/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python

#65840 yubikey-personalization-gui: use qt wrapped mkDerivation
  pkgs/tools/misc/yubikey-personalization-gui/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65792 man-db: macOS
  pkgs/tools/misc/man-db/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 8.has: package (new)

#63494 framac: 18 -> 19 and update why3
  pkgs/applications/science/logic/why3/configure.patch
  pkgs/applications/science/logic/why3/default.nix
  pkgs/applications/science/logic/why3/with-provers.nix
  pkgs/development/tools/analysis/frama-c/default.nix
  pkgs/development/tools/analysis/frama-c/dynamic.diff
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#64189 rednotebook: 2.8 -> 2.11.1
  pkgs/applications/editors/rednotebook/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#65794 idrisPackages: Fix overrides not applying
  pkgs/development/idris-modules/build-idris-package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#65809 litecli: 1.0.0 -> 1.1.0
  pkgs/development/tools/database/litecli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65460 postgis: allow on Darwin
  pkgs/servers/sql/postgresql/ext/postgis.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#65807 firefox-beta-bin-unwrapped, firefox-devedition-bin-unwrapped: 68.0b12 -> 69.0b10
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
  pkgs/applications/networking/browsers/firefox-bin/devedition_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65797 xteddy: 2.2 -> 2.2-5 (use debian sources and patches)
  pkgs/applications/misc/xteddy/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65849 twitterBootstrap3: drop
  pkgs/development/web/twitter-bootstrap/3.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#65841 flare: 1.10 -> 1.11
  pkgs/games/flare/default.nix
  pkgs/games/flare/engine.nix
  pkgs/games/flare/game.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65837 jetbrains.{datagrip,ruby-mine}: 2019.1.* -> 2019.2.*
  pkgs/applications/editors/jetbrains/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62957 vulkan-validation-layers: 1.1.101.0 -> 1.1.106.0
  pkgs/development/tools/vulkan-validation-layers/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65168 pyznap: 1.1.2 -> 1.2.1
  pkgs/tools/backup/pyznap/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65848 tflint: 0.9.2 -> 0.9.3
  pkgs/development/tools/analysis/tflint/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#65862 libgpiod: unstable-2018-10-07 -> 1.4
  pkgs/development/libraries/libgpiod/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65671 urh: add support for Pluto, soundcards, and optionally USRP
  pkgs/applications/radio/urh/default.nix
  pkgs/development/libraries/libiio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65879 babeld: 1.8.4 -> 1.8.5
  pkgs/tools/networking/babeld/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65883 checkstyle: 8.22 -> 8.23
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65882 bear: 2.4.0 -> 2.4.1
  pkgs/development/tools/build-managers/bear/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65881 batctl: 2019.2 -> 2019.3
  pkgs/os-specific/linux/batman-adv/batctl.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65870 bind: 9.14.3 -> 9.14.4
  pkgs/servers/dns/bind/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#64921 qjackctl: 0.5.8 -> 0.5.9
  pkgs/applications/audio/qjackctl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#64933 qmidinet: 0.5.4 -> 0.5.5
  pkgs/applications/audio/qmidinet/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#64926 qsampler: 0.5.5 -> 0.5.6
  pkgs/applications/audio/qsampler/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#65067 esptool: 2.6 -> 2.7
  pkgs/tools/misc/esptool/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65075 freecad: 0.18.2 -> 0.18.3
  pkgs/applications/graphics/freecad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65902 flexget: 2.21.8 -> 2.21.15
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10
