Repository NixOS/nixpkgs, pull requests merged in 2019-04, with the labels that each got.

#58566 blur-effect: init at 1.1.3
  pkgs/tools/graphics/blur-effect/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58409 vimPlugins.vim-stylish-haskell: Patch path to executable
  pkgs/misc/vim-plugins/overrides.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: vim, 8.has: package (new)

#58095 pythonPackages.thinc: Fix build
  pkgs/development/python-modules/thinc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 9.needs: port to stable

#58564 xcur2png: init at 0.7.1
  pkgs/tools/graphics/xcur2png/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58616 flow: 0.95.1 -> 0.96.0
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58633 qgit: Fix meta.homepage
  pkgs/applications/version-management/git-and-tools/qgit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#58661 dar: 2.6.2 -> 2.6.3
  pkgs/tools/backup/dar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58496 snapper: 0.8.2 -> 0.8.3
  pkgs/tools/misc/snapper/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58665 zzuf: init at 0.15
  pkgs/tools/security/zzuf/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58645 inter(-ui): 3.3 -> 3.4
  pkgs/data/fonts/inter-ui/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58011 bluez-alsa: 1.3.1 -> 1.4.0
  pkgs/tools/bluetooth/bluez-alsa/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58621 apacheHttpd: 2.4.38 -> 2.4.39
  pkgs/servers/http/apache-httpd/2.4.nix
Labels: 8.has: package (update)

#58588 vlc: Add chromecast support; libmicrodns: Init at 0.0.10
  maintainers/maintainer-list.nix
  nixos/doc/manual/release-notes/rl-1909.xml
  pkgs/applications/video/vlc/default.nix
  pkgs/development/libraries/libmicrodns/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: package (new)

#58684 acpilight: use default python3
  pkgs/misc/acpilight/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58639 browserpass: 2.0.22 -> 3.0.1
  nixos/modules/programs/browserpass.nix
  pkgs/tools/security/browserpass/2.nix
  pkgs/tools/security/browserpass/2deps.nix
  pkgs/tools/security/browserpass/default.nix
  pkgs/tools/security/browserpass/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (update)

#58687 renderdoc: use default python3
  pkgs/applications/graphics/renderdoc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: documentation

#58698 jmol: 14.29.31 -> 14.29.32
  pkgs/applications/science/chemistry/jmol/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58022 crispyDoom: 5.4 -> 5.5.1
  pkgs/games/crispy-doom/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#57700 gnome3.aisleriot: 3.22.7 -> 3.22.8
  pkgs/desktops/gnome-3/games/aisleriot/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3, 8.has: package (update)

#57391 python37Packages.chameleon: 3.5 -> 3.6
  pkgs/development/python-modules/chameleon/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#57407 python37Packages.folium: 0.7.0 -> 0.8.0
  pkgs/development/python-modules/folium/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#57416 python37Packages.lark-parser: 0.6.5 -> 0.6.6
  pkgs/development/python-modules/lark-parser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#58679 postfix: 3.4.4 -> 3.4.5
  pkgs/servers/mail/postfix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update), 9.needs: port to stable

#57330 neovim-remote: 2.1.4 -> 2.1.5
  pkgs/applications/editors/neovim/neovim-remote.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58713 Revert "gnome3.aisleriot: 3.22.7 -> 3.22.8 (#57700)"
  pkgs/desktops/gnome-3/games/aisleriot/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: gnome3

#58695 hwinfo: 21.63 -> 21.64
  pkgs/tools/system/hwinfo/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58628 python.pkgs.celery: 4.3.0rc1 -> 4.3.0
  pkgs/development/python-modules/amqp/default.nix
  pkgs/development/python-modules/celery/default.nix
  pkgs/development/python-modules/kombu/default.nix
  pkgs/development/python-modules/vine/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#56540 Rust Cross Compilation (1.32.0)
  pkgs/applications/networking/p2p/synapse-bt/default.nix
  pkgs/build-support/rust/default.nix
  pkgs/build-support/rust/make-rust-platform.nix
  pkgs/development/compilers/rust/cargo.nix
  pkgs/development/compilers/rust/default.nix
  pkgs/development/compilers/rust/rustc.nix
  pkgs/development/libraries/fontconfig/make-fonts-conf.nix
  pkgs/development/libraries/librsvg/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+, 6.topic: rust, 8.has: clean-up

#57486 picotts: init at 2018-10-19
  pkgs/tools/audio/picotts/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58147 bazel: 0.22.0 -> 0.24.0
  pkgs/development/tools/build-managers/bazel/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58686 googler: 3.7.1 -> 3.8
  pkgs/applications/misc/googler/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58674 font-awesome: 5.7.2 -> 5.8.1
  pkgs/data/fonts/font-awesome-5/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58652 cimg: 1.7.9 -> 2.5.5
  pkgs/development/libraries/cimg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58653 clamav: 0.101.1 -> 0.101.2
  pkgs/tools/security/clamav/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58359 ocamlPackages.re2: fix build on darwin
  pkgs/development/ocaml-modules/janestreet/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 6.topic: ocaml

#58742 paprefs: 1.0 -> 1.1
  pkgs/applications/audio/paprefs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#57923 grafana: 6.0.1 -> 6.0.2
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update), 9.needs: port to stable

#56758 syslogng: 3.19.1 -> 3.20.1
  pkgs/tools/system/syslog-ng/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58278 mtxclient: patch to workaround matrix synapse bug
  pkgs/development/libraries/mtxclient/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#57789 nixos/wireguard: add test
  nixos/tests/all-tests.nix
  nixos/tests/wireguard/default.nix
  nixos/tests/wireguard/snakeoil-keys.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#58689 mkl: 2019.0.117 -> 2019.3.199
  pkgs/development/libraries/science/math/mkl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58511 dovecot_pigeonhole: 0.5.4 -> 0.5.5
  pkgs/servers/mail/dovecot/plugins/pigeonhole/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update), 9.needs: port to stable

#58231 python beaker: 1.8.0 -> 1.10.1 fix building on hydra
  pkgs/development/python-modules/beaker/default.nix
  pkgs/development/python-modules/pyramid_beaker/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#58179 python.pkgs.werkzeug: 0.14.1 -> 0.15.1
  pkgs/applications/misc/octoprint/default.nix
  pkgs/development/python-modules/werkzeug/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python, 8.has: package (update)

#58767 [19.03] Security backports for html-proofer and gollum
  pkgs/applications/misc/gollum/Gemfile.lock
  pkgs/applications/misc/gollum/gemset.nix
  pkgs/tools/misc/html-proofer/Gemfile.lock
  pkgs/tools/misc/html-proofer/gemset.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: port to stable

#58770 [18.09] Security backports for html-proofer and gollum
  pkgs/applications/misc/gollum/Gemfile.lock
  pkgs/applications/misc/gollum/gemset.nix
  pkgs/tools/misc/html-proofer/Gemfile.lock
  pkgs/tools/misc/html-proofer/gemset.nix
Labels: 1.severity: security, 8.has: port to stable

#58739 oysttyer: 2.9.1 -> 2.10.0
  pkgs/applications/networking/instant-messengers/oysttyer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#57768 pakcs: 2.0.2 -> 2.1.1
  pkgs/development/compilers/pakcs/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58801 eclib: 20180815 -> 20190226
  pkgs/applications/science/math/sage/sage-src.nix
  pkgs/development/libraries/eclib/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#58704 networkmanager-l2tp: 1.2.10 -> 1.2.12
  pkgs/tools/networking/network-manager/l2tp/default.nix
  pkgs/tools/networking/network-manager/l2tp/fix-paths.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58814 bundler-audit: init at 0.6.1
  pkgs/tools/security/bundler-audit/Gemfile
  pkgs/tools/security/bundler-audit/Gemfile.lock
  pkgs/tools/security/bundler-audit/default.nix
  pkgs/tools/security/bundler-audit/gemset.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58741 parallel: 20190222 -> 20190322
  pkgs/tools/misc/parallel/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58828 androidndk-pkgs: Fix cc-wrapper flags
  lib/systems/platforms.nix
  pkgs/development/mobile/androidenv/androidndk-pkgs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#58758 gnuradio-limesdr: 1.0.0-RC -> 2.0.0
  pkgs/applications/radio/gnuradio/limesdr.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (update)

#57885 linux: Enable AMD's amdkfd kernel driver in >= 4.20
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#58811 graylog: 3.0.0 -> 3.0.1
  pkgs/tools/misc/graylog/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#58755 trezord: 2.0.25 -> 2.0.26 (#57698)
  pkgs/servers/trezord/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58726 perlPackages.DBDOracle: init at 1.76
  pkgs/development/perl-modules/DBD-Oracle/default.nix
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#58650 shadowsocks-libev: 3.2.3 -> 3.2.5
  pkgs/tools/networking/shadowsocks-libev/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58710 pytest-rerunfailures: 6.0 -> 7.0
  pkgs/development/python-modules/pytest-rerunfailures/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58784 python37Packages.first: 2.0.1 -> 2.0.2
  pkgs/development/python-modules/first/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58731 kdeApplications.okteta: 0.25.5 -> 0.26.0
  pkgs/applications/editors/okteta/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58764 python37Packages.altair: 2.3.0 -> 2.4.1
  pkgs/development/python-modules/altair/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58870 remmina: 1.3.3 -> 1.3.4
  pkgs/applications/networking/remote/remmina/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58812 python37Packages.nvchecker: 1.3 -> 1.4.3
  pkgs/development/python-modules/nvchecker/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58888 speedtest-cli: 2.0.2 -> 2.1.1
  pkgs/development/python-modules/speedtest-cli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58882 smenu: 0.9.14 -> 0.9.15
  pkgs/tools/misc/smenu/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58509 nixos: make hardware.enableAllFirmware enable *all* firmware
  nixos/modules/hardware/all-firmware.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#58737 libosip: 5.0.0 -> 5.1.0
  pkgs/development/libraries/osip/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58893 syncplay: 1.6.2 -> 1.6.3
  pkgs/applications/networking/syncplay/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58881 skypeforlinux: 8.34.0.78 -> 8.42.76.54
  pkgs/applications/networking/instant-messengers/skypeforlinux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58827 python37Packages.pyodbc: 4.0.25 -> 4.0.26
  pkgs/development/python-modules/pyodbc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58866 rdma-core: 22.1 -> 23
  pkgs/os-specific/linux/rdma-core/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#58875 safeeyes: 2.0.8.1 -> 2.0.9
  pkgs/applications/misc/safeeyes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52396 ps2client: init at 2018-10-18
  pkgs/applications/networking/ps2client/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58771 python37Packages.black: 18.9b0 -> 19.3b0
  pkgs/development/python-modules/black/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58927 yed: 3.18.2 -> 3.19
  pkgs/applications/graphics/yed/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58746 pythonPackages.pyogg: 0.6.6a1 -> 0.6.9a1
  pkgs/development/python-modules/pyogg/default.nix
  pkgs/development/python-modules/pyogg/pyogg-paths.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#58849 python37Packages.twilio: 6.24.0 -> 6.26.0
  pkgs/development/python-modules/twilio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58538 stacks: init at 2.3e
  pkgs/applications/science/biology/stacks/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58901 tixati: 2.58 -> 2.59
  pkgs/applications/networking/p2p/tixati/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58860 quantum-espresso: 6.3 -> 6.4
  pkgs/applications/science/chemistry/quantum-espresso/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56891 arpack: 3.6.3 -> 3.7.0
  pkgs/development/libraries/science/math/arpack/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#57845 minicom: wrap required binaries
  pkgs/tools/misc/minicom/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#58938 Revert "libtermkey: 0.20 -> 0.22"
  pkgs/development/libraries/libtermkey/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58937 pythonPackages.pyls-black: 0.3.0 -> 0.4.4
  pkgs/development/python-modules/pyls-black/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58848 android-studio: add "unwrapped" passthru attr
  pkgs/applications/editors/android-studio/common.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#58942 python3Packages.black: add missing aiohttp-cors dependency
  pkgs/development/python-modules/black/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#58754 tbb: 2018_U5 -> 2019_U5
  pkgs/development/libraries/tbb/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (update)

#58912 verilator: 4.010 -> 4.012
  pkgs/applications/science/electronics/verilator/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58925 xtitle: 0.4.3 -> 0.4.4
  pkgs/tools/misc/xtitle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58924 xtermcontrol: 3.6 -> 3.7
  pkgs/applications/misc/xtermcontrol/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58904 tpm2-tss: 2.2.1 -> 2.2.2
  pkgs/development/libraries/tpm2-tss/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58917 grafana: 6.0.2 -> 6.1.0
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58935 perlPackages.CGIMinimal: init at 1.29
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#58944 postman: 6.7.3 -> 7.0.7
  pkgs/development/web/postman/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58642 [19.03] gnome3.geary: make geary-attach executable
  pkgs/desktops/gnome-3/misc/geary/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: gnome3, 8.has: port to stable

#58641 gnome3.mutter328: use gnome-3-28 branch
  pkgs/desktops/gnome-3/core/mutter/3.28.nix
  pkgs/desktops/gnome-3/core/mutter/fix-paths-328.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: gnome3

#58945 ghc8.6.4: use targetPackages for getting libffi
  pkgs/development/compilers/ghc/8.6.4.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#58936 charliecloud: init at 0.9.8
  pkgs/applications/virtualization/charliecloud/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#58887 sourcetrail: 2018.3.55 -> 2019.1.11
  pkgs/development/tools/sourcetrail/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58967 apacheHttpd: 2.4.35 -> 2.4.39
  pkgs/servers/http/apache-httpd/2.4.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 8.has: package (update)

#58952 meters.lv2: 0.8.1 -> 0.9.10
  pkgs/applications/audio/meters_lv2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58974 qsynth: 0.5.2 -> 0.5.5
  pkgs/applications/audio/qsynth/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58977 writeShellScriptBin: use build-time shell in check phase
  pkgs/build-support/trivial-builders.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#58328 ffsend: 0.2.39 -> 0.2.42
  pkgs/tools/misc/ffsend/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (update)

#57716 nixos/icingaweb2: Replace most options with toINI
  nixos/modules/services/web-apps/icingaweb2/icingaweb2.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#57979 nixos/nginx: use nginxfmt and gixy
  nixos/modules/services/web-servers/nginx/default.nix
  pkgs/build-support/writers/default.nix
  pkgs/tools/misc/nginx-config-formatter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#58719 calligra: mark broken
  pkgs/applications/office/calligra/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#58948 coyim: 0.3.7_1 -> 0.3.11
  pkgs/applications/networking/instant-messengers/coyim/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58946 grisbi: 1.0.4 -> 1.2.1
  pkgs/applications/office/grisbi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58929 znc: 1.7.2 -> 1.7.3
  pkgs/applications/networking/znc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58930 zynaddsubfx: 3.0.3 -> 3.0.4
  pkgs/applications/audio/zynaddsubfx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58885 sonarr: 2.0.0.5301 -> 2.0.0.5322
  pkgs/servers/sonarr/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58098 PULL_REQUEST_TEMPLATE: Add encouragement to review PRs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: policy discussion

#58490 scrcpy: 1.5 -> 1.8
  pkgs/misc/scrcpy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58634 deepin updates
  pkgs/desktops/deepin/dbus-factory/default.nix
  pkgs/desktops/deepin/dde-api/default.nix
  pkgs/desktops/deepin/dde-api/deps.nix
  pkgs/desktops/deepin/dde-calendar/default.nix
  pkgs/desktops/deepin/dde-daemon/default.nix
  pkgs/desktops/deepin/dde-daemon/deps.nix
  pkgs/desktops/deepin/dde-polkit-agent/default.nix
  pkgs/desktops/deepin/dde-qt-dbus-factory/default.nix
  pkgs/desktops/deepin/dde-session-ui/default.nix
  pkgs/desktops/deepin/deepin-desktop-base/default.nix
  pkgs/desktops/deepin/deepin-desktop-schemas/default.nix
  pkgs/desktops/deepin/deepin-gettext-tools/default.nix
  pkgs/desktops/deepin/deepin-gtk-theme/default.nix
  pkgs/desktops/deepin/deepin-icon-theme/default.nix
  pkgs/desktops/deepin/deepin-image-viewer/default.nix
  pkgs/desktops/deepin/deepin-menu/default.nix
  pkgs/desktops/deepin/deepin-metacity/default.nix
  pkgs/desktops/deepin/deepin-movie-reborn/default.nix
  pkgs/desktops/deepin/deepin-mutter/default.nix
  pkgs/desktops/deepin/deepin-sound-theme/default.nix
  pkgs/desktops/deepin/deepin-terminal/default.nix
  pkgs/desktops/deepin/deepin-wallpapers/default.nix
  pkgs/desktops/deepin/deepin-wm/default.nix
  pkgs/desktops/deepin/default.nix
  pkgs/desktops/deepin/dpa-ext-gnomekeyring/default.nix
  pkgs/desktops/deepin/dtkcore/default.nix
  pkgs/desktops/deepin/dtkwidget/default.nix
  pkgs/desktops/deepin/go-dbus-factory/default.nix
  pkgs/desktops/deepin/go-dbus-generator/default.nix
  pkgs/desktops/deepin/go-gir-generator/default.nix
  pkgs/desktops/deepin/go-lib/default.nix
  pkgs/desktops/deepin/qt5dxcb-plugin/default.nix
  pkgs/desktops/deepin/qt5integration/default.nix
  pkgs/desktops/deepin/setup-hook.sh
  pkgs/desktops/deepin/update.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 8.has: package (new), 8.has: package (update)

#58982 pdns-recursor: 4.1.11 -> 4.1.12
  nixos/tests/all-tests.nix
  nixos/tests/pdns-recursor.nix
  pkgs/servers/dns/pdns-recursor/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos

#58991 scalafmt: 1.5.1 -> 2.0.0-RC5
  pkgs/development/tools/scalafmt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58958 lldb: install vscode plugin; vscode-extensions: add it
  pkgs/development/compilers/llvm/8/lldb.nix
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58727 nsd: 4.1.26 -> 4.1.27
  pkgs/servers/dns/nsd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58680 [18.09] postfix: 3.3.3 -> 3.3.4
  pkgs/servers/mail/postfix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58842 python37Packages.shouldbe: 0.1.0 -> 0.1.2
  pkgs/development/python-modules/shouldbe/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#58841 python37Packages.sasmodels: 0.98 -> 0.99
  pkgs/development/python-modules/sasmodels/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#57431 python37Packages.progress: 1.4 -> 1.5
  pkgs/development/python-modules/progress/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#56805 cracklib: 2.9.6 -> 2.9.7, generate dictionary from wordlists
  pkgs/development/libraries/cracklib/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: package (update)

#58690 flexget: 2.17.20 -> 2.20.17
  pkgs/applications/networking/flexget/default.nix
  pkgs/development/python-modules/importlib-metadata/default.nix
  pkgs/development/python-modules/progressbar/default.nix
  pkgs/development/python-modules/zipp/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python, 8.has: package (new), 8.has: package (update)

#59002 vimPlugins: update
  pkgs/misc/vim-plugins/generated.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: vim

#58029 godot: 3.0.6 -> 3.1
  pkgs/development/tools/godot/default.nix
  pkgs/development/tools/godot/dont_clobber_environment.patch
  pkgs/development/tools/godot/pkg_config_additions.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58957 cura: 3.6.0 -> 4.0.0
  pkgs/applications/misc/cura/default.nix
  pkgs/applications/misc/curaengine/default.nix
  pkgs/development/python-modules/libarcus/default.nix
  pkgs/development/python-modules/libsavitar/default.nix
  pkgs/development/python-modules/uranium/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#58933 eduke32: 20150420 -> 20190330
  pkgs/games/eduke32/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new), 8.has: package (update)

#58961 nauty: disable cpu feature detection
  pkgs/applications/science/math/nauty/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#58910 vapoursynth-mvtools: 20 -> 21
  pkgs/development/libraries/vapoursynth-mvtools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#57782 programs.gnupg: Support setting the gnupg program
  nixos/modules/programs/gnupg.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#59008 grafana: 6.1.0 -> 6.1.1
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#59012 leela-zero: 0.16 -> 0.17
  maintainers/maintainer-list.nix
  pkgs/games/leela-zero/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#58995 vscode: 1.32.3 -> 1.33.0
  pkgs/applications/editors/vscode/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#59014 [19.03] nauty: disable cpu feature detection
  pkgs/applications/science/math/nauty/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#59001 gramps: fix build
  pkgs/applications/misc/gramps/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#59013 Backport souffle: 1.2.0 -> 1.5.1
  pkgs/development/compilers/souffle/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#58985 dnscrypt-proxy2: 2.0.21 -> 2.0.22
  pkgs/tools/networking/dnscrypt-proxy/2.x/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#58955 mosquitto: 1.5.5 -> 1.5.8 and add systemd support
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (update)

#58874 rsyslog: 8.39.0 -> 8.1903.0
  pkgs/tools/system/rsyslog/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58922 xawtv: 3.105 -> 3.106
  pkgs/applications/video/xawtv/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58921 wolfssl: 3.15.7 -> 4.0.0
  pkgs/development/libraries/wolfssl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update)

#58920 workrave: 1.10.23 -> 1.10.31
  pkgs/applications/misc/workrave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58919 wings: 2.2.1 -> 2.2.3
  pkgs/applications/graphics/wings/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#58992 herwig: 7.1.4 -> 7.1.5
  pkgs/development/libraries/physics/herwig/default.nix
  pkgs/development/libraries/physics/thepeg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#58776 python37Packages.cmd2: 0.9.10 -> 0.9.11
  pkgs/development/python-modules/cmd2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (update)

#58903 tlp: 1.1 -> 1.2.1
  pkgs/tools/misc/tlp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)
