Repository NixOS/nixpkgs, pull requests merged in 2019-02, with the labels that each got.

#55012 harfbuzz: 2.3.0 -> 2.3.1
  pkgs/development/libraries/harfbuzz/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#55019 mesa: 18.3.2 -> 18.3.3
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#55018 pyre: 0.0.18 -> 0.0.20
  pkgs/development/tools/pyre/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55041 kube-router: 0.2.3 -> 0.2.5
  pkgs/applications/networking/cluster/kube-router/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53978 GHCJS: Fix 8.4 and add 8.6
  pkgs/development/compilers/ghcjs-ng/8.2/git.json
  pkgs/development/compilers/ghcjs-ng/8.4/dep-overrides.nix
  pkgs/development/compilers/ghcjs-ng/8.6/dep-overrides.nix
  pkgs/development/compilers/ghcjs-ng/8.6/git.json
  pkgs/development/compilers/ghcjs-ng/8.6/stage0.nix
  pkgs/development/compilers/ghcjs-ng/configured-ghcjs-src.nix
  pkgs/development/compilers/ghcjs-ng/default.nix
  pkgs/development/haskell-modules/configuration-ghc-8.4.x.nix
  pkgs/top-level/haskell-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: haskell, 8.has: package (new)

#54969 zoom-us: 2.6.149990.1216 -> 2.7.162522.0121
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55022 redmine: 3.4.6 -> 3.4.8 (backport)
  pkgs/applications/version-management/redmine/Gemfile
  pkgs/applications/version-management/redmine/Gemfile.lock
  pkgs/applications/version-management/redmine/default.nix
  pkgs/applications/version-management/redmine/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54934 python.pkgs.keras-preprocessing: 1.0.5 -> 1.0.8
  pkgs/development/python-modules/keras-preprocessing/default.nix
  pkgs/development/python-modules/keras/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#55038 maintainers.tv: update email address
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#54909 wrap-gapps-hook.sh: only wrap links when required
  pkgs/build-support/setup-hooks/wrap-gapps-hook.sh
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#54974 Backport fixes to Dask and Distributed to release-18.09
  pkgs/development/python-modules/distributed/default.nix
  pkgs/development/python-modules/pytest-faulthandler/default.nix
  pkgs/development/python-modules/pytest-repeat/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#55005 racket: remove x86_64-darwin from platforms
  pkgs/development/interpreters/racket/default.nix
  pkgs/development/interpreters/racket/minimal.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin, 8.has: clean-up

#55037 urlwatch: 2.15 -> 2.16
  pkgs/tools/networking/urlwatch/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#50953 rpm-ostree: 2018.5 → 2019.1
  pkgs/tools/misc/ostree/default.nix
  pkgs/tools/misc/rpm-ostree/default.nix
  pkgs/tools/misc/rpm-ostree/fix-introspection-build.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#54843 cool-retro-term: 1.1.0 -> 1.1.1
  pkgs/applications/misc/cool-retro-term/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55036 calibre: 3.38.1 -> 3.39.1
  pkgs/applications/misc/calibre/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55058 ftgl: fix on darwin
  pkgs/development/libraries/ftgl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin

#54593 freeswitch: expose compilation option to enable postgres support
  pkgs/servers/sip/freeswitch/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#50773 epoxy: 1.5.2 -> 1.5.3
  pkgs/development/libraries/epoxy/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#53860 pg_topn: 2.2.0 -> 2.2.2
  pkgs/servers/sql/postgresql/ext/pg_topn.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55042 NixOS/auto-upgrade: add git to service path
  nixos/modules/tasks/auto-upgrade.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#55056 pythonPackages.grammalecte: 0.6.1 -> 0.6.5
  pkgs/development/python-modules/grammalecte/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#55067 zeitgeist: 1.0.1 -> 1.0.2
  pkgs/development/libraries/zeitgeist/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55021 inkscape: 0.92.3 -> 0.92.4
  pkgs/applications/graphics/inkscape/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#55008 ninja: 1.8.2 -> 1.9.0
  pkgs/development/tools/build-managers/ninja/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#54773 mill: 0.3.5 -> 0.3.6
  pkgs/development/tools/build-managers/mill/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55009 papis: 0.6 -> 0.7.5
  pkgs/development/python-modules/filetype/default.nix
  pkgs/development/python-modules/isbnlib/default.nix
  pkgs/tools/misc/papis/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#55078 sage: add compatibility for sphinx 1.8.3
  pkgs/applications/science/math/sage/sage-src.nix
  pkgs/applications/science/math/sage/sagenb.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55072 oxipng: 2.1.8 -> 2.2.0
  pkgs/tools/graphics/oxipng/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55075 youtube-dl: 2019.01.17 -> 2019.01.30.1
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#55076 [18.09] youtube-dl: 2019.01.17 -> 2019.01.30.1
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#55054 parity: 2.2.7 -> 2.2.8
  pkgs/applications/altcoins/parity/beta.nix
  pkgs/applications/altcoins/parity/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55068 qownnotes: 19.1.8 -> 19.2.0
  pkgs/applications/office/qownnotes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55095 smplayer: 18.10.0 -> 19.1.0
  pkgs/applications/video/smplayer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (update)

#55061 all-packages.nix: remove `res.` (next stage super)
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#55066 ifdtool: init at 4.9
  maintainers/maintainer-list.nix
  pkgs/tools/misc/ifdtool/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#55097 all-packages: Just refer to `self`, not `super`, or `res`
  pkgs/servers/sql/postgresql/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/stage.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#55098 gitea: 1.7.0 -> 1.7.1
  pkgs/applications/version-management/gitea/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55046 cmake: disable package registry
  pkgs/development/tools/build-managers/cmake/setup-hook.sh
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#54938 iperf2: 2.0.12 -> 2.0.13
  pkgs/tools/networking/iperf/2.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54932 Mfcl8690cdw update
  pkgs/misc/cups/drivers/mfcl8690cdwcupswrapper/default.nix
  pkgs/misc/cups/drivers/mfcl8690cdwlpr/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: printing

#54968 sudo-font: init at 0.37
  pkgs/data/fonts/sudo/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#54966 betterlockscreen: init at 3.0.1
  maintainers/maintainer-list.nix
  pkgs/misc/screensavers/betterlockscreen/default.nix
  pkgs/misc/screensavers/betterlockscreen/replace-i3lock.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#54959 gitlab: add openssh dependency to gitaly
  nixos/modules/services/misc/gitlab.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#54744 ponyc: 0.25.0 -> 0.26.0
  pkgs/development/compilers/ponyc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54771 mysql57: 5.7.24 -> 5.7.25
  pkgs/servers/sql/mysql/5.7.x.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54774 mysql-workbench: 8.0.13 -> 8.0.14
  pkgs/applications/misc/mysql-workbench/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54842 debianutils: 4.8.6 -> 4.8.6.1
  pkgs/tools/misc/debianutils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54849 dpkg: 1.19.2 -> 1.19.4
  pkgs/tools/package-management/dpkg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#54851 gitAndTools.diff-so-fancy: 1.2.0 -> 1.2.5
  pkgs/applications/version-management/git-and-tools/diff-so-fancy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54858 openra: updated engines and mods
  pkgs/games/openra/common.nix
  pkgs/games/openra/engines.nix
  pkgs/games/openra/mod-launch-game.sh
  pkgs/games/openra/mod-update.sh
  pkgs/games/openra/mod.nix
  pkgs/games/openra/mods.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#54923 gitAndTools.lab: specify subPackages
  pkgs/applications/version-management/git-and-tools/lab/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54709 nixos/lightdm: inherit DPI settings from xserver config
  nixos/modules/services/x11/display-managers/lightdm-greeters/gtk.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#54706 nixos/lightdm: allow cursor theme customisation.
  nixos/modules/services/x11/display-managers/lightdm-greeters/gtk.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#54760 mobile-broadband-provider-info: 20151214 -> 20190116
  pkgs/data/misc/mobile-broadband-provider-info/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#55108 haskellPackages.these: jailbreak
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell

#55106 postgresql test: fix
  nixos/tests/postgresql.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#55113 flrig: 1.3.41 -> 1.3.42
  pkgs/applications/misc/flrig/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55110 fldigi: 4.0.18 -> 4.1.00
  pkgs/applications/audio/fldigi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55111 flmsg: 4.0.7 -> 4.0.8
  pkgs/applications/misc/flmsg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55116 xastir: 2.0.8 -> 2.1.0
  pkgs/applications/misc/xastir/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55109 chirp: 20181018 -> 20190201
  pkgs/applications/misc/chirp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54816 gauge: 1.0.3 -> 1.0.4
  pkgs/development/tools/gauge/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54819 hivex: 1.3.15 -> 1.3.18
  pkgs/development/libraries/hivex/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54675 sile: 0.9.5 -> 0.9.5.1
  pkgs/tools/typesetting/sile/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54648 yoshimi: 1.5.10 -> 1.5.10.1
  pkgs/applications/audio/yoshimi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#50234 nixos-generate-config: account for mount points & devices with spaces & tabs in the name
  nixos/modules/installer/tools/nixos-generate-config.pl
  nixos/modules/tasks/filesystems.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#55117 sway-beta: 1.0-beta.2 -> 1.0-rc1
  nixos/modules/programs/sway-beta.nix
  pkgs/applications/window-managers/sway/beta.nix
  pkgs/development/libraries/wlroots/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update)

#54135 gnatsd: 1.2.0 -> 1.4.0
  pkgs/servers/gnatsd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54676 sundials: 4.0.1 -> 4.0.2
  pkgs/development/libraries/sundials/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54986 qt511: 5.11.1 -> 5.11.3, qt56 & qt59 security fixes
  pkgs/development/libraries/qt-5/5.11/fetch.sh
  pkgs/development/libraries/qt-5/5.11/qtbase.patch
  pkgs/development/libraries/qt-5/5.11/srcs.nix
  pkgs/development/libraries/qt-5/5.6/default.nix
  pkgs/development/libraries/qt-5/5.9/default.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: qt/kde, 8.has: package (new), 9.needs: port to stable

#55094 pkgconfig: rename to pkg-config
  pkgs/development/tools/misc/pkg-config/2.36.3-not-win32.patch
  pkgs/development/tools/misc/pkg-config/default.nix
  pkgs/development/tools/misc/pkg-config/requires-private.patch
  pkgs/development/tools/misc/pkg-config/setup-hook.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1-10, 8.has: package (new)

#55120 xlog: 2.0.15 -> 2.0.17
  pkgs/applications/misc/xlog/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55131 gpodder: 3.10.6 -> 3.10.7
  pkgs/applications/audio/gpodder/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54930 coredns: 005 -> 1.3.1
  pkgs/servers/dns/coredns/default.nix
  pkgs/servers/dns/coredns/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55114 tetra-gtk-theme: 0.2.0 -> 201902
  pkgs/misc/themes/tetra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54845 dar: 2.6.0 -> 2.6.1
  pkgs/tools/backup/dar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55163 recoll: 1.24.4 -> 1.24.5
  pkgs/applications/search/recoll/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55160 [18.03] buildbot: fix CVE-2019-7313
  pkgs/development/tools/build-managers/buildbot/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55159 [18.09] buildbot: fix CVE-2019-7313
  pkgs/development/tools/build-managers/buildbot/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55157 nixos/tests/postgresql: fix regression from #55106
  nixos/tests/postgresql.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#55073 lxd: fix sh not in path
  pkgs/tools/admin/lxd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55154 Office Code Pro: init at 1.004
  pkgs/data/fonts/office-code-pro/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#54978 Lua generate nix packages from luarocks
  maintainers/scripts/luarocks-packages.csv
  maintainers/scripts/update-luarocks-packages
  pkgs/development/interpreters/lua-5/build-lua-package.nix
  pkgs/development/interpreters/lua-5/setup-hook.sh
  pkgs/development/interpreters/lua-5/wrap-lua.nix
  pkgs/development/interpreters/lua-5/wrap.sh
  pkgs/development/interpreters/lua-5/wrapper.nix
  pkgs/development/lua-modules/default.nix
  pkgs/development/lua-modules/generated-packages.nix
  pkgs/development/lua-modules/overrides.nix
  pkgs/development/tools/misc/luarocks/luarocks-nix.nix
  pkgs/top-level/lua-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 8.has: clean-up, 8.has: package (new)

#55151 zsh: 5.7 -> 5.7.1
  pkgs/shells/zsh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55196 Introduce the primesieve package
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/libraries/science/math/primesieve/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell, 8.has: package (new)

#55158 perl: make reproducible
  pkgs/development/interpreters/perl/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#55208 ghc: use system `libffi`
  pkgs/development/compilers/ghc/8.6.3.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: haskell

#55144 verilator: 4.008 -> 4.010
  pkgs/applications/science/electronics/verilator/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55177 python37Packages.rasterio: 1.0.13 -> 1.0.15
  pkgs/development/python-modules/rasterio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#55122 ndppd module: refactor and fix
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/services/networking/ndppd.nix
  nixos/tests/all-tests.nix
  nixos/tests/ndppd.nix
  pkgs/applications/networking/ndppd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#54752 linux_testing_bcachefs,bcachefs-tools: 20190123
  pkgs/os-specific/linux/kernel/linux-testing-bcachefs.nix
  pkgs/tools/filesystems/bcachefs-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 8.has: clean-up

#55152 star: 2.6.1d -> 2.7.0a
  pkgs/applications/science/biology/star/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55230 gnome3.orca: 3.30.1 -> 3.30.2
  pkgs/applications/misc/orca/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55222 nixos/nextcloud: use matching nginx package when configuring nginx
  nixos/modules/services/web-apps/nextcloud.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#55210 pythia: 8.235 -> 8.240
  pkgs/development/libraries/physics/pythia/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#45412 minecraft-server: 1.12.2 -> 1.13.2 + service refactor
  nixos/modules/services/games/minecraft-server.nix
  pkgs/games/minecraft-server/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#55231 papirus-icon-theme: 20190106 -> 20190203
  pkgs/data/icons/papirus-icon-theme/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55064 libva[,-utils}: 2.3.0 -> 2.4.0
  pkgs/development/libraries/libva-utils/default.nix
  pkgs/development/libraries/libva/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#54626 buid-support: Add Ubuntu bionic base images
  pkgs/build-support/vm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#55260 ncdu: 1.13 -> 1.14
  pkgs/tools/misc/ncdu/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55171 fortune: 1.99.1 -> 2.6.2
  pkgs/tools/misc/fortune/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55253 kubectx: 0.6.2 -> 0.6.3
  pkgs/development/tools/kubectx/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55216 python37Packages.cysignals: 1.8.1 -> 1.9.0
  pkgs/development/python-modules/cysignals/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#55264 kubernetes: 1.13.2 -> 1.13.3
  pkgs/applications/networking/cluster/kubernetes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55277 Minio updates
  nixos/tests/all-tests.nix
  pkgs/servers/minio/default.nix
  pkgs/tools/networking/minio-client/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos

#55275 singularity: 2.6.0 -> 2.6.1
  pkgs/applications/virtualization/singularity/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55281 idrisPackages.tparsec: 2018-11-09 -> 2018-12-21
  pkgs/development/idris-modules/tparsec.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#51980 nixos/munin: New options (and some bugfixes) for service configuration
  nixos/modules/services/monitoring/munin.nix
  nixos/tests/munin.nix
  pkgs/servers/monitoring/munin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#55270 ranger: add pillow dependency
  pkgs/applications/misc/ranger/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55254 latte-dock: 0.8.4 -> 0.8.5
  pkgs/applications/misc/latte-dock/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: documentation

#55286 singularity: rewrite path to cp in bootstrap script
  pkgs/applications/virtualization/singularity/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55044 molden: 5.8.2 -> 5.9
  pkgs/applications/science/chemistry/molden/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55258 libtommath: 1.0.1 -> 1.1.0
  pkgs/development/libraries/libtommath/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55218 gitlab-runner: 11.6.0 -> 11.7.0
  pkgs/development/tools/continuous-integration/gitlab-runner/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#54483 gitlab: 11.6.3 -> 11.7.3
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/Gemfile.lock
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/gemset.nix
  pkgs/applications/version-management/gitlab/gitlab-shell/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/remove-hardcoded-paths.patch
  pkgs/applications/version-management/gitlab/rubyEnv-ce/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv-ce/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv-ce/gemset.nix
  pkgs/applications/version-management/gitlab/rubyEnv-ee/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv-ee/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv-ee/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54541 [WIP] home-assistant: 0.85.1 -> 0.86.4
  nixos/modules/services/misc/home-assistant.nix
  nixos/tests/home-assistant.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/frontend.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 2.status: work-in-progress, 6.topic: nixos, 8.has: module (update)

#55252 amass: 2.8.5 -> 2.9.1
  pkgs/tools/networking/amass/default.nix
  pkgs/tools/networking/amass/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55257 Backport fixes to tensorflow to release-18.09
  pkgs/development/python-modules/tensorflow/bin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: python

#55283 materia-theme: 20181125 -> 20190201
  pkgs/data/themes/materia-theme/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55294 home-assistant: missing dependencies
  pkgs/servers/home-assistant/component-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#55318 folly: 2018.10.29.00 -> 2019.01.28.00
  pkgs/development/libraries/folly/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55174 rhash: 1.3.6 -> 1.3.8
  pkgs/tools/security/rhash/default.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#55313 guvcview: 2.0.5 -> 2.0.6
  pkgs/os-specific/linux/guvcview/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55167 rabbitmq-server: 3.7.10 -> 3.7.11
  pkgs/servers/amqp/rabbitmq-server/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55312 google-compute-engine: 20181206 -> 20190124
  pkgs/tools/virtualization/google-compute-engine/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55316 flacon: 5.0.0 -> 5.1.0
  pkgs/applications/audio/flacon/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55298 igv: 2.4.16 -> 2.4.17
  pkgs/applications/science/biology/igv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55296 efi-image_eltorito: make reproducible
  nixos/modules/installer/cd-dvd/iso-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#55299 jmol: 14.29.29 -> 14.29.31
  pkgs/applications/science/chemistry/jmol/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55282 kitty: install completions
  pkgs/applications/misc/kitty/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55333 copyq: 3.7.2 -> 3.7.3
  pkgs/applications/misc/copyq/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55233 osrm-backend: 5.21.0 -> 5.22.0
  pkgs/servers/osrm-backend/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55291 dino: 2018-11-29 -> 2019-02-06
  pkgs/applications/networking/instant-messengers/dino/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55338 nixopsUnstable: 1.6.1pre2706_d5ad09c -> 1.6.1pre2728_8ed39f9
  pkgs/tools/package-management/nixops/unstable.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55347 acme-sh: 2.7.9 -> 2.8.0
  pkgs/tools/admin/acme.sh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55344 appstream: 0.12.4 -> 0.12.5
  pkgs/development/libraries/appstream/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55339 brave: 0.58.21 -> 0.59.34
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55341 albert: 0.15.0 -> 0.16.1
  pkgs/applications/misc/albert/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55295 ledger: 3.1.1 -> 3.1.2
  pkgs/applications/office/ledger/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55209 jackett: 0.10.660 -> 0.10.707
  pkgs/servers/jackett/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52852 syncthing: Fix systemd service
  nixos/modules/services/networking/syncthing.nix
  pkgs/applications/networking/syncthing/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#55356 Add optional ceph support for libvirt and qemu
  pkgs/applications/virtualization/qemu/default.nix
  pkgs/development/libraries/libvirt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#54592 imagemagick: add djvu support
  pkgs/applications/graphics/ImageMagick/7.0.nix
  pkgs/applications/graphics/ImageMagick/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#53717 nicotine-plus: init at 1.4.1
  pkgs/applications/networking/soulseek/nicotine-plus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#52536 buildbot: 1.4.0 -> 1.8.1
  pkgs/development/python-modules/buildbot/default.nix
  pkgs/development/python-modules/buildbot/pkg.nix
  pkgs/development/python-modules/buildbot/plugins.nix
  pkgs/development/python-modules/buildbot/worker.nix
  pkgs/development/python-modules/sqlalchemy-migrate/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#53874 Grafana configuration
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/services/monitoring/grafana.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#55330 coturn: 4.5.0.8 -> 4.5.1.0
  pkgs/servers/coturn/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#55342 python37Packages.beancount: 2.2.0 -> 2.2.1
  pkgs/development/python-modules/beancount/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#55246 mopidy-iris: 3.31.8 -> 3.32.1
  pkgs/applications/audio/mopidy/iris.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10
