Repository NixOS/nixpkgs, pull requests merged in 2019-01, with the labels that each got.

#53136 sublime3-dev: 3183 -> 3184
  pkgs/applications/editors/sublime/3/packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53128 suitesparse: 5.3.0 -> 5.4.0
  pkgs/development/libraries/science/math/suitesparse/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53115 smartmontools: 6.6 -> 7.0
  pkgs/tools/system/smartmontools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53130 neovim: 0.3.1 -> 0.3.2
  pkgs/applications/editors/neovim/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52510 perldevel: 5.29.4 -> 5.29.6
  pkgs/development/interpreters/perl/default.nix
  pkgs/development/interpreters/perl/no-sys-dirs-5.29.patch
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#53137 haskellPackages.djinn: apply patch for GHC 8.4
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell

#52798 neovim-remote: 2.1.1 -> 2.1.3
  pkgs/applications/editors/neovim/neovim-remote.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52312 gitAndTools.gitRemoteGcrypt: 1.1 -> 1.2
  pkgs/applications/version-management/git-and-tools/git-remote-gcrypt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52866 kicad: 5.0.1 -> 5.0.2
  pkgs/applications/science/electronics/kicad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53066 gitkraken: 4.0.5 -> 4.1.1
  pkgs/applications/version-management/gitkraken/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53140 vim-parinfer: init
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: vim, 8.has: package (new)

#52239 lxc: 3.0.2 -> 3.0.3
  pkgs/os-specific/linux/lxc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53011 perlPackages: cpan2nix updates
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 8.has: package (new)

#53155 pythonPackages.pybotvac: init at 0.0.12
  pkgs/development/python-modules/pybotvac/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python

#52964 Dlang update 2018-12
  pkgs/development/compilers/dmd/default.nix
  pkgs/development/compilers/ldc/default.nix
  pkgs/development/tools/build-managers/dub/default.nix
  pkgs/development/tools/dtools/default.nix
  pkgs/development/tools/literate-programming/Literate/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53088 trilium: init at 0.26.1
  pkgs/applications/office/trilium/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#53102 dropbox: 55.4.171 -> 63.4.107
  pkgs/applications/networking/dropbox/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#52734 harfbuzz: 2.2.0 -> 2.3.0
  pkgs/development/libraries/harfbuzz/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#53041 Add nixos cpufreq max min options
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/installer/tools/nixos-generate-config.pl
  nixos/modules/rename.nix
  nixos/modules/services/hardware/tlp.nix
  nixos/modules/tasks/cpu-freq.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#53185 translate-shell: 0.9.6.8 -> 0.9.6.9
  pkgs/applications/misc/translate-shell/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53160 xterm: 339 -> 341
  pkgs/applications/misc/xterm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53153 rofi: 1.5.1 -> 1.5.2
  pkgs/applications/misc/rofi/config.patch
  pkgs/applications/misc/rofi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53157 conky: 1.11.0 -> 1.11.1
  pkgs/os-specific/linux/conky/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53154 anki: 2.1.6-beta2 -> 2.1.7
  pkgs/games/anki/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53175 sqlcipher: 4.0.0 -> 4.0.1
  pkgs/development/libraries/sqlcipher/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53178 tcpreplay: 4.3.0 -> 4.3.1
  pkgs/tools/networking/tcpreplay/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53171 visidata: 1.5 -> 1.5.1
  pkgs/applications/misc/visidata/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53166 xdaliclock: 2.43 -> 2.44
  pkgs/tools/misc/xdaliclock/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#52989 frogatto: init at 0.0.2018-12-09
  maintainers/maintainer-list.nix
  pkgs/games/frogatto/data.nix
  pkgs/games/frogatto/default.nix
  pkgs/games/frogatto/engine.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#53180 sundials: 4.0.0 -> 4.0.1
  pkgs/development/libraries/sundials/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53189 python37Packages.stem: 1.7.0 -> 1.7.1
  pkgs/development/python-modules/stem/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53193 python37Packages.zodbpickle: 1.0.2 -> 1.0.3
  pkgs/development/python-modules/zodbpickle/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53169 wolfssl: 3.15.3 -> 3.15.7
  pkgs/development/libraries/wolfssl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53176 spoofer: 1.4.0 -> 1.4.2
  pkgs/tools/networking/spoofer/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53200 python37Packages.channels: 2.1.5 -> 2.1.6
  pkgs/development/python-modules/channels/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53168 woeusb: 3.2.10 -> 3.2.12
  pkgs/tools/misc/woeusb/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53191 pythonPackages.pytado: init at 0.2.7
  pkgs/development/python-modules/pytado/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#52606 linux_hardkernel_4_14: 4.14.85-152 -> 4.14.87-153
  pkgs/os-specific/linux/kernel/linux-hardkernel-4.14.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#52605 amazon-ecs-cli: init at 1.12.1
  pkgs/tools/virtualization/amazon-ecs-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#53050 sshd: Add restartTrigger for sshd_config
  nixos/modules/services/networking/ssh/sshd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#53219 stdenv/native: add missing argument to fix build failure
  pkgs/stdenv/native/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#53229 python37Packages.gym: 0.9.6 -> 0.10.9
  pkgs/development/python-modules/gym/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53232 python37Packages.pyodbc: 4.0.24 -> 4.0.25
  pkgs/development/python-modules/pyodbc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: python

#52288 grails: 3.3.8 -> 3.3.9
  pkgs/development/web/grails/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53194 quodlibet: 4.2.0 -> 4.2.1
  pkgs/applications/audio/quodlibet/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#51122 networkmanager: 1.12.2 -> 1.14.4
  pkgs/tools/networking/network-manager/default.nix
  pkgs/tools/networking/network-manager/fix-paths.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 501+

#53195 python37Packages.rasterio: 1.0.12 -> 1.0.13
  pkgs/development/python-modules/rasterio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53216 python37Packages.dropbox: 9.2.0 -> 9.3.0
  pkgs/development/python-modules/dropbox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53208 python37Packages.pymetar: 1.0 -> 1.1
  pkgs/development/python-modules/pymetar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53192 xkbmon: 0.1 -> 0.2
  pkgs/applications/misc/xkbmon/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53190 python37Packages.twilio: 6.21.0 -> 6.22.0
  pkgs/development/python-modules/twilio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53231 python37Packages.pymysql: 0.9.2 -> 0.9.3
  pkgs/development/python-modules/pymysql/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53225 python37Packages.flask-api: 1.0 -> 1.1
  pkgs/development/python-modules/flask-api/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53223 python37Packages.daphne: 2.2.3 -> 2.2.4
  pkgs/development/python-modules/daphne/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53227 python37Packages.fido2: 0.4.0 -> 0.5.0
  pkgs/development/python-modules/fido2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53221 python37Packages.pylibmc: 1.5.2 -> 1.6.0
  pkgs/development/python-modules/pylibmc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53174 sc-controller: 0.4.6 -> 0.4.6.1
  pkgs/misc/drivers/sc-controller/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53241 python37Packages.kubernetes: 8.0.0 -> 8.0.1
  pkgs/development/python-modules/kubernetes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53237 python37Packages.daemonize: 2.4.7 -> 2.5.0
  pkgs/development/python-modules/daemonize/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53210 python37Packages.pgspecial: 1.11.3 -> 1.11.5
  pkgs/development/python-modules/pgspecial/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#52842 live555: 2018.11.26 -> 2018.12.14
  pkgs/development/libraries/live555/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#53161 xpad: 5.2.0 -> 5.3.0
  pkgs/applications/misc/xpad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53214 python37Packages.distributed: 1.24.2 -> 1.25.1
  pkgs/development/python-modules/distributed/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53243 python37Packages.av: 6.0.0 -> 6.1.0
  pkgs/development/python-modules/av/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53238 terminus-font: 4.46 -> 4.47
  pkgs/data/fonts/terminus-font/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53260 kdeApplications.okteta: 0.25.4 -> 0.25.5
  pkgs/applications/editors/okteta/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53255 python37Packages.bokeh: 1.0.1 -> 1.0.2
  pkgs/development/python-modules/bokeh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53249 python37Packages.astroquery: 0.3.8 -> 0.3.9
  pkgs/development/python-modules/astroquery/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53251 playonlinux: 4.3.3 -> 4.3.4
  pkgs/applications/misc/playonlinux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53246 picard-tools: 2.18.20 -> 2.18.21
  pkgs/applications/science/biology/picard-tools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53258 parallel: 20181122 -> 20181222
  pkgs/tools/misc/parallel/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52889 hitch: 1.4.8 -> 1.5.0
  pkgs/servers/hitch/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#52831 omniorb: 4.2.2 -> 4.2.3
  pkgs/development/tools/omniorb/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52844 ioquake: 2018-02-23 -> 2018-12-14
  pkgs/games/quake3/ioquake/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53289 Wordpress: 4.9.1 -> 5.0.2
  pkgs/servers/web-apps/wordpress/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53290 Wordpress: 4.9.1 -> 5.0.2
  pkgs/servers/web-apps/wordpress/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#52650 yadm: install bash and zsh completions
  pkgs/applications/version-management/yadm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53240 vimUtils: apply pluginToDrv recursively
  pkgs/misc/vim-plugins/vim-utils.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vim

#53285 mosquitto: 1.5.4 -> 1.5.5
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53122 cudatoolkit: fix nvprof
  pkgs/development/compilers/cudatoolkit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#53109 nasm: 2.14.01 -> 2.14.02
  pkgs/development/compilers/nasm/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#53309 davmail: fix homepage domain name
  pkgs/applications/networking/davmail/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#53310 davmail: fix homepage domain name
  pkgs/applications/networking/davmail/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#53311 the-powder-toy: 92.5 -> 93.3
  pkgs/games/the-powder-toy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53302 gnome3.libsecret: 0.18.6 -> 0.18.7
  pkgs/development/libraries/libsecret/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+

#53288 nixos/display-managers: allow pure wayland sessions
  nixos/modules/services/x11/display-managers/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#53322 khard: 0.12.2 -> 0.13.0
  pkgs/applications/misc/khard/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53301 nixos/cpufreq: Remove the alias to set the cpu frequency governor
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/installer/tools/nixos-generate-config.pl
  nixos/modules/rename.nix
  nixos/modules/services/hardware/tlp.nix
  nixos/modules/tasks/cpu-freq.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#52279 gparted: 0.32.0 -> 0.33.0
  pkgs/tools/misc/gparted/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53314 josm: 14460 -> 14620
  pkgs/applications/misc/josm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53319 grml-zsh-config: 0.15.2 -> 0.15.3
  pkgs/shells/zsh/grml-zsh-config/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53312 gromacs: 2018.4 -> 2019
  pkgs/applications/science/molecular-dynamics/gromacs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53167 urh: 2.5.1 -> 2.5.3
  pkgs/applications/misc/urh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53275 mc: 4.8.21 -> 4.8.22
  pkgs/tools/misc/mc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53286 now-cli: 12.1.12 -> 12.1.14
  pkgs/development/web/now-cli/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53282 mediainfo: 18.08.1 -> 18.12
  pkgs/applications/misc/mediainfo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53284 nnn: 2.1 -> 2.2
  pkgs/applications/misc/nnn/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53263 openorienteering-mapper: 0.8.3 -> 0.8.4
  pkgs/applications/gis/openorienteering-mapper/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53303 libmicrohttpd: 0.9.61 -> 0.9.62
  pkgs/development/libraries/libmicrohttpd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+

#52705 Fix sfml build on Darwin
  pkgs/development/libraries/sfml/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: darwin

#53150 eaglemode: 0.86.0 -> 0.94.0
  pkgs/applications/misc/eaglemode/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53236 python37Packages.ldap3: 2.5.1 -> 2.5.2
  pkgs/development/python-modules/ldap3/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#51487 ddclient: 3.8.3 -> 3.9.0
  pkgs/tools/networking/ddclient/ddclient-line-buffer-stdout.patch
  pkgs/tools/networking/ddclient/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53338 gpodder: 3.10.5 -> 3.10.6
  pkgs/applications/audio/gpodder/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53339 goxel: 0.8.1 -> 0.8.2
  pkgs/applications/graphics/goxel/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53341 youtube-dl: 2018.12.17 -> 2019.01.02
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#52726 nixos/prometheus-bind-exporter: add module
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/bind.nix
  nixos/tests/prometheus-exporters.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#53337 jhead: 3.02 -> 3.03
  pkgs/tools/graphics/jhead/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53344 wire-desktop: 3.3.2872 -> 3.5.2881
  pkgs/applications/networking/instant-messengers/wire-desktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53295 libcouchbase: 2.10.2 -> 2.10.3
  pkgs/development/libraries/libcouchbase/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52760 lib/make-ext4-fs: more efficient store maker
  nixos/lib/make-ext4-fs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#53334 http-parser: 2.8.1 -> 2.9.0
  pkgs/development/libraries/http-parser/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+

#53283 mopidy: 2.2.1 -> 2.2.2
  pkgs/applications/audio/mopidy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53350 focuswriter: 1.7.0 -> 1.7.1
  pkgs/applications/editors/focuswriter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53242 python37Packages.parver: 0.2.0 -> 0.2.1
  pkgs/development/python-modules/parver/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53065 Raspberry Pi cross compilation branch
  nixos/modules/hardware/all-firmware.nix
  nixos/modules/installer/cd-dvd/sd-image-aarch64.nix
  nixos/modules/installer/cd-dvd/sd-image-armv7l-multiplatform.nix
  nixos/modules/installer/cd-dvd/sd-image-raspberrypi.nix
  nixos/modules/system/boot/loader/generations-dir/generations-dir.nix
  nixos/modules/system/boot/loader/generic-extlinux-compatible/default.nix
  nixos/modules/system/boot/loader/init-script/init-script.nix
  nixos/modules/system/boot/loader/raspberrypi/raspberrypi.nix
  nixos/modules/system/boot/loader/raspberrypi/uboot-builder.nix
  nixos/modules/system/boot/loader/systemd-boot/systemd-boot.nix
  pkgs/development/tools/misc/swig/3.x.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 6.topic: nixos, 8.has: module (update)

#53233 python37Packages.pyhomematic: 0.1.52 -> 0.1.53
  pkgs/development/python-modules/pyhomematic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53333 groovy: 2.5.4 -> 2.5.5
  pkgs/development/interpreters/groovy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53234 python37Packages.ofxparse: 0.19 -> 0.20
  pkgs/development/python-modules/ofxparse/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53343 gnucash: 3.3 -> 3.4
  pkgs/applications/office/gnucash/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53325 linux-rpi: set correct hydraPlatforms
  pkgs/os-specific/linux/kernel/linux-rpi.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: package (new)

#53318 gtkwave: 3.3.97 -> 3.3.98
  pkgs/applications/science/electronics/gtkwave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53317 gtkdatabox: 0.9.3.0 -> 0.9.3.1
  pkgs/development/libraries/gtkdatabox/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53328 jhiccup: 2.0.9 -> 2.0.10
  pkgs/development/tools/java/jhiccup/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53304 libraw: 0.19.1 -> 0.19.2
  pkgs/development/libraries/libraw/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#53276 mimeo: 2018.11 -> 2018.12
  pkgs/tools/misc/mimeo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53332 haproxy: 1.8.15 -> 1.9.0
  pkgs/tools/networking/haproxy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53299 languagetool: 4.3 -> 4.4
  pkgs/tools/text/languagetool/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53335 ibus-engines.typing-booster-unwrapped: 2.3.3 -> 2.4.1
  pkgs/tools/inputmethods/ibus-engines/ibus-typing-booster/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53235 syncthing: 0.14.52 -> 1.0.0
  pkgs/applications/networking/syncthing/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53359 copyq: 3.7.1 -> 3.7.2
  pkgs/applications/misc/copyq/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53367 checkstyle: 8.15 -> 8.16
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53371 brave: 0.57.18 -> 0.58.18
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53360 python{2,3}Packages.pytest-repeat: fix build
  pkgs/development/python-modules/pytest-repeat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#53381 cantata: 2.3.2 -> 2.3.3
  pkgs/applications/audio/cantata/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53383 angelscript: 2.32.0 -> 2.33.0
  pkgs/development/interpreters/angelscript/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#52745 boehmgc: 8.0.0 -> 8.0.2
  pkgs/development/libraries/boehm-gc/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 501+

#53059 kcharselect: initial packaging
  maintainers/maintainer-list.nix
  pkgs/applications/kde/default.nix
  pkgs/applications/kde/kcharselect.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: qt/kde, 8.has: package (new)

#53321 gzdoom: 3.6.0 -> 3.7.1
  pkgs/games/gzdoom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53352 ceph: fix dependencies
  pkgs/development/python-modules/cherrypy/default.nix
  pkgs/development/python-modules/kajiki/default.nix
  pkgs/development/python-modules/pecan/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: package (new)

#53388 fix #53336 : haskellPackage.greenclip missing dependency (xdmcp)
  pkgs/development/haskell-modules/configuration-nix.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#53372 caf: 0.16.2 -> 0.16.3
  pkgs/development/libraries/caf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53379 bdf2psf: 1.187 -> 1.188
  pkgs/tools/misc/bdf2psf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53378 closurecompiler: 20181125 -> 20181210
  pkgs/development/compilers/closure/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#53385 blueman: 2.0.6 -> 2.0.7
  pkgs/tools/bluetooth/blueman/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53370 ckbcomp: 1.187 -> 1.188
  pkgs/tools/X11/ckbcomp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53366 ddcutil: 0.9.3 -> 0.9.4
  pkgs/tools/misc/ddcutil/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53368 ansible: 2.7.4 -> 2.7.5
  pkgs/tools/admin/ansible/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#53361 debootstrap: 1.0.111 -> 1.0.112
  pkgs/tools/misc/debootstrap/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#53329 insomnia: 6.2.3 -> 6.3.2
  pkgs/development/web/insomnia/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10
