Repository NixOS/nixpkgs, pull requests merged in 2019-06, with the labels that each got.

#62286 minishift: 1.33.0 -> 1.34.0
  pkgs/applications/networking/cluster/minishift/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62303 gitAndTools.git-standup: init at 2.3.1
  pkgs/applications/version-management/git-and-tools/default.nix
  pkgs/applications/version-management/git-and-tools/git-standup/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#62311 pythonPackages.datasette: 0.27 -> 0.28
  pkgs/development/python-modules/datasette/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#60419 mosh: upstream patch to fix w/newer clang/libcxx (c++17)
  pkgs/tools/networking/mosh/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62254 flow: 0.99.0 -> 0.100.0
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#62305 azimuth: 1.0.2 -> 1.0.3
  pkgs/games/azimuth/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62296 hubstaff: 1.4.5 -> 1.4.6
  pkgs/applications/misc/hubstaff/default.nix
  pkgs/applications/misc/hubstaff/revision.json
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#58182 conan: fix pluginbase version requirement
  pkgs/development/tools/build-managers/conan/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#61906 cocoapods: 1.6.2 -> 1.7.1
  pkgs/development/mobile/cocoapods/Gemfile-beta.lock
  pkgs/development/mobile/cocoapods/Gemfile.lock
  pkgs/development/mobile/cocoapods/gemset-beta.nix
  pkgs/development/mobile/cocoapods/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#62138 xv: 0.1.0 -> 0.1.1
  pkgs/tools/misc/xv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#61660 sbcl: 1.5.1 -> 1.5.3, tested on nixos x86_64
  pkgs/development/compilers/sbcl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#62360 bftpd: 5.0 -> 5.1
  pkgs/servers/ftp/bftpd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62321 octoprint: 1.3.10 -> 1.3.11
  nixos/modules/services/misc/octoprint.nix
  pkgs/applications/misc/octoprint/default.nix
  pkgs/applications/misc/octoprint/plugins.nix
  pkgs/development/python-modules/cachelib/default.nix
  pkgs/development/python-modules/markdown/default.nix
  pkgs/development/python-modules/pylru/default.nix
  pkgs/development/python-modules/sentry-sdk/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: nixos, 6.topic: python, 8.has: module (update), 8.has: package (new)

#62343 aide: 0.16.1 -> 0.16.2
  pkgs/tools/security/aide/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#61986 redis: 5.0.4 -> 5.0.5
  pkgs/servers/nosql/redis/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#62359 cargo-xbuild: 0.5.9 -> 0.5.11
  pkgs/development/tools/rust/cargo-xbuild/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#62342 libimagequant: 2.12.2 -> 2.12.3
  pkgs/development/libraries/libimagequant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#62367 buck: 2019.05.06.01 -> 2019.05.22.01
  pkgs/development/tools/build-managers/buck/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62373 checkstyle: 8.20 -> 8.21
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62330 folly: 2019.04.22.00 -> 2019.05.27.00
  maintainers/maintainer-list.nix
  pkgs/development/libraries/folly/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#62374 cura: 4.0.0 -> 4.1.0
  pkgs/applications/misc/cura/default.nix
  pkgs/applications/misc/curaengine/default.nix
  pkgs/development/python-modules/libarcus/default.nix
  pkgs/development/python-modules/libsavitar/default.nix
  pkgs/development/python-modules/uranium/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62279 gcalcli: 4.1.0 -> 4.1.1
  pkgs/applications/misc/gcalcli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62308 armadillo: 9.300.2 -> 9.400.4
  pkgs/development/libraries/armadillo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62364 bruteforce-luks: 1.3.1 -> 1.3.2
  pkgs/tools/security/bruteforce-luks/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62357 balsa: 2.5.6 -> 2.5.7
  pkgs/applications/networking/mailreaders/balsa/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62379 coursier: 1.1.0-M14-4 -> 1.1.0-M14-6
  pkgs/development/tools/coursier/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62358 batctl: 2019.1 -> 2019.2
  pkgs/os-specific/linux/batman-adv/batctl.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62345 alfred: 2019.1 -> 2019.2
  pkgs/os-specific/linux/batman-adv/alfred.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62366 buku: 4.2 -> 4.2.2
  pkgs/applications/misc/buku/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62371 catch2: 2.7.2 -> 2.8.0
  pkgs/development/libraries/catch2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62384 [19.03] signal-desktop: 1.25.0 -> 1.25.1 (backport)
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#62350 avocode: 3.7.2 -> 3.8.0
  pkgs/applications/graphics/avocode/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62385 gpx-viewer: Add missing libxml2 dependency
  pkgs/applications/misc/gpx-viewer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62369 python-trezor: 0.11.2 -> 0.11.3
  pkgs/development/python-modules/trezor/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#62351 janet: 0.5.0 -> 0.6.0
  pkgs/development/interpreters/janet/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#62290 php: 7.1.29 -> 7.1.30, 7.2.18 -> 7.2.19, 7.3.5 -> 7.3.6
  pkgs/development/interpreters/php/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#62291 [19.03] php: 7.1.29 -> 7.1.30, 7.2.18 -> 7.2.19, 7.3.5 -> 7.3.6
  pkgs/development/interpreters/php/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#62292 [18.09] php: 7.1.29 -> 7.1.30, 7.2.18 -> 7.2.19
  pkgs/development/interpreters/php/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#62248 solc: 0.5.8 -> 0.5.9
  pkgs/development/compilers/solc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#61605 rtl8812au: fix build with Linux >= 5.0
  pkgs/os-specific/linux/rtl8812au/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#62382 dar: 2.6.3 -> 2.6.4
  pkgs/tools/backup/dar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62294 [19.03] gitea: 1.8.1 -> 1.8.2
  pkgs/applications/version-management/gitea/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62386 xf86_video_nested: 2012-06-15 -> 2017-06-12
  pkgs/os-specific/linux/xf86-video-nested/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62391 wireguard-tools: 0.0.20190531 -> 0.0.20190601
  pkgs/tools/networking/wireguard-tools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#62124 abbaye-des-morts: init at 2.0.1
  pkgs/games/abbaye-des-morts/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#56851 pythonPackages.gcovr: Fix build
  pkgs/development/python-modules/gcovr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#62253 riot-{web,desktop}: 1.1.0 -> 1.2.1
  pkgs/applications/networking/instant-messengers/riot/riot-desktop-package.json
  pkgs/applications/networking/instant-messengers/riot/riot-desktop.nix
  pkgs/applications/networking/instant-messengers/riot/riot-web.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62380 criu: 3.11 -> 3.12
  pkgs/os-specific/linux/criu/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62381 cryptoverif: 2.00 -> 2.01
  pkgs/applications/science/logic/cryptoverif/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62354 vnote: 2.5 -> 2.6
  pkgs/applications/office/vnote/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62395 eternal-terminal: 5.1.9 -> 5.1.10
  pkgs/tools/networking/eternal-terminal/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62378 clp: 1.17.1 -> 1.17.2
  pkgs/applications/science/math/clp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62396 eudev: 3.2.7 -> 3.2.8
  pkgs/os-specific/linux/eudev/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#57859 ulauncher: init at 4.4.0.r1
  maintainers/maintainer-list.nix
  pkgs/applications/misc/ulauncher/default.nix
  pkgs/applications/misc/ulauncher/fix-path.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#62402 pythonPackages.klein: fix build/tests
  pkgs/development/python-modules/klein/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62376 cimg: 2.5.7 -> 2.6.4
  pkgs/development/libraries/cimg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62399 trinity: Fix build
  pkgs/os-specific/linux/trinity/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62053 bcachefs: 2019-05-29
  pkgs/os-specific/linux/kernel/linux-testing-bcachefs.nix
  pkgs/tools/filesystems/bcachefs-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#62271 postgresql: install in $out/share/postgresql
  pkgs/servers/sql/postgresql/default.nix
  pkgs/servers/sql/postgresql/patches/findstring.patch
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#62387 double-conversion: 3.1.4 -> 3.1.5
  pkgs/development/libraries/double-conversion/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#62331 jetbrains batch update
  pkgs/applications/editors/jetbrains/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62414 flrig: 1.3.43 -> 1.3.44
  pkgs/applications/radio/flrig/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62401 fanficfare: 3.7.0 -> 3.8.0
  pkgs/tools/text/fanficfare/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62410 tridactyl-native: 1.14.9 -> 1.15.0
  pkgs/tools/networking/tridactyl-native/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62392 Ibus: binding fixes
  pkgs/tools/inputmethods/ibus/default.nix
  pkgs/tools/inputmethods/ibus/fix-paths.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#62050 nixos/hydron: replace deprecated usage of PermissionsStartOnly
  nixos/modules/services/web-servers/hydron.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#57752 limesurvey: 2.05_plus_141210 -> 3.17.1+190408, init module
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/module-list.nix
  nixos/modules/services/web-apps/limesurvey.nix
  nixos/modules/services/web-servers/apache-httpd/limesurvey.nix
  nixos/tests/all-tests.nix
  nixos/tests/limesurvey.nix
  pkgs/servers/limesurvey/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update), 8.has: package (update)

#58054 volume_key: cross compilation fixes
  pkgs/development/libraries/volume-key/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: cross-compilation

#62415 freecad: 0.18.1 -> 0.18.2
  pkgs/applications/graphics/freecad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62423 googler: 3.8 -> 3.9
  pkgs/applications/misc/googler/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62408 ejabberd: 19.02 -> 19.05
  pkgs/servers/xmpp/ejabberd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62411 fio: 3.13 -> 3.14
  pkgs/tools/system/fio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62409 synapse-bt: unstable-2018-10-17 -> unstable-2019-05-26
  pkgs/applications/networking/p2p/synapse-bt/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#61308 hydra: 2019-03-18 -> 2019-05-06
  pkgs/development/tools/misc/hydra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62426 groonga: 9.0.2 -> 9.0.3
  pkgs/servers/search/groonga/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62441 isync: 1.3.0 -> 1.3.1
  pkgs/tools/networking/isync/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62307 qtcreator: 4.6.2 -> 4.9.1
  pkgs/development/tools/qtcreator/0001-Fix-Allow-qt-creator-to-build-on-arm-aarch32-and-aar.patch
  pkgs/development/tools/qtcreator/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62450 kitty: 0.14.0 -> 0.14.1
  pkgs/applications/misc/kitty/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62471 lidarr: 0.6.1.830 -> 0.6.2.883
  pkgs/servers/lidarr/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62451 klaus: 1.3.0 -> 1.4.0
  pkgs/development/python-modules/klaus/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62435 homebank: 5.2.5 -> 5.2.6
  pkgs/applications/office/homebank/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62434 herbstluftwm: 0.7.1 -> 0.7.2
  pkgs/applications/window-managers/herbstluftwm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62422 gnuplot: 5.2.6 -> 5.2.7
  pkgs/tools/graphics/gnuplot/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#62446 jackett: 0.11.256 -> 0.11.384
  pkgs/servers/jackett/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62433 haproxy: 1.9.7 -> 1.9.8
  pkgs/tools/networking/haproxy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62476 memcached: 1.5.14 -> 1.5.16
  pkgs/servers/memcached/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62443 sdcc 3.7.0 → 3.8.0
  pkgs/development/compilers/sdcc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62472 lighttpd: 1.4.53 -> 1.4.54
  pkgs/servers/http/lighttpd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62419 glib: 2.60.2 -> 2.60.3
  pkgs/development/libraries/glib/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#62461 sqlint: 0.1.7 -> 0.1.9
  pkgs/development/tools/sqlint/Gemfile.lock
  pkgs/development/tools/sqlint/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62473 link-grammar: 5.6.0 -> 5.6.1
  pkgs/tools/text/link-grammar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62448 jmol: 14.29.40 -> 14.29.42
  pkgs/applications/science/chemistry/jmol/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62215 igprof: init at v5.9.16
  pkgs/development/tools/misc/igprof/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#62466 libosmocore: 1.0.1 -> 1.1.0
  pkgs/applications/misc/libosmocore/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62463 rubocop: 0.68.1 -> 0.71.0
  pkgs/development/tools/rubocop/Gemfile.lock
  pkgs/development/tools/rubocop/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62223 zbar: 0.22 -> 0.23
  pkgs/tools/graphics/zbar/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#59891 Barco clickshare
  nixos/modules/module-list.nix
  nixos/modules/programs/clickshare.nix
  pkgs/applications/video/clickshare-csc1/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#62475 mergerfs: 2.26.1 -> 2.27.1
  pkgs/tools/filesystems/mergerfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62482 neovim-unwrapped: 0.3.5 -> 0.3.7
  pkgs/applications/editors/neovim/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62498 pgmetrics: 1.6.2 -> 1.7.0
  pkgs/tools/misc/pgmetrics/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62332 python37Packages.cryptography: 2.6.1 -> 2.7
  pkgs/development/python-modules/cryptography/default.nix
  pkgs/development/python-modules/cryptography/vectors.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: python

#62500 pipewire: 0.2.5 -> 0.2.6
  pkgs/development/libraries/pipewire/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#62501 pythonPackages.sparse: disable for py2.7
  pkgs/development/python-modules/sparse/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python, 8.has: clean-up

#62511 nixos: remove duplicate section from release notes
  nixos/doc/manual/release-notes/rl-1909.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#62508 python37Packages.amqp: 2.4.2 -> 2.5.0
  pkgs/development/python-modules/amqp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62496 cntk: 2.4 -> 2.7
  pkgs/applications/science/math/cntk/default.nix
  pkgs/applications/science/math/cntk/fix_std_bind.patch
  pkgs/development/python-modules/cntk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: clean-up

#62488 pybind11: Fix build
  pkgs/development/libraries/pybind11/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62432 wireguard-tools, wireguard-go: add update scripts, wireguard-go: 0.0.20181222 -> 0.0.20190517
  pkgs/tools/networking/wireguard-go/default.nix
  pkgs/tools/networking/wireguard-go/deps.nix
  pkgs/tools/networking/wireguard-go/update.sh
  pkgs/tools/networking/wireguard-tools/default.nix
  pkgs/tools/networking/wireguard-tools/update.sh
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#62505 powershell: 6.2.0 -> 6.2.1
  pkgs/shells/powershell/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62514 python37Packages.aspy-yaml: 1.1.2 -> 1.3.0
  pkgs/applications/version-management/git-and-tools/pre-commit/default.nix
  pkgs/development/python-modules/aspy.yaml/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62453 kronometer: 2.2.1 -> 2.2.2
  pkgs/tools/misc/kronometer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62523 python37Packages.django-cors-headers: 2.5.3 -> 3.0.2
  pkgs/development/python-modules/django-cors-headers/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62524 mxnet: 1.2.1 -> 1.4.1
  pkgs/applications/science/math/mxnet/default.nix
  pkgs/development/python-modules/mxnet/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#57803 lynx: enable default-colors
  pkgs/applications/networking/browsers/lynx/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#62397 nixos/nginx: add ipv6 options to resolver
  nixos/modules/services/web-servers/nginx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#62530 python37Packages.jupytext: 0.8.6 -> 1.1.3
  pkgs/development/python-modules/jupytext/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62258 flexget: fix build
  pkgs/applications/networking/flexget/default.nix
  pkgs/development/python-modules/zxcvbn-python/default.nix
  pkgs/development/python-modules/zxcvbn/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#62531 python37Packages.lark-parser: 0.7.0 -> 0.7.1
  pkgs/development/python-modules/lark-parser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62521 python37Packages.django_classytags: 0.8.0 -> 0.9.0
  pkgs/development/python-modules/django_classytags/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#61746 nixos/gdm: use Fedora's PulseAudio configuration
  nixos/modules/services/x11/display-managers/gdm.nix
Labels: 0.kind: bug, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#62163 python.pkgs.applicationinsights: init at 0.11.9
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/applicationinsights/default.nix
  pkgs/development/python-modules/portalocker/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#62479 mkvtoolnix: 33.1.0 -> 34.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62480 mosquitto: 1.6.1 -> 1.6.2
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#62552 qownnotes: 19.4.5 -> 19.5.7
  pkgs/applications/office/qownnotes/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62560 rdma-core: 23.1 -> 24.0
  pkgs/os-specific/linux/rdma-core/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#62065 systemd-boot service: don't remove directories from EFI dir
  nixos/modules/system/boot/loader/systemd-boot/systemd-boot-builder.py
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#62504 pulsemixer: 1.4.0 -> 1.5.0
  pkgs/tools/audio/pulsemixer/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62586 franz: 5.0.0-beta.19 -> 5.1.0
  pkgs/applications/networking/instant-messengers/franz/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#62545 python37Packages.twilio: 6.26.2 -> 6.27.1
  pkgs/development/python-modules/twilio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#61987 ocaml-ng.ocamlPackages_4_08.ocaml: 4.08.0+beta3 -> 4.08.0+rc1
  pkgs/development/compilers/ocaml/4.08.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#62590 vim: 8.1.1234 -> 8.1.1432
  pkgs/applications/editors/vim/common.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: vim

#62599 gbenchmark: 1.4.1 -> 1.5.0
  pkgs/development/libraries/gbenchmark/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#62551 qpdf: 8.4.1 -> 8.4.2
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62538 gzdoom: Fix wrong fluidsynth version
  pkgs/games/gzdoom/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62600 paperkey: use HTTPS
  pkgs/tools/security/paperkey/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#62529 nixos/btsync: remove
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/misc/ids.nix
  nixos/modules/module-list.nix
  nixos/modules/services/networking/btsync.nix
  pkgs/applications/networking/bittorrentsync/1.4.x.nix
  pkgs/applications/networking/bittorrentsync/2.0.x.nix
  pkgs/applications/networking/bittorrentsync/generic.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation, 8.has: module (update)

#62569 skypeforlinux: 8.44.0.40 -> 8.45.0.41
  pkgs/applications/networking/instant-messengers/skypeforlinux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62596 xterm: 345 -> 346
  pkgs/applications/misc/xterm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62427 Some GNOME3 updates (again)
  pkgs/desktops/gnome-3/apps/gnome-maps/default.nix
  pkgs/desktops/gnome-3/apps/gnome-nettool/default.nix
  pkgs/desktops/gnome-3/core/gnome-control-center/default.nix
  pkgs/desktops/gnome-3/core/gnome-software/default.nix
  pkgs/desktops/gnome-3/core/rygel/default.nix
  pkgs/desktops/gnome-3/misc/gitg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3

#62416 gede: 2.13.1 -> 2.14.1
  pkgs/development/tools/misc/gede/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62579 tpm2-tss: 2.2.2 -> 2.2.3
  pkgs/development/libraries/tpm2-tss/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62388 drawpile: 2.1.8 -> 2.1.10
  pkgs/applications/graphics/drawpile/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62598 zim: 0.71.0 -> 0.71.1
  pkgs/applications/office/zim/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62597 you-get: 0.4.1295 -> 0.4.1302
  pkgs/tools/misc/you-get/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62584 urlscan: 0.9.2 -> 0.9.3
  pkgs/applications/misc/urlscan/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62548 python37Packages.XlsxWriter: 1.1.7 -> 1.1.8
  pkgs/development/python-modules/XlsxWriter/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62576 src: 1.25 -> 1.26
  pkgs/applications/version-management/src/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#62528 compton: try not to conflict wintypes
  nixos/modules/services/x11/compton.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#62543 python37Packages.stripe: 2.27.0 -> 2.29.0
  pkgs/development/python-modules/stripe/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#62547 python37Packages.uncertainties: 3.0.3 -> 3.1
  pkgs/development/python-modules/uncertainties/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python
