Repository NixOS/nixpkgs, pull requests merged in 2019-03, with the labels that each got.

#52624 terra: 2016-06-09 -> 1.0.0-beta1
  pkgs/development/compilers/terra/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56542 nix-prefetch-github: 2.1 -> 2.2
  pkgs/build-support/nix-prefetch-github/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#56554 tpm2-tss: 2.2.0 -> 2.2.1
  pkgs/development/libraries/tpm2-tss/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#56494 Revert "Merge #56170: Revert "file: 5.35 -> 5.36" (staging)"
  pkgs/tools/misc/file/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#56429 xorgserver: 1.20.3 -> 1.20.4
  pkgs/servers/x11/xorg/default.nix
  pkgs/servers/x11/xorg/tarballs.list
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#56528 gipc,gdrivefs: update
  pkgs/development/python-modules/gdrivefs/default.nix
  pkgs/development/python-modules/gipc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#56566 rust: 1.32.0 -> 1.33.0
  pkgs/development/compilers/rust/bootstrap.nix
  pkgs/development/compilers/rust/default.nix
  pkgs/development/compilers/rust/patches/net-tcp-disable-tests.patch
Labels: 6.topic: rust

#56473 numpy: 1.16.1 -> 1.16.2
  pkgs/development/python-modules/numpy/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: python

#56305 pythonPackage.Nikola: 8.0.1 -> 8.0.2
  pkgs/development/python-modules/Nikola/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#54931 nixos/coredns: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/coredns.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#56303 Initialize python pyviz stack and intake
  pkgs/development/python-modules/holoviews/default.nix
  pkgs/development/python-modules/hvplot/default.nix
  pkgs/development/python-modules/intake/default.nix
  pkgs/development/python-modules/nbsmoke/default.nix
  pkgs/development/python-modules/panel/default.nix
  pkgs/development/python-modules/param/default.nix
  pkgs/development/python-modules/pyct/default.nix
  pkgs/development/python-modules/python-snappy/default.nix
  pkgs/development/python-modules/pyviz-comms/default.nix
  pkgs/development/python-modules/streamz/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#56573 Fix include path of libffi used in GHC build
  pkgs/development/compilers/ghc/8.6.3.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: haskell

#56539 libvdpau: 1.1.1 -> 1.2
  pkgs/development/libraries/libvdpau/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#56201 metrics.nix: add nix-env.qaCountDrv metric
  pkgs/top-level/metrics.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#56561 qtbase: let build use gold linker if it wants, maybe works now
  pkgs/development/libraries/qt-5/modules/qtbase.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: qt/kde

#56516 lndir: get rid of xorgproto dependency
  pkgs/servers/x11/xorg/overrides.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#56553 nixos/plasma5: add xdg-user-dirs to create user directories
  nixos/modules/services/x11/desktop-managers/plasma5.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update), 9.needs: port to stable

#56582 afflib: 3.7.17 -> 3.7.18
  pkgs/development/libraries/afflib/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56301 pythonPackages.pvlib: enable tests
  pkgs/development/python-modules/pvlib/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 9.needs: port to stable

#56323 Move ansible to python-modules and use toPythonApplication + ansible related packages
  pkgs/development/python-modules/ansible-kernel/default.nix
  pkgs/development/python-modules/ansible-lint/default.nix
  pkgs/development/python-modules/ansible-runner/default.nix
  pkgs/development/python-modules/ansible/default.nix
  pkgs/development/python-modules/pytest-ansible/default.nix
  pkgs/development/tools/ansible-lint/default.nix
  pkgs/tools/admin/ansible/default.nix
  pkgs/tools/misc/kargo/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#51628 stdenv: add armv7a-linux system
  pkgs/stdenv/default.nix
  pkgs/stdenv/linux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#56599 tinc_pre: fix error after openssl upgrade
  pkgs/tools/networking/tinc/pre.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#56489 nixos/nextcloud: add overwriteProtocol option
  nixos/modules/services/web-apps/nextcloud.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#46637 nixos/rmilter: fix default bindSocket.path and bindSocket.address.
  nixos/modules/services/mail/rmilter.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#56496 nixos/nextcloud: Update recommended nginx settings
  nixos/modules/services/web-apps/nextcloud.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 9.needs: port to stable

#56624 cutelyst: 2.6.0 -> 2.7.0
  pkgs/development/libraries/cutelyst/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56617 conky: 1.11.2 -> 1.11.3
  pkgs/os-specific/linux/conky/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56631 dpkg: 1.19.4 -> 1.19.5
  pkgs/tools/package-management/dpkg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#56629 docker-compose: 1.23.1 -> 1.23.2
  pkgs/applications/virtualization/docker-compose/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: documentation

#56630 xsecurelock: Added missing X11 buildInputs
  pkgs/tools/X11/xsecurelock/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56628 dialog: 1.3-20181107 -> 1.3-20190211
  pkgs/development/tools/misc/dialog/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56562 nixos/gnome-settings-daemon: init
  nixos/modules/module-list.nix
  nixos/modules/services/desktops/gnome3/gnome-settings-daemon.nix
  nixos/modules/services/x11/desktop-managers/gnome3.nix
  nixos/modules/services/x11/desktop-managers/pantheon.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#56627 dbeaver: 5.3.2 -> 5.3.5
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56626 czmq: 4.1.1 -> 4.2.0
  pkgs/development/libraries/czmq/4.x.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56623 cups-filters: 1.22.0 -> 1.22.1
  pkgs/misc/cups/filters.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: printing

#56620 cryptominisat: 5.6.6 -> 5.6.8
  pkgs/applications/science/logic/cryptominisat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56618 cppcheck: 1.86 -> 1.87
  pkgs/development/tools/analysis/cppcheck/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56602 brave: 0.59.35 -> 0.60.45
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56564 .github/CODEOWNERS: remove @ryantm from haskell
  .github/CODEOWNERS
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell, 6.topic: policy discussion

#56534 appstream-glib: 0.7.14 -> 0.7.15
  pkgs/development/libraries/appstream-glib/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#56646 ffmpeg-full: 4.1 -> 4.1.1
  pkgs/development/libraries/ffmpeg-full/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56438 qstopmotion: 2.4.0 -> 2.4.1
  pkgs/applications/video/qstopmotion/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#55004 racket{,-minimal}: add cacert to nativeBuildInputs, silence warnings
  pkgs/development/interpreters/racket/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56377 nixos-rebuild: add changelog/docs for edit subcommand
  nixos/doc/manual/man-nixos-rebuild.xml
  nixos/doc/manual/release-notes/rl-1903.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#55701 multimc: unstable-2018-06-04 -> 0.6.4
  pkgs/games/multimc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56647 firefox: 65.0.1 -> 65.0.2, firefox-esr: 60.5.1esr -> 60.5.2esr
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#55466 ipfs-cluster: 0.7.0 -> 0.8.0
  pkgs/applications/networking/ipfs-cluster/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56675 pythonPackages.pykeepass: fix build
  pkgs/development/python-modules/argon2_cffi/default.nix
  pkgs/development/python-modules/pykeepass/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#56428 ping: init 0.6.0
  maintainers/maintainer-list.nix
  pkgs/applications/networking/ping/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#56597 baresip: 0.6.0 -> 0.6.1
  pkgs/applications/networking/instant-messengers/baresip/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56651 firejail: 0.9.58 -> 0.9.58.2
  pkgs/os-specific/linux/firejail/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56603 btrfs-progs: 4.20.1 -> 4.20.2
  pkgs/tools/filesystems/btrfs-progs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#56685 nixos/manual: fix build
  nixos/doc/manual/man-nixos-rebuild.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: documentation

#56688 gradle-completion: 1.3.1 -> 1.4.1
  pkgs/shells/zsh/gradle-completion/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56601 xpdf: added long description
  pkgs/applications/misc/xpdf/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#56298 pythonPackages.XlsxWriter: enable tests and pythonPackages.can: 3.0.0 -> 3.1.0
  pkgs/development/python-modules/XlsxWriter/default.nix
  pkgs/development/python-modules/can/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#56659 fossil: 2.7 -> 2.8
  pkgs/applications/version-management/fossil/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56642 fava: 1.9 -> 1.10
  pkgs/applications/office/fava/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56668 gnome3.gdm: 3.30.2 -> 3.30.3
  pkgs/desktops/gnome-3/core/gdm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: gnome3, 9.needs: port to stable

#56679 gnome3.gnome-remote-desktop: 0.1.6 -> 0.1.7
  pkgs/desktops/gnome-3/core/gnome-remote-desktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3

#56434 Thonny: 3.0.5 -> 3.1.2
  pkgs/applications/editors/thonny/default.nix
  pkgs/development/python-modules/asttokens/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#56691 grim: 1.0 -> 1.1
  pkgs/tools/graphics/grim/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56701 ibus-engines.typing-booster-unwrapped: 2.5.0 -> 2.5.3
  pkgs/tools/inputmethods/ibus-engines/ibus-typing-booster/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56711 apache-jena-fuseki: 3.9.0 -> 3.10.0
  pkgs/servers/nosql/apache-jena/fuseki-binary.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56324 init pythonPackages.firetv for home-assistant
  pkgs/development/python-modules/adb-homeassistant/default.nix
  pkgs/development/python-modules/firetv/default.nix
  pkgs/development/python-modules/pure-python-adb-homeassistant/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#55429 [18.09] Keybase updates
  pkgs/tools/security/kbfs/default.nix
  pkgs/tools/security/keybase/default.nix
  pkgs/tools/security/keybase/gui.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: port to stable

#56557 redmine: 3.4.8 -> 3.4.9 & 4.0.1 -> 4.0.2
  pkgs/applications/version-management/redmine/4.x/Gemfile
  pkgs/applications/version-management/redmine/4.x/Gemfile.lock
  pkgs/applications/version-management/redmine/4.x/default.nix
  pkgs/applications/version-management/redmine/4.x/gemset.nix
  pkgs/applications/version-management/redmine/Gemfile
  pkgs/applications/version-management/redmine/Gemfile.lock
  pkgs/applications/version-management/redmine/default.nix
  pkgs/applications/version-management/redmine/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#56558 redmine: 3.4.8 -> 3.4.9 [18.09 backport]
  pkgs/applications/version-management/redmine/Gemfile
  pkgs/applications/version-management/redmine/Gemfile.lock
  pkgs/applications/version-management/redmine/default.nix
  pkgs/applications/version-management/redmine/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56716 Graylog 3.0.0
  nixos/doc/manual/release-notes/rl-1903.xml
  pkgs/tools/misc/graylog/default.nix
  pkgs/tools/misc/graylog/plugins.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#56292 luakit: 2017.08.10 → 2.1
  pkgs/applications/networking/browsers/luakit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56590 matrix-synapse: 0.99.1.1 -> 0.99.2
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#56660 cairo: use buildInputs for libraries
  pkgs/development/libraries/cairo/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#56115 nixos-rebuild: try to get Nix fallback from new channel first
  nixos/modules/installer/tools/nixos-rebuild.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#56736 remmina: 1.3.2 -> 1.3.3
  pkgs/applications/networking/remote/remmina/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55383 home-assistant: 0.86.4 -> 0.87.1
  nixos/modules/services/misc/home-assistant.nix
  pkgs/development/python-modules/aiounifi/default.nix
  pkgs/development/python-modules/pyupdate/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/frontend.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 6.topic: python, 8.has: module (update), 8.has: package (new)

#56676 gitAndTools.git-hub: 1.0.1 -> 1.0.3
  pkgs/applications/version-management/git-and-tools/git-hub/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56749 solr: 7.6.0 -> 7.7.1
  pkgs/servers/search/solr/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#56747 skypeforlinux: 8.32.0.44 -> 8.34.0.78
  pkgs/applications/networking/instant-messengers/skypeforlinux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56761 pythonPackages.protobuf: propagate native pkgs.protobuf input
  pkgs/development/python-modules/protobuf/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python

#56743 pytjon.pkgs.wptserve: correctly fix build
  pkgs/development/python-modules/wptserve/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 9.needs: port to stable

#56735 fish: 3.0.1 -> 3.0.2
  pkgs/shells/fish/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56764 tmuxp: 1.5.0a1 -> 1.5.1
  pkgs/tools/misc/tmuxp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56734 gitea: 1.7.1 -> 1.7.3
  pkgs/applications/version-management/gitea/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56692 pugixml: Fix pkg-config file installation and use fetchFromGitHub
  pkgs/development/libraries/pugixml/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56654 flmsg: 4.0.8 -> 4.0.8.04
  pkgs/applications/radio/flmsg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56644 feh: 3.1.2 -> 3.1.3
  pkgs/applications/graphics/feh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56766 twa: 1.7.1 -> 1.8.0
  pkgs/tools/networking/twa/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56577 Add qtwebview to 5.11 and 5.12 packages
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/modules/qtwebview.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: qt/kde, 8.has: package (new)

#56751 squirrel-sql: 3.9.0 -> 3.9.1
  pkgs/development/tools/database/squirrel-sql/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56738 rpm-ostree: 2019.1 -> 2019.2
  pkgs/tools/misc/rpm-ostree/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56604 bspwm: 0.9.6 -> 0.9.7
  pkgs/applications/window-managers/bspwm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56741 shaarli: 0.10.2 -> 0.10.3
  pkgs/servers/web-apps/shaarli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56742 sigil: 0.9.10 -> 0.9.12
  pkgs/applications/editors/sigil/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56750 src: 1.22 -> 1.24
  pkgs/applications/version-management/src/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56616 CoinMP: 1.8.3 -> 1.8.4
  pkgs/development/libraries/CoinMP/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56611 ckbcomp: 1.188 -> 1.189
  pkgs/tools/X11/ckbcomp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56610 chirp: 20190201 -> 20190206
  pkgs/applications/radio/chirp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56584 ams-lv2: 1.2.1 -> 1.2.2
  pkgs/applications/audio/ams-lv2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56583 aescrypt: 3.13 -> 3.14
  pkgs/tools/misc/aescrypt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56757 libsecret: 0.18.7 -> 0.18.8
  pkgs/development/libraries/libsecret/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#56293 ocamlPackages.ocamlbuild: 0.12.0 -> 0.14.0
  pkgs/development/tools/ocaml/ocamlbuild/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: ocaml, 8.has: package (update)

#56638 vscode-extensions.WakaTime.vscode-wakatime: fix dependency path
  pkgs/misc/vscode-extensions/wakatime/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#56246 ocamlPackages.stdlib-shims: init at 0.1.0
  pkgs/development/ocaml-modules/stdlib-shims/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#56233 nixos/nginx: Enable TLS 1.3 support
  nixos/doc/manual/release-notes/rl-1903.xml
  nixos/modules/services/web-servers/nginx/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#55983 qt511.qtwebkit: fix on darwin
  pkgs/development/libraries/qt-5/5.11/default.nix
  pkgs/development/libraries/qt-5/5.11/qtwebkit-darwin-no-qos-classes.patch
  pkgs/development/libraries/qt-5/5.11/qtwebkit-darwin-no-readline.patch
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/5.12/qtwebkit-darwin-no-qos-classes.patch
  pkgs/development/libraries/qt-5/5.12/qtwebkit-darwin-no-readline.patch
  pkgs/development/libraries/qt-5/5.9/qtwebkit.patch
  pkgs/development/libraries/qt-5/modules/qtwebkit.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: darwin, 6.topic: qt/kde

#56447 [18.09] fix buildbot
  pkgs/development/python-modules/sqlalchemy-migrate/default.nix
  pkgs/development/tools/build-managers/buildbot/default.nix
  pkgs/development/tools/build-managers/buildbot/pkg.nix
  pkgs/development/tools/build-managers/buildbot/plugins.nix
  pkgs/development/tools/build-managers/buildbot/worker.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#56698 hyper: 2.1.1 -> 2.1.2
  pkgs/applications/misc/hyper/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56697 hpx: 1.2.0 -> 1.2.1
  pkgs/development/libraries/hpx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56694 gtkwave: 3.3.98 -> 3.3.99
  pkgs/applications/science/electronics/gtkwave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56787 emacs26: adds parameter siteStart: don't hard-code ./site-start.el
  pkgs/applications/editors/emacs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: emacs

#56653 fldigi: 4.1.00 -> 4.1.01
  pkgs/applications/radio/fldigi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56652 fish: 3.0.1 -> 3.0.2
  pkgs/applications/radio/fldigi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56731 rabbitmq-server: 3.7.11 -> 3.7.12
  pkgs/servers/amqp/rabbitmq-server/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56706 ipopt: 3.12.11 -> 3.12.12
  pkgs/development/libraries/science/math/ipopt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56714 jruby: 9.2.5.0 -> 9.2.6.0
  pkgs/development/interpreters/jruby/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56781 Sage python upgrade fixes
  pkgs/applications/science/math/sage/patches/ignore-pip-deprecation.patch
  pkgs/applications/science/math/sage/sage-src.nix
  pkgs/applications/science/math/sage/sagelib.nix
  pkgs/development/python-modules/rpy2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#56672 gecode: 6.1.0 -> 6.1.1
  pkgs/development/libraries/gecode/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56704 igv: 2.4.17 -> 2.4.19
  pkgs/applications/science/biology/igv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56702 zafiro-icons: 0.8.4 -> 0.8.7
  pkgs/data/icons/zafiro-icons/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56658 form: 4.2.0 -> 4.2.1
  pkgs/applications/science/math/form/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56643 featherpad: 0.9.2 -> 0.9.4
  pkgs/applications/editors/featherpad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56639 fasm-bin: 1.73.08 -> 1.73.09
  pkgs/development/compilers/fasm/bin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55311 haproxy: 1.9.1 -> 1.9.3
  pkgs/tools/networking/haproxy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56609 cherrytree: 0.38.7 -> 0.38.8
  pkgs/applications/misc/cherrytree/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55217 pyotherside: 1.5.3 -> 1.5.4
  pkgs/development/libraries/pyotherside/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#55310 groonga: 8.1.0 -> 8.1.1
  pkgs/servers/search/groonga/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#54860 bs1770gain: 0.5.1 -> 0.5.2
  pkgs/applications/audio/bs1770gain/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#52853 libgeotiff: 1.4.2 -> 1.4.3
  pkgs/development/libraries/libgeotiff/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#56752 star: 2.7.0a -> 2.7.0c
  pkgs/applications/science/biology/star/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56656 fluidsynth: 2.0.3 -> 2.0.4
  pkgs/applications/audio/fluidsynth/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#56780 filet: init at 0.1.0
  pkgs/applications/misc/filet/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#56726 catimg: init at 2.5.0
  pkgs/tools/misc/catimg/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#56191 Restrict vim update.py to generated.nix
  pkgs/misc/vim-plugins/update.py
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vim

#56556 toybox: install all binary links in one directory
  pkgs/tools/misc/toybox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#53463 nixos/duplicity: init
  nixos/modules/module-list.nix
  nixos/modules/services/backup/duplicity.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#56645 llvm8: init
  pkgs/development/compilers/llvm/8/bintools.nix
  pkgs/development/compilers/llvm/8/clang/default.nix
  pkgs/development/compilers/llvm/8/clang/purity.patch
  pkgs/development/compilers/llvm/8/compiler-rt-clock_gettime.patch
  pkgs/development/compilers/llvm/8/compiler-rt-codesign.patch
  pkgs/development/compilers/llvm/8/compiler-rt.nix
  pkgs/development/compilers/llvm/8/crtbegin-and-end.patch
  pkgs/development/compilers/llvm/8/default.nix
  pkgs/development/compilers/llvm/8/libc++/default.nix
  pkgs/development/compilers/llvm/8/libc++/setup-hook.sh
  pkgs/development/compilers/llvm/8/libc++abi.nix
  pkgs/development/compilers/llvm/8/lld.nix
  pkgs/development/compilers/llvm/8/lldb.nix
  pkgs/development/compilers/llvm/8/llvm-outputs.patch
  pkgs/development/compilers/llvm/8/llvm.nix
  pkgs/development/compilers/llvm/8/openmp.nix
  pkgs/development/compilers/llvm/8/sanitizers-nongnu.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56572 mosquitto: 1.5.4 -> 1.5.8
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#56571 mosquitto: 1.5.5 -> 1.5.8
  nixos/modules/services/networking/mosquitto.nix
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update)

#56637 geoclue2: 2.5.1 -> 2.5.2
  pkgs/development/libraries/geoclue/add-option-for-installation-sysconfdir.patch
  pkgs/development/libraries/geoclue/default.nix
  pkgs/development/libraries/xdg-desktop-portal/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#56670 ponyc: 0.26.0 -> 0.27.0, cleanup, use recent LLVM
  pkgs/development/compilers/ponyc/default.nix
  pkgs/development/compilers/ponyc/pony-stable.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56663 libpqxx: 6.3.1 -> 6.3.3
  pkgs/development/libraries/libpqxx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56559 wireless-tools: 30.pre2 -> 30.pre9
  pkgs/os-specific/linux/wireless-tools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#56526 pantheon.elementary-gtk-theme: 5.2.1 -> 5.2.2
  pkgs/desktops/pantheon/artwork/elementary-gtk-theme/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: pantheon

#56474 buildah: 1.4 -> 1.7.1
  pkgs/development/tools/buildah/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56471 scfbuild: bump to latest git (Jun 2017)
  pkgs/tools/misc/scfbuild/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#56476 emojione: 1.3 -> 1.4
  pkgs/data/fonts/emojione/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56530 libusbmuxd: 2018-07-23 -> 2019-01-18
  pkgs/development/libraries/libusbmuxd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#56580 forkstat, smemstat, stress-ng: bump various cking utils
  pkgs/os-specific/linux/forkstat/default.nix
  pkgs/os-specific/linux/smemstat/default.nix
  pkgs/tools/system/stress-ng/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#56795 ghc863: dont add extra libs
  pkgs/development/compilers/ghc/8.6.3.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: haskell

#56783 udiskie: fix build
  pkgs/applications/misc/udiskie/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 9.needs: port to stable
