Repository NixOS/nixpkgs, pull requests merged in 2019-09, with the labels that each got.

#67818 Remove/crashplan
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/module-list.nix
  nixos/modules/services/backup/crashplan-small-business.nix
  nixos/modules/services/backup/crashplan.nix
  pkgs/applications/backup/crashplan/CrashPlanDesktop.patch
  pkgs/applications/backup/crashplan/CrashPlanEngine.patch
  pkgs/applications/backup/crashplan/crashplan-small-business.nix
  pkgs/applications/backup/crashplan/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation, 8.has: module (update)

#67840 release-notes: mention restricted SysRq key combinations
  nixos/doc/manual/release-notes/rl-1909.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#67610 chromium: 76.0.3809.100 -> 76.0.3809.132
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65963 libevent: 2.1.10 -> 2.1.11
  pkgs/development/libraries/libevent/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#67767 nomacs: build using Qt mkDerivation (+ translations)
  pkgs/applications/graphics/nomacs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67859 pango: update hash to patch
  pkgs/development/libraries/pango/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#67753 findutils: 4.6.0 -> 4.7.0
  pkgs/tools/misc/findutils/default.nix
  pkgs/tools/misc/findutils/disable-getdtablesize-test.patch
  pkgs/tools/misc/findutils/memory-leak.patch
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#67851 qogir-theme: 2019-05-03 -> 2019-08-31
  pkgs/data/themes/qogir/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#64289 kallisto: 0.43.1 -> 0.46.0
  pkgs/applications/science/biology/kallisto/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62025 zlib: enable check and parallel building
  pkgs/development/libraries/zlib/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#65976 libmicrohttpd: 0.9.64 -> 0.9.66
  pkgs/development/libraries/libmicrohttpd/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#65968 libtasn1: 4.13 -> 4.14
  pkgs/development/libraries/libtasn1/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#67842 rtmpdump: use OpenSSL 1.1 to fix gstreamer crash
  pkgs/tools/video/rtmpdump/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#67800 calibre: 3.46.0 -> 3.47.0
  pkgs/applications/misc/calibre/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67853 python3Packages.pikepdf: 1.1.0 -> 1.6.2, pybind11: 2.2.4 -> 2.3.0
  pkgs/development/python-modules/pikepdf/default.nix
  pkgs/development/python-modules/pybind11/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#67815 cargo-watch: init at 7.2.1
  pkgs/development/tools/rust/cargo-watch/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#67834 consul: 1.5.2 -> 1.6.0
  pkgs/servers/consul/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#66412 intake: 0.4.4 -> 0.5.3
  pkgs/development/python-modules/bokeh/default.nix
  pkgs/development/python-modules/bokeh/hardcode-nodejs-npmjs-paths.patch
  pkgs/development/python-modules/intake/default.nix
  pkgs/development/python-modules/panel/default.nix
  pkgs/development/python-modules/param/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#67861 ghq: 0.10.2 -> 0.12.6
  pkgs/applications/version-management/git-and-tools/ghq/default.nix
  pkgs/applications/version-management/git-and-tools/ghq/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67862 cayley: 0.6.1 -> 0.7.5
  pkgs/servers/cayley/default.nix
  pkgs/servers/cayley/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67863 dgraph: 0.8.2 -> 1.0.17
  pkgs/servers/dgraph/default.nix
  pkgs/servers/dgraph/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67768 nixos/redis: disable transparent huge pages (TLP) before starting Redis
  nixos/modules/services/databases/redis.nix
Labels: 0.kind: enhancement, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#67864 babl: disable tests
  pkgs/development/libraries/babl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#67865 diesel-cli: init at 1.4.0
  pkgs/development/tools/diesel-cli/allow-warnings.patch
  pkgs/development/tools/diesel-cli/cargo-lock.patch
  pkgs/development/tools/diesel-cli/default.nix
  pkgs/development/tools/diesel-cli/update-cargo-lock.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#67869 youtube-dl: 2019.08.13 -> 2019.09.01
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#67667 nixos/fontconfig: Allow setting default emoji font
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/config/fonts/fontconfig.nix
  nixos/modules/config/fonts/fonts.nix
  nixos/release-combined.nix
  nixos/tests/all-tests.nix
  nixos/tests/fontconfig-default-fonts.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#67755 parity: 2.5.6 -> 2.5.7, parity-beta: 2.6.1 -> 2.6.2
  pkgs/applications/blockchains/parity/beta.nix
  pkgs/applications/blockchains/parity/default.nix
  pkgs/applications/blockchains/parity/parity.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67473 nixos/pantheon: fix launching nm-applet components
  nixos/modules/services/x11/desktop-managers/pantheon.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#67868 bat: 0.11.0 -> 0.12.0
  pkgs/tools/misc/bat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67727 electrum: update for the Qt5 change (#65399)
  pkgs/applications/misc/electrum/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#62046 pkgs.nixos: Expose configuration directly
  pkgs/top-level/all-packages.nix
Labels: 0.kind: enhancement, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: nixpkgs-member, 11.by: package-maintainer, 6.topic: user experience

#67873 cargo-watch: enable for darwin
  pkgs/development/tools/rust/cargo-watch/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 6.topic: darwin, 8.has: package (new)

#67855 linux/kernel: enable QoS and/or fair queueing
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#67844 notmuch: 0.28.4 -> 0.29.1 (and assorted fixes)
  maintainers/maintainer-list.nix
  pkgs/applications/networking/mailreaders/notmuch/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#64285 ispell: 3.3.02 -> 3.4.00
  pkgs/tools/text/ispell/default.nix
  pkgs/tools/text/ispell/patches/0005-Do-not-reorder-words.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#67881 pythonPackages.trezor: fix typo (pyarg vs pyargs)
  pkgs/development/python-modules/trezor/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#67841 vulkan-headers, vulkan-tools: fix version
  pkgs/development/libraries/vulkan-headers/default.nix
  pkgs/tools/graphics/vulkan-tools/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (new)

#67886 nomacs: really use Qt mkDerivation
  pkgs/applications/graphics/nomacs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#66763 freetype: Remove unnecessary `--disable-static`.
  pkgs/servers/xmpp/prosody/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#66541 libinput: 1.13.4 -> 1.14.1
  pkgs/development/libraries/libinput/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#67845 nixos/redis: unbreak module, add test
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/rename.nix
  nixos/modules/services/databases/redis.nix
  nixos/tests/all-tests.nix
  nixos/tests/redis.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#67888 nixos/deluge: fix directory creation errors
  nixos/modules/services/torrent/deluge.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#67848 google-compute-config.nix: fix comments, update google-*.service units, fix paths in gce
  nixos/modules/virtualisation/google-compute-config.nix
  pkgs/tools/virtualization/google-compute-engine/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#67879 lolcat: 99.9.99 -> 100.0.0
  pkgs/tools/misc/lolcat/Gemfile.lock
  pkgs/tools/misc/lolcat/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#64595 tacacs+: init 4.0.4.28
  pkgs/servers/tacacs+/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#67877 nixos/prometheus-exporters: fix user generation
  nixos/modules/services/monitoring/prometheus/exporters.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#67892 release-notes: add altcoins removal note
  nixos/doc/manual/release-notes/rl-1909.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#67872 minio-client: remove go 1.10 override
  pkgs/tools/networking/minio-client/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67904 govc: 0.20.0 -> 0.21.0
  pkgs/tools/virtualization/govc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67355 nixos/desktop-managers/xterm: Disable by default
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/services/x11/desktop-managers/xterm.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#67522 Harmonize Gnome3 Defaults
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/module-list.nix
  nixos/modules/programs/seahorse.nix
  nixos/modules/services/desktops/gnome3/seahorse.nix
  nixos/modules/services/x11/desktop-managers/gnome3.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#67895 sd-image: don't use installer.cloneConfig option that is not imported
  nixos/doc/manual/configuration/profiles/clone-config.xml
  nixos/modules/installer/cd-dvd/sd-image-aarch64.nix
  nixos/modules/installer/cd-dvd/sd-image-armv7l-multiplatform.nix
  nixos/modules/installer/cd-dvd/sd-image-raspberrypi.nix
  nixos/modules/installer/cd-dvd/sd-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#67735 python uvloop libary: updating, 0.12.2 to 0.13.0
  pkgs/development/python-modules/uvloop/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#67784 fetchurlBoot: remove cycles introduced by openssl_1_1 -> coreutils
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#67915 Add onboard to Pantheon
  nixos/modules/services/x11/desktop-managers/pantheon.nix
  pkgs/applications/misc/onboard/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/a11y/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/a11y/fix-paths.patch
  pkgs/desktops/pantheon/desktop/elementary-session-settings/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 6.topic: pantheon, 8.has: module (update)

#67622 grub2: 2.04-rc1 -> 2.04
  pkgs/tools/misc/grub/2.0x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#67910 Re-enable servant-rawm
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#67891 clightning: 0.7.1 -> 0.7.2.1
  pkgs/applications/blockchains/clightning.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67752 pythonPackages.phonenumbers: 8.10.16 -> 8.10.17
  pkgs/development/python-modules/phonenumbers/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#67732 freecad: fix missing app icon and name when running under Wayland
  pkgs/applications/graphics/freecad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67920 Add support for `js-unknown-ghcjs`
  lib/systems/examples.nix
  lib/systems/inspect.nix
  lib/systems/parse.nix
  pkgs/stdenv/cross/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#67359 Add support for `js-unknown-ghcjs` -- for 19.03
  lib/systems/examples.nix
  lib/systems/inspect.nix
  lib/systems/parse.nix
  pkgs/stdenv/cross/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: cross-compilation, 6.topic: stdenv

#67871 pythonPackages.pytest-random-order: init at 1.0.4
  pkgs/development/python-modules/pytest-random-order/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#67709 Fixes for GHC 8.8.1
  pkgs/development/haskell-modules/configuration-ghc-8.8.x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#67921 lib: Further clean up systems list
  lib/systems/inspect.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#67858 nixos: remove dependencies on local-fs.target
  nixos/modules/services/computing/boinc/client.nix
  nixos/modules/services/desktops/profile-sync-daemon.nix
  nixos/modules/services/hardware/triggerhappy.nix
  nixos/modules/services/misc/airsonic.nix
  nixos/modules/services/misc/mediatomb.nix
  nixos/modules/services/misc/mwlib.nix
  nixos/modules/services/misc/serviio.nix
  nixos/modules/services/misc/subsonic.nix
  nixos/modules/services/network-filesystems/ceph.nix
  nixos/modules/services/network-filesystems/glusterfs.nix
  nixos/modules/services/network-filesystems/ipfs.nix
  nixos/modules/services/networking/aria2.nix
  nixos/modules/services/networking/logmein-hamachi.nix
  nixos/modules/services/networking/minidlna.nix
  nixos/modules/services/networking/resilio.nix
  nixos/modules/services/scheduling/fcron.nix
  nixos/modules/services/security/tor.nix
  nixos/modules/services/security/usbguard.nix
  nixos/modules/services/system/cgmanager.nix
  nixos/modules/services/system/cloud-init.nix
  nixos/modules/services/torrent/transmission.nix
  nixos/modules/services/x11/xserver.nix
  nixos/modules/virtualisation/azure-agent.nix
  nixos/modules/virtualisation/azure-image.nix
  nixos/tests/hocker-fetchdocker/machine.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#64785 q: init at 1.7.1
  pkgs/tools/misc/q-text-as-data/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#67925 pythonPackages.flask: 1.0.3 -> 1.0.4
  pkgs/development/python-modules/flask/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python

#67938 grafana: 6.3.4 -> 6.3.5
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 9.needs: port to stable

#67940 Fix typo in customisation.nix
  lib/customisation.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#67950 haskell-modules: update configuration-common.nix
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: haskell

#67948 Fix broken builds for rgdal and sf R packages
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#67523 ocamlPackages.lablgtk: 2.18.6 -> 2.18.8
  pkgs/development/ocaml-modules/lablgtk/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: ocaml, 8.has: package (update)

#67969 treewide: remove uses of doBuild and doConfigure
  pkgs/applications/audio/spotify/default.nix
  pkgs/applications/networking/cluster/kubectl/default.nix
  pkgs/applications/science/electronics/eagle/eagle.nix
  pkgs/applications/virtualization/virtualbox/guest-additions/default.nix
  pkgs/servers/unifi/default.nix
  pkgs/servers/xmpp/pyIRCt/default.nix
  pkgs/servers/xmpp/pyMAILt/default.nix
  pkgs/tools/admin/google-cloud-sdk/default.nix
  pkgs/tools/text/shab/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#67971 unifi: remove unifiTesting
  pkgs/servers/unifi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#67972 syncplay module: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/syncplay.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#67943 nix-prefetch-github: 2.3 -> 2.3.1
  pkgs/build-support/nix-prefetch-github/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67963 miller: 5.4.0 -> 5.5.0
  pkgs/tools/text/miller/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67973 teleport: 4.0.2 -> 4.0.4
  pkgs/servers/teleport/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67846 rofi: fix rofi-theme-selector by setting $XDG_DATA_DIRS
  pkgs/applications/misc/rofi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#65163 pyscard: fix darwin build, remove pcsc library mixing
  pkgs/development/python-modules/pyscard/default.nix
  pkgs/development/python-modules/pyscard/ignore-macos-bug.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 6.topic: python

#67276 yubikey-manager: 2.1.1 -> 3.1.0
  pkgs/tools/misc/yubikey-manager/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67907 postgresqlPackages.postgis: 2.5.2 -> 2.5.3
  pkgs/servers/sql/postgresql/ext/postgis.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67911 nfpm: 0.12.0 -> 0.13.0
  pkgs/tools/package-management/nfpm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67909 postgresqlPackages.pg_cron: 1.1.4 -> 1.2.0
  pkgs/servers/sql/postgresql/ext/pg_cron.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67974 gallery-dl: 1.10.2 -> 1.10.3
  pkgs/applications/misc/gallery-dl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67935 gnome3.gvfs: fix eval with allowAliases = false
  nixos/modules/services/desktops/gnome3/glib-networking.nix
  pkgs/desktops/gnome-2/default.nix
  pkgs/desktops/gnome-3/default.nix
  pkgs/development/libraries/gvfs/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: gnome3, 6.topic: nixos, 8.has: clean-up, 8.has: module (update)

#67914 haskellPackages: unbreak cachix build
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell, 8.has: package (new)

#67978 clair: 2.0.8 -> 2.0.9
  pkgs/tools/admin/clair/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67980 syncthing: 1.2.1 -> 1.2.2
  pkgs/applications/networking/syncthing/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67527 ocamlPackages.ocplib-json-typed: 0.5 -> 0.7.1
  pkgs/development/ocaml-modules/ocplib-json-typed/browser.nix
  pkgs/development/ocaml-modules/ocplib-json-typed/bson.nix
  pkgs/development/ocaml-modules/ocplib-json-typed/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#67981 wtf: 0.20.0 -> 0.21.0
  pkgs/applications/misc/wtf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67930 trivial-builders: add the applyPatches function
  pkgs/build-support/trivial-builders.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#67979 dive: 0.7.2 -> 0.8.0
  pkgs/development/tools/dive/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67991 joker: 0.12.4 -> 0.12.7
  pkgs/development/interpreters/joker/default.nix
  pkgs/development/interpreters/joker/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67984 devpi-server: 4.9.0 -> 5.1.0
  pkgs/development/tools/devpi-server/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67946 pythonPackages.python-pipedrive: init at 0.4.0
  pkgs/development/python-modules/python-pipedrive/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#67949 pythonPackages.robotframework-sshlibrary: 3.3.0 -> 3.4.0
  pkgs/development/python-modules/robotframework-sshlibrary/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#67899 zsh-you-should-use: 1.1.0 -> 1.4.0
  pkgs/shells/zsh/zsh-you-should-use/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67992 wxhexeditor: fix compilation
  pkgs/applications/editors/wxhexeditor/default.nix
  pkgs/applications/editors/wxhexeditor/missing-semicolon.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67918 iosevka-bin: 2.2.1 -> 2.3.0
  pkgs/data/fonts/iosevka/bin.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67994 prometheus-aws-s3-exporter: init at 0.3.0
  pkgs/servers/monitoring/prometheus/aws-s3-exporter.nix
  pkgs/servers/monitoring/prometheus/aws-s3-exporter_deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#67941 musescore: 3.0.5 -> 3.2.3
  pkgs/applications/audio/musescore/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67912 sbcl: 1.5.3 -> 1.5.6
  pkgs/development/compilers/sbcl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#67731 blueman: 2.0.8 -> 2.1.1
  nixos/modules/module-list.nix
  nixos/modules/services/desktops/blueman.nix
  pkgs/tools/bluetooth/blueman/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#67929 libmypaint: 1.3.0 → 1.4.0
  pkgs/development/libraries/libmypaint/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#67928 enchant: 2.2.4 → 2.2.5
  pkgs/development/libraries/enchant/2.x.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#67993 bat: 0.12.0 -> 0.12.1
  pkgs/tools/misc/bat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67835 bazel: 0.28.1 -> 0.29.0
  pkgs/development/tools/build-managers/bazel/bash-tools-test.nix
  pkgs/development/tools/build-managers/bazel/cpp-test.nix
  pkgs/development/tools/build-managers/bazel/default.nix
  pkgs/development/tools/build-managers/bazel/java-test.nix
  pkgs/development/tools/build-managers/bazel/protobuf-test.nix
  pkgs/development/tools/build-managers/bazel/python-bin-path-test.nix
  pkgs/development/tools/build-managers/bazel/src-deps.json
  pkgs/development/tools/build-managers/bazel/update-srcDeps.py
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#67986 gnome3.mutter: fix segfault in dri_flush_front_buffer()
  pkgs/desktops/gnome-3/core/mutter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: gnome3

#67900 materia-theme: 20190315 -> 20190831
  pkgs/data/themes/materia-theme/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67629 Ensure blas produces pkg config files
  pkgs/development/libraries/science/math/blas/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#67957 glib-networking: clean up & add installed tests
  nixos/tests/all-tests.nix
  nixos/tests/glib-networking.nix
  pkgs/development/libraries/glib-networking/default.nix
  pkgs/development/libraries/glib-networking/hardcode-gsettings.patch
  pkgs/development/libraries/glib-networking/installed-tests-path.patch
  pkgs/development/libraries/libproxy/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: nixos

#67939 libgdata: 0.17.10 → 0.17.11
  nixos/tests/all-tests.nix
  nixos/tests/libgdata.nix
  pkgs/development/libraries/libgdata/default.nix
  pkgs/development/libraries/libgdata/installed-tests-path.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: nixos

#55510 nixos/printers: declarative configuration
  nixos/doc/manual/release-notes/rl-1909.xml
  nixos/modules/hardware/printers.nix
  nixos/modules/module-list.nix
  nixos/tests/printing.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#67836 coreboot-utils: init at 4.10
  pkgs/applications/virtualization/cbfstool/default.nix
  pkgs/tools/misc/cbmem/default.nix
  pkgs/tools/misc/coreboot-utils/default.nix
  pkgs/tools/misc/ifdtool/default.nix
  pkgs/tools/misc/intelmetool/default.nix
  pkgs/tools/misc/nvramtool/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 8.has: clean-up, 8.has: package (new)

#68008 ibus-engines.hangul: fix ibus-setup-hangul
  pkgs/tools/inputmethods/ibus-engines/ibus-hangul/default.nix
  pkgs/tools/inputmethods/ibus-engines/ibus-hangul/fix-paths.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67926 biber: fix currently broken tests
  pkgs/tools/typesetting/biber/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#64552 openrazer: init at 2.6.0
  maintainers/maintainer-list.nix
  nixos/modules/hardware/openrazer.nix
  nixos/modules/module-list.nix
  pkgs/development/python-modules/openrazer/common.nix
  pkgs/development/python-modules/openrazer/daemon.nix
  pkgs/development/python-modules/openrazer/pylib.nix
  pkgs/os-specific/linux/openrazer/driver.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: nixos, 6.topic: python, 8.has: module (update), 8.has: package (new)

#68001 python3Packages.cherrypy: fix tests after upgrade to pytest5
  pkgs/development/python-modules/cherrypy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#68012 maintainers: add jojosch
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#61114 ruby: add ruby.withPackages
  doc/languages-frameworks/ruby.section.md
  maintainers/scripts/update-ruby-packages
  pkgs/development/interpreters/ruby/default.nix
  pkgs/development/ruby-modules/gem-config/default.nix
  pkgs/development/ruby-modules/gem/gem-post-build.rb
  pkgs/development/ruby-modules/with-packages/Gemfile
  pkgs/development/ruby-modules/with-packages/default.nix
  pkgs/development/ruby-modules/with-packages/require_exceptions.nix
  pkgs/development/ruby-modules/with-packages/test.nix
  pkgs/development/ruby-modules/with-packages/test.rb
  pkgs/top-level/all-packages.nix
  pkgs/top-level/ruby-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: ruby, 8.has: documentation, 8.has: package (new)

#67987 [19.03] firefox: 68.0.2 -> 69.0 (and updated related packages)
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
  pkgs/applications/networking/browsers/firefox-bin/devedition_sources.nix
  pkgs/applications/networking/browsers/firefox-bin/firefox.key
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox-bin/update.nix
  pkgs/applications/networking/browsers/firefox/common.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
  pkgs/development/libraries/nss/default.nix
  pkgs/development/tools/rust/cbindgen/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+, 11.by: package-maintainer

#68026 gnucash: fix cmake configure phase, missing "include(CheckSymbolExists)"
  pkgs/applications/office/gnucash/cmake_check_symbol_exists.patch
  pkgs/applications/office/gnucash/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#68011 vim: 8.1.1547 -> 8.1.1967
  pkgs/applications/editors/vim/common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: vim

#67807 roxterm: 3.3.2 -> 3.7.5
  pkgs/applications/misc/roxterm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#67733 mplayer: 1.3.0 -> 1.4
  pkgs/applications/video/mplayer/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up

#67686 maintainers: update my maintainer information
  maintainers/maintainer-list.nix
  nixos/tests/containers-tmpfs.nix
  pkgs/tools/networking/gandi-cli/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#68010 radare2: 3.7.0 -> 3.8.0
  pkgs/development/tools/analysis/radare2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#67593 kakounePlugins: Add 5 kakoune plugins
  maintainers/maintainer-list.nix
  pkgs/applications/editors/kakoune/plugins.nix
  pkgs/applications/editors/kakoune/plugins/default.nix
  pkgs/applications/editors/kakoune/plugins/kak-auto-pairs.nix
  pkgs/applications/editors/kakoune/plugins/kak-buffers.nix
  pkgs/applications/editors/kakoune/plugins/kak-fzf.nix
  pkgs/applications/editors/kakoune/plugins/kak-powerline.nix
  pkgs/applications/editors/kakoune/plugins/kak-vertical-selection.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#67424 Add large hunspell dicts
  pkgs/development/libraries/hunspell/dictionaries.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 8.has: package (new)

#68027 tacacs+: tacacs+ -> tacacsplus
  pkgs/servers/tacacsplus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#66949 icewm: 1.4.2 -> 1.6.0
  pkgs/applications/window-managers/icewm/default.nix
  pkgs/applications/window-managers/icewm/fix-strlcat_strlcpy.patch
  pkgs/applications/window-managers/icewm/musl.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#68005 go-ethereum: 1.9.2 -> 1.9.3
  pkgs/applications/blockchains/go-ethereum.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#66973 xauth: 1.0.10 -> 1.1
  pkgs/servers/x11/xorg/default.nix
  pkgs/servers/x11/xorg/tarballs.list
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#66737 azpainter: init at 2.1.4
  pkgs/applications/graphics/azpainter/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#68002 supercollider: 3.10.2 -> 3.10.3
  pkgs/development/interpreters/supercollider/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#68000 dbeaver: 6.1.4 -> 6.1.5
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#68059 links: 2.19 -> 2.20
  pkgs/applications/networking/browsers/links2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#68039 evtest: 1.33 -> 1.34
  pkgs/applications/misc/evtest/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#67605 strawberry: init at 0.6.3
  pkgs/applications/audio/strawberry/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#67603 sayonara: 1.1.1 -> 1.5.1
  pkgs/applications/audio/sayonara/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#67192 linux: clearer origin for settings configuration
  pkgs/os-specific/linux/kernel/generic.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#67988 pythonPackages.trezor_agent: adding buildInputs required for GPG
  pkgs/development/python-modules/trezor_agent/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#68094 nixos/darkhttpd: fix package reference
  nixos/modules/services/web-servers/darkhttpd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#68066 speedtest-cli: 2.1.1 -> 2.1.2
  pkgs/development/python-modules/speedtest-cli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#68057 httpie: 1.0.2 -> 1.0.3, fetchPypi, pname
  pkgs/tools/networking/httpie/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#68058 mkvtoolnix: 36.0.0 -> 37.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#68043 i3: pname, 4.17 -> 4.17.1
  pkgs/applications/window-managers/i3/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#66635 docker-compose: add zsh completion
  pkgs/applications/virtualization/docker-compose/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: documentation
