Repository NixOS/nixpkgs, pull requests merged in 2020-08, with the labels that each got.

#94392 [20.03] gplates: 2.0.0 -> 2.2.0, unbreak
  pkgs/applications/science/misc/gplates/boostfix.patch
  pkgs/applications/science/misc/gplates/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94391 eksctl: 0.22.0 -> 0.24.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94395 dijo: 0.1.5 -> 0.2.2
  pkgs/tools/misc/dijo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94383 ccache: 3.7.10 -> 3.7.11
  pkgs/development/tools/misc/ccache/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#93232 edukai: init at 4.0/edusong: init at 1.0/eduli: init at 3.0
  pkgs/data/fonts/edukai/default.nix
  pkgs/data/fonts/eduli/default.nix
  pkgs/data/fonts/edusong/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new), awaiting_reviewer, marvin

#94165 scas: init at 0.4.6
  maintainers/maintainer-list.nix
  pkgs/development/compilers/scas/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94203 autotiling: init at 1.1
  maintainers/maintainer-list.nix
  pkgs/misc/autotiling/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94220 oneDNN: disable tests to avoid illegal instructions
  pkgs/development/libraries/oneDNN/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#94292 lzfse: enable Darwin build
  pkgs/tools/compression/lzfse/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#94409 intel-gmmlib: 20.2.2 -> 20.2.3
  pkgs/development/libraries/intel-gmmlib/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#94403 fping: 4.3 -> 4.4
  pkgs/tools/networking/fping/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94411 humioctl: 0.25.0 -> 0.26.0
  pkgs/applications/logging/humioctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94362 broot: 0.18.1 -> 0.19.3
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94393 dolt: 0.18.0 -> 0.18.1
  pkgs/servers/sql/dolt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94313 shattered-pixel-dungeon: 0.8.1 -> 0.8.1a
  pkgs/games/shattered-pixel-dungeon/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94105 inform6: init at 6.34-6.12.2
  maintainers/maintainer-list.nix
  pkgs/development/compilers/inform6/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new), awaiting_reviewer, marvin

#94407 gitAndTools.gitui: 0.8.1 -> 0.9.1
  pkgs/applications/version-management/git-and-tools/gitui/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94394 emplace: 0.3.5 -> 0.3.6
  pkgs/tools/package-management/emplace/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92576 termius: 5.10.1 -> 6.1.1
  pkgs/applications/networking/termius/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#89192 gem: init at 2020-03-26
  pkgs/applications/audio/pd-plugins/gem/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new), marvin

#89794 stdenv: set SOURCE_DATE_EPOCH to a value python supports
  pkgs/stdenv/generic/setup.sh
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: stdenv

#94389 eprover: 2.4 -> 2.5
  pkgs/applications/science/logic/eprover/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94425 iana-etc: 20200407 -> 20200729
  pkgs/data/misc/iana-etc/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#94064 tlp: use structured config to fix cpu governor
  nixos/modules/services/hardware/tlp.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#94433 alacritty: 0.4.3 -> 0.5.0
  pkgs/applications/misc/alacritty/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94349 abcmidi: 2020.06.30 -> 2020.07.28
  pkgs/tools/audio/abcmidi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94388 perlPackages.CPANMini: init at 1.111016
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#94450 jamulus: 3.5.8 -> 3.5.9
  pkgs/applications/audio/jamulus/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94431 flow: 0.128.0 -> 0.130.0
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94449 hashcat: 6.0.0 -> 6.1.1
  pkgs/tools/security/hashcat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#94365 liblinear: 2.40 -> 2.41
  pkgs/development/libraries/liblinear/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94164 istioctl: bundle charts
  pkgs/applications/networking/cluster/istioctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94339 batsignal: 1.0.0 -> 1.1.2
  pkgs/applications/misc/batsignal/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#93814 coqPackages.bignums: init at 8.12.0 for Coq 8.12
  pkgs/development/coq-modules/bignums/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq, 8.has: package (update)

#94465 opengrm-ngram: init at 1.3.11, phonetisaurus: init at 2020-07-31
  pkgs/development/libraries/opengrm-ngram/default.nix
  pkgs/development/libraries/phonetisaurus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94467 mautrix-telegram: add postgresql database driver
  pkgs/servers/mautrix-telegram/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94458 postfix: 3.4.14 -> 3.4.16
  pkgs/servers/mail/postfix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: port to stable

#94421 firefox: 78.0.2 -> 79.0, 68.10.0esr -> 68.11.0esr, 78.1.0esr [High security fixes]
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (new)

#94390 eternal-terminal: 6.0.7 -> 6.0.9
  pkgs/tools/networking/eternal-terminal/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94363 checkstyle: 8.34 -> 8.35
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#90593 elinks: bump to newest version, thereby making it usable again
  pkgs/applications/networking/browsers/elinks/debian-patches.nix
  pkgs/applications/networking/browsers/elinks/debian-patches.txt
  pkgs/applications/networking/browsers/elinks/default.nix
  pkgs/applications/networking/browsers/elinks/gc-init.patch
  pkgs/applications/networking/browsers/elinks/openssl-1.1.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94369 nixos/systemd-networkd-vrf: implement working TCP test on a 5.x kernel
  nixos/tests/systemd-networkd-vrf.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#94290 openxr-loader: 1.0.9 -> 1.0.10
  pkgs/development/libraries/openxr-loader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94471 wayland-utils: init at 1.0.0
  pkgs/tools/wayland/wayland-utils/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94341 enlightenment.efl: do not default to openjpeg 1
  pkgs/desktops/enlightenment/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#94377 zfs: backport linux 5.8 compatibility patch to 0.8.4 release
  pkgs/os-specific/linux/zfs/BACKPORT-Linux-5.8-compat-__vmalloc.patch
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#94422 gloox: 1.0.23 -> 1.0.24
  pkgs/development/libraries/gloox/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#93538 nixos/tinc: allow configuration of RSA private key file
  nixos/modules/services/networking/tinc.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#94414 linkerd: fix typo in package name
  pkgs/applications/networking/cluster/linkerd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94466 doc: Fix missing callout in go.xml
  doc/languages-frameworks/go.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: golang, 8.has: documentation

#94398 elementary-planner: 2.4.5 -> 2.4.6
  pkgs/applications/office/elementary-planner/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#93621 atom: Fix #92487
  pkgs/applications/editors/atom/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94479 xfce.xfce4-whiskermenu-plugin: 2.4.4 -> 2.4.6
  pkgs/desktops/xfce/panel-plugins/xfce4-whiskermenu-plugin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: xfce

#94477 xfce.xfce4-timer-plugin: 1.7.0 -> 1.7.1
  pkgs/desktops/xfce/panel-plugins/xfce4-timer-plugin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: xfce

#94470 bazel-kazel: 0.0.7 -> 0.0.10
  pkgs/development/tools/bazel-kazel/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94457 postfix: 3.5.4 -> 3.5.6
  pkgs/servers/mail/postfix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94472 xfce.xfwm4: 4.14.2 -> 4.14.4
  pkgs/desktops/xfce/core/xfwm4/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: xfce

#83678 boot.loader.grub: add theme option
  nixos/modules/system/boot/loader/grub/grub.nix
  nixos/modules/system/boot/loader/grub/install-grub.pl
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#93686 vimplugins: Update default branch for tslime.vim
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vim

#94348 aws-okta: 1.0.2 -> 1.0.4
  pkgs/tools/security/aws-okta/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94353 bmake: 20200629 -> 20200710
  pkgs/development/tools/build-managers/bmake/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94332 traefik: 2.2.4 -> 2.2.8
  pkgs/servers/traefik/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92284 lazpaint: init at 7.1.3
  pkgs/applications/graphics/lazpaint/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#83915 skim: fix vim-plugin output
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/overrides.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: vim, 8.has: clean-up, 8.has: package (new)

#94499 gortr: 0.14.5 -> 0.14.6
  pkgs/servers/gortr/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94500 gotestsum: 0.5.1 -> 0.5.2
  pkgs/development/tools/gotestsum/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94501 gromit-mpx: 1.3 -> 1.3.1
  pkgs/tools/graphics/gromit-mpx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94505 helmfile: 0.119.1 -> 0.125.1
  pkgs/applications/networking/cluster/helmfile/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94514 kmon: 1.3.0 -> 1.3.5
  pkgs/tools/system/kmon/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94491 dua: 2.8.1 -> 2.10.2
  pkgs/tools/misc/dua/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94493 podman: 2.0.3 -> 2.0.4
  pkgs/applications/virtualization/podman/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94494 buildah: 1.15.0 -> 1.15.1
  pkgs/development/tools/buildah/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94524 mdbook: 0.4.0 -> 0.4.1
  pkgs/tools/text/mdbook/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94522 lite: 1.06 -> 1.11
  pkgs/applications/editors/lite/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94401 dune_2: 2.6.1 -> 2.6.2
  pkgs/development/tools/ocaml/dune/2.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#94515 kondo: 0.3 -> 0.4
  pkgs/applications/misc/kondo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94533 fzf: 0.21.1 -> 0.22.0
  pkgs/tools/misc/fzf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94518 lazygit: 0.20.6 -> 0.20.9
  pkgs/development/tools/lazygit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94519 lean: 3.16.5 -> 3.18.4
  pkgs/applications/science/logic/lean/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94265 github actions: update and add to codeowners
  .github/CODEOWNERS
  .github/workflows/editorconfig.yml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: policy discussion

#94513 k6: 0.27.0 -> 0.27.1
  pkgs/development/tools/k6/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94386 cava: 0.7.1 -> 0.7.2
  pkgs/applications/audio/cava/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94488 drawio: 13.5.1 -> 13.5.7
  pkgs/applications/graphics/drawio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94521 liquibase: 3.10.1 -> 3.10.2
  pkgs/development/tools/database/liquibase/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94535 nfpm: 1.3.2 -> 1.5.0
  pkgs/tools/package-management/nfpm/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94517 kube-router: 1.0.0 -> 1.0.1
  pkgs/applications/networking/cluster/kube-router/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94476 cargo-tarpaulin: 0.14.0 -> 0.14.2
  pkgs/development/tools/analysis/cargo-tarpaulin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94510 libplacebo: allow for latest glslang
  pkgs/development/libraries/libplacebo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#94441 i3: 4.18.1 -> 4.18.2
  pkgs/applications/window-managers/i3/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#93908 ocamlPackages.mdx: 1.6.0 → 1.7.0
  pkgs/development/ocaml-modules/mdx/default.nix
Labels: 6.topic: ocaml, 8.has: package (update)

#84545 timezonemap: init at 0.4.5
  pkgs/development/libraries/timezonemap/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94528 openjdk: 11.0.7 -> 11.0.8
  pkgs/development/compilers/openjdk/11.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#93168 dune-release: 1.3.3 → 1.4.0
  pkgs/development/tools/ocaml/dune-release/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#93751 quilter: 2.2.4 -> 2.5.0
  pkgs/applications/editors/quilter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94554 sd: 0.7.5 -> 0.7.6
  pkgs/tools/text/sd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94516 kpt: 0.31.0 -> 0.32.0
  pkgs/applications/networking/cluster/kpt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94539 openbazaar-client: 2.4.6 -> 2.4.7
  pkgs/applications/networking/openbazaar/client.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94544 pgmetrics: 1.9.2 -> 1.9.3
  pkgs/tools/misc/pgmetrics/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94552 deno: 1.2.1 -> 1.2.2
  pkgs/development/web/deno/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94541 osm2pgsql: 1.2.2 -> 1.3.0
  pkgs/tools/misc/osm2pgsql/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94447 bjumblr: 0.2 -> 1.4.0
  pkgs/applications/audio/bjumblr/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94492 ettercap: 0.8.3 -> 0.8.3.1
  pkgs/applications/networking/sniffers/ettercap/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#75584 Configuration file formats for JSON, INI, YAML and TOML
  lib/generators.nix
  lib/strings.nix
  nixos/doc/manual/development/settings-options.xml
  nixos/doc/manual/development/writing-modules.xml
  pkgs/pkgs-lib/default.nix
  pkgs/pkgs-lib/formats.nix
  pkgs/pkgs-lib/tests/default.nix
  pkgs/pkgs-lib/tests/formats.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: module system, 6.topic: nixos, 8.has: documentation

#94453 amfora: 1.3.0 -> 1.4.0
  pkgs/applications/networking/browsers/amfora/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94435 fluent-bit: 1.5.0 -> 1.5.2
  pkgs/tools/misc/fluent-bit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94437 flyway: 6.5.0 -> 6.5.3
  pkgs/development/tools/flyway/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94071 nixos/snapserver: update module to work with snapcast 0.20
  nixos/modules/services/audio/snapserver.nix
  nixos/tests/all-tests.nix
  nixos/tests/snapcast.nix
  pkgs/applications/audio/snapcast/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#94512 jx: 2.1.90 -> 2.1.121
  pkgs/applications/networking/cluster/jx/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94428 gosec: 2.3.0 -> 2.4.0
  pkgs/development/tools/gosec/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94548 openjdk14: 14.0.1 -> 14.0.2
  pkgs/development/compilers/openjdk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#94440 ardour: 6.0 -> 6.2
  pkgs/applications/audio/ardour/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94531 initrd-network: fix flushBeforeStage2
  nixos/modules/system/boot/initrd-network.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#94438 istioctl: 1.6.5 -> 1.6.6
  pkgs/applications/networking/cluster/istioctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#93903 kfloppy: init at 20.04.3
  pkgs/applications/kde/default.nix
  pkgs/applications/kde/kfloppy.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: qt/kde, 8.has: package (new)

#60246 nixos/modules/virtualization: Options to add an extra disk in virtualbox VM
  nixos/modules/virtualisation/virtualbox-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#81085 vale: install documentation and example styles
  pkgs/tools/text/vale/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#85903 acl2: build standard library as well
  pkgs/development/interpreters/acl2/0001-Fix-some-paths-for-Nix-build.patch
  pkgs/development/interpreters/acl2/0002-Restrict-RDTSC-to-x86.patch
  pkgs/development/interpreters/acl2/default.nix
  pkgs/development/interpreters/acl2/libipasirglucose4/0001-Support-shared-library-build.patch
  pkgs/development/interpreters/acl2/libipasirglucose4/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#92578 Update Gambit, Gerbil and libraries
  pkgs/development/compilers/gambit/unstable.nix
  pkgs/development/compilers/gerbil/gerbil-crypto.nix
  pkgs/development/compilers/gerbil/gerbil-ethereum.nix
  pkgs/development/compilers/gerbil/gerbil-persist.nix
  pkgs/development/compilers/gerbil/gerbil-poo.nix
  pkgs/development/compilers/gerbil/gerbil-support.nix
  pkgs/development/compilers/gerbil/gerbil-utils.nix
  pkgs/development/compilers/gerbil/unstable.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94540 operator-sdk: 0.18.2 -> 0.19.2
  pkgs/development/tools/operator-sdk/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94553 rss2email: 3.11 -> 3.12.1
  pkgs/applications/networking/feedreaders/rss2email/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94250 unbound: 1.10.1 -> 1.11.0
  pkgs/tools/networking/unbound/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#93971 singularity: 3.2.1 -> 3.6.1
  pkgs/applications/virtualization/singularity/default.nix
  pkgs/build-support/singularity-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94397 exoscale-cli: 1.14.0 -> 1.15.0
  pkgs/tools/admin/exoscale-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94545 picard-tools: 2.23.1 -> 2.23.3
  pkgs/applications/science/biology/picard-tools/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94566 xscreensaver: fix xscreensaver-demo build
  pkgs/misc/screensavers/xscreensaver/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94503 hcxdumptool: 6.0.7 -> 6.1.0
  pkgs/tools/security/hcxdumptool/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#87234 gnu-config: 2019-04-15 -> 2020-05-04
  pkgs/development/libraries/gnu-config/default.nix
  pkgs/stdenv/cross/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: stdenv

#91293 treewide: Get rid of `cc.gcc`
  pkgs/build-support/cc-wrapper/default.nix
  pkgs/development/compilers/computecpp/default.nix
  pkgs/development/compilers/emscripten/fastcomp/emscripten-fastcomp.nix
  pkgs/development/compilers/llvm/10/clang/default.nix
  pkgs/development/compilers/llvm/10/default.nix
  pkgs/development/compilers/llvm/5/clang/default.nix
  pkgs/development/compilers/llvm/5/default.nix
  pkgs/development/compilers/llvm/6/clang/default.nix
  pkgs/development/compilers/llvm/6/default.nix
  pkgs/development/compilers/llvm/7/clang/default.nix
  pkgs/development/compilers/llvm/7/default.nix
  pkgs/development/compilers/llvm/8/clang/default.nix
  pkgs/development/compilers/llvm/8/default.nix
  pkgs/development/compilers/llvm/9/clang/default.nix
  pkgs/development/compilers/llvm/9/default.nix
  pkgs/development/compilers/swift/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (new)

#93905 pkgs/top-level: add x86_64-redox to release-cross.nix
  pkgs/top-level/release-cross.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#93958 coq_8_5: fix build (use gnumake 4.2)
  pkgs/applications/science/logic/coq/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: coq

#94160 swift: fix cflags for finding C++ headers
  pkgs/development/compilers/swift/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94572 chibi: 0.8 -> 0.9
  pkgs/development/interpreters/chibi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94570 python27Packages.autopep8: 1.5.3 -> 1.5.4
  pkgs/development/python-modules/autopep8/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#94601 groonga: 10.0.4 -> 10.0.5
  pkgs/servers/search/groonga/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#94581 eksctl: 0.24.0 -> 0.25.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94551 nixos/dokuwiki: fix https redirect
  nixos/modules/services/web-apps/dokuwiki.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#94278 kwin-tiling: 2.2 -> 2.4
  pkgs/desktops/plasma-5/kwin/scripts/tiling.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: qt/kde

#94166 release-notes/rl-2009: amend bitcoind incompatibility
  nixos/doc/manual/release-notes/rl-2009.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#94600 nixos/manual: Fix reference to send_key
  nixos/doc/manual/development/writing-nixos-tests.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: documentation

#94580 bspwm: 0.9.9 -> 0.9.10
  pkgs/applications/window-managers/bspwm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94475 homeassistant: 0.113.0 -> 0.113.3
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/fix-flapping-chained-task-logging-test.patch
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94575 .github/workflows/editorconfig.yml: separate fetch and check steps
  .github/workflows/editorconfig.yml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: policy discussion

#94583 zigbee2mqtt: 1.14.1 -> 1.14.2
  nixos/tests/all-tests.nix
  pkgs/servers/zigbee2mqtt/default.nix
  pkgs/servers/zigbee2mqtt/deps.sh
  pkgs/servers/zigbee2mqtt/node-packages.nix
  pkgs/servers/zigbee2mqtt/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos

#94578 chromium: Add missing dependency on coreutils
  pkgs/applications/networking/browsers/chromium/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94408 fwupd: 1.4.4 -> 1.4.5
  pkgs/os-specific/linux/firmware/fwupd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#93413 nixosTests.taskserver: Port to python
  nixos/tests/taskserver.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#94327 thc-hydra: 9.0 -> 9.1
  pkgs/tools/security/thc-hydra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94611 nixos/manual: improve error message for invalid values in `relatedPackages'
  nixos/lib/make-options-doc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation

#94616 [20.03] mautrix-telegram: add postgresql database driver
  pkgs/servers/mautrix-telegram/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94596 imagemagick7: 7.0.10-19 -> 7.0.10-25
  pkgs/applications/graphics/ImageMagick/7.0.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100
