Repository NixOS/nixpkgs, pull requests merged in 2020-02, with the labels that each got.

#78240 cockatrice: 2017-08-31 -> 2019-08-31
  pkgs/games/cockatrice/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78969 gnome3.evolution: 3.34.2 -> 3.34.3
  pkgs/desktops/gnome-3/apps/evolution/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: gnome3

#78970 buildah: 1.13.1 -> 1.13.2
  pkgs/development/tools/buildah/default.nix
  pkgs/development/tools/buildah/disable-go-module-mode.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78963 ansifilter: 2.15 -> 2.16
  pkgs/tools/text/ansifilter/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78959 drone-cli: 1.2.0 -> 1.2.1
  pkgs/development/tools/continuous-integration/drone-cli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78802 nixos/httpd: module cleanup
  nixos/modules/services/monitoring/nagios.nix
  nixos/modules/services/web-apps/limesurvey.nix
  nixos/modules/services/web-apps/mediawiki.nix
  nixos/modules/services/web-apps/moodle.nix
  nixos/modules/services/web-apps/wordpress.nix
  nixos/modules/services/web-apps/zabbix.nix
  nixos/modules/services/web-servers/apache-httpd/default.nix
  nixos/modules/services/web-servers/apache-httpd/vhost-options.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#78954 simplenote: 1.12.0 -> 1.14.0
  pkgs/applications/misc/simplenote/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78985 broot: 0.12.0 -> 0.12.2
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#74711 irony-server: Fix build with 1.4.0 cmake files 19.09 backport
  pkgs/development/tools/irony-server/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78988 spotify-tui: 0.12.0 -> 0.13.0
  pkgs/applications/audio/spotify-tui/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78839 Update xfce docs
  nixos/doc/manual/configuration/xfce.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 6.topic: xfce, 8.has: documentation

#78989 tflint: 0.13.3 -> 0.14.0
  pkgs/development/tools/analysis/tflint/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78982 latex2html: 2019.2 -> 2020
  pkgs/tools/misc/latex2html/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78968 nsd : use types.lines where appropriate
  nixos/modules/services/networking/nsd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#78978 lua5: Fix src URLs
  pkgs/development/interpreters/lua-5/interpreter.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: lua, 9.needs: port to stable

#78986 cointop: 1.4.1 -> 1.4.4
  pkgs/applications/misc/cointop/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#75439 nixos/nixos-option: fix evaluator to render a full submodule entry
  nixos/doc/manual/man-nixos-option.xml
  nixos/doc/manual/release-notes/rl-2003.xml
  nixos/modules/installer/tools/nixos-option/nixos-option.cc
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#78911 blugon: 1.11.4 -> 1.12.0
  pkgs/applications/misc/blugon/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78861 worker: 4.1.0 -> 4.2.0
  pkgs/applications/misc/worker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78844 stress-ng: 0.10.14 -> 0.10.16
  pkgs/tools/system/stress-ng/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78842 supercollider: 3.10.3 -> 3.10.4
  pkgs/development/interpreters/supercollider/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78849 tetgen: 1.5.0 -> 1.5.1
  pkgs/applications/science/geometry/tetgen/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78833 snakemake: 5.8.1 -> 5.9.1
  pkgs/applications/science/misc/snakemake/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78828 rshell: 0.0.25 -> 0.0.26
  pkgs/development/tools/rshell/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78987 procs: 0.9.2 -> 0.9.5
  pkgs/tools/admin/procs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78992 brook: 20200102 -> 20200201
  pkgs/tools/networking/brook/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78977 hylafaxplus: 7.0.1 -> 7.0.2
  pkgs/servers/hylafaxplus/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78818 scid-vs-pc: 4.20 -> 4.21
  pkgs/games/scid-vs-pc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#74689 ocamlPackages.nocrypto: Fixed crashes caused by build nondeterminism
  pkgs/development/ocaml-modules/nocrypto/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78769 perlPackages.TimeDate: use fetchpatch instead of storing the patch
  pkgs/development/perl-modules/timedate-2020.patch
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#78981 jmol: 14.30.1 -> 14.30.2
  pkgs/applications/science/chemistry/jmol/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78973 gqrx: 2.11.5 -> 2.12.1
  pkgs/applications/radio/gqrx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78843 nixos/networking-interfaces: change preferTempAddress to allow disabling temp addresses
  nixos/doc/manual/release-notes/rl-2003.xml
  nixos/modules/tasks/network-interfaces.nix
  nixos/tests/networking.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#78801 netbeans: 11.1 -> 11.2
  pkgs/applications/editors/netbeans/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78864 yubikey-manager-qt: 1.1.3 -> 1.1.4
  pkgs/tools/misc/yubikey-manager-qt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78782 nushell: 0.8.0 -> 0.9.0
  pkgs/shells/nushell/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78952 gitlab: 12.6.4 -> 12.7.4
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/Gemfile
  pkgs/applications/version-management/gitlab/gitaly/Gemfile.lock
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
  pkgs/applications/version-management/gitlab/gitaly/gemset.nix
  pkgs/applications/version-management/gitlab/gitlab-shell/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv/gemset.nix
  pkgs/applications/version-management/gitlab/yarnPkgs.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 9.needs: port to stable

#78975 phpPackages.sqlsrv & pdo_sqlsrv: 5.6.1 -> 5.8.0
  pkgs/top-level/php-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#78964 canta-theme: init at 2020-01-31
  pkgs/data/themes/canta/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#78984 endlessh: 1.0 -> 1.1
  pkgs/servers/endlessh/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78918 speechd: 0.8.8 → 0.9.1
  pkgs/development/libraries/speechd/default.nix
  pkgs/development/libraries/speechd/fix-paths.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: accessibility

#79007 yosys: use external abc and simplify derivation
  pkgs/applications/science/logic/abc/default.nix
  pkgs/development/compilers/yosys/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#72374 tpm2-pkcs11: init at 1.0.1
  pkgs/misc/tpm2-pkcs11/0001-configure-ac-version.patch
  pkgs/misc/tpm2-pkcs11/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#77516 mynewt-newt: 1.3.0 -> 1.7.0, use buildGoModule
  pkgs/tools/package-management/mynewt-newt/default.nix
  pkgs/tools/package-management/mynewt-newt/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78796 kubernetes-helm: 3.0.1 -> 3.0.3 and improve build meta
  pkgs/applications/networking/cluster/helm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#77638 pre-commit: installed git hook should have full path to binary
  pkgs/development/python-modules/pre-commit/default.nix
  pkgs/development/python-modules/pre-commit/hook-tmpl-use-the-hardcoded-path-to-pre-commit.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79023 trac: disabling pygments tests
  pkgs/tools/misc/trac/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#79022 nixos/locate: don't create /var/cache
  nixos/modules/misc/locate.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#78735 xpra: 2.5.3 -> 3.0.5
  pkgs/tools/X11/xpra/default.nix
  pkgs/tools/X11/xpra/fix-paths.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#79014 orca: 3.34.1 -> 3.34.2
  pkgs/applications/misc/orca/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79003 ocamlPackages.lambdaTerm: 2.0.2 -> 2.0.3
  pkgs/development/ocaml-modules/lambda-term/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78825 rhythmbox: 3.4.3 -> 3.4.4
  pkgs/applications/audio/rhythmbox/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78231 mercurial: 5.2.1 -> 5.2.2
  pkgs/applications/version-management/mercurial/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#79033 python37Packages.asgiref: 3.2.2 -> 3.2.3
  pkgs/development/python-modules/asgiref/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#78776 acsccid: 1.1.6 -> 1.1.8
  pkgs/tools/security/acsccid/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78983 chezmoi: 1.7.10 -> 1.7.12
  pkgs/tools/misc/chezmoi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78838 nixos/doc/network-manager: updates
  nixos/doc/manual/configuration/network-manager.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: documentation

#78723 agenda: init at 1.0.12
  pkgs/applications/office/agenda/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#79002 xfce.catfish: 1.4.12 -> 1.4.13
  pkgs/desktops/xfce/applications/catfish/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: xfce

#79037 python37Packages.altair: 4.0.0 -> 4.0.1
  pkgs/development/python-modules/altair/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#78997 networkmanager: 1.22.4 -> 1.22.6
  pkgs/tools/networking/network-manager/applet/default.nix
  pkgs/tools/networking/network-manager/applet/hardcode-gsettings.patch
  pkgs/tools/networking/network-manager/default.nix
  pkgs/tools/networking/network-manager/dmenu/default.nix
  pkgs/tools/networking/network-manager/strongswan/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#76843 os-prober: add missing dmraid, lvm2 dependencies
  pkgs/tools/misc/os-prober/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79059 python27Packages.pdftotext: 2.1.2 -> 2.1.4
  pkgs/development/python-modules/pdftotext/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79057 python27Packages.relatorio: 0.9.0 -> 0.9.1
  pkgs/development/python-modules/relatorio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79049 python37Packages.aiorun: 2019.11.1 -> 2020.1.3
  pkgs/development/python-modules/aiorun/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79048 python27Packages.django-picklefield: 2.0 -> 2.1.1
  pkgs/development/python-modules/django-picklefield/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#78829 sunvox: 1.9.4c -> 1.9.5
  pkgs/applications/audio/sunvox/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79039 python37Packages.asyncpg: 0.20.0 -> 0.20.1
  pkgs/development/python-modules/asyncpg/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#73547 quarte: use qt5’s mkDerivation and an other fix 19.09 backport
  pkgs/applications/video/qarte/default.nix
  pkgs/development/python-modules/pyqt/5.x.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#79058 python27Packages.quantities: 0.12.3 -> 0.12.4
  pkgs/development/python-modules/quantities/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79055 python27Packages.python-sql: 1.0.0 -> 1.1.0
  pkgs/development/python-modules/python-sql/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#59855 runInLinuxVM, test-driver: pass host's cpu type to guest vm
  nixos/lib/qemu-flags.nix
  nixos/tests/installer.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 6.topic: testing

#79043 python27Packages.azure-mgmt-iothub: 0.9.0 -> 0.10.0
  pkgs/development/python-modules/azure-mgmt-iothub/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79070 python37Packages.nest-asyncio: 1.2.1 -> 1.2.2
  pkgs/development/python-modules/nest-asyncio/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79035 python27Packages.cbor2: 4.1.2 -> 5.0.1
  pkgs/development/python-modules/cbor2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#74624 nixos/networkd: mark `units` option as internal
  nixos/modules/system/boot/networkd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update), 9.needs: port to stable

#79079 qpdf: 9.1.0 -> 9.1.1
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#79074 python37Packages.uvicorn: 0.10.4 -> 0.11.2
  pkgs/development/python-modules/uvicorn/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79076 vimPlugins.bclose-vim: initi at 2018-10-10
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: vim, 8.has: package (new)

#79019 gitlab: 12.7.4 -> 12.7.5
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/deps.nix
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv/gemset.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79029 confluence: Add support for MySQL driver
  pkgs/servers/atlassian/confluence.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78972 [19.09] bird2: 2.0.6 -> 2.0.7
  pkgs/servers/bird/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78855 dotnetCorePackages: Fix closure size
  pkgs/development/compilers/dotnet/buildDotnet.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#79080 vimPlugins.lf-vim: init at 2019-10-11
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/overrides.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: vim, 8.has: package (new)

#79056 python27Packages.rpyc: 4.1.2 -> 4.1.3
  pkgs/development/python-modules/rpyc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79041 python27Packages.josepy: 1.2.0 -> 1.3.0
  pkgs/development/python-modules/josepy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79078 gitAndTools.git-interactive-rebase-tool: init
  maintainers/maintainer-list.nix
  pkgs/applications/version-management/git-and-tools/default.nix
  pkgs/applications/version-management/git-and-tools/git-interactive-rebase-tool/01-terminaltests.patch
  pkgs/applications/version-management/git-and-tools/git-interactive-rebase-tool/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#79052 libxml2: add patch for CVE-2020-7595
  pkgs/development/libraries/libxml2/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#78556 nixosTests: Port more tests
  nixos/tests/buildbot.nix
  nixos/tests/ihatemoney.nix
  nixos/tests/keymap.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#77783 oraclejdk8: 8u211 -> 8u241
  pkgs/development/compilers/oraclejdk/jdk-linux-base.nix
  pkgs/development/compilers/oraclejdk/jdk8-linux.nix
  pkgs/development/compilers/oraclejdk/jdk8cpu-linux.nix
  pkgs/development/compilers/oraclejdk/jdk8psu-linux.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 9.needs: port to stable

#79044 nextcloud: 16.0.7 -> 16.0.8 [19.09]
  pkgs/servers/nextcloud/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#79042 python27Packages.django_compressor: 2.3 -> 2.4
  pkgs/development/python-modules/django_compressor/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79071 python37Packages.rpy2: 3.2.4 -> 3.2.5
  pkgs/development/python-modules/rpy2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79060 python27Packages.odfpy: 1.4.0 -> 1.4.1
  pkgs/development/python-modules/odfpy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79084 tt2020: init at 2020-01-05
  pkgs/data/fonts/tt2020/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#79021 ytop: init at 0.4.0
  pkgs/tools/system/ytop/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#79066 firecracker: 0.19.0 -> 0.20.0
  pkgs/applications/virtualization/firecracker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#78971 python27Packages.foxdot: 0.8.4 -> 0.8.5
  pkgs/development/python-modules/foxdot/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79036 python37Packages.hbmqtt: 0.9.5 -> 0.9.6
  pkgs/development/python-modules/hbmqtt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79027 python37Packages.azure-core: 1.1.1 -> 1.2.1
  pkgs/development/python-modules/azure-core/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#72931 nixos/dhcpcd: restart dhcpcd if exit hook changed
  nixos/modules/services/networking/dhcpcd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#78953 doc: python: fixing mistake in venv example
  doc/languages-frameworks/python.section.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#79089 pythonPackages.django_classytags: 0.9.0 -> 1.0.0
  pkgs/development/python-modules/django_classytags/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#79015 prometheus-xmpp-alerts: init at 0.4.2
  nixos/modules/module-list.nix
  nixos/modules/services/monitoring/prometheus/xmpp-alerts.nix
  pkgs/servers/monitoring/prometheus/xmpp-alerts.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (new), 8.has: module (update), 8.has: package (new)

#79096 gitAndTools.git-workspace: 0.4.1 -> 0.5.0
  pkgs/applications/version-management/git-and-tools/git-workspace/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#79105 waf: 2.0.18 -> 2.0.19
  pkgs/development/tools/build-managers/waf/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#79013 openldap: 2.4.48 -> 2.4.49
  pkgs/development/libraries/openldap/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#79001 mtdev: 1.1.5 -> 1.1.6
  pkgs/development/libraries/mtdev/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#78797 postman: 7.16.0 -> 7.16.1
  pkgs/development/web/postman/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78808 pythonPackages.Babel: Fix build with Nix < 2.3
  pkgs/development/python-modules/Babel/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: python

#78715 ocaml-ng.ocamlPackages_4_10.ocaml: 4.10.0+β1 → 4.10.0+β2
  pkgs/development/compilers/ocaml/4.10.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#79000 Mons
  pkgs/tools/misc/mons/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#78850 socat: 1.7.3.3 -> 1.7.3.4
  pkgs/tools/networking/socat/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#77426 otter-browser: remove
  pkgs/applications/networking/browsers/otter/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#79091 jotta-cli: 0.6.18626 -> 0.6.21799
  pkgs/applications/misc/jotta-cli/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79116 zsh-powerlevel10k: 1.0 -> 1.1
  pkgs/applications/version-management/git-and-tools/gitstatus/default.nix
  pkgs/shells/zsh/zsh-powerlevel10k/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#79040 lilypond: allow building on Darwin
  pkgs/misc/lilypond/default.nix
  pkgs/misc/lilypond/unstable.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin

#79064 nixosTests.misc: port to python
  nixos/tests/misc.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#79124 Add kristian-brucaj to maintainer-list
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#79131 python3Packages.pandas: disable invalid tests
  pkgs/development/python-modules/pandas/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python

#79094 nodejs: v12.13.1 -> v12.14.1
  pkgs/development/web/nodejs/disable-libatomic-darwin.patch
  pkgs/development/web/nodejs/v12.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#76823 station: fix missing icon
  pkgs/applications/networking/station/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79113 heimer: 1.13.1 -> 1.15.0
  pkgs/applications/misc/heimer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#79138 gitAndTools.git-interactive-rebase-tool: remove patch
  pkgs/applications/version-management/git-and-tools/default.nix
  pkgs/applications/version-management/git-and-tools/git-interactive-rebase-tool/01-terminaltests.patch
  pkgs/applications/version-management/git-and-tools/git-interactive-rebase-tool/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#79134 protobuf3_11: 3.11.1 -> 3.11.3
  pkgs/development/libraries/protobuf/3.11.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78775 geant4: 10.5.1 -> 10.6.0
  pkgs/development/libraries/physics/geant4/datasets.nix
  pkgs/development/libraries/physics/geant4/default.nix
  pkgs/development/libraries/physics/geant4/g4py/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78543 nixos/dnscrypt-proxy2: init
  nixos/doc/manual/release-notes/rl-2003.xml
  nixos/modules/module-list.nix
  nixos/modules/rename.nix
  nixos/modules/services/networking/dnscrypt-proxy.nix
  nixos/modules/services/networking/dnscrypt-proxy.xml
  nixos/modules/services/networking/dnscrypt-proxy2.nix
  nixos/tests/all-tests.nix
  nixos/tests/dnscrypt-proxy2.nix
  pkgs/tools/networking/dnscrypt-proxy/1.x/default.nix
  pkgs/tools/networking/dnscrypt-proxy2/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation, 8.has: module (update)

#79108 mpv: use waf from distribution and wafHook helper
  pkgs/applications/video/mpv/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#79020 wimboot: Init at 2.6.0
  pkgs/tools/misc/wimboot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#78697 ocamlPackages.mlgmpidl: 1.2.11 → 1.2.12
  pkgs/development/ocaml-modules/mlgmpidl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml, 8.has: package (update)

#79121 dwarf-fortress: Update themes, add themes update script
  pkgs/games/dwarf-fortress/themes/themes.json
  pkgs/games/dwarf-fortress/themes/update.sh
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (new)

#79147 prometheus-xmpp-alerts: fix evaluation
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#79114 lyx: 2.3.0 -> 2.3.4
  pkgs/applications/misc/lyx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#79117 ktimetracker: init at 5.0.1
  pkgs/applications/office/ktimetracker/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#78749 qesteidutil: remove
  nixos/doc/manual/release-notes/rl-2003.xml
  pkgs/tools/security/qesteidutil/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation

#79129 oraclejdk8: remove dead code
  pkgs/development/compilers/oraclejdk/jdk-linux-base.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 8.has: package (new)

#78958 xca: 2.1.2 -> 2.2.1
  pkgs/applications/misc/xca/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78734 appdaemon: 3.0.5 -> 4.0.1
  pkgs/development/python-modules/deepdiff/default.nix
  pkgs/servers/home-assistant/appdaemon.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#78553 liquibase: 3.6.2 -> 3.8.5
  pkgs/development/tools/database/liquibase/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#79141 nixos/tests/openstack-image: add stdenv to image for nixos-rebuild
  nixos/tests/all-tests.nix
  nixos/tests/openstack-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#79090 python3Packages.tablib: 0.12.1 -> 1.0.0
  pkgs/development/python-modules/tablib/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: clean-up

#79149 dbeaver: 6.3.3 -> 6.3.4
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78859 elementary-planner: init at 2.1.1
  pkgs/applications/office/elementary-planner/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#79152 theme-jade1: 1.5 -> 1.6
  pkgs/data/themes/jade1/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#79145 editorconfig-checker: 2.0.2 -> 2.0.3
  pkgs/development/tools/misc/editorconfig-checker/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#79156 simgrid: 3.24 -> 3.25
  pkgs/applications/science/misc/simgrid/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#78960 nixos/ldap: remove redundant configuration options
  nixos/modules/config/ldap.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#79161 octave: build without qscintilla by default
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#79168 gnustep/base: replace libbfd with binutils-unwrapped
  pkgs/desktops/gnustep/base/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#78945 singularity-tools: fix buildImage
  pkgs/build-support/singularity-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0
