Repository NixOS/nixpkgs, pull requests merged in 2020-11, with the labels that each got.

#102279 ffsend: 0.2.65 -> 0.2.68
  pkgs/tools/misc/ffsend/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102095 armadillo: 10.1.0 -> 10.1.1
  pkgs/development/libraries/armadillo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102030 cloudflared: 2020.10.0 -> 2020.10.2
  pkgs/applications/networking/cloudflared/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102026 checksec: 2.2.3 -> 2.4.0
  pkgs/os-specific/linux/checksec/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102122 Init libdatrie, libthai, ibus-engines.libthai; build pango with libthai
  pkgs/development/libraries/libdatrie/default.nix
  pkgs/development/libraries/libthai/default.nix
  pkgs/development/libraries/pango/default.nix
  pkgs/tools/inputmethods/ibus-engines/ibus-libthai/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: package (new)

#102185 chrony: 3.5.1 -> 4.0
  pkgs/tools/networking/chrony/allow-clock_adjtime.patch
  pkgs/tools/networking/chrony/default.nix
  pkgs/tools/networking/chrony/fix-seccomp-build.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101673 libndctl: 69 -> 70.1
  pkgs/development/libraries/libndctl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#102303 gitAndTools.git-trim: 0.4.0 -> 0.4.2
  pkgs/applications/version-management/git-and-tools/git-trim/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102310 gitAndTools.git-gone: 0.3.6 -> 0.3.7
  pkgs/applications/version-management/git-and-tools/git-gone/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101073 pev: 2018-07-22 -> 2020-05-23
  pkgs/development/tools/analysis/pev/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#99421 Electron updates
  pkgs/development/tools/electron/default.nix
  pkgs/development/tools/electron/print-hashes.sh
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#102102 cshatag: init at 2019-12-03
  pkgs/os-specific/linux/cshatag/default.nix
  pkgs/os-specific/linux/cshatag/deps.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#102126 openblas: 0.3.10 -> 0.3.12
  pkgs/development/libraries/science/math/openblas/0001-Disable-optimised-aarch64-dgemm_beta-pending-fix.patch
  pkgs/development/libraries/science/math/openblas/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#102029 groff: set "operating system" for mdoc pages
  pkgs/tools/text/groff/site.tmac
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#101369 kdeApplications: Use latest qt515 by default
  nixos/modules/services/x11/desktop-managers/plasma5.nix
  nixos/modules/services/x11/display-managers/sddm.nix
  pkgs/applications/editors/kile/default.nix
  pkgs/applications/misc/tellico/default.nix
  pkgs/applications/networking/browsers/firefox/wrapper.nix
  pkgs/data/icons/maia-icon-theme/default.nix
  pkgs/desktops/lxqt/default.nix
  pkgs/desktops/plasma-5/default.nix
  pkgs/development/libraries/drumstick/default.nix
  pkgs/development/libraries/kdiagram/default.nix
  pkgs/development/libraries/kpmcore/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 3.skill: sprintable, 6.topic: nixos, 6.topic: qt/kde, 8.has: clean-up, 8.has: module (update), 8.has: package (new), 9.needs: port to stable

#100485 iortcw: init at 1.51c
  pkgs/games/iortcw/default.nix
  pkgs/games/iortcw/sp.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#102237 nixos/tlp: Fix deprecation hint
  nixos/modules/services/hardware/tlp.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#102259 fio: 3.22 -> 3.23
  pkgs/tools/system/fio/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102243 git-mediate: remove broken
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell, 8.has: package (new)

#102300 prosody: install prosody-migrator tool
  pkgs/servers/xmpp/prosody/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102346 rsync: disable the bundled zlib explicitly
  pkgs/applications/networking/sync/rsync/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#102270 [20.09] firefox{,-bin}: 82.0 -> 82.0.2
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102345 filebot: 4.9.1 -> 4.9.2
  pkgs/applications/video/filebot/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102339 gcsfuse: 0.30.0 -> 0.32.0
  pkgs/tools/filesystems/gcsfuse/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102337 fly: 6.6.0 -> 6.7.0
  pkgs/development/tools/continuous-integration/fly/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102327 chezmoi: 1.8.7 -> 1.8.8
  pkgs/tools/misc/chezmoi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102324 cargo-outdated: 0.9.11 -> 0.9.13
  pkgs/tools/package-management/cargo-outdated/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102328 compactor: 0.12.2 -> 1.0.0
  pkgs/applications/networking/compactor/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102314 tmuxp: 1.5.6 -> 1.5.8
  pkgs/tools/misc/tmuxp/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102326 checkstyle: 8.36.2 -> 8.37
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102291 facter: 3.14.13 -> 3.14.14
  pkgs/tools/system/facter/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102283 geekbench: 5.2.3 -> 5.2.5
  pkgs/tools/misc/geekbench/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102289 fnotifystat: 0.02.06 -> 0.02.07
  pkgs/os-specific/linux/fnotifystat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102292 flyway: 6.5.5 -> 7.1.1
  pkgs/development/tools/flyway/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102299 cde: update expression
  pkgs/tools/package-management/cde/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102288 fet-sh: 1.7 -> 1.8
  pkgs/tools/misc/fet-sh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102331 vkquake: 1.04.1 -> 1.05.0
  pkgs/games/quakespasm/vulkan.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#101886 systemd: introduce more options for a more minimal build
  pkgs/os-specific/linux/systemd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#102298 gnu-pw-mgr: 2.4.2 -> 2.7.4
  pkgs/tools/security/gnu-pw-mgr/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102336 discrete-scroll: added myself as maintainer
  maintainers/maintainer-list.nix
  pkgs/os-specific/darwin/discrete-scroll/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#102325 popeye: 0.8.10 -> 0.9.0
  pkgs/applications/networking/cluster/popeye/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#101553 Nextcloud: fix ldap integration
  nixos/modules/services/web-apps/nextcloud.nix
  pkgs/servers/nextcloud/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#102356 python3Packages.pyside,python3Packages.pysideTools,python3Packages.pysideShiboken,pysideApiExtractor,pysideGeneratorrunner: remove dependencies to python2
  pkgs/development/python-modules/pyside/apiextractor.nix
  pkgs/development/python-modules/pyside/default.nix
  pkgs/development/python-modules/pyside/generatorrunner.nix
  pkgs/development/python-modules/pyside/shiboken.nix
  pkgs/development/python-modules/pyside/tools.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#93826 ocamlPackages.bitstring: 3.0.0 -> 3.1.1
  pkgs/development/ocaml-modules/bitstring/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102132 ocamlPackages.lacaml: 11.0.6 → 11.0.8
  pkgs/development/ocaml-modules/lacaml/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#102329 mame: 0.225 -> 0.226
  pkgs/misc/emulators/mame/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#101984 python37Packages.css-parser: 1.0.5 -> 1.0.6
  pkgs/development/python-modules/css-parser/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#102359 [staging] openldap: add patch to fix unauthenticated nullptr dereference in slapd
  pkgs/development/libraries/openldap/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new), 9.needs: port to stable

#102367 neovim: dont wrap when configure is null
  pkgs/applications/editors/neovim/utils.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102357 skim: 0.9.1 -> 0.9.2
  pkgs/tools/misc/skim/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102217 exim: unconditionally build with dsearch lookups enabled
  pkgs/servers/mail/exim/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102366 youtube-dl: 2020-09-20 -> 2020.11.01.1
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 9.needs: port to stable

#102370 [staging-20.09] openldap: add patch to fix unauthenticated nullptr dereference in slapd
  pkgs/development/libraries/openldap/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#102371 [staging-20.03] openldap: add patch to fix unauthenticated nullptr dereference in slapd
  pkgs/development/libraries/openldap/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#102266 firefox{,-bin}: 80.0 -> 80.0.2
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#98838 tre-command: 0.3.2 -> 0.3.3
  pkgs/tools/system/tre-command/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102350 nixos/tests/prometheus: remove invalid thanos config flag
  nixos/tests/prometheus.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#102365 glslviewer: 2019-04-22 -> 1.6.8, use python3
  pkgs/development/tools/glslviewer/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102247 uutils-coreutils: Use Python3 sphinx for docs
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102248 ndn-cxx: 0.6.3 -> 0.7.1
  pkgs/development/libraries/ndn-cxx/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102375 csv_fast_export: use python3
  pkgs/applications/version-management/cvs-fast-export/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102349 zigbee2mqtt: 1.15.0 -> 1.16.0
  pkgs/servers/zigbee2mqtt/default.nix
  pkgs/servers/zigbee2mqtt/node-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101945 OSCAR: init at 1.2.0
  pkgs/applications/misc/OSCAR/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#102250 python3Packages.ovito: 3.0.0 -> 3.3.1
  pkgs/development/python-modules/ovito/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python

#102078 [20.09] libretro.mame2016: fix build with gnumake-4.3
  pkgs/misc/emulators/retroarch/cores.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91792 kakoune: rework plugin support
  doc/builders/packages/kakoune.xml
  pkgs/applications/editors/kakoune/default.nix
  pkgs/applications/editors/kakoune/wrapper.nix
  pkgs/applications/editors/kakoune/wrapper.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: documentation, 8.has: package (new)

#102386 nix-prefetch-github: v3.0 -> v4.0
  pkgs/development/python-modules/nix-prefetch-github/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#102319 ansible-lint: 4.3.5 -> 4.3.6
  pkgs/development/python-modules/ansible-lint/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#102382 tectonic: 0.2.0 -> 0.3.0
  pkgs/tools/typesetting/tectonic/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102377 xonsh: 0.9.23 -> 0.9.24
  pkgs/shells/xonsh/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#101319 xmlsec: fix build on macOS
  pkgs/development/libraries/xmlsec/default.nix
  pkgs/development/libraries/xmlsec/remove_bsd_base64_decode_flag.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin

#102373 [20.09] youtube-dl: 2020-09-20 -> 2020.11.01.1
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#102374 [20.03] youtube-dl: 2020-09-20 -> 2020.11.01.1
  pkgs/tools/misc/youtube-dl/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#102351 digikam: fix double wrapping
  pkgs/applications/graphics/digikam/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: qt/kde

#102264 wal_e: 0.6.10 -> 1.1.1
  pkgs/tools/backup/wal-e/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102119 clipgrab: 3.8.14 -> 3.8.15
  pkgs/applications/video/clipgrab/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102113 calligra: 3.2.0 -> 3.2.1
  pkgs/applications/office/calligra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102257 gensio: 2.1.4 -> 2.1.7
  pkgs/development/libraries/gensio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#102277 flexibee: 2020.2.3.1 -> 2020.2.6
  pkgs/applications/office/flexibee/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102262 fetchmail: 6.4.12 -> 6.4.13
  pkgs/applications/misc/fetchmail/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102258 fwts: 20.08.00 -> 20.09.00
  pkgs/os-specific/linux/fwts/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#102285 flmsg: 4.0.14 -> 4.0.17
  pkgs/applications/radio/flmsg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102403 python3Packages.google_cloud_pubsub: disable tests
  pkgs/development/python-modules/google_cloud_pubsub/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 9.needs: port to stable

#102409 [20.09] python3Packages.google_cloud_pubsub: disable tests
  pkgs/development/python-modules/google_cloud_pubsub/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#102233 dgraph: 20.07.1 -> 20.07.2
  pkgs/servers/dgraph/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102255 drumkv1: 0.9.16 -> 0.9.18
  pkgs/applications/audio/drumkv1/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102261 frostwire-bin: 6.8.5 -> 6.8.7
  pkgs/applications/networking/p2p/frostwire/frostwire-bin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102254 datovka: 4.15.2 -> 4.15.5
  pkgs/applications/networking/datovka/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102287 tridactyl-native: 1.20.1 -> 1.20.2
  pkgs/tools/networking/tridactyl-native/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102267 ginac: 1.7.9 -> 1.8.0
  pkgs/applications/science/math/ginac/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102294 gphoto2: 2.5.23 -> 2.5.26
  pkgs/applications/misc/gphoto2/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102232 exodus: 20.8.28 -> 20.10.23
  pkgs/applications/blockchains/exodus/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102046 dolt: 0.21.0 -> 0.21.1
  pkgs/servers/sql/dolt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102404 zeek: 3.2.1 -> 3.2.2
  pkgs/applications/networking/ids/zeek/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102312 gitlab-pages: 1.21.0 -> 1.28.0
  pkgs/servers/http/gitlab-pages/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102410 dnsdist: Replace myself with SuperSandro2000
  pkgs/servers/dns/dnsdist/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#102384 mkcert: 1.4.1 -> 1.4.2
  pkgs/development/tools/misc/mkcert/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#98670 tpm2-tss: 2.4.1 -> 3.0.1
  pkgs/development/libraries/tpm2-tss/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102252 enet: 1.3.15 -> 1.3.16
  pkgs/development/libraries/enet/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102416 liquidwar5: 5.6.4 -> 5.6.5, unbreak
  pkgs/games/liquidwar/5.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102430 gitAndTools.git-filter-repo: 2.28.0 -> 2.29.0
  pkgs/applications/version-management/git-and-tools/git-filter-repo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102427 groonga: 10.0.6 -> 10.0.8
  pkgs/servers/search/groonga/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102436 jackett: 0.16.1883 -> 0.16.1964
  pkgs/servers/jackett/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91675 cxxtest: package includes and run tests
  pkgs/development/libraries/cxxtest/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102469 Staging nss fixup
  pkgs/development/libraries/nss/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#102448 Systemd with the `remote` feature enabled by default
  nixos/tests/all-tests.nix
  nixos/tests/systemd-journal.nix
  pkgs/os-specific/linux/systemd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: nixos

#101503 angle-grinder: init at 0.15.0
  pkgs/tools/text/angle-grinder/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#102439 istioctl: 1.7.3 -> 1.7.4
  pkgs/applications/networking/cluster/istioctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102474 hr: 1.2 -> 1.3
  pkgs/applications/misc/hr/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102435 k9s: 0.22.1 -> 0.23.3
  pkgs/applications/networking/cluster/k9s/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101192 nginx: support basic auth in location blocks
  nixos/modules/services/web-servers/nginx/default.nix
  nixos/modules/services/web-servers/nginx/location-options.nix
  nixos/modules/services/web-servers/nginx/vhost-options.nix
  nixos/tests/all-tests.nix
  nixos/tests/nginx-auth.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#101766 kakounePlugins.rep: inherit from rep
  pkgs/applications/editors/kakoune/plugins/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#102477 [20.09] ghc:8.10.2Binary bootstrap for 8.8 on aarch64 (NixOS#97407) #101214
  pkgs/development/compilers/ghc/8.10.2-binary.nix
  pkgs/development/compilers/ghc/8.8.4.nix
  pkgs/top-level/haskell-packages.nix
Labels: 6.topic: haskell

#102238 platformio: 5.0.1 -> 5.0.2
  pkgs/development/arduino/platformio/chrootenv.nix
  pkgs/development/arduino/platformio/core.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#102456 i3lock: 2.12 -> 2.13
  pkgs/applications/window-managers/i3/lock.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102399 [20.09] openafs_1_8: disable for hardened kernels
  pkgs/servers/openafs/1.8/module.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#101713 omnisharp-roslyn: 1.37.1 -> 1.37.3
  pkgs/development/tools/omnisharp-roslyn/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102028 clevis: 14 -> 15
  pkgs/tools/security/clevis/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101707 nix-build-uncached: 1.0.0 -> 1.0.2
  pkgs/development/tools/misc/nix-build-uncached/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101721 openxr-loader: 1.0.11 -> 1.0.12
  pkgs/development/libraries/openxr-loader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101999 python37Packages.telethon-session-sqlalchemy: 0.2.15 -> 0.2.16
  pkgs/development/python-modules/telethon-session-sqlalchemy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#102031 codeql: 2.3.1 -> 2.3.2
  pkgs/development/tools/analysis/codeql/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101591 cproto: 4.7p -> 4.7q
  pkgs/development/tools/misc/cproto/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101691 minder: 1.9.2 -> 1.11.3
  pkgs/applications/misc/minder/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101667 leatherman: 1.12.1 -> 1.12.2
  pkgs/development/libraries/leatherman/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#101660 i3-gaps: 4.18.2 -> 4.18.3
  pkgs/applications/window-managers/i3/gaps.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101683 mandelbulber: 2.22 -> 2.23
  pkgs/applications/graphics/mandelbulber/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102240 unit: 1.19.0 -> 1.20.0
  pkgs/servers/http/unit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#101617 plex-mpv-shim: 1.8.0 -> 1.9.0
  pkgs/applications/video/plex-mpv-shim/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101373 byacc: 20200330 -> 20200910
  pkgs/development/tools/parsing/byacc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102459 hitch: 1.6.0 -> 1.7.0
  pkgs/servers/hitch/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101696 minio-client: 2020-08-08T02-33-58Z -> 2020-10-03T02-54-56Z
  pkgs/tools/networking/minio-client/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101675 libp11: 0.4.10 -> 0.4.11
  pkgs/development/libraries/libp11/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#102024 charliecloud: 0.19 -> 0.20
  pkgs/applications/virtualization/charliecloud/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102042 cytoscape: 3.8.1 -> 3.8.2
  pkgs/applications/science/misc/cytoscape/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101383 catch2: 2.12.3 -> 2.13.2
  pkgs/development/libraries/catch2/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#102037 coredns: 1.7.1 -> 1.8.0
  pkgs/servers/dns/coredns/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102057 fluent-bit: 1.6.0 -> 1.6.2
  pkgs/tools/misc/fluent-bit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102041 cutelyst: 2.12.0 -> 2.13.0
  pkgs/development/libraries/cutelyst/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#102304 gtkwave: 3.3.106 -> 3.3.107
  pkgs/applications/science/electronics/gtkwave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102302 intel-gmmlib: 20.2.5 -> 20.3.2
  pkgs/development/libraries/intel-gmmlib/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#102073 amdvlk: 2020.Q4.1 -> 2020.Q4.2
  pkgs/development/libraries/amdvlk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#102405 sudo-font: 0.51 -> 0.52
  pkgs/data/fonts/sudo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#100290 sozu: 0.11.46 -> 0.11.50; fix Darwin build
  pkgs/servers/sozu/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: darwin

#102496 kpcli: 3.4 -> 3.6
  pkgs/tools/security/kpcli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#101671 libfabric: 1.11.0 -> 1.11.1
  pkgs/os-specific/linux/libfabric/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#102305 libgnurl: 7.70.0 -> 7.72.0
  pkgs/development/libraries/libgnurl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#102380 musescore: 3.5.0 -> 3.5.2
  pkgs/applications/audio/musescore/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#102480 python3Packages.srsly: 2.3.0 -> 2.3.1
  pkgs/development/python-modules/srsly/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#102499 knightos-kpack: 1.1.0 -> 1.1.1
  pkgs/development/tools/knightos/kpack/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10
