Repository NixOS/nixpkgs, pull requests merged in 2020-09, with the labels that each got.

#96223 Make pkgsStatic set "static" argument to true
  lib/systems/default.nix
  pkgs/top-level/stage.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#96231 cockroachdb: 20.1.3 -> 20.1.4
  pkgs/servers/sql/cockroachdb/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96429 pcl: 1.11.0 -> 1.11.1
  pkgs/development/libraries/pcl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96721 vault: 1.5.2 -> 1.5.3
  pkgs/tools/security/vault/default.nix
  pkgs/tools/security/vault/vault-bin.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96227 ayatana-ido: 0.4.90 -> 0.8.0
  pkgs/development/libraries/ayatana-ido/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96165 tikzit: 2.1.5 -> 2.1.6
  pkgs/tools/typesetting/tikzit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96742 wolfssl: 4.4.0 -> 4.5.0
  pkgs/development/libraries/wolfssl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96711 solr: 8.5.2 -> 8.6.1
  pkgs/servers/search/solr/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96167 tilt: 0.17.0 -> 0.17.2
  pkgs/applications/networking/cluster/tilt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96737 wgetpaste: 2.29 -> 2.30
  pkgs/tools/text/wgetpaste/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96363 metabase: 0.36.2 -> 0.36.4
  pkgs/servers/metabase/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96736 wcslib: 7.3 -> 7.3.1
  pkgs/development/libraries/wcslib/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96100 openhantek6022: 3.1.1 -> 3.1.2
  pkgs/applications/science/electronics/openhantek6022/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96756 xlockmore: 5.64 -> 5.65
  pkgs/misc/screensavers/xlockmore/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96710 speechd: 0.9.1 -> 0.10.1
  pkgs/development/libraries/speechd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96722 todo-txt-cli: 2.11.0 -> 2.12.0
  pkgs/applications/office/todo.txt-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96354 libfilezilla: 0.23.0 -> 0.24.0
  pkgs/development/libraries/libfilezilla/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96848 ameba: 0.13.1 -> 0.13.2
  pkgs/development/tools/ameba/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96746 vim: 8.2.1123 -> 8.2.1522
  pkgs/applications/editors/vim/common.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: vim

#96064 minder: 1.9.1 -> 1.9.2
  pkgs/applications/misc/minder/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96444 pounce: 1.3p1 -> 1.4p2
  pkgs/servers/pounce/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96723 teamviewer: 15.5.6 -> 15.8.3
  pkgs/applications/networking/remote/teamviewer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96605 zabbix: 4.0.20 -> 4.0.24, 5.0.2 -> 5.0.3
  pkgs/servers/monitoring/zabbix/versions.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#96144 rust-cbindgen: 0.14.3 -> 0.14.4
  pkgs/development/tools/rust/cbindgen/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#96741 xapian: 1.4.16 -> 1.4.17
  pkgs/development/libraries/xapian/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#96740 xfractint: 20.04p15 -> 20.04p16
  pkgs/applications/graphics/xfractint/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96878 itk: 5.1.0 -> 5.1.1
  pkgs/development/libraries/itk/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96606 sparsehash: 2.0.3 -> 2.0.4
  pkgs/development/libraries/sparsehash/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96714 libgnomeui: Update patch URL.
  pkgs/desktops/gnome-2/platform/libgnomeui/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#96525 python3Packages.catalogue: 2.0.0 -> 2.0.1
  pkgs/development/python-modules/catalogue/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#96339 fossil: install man page and bash shell completions, use system sqlite
  pkgs/applications/version-management/fossil/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: clean-up

#96239 coqPackages.dpdgraph: init at 0.6.8 for Coq 8.12
  pkgs/development/coq-modules/dpdgraph/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq, 8.has: package (update)

#96025 postgresqlPackages.age: init at 0.2.0
  pkgs/servers/sql/postgresql/ext/age.nix
  pkgs/servers/sql/postgresql/packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96434 satysfi: 0.0.4 → 0.0.5
  pkgs/tools/typesetting/satysfi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (update)

#96887 adobe-reader: add knownVulnerabilities
  pkgs/applications/misc/adobe-reader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 9.needs: port to stable

#96891 ipfs-cluster: pin to go 1.14
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, awaiting_reviewer, marvin

#96837 nixos/cri-o: unset hooks dir to avoid dir creation on startup
  nixos/modules/virtualisation/cri-o.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#96328 ocamlPackages.merlin: 3.3.6 -> 3.3.8
  pkgs/development/tools/ocaml/merlin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (update)

#96010 thin-provisioning-tools: 0.7.6 -> 0.9.0
  pkgs/tools/misc/thin-provisioning-tools/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#96874 Update/android studio beta
  pkgs/applications/editors/android-studio/common.nix
  pkgs/applications/editors/android-studio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#95894 Agda: add release notes
  nixos/doc/manual/release-notes/rl-2009.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#96868 p11-kit: Add libtasn1 to nativeBuildInputs
  pkgs/development/libraries/p11-kit/default.nix
Labels: 2.status: merge conflict, 6.topic: cross-compilation, 6.topic: python, 6.topic: qt/kde, 8.has: documentation

#96447 firefox-beta-bin: 80.0b8 -> 81.0b4
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96894 portfolio: 0.47.0 -> 0.48.0
  pkgs/applications/office/portfolio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96750 zotero: 5.0.88 -> 5.0.89
  pkgs/applications/office/zotero/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96488 libtorch-bin: init at 1.6.0
  pkgs/development/libraries/science/math/libtorch/bin.nix
  pkgs/development/libraries/science/math/libtorch/binary-hashes.nix
  pkgs/development/libraries/science/math/libtorch/test/CMakeLists.txt
  pkgs/development/libraries/science/math/libtorch/test/default.nix
  pkgs/development/libraries/science/math/libtorch/test/test.cpp
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#96293 wasabiwallet: 1.1.11.1 -> 1.1.12
  pkgs/applications/blockchains/wasabiwallet/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#94031 qdirstat: 1.6.1 -> 1.7
  pkgs/applications/misc/qdirstat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, awaiting_merger, marvin

#96909 nixos/beanstalkd: add openFirewall option
  nixos/modules/services/misc/beanstalkd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#96907 python3Packages.transformers: 3.0.2 -> 3.1.0
  pkgs/development/python-modules/transformers/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#96913 python3Packages.solo-python: 0.0.23 -> 0.0.26
  pkgs/development/python-modules/solo-python/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#96462 texstudio: 2.12.22 -> 3.0.0
  pkgs/applications/editors/texstudio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94318 suitesparse-graphblas: 3.3.0 -> 3.3.3
  pkgs/development/libraries/science/math/suitesparse-graphblas/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: upstream changes reviewed

#96919 podman: 2.0.5 -> 2.0.6
  pkgs/applications/virtualization/podman/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94308 rpm-ostree: 2020.2 -> 2020.4
  pkgs/tools/misc/rpm-ostree/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: upstream changes reviewed

#96917 go: 1.15 -> 1.15.1
  pkgs/development/compilers/go/1.15.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: golang

#96880 etcd: 3.3.22 -> 3.3.25
  pkgs/servers/etcd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94485 cldr-emoji-annotation: 37.0_13.0_0_1 -> 37.0_13.0_0_2
  pkgs/data/misc/cldr-emoji-annotation/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#93802 libraw: 0.19.5 -> 0.20.0
  pkgs/development/libraries/libraw/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#95030 certbot: 1.6.0 -> 1.7.0
  pkgs/development/python-modules/certbot/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#96120 wxGTK*: Remove abandoned dependencies
  pkgs/development/libraries/wxwidgets/2.8/default.nix
  pkgs/development/libraries/wxwidgets/2.9/default.nix
  pkgs/development/libraries/wxwidgets/3.0/default.nix
  pkgs/development/libraries/wxwidgets/3.1/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#96905 ncspot: 0.2.1 -> 0.2.2
  pkgs/applications/audio/ncspot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#84542 [WIP] plasma5: 5.17.5 -> 5.18.5
  pkgs/desktops/plasma-5/fetch.sh
  pkgs/desktops/plasma-5/kde-gtk-config/0001-gsettings-schemas-path.patch
  pkgs/desktops/plasma-5/kde-gtk-config/default.nix
  pkgs/desktops/plasma-5/kde-gtk-config/patches/follow-symlinks.patch
  pkgs/desktops/plasma-5/kde-gtk-config/patches/gsettings.patch
  pkgs/desktops/plasma-5/kde-gtk-config/patches/series
  pkgs/desktops/plasma-5/kdeplasma-addons.nix
  pkgs/desktops/plasma-5/kinfocenter.nix
  pkgs/desktops/plasma-5/kscreen-417316.patch
  pkgs/desktops/plasma-5/kscreen.nix
  pkgs/desktops/plasma-5/ksysguard.nix
  pkgs/desktops/plasma-5/kwin/default.nix
  pkgs/desktops/plasma-5/plasma-desktop/default.nix
  pkgs/desktops/plasma-5/plasma-desktop/hwclock-path.patch
  pkgs/desktops/plasma-5/plasma-pa.nix
  pkgs/desktops/plasma-5/plasma-workspace/0001-startkde.patch
  pkgs/desktops/plasma-5/plasma-workspace/0002-absolute-wallpaper-install-dir.patch
  pkgs/desktops/plasma-5/plasma-workspace/default.nix
  pkgs/desktops/plasma-5/powerdevil.nix
  pkgs/desktops/plasma-5/srcs.nix
  pkgs/desktops/plasma-5/xdg-desktop-portal-kde.nix
  pkgs/development/libraries/kde-frameworks/default.nix
  pkgs/development/libraries/kde-frameworks/kquickcharts.nix
  pkgs/tools/misc/kdecoration-viewer/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500, 2.status: work-in-progress, 6.topic: qt/kde, 8.has: clean-up, 8.has: package (new)

#96918 doppler: 3.10.1 -> 3.10.3
  pkgs/tools/security/doppler/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#61019 platform.gcc.arch: support for AMD CPUs
  lib/systems/architectures.nix
  lib/systems/default.nix
  nixos/modules/services/misc/nix-daemon.nix
  pkgs/applications/science/math/nauty/default.nix
  pkgs/build-support/cc-wrapper/default.nix
  pkgs/development/interpreters/j/default.nix
  pkgs/development/libraries/dlib/default.nix
  pkgs/development/libraries/fflas-ffpack/default.nix
  pkgs/development/libraries/g2o/default.nix
  pkgs/development/libraries/givaro/default.nix
  pkgs/development/libraries/linbox/default.nix
  pkgs/development/libraries/qt-5/modules/qtbase.nix
  pkgs/development/python-modules/dlib/default.nix
  pkgs/development/python-modules/tensorflow/1/default.nix
  pkgs/development/python-modules/tensorflow/2/default.nix
  pkgs/servers/nosql/arangodb/default.nix
  pkgs/tools/misc/cpuminer-multi/default.nix
  pkgs/tools/networking/i2pd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: nixos, 6.topic: python, 6.topic: qt/kde, 8.has: module (update)

#96539 tunefish: init at unstable 2020-08-13
  pkgs/applications/audio/tunefish/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96702 linux-rt(,_latest): init at 5.4.61-rt37 and 5.6.19-rt12
  pkgs/os-specific/linux/kernel/linux-rt-5.4.nix
  pkgs/os-specific/linux/kernel/linux-rt-5.6.nix
  pkgs/os-specific/linux/kernel/update-rt.sh
  pkgs/os-specific/linux/kernel/update.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#96766 nixos/systemd: support adding and overriding tmpfiles.d via environment.etc
  nixos/modules/system/boot/systemd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#82308 surge: init at 1.7.1
  pkgs/applications/audio/surge/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96684 update some LV2 plugins
  pkgs/applications/audio/bchoppr/default.nix
  pkgs/applications/audio/bjumblr/default.nix
  pkgs/applications/audio/bschaffl/default.nix
  pkgs/applications/audio/dragonfly-reverb/default.nix
  pkgs/applications/audio/geonkick/default.nix
  pkgs/development/libraries/redkite/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96904 _1password-gui: 0.8.3-1 -> 0.8.4
  pkgs/tools/security/1password-gui/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96944 git-town: 7.3.0 → 7.4.0
  pkgs/tools/misc/git-town/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, awaiting_reviewer, marvin

#96879 deepin: register removal in release notes, aliases and module list
  nixos/doc/manual/release-notes/rl-2009.xml
  nixos/modules/rename.nix
  pkgs/top-level/aliases.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#96942 ocaml-ng.ocamlPackages_4_11.ocaml: 4.11.0 -> 4.11.1
  pkgs/development/compilers/ocaml/4.11.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#96282 godu: init at 1.3.0
  maintainers/maintainer-list.nix
  pkgs/tools/misc/godu/default.nix
  pkgs/tools/misc/godu/go-mod.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96892 oci-seccomp-bpf-hook: move to linuxPackages
  pkgs/os-specific/linux/oci-seccomp-bpf-hook/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 8.has: clean-up, 8.has: package (new)

#96761 nixos/containers: add oci-seccomp-bpf-hook
  nixos/modules/virtualisation/containers.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#96945 chromedriver: 83.0.4103.39 -> 85.0.4183.87
  pkgs/development/tools/selenium/chromedriver/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96042 treewide: completely remove types.loaOf
  lib/modules.nix
  lib/types.nix
  nixos/doc/manual/administration/boot-problems.xml
  nixos/doc/manual/administration/imperative-containers.xml
  nixos/doc/manual/configuration/file-systems.xml
  nixos/doc/manual/configuration/ipv4-config.xml
  nixos/doc/manual/configuration/ipv6-config.xml
  nixos/doc/manual/configuration/luks-file-systems.xml
  nixos/doc/manual/configuration/network-manager.xml
  nixos/doc/manual/configuration/ssh.xml
  nixos/doc/manual/configuration/user-mgmt.xml
  nixos/doc/manual/development/option-types.xml
  nixos/doc/manual/installation/changing-config.xml
  nixos/doc/manual/installation/installing-from-other-distro.xml
  nixos/doc/manual/installation/installing.xml
  nixos/doc/manual/release-notes/rl-2003.xml
  nixos/doc/manual/release-notes/rl-2009.xml
  nixos/lib/make-options-doc/options-to-docbook.xsl
  nixos/modules/config/users-groups.nix
  nixos/modules/installer/cd-dvd/sd-image-raspberrypi4.nix
  nixos/modules/installer/tools/nixos-option/nixos-option.cc
  nixos/modules/programs/ssh.nix
  nixos/modules/programs/tsm-client.nix
  nixos/modules/security/pam.nix
  nixos/modules/services/backup/znapzend.nix
  nixos/modules/services/desktops/geoclue2.nix
  nixos/modules/services/hardware/sane_extra_backends/brscan4.nix
  nixos/modules/services/networking/hylafax/options.nix
  nixos/modules/services/networking/nylon.nix
  nixos/modules/services/networking/prosody.nix
  nixos/modules/services/networking/prosody.xml
  nixos/modules/services/networking/ssh/sshd.nix
  nixos/modules/services/security/tor.nix
  nixos/modules/system/boot/luksroot.nix
  nixos/modules/system/boot/stage-1.nix
  nixos/modules/system/etc/etc.nix
  nixos/modules/tasks/encrypted-devices.nix
  nixos/modules/tasks/filesystems.nix
  nixos/modules/tasks/network-interfaces.nix
  nixos/modules/virtualisation/nixos-containers.nix
  nixos/modules/virtualisation/railcar.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#96937 strigi: drop
  nixos/modules/programs/environment.nix
  pkgs/development/libraries/strigi/default.nix
  pkgs/development/libraries/strigi/export_bufferedstream.patch
  pkgs/development/libraries/strigi/gcc6.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: clean-up, 8.has: module (update)

#96677 plex: 1.19 -> 1.20
  pkgs/servers/plex/raw.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#96738 dbeaver: 7.1.5 -> 7.2.0
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#94917 nixos/biboumi: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/biboumi.nix
  pkgs/servers/xmpp/biboumi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#96926 limesurvey: 3.17.12+190823 -> 3.23.0+200813
  pkgs/servers/limesurvey/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, marvin, needs_reviewer

#96883 python3Packages.cirq: unbreak
  pkgs/development/python-modules/cirq/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#94637 emacs: Make gccemacs build on darwin
  pkgs/applications/editors/emacs/generic.nix
  pkgs/development/compilers/gcc/9/default.nix
  pkgs/development/compilers/gcc/builder.sh
  pkgs/development/compilers/gcc/common/pre-configure.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: darwin, 6.topic: emacs

#96911 glibmm: Add glib to nativeBuildInputs
  pkgs/development/libraries/glibmm/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: cross-compilation

#96855 rustup: add zlib as runtime dependency
  pkgs/development/tools/rust/rustup/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96831 numworks: init udev rules and module
  pkgs/os-specific/linux/numworks-udev-rules/50-numworks-calculator.rules
  pkgs/os-specific/linux/numworks-udev-rules/default.nix
  pkgs/os-specific/linux/numworks-udev-rules/update.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96948 pitivi: fix build
  pkgs/applications/video/pitivi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96925 nixos/gpaste: return sessionPath
  nixos/modules/programs/gpaste.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#92799 Zettlr: init at 1.7.5
  pkgs/applications/misc/zettlr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96500 python27Packages.elasticsearch: 7.8.1 -> 7.9.1
  pkgs/development/python-modules/elasticsearch/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#96973 portfolio: 0.48.0 -> 0.48.1
  pkgs/applications/office/portfolio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96972 [20.03] signal-desktop: 1.34.5 -> 1.35.1
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96563 cudnn: skip libcudnn_cnn_infer.so, instead of removing
  pkgs/development/libraries/science/math/cudnn/generic.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#96402 Fix Bazel on macOS
  pkgs/development/tools/build-managers/bazel/bazel_0_26/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_0_29/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_1/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_3/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: darwin, 8.has: package (new)

#96562 build-bazel-package: add dontAddBazelOpts arg
  pkgs/build-support/build-bazel-package/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#96965 gitAndTools.gita: 0.10.9 -> 0.10.10
  pkgs/applications/version-management/git-and-tools/gita/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96310 update qcad to 3.25.0.0
  pkgs/applications/misc/qcad/application-dir.patch
  pkgs/applications/misc/qcad/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96930 go_1_14: 1.14.7 -> 1.14.8
  pkgs/development/compilers/go/1.14.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: golang

#96561 python3Packages.jupyterhub-ldapauthenticator: 1.3.1 -> 1.3.2, fix build
  pkgs/development/python-modules/jupyterhub-ldapauthenticator/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#96943 ibm-plex: 5.1.0 -> 5.1.3
  pkgs/data/fonts/ibm-plex/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96971 terraform: 0.13.1 -> 0.13.2
  pkgs/applications/networking/cluster/terraform/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96501 python3Packages.phonopy: fix build and tests
  pkgs/development/python-modules/phonopy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#96728 goreplay: init at 1.1.0
  pkgs/tools/networking/goreplay/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96893 [20.03] adobe-reader: add knownVulnerabilities
  pkgs/applications/misc/adobe-reader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#96474 libreoffice-fresh: 6.4.3.2 -> 7.0.0.3
  pkgs/applications/office/libreoffice/default.nix
  pkgs/applications/office/libreoffice/src-fresh/download.nix
  pkgs/applications/office/libreoffice/src-fresh/primary.nix
  pkgs/applications/office/wpsoffice/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#96494 j: j901e -> j901f
  pkgs/development/interpreters/j/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#89748 nixos/krb5: allow lists in configuration
  nixos/modules/config/krb5/default.nix
  nixos/tests/krb5/example-config.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#95910 texinfo: 6.5 -> 6.7; fix cross compiling
  pkgs/development/tools/misc/texinfo/6.5.nix
  pkgs/development/tools/misc/texinfo/6.7.nix
  pkgs/development/tools/misc/texinfo/common.nix
  pkgs/development/tools/misc/texinfo/perl.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: cross-compilation

#96997 programs.zsh: remove unnecessary `with`
  nixos/modules/programs/zsh/oh-my-zsh.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#97003 gst_all_1.gst-rtsp-server: fix pkgconfig includedir and libdir
  pkgs/development/libraries/gstreamer/rtsp-server/default.nix
  pkgs/development/libraries/gstreamer/rtsp-server/fix_pkgconfig_includedir.patch
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96595 pinnwand: 1.2.1 -> 1.2.2
  pkgs/servers/pinnwand/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#86663 left4gore: Init at 2.3
  pkgs/games/left4gore/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#96966 liberation_ttf: Fix cross-compiling
  pkgs/data/fonts/liberation-fonts/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: cross-compilation

#97011 direnv: 2.21.3 -> 2.22.0
  pkgs/tools/misc/direnv/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#95760 Add vscode-json-languageserver-bin node package
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#96564 murmur: support building with grpc
  pkgs/applications/networking/mumble/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#97006 fpc: 3.0.4 -> 3.2.0, add support for aarch64-linux
  pkgs/development/compilers/fpc/binary.nix
  pkgs/development/compilers/fpc/default.nix
  pkgs/development/compilers/fpc/mark-paths.patch
  pkgs/games/hedgewars/default.nix
  pkgs/games/ultrastardx/default.nix
  pkgs/tools/system/ddrescueview/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#96970 dash: Fix cross build
  pkgs/shells/dash/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#97031 hedgewars: fix build on aarch64
  pkgs/games/hedgewars/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#96900 zotero: fix reliance on coreutils being in PATH
  pkgs/applications/office/zotero/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#97026 emacs: Add missing patches to the Emacs derivations
  pkgs/applications/editors/emacs/generic.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: emacs

#96932 gtg: Run tests
  pkgs/applications/office/gtg/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#93631 k2pdfopt: 2.51a -> 2.53
  pkgs/applications/misc/k2pdfopt/0001-Fix-CMakeLists.patch
  pkgs/applications/misc/k2pdfopt/default.nix
  pkgs/applications/misc/k2pdfopt/k2pdfopt-mupdf-1.16.1.patch
  pkgs/applications/misc/k2pdfopt/k2pdfopt.patch
  pkgs/applications/misc/k2pdfopt/leptonica.patch
  pkgs/applications/misc/k2pdfopt/mupdf.patch
  pkgs/applications/misc/k2pdfopt/tesseract.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96523 netdata: 1.23.2 -> 1.24.0
  pkgs/tools/system/netdata/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96567 gocryptfs: 1.7.1 -> 1.8.0
  pkgs/tools/filesystems/gocryptfs/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96863 zigbee2mqtt: 1.14.2 -> 1.14.3
  pkgs/servers/zigbee2mqtt/default.nix
  pkgs/servers/zigbee2mqtt/node-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#96269 treewide: convert patch series files to Nix expressions
  lib/strings.nix
  pkgs/applications/kde/akonadi/default.nix
  pkgs/applications/kde/grantleetheme/default.nix
  pkgs/applications/kde/kdepim-apps-libs/default.nix
  pkgs/applications/kde/kdepim-runtime/default.nix
  pkgs/desktops/plasma-5/breeze-plymouth/default.nix
  pkgs/desktops/plasma-5/breeze-plymouth/series
  pkgs/desktops/plasma-5/kwin/default.nix
  pkgs/desktops/plasma-5/libkscreen/default.nix
  pkgs/desktops/plasma-5/libkscreen/series
  pkgs/desktops/plasma-5/plasma-desktop/default.nix
  pkgs/desktops/plasma-5/plasma-desktop/series
  pkgs/development/libraries/grantlee/5/default.nix
  pkgs/development/libraries/grantlee/5/series
  pkgs/development/libraries/kde-frameworks/extra-cmake-modules/default.nix
  pkgs/development/libraries/kde-frameworks/extra-cmake-modules/series
  pkgs/development/libraries/kde-frameworks/kauth/default.nix
  pkgs/development/libraries/kde-frameworks/kauth/series
  pkgs/development/libraries/kde-frameworks/kcmutils/default.nix
  pkgs/development/libraries/kde-frameworks/kdelibs4support/default.nix
  pkgs/development/libraries/kde-frameworks/kdelibs4support/series
  pkgs/development/libraries/kde-frameworks/kfilemetadata/default.nix
  pkgs/development/libraries/kde-frameworks/kfilemetadata/series
  pkgs/development/libraries/kde-frameworks/kiconthemes/default.nix
  pkgs/development/libraries/kde-frameworks/kiconthemes/series
  pkgs/development/libraries/kde-frameworks/kinit/default.nix
  pkgs/development/libraries/kde-frameworks/kinit/series
  pkgs/development/libraries/kde-frameworks/kio/default.nix
  pkgs/development/libraries/kde-frameworks/kio/series
  pkgs/development/libraries/kde-frameworks/kpackage/default.nix
  pkgs/development/libraries/kde-frameworks/kpackage/series
  pkgs/development/libraries/kde-frameworks/kservice/default.nix
  pkgs/development/libraries/kde-frameworks/kservice/series
  pkgs/development/libraries/kde-frameworks/kwindowsystem/default.nix
  pkgs/development/libraries/kde-frameworks/kwindowsystem/series
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: qt/kde

#96986 svlint: init at 0.4.7
  pkgs/development/tools/analysis/svlint/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new), awaiting_reviewer, marvin

#95983 bambootracker: 0.4.3 -> 0.4.4
  pkgs/applications/audio/bambootracker/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96940 cordless: init at 2020-08-30
  pkgs/applications/networking/instant-messengers/cordless/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#94506 honggfuzz: 2.2 -> 2.3.1
  pkgs/tools/security/honggfuzz/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#97035 buildah: 1.15.1 -> 1.15.2
  pkgs/development/tools/buildah/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#97046 hydra-unstable: 2020-08-04 -> 2020-09-02
  pkgs/development/tools/misc/hydra/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 9.needs: port to stable

#97022 krohnkite,kwin-tiling: fix typo
  pkgs/desktops/plasma-5/kwin/scripts/krohnkite.nix
  pkgs/desktops/plasma-5/kwin/scripts/tiling.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: qt/kde

#91092 nixos/systemd: Don't use apply for $PATH
  nixos/doc/manual/release-notes/rl-2009.xml
  nixos/modules/system/boot/systemd-unit-options.nix
  nixos/modules/system/boot/systemd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#97057 snippetpixie: 1.3.3 -> 1.4.1
  pkgs/tools/text/snippetpixie/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#97052 haskellPackages.ghcide: Fix build
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 6.topic: haskell

#96990 recursive: 1.062 -> 1.064
  pkgs/data/fonts/recursive/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#97029 yabai: 3.2.1 -> 3.3.0
  pkgs/os-specific/darwin/yabai/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer

#96989 rclone: 1.52.3 -> 1.53.0
  pkgs/applications/networking/sync/rclone/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96994 croc: 8.0.13 -> 8.3.0
  pkgs/tools/networking/croc/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#97059 yarn: 1.22.4 -> 1.22.5
  pkgs/development/tools/yarn/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#97069 argo: 2.10.0 -> 2.10.1
  pkgs/applications/networking/cluster/argo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#97024 securefs: 0.8.3 -> 0.11.1
  pkgs/tools/filesystems/securefs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#97010 git-lfs: 2.11.0 -> 2.12.0
  pkgs/applications/version-management/git-lfs/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#96959 intltool: fix cross-platform build
  pkgs/development/tools/misc/intltool/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: cross-compilation

#96884 [20.03] firejail: add patches to fix CVE-2020-17367 and CVE-2020-17368
  pkgs/os-specific/linux/firejail/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10
