Repository NixOS/nixpkgs, pull requests merged in 2020-07, with the labels that each got.

#91887 yq-go: 3.3.1 -> 3.3.2
  pkgs/development/tools/yq-go/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91891 zef: 0.8.4 -> 0.8.5
  pkgs/development/interpreters/rakudo/zef.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91843 nodejs: 12.18.1 -> 12.18.2, 14.4.0 -> 14.5.0
  pkgs/development/web/nodejs/nodejs.nix
  pkgs/development/web/nodejs/v12.nix
  pkgs/development/web/nodejs/v14.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#91862 terraform-ls: 0.3.2 -> 0.4.0
  pkgs/development/tools/misc/terraform-ls/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91863 thanos: 0.12.2 -> 0.13.0
  pkgs/servers/monitoring/thanos/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91859 targetcli: 2.1.51 -> 2.1.53
  pkgs/os-specific/linux/targetcli/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91856 sslyze: 3.0.7 -> 3.0.8
  pkgs/development/python-modules/sslyze/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#91892 zlog: 1.2.14 -> 1.2.15
  pkgs/development/libraries/zlog/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#91870 toot: 0.26.0 -> 0.27.0
  pkgs/applications/misc/toot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91832 qbec: 0.12.0 -> 0.12.1
  pkgs/applications/networking/cluster/qbec/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#90368 anki: more no-op exp cleanup
  pkgs/games/anki/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91841 souffle: 1.7.1 -> 2.0.0
  pkgs/development/compilers/souffle/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91898 [20.03] vault: 1.3.2 -> 1.3.6
  pkgs/tools/security/vault/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91874 Fix typo
  nixos/lib/testing-python.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#91852 simplenote: 1.17.0 -> 1.19.0
  pkgs/applications/misc/simplenote/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#89643 micronaut: 1.3.5 -> 1.3.6
  pkgs/development/tools/micronaut/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91801 coturn: 4.5.1.2 -> 4.5.1.3
  pkgs/servers/coturn/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91849 sequeler: 0.7.91 -> 0.8.0
  pkgs/applications/misc/sequeler/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91515 onnxruntime: 1.2.0 -> 1.3.1
  pkgs/development/libraries/onnxruntime/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#91875 haskellPackages: cleaning up obsolete overrides (12/x)
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell

#91876 haskellPackages: cleaning up obsolete overrides (13/x)
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: haskell

#91881 haskellPackages: cleaning up obsolete overrides (15/x)
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: haskell

#91884 haskellPackages: cleaning up obsolete overrides (16/x)
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: haskell

#91885 haskellPackages: cleaning up obsolete overrides (17/x)
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: haskell

#91877 waylandpp: 0.2.7 -> 0.2.8
  pkgs/development/libraries/waylandpp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#65231 grub: add support for passwords
  nixos/doc/manual/development/writing-nixos-tests.xml
  nixos/lib/test-driver/test-driver.py
  nixos/modules/system/boot/loader/grub/grub.nix
  nixos/modules/system/boot/loader/grub/install-grub.pl
  nixos/tests/all-tests.nix
  nixos/tests/grub.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#91899 bctoolbox: 4.3.1 -> 4.4.0
  pkgs/development/libraries/bctoolbox/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#91823 dpdk: 19.11 -> 20.05
  pkgs/development/libraries/spdk/default.nix
  pkgs/os-specific/linux/dpdk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#90451 nimmm: init at 0.1.2
  maintainers/maintainer-list.nix
  pkgs/applications/misc/nimmm/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#91867 [20.03] openafs_1_8: 1.8.5 -> 1.8.6
  pkgs/servers/openafs/1.8/module.nix
  pkgs/servers/openafs/1.8/srcs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#91903 linuxPackages_hardened.bcc: 0.14.0 -> 0.15.0
  pkgs/os-specific/linux/bcc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#91882 pidgin: now builds and runs on osx
  pkgs/applications/networking/instant-messengers/pidgin/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (new)

#91840 pythonPackages.selectors2: fix build by disabling failing test_above_fd_setsize
  pkgs/development/python-modules/selectors2/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#91835 nixos-container: Pass through several Nix flags
  pkgs/tools/virtualization/nixos-container/nixos-container.pl
Labels: 0.kind: enhancement, 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6. topic: nixos-container, 6.topic: nixos

#91811 gitlab-runner: remove additional binaries
  pkgs/development/tools/continuous-integration/gitlab-runner/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#91911 kbs2: init at 0.1.1
  pkgs/tools/security/kbs2/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#91912 closurecompiler: 20200517 -> 20200614
  pkgs/development/compilers/closure/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#91907 cherrytree: 0.39.3 -> 0.39.4
  pkgs/applications/misc/cherrytree/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91905 asciidoctorj: 2.3.0 -> 2.3.1
  pkgs/tools/typesetting/asciidoctorj/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: documentation

#91909 cockroachdb: 19.1.5 -> 20.1.2
  pkgs/servers/sql/cockroachdb/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91897 abcm2ps: 8.14.7 -> 8.14.9
  pkgs/tools/audio/abcm2ps/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91437 ocamlPackages.camlp5: 7.11 → 7.12
  pkgs/development/tools/ocaml/camlp5/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: ocaml, 8.has: package (update)

#91858 suitesparse-graphblas: 3.2.2 -> 3.3.0
  pkgs/development/libraries/science/math/suitesparse-graphblas/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91793 flightgear: 2019.1.1 -> 2020.1.3, simgear: 2020.1.{1 -> 3}
  pkgs/development/libraries/simgear/default.nix
  pkgs/games/flightgear/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, marvin, needs_work

#91395 mdbtools: 0.7.1 -> 0.8.2
  pkgs/tools/misc/mdbtools/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91901 [20.03] yaru-theme: fix #91710
  pkgs/data/themes/yaru/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91839 robin-map: 0.6.2 -> 0.6.3
  pkgs/development/libraries/robin-map/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91854 luaPackages.readline: init at 2.6-0
  maintainers/scripts/luarocks-packages.csv
  pkgs/development/lua-modules/generated-packages.nix
  pkgs/development/lua-modules/overrides.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: lua, 8.has: package (new)

#91904 baobab: 3.34.0 -> 3.34.1
  pkgs/desktops/gnome-3/core/baobab/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: gnome3

#69752 persepolis: 3.1.0 -> 3.2.0
  pkgs/tools/networking/persepolis/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#91532 ansifilter: extend build to include Darwin
  pkgs/tools/text/ansifilter/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#91902 blender: 2.83.0 -> 2.83.1
  pkgs/applications/misc/blender/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91810 frama-c: 21.0 (Scandium) → 21.1 (Scandium)
  pkgs/development/tools/analysis/frama-c/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (update)

#91921 PerconaToolkit: use shortenPerlShebang
  pkgs/development/perl-modules/Percona-Toolkit/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91924 heroku: 7.41.1 -> 7.42.2
  pkgs/development/tools/heroku/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#91947 ghc810x: remove obsolete overrides (2/x)
  pkgs/development/haskell-modules/configuration-ghc-8.10.x.nix
Labels: 6.topic: haskell

#91879 haskellPackages: cleaning up obsolete overrides (14/x)
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: haskell

#82718 nixos/lib/make-ext4-fs: use mkfs.ext4 instead of cptofs
  nixos/lib/make-ext4-fs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#91913 zeal: 0.6.1 -> 0.6.999
  pkgs/data/documentation/zeal/default.nix
  pkgs/data/documentation/zeal/remove_ads.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: documentation

#91328 protonvpn-cli-ng: 2.2.2 -> 2.2.4
  pkgs/applications/networking/protonvpn-cli-ng/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91919 ceph: 14.2.9 -> 14.2.10
  pkgs/tools/filesystems/ceph/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91465 ocamlPackages.buildOasis: fix handling of installation prefix
  pkgs/build-support/ocaml/oasis.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: clean-up

#91954 Fix typos in documentation (#91934)
  doc/using/configuration.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#91617 ArchiSteamFarm: 4.2.2.1 -> 4.2.3.3
  pkgs/applications/misc/ArchiSteamFarm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#91942 cypress: 4.8.0 -> 4.9.0
  pkgs/development/web/cypress/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91722 quartus-prime-lite: 19.1 -> 20.1
  pkgs/applications/editors/quartus-prime/default.nix
  pkgs/applications/editors/quartus-prime/vsim.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91720 nixos/doc/manual: Fix parted's set subcommand for esp partition
  nixos/doc/manual/installation/installing.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: documentation

#91672 syslinux: make reproducible
  pkgs/os-specific/linux/syslinux/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91977 gitAndTools.delta: 0.1.1 -> 0.2.0
  pkgs/applications/version-management/git-and-tools/default.nix
  pkgs/applications/version-management/git-and-tools/delta/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#91992 chezmoi: 1.8.2 -> 1.8.3
  pkgs/tools/misc/chezmoi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91985 kubectx: 0.9.0 -> 0.9.1
  pkgs/development/tools/kubectx/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91993 circleci-cli: 0.1.8302 -> 0.1.8599
  pkgs/development/tools/misc/circleci-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91988 amass: 3.7.2 -> 3.7.3
  pkgs/tools/networking/amass/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91997 ergo: 3.2.6 -> 3.2.7
  pkgs/applications/blockchains/ergo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91995 cni: 0.7.1 -> 0.8.0
  pkgs/applications/networking/cluster/cni/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91996 dua: 2.6.1 -> 2.8.1
  pkgs/tools/misc/dua/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91949 tint2: fix doc directory
  pkgs/applications/misc/tint2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#91834 rclone: 1.52.1 -> 1.52.2
  pkgs/applications/networking/sync/rclone/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#92044 lean: 3.16.2 -> 3.16.5
  pkgs/applications/science/logic/lean/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91268 [20.03] sane-backends: 1.0.28 -> 1.0.30
  pkgs/applications/graphics/sane/backends/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#92003 flow: 0.127.0 -> 0.128.0
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92041 kube-router: 0.4.0 -> 1.0.0
  pkgs/applications/networking/cluster/kube-router/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92011 janet: 1.10.0 -> 1.10.1
  pkgs/development/interpreters/janet/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92005 ft2-clone: 1.25_fix -> 1.26
  pkgs/applications/audio/ft2-clone/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92042 kubeless: 1.0.6 -> 1.0.7
  pkgs/applications/networking/cluster/kubeless/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91982 pythonPackages.semver: 2.8.1 -> 2.10.2
  pkgs/development/python-modules/apache-airflow/default.nix
  pkgs/development/python-modules/flask-appbuilder/default.nix
  pkgs/development/python-modules/semver/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#91245 [20.03] libreswan: 3.31 -> 3.32
  pkgs/tools/networking/libreswan/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (update), 8.has: port to stable

#89043 utillinux: 2.35.1 -> 2.35.2
  pkgs/os-specific/linux/util-linux/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#91533 python3Packages.setuptools: 46.1.3 -> 47.3.1
  pkgs/development/python-modules/setuptools/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: python

#91991 avahi: fix cross
  pkgs/development/libraries/avahi/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#91943 adoptopenjdk: 8u242 -> 8u252 and other updates
  pkgs/development/compilers/adoptopenjdk-bin/sources.json
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 8.has: package (new)

#91607 elfutils: 0.176 -> 0.180
  pkgs/development/tools/misc/elfutils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 8.has: package (update)

#91539 check: 0.14.0 -> 0.15.0
  pkgs/development/libraries/check/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#91457 Fixes from prefixed pkg config
  pkgs/development/libraries/SDL2/default.nix
  pkgs/development/libraries/avahi/default.nix
  pkgs/development/libraries/openldap/default.nix
  pkgs/development/tools/misc/strace/default.nix
  pkgs/misc/emulators/retroarch/default.nix
  pkgs/os-specific/linux/crda/default.nix
  pkgs/servers/pulseaudio/default.nix
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#91272 python3Packages.pip: allow setting reproducible temporary directory via NIX_PIP_INSTALL_TMPDIR
  pkgs/development/interpreters/python/hooks/pip-install-hook.sh
  pkgs/development/python-modules/pip/default.nix
  pkgs/development/python-modules/pip/reproducible.patch
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: python

#90464 Tremor location fix
  pkgs/development/libraries/tremor/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#86293 gnumake: 4.2.1 -> 4.3
  pkgs/development/tools/build-managers/gnumake/4.2/glibc-2.27-glob.patch
  pkgs/development/tools/build-managers/gnumake/4.2/impure-dirs.patch
  pkgs/development/tools/build-managers/gnumake/4.2/pselect.patch
  pkgs/development/tools/build-managers/gnumake/default.nix
  pkgs/development/tools/build-managers/gnumake/impure-dirs.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 8.has: clean-up

#91112 sqlite: 3.32.2 -> 3.32.3
  pkgs/development/libraries/sqlite/analyzer.nix
  pkgs/development/libraries/sqlite/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#91821 opencl-headers: 2020.03.13 -> 2020.06.16
  pkgs/development/libraries/opencl-headers/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#90314 c-blosc: 1.18.1 -> 1.19.0
  pkgs/development/libraries/c-blosc/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500

#91989 [20.03] ceph: 14.2.9 -> 14.2.10
  pkgs/tools/filesystems/ceph/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91017 cryptsetup: 2.1.0 -> 2.3.3
  pkgs/development/python-modules/blivet/default.nix
  pkgs/os-specific/linux/cryptsetup/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 6.topic: python, 8.has: package (update)

#90719 kdenlive: fix core dump on file open
  pkgs/applications/kde/kdenlive.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: qt/kde

#91890 texlive bin: fix poppler compatibility patch urls
  pkgs/tools/typesetting/tex/texlive/bin.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: TeX, 9.needs: port to stable

#91860 tcpreplay: 4.3.2 -> 4.3.3
  pkgs/tools/networking/tcpreplay/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91878 workcraft: 3.2.6 -> 3.3.0
  pkgs/applications/science/logic/workcraft/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91893 aeolus: 0.9.8 -> 0.9.9
  pkgs/applications/audio/aeolus/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91873 ulauncher: 5.7.3 -> 5.8.0
  pkgs/applications/misc/ulauncher/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91957 telepathy-qt: 0.9.7 -> 0.9.8
  pkgs/development/libraries/telepathy/qt/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#91836 rmapi: 0.0.11 -> 0.0.12
  pkgs/applications/misc/remarkable/rmapi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91886 xxHash: 0.7.3 -> 0.7.4
  pkgs/development/libraries/xxHash/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#91844 rust-cbindgen: 0.14.2 -> 0.14.3
  pkgs/development/tools/rust/cbindgen/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91910 calibre: 4.17.0 -> 4.19.0
  pkgs/applications/misc/calibre/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91344 ZFS: Ask for stage 2 encryption passwords using systemd-ask-password
  nixos/modules/system/boot/plymouth.nix
  nixos/modules/tasks/filesystems/zfs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#91589 ccache: 3.4.1 -> 3.7.10
  pkgs/development/tools/misc/ccache/default.nix
  pkgs/development/tools/misc/ccache/fix-debug-prefix-map-suite.patch
  pkgs/development/tools/misc/ccache/skip-fs-dependent-test.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#92007 heimer: 1.17.0 -> 1.18.0
  pkgs/applications/misc/heimer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#90588 pythonPackages.canopen: 0.5.1 -> 1.1.0
  pkgs/development/python-modules/canopen/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#92082 python3Packages.canmatrix: 0.8.0 -> 0.9.1
  pkgs/development/python-modules/canmatrix/default.nix
Labels: 6.topic: python

#91972 pmd: 6.17.0 -> 6.25.0, fix runtime
  pkgs/development/tools/analysis/pmd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#90883 json-c: 0.13.1 -> 0.14
  pkgs/development/libraries/json-c/default.nix
  pkgs/development/libraries/libu2f-host/default.nix
  pkgs/development/libraries/libu2f-server/default.nix
  pkgs/os-specific/linux/multipath-tools/default.nix
  pkgs/os-specific/linux/multipath-tools/json-c-0.14.patch
  pkgs/tools/misc/yubikey-personalization/default.nix
  pkgs/tools/networking/connman/connman-ncurses/default.nix
  pkgs/tools/security/zmap/cmake-json-0.14-fix.patch
  pkgs/tools/security/zmap/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 8.has: package (new)

#91342 python3Packages.tokenizers: init at 0.8.0
  pkgs/development/python-modules/tokenizers/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#92046 owncloud-client: add libsecret dependency
  pkgs/applications/networking/owncloud-client/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92089 {cc,bintools}-wrapper: Some fixes
  pkgs/build-support/bintools-wrapper/default.nix
  pkgs/build-support/cc-wrapper/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#92092 ZFS: Update description for requestEncryptionCredentials
  nixos/modules/tasks/filesystems/zfs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#92095 txt2man: 1.7.0 -> 1.7.1
  pkgs/tools/misc/txt2man/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#91386 bully: 1.1 -> 1.4-00
  pkgs/tools/networking/bully/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92058 nuspell: 3.1.1 -> 3.1.2
  pkgs/development/libraries/nuspell/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92054 minder: 1.8.0 -> 1.9.0
  pkgs/applications/misc/minder/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92056 gitAndTools.git-machete: 2.14.0 -> 2.15.2
  pkgs/applications/version-management/git-and-tools/git-machete/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91927 mycli: 1.20.1 -> 1.21.1
  pkgs/tools/admin/mycli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#92098 matrix-synapse: 1.15.1 -> 1.15.2 [security]
  pkgs/servers/matrix-synapse/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 9.needs: port to stable

#91853 drawio: 13.3.1 -> 13.3.5
  pkgs/applications/graphics/drawio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#91689 buildRustPackage: fix cargoBuildFlags
  pkgs/build-support/rust/default.nix
  pkgs/development/tools/rust/rustup/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: rust

#92101 matrix-synapse: 1.15.1 -> 1.15.2 [security]
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91917 languagetool: 4.9.1 -> 5.0
  pkgs/tools/text/languagetool/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#91953 go-jsonnet: add jsonnetfmt binary
  pkgs/development/compilers/go-jsonnet/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: golang

#92055 nfpm: 1.3.1 -> 1.3.2
  pkgs/tools/package-management/nfpm/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92088 stella: 6.2 -> 6.2.1
  pkgs/misc/emulators/stella/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92083 saml2aws: 2.26.1 -> 2.26.2
  pkgs/tools/security/saml2aws/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92079 pueue: 0.6.0 -> 0.6.1
  pkgs/applications/misc/pueue/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92076 perlPackages.MathCalcParser: init at 1.005
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#92091 teleport: 4.2.10 -> 4.2.11
  pkgs/servers/teleport/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92110 bashmount: 4.2.5 -> 4.3.0
  pkgs/tools/filesystems/bashmount/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92100 mattermost-desktop: 4.3.1 -> 4.5.0
  pkgs/applications/networking/instant-messengers/mattermost-desktop/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 9.needs: port to stable

#91945 ghc810x: remove obsolete overrides (1/x)
  pkgs/development/haskell-modules/configuration-ghc-8.10.x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#92109 atlassian-cli: 9.2.0 -> 9.3.0
  pkgs/applications/office/atlassian-cli/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92077 picard-tools: 2.23.0 -> 2.23.1
  pkgs/applications/science/biology/picard-tools/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#89721 pulumi: 2.1.0 -> 2.2.1, add kubernetes and postgresql providers
  pkgs/tools/admin/pulumi/data.nix
  pkgs/tools/admin/pulumi/update.sh
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#92085 skaffold: 1.11.0 -> 1.12.0
  pkgs/development/tools/skaffold/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91765 nixos/onedrive: init
  nixos/modules/module-list.nix
  nixos/modules/services/networking/onedrive.nix
  nixos/modules/services/networking/onedrive.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)
