Repository NixOS/nixpkgs, pull requests merged in 2021-05, with the labels that each got.

#120854 arrow-cpp: 3.0.0 -> 4.0.0
  pkgs/development/libraries/arrow-cpp/default.nix
  pkgs/development/libraries/xsimd/default.nix
  pkgs/development/python-modules/pyarrow/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#121335 mesa: Fix build
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#121338 broot: 1.3.0 -> 1.3.1
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121277 netbsd.libcurses: fix build
  pkgs/os-specific/bsd/netbsd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: bsd

#121344 buildkit: 0.8.2 -> 0.8.3
  pkgs/development/tools/buildkit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#121305 malcontent: 0.10.0 -> 0.10.1
  pkgs/development/libraries/malcontent/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: upstream changes reviewed

#121352 amazonImage: make statically sized again
  nixos/maintainers/scripts/ec2/amazon-image.nix
  nixos/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#121295 lxc: 4.0.6 -> 4.0.7
  pkgs/os-specific/linux/lxc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121357 river: refactor
  pkgs/applications/window-managers/river/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121341 haunt: fix Guile load paths
  pkgs/applications/misc/haunt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121289 bombono: update ffmpeg, fix iso generation
  pkgs/applications/video/bombono/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121351 rustc: Fix build
  pkgs/development/compilers/rust/rustc.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: rust

#120620 nixos/{opendkim,rspamd}: Fix CapabilityBoundingSet option
  nixos/modules/services/mail/opendkim.nix
  nixos/modules/services/mail/rspamd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#121372 cgal_5: 5.2 -> 5.2.1
  pkgs/development/libraries/CGAL/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#121314 prs: 0.2.10 -> 0.2.11
  pkgs/tools/security/prs/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121049 haskellPackages.pam: fix build
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#121026 [20.09] Kernels 2021-04-21
  pkgs/os-specific/linux/kernel/hardened/patches.json
  pkgs/os-specific/linux/kernel/linux-4.14.nix
  pkgs/os-specific/linux/kernel/linux-4.19.nix
  pkgs/os-specific/linux/kernel/linux-4.4.nix
  pkgs/os-specific/linux/kernel/linux-4.9.nix
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.11.nix
  pkgs/os-specific/linux/kernel/linux-5.4.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 8.has: port to stable

#119778 cudnn_cudatoolkit_11_0: 8.1.0 -> 8.1.1
  pkgs/development/libraries/science/math/cudnn/default.nix
  pkgs/development/libraries/science/math/cudnn/generic.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121366 [20.09] cifs-utils: fix CVE-2021-20208
  pkgs/os-specific/linux/cifs-utils/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121367 postgresql_jdbc: 42.2.5 -> 42.2.20
  pkgs/development/java-modules/postgresql_jdbc/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#121316 macchina: 0.6.9 -> 0.7.2
  pkgs/tools/misc/macchina/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121342 qemu: 5.2.0 -> 6.0.0; adopt; broaden platforms
  pkgs/applications/virtualization/qemu/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#121369 haskellPackages.hyahtzee: un-mark as broken
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#121246 nixos/pcscd: ensure polkit rules are loaded (fix #121121)
  nixos/modules/services/hardware/pcscd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#121388 netbsd.libedit: fix build
  pkgs/os-specific/bsd/netbsd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: bsd

#107940 credhub-cli: fix build under go1.15
  pkgs/tools/admin/credhub-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#91955 sd-image: Add option to control sd image expansion on boot.
  nixos/modules/installer/sd-card/sd-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#120647 conky: 1.12.1 -> 1.12.2
  pkgs/os-specific/linux/conky/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#120633 android-udev-rules: 20210302 -> 20210425
  pkgs/os-specific/linux/android-udev-rules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#119668 ocenaudio: 3.10.2 -> 3.10.6
  pkgs/applications/audio/ocenaudio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#95225 mangohud: init at 0.4.1
  pkgs/tools/graphics/mangohud/combined.nix
  pkgs/tools/graphics/mangohud/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#120541 nixos/fail2ban: add maxretry/extraPackages options
  nixos/modules/services/security/fail2ban.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#120279 virt-manager: 3.1.0 -> 3.2.0
  pkgs/applications/virtualization/virt-manager/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121396 Fix documented type of fixedWidthString
  lib/strings.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#120733 zsh-z: init at unstable-2021-02-15
  maintainers/maintainer-list.nix
  pkgs/shells/zsh/zsh-z/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#120627 yabridge, yabridgectl: hard code wine path
  pkgs/tools/audio/yabridge/default.nix
  pkgs/tools/audio/yabridge/hardcode-wine.patch
  pkgs/tools/audio/yabridgectl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: clean-up

#121399 google-drive-ocamlfuse: 0.7.22 -> 0.7.26
  pkgs/applications/networking/google-drive-ocamlfuse/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121159 fluxcd: 0.12.0 -> 0.13.2
  pkgs/applications/networking/cluster/fluxcd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121226 phosh: init at 0.10.2
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/programs/feedbackd.nix
  nixos/modules/programs/phosh.nix
  pkgs/applications/misc/feedbackd/default.nix
  pkgs/applications/misc/phoc/default.nix
  pkgs/applications/window-managers/phosh/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#120613 Add package for numworks epsilon
  maintainers/maintainer-list.nix
  pkgs/applications/science/math/numworks-epsilon/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#120600 libsForQt5.libopenshot: use ffmpeg instead of ffmpeg_3
  pkgs/applications/video/openshot-qt/libopenshot.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#120153 buildkite-agent: 3.28.1 -> 3.29.0
  pkgs/development/tools/continuous-integration/buildkite-agent/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#120189 geoipupdate: 4.6.0 -> 4.7.1
  pkgs/applications/misc/geoipupdate/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#120185 fluent-bit: 1.7.3 -> 1.7.4
  pkgs/tools/misc/fluent-bit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#120176 doppler: 3.23.2 -> 3.24.3
  pkgs/tools/security/doppler/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#120166 clevis: 16 -> 18
  pkgs/tools/security/clevis/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121401 pythonPackages.cffi: use pytestCheckHook, move libffi to buildInputs
  pkgs/development/python-modules/cffi/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: python

#121387 xen: fix build with GCC 10
  pkgs/applications/virtualization/xen/4.10.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#120209 services.buildkite-agents: support multi-tags
  nixos/modules/services/continuous-integration/buildkite-agents.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#120147 aws-c-common: 0.5.4 -> 0.5.5
  pkgs/development/libraries/aws-c-common/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#120278 python3packages.pyotgw: unstable-2021-03-25
  pkgs/development/python-modules/pyotgw/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#119935 [20.09] firefox-bin: 87.0 -> 88.0
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#119837 seren: init at 0.0.21
  pkgs/applications/networking/instant-messengers/seren/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#121410 kime: 2.5.2 -> 2.5.3
  pkgs/tools/inputmethods/kime/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121397 facter: 3.14.16 -> 3.14.17
  pkgs/tools/system/facter/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#120162 charliecloud: 0.22 -> 0.23
  pkgs/applications/virtualization/charliecloud/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121413 papirus-icon-theme: 20210401 -> 20210501
  pkgs/data/icons/papirus-icon-theme/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121254 postfix: 3.5.10 -> 3.6.0
  pkgs/servers/mail/postfix/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121382 python3Packages.python-language-server: disable when python>=3.9
  pkgs/development/python-modules/python-language-server/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python, 8.has: clean-up

#121421 jetbrains: update
  pkgs/applications/editors/jetbrains/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#110606 gnunet: 0.14.0 -> 0.14.1; gnunet-gtk 0.13.1 -> 0.14.0
  pkgs/applications/networking/p2p/gnunet/default.nix
  pkgs/applications/networking/p2p/gnunet/gtk.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121428 j: 901f -> 902b
  pkgs/development/interpreters/j/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#120534 doc: add instructions for creating package tests
  doc/contributing/coding-conventions.chapter.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#119711 grub2_efi: fix cross-compilation
  pkgs/tools/misc/grub/2.0x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: cross-compilation

#121320 vagrant: 2.2.15 -> 2.2.16
  pkgs/development/tools/vagrant/default.nix
  pkgs/development/tools/vagrant/gemset.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121299 nixos/gitea: set umask for secret creation
  nixos/modules/services/misc/gitea.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#121430 neofetch: set meta.mainProgram
  pkgs/tools/misc/neofetch/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#121420 starship: 0.52.1 -> 0.53.0
  pkgs/tools/misc/starship/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121445 firefox-bin: rpath pipewire
  pkgs/applications/networking/browsers/firefox-bin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#69692 netcdfcxx4: 4.3.0 -> 4.3.1
  pkgs/development/libraries/netcdf-cxx4/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 2.status: work-in-progress

#121444 lxcfs: 4.0.7 -> 4.0.8
  pkgs/os-specific/linux/lxcfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121292 grpc: 1.37.0 -> 1.37.1
  pkgs/development/libraries/grpc/default.nix
  pkgs/development/python-modules/grpcio-tools/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: python

#97254 sumorobot-manager: 0.9.0 -> 1.0.0
  pkgs/applications/science/robotics/sumorobot-manager/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121455 zoxide: 0.6.0 -> 0.7.0
  pkgs/tools/misc/zoxide/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#120058 ruby: 2.6.7 -> 2.7.3
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#119506 ruby: build without jit by default
  pkgs/development/interpreters/ruby/default.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: ruby, 8.has: package (new)

#121458 zoxide: install manpages
  pkgs/tools/misc/zoxide/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#110182 open-vm-tools: 11.2.0 -> 11.2.5
  pkgs/applications/virtualization/open-vm-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121071 postgresql: enable gssapi/kerberos support
  pkgs/servers/sql/postgresql/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#120249 add build target support
  pkgs/development/haskell-modules/generic-builder.nix
  pkgs/development/haskell-modules/lib.nix
  pkgs/test/haskell/default.nix
  pkgs/test/haskell/setBuildTarget/Bar.hs
  pkgs/test/haskell/setBuildTarget/Foo.hs
  pkgs/test/haskell/setBuildTarget/Setup.hs
  pkgs/test/haskell/setBuildTarget/default.nix
  pkgs/test/haskell/setBuildTarget/haskell-setBuildTarget.cabal
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: haskell, 8.has: package (new)

#121432 bitcoin: 0.21.0 -> 0.21.1
  pkgs/applications/blockchains/bitcoin.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121451 miniscript: init at unstable-2020-11-04
  pkgs/applications/blockchains/miniscript/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#121282 nim: 1.4.4 -> 1.4.6
  pkgs/development/compilers/nim/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121476 knightos-mkrom : 1.0.3 -> 1.0.4, knightos-scas: 0.5.3 -> 0.5.5
  pkgs/development/tools/knightos/mkrom/default.nix
  pkgs/development/tools/knightos/scas/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#121465 python38Packages.flask-restx: 0.2.0 -> 0.3.0
  pkgs/development/python-modules/flask-restx/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#121464 flexget: 3.1.110 -> 3.1.116
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121473 xplr: 0.5.10 -> 0.5.12
  pkgs/applications/misc/xplr/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#103381 dcm2niix: 1.0.20200331 -> 1.0.20210317
  pkgs/applications/science/biology/dcm2niix/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121488 quirc: 2016-08-16 -> 2020-04-06; monero: 0.17.1.9 -> 0.17.2.0; monero-gui: 0.17.1.9 -> 0.17.2.1
  pkgs/applications/blockchains/monero-gui/default.nix
  pkgs/applications/blockchains/monero-gui/use-system-libquirc.patch
  pkgs/applications/blockchains/monero/default.nix
  pkgs/tools/graphics/quirc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#121487 ogre: Added SDL2 as a dependency
  pkgs/development/libraries/ogre/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121463 libsForQt5.quazip: 0.9.1 -> 1.1
  pkgs/applications/gis/qmapshack/default.nix
  pkgs/applications/gis/qmapshack/pr350-support-quazip-1x.patch
  pkgs/applications/graphics/nomacs/default.nix
  pkgs/applications/graphics/openboard/default.nix
  pkgs/applications/misc/ideamaker/default.nix
  pkgs/applications/networking/instant-messengers/teamspeak/client.nix
  pkgs/development/libraries/quazip/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: clean-up

#110426 thonny: 3.3.2 -> 3.3.6
  pkgs/applications/editors/thonny/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#109863 hyperscan: 5.3.0 -> 5.4.0
  pkgs/development/libraries/hyperscan/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121484 pythonPackages.pynmea2: 1.17.0 -> 1.18.0
  pkgs/development/python-modules/pynmea2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#121502 librespot: 0.1.3 -> 0.1.6
  pkgs/applications/audio/librespot/cargo-lock.patch
  pkgs/applications/audio/librespot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121504 man-pages-posix: use version format as repology
  pkgs/data/documentation/man-pages-posix/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111641 ocamlPackages.ppx_deriving_cmdliner: init at 0.5.1
  pkgs/development/ocaml-modules/ppx_deriving_cmdliner/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml

#119383 geoclue2: Use our own mozilla API key
  pkgs/development/libraries/geoclue/add-option-for-installation-sysconfdir.patch
  pkgs/development/libraries/geoclue/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#121506 python3Packages.pywizlight: 0.4.6 -> 0.4.7
  pkgs/development/python-modules/pywizlight/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#121353 cargo-rr: init at 0.1.3
  pkgs/development/tools/rust/cargo-rr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#110562 cypress: add updateScript
  pkgs/development/web/cypress/default.nix
  pkgs/development/web/cypress/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#121495 pcloud: fix runtime dependencies
  pkgs/applications/networking/pcloud/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121443 link-grammar: 5.8.1 -> 5.9.1
  pkgs/tools/text/link-grammar/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: upstream changes reviewed

#121503 Add daneads to maintainers
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#121507 CODEOWNERS: Haskell files. Add maralorn, declutter
  .github/CODEOWNERS
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell, 6.topic: policy discussion

#121273 timeular: 3.4.1 -> 3.9.1
  pkgs/applications/office/timeular/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121271 libfaketime: add meta.mainProgram
  pkgs/development/libraries/libfaketime/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#121291 krapslog: 0.1.2 -> 0.1.3
  pkgs/tools/misc/krapslog/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121360 krankerl: 0.13.0 -> 0.13.1
  pkgs/development/tools/krankerl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121392 mopidy-podcast: init at 3.0.0
  pkgs/applications/audio/mopidy/default.nix
  pkgs/applications/audio/mopidy/podcast.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#121448 piston-cli: 1.2.2 -> 1.3.0
  pkgs/tools/misc/piston-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121516 kernel: clarify license
  pkgs/os-specific/linux/kernel/manual-config.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: kernel

#121474 zoom-us: fix overriding source
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121519 tela-icon-theme: format slightly differently
  pkgs/data/icons/tela-icon-theme/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121423 libglvnd: 1.3.2 -> 1.3.3
  pkgs/development/libraries/libglvnd/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer

#121499 libxkbcommon: 1.2.1 -> 1.3.0
  pkgs/development/libraries/libxkbcommon/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer

#121466 lxc: 4.0.7 -> 4.0.8
  pkgs/os-specific/linux/lxc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#121405 Revert "river: refactor"
  pkgs/applications/window-managers/river/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121424 ophis: fix build
  pkgs/development/compilers/ophis/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121461 gopass: 1.12.5 -> 1.12.6
  pkgs/tools/security/gopass/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#121529 python3Packages.csvw: 1.10.1 -> 1.10.2
  pkgs/development/python-modules/csvw/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#121440 kubelogin-oidc: 1.23.0 -> 1.23.1
  pkgs/applications/networking/cluster/kubelogin-oidc/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121339 neovim, neovimUtils, neovim-qt: drop python2 support
  nixos/doc/manual/release-notes/rl-2105.xml
  pkgs/applications/editors/neovim/default.nix
  pkgs/applications/editors/neovim/neovim-qt.nix
  pkgs/applications/editors/neovim/neovim-remote.nix
  pkgs/applications/editors/neovim/qt.nix
  pkgs/applications/editors/neovim/utils.nix
  pkgs/applications/editors/neovim/wrapper.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: package (new)

#121470 pngquant: 2.12.5 -> 2.14.1
  pkgs/tools/graphics/pngquant/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 9.needs: maintainer

#120526 nixos/home-assistant: harden systemd service
  nixos/modules/services/misc/home-assistant.nix
  nixos/tests/home-assistant.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#120536 nixos/mosquitto: harden systemd unit and fix deprecation warnings
  nixos/modules/services/networking/mosquitto.nix
  nixos/tests/mosquitto.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#121447 py3c: fix build on darwin
  pkgs/development/libraries/py3c/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: darwin

#121456 starship: 0.52.1 -> 0.53.0
  pkgs/development/libraries/py3c/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#121525 glances: 3.1.6.2 -> 3.1.7
  pkgs/applications/system/glances/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121358 grpcurl: 1.8.0 -> 1.8.1
  pkgs/tools/networking/grpcurl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121554 go-tools: 2020.2.3 -> 2020.2.4
  pkgs/development/tools/go-tools/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#120961 cargo-msrv: init at 0.4.0
  pkgs/development/tools/rust/cargo-msrv/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#121475 makemkv: switch from ffmpeg_3 to ffmpeg
  pkgs/applications/video/makemkv/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121544 bpftools: build bpf_asm, bpf_dbg
  pkgs/os-specific/linux/bpftool/default.nix
  pkgs/os-specific/linux/bpftools/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#121566 perlPackages.ImageExifTool: apply fix for CVE-2021-22204
  pkgs/top-level/perl-packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 9.needs: port to stable

#121325 librespeed-cli: 1.0.7 -> 1.0.8
  pkgs/tools/misc/librespeed-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121537 graphene: fix build by allowing newer versions of aniso8601
  pkgs/development/python-modules/graphene/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#106737 adoptopenjdk: set CLASSPATH
  pkgs/development/compilers/adoptopenjdk-bin/jdk-darwin-base.nix
  pkgs/development/compilers/adoptopenjdk-bin/jdk-linux-base.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 11.by: package-maintainer

#121561 slack: 4.14.0 -> 4.15.0
  pkgs/applications/networking/instant-messengers/slack/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#121515 top-level/coq-packages: remove dontDistribute
  pkgs/top-level/coq-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 8.has: clean-up, 8.has: package (new)

#120244 rgp: 1.9 -> 1.10
  pkgs/development/tools/rgp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#119172 nixos/trafficserver: init
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/services/web-servers/trafficserver.nix
  nixos/tests/all-tests.nix
  nixos/tests/trafficserver.nix
  pkgs/development/libraries/cjose/default.nix
  pkgs/servers/http/trafficserver/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#121539 nixos/tests/custom-ca: fix by setting Content-Type
  nixos/tests/custom-ca.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#121478 metadata-cleaner: 1.0.4 -> 1.0.5
  pkgs/applications/misc/metadata-cleaner/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#120742 python3Packages.karton-autoit-ripper: init at 1.0.0
  pkgs/development/python-modules/autoit-ripper/default.nix
  pkgs/development/python-modules/karton-autoit-ripper/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#120791 babeld: 1.9.2 -> 1.10
  nixos/modules/services/networking/babeld.nix
  pkgs/tools/networking/babeld/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update)

#119510 mx-puppet-discord: init at 2021-01-22
  pkgs/servers/mx-puppet-discord/default.nix
  pkgs/servers/mx-puppet-discord/generate.sh
  pkgs/servers/mx-puppet-discord/node-composition.nix
  pkgs/servers/mx-puppet-discord/node-packages.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#120449 googleearth-pro: fix xkb keyboard and use nixpkgs libs
  pkgs/applications/misc/googleearth-pro/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121361 lean: 3.29.0 -> 3.30.0
  pkgs/applications/science/logic/lean/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#120890 tektoncd-cli: 0.17.2 -> 0.18.0
  pkgs/applications/networking/cluster/tektoncd-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer
