Repository NixOS/nixpkgs, pull requests merged in 2021-08, with the labels that each got.

#132253 rst2html5: 1.10.6 -> 2.0
  pkgs/tools/text/rst2html5/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132254 zchunk: 1.1.11 -> 1.1.16
  pkgs/development/libraries/zchunk/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132261 arcan: 0.6.1pre1+unstable=2021-07-10 -> 0.6.1pre1+unstable=2021-07-30
  pkgs/desktops/arcan/arcan.nix
  pkgs/desktops/arcan/wrapper.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132266 yambar: 1.6.1 -> 1.6.2
  pkgs/applications/misc/yambar/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132263 dwarf-fortress-packages.twbt: Fix twbt version to match tfhack version.
  pkgs/games/dwarf-fortress/twbt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132044 vial: 0.4 -> 0.4.1
  pkgs/tools/misc/vial/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132016 zulip: 5.8.0 → 5.8.1
  pkgs/applications/networking/instant-messengers/zulip/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (update)

#131726 freeplane: 1.8.11 -> 1.9.5
  pkgs/applications/misc/freeplane/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#131341 liquibase: 4.4.1 -> 4.4.2
  pkgs/development/tools/database/liquibase/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#116578 nixos/node-red: add module
  nixos/modules/module-list.nix
  nixos/modules/services/web-apps/node-red.nix
  nixos/tests/all-tests.nix
  nixos/tests/node-red.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), ofborg-internal-error

#129468 nixos/litestream: init
  nixos/modules/module-list.nix
  nixos/modules/services/network-filesystems/litestream/default.nix
  nixos/modules/services/network-filesystems/litestream/litestream.xml
  nixos/tests/all-tests.nix
  nixos/tests/litestream.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), needs: tests

#132238 calibre: 5.17.0 -> 5.24.0
  pkgs/applications/misc/calibre/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132099 python3Packages.tensorflow: add patch fixing NotImplementedError with numpy 1.20
  pkgs/development/python-modules/tensorflow/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, backport release-21.05

#132249 python3Packages.pipdate: 0.5.2 -> 0.5.5
  pkgs/development/python-modules/pipdate/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132252 python3Packages.nbxmpp: 2.0.2 -> 2.0.3
  pkgs/development/python-modules/nbxmpp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132251 python3Packages.neo: 0.9.0 -> 0.10.0
  pkgs/development/python-modules/neo/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132250 python3Packages.plexapi: 4.6.1 -> 4.7.0
  pkgs/development/python-modules/plexapi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132245 python3Packages.pg8000: 1.20.0 -> 1.21.0
  pkgs/development/python-modules/pg8000/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132244 python3Packages.sentry-sdk: 1.3.0 -> 1.3.1
  pkgs/development/python-modules/sentry-sdk/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132230 python3Packages.pysma: 0.6.4 -> 0.6.5
  pkgs/development/python-modules/pysma/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#132262 libcanberra/libcanberra-gtk2: fix build on darwin
  pkgs/development/libraries/libcanberra/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: darwin

#132168 python3Packages.motioneye-client: 0.3.10 -> 0.3.11
  pkgs/development/python-modules/motioneye-client/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#131707 python3Packages.emoji: 1.4.0 -> 1.4.1
  pkgs/development/python-modules/emoji/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132246 python3Packages.phonenumbers: 8.12.26 -> 8.12.28
  pkgs/development/python-modules/phonenumbers/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132260 ghostunnel: 1.5.3 -> 1.6.0
  pkgs/tools/networking/ghostunnel/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132258 gensio: 2.2.7 -> 2.2.8
  pkgs/development/libraries/gensio/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#132256 mavproxy: 1.8.39 -> 1.8.40
  pkgs/applications/science/robotics/mavproxy/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132257 mpvScripts.simple-mpv-webui: 1.0.0 -> 2.1.0
  nixos/tests/all-tests.nix
  nixos/tests/mpv.nix
  pkgs/applications/video/mpv/scripts/simple-mpv-webui.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos

#131510 python3Packages.aioambient: 1.2.4 -> 1.2.5
  pkgs/development/python-modules/aioambient/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#131508 python3Packages.pypck: 0.7.10 -> 0.7.11
  pkgs/development/python-modules/pypck/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#131454 python3Packages.systembridge: 1.2.4 -> 2.0.4
  pkgs/development/python-modules/systembridge/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#131699 python3Packages.gios: 1.0.2 -> 2.0.0
  pkgs/development/python-modules/gios/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#129306 unetbootin: 681 -> 702
  pkgs/tools/cd-dvd/unetbootin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#131572 opam: 2.0.8 -> 2.1.0
  pkgs/development/ocaml-modules/opam-repository/download-tool.patch
  pkgs/development/tools/ocaml/dune-release/default.nix
  pkgs/development/tools/ocaml/opam/default.nix
  pkgs/development/tools/ocaml/opam/opam-shebangs.patch
  pkgs/development/tools/ocaml/opam/opam.nix.pl
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: ocaml

#130863 python3Packages.bitstring: 3.1.7 -> 3.1.9
  pkgs/development/python-modules/bitstring/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#132278 qmplay2: 20.12.16 -> 21.06.07
  pkgs/applications/video/qmplay2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132277 stella: 6.5.2 -> 6.5.3
  pkgs/misc/emulators/stella/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132274 tcsh: 6.22.03 -> 6.22.04
  pkgs/shells/tcsh/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#131828 coqPackages.VST: also build and install floyd.io_events
  pkgs/development/coq-modules/VST/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: coq

#132268 enlightenment: add wayland support
  pkgs/desktops/enlightenment/enlightenment/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#132269 ecl: make sure boehmgc is available to gcc/linker
  pkgs/development/compilers/ecl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#132279 mgba: 0.9.0 -> 0.9.2
  pkgs/misc/emulators/mgba/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132280 openmsx: 16.0 -> 17.0
  pkgs/misc/emulators/openmsx/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132272 libgme: fix build on apple silicon
  pkgs/development/libraries/audio/libgme/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#132270 darwin.apple_sdk.frameworks.AVFoundation: Add missing dependencies on aarch64
  pkgs/os-specific/darwin/apple-sdk-11.0/apple_sdk.nix
  pkgs/os-specific/darwin/apple-sdk-11.0/frameworks.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin

#132282 chromium: Restructure gnFlags
  pkgs/applications/networking/browsers/chromium/common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#132247 linux_zen: 5.13.5 -> 5.13.7
  pkgs/os-specific/linux/kernel/linux-zen.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: kernel

#132213 viber: add 'QML2_IMPORT_PATH' to the wrap
  pkgs/applications/networking/instant-messengers/viber/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#132236 pony-corral: 0.5.1 -> 0.5.3
  pkgs/development/compilers/ponyc/pony-corral.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132204 [21.05] tdesktop: 2.7.5 -> 2.8.11
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/default.nix
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/tg_owt.nix
  pkgs/applications/networking/instant-messengers/telegram/tdesktop/default.nix
  pkgs/applications/networking/instant-messengers/telegram/tdesktop/tg_owt.nix
  pkgs/development/libraries/libtgvoip/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#132285 eksctl: 0.58.0 -> 0.59.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132197 tahoe-lafs: 1.13.0 -> 2021-07-09
  pkgs/tools/networking/p2p/tahoe-lafs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#131312 vbox-image: add new option to set free space in image
  nixos/modules/virtualisation/virtualbox-image.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-21.05

#131703 python3Packages.apispec: 4.7.0 -> 4.7.1
  pkgs/development/python-modules/apispec/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132296 python3Packages.dipy: 1.3.0 -> 1.4.1
  pkgs/development/python-modules/dipy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132292 squashfsTools: add NixOS cdrom boot as passthru test
  pkgs/tools/filesystems/squashfs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#132271 pulseaudio: fix build on aarch64-darwin
  pkgs/servers/pulseaudio/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 0, 6.topic: darwin

#132074 sane: Add support for the unfree Fujitsu ScanSnap drivers
  nixos/modules/services/hardware/sane.nix
  pkgs/applications/graphics/sane/backends/default.nix
  pkgs/applications/graphics/sane/drivers.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: nixos, 8.has: module (update)

#132304 gdu: 5.3.0 -> 5.5.0
  pkgs/tools/system/gdu/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132312 nixos/syncthing: fix curl not retrying on network errors
  nixos/modules/services/networking/syncthing.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#131965 knot-resolver: 5.3.2 -> 5.4.0
  pkgs/servers/dns/knot-resolver/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132307 lib.systems: m68k is supported by NetBSD as well
  lib/systems/doubles.nix
  lib/systems/parse.nix
  lib/tests/systems.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#132332 chromium: Drop two gn overrides that are not required anymore
  pkgs/applications/networking/browsers/chromium/common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#132235 epson-escpr2: 1.1.34 -> 1.1.38
  pkgs/misc/drivers/epson-escpr2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#131497 1password: 1.9.1 -> 1.11.2
  pkgs/applications/misc/1password/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#131307 soapui: 5.5.0 -> 5.6.0
  nixos/tests/soapui.nix
  pkgs/applications/networking/soapui/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, awaiting_merger, marvin

#131987 vimPlugins.onedark-nvim: Add lush-nvim dependency
  pkgs/misc/vim-plugins/overrides.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: vim

#132331 pkgs/top-level/release.nix: build pkgsLLVM.stdenv as part of trunk
  pkgs/top-level/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#132322 broot: 1.6.0 -> 1.6.2
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#131780 icingaweb2-ipl: 0.6.0 -> 0.6.1
  pkgs/servers/icingaweb2/ipl.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132345 nixos/virtualbox-image: cast baseImageFreeSpace to str
  nixos/modules/virtualisation/virtualbox-image.nix
Labels: 1.severity: channel blocker, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update), backport release-21.05

#132329 tt-rss-plugin-auth-ldap: fix compat with latest tt-rss
  pkgs/servers/tt-rss/plugin-auth-ldap/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#129861 modules/gitea: use gitea to refresh hooks and keys
  nixos/modules/services/misc/gitea.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#131020 uptimed nixos/uptimed: switch to /var/lib/ and fix perms
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
  nixos/modules/services/system/uptimed.nix
  pkgs/tools/system/uptimed/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#131814 nixos/nix-daemon: fix registry flake type
  nixos/modules/services/misc/nix-daemon.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#132366 nixos/display-managers: update set-session for new "SessionType" property
  nixos/modules/services/x11/display-managers/set-session.py
Labels: 1.severity: channel blocker, 6.topic: nixos, 8.has: module (update)

#132092 linux_xanmod: 5.13.5 -> 5.13.7
  pkgs/os-specific/linux/kernel/linux-xanmod.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 6.topic: kernel

#132364 rdma-core: 35.0 -> 36.0
  pkgs/os-specific/linux/rdma-core/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#132281 dialog: 1.3-20210324 -> 1.3-20210621
  pkgs/tools/misc/dialog/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#132354 phosh: 0.12.0 -> 0.12.1, phoc: 0.7.1 -> 0.8.0
  pkgs/applications/misc/phoc/default.nix
  pkgs/applications/window-managers/phosh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#131688 tools/{X11/video/virtualization} replace name with pname&version
  pkgs/tools/X11/imwheel/default.nix
  pkgs/tools/X11/keynav/default.nix
  pkgs/tools/X11/x2vnc/default.nix
  pkgs/tools/X11/x2x/default.nix
  pkgs/tools/X11/xbrightness/default.nix
  pkgs/tools/X11/xcalib/default.nix
  pkgs/tools/X11/xchainkeys/default.nix
  pkgs/tools/X11/xdg-user-dirs/default.nix
  pkgs/tools/X11/xkbset/default.nix
  pkgs/tools/X11/xmagnify/default.nix
  pkgs/tools/video/dvgrab/default.nix
  pkgs/tools/video/mjpegtools/default.nix
  pkgs/tools/video/swfmill/default.nix
  pkgs/tools/video/vncrec/default.nix
  pkgs/tools/virtualization/aws/default.nix
  pkgs/tools/virtualization/ec2-api-tools/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#131729 [21.05] grub2: 2.06-rc1 -> 2.06
  pkgs/tools/misc/grub/2.0x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#123420 graphite2: pull in libgcc if not using gcc for compilation
  pkgs/development/libraries/silgraphite/graphite2.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0

#132349 inetutils: replace name with pname&version
  pkgs/tools/networking/inetutils/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#132350 tools/networking: replace name with pname&version
  pkgs/tools/networking/ahcpd/default.nix
  pkgs/tools/networking/aircrack-ng/default.nix
  pkgs/tools/networking/arpoison/default.nix
  pkgs/tools/networking/bsd-finger/default.nix
  pkgs/tools/networking/cadaver/default.nix
  pkgs/tools/networking/carddav-util/default.nix
  pkgs/tools/networking/cksfv/default.nix
  pkgs/tools/networking/curl-unix-socket/default.nix
  pkgs/tools/networking/dhcpdump/default.nix
  pkgs/tools/networking/dnstop/default.nix
  pkgs/tools/networking/dropbear/default.nix
  pkgs/tools/networking/email/default.nix
  pkgs/tools/networking/filegive/default.nix
  pkgs/tools/networking/flvstreamer/default.nix
  pkgs/tools/networking/fping/default.nix
  pkgs/tools/networking/gftp/default.nix
  pkgs/tools/networking/hyenae/default.nix
  pkgs/tools/networking/iftop/default.nix
  pkgs/tools/networking/imapproxy/default.nix
  pkgs/tools/networking/imapsync/default.nix
  pkgs/tools/networking/jnettop/default.nix
  pkgs/tools/networking/jwhois/default.nix
  pkgs/tools/networking/lsh/default.nix
  pkgs/tools/networking/maildrop/default.nix
  pkgs/tools/networking/miniupnpd/default.nix
  pkgs/tools/networking/mpack/default.nix
  pkgs/tools/networking/nbd/default.nix
  pkgs/tools/networking/ndisc6/default.nix
  pkgs/tools/networking/netboot/default.nix
  pkgs/tools/networking/netcat/default.nix
  pkgs/tools/networking/netkit/tftp/default.nix
  pkgs/tools/networking/nss-mdns/default.nix
  pkgs/tools/networking/ntp/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#132326 renderdoc: 1.14 -> 1.15
  pkgs/applications/graphics/renderdoc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132320 coursera-dl: fix tests
  pkgs/applications/misc/coursera-dl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132097 profile-cleaner: 2.41 -> 2.42
  pkgs/tools/misc/profile-cleaner/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132356 grub: replace name with pname&version
  pkgs/tools/misc/grub/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#131561 metals: 0.10.4 -> 0.10.5
  pkgs/development/tools/metals/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#130207 doc/coding-conventions: Increase passthru test timeout 3s -> 60s
  doc/contributing/coding-conventions.chapter.md
  pkgs/tools/misc/phoronix-test-suite/tests.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#132173 obs-studio-plugins.obs-websocket: fix attribute name
  pkgs/applications/video/obs-studio/plugins/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#130866 [21.05] mill: 0.9.6 -> 0.9.9
  pkgs/development/tools/build-managers/mill/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132383 headscale: 0.3.4 -> 0.3.6
  pkgs/servers/headscale/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132382 gobgpd: 2.29.0 -> 2.30.0
  pkgs/servers/misc/gobgpd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132378 disfetch: 2.2 -> 2.7
  pkgs/tools/misc/disfetch/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132377 chezmoi: 2.1.2 -> 2.1.3
  pkgs/tools/misc/chezmoi/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132376 checkstyle: 8.44 -> 8.45
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132365 cups/driver: deprecate phases
  pkgs/misc/cups/drivers/estudio/default.nix
  pkgs/misc/cups/drivers/mfcl2700dncupswrapper/default.nix
  pkgs/misc/cups/drivers/mfcl2700dnlpr/default.nix
  pkgs/misc/cups/drivers/mfcl2720dwcupswrapper/default.nix
  pkgs/misc/cups/drivers/mfcl2720dwlpr/default.nix
  pkgs/misc/cups/drivers/mfcl8690cdwcupswrapper/default.nix
  pkgs/misc/cups/drivers/mfcl8690cdwlpr/default.nix
  pkgs/misc/cups/drivers/splix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: printing

#132362 lilypond-fonts: deprecate phases
  pkgs/misc/lilypond/fonts.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132360 Php-packages: deprecate phases
  pkgs/development/php-packages/box/default.nix
  pkgs/development/php-packages/php-cs-fixer/default.nix
  pkgs/development/php-packages/phpcbf/default.nix
  pkgs/development/php-packages/phpcs/default.nix
  pkgs/development/php-packages/phpmd/default.nix
  pkgs/development/php-packages/phpstan/default.nix
  pkgs/development/php-packages/psalm/default.nix
  pkgs/development/php-packages/psysh/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#132375 bupstash: 0.9.1 -> 0.10.0
  pkgs/tools/backup/bupstash/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#131746 authy: 1.8.3 -> 1.8.4
  pkgs/applications/misc/authy/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132381 gobgp: 2.29.0 -> 2.30.0
  pkgs/tools/networking/gobgp/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132380 go-task: 3.6.0 -> 3.7.0
  pkgs/development/tools/go-task/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132379 jetbrains-jdk: 11.0.10-b1427 -> 11_0_11-b1504.13
  pkgs/development/compilers/jetbrains-jdk/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#132015 pcl: 1.11.1 -> 1.12.0
  pkgs/development/libraries/pcl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132009 xplr: 0.14.4 -> 0.14.5
  pkgs/applications/misc/xplr/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#131909 taplo: init
  pkgs/development/tools/taplo-cli/default.nix
  pkgs/development/tools/taplo-lsp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#132034 cmake: format
  pkgs/development/tools/build-managers/cmake/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#132346 python3Packages.types-requests: 2.25.0 -> 2.25.1
  pkgs/development/python-modules/types-requests/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#132310 grpc: fix cross
  pkgs/development/libraries/grpc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: cross-compilation

#132334 python3Packages.bellows: 0.25.0 -> 0.26.0, python3Packages.zigpy: 0.35.2 -> 0.36.1, python3Packages.zigpy-znp: 0.5.1 -> 0.5.2
  pkgs/development/python-modules/bellows/default.nix
  pkgs/development/python-modules/zigpy-znp/default.nix
  pkgs/development/python-modules/zigpy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: python

#132298 python3Packages.emoji: 1.4.1 -> .1.4.2
  pkgs/development/python-modules/emoji/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#132305 bazarr: fix build
  pkgs/servers/bazarr/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#131967 nixos/version: make versions in /etc/os-release less verbose
  nixos/modules/misc/version.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#132386 tfk8s: 0.1.5 -> 0.1.6
  pkgs/tools/misc/tfk8s/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132095 protoc-gen-grpc-web: init at 1.2.1
  pkgs/development/tools/protoc-gen-grpc-web/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new), ofborg-internal-error

#132393 chromium: Drop our closure_compiler patch for Java
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/patches/closure_compiler-Use-the-Java-binary-from-the-system.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: clean-up

#132018 spotdl: 3.6.3 -> 3.7.2
  pkgs/development/python-modules/pytube/default.nix
  pkgs/tools/audio/spotdl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#131973 python3Packages.palace: init at 0.2.5
  pkgs/development/python-modules/palace/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#132339 chia: unbreak
  pkgs/applications/blockchains/chia/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132390 knot-dns: 3.0.8 -> 3.1.0
  pkgs/servers/dns/knot-dns/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#113185 libreddit: init at 0.10.1
  nixos/modules/module-list.nix
  nixos/modules/services/misc/libreddit.nix
  nixos/tests/all-tests.nix
  nixos/tests/libreddit.nix
  pkgs/servers/libreddit/add-Cargo.lock.patch
  pkgs/servers/libreddit/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#132075 rust-cbindgen: 0.19.0 -> 0.20.0
  pkgs/development/tools/rust/cbindgen/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 2501-5000, 10.rebuild-linux: 501+

#132398 psutils: replace name with pname&version
  pkgs/tools/typesetting/psutils/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, ofborg-internal-error

#132391 Cleanup
  pkgs/applications/graphics/renderdoc/default.nix
  pkgs/applications/networking/instant-messengers/jitsi-meet-electron/default.nix
  pkgs/applications/networking/mailreaders/notmuch/default.nix
  pkgs/development/compilers/ecl/default.nix
  pkgs/development/coq-modules/QuickChick/default.nix
  pkgs/development/coq-modules/interval/default.nix
  pkgs/development/libraries/grpc/default.nix
  pkgs/development/libraries/zchunk/default.nix
  pkgs/development/tools/ocaml/dune-release/default.nix
  pkgs/misc/emulators/mgba/default.nix
  pkgs/servers/openafs/1.8/module.nix
  pkgs/tools/X11/keynav/default.nix
  pkgs/tools/networking/ghostunnel/default.nix
  pkgs/tools/networking/p2p/tahoe-lafs/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: ocaml

#132400 xfstests: replace name with pname&version
  pkgs/tools/misc/xfstests/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132404 ntfy-webpush: init at 0.1.3
  pkgs/tools/misc/ntfy-webpush/default.nix
  pkgs/tools/misc/ntfy/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: package (new)

#132409 azureus: drop
  pkgs/tools/networking/p2p/azureus/builder.sh
  pkgs/tools/networking/p2p/azureus/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#132403 man-db: replace name with pname&version
  pkgs/tools/misc/man-db/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#132357 shfmt: 3.3.0 -> 3.3.1
  pkgs/tools/text/shfmt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132369 dasel: 1.15.0 -> 1.16.1
  pkgs/applications/misc/dasel/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132406 Cleanup
  pkgs/applications/blockchains/pivx/default.nix
  pkgs/development/libraries/grpc/default.nix
  pkgs/servers/dns/knot-dns/default.nix
  pkgs/tools/networking/ssmtp/default.nix
  pkgs/tools/networking/toxvpn/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, ofborg-internal-error

#132410 wezterm: install desktop file
  pkgs/applications/terminal-emulators/wezterm/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#131047 fetchgitlab: add deepClone, fetchSubmodules, leaveDotGit arguments
  pkgs/build-support/fetchgitlab/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: fetch, 8.has: clean-up

#131078 Revert "llvm_12: disable failing 'DebugInfo/X86/vla-multi.ll' on armv7l"
  pkgs/development/compilers/llvm/12/llvm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#121693 llvm_11: disable failing 'dependent-libraries.test' on armv7l
  pkgs/development/compilers/llvm/11/llvm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#131948 nixos/systemd: provision a systemd-coredump user
  nixos/modules/misc/ids.nix
  nixos/modules/system/boot/systemd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#131275 telegram-cli: init 20200106
  pkgs/applications/networking/instant-messengers/telegram/telegram-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#132411 plex: 1.23.5.4862-0f739d462 -> 1.23.6.4881-e2e58f321
  pkgs/servers/plex/raw.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132414 matcha-gtk-theme: 2021-07-20 -> 2021-08-02
  pkgs/data/themes/matcha/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#132413 terraform-ls: 0.19.1 -> 0.20.0
  pkgs/development/tools/misc/terraform-ls/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#131562 python3Packages.sphinx-inline-tabs: init at 2021.04.11.beta9
  pkgs/development/python-modules/sphinx-inline-tabs/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#132402 parted: replace name with pname&version
  pkgs/tools/misc/parted/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#132399 kratos: 0.6.0-alpha.2 -> 0.7.1-alpha.1
  pkgs/applications/misc/kratos/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132408 cosign: 1.0.0 -> 1.0.1
  pkgs/tools/security/cosign/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#132215 chia-plotter: init
  maintainers/maintainer-list.nix
  pkgs/applications/blockchains/chia-plotter/default.nix
  pkgs/applications/blockchains/chia-plotter/dont_fetch_dependencies.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new), ofborg-internal-error

#132223 virtualbox: 6.1.22 -> 6.1.26
  pkgs/applications/virtualization/virtualbox/default.nix
  pkgs/applications/virtualization/virtualbox/extpack.nix
  pkgs/applications/virtualization/virtualbox/fix-configure-pkgconfig-qt.patch
  pkgs/applications/virtualization/virtualbox/guest-additions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#130954 meshcentral: init package and module
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
  nixos/modules/module-list.nix
  nixos/modules/services/admin/meshcentral.nix
  pkgs/tools/admin/meshcentral/default.nix
  pkgs/tools/admin/meshcentral/package.json
  pkgs/tools/admin/meshcentral/update.sh
  pkgs/tools/admin/meshcentral/yarn.lock
  pkgs/tools/admin/meshcentral/yarn.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update), 8.has: package (new)
