Repository NixOS/nixpkgs, pull requests merged in 2021-09, with the labels that each got.

#136347 python38Packages.ntc-templates: 2.3.0 -> 2.3.1
  pkgs/development/python-modules/ntc-templates/default.nix
Labels: 6.topic: python

#136081 orc: disable failing test suite on armv7l
  pkgs/development/compilers/orc/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500

#133559 phosh: 0.12.1 -> 0.13.1
  pkgs/applications/misc/phoc/default.nix
  pkgs/applications/window-managers/phosh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136283 step-cli: 0.16.1 -> 0.17.2
  pkgs/tools/security/step-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136357 caddy: build with default go and fix tests
  nixos/tests/caddy.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136356 wrangler: 1.19.0 -> 1.19.1
  pkgs/development/tools/wrangler/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136351 danger-gitlab: init at 8.0.0
  pkgs/applications/version-management/danger-gitlab/Gemfile
  pkgs/applications/version-management/danger-gitlab/Gemfile.lock
  pkgs/applications/version-management/danger-gitlab/default.nix
  pkgs/applications/version-management/danger-gitlab/gemset.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#134336 lua updater: support in-repo rockspecs
  maintainers/scripts/luarocks-packages.csv
  maintainers/scripts/update-luarocks-packages
  maintainers/scripts/update-luarocks-shell.nix
  pkgs/development/interpreters/lua-5/build-lua-package.nix
  pkgs/development/lua-modules/generated-packages.nix
  pkgs/development/lua-modules/generic/default.nix
  pkgs/development/lua-modules/overrides.nix
  pkgs/development/tools/misc/luarocks/luarocks-nix.nix
  pkgs/top-level/lua-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 6.topic: lua

#136276 python3Packages.zeroconf: 0.36.0 -> 0.36.2
  pkgs/development/python-modules/zeroconf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136155 bwm_ng: 0.6.1 -> 0.6.3
  pkgs/tools/networking/bwm-ng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: maintainer

#136151 mrtg: 2.17.7 -> 2.17.8
  pkgs/tools/misc/mrtg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136147 msgpack: 3.2.0 -> 3.3.0
  pkgs/development/libraries/msgpack/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#136279 nmap: 7.91 -> 7.92
  pkgs/tools/security/nmap/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#136348 pick: 2.0.2 -> 4.0.0
  pkgs/tools/misc/pick/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136366 xfig: 3.2.8a -> 3.2.8b
  pkgs/applications/graphics/xfig/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136350 termonad: add meta.mainProgram to easily run with flakes
  pkgs/applications/terminal-emulators/termonad/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136215 fstar: 2021.07.31 -> 2021.08.27
  pkgs/development/compilers/fstar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136096 akku: init at 1.1.0
  pkgs/tools/package-management/akku/default.nix
  pkgs/tools/package-management/akku/hardcode-libcurl.patch
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136058 gnome.baobab: use strictDeps
  pkgs/desktops/gnome/core/baobab/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136082 ytmdl: 2021.06.26 -> 2021.08.01
  pkgs/development/python-modules/youtube-search-python/default.nix
  pkgs/tools/misc/ytmdl/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136146 pgcli: 3.1.0 -> 3.2.0
  pkgs/development/tools/database/pgcli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136305 tea: 0.7.0 -> 0.7.1
  pkgs/tools/misc/tea/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136217 glib: 2.68.3 -> 2.68.4
  pkgs/development/libraries/glib/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000, 8.has: upstream changes reviewed

#136373 chromium: 92.0.4515.159 -> 93.0.4577.63
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.05

#135819 pipewire: 0.3.33 -> 0.3.34
  nixos/modules/services/desktops/pipewire/bluez-hardware.conf.json
  nixos/modules/services/desktops/pipewire/pipewire-pulse.conf.json
  pkgs/development/libraries/pipewire/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, backport release-21.05

#129971 netbsd: Split out path merging from bsd setup hook
  pkgs/os-specific/bsd/netbsd/default.nix
  pkgs/os-specific/bsd/netbsd/setup-hook.sh
  pkgs/os-specific/bsd/setup-hook.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 1001-2500, 10.rebuild-linux: 1, 6.topic: bsd

#136163 wine{Unstable,Staging}: 6.15 -> 6.16
  pkgs/misc/emulators/wine/sources.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#136379 nixos/nvidia: fix missing variable reference
  nixos/modules/hardware/video/nvidia.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136243 libdeltachat: 1.59.0 -> 1.60.0
  pkgs/development/libraries/libdeltachat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#97299 elasticmq-server: 0.14.6 -> 1.2.0, add passthru.tests
  pkgs/servers/elasticmq-server-bin/default.nix
  pkgs/servers/elasticmq-server-bin/elasticmq-test.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136251 linuxPackages.zfs: fix m4 script when not using GCC
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#136342 [21.05] firefox: 91.0.1 -> 91.0.2; firefox-bin: 91.0.1 -> 91.0.2
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#133721 yarn-bash-completion: init at 0.17.0
  pkgs/shells/bash/yarn-completion/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, ofborg-internal-error, 10.rebuild-linux: 1

#134022 wordpress: 5.7.2 -> 5.8
  pkgs/servers/web-apps/wordpress/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#135108 clfswm: support custom package
  nixos/modules/services/x11/window-managers/clfswm.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#134988 python3Packages.zwave-js-server-python: 0.28.0 -> 0.29.0
  pkgs/development/python-modules/zwave-js-server-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#136295 python3Packages.spectral-cube: add missing dependencies
  pkgs/development/python-modules/spectral-cube/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#136099 [21.05] electron_12: 12.0.17 -> 12.0.18
  pkgs/development/tools/electron/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136384 exploitdb: 2021-08-28 -> 2021-09-01
  pkgs/tools/security/exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136408 build(deps): bump devmasx/merge-branch from 1.3.1 to 1.4.0
  .github/workflows/periodic-merge-24h.yml
  .github/workflows/periodic-merge-6h.yml
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136377 mosquitto: 2.0.11 -> 2.0.12
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.05

#122373 chatty: init at 0.3.2
  pkgs/applications/networking/instant-messengers/chatty/default.nix
  pkgs/applications/networking/instant-messengers/pidgin/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136315 neovim: allow extra Lua packages
  pkgs/applications/editors/neovim/default.nix
  pkgs/applications/editors/neovim/tests.nix
  pkgs/applications/editors/neovim/utils.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136382 palemoon: 29.4.0.1 -> 29.4.0.2
  pkgs/applications/networking/browsers/palemoon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.05

#136428 monit: 5.27.2 -> 5.29.0; format
  pkgs/tools/system/monit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136375 nodejs: 12.22.5 -> 12.22.6, 14.17.5 -> 14.17.6
  pkgs/development/web/nodejs/v12.nix
  pkgs/development/web/nodejs/v14.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#136071 nixos/gnome: enable platform integration for Qt
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
  nixos/modules/services/x11/desktop-managers/gnome.nix
  pkgs/development/libraries/qgnomeplatform/default.nix
  pkgs/development/libraries/qgnomeplatform/hardcode-gsettings.patch
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 6.topic: GNOME, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#136275 elixir_ls: add update script
  pkgs/development/beam-modules/default.nix
  pkgs/development/beam-modules/elixir-ls/default.nix
  pkgs/development/beam-modules/elixir-ls/update.sh
Labels: 6.topic: erlang, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#125687 nixos/soju: add module
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
  nixos/modules/module-list.nix
  nixos/modules/services/networking/soju.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136418 python38Packages.pex: 2.1.46 -> 2.1.47
  pkgs/development/python-modules/pex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136410 wesnoth: 1.4.16 -> 1.4.17
  pkgs/games/wesnoth/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136433 buildFhsUserenv: inherit mounts from parent namespace
  pkgs/build-support/build-fhs-userenv/chrootenv/chrootenv.c
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#136419 python3Packages.tldextract: 3.1.1 -> 3.1.2
  pkgs/development/python-modules/tldextract/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#135733 cargo-release: 0.17.0 -> 0.17.1
  pkgs/tools/package-management/cargo-release/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#134965 arpa2common: init at 2.2.14
  pkgs/development/libraries/arpa2common/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 11.by: package-maintainer, 10.rebuild-linux: 1

#135116 yodl: 4.03.02 -> 4.03.03
  pkgs/development/tools/misc/yodl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136413 babashka: 0.5.1 -> 0.6.0
  pkgs/development/interpreters/clojure/babashka.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#136355 python38Packages.pubnub: 5.1.4 -> 5.2.0
  pkgs/development/python-modules/pubnub/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136399 perlPackages.SyntaxKeywordTry: init at 0.25
  pkgs/top-level/perl-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136451 chromiumBeta: 94.0.4606.20 -> 94.0.4606.31
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136450 [21.05] mosquitto: 2.0.10 -> 2.0.12
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136458 [21.05] python3Packages.httplib2: fix tests
  pkgs/development/python-modules/httplib2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501-1000, 10.rebuild-darwin: 501-1000

#136421 pythonPackages.fiona: fix build
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136462 strace: 5.13 -> 5.14
  pkgs/development/tools/misc/strace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-21.05

#135671 perldevel: 5.35.0 -> 5.35.3, perl.perl-cross: 1.3.6 -> 01c176ac0
  pkgs/development/interpreters/perl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136260 gthumb: 3.11.3 -> 3.11.4
  pkgs/applications/graphics/gthumb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136192 xonotic: support user statistics reporting
  pkgs/games/xonotic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136412 mutt: 2.1.1 -> 2.1.2
  pkgs/applications/networking/mailreaders/mutt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#135638 krankerl: 0.13.1 -> 0.13.2
  pkgs/development/tools/krankerl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136474 nixos/etc: make sure local "source" files are imported to the store
  nixos/modules/system/etc/etc.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136197 jitsi-meet-electron: 2.8.10 -> 2.8.11
  pkgs/applications/networking/instant-messengers/jitsi-meet-electron/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136307 intel-media-driver: enable x11 only on linux, split dev output, move …
  pkgs/development/libraries/intel-media-driver/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136309 libva: convert to pname + version, libva: load driver from Debian directorys
  pkgs/development/libraries/libva/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 2501-5000

#136430 notmuch: 0.32.2 -> 0.32.3
  pkgs/applications/networking/mailreaders/notmuch/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136306 cope: init at unstable-2021-01-29
  pkgs/tools/misc/cope/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/perl-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#134342 ipfs-cluster: 0.14.0 -> 0.14.1
  pkgs/applications/networking/ipfs-cluster/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136234 tk: enableParallelBuilding
  pkgs/development/libraries/tk/generic.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500

#135182 nixos/distccd: init
  nixos/modules/misc/ids.nix
  nixos/modules/module-list.nix
  nixos/modules/services/development/distccd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#135745 python39Packages.pglast: 3.3 -> 3.4
  pkgs/development/python-modules/pglast/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#135886 nats-server: 2.3.4 -> 2.4.0
  pkgs/servers/nats-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136001 python38Packages.flexmock: 0.10.5 -> 0.10.8
  pkgs/development/python-modules/flexmock/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136034 python38Packages.qcelemental: 0.21.0 -> 0.22.0
  pkgs/development/python-modules/qcelemental/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136113 python38Packages.sparse: 0.12.0 -> 0.13.0
  pkgs/development/python-modules/sparse/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136506 yt-dlp: 2021.08.10 -> 2021.9.2
  pkgs/tools/misc/yt-dlp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136446 linuxPackages.zfs: use kernel's stdenv
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#136105 zeroad: 0.0.25 -> 0.0.25b
  pkgs/games/0ad/data.nix
  pkgs/games/0ad/game.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136427 discord-canary: 0.0.128 -> 0.0.129
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136452 materialize: 0.8.1 -> 0.8.3
  pkgs/servers/sql/materialize/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136473 inetutils: 2.0 -> 2.2
  pkgs/tools/networking/inetutils/default.nix
  pkgs/tools/networking/inetutils/whois-Update-Indian-TLD-server.patch
  pkgs/tools/networking/inetutils/whois-Update-ORG-TLD-server.patch
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136457 NTFS-3G and PROGS security fixes update
  pkgs/tools/filesystems/ntfs-3g/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, backport release-21.05

#136439 ran: init at 0.1.6
  pkgs/servers/http/ran/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136440 flexget: 3.1.135 -> 3.1.136
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136507 luarocks: add bash/zsh completion
  pkgs/development/tools/misc/luarocks/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#136492 python3Packages.haversine: 2.4.0 -> 2.5.1
  pkgs/development/python-modules/haversine/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#136488 python3Packages.time-machine: 2.3.1 -> 2.4.0
  pkgs/development/python-modules/time-machine/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#136508 python3Packages.policyuniverse: 1.4.0.20210816 -> 1.4.0.20210819
  pkgs/development/python-modules/policyuniverse/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#136542 vscode: 1.59.1 -> 1.60.0
  pkgs/applications/editors/vscode/vscode.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136561 [21.05] Backport the first batch of Chromium patches
  pkgs/applications/networking/browsers/chromium/browser.nix
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/default.nix
  pkgs/applications/networking/browsers/chromium/get-commit-message.py
  pkgs/applications/networking/browsers/chromium/patches/closure_compiler-Use-the-Java-binary-from-the-system.patch
  pkgs/applications/networking/browsers/chromium/update.py
  pkgs/applications/networking/browsers/chromium/upstream-info.json
  pkgs/applications/networking/browsers/google-chrome/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#136563 chromiumDev: 95.0.4621.4 -> 95.0.4628.3
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#136557 python38Packages.sqlmap: 1.5.8 -> 1.5.9
  pkgs/development/python-modules/sqlmap/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136565 Allow to execute pluginupdate.py script in CI environment
  maintainers/scripts/pluginupdate.py
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136097 cozy: 1.0.3 -> 1.1.2
  pkgs/applications/audio/cozy/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136569 gitaly: Fix gitaly-git2go binary name
  pkgs/applications/version-management/gitlab/gitaly/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.05

#136562 [21.05] Backport LLVM 13
  pkgs/development/compilers/llvm/13/bintools/default.nix
  pkgs/development/compilers/llvm/13/clang/default.nix
  pkgs/development/compilers/llvm/13/clang/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/clang/purity.patch
  pkgs/development/compilers/llvm/13/compiler-rt/X86-support-extension.patch
  pkgs/development/compilers/llvm/13/compiler-rt/armv7l.patch
  pkgs/development/compilers/llvm/13/compiler-rt/codesign.patch
  pkgs/development/compilers/llvm/13/compiler-rt/darwin-targetconditionals.patch
  pkgs/development/compilers/llvm/13/compiler-rt/default.nix
  pkgs/development/compilers/llvm/13/compiler-rt/normalize-var.patch
  pkgs/development/compilers/llvm/13/compiler-rt/sanitizers-nongnu.patch
  pkgs/development/compilers/llvm/13/default.nix
  pkgs/development/compilers/llvm/13/libcxx/default.nix
  pkgs/development/compilers/llvm/13/libcxx/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/libcxxabi/default.nix
  pkgs/development/compilers/llvm/13/libcxxabi/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/libcxxabi/wasm.patch
  pkgs/development/compilers/llvm/13/libunwind/default.nix
  pkgs/development/compilers/llvm/13/libunwind/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/lld/default.nix
  pkgs/development/compilers/llvm/13/lld/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/lldb/default.nix
  pkgs/development/compilers/llvm/13/lldb/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/lldb/procfs.patch
  pkgs/development/compilers/llvm/13/lldb/resource-dir.patch
  pkgs/development/compilers/llvm/13/llvm/default.nix
  pkgs/development/compilers/llvm/13/llvm/gnu-install-dirs-polly.patch
  pkgs/development/compilers/llvm/13/llvm/gnu-install-dirs.patch
  pkgs/development/compilers/llvm/13/llvm/outputs.patch
  pkgs/development/compilers/llvm/13/openmp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#136541 inferno: 0.10.6 -> 0.10.7
  pkgs/development/tools/inferno/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136524 remove a mention of #node.section.md
  doc/languages-frameworks/javascript.section.md
Labels: 8.has: documentation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136420 buildbot: fix withPlugins
  pkgs/development/python-modules/buildbot/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136564 gitlab: 14.2.1 -> 14.2.3
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/default.nix
  pkgs/applications/version-management/gitlab/fix-grpc-ar.patch
  pkgs/applications/version-management/gitlab/gitaly/Gemfile
  pkgs/applications/version-management/gitlab/gitaly/Gemfile.lock
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/gemset.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv/gemset.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136179 linuxPackages.ddcci-driver: 0.3.3 -> 0.4.1
  pkgs/os-specific/linux/ddcci/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#136475 nixos/pipewire: use absolute path for jack libs
  nixos/modules/services/desktops/pipewire/pipewire.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136467 helvetica-neue-lt-std: 2013.06.07 -> 2014.08.16 switch to web.archive source
  pkgs/data/fonts/helvetica-neue-lt-std/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136376 haskell.compiler.*: clean up maintainer sets
  pkgs/development/compilers/ghc/8.10.2-binary.nix
  pkgs/development/compilers/ghc/8.10.7-binary.nix
  pkgs/development/compilers/ghc/8.10.7.nix
  pkgs/development/compilers/ghc/8.6.5-binary.nix
  pkgs/development/compilers/ghc/8.8.4.nix
  pkgs/development/compilers/ghc/9.0.1.nix
  pkgs/development/compilers/ghc/9.2.1.nix
  pkgs/development/compilers/ghc/head.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136572 [21.05] gitaly: Fix gitaly-git2go binary name
  pkgs/applications/version-management/gitlab/gitaly/default.nix
Labels: 8.has: port to stable, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#135948 python3Packages.protonup: init at 0.1.4
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/protonup/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#133655 hotspot: add rust demangling support (merge with next hotspot release)
  maintainers/maintainer-list.nix
  pkgs/development/libraries/kddockwidgets/default.nix
  pkgs/development/libraries/rustc-demangle/add-Cargo.lock.patch
  pkgs/development/libraries/rustc-demangle/default.nix
  pkgs/development/tools/analysis/hotspot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136578 libint: make enableFMA default dependent of hostPlatform flags
  pkgs/development/libraries/libint/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136576 fftw: add optional AVX/FMA optimization flags
  pkgs/development/libraries/fftw/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136584 bear: 3.0.13 -> 3.0.14
  pkgs/development/tools/build-managers/bear/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136580 vscode,vscodium: fix moving files to the trash
  pkgs/applications/editors/vscode/generic.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136590 kexec-tools: rename from kexectools to match the project name
  nixos/modules/misc/crashdump.nix
  nixos/modules/system/boot/kexec.nix
  pkgs/os-specific/linux/kexec-tools/default.nix
  pkgs/os-specific/linux/systemd/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: systemd

#136603 corerad: 0.3.3 -> 0.3.4
  pkgs/tools/networking/corerad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, marvin, awaiting_reviewer

#136587 emacs.pkgs.ebuild-mode: 1.52 -> 1.53
  pkgs/applications/editors/emacs/elisp-packages/ebuild-mode/default.nix
Labels: 6.topic: emacs, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136567 thunderbird: patch for #134433
  pkgs/applications/networking/mailreaders/thunderbird/D124361.diff
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136395 frei0r-plugins: 1.6.1 -> 1.7.0
  pkgs/development/libraries/frei0r/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136619 salt: 3003.2 -> 3003.3
  pkgs/tools/admin/salt/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-21.05

#136534 nixos.matrix-synapse: Clarify documentation of server_name.
  nixos/modules/services/misc/matrix-synapse.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136575 [21.05] Backport the required commits for the Chromium M93 update
  pkgs/applications/networking/browsers/chromium/browser.nix
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/default.nix
  pkgs/applications/networking/browsers/chromium/upstream-info.json
  pkgs/applications/networking/browsers/google-chrome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#136558 python38Packages.pefile: 2021.5.24 -> 2021.9.2
  pkgs/development/python-modules/pefile/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#135066 gnomeExtensions: Auto-update: 82 new, 111 updated, 4 removed
  pkgs/desktops/gnome/extensions/collisions.json
  pkgs/desktops/gnome/extensions/extensionRenames.nix
  pkgs/desktops/gnome/extensions/extensions.json
Labels: 6.topic: GNOME, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#136616 factorio-experimental: 1.1.38 -> 1.1.39
  pkgs/games/factorio/versions.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#136525 python38Packages.azure-mgmt-compute: 22.1.0 -> 23.0.0
  pkgs/development/python-modules/azure-mgmt-compute/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136546 python38Packages.dogpile_cache: 1.1.3 -> 1.1.4
  pkgs/development/python-modules/dogpile.cache/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136501 python38Packages.google-re2: 0.2.20210801 -> 0.2.20210901
  pkgs/development/python-modules/google-re2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136454 python38Packages.elementpath: 2.2.3 -> 2.3.0
  pkgs/development/python-modules/elementpath/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136548 python38Packages.mwparserfromhell: 0.6.2 -> 0.6.3
  pkgs/development/python-modules/mwparserfromhell/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136528 python38Packages.cucumber-tag-expressions: 3.0.1 -> 4.0.0
  pkgs/development/python-modules/cucumber-tag-expressions/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136497 python38Packages.pyacoustid: 1.2.1 -> 1.2.2
  pkgs/development/python-modules/pyacoustid/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136459 python38Packages.elasticsearch: 7.14.0 -> 7.14.1
  pkgs/development/python-modules/elasticsearch/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136422 python38Packages.mechanize: 0.4.5 -> 0.4.6
  pkgs/development/python-modules/mechanize/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136447 python38Packages.eventlet: 0.31.1 -> 0.32.0
  pkgs/development/python-modules/eventlet/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#136461 python38Packages.google-cloud-datacatalog: 3.4.0 -> 3.4.1
  pkgs/development/python-modules/google-cloud-datacatalog/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#136601 vimPlugins: split helptag generation into a hook
  pkgs/misc/vim-plugins/build-vim-plugin.nix
  pkgs/misc/vim-plugins/default.nix
  pkgs/misc/vim-plugins/update-shell.nix
  pkgs/misc/vim-plugins/update.py
  pkgs/misc/vim-plugins/vim-gen-doc-hook.sh
  pkgs/misc/vim-plugins/vim-utils.nix
Labels: 6.topic: vim, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000

#136596 erlangR24: 24.0.5 -> 24.0.6
  pkgs/development/interpreters/erlang/R24.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136633 signal-desktop: 5.15.0 -> 5.16.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.05

#136629 llvmPackages_13.compiler-rt: Mark as broken on Aarch64
  pkgs/development/compilers/llvm/13/compiler-rt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#136609 gokart: init at 0.2.0
  pkgs/development/tools/gokart/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136623 nmap-formatter: init at 0.2.1
  pkgs/tools/security/nmap-formatter/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136566 wrangler: 0.19.1 -> 0.19.2
  pkgs/development/tools/wrangler/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#136581 python38Packages.transitions: 0.8.8 -> 0.8.9
  pkgs/development/python-modules/transitions/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#136543 lemmy: 0.11.2 -> 0.11.3
  pkgs/servers/web-apps/lemmy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
