Repository NixOS/nixpkgs, pull requests merged in 2021-02, with the labels that each got.

#108098 pythonPackages.pillow: Add libxcb support, convert to generic; pythonPackages.pillow-simd: Init at 7.0.0.post3
  pkgs/development/python-modules/pillow-simd/default.nix
  pkgs/development/python-modules/pillow/6.nix
  pkgs/development/python-modules/pillow/default.nix
  pkgs/development/python-modules/pillow/generic.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#109052 darwin.bootstrap_cmds: update to 121
  pkgs/os-specific/darwin/apple-source-releases/bootstrap_cmds/default.nix
  pkgs/os-specific/darwin/apple-source-releases/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: darwin

#111513 signal-cli: 0.6.12 -> 0.7.4
  pkgs/applications/networking/instant-messengers/signal-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111494 rage: skip check if not x86
  pkgs/tools/security/rage/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111489 gnused/bzip2: add mic92 as maintainer
  pkgs/tools/compression/bzip2/default.nix
  pkgs/tools/text/gnused/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111413 vorta: 0.7.1 -> 0.7.2
  pkgs/applications/backup/vorta/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111410 jetty: 9.4.35.v20201120 -> 9.4.36.v20210114
  pkgs/servers/http/jetty/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 9.needs: port to stable

#110565 python3Packages.gradient: build fix
  pkgs/development/python-modules/gradient-utils/default.nix
  pkgs/development/python-modules/gradient/default.nix
  pkgs/development/python-modules/gradient_sdk/default.nix
  pkgs/development/python-modules/halo/default.nix
  pkgs/development/python-modules/log-symbols/default.nix
  pkgs/development/python-modules/paperspace/default.nix
  pkgs/development/python-modules/spinners/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#111509 rambox-pro: 1.4.1 → 1.5.0
  pkgs/applications/networking/instant-messengers/rambox/pro.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111212 libxslt: use python3 on darwin
  pkgs/development/libraries/libxslt/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: python

#111375 zfs: fix zfs legacy mount
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#111498 wpa_supplicant: backport support for OWE
  pkgs/os-specific/linux/wpa_supplicant/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#111524 scry: does not build with latest crystal
  pkgs/development/tools/scry/default.nix
  pkgs/development/tools/scry/fix_for_crystal_0_28_and_above.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111516 beets: unstable-2020-12-22 -> unstable-2021-01-29
  pkgs/tools/audio/beets/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111517 octoprint 1.5.3
  pkgs/applications/misc/octoprint/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111521 plexamp: 3.3.1 -> 3.4.1
  pkgs/applications/audio/plexamp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111522 klipper: 0.9.1 -> unstable-2021-01-31
  pkgs/servers/klipper/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111171 llvmPackages_rocm: 4.0.0 -> 4.0.1
  pkgs/development/compilers/llvm/rocm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#111477 nextcloud: 20.0.5 -> 20.0.6
  pkgs/servers/nextcloud/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#109393 bee: init at 0.4.2
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/services/networking/bee-clef.nix
  nixos/modules/services/networking/bee.nix
  pkgs/applications/networking/bee/0001-clef-service-accept-default-CONFIGDIR-from-the-envir.patch
  pkgs/applications/networking/bee/0002-nix-diff-for-substituteAll.patch
  pkgs/applications/networking/bee/bee-clef.nix
  pkgs/applications/networking/bee/bee.nix
  pkgs/applications/networking/bee/ensure-clef-account
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#111427 nixos/postgresqlBackup: add types
  nixos/modules/services/backup/postgresql-backup.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111422 nixos/mysqlBackup: add types
  nixos/modules/services/backup/mysql-backup.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111543 ssh-to-pgp: init at 1.0.0
  pkgs/tools/security/ssh-to-pgp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#110601 python3Packages.pytest_xdist: 2.1.0 -> 2.2.0
  pkgs/development/python-modules/psautohint/default.nix
  pkgs/development/python-modules/pytest-forked/default.nix
  pkgs/development/python-modules/pytest-xdist/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: python

#110096 vscode: fix update script
  pkgs/applications/editors/vscode/update-vscode.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111533 amdvlk: 2020.Q4.6 -> 2021.Q1.2
  pkgs/development/libraries/amdvlk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#109510 pythonPackages.pytz: 2020.04 -> 2020.05
  pkgs/development/python-modules/pytz/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer, 6.topic: python

#111416 gimx: init at 8.0
  pkgs/games/gimx/default.nix
  pkgs/games/gimx/ds4.patch
  pkgs/games/gimx/env.patch
  pkgs/games/gimx/variant.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111555 ssh-to-pgp: make platforms more liberal
  pkgs/tools/security/ssh-to-pgp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111414 vimPlugins.sql-nvim: Set a default libsqlite3.so
  pkgs/misc/vim-plugins/overrides.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: vim

#111559 spglib: 1.16.0 -> 1.16.1
  pkgs/development/libraries/spglib/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111550 [20.09] mediawiki: 1.34.4 -> 1.35.1
  pkgs/servers/web-apps/mediawiki/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#111317 php.extensions.xmlreader: Add internal dependency on `dom`
  pkgs/top-level/php-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#111340 ungoogled-chromium: 87.0.4280.141 -> 88.0.4324.104
  pkgs/applications/networking/browsers/chromium/default.nix
  pkgs/applications/networking/browsers/chromium/update.py
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111561 Fix deprecated ?GPL* licenses, adopt a package.
  pkgs/applications/misc/nrsc5/default.nix
  pkgs/applications/radio/multimon-ng/default.nix
  pkgs/applications/radio/soapybladerf/default.nix
  pkgs/applications/radio/welle-io/default.nix
  pkgs/applications/science/astronomy/gpredict/default.nix
  pkgs/applications/science/chemistry/openmolcas/default.nix
  pkgs/applications/version-management/git-and-tools/qgit/default.nix
  pkgs/development/libraries/codec2/default.nix
  pkgs/os-specific/linux/linuxptp/default.nix
  pkgs/servers/computing/slurm-spank-x11/default.nix
  pkgs/servers/computing/slurm/default.nix
  pkgs/tools/misc/snapper/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111527 haskellPackages.postgrest: broken -> unbroken
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#111463 python3Packages.panflute: init at 2.0.5
  pkgs/development/python-modules/panflute/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#111556 inconsolata: change source path for new google fonts
  pkgs/data/fonts/inconsolata/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111546 vim: fix splitjoin-vim and sideways-vim branches, add nvim-hlslens, vim-apm, train-nvim, neogit
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: vim, 8.has: package (new)

#111539 metasploit: 6.0.27 -> 6.0.28
  pkgs/tools/security/metasploit/Gemfile
  pkgs/tools/security/metasploit/Gemfile.lock
  pkgs/tools/security/metasploit/default.nix
  pkgs/tools/security/metasploit/gemset.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111201 chisel: add release
  pkgs/tools/networking/chisel/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111528 oraclejdk8: remove dependency on libav
  pkgs/development/compilers/oraclejdk/jdk-linux-base.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#111152 libschrift: 0.9.1 -> 0.10.0
  pkgs/development/libraries/libschrift/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111553 radvd: 2.18 -> 2.19
  pkgs/tools/networking/radvd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111529 zfs: fix zfs legacy mount
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, awaiting_reviewer, marvin

#111158 python3Packages.pylink-square: init at 0.8.1
  pkgs/development/python-modules/pylink-square/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#111579 libsixel: mark as insecure
  pkgs/development/libraries/libsixel/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 9.needs: port to stable

#111519 treewide: xdg_utils -> xdg-utils
  nixos/modules/services/x11/xserver.nix
  pkgs/applications/audio/bitwig-studio/bitwig-studio1.nix
  pkgs/applications/audio/bitwig-studio/bitwig-studio3.nix
  pkgs/applications/audio/faust/faust2firefox.nix
  pkgs/applications/graphics/emulsion/default.nix
  pkgs/applications/misc/avrdudess/default.nix
  pkgs/applications/misc/calibre/default.nix
  pkgs/applications/misc/eureka-editor/default.nix
  pkgs/applications/misc/far2l/default.nix
  pkgs/applications/misc/fff/default.nix
  pkgs/applications/misc/lutris/fhsenv.nix
  pkgs/applications/misc/qdirstat/default.nix
  pkgs/applications/networking/browsers/brave/default.nix
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/default.nix
  pkgs/applications/networking/browsers/firefox/wrapper.nix
  pkgs/applications/networking/browsers/google-chrome/default.nix
  pkgs/applications/networking/ftp/filezilla/default.nix
  pkgs/applications/networking/instant-messengers/franz/generic.nix
  pkgs/applications/networking/instant-messengers/hipchat/default.nix
  pkgs/applications/networking/instant-messengers/slack/default.nix
  pkgs/applications/networking/instant-messengers/teams/default.nix
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/default.nix
  pkgs/applications/networking/instant-messengers/telegram/tdesktop/default.nix
  pkgs/applications/networking/instant-messengers/wavebox/default.nix
  pkgs/applications/networking/remote/teamviewer/default.nix
  pkgs/applications/office/mytetra/default.nix
  pkgs/applications/terminal-emulators/alacritty/default.nix
  pkgs/applications/terminal-emulators/wayst/default.nix
  pkgs/applications/version-management/git-and-tools/git-open/default.nix
  pkgs/applications/version-management/git-and-tools/lab/default.nix
  pkgs/applications/version-management/rabbitvcs/default.nix
  pkgs/applications/version-management/sparkleshare/default.nix
  pkgs/applications/video/manim/default.nix
  pkgs/applications/video/mkvtoolnix/default.nix
  pkgs/applications/video/subtitleeditor/default.nix
  pkgs/build-support/appimage/default.nix
  pkgs/data/documentation/anarchism/default.nix
  pkgs/desktops/xfce/applications/catfish/default.nix
  pkgs/development/mobile/genymotion/default.nix
  pkgs/development/python-modules/papis/default.nix
  pkgs/games/steam/fhsenv.nix
  pkgs/misc/emulators/nestopia/default.nix
  pkgs/tools/audio/mpris-scrobbler/default.nix
  pkgs/tools/bluetooth/blueman/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 6.topic: python, 6.topic: steam, 6.topic: xfce, 8.has: clean-up, 8.has: documentation, 8.has: module (update), 8.has: package (new)

#111568 fluxcd: 0.7.3 -> 0.7.4
  pkgs/applications/networking/cluster/fluxcd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111560 babelfish: 1.0.1 -> 1.1.0
  pkgs/shells/fish/babelfish.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111557 gnome-keyring: Fix compatibility with libcap_ng >= 0.8.1
  pkgs/desktops/gnome-3/core/gnome-keyring/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: GNOME

#111563 lout: add patch for CVE-2019-19917 and CVE-2019-19918
  pkgs/tools/typesetting/lout/CVE-2019-19917-and-CVE-2019-19918.patch
  pkgs/tools/typesetting/lout/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#111535 hplip: 3.20.5 -> 3.20.11
  pkgs/misc/drivers/hplip/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#111558 python3Packages.pyotp: 2.4.1 -> 2.5.1
  pkgs/development/python-modules/pyotp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#111376 wimboot: fix builds under binutils 2.34+
  pkgs/tools/misc/wimboot/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111574 mariadb-galera: 26.4.5 -> 26.4.7
  pkgs/servers/sql/mariadb/galera/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111571 teleport: 5.1.0 -> 5.1.2
  pkgs/servers/teleport/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111586 terragrunt: add to the meta
  pkgs/applications/networking/cluster/terragrunt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111565 [20.09] ungoogled-chromium: 87.0.4280.141 -> 88.0.4324.104
  pkgs/applications/networking/browsers/chromium/default.nix
  pkgs/applications/networking/browsers/chromium/update.py
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#109054 libgpgerror: 1.38 -> 1.41
  pkgs/development/libraries/libgpg-error/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#109368 darwin: check apple headers
  pkgs/os-specific/darwin/apple-source-releases/CommonCrypto/default.nix
  pkgs/os-specific/darwin/apple-source-releases/Libc/default.nix
  pkgs/os-specific/darwin/apple-source-releases/Libc/headers.txt
  pkgs/os-specific/darwin/apple-source-releases/Libinfo/default.nix
  pkgs/os-specific/darwin/apple-source-releases/Libsystem/default.nix
  pkgs/os-specific/darwin/apple-source-releases/Libsystem/headers.txt
  pkgs/os-specific/darwin/apple-source-releases/architecture/default.nix
  pkgs/os-specific/darwin/apple-source-releases/default.nix
  pkgs/os-specific/darwin/apple-source-releases/hfs/default.nix
  pkgs/os-specific/darwin/apple-source-releases/launchd/default.nix
  pkgs/os-specific/darwin/apple-source-releases/libclosure/default.nix
  pkgs/os-specific/darwin/apple-source-releases/libdispatch/default.nix
  pkgs/os-specific/darwin/apple-source-releases/libplatform/default.nix
  pkgs/os-specific/darwin/apple-source-releases/libpthread/default.nix
  pkgs/os-specific/darwin/apple-source-releases/libutil/default.nix
  pkgs/os-specific/darwin/apple-source-releases/removefile/default.nix
  pkgs/os-specific/darwin/apple-source-releases/xnu/default.nix
  pkgs/os-specific/darwin/apple-source-releases/xnu/headers.txt
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: clean-up, 8.has: package (new)

#111585 Revert "nixos/hoogle: add type"
  nixos/modules/services/development/hoogle.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111576 htmltest: init at 0.14.0
  pkgs/development/tools/htmltest/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111580 xmenu: 4.4.1 -> 4.5.4
  pkgs/applications/misc/xmenu/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111582 rust-analyzer: 2021-01-25 -> 2021-02-01
  pkgs/development/tools/rust/rust-analyzer/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#111505 nixos/buildbot: fix type for pythonPackages
  nixos/modules/services/continuous-integration/buildbot/master.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#107169 cjson: init at 1.7.14
  pkgs/development/libraries/cjson/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111583 docker: fix socket activation race
  nixos/modules/virtualisation/docker.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: documentation, 8.has: module (update)

#111483 python3Packages.cachetools: 4.1.1 -> 4.2.1
  pkgs/development/python-modules/cachetools/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: python

#111589 tpm-luks: add license
  pkgs/tools/security/tpm-luks/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111592 pijul: 1.0.0-alpha.37 -> 1.0.0-alpha.38
  pkgs/applications/version-management/pijul/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111584 terragrunt: 0.27.3 -> 0.27.4
  pkgs/applications/networking/cluster/terragrunt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111596 Papermc 1.16.4 -> 1.16.5
  pkgs/games/papermc/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#110810 yuzu-mainline: 482 -> 517 && yuzu-ea: init at 1377
  pkgs/misc/emulators/yuzu/base.nix
  pkgs/misc/emulators/yuzu/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: clean-up, 8.has: package (new), awaiting_reviewer, marvin

#111547 gtk-{2,3,4}: add changelog url
  pkgs/development/libraries/gtk/2.x.nix
  pkgs/development/libraries/gtk/3.x.nix
  pkgs/development/libraries/gtk/4.x.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#110809 ijq: init at 0.2.3
  pkgs/development/tools/ijq/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111435 nixos/sabnzbd: add types
  nixos/modules/services/networking/sabnzbd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111567 python3Packages.spacy: remove myself as a maintainer
  pkgs/development/python-modules/blis/default.nix
  pkgs/development/python-modules/catalogue/default.nix
  pkgs/development/python-modules/mmh3/default.nix
  pkgs/development/python-modules/pkuseg/default.nix
  pkgs/development/python-modules/spacy/default.nix
  pkgs/development/python-modules/srsly/default.nix
  pkgs/development/python-modules/thinc/default.nix
  pkgs/development/python-modules/wasabi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python

#111554 [20.09] ssh-to-pgp: init at 1.0.0
  pkgs/tools/security/ssh-to-pgp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111493 [20.09] nginx module: fix typo in proxyWebsockets description
  nixos/modules/services/web-servers/nginx/location-options.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111597 libgda6: init at 6.0.0
  pkgs/desktops/gnome-3/core/yelp-xsl/default.nix
  pkgs/development/libraries/libgda/6.x.nix
  pkgs/development/libraries/libgda/default.nix
  pkgs/development/misc/yelp-tools/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: GNOME, 8.has: package (new)

#111599 zfs: 2.0.1 -> 2.0.2
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 11.by: package-maintainer

#111601 [20.09] zfs: 2.0.1 -> 2.0.2
  pkgs/os-specific/linux/zfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500

#111020 [20.09] Staging next
  pkgs/development/libraries/libuv/default.nix
  pkgs/development/libraries/openjpeg/2.x.nix
  pkgs/development/libraries/openjpeg/fix-cmake-config-includedir.patch
  pkgs/development/libraries/openjpeg/generic.nix
  pkgs/development/libraries/p11-kit/default.nix
  pkgs/development/libraries/wavpack/default.nix
  pkgs/development/python-modules/zope_interface/default.nix
  pkgs/development/web/nodejs/v10.nix
  pkgs/development/web/nodejs/v12.nix
  pkgs/development/web/nodejs/v14.nix
  pkgs/os-specific/linux/kernel/hardened/patches.json
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.8.nix
  pkgs/os-specific/linux/kernel/linux-testing.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
  pkgs/os-specific/linux/zfs/default.nix
  pkgs/tools/networking/dnsmasq/default.nix
  pkgs/tools/networking/unbound/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#109123 [20.09] glibc: 2.31 -> 2.31-74 (CVE-2019-25013)
  pkgs/development/libraries/glibc/2.30-cve-2020-1752.patch
  pkgs/development/libraries/glibc/2.31-cve-2020-10029.patch
  pkgs/development/libraries/glibc/2.31-cve-2020-6096.0.patch
  pkgs/development/libraries/glibc/2.31-cve-2020-6096.1.patch
  pkgs/development/libraries/glibc/2.31-master.patch.gz
  pkgs/development/libraries/glibc/common.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#104079 [20.09] aliases: rfkill is replaced by utillinux, not util-linux
  pkgs/top-level/aliases.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.branch: release-20.09

#111406 python37Packages.nose2: 0.9.2 -> 0.10.0
  pkgs/development/python-modules/nose2/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#111542 [20.09] gdk-pixbuf: add patch for CVE-2020-29385
  pkgs/development/libraries/gdk-pixbuf/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#111598 apmplanner2: 2.0.28-rc1 -> 2.0.28
  pkgs/applications/science/robotics/apmplanner2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108794 pythonPackages.criticality-score: init at 1.0.7
  pkgs/development/python-modules/criticality-score/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#111611 masscan: 1.3.1 -> 1.3.2
  pkgs/tools/security/masscan/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111604 hydra-check: 1.1.1 -> 1.2.0
  pkgs/development/python-modules/hydra-check/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#111606 fluxcd: 0.7.4 -> 0.7.5
  pkgs/applications/networking/cluster/fluxcd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111396 ovito: init at 3.4.0
  pkgs/applications/graphics/ovito/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111151 boundary: init at 0.1.4
  pkgs/tools/networking/boundary/default.nix
  pkgs/tools/networking/boundary/update.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111600 binwalk: simplify visualizationSupport code
  pkgs/development/python-modules/binwalk/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python

#111544 gobby: unstable-2020-12-29 -> 0.6.0 and rename from gobby5
  pkgs/applications/editors/gobby/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: clean-up, 8.has: package (new)

#111614 pythonPackages.python-levenshtein: 0.12.0 -> 0.12.1
  pkgs/development/python-modules/python-levenshtein/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 9.needs: port to stable

#110150 musikcube: 0.96.2 -> 0.96.4
  pkgs/applications/audio/musikcube/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111615 waybox: init at unstable-2020-05-01
  pkgs/applications/window-managers/waybox/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111623 tailscale: 1.4.1 -> 1.4.2
  pkgs/servers/tailscale/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, awaiting_merger, marvin

#111587 [20.09] graphicsmagick: 1.3.35 -> 1.3.36
  pkgs/applications/graphics/graphicsmagick/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#111491 python3Packages.GitPython: 3.1.11 -> 3.1.12
  pkgs/development/python-modules/GitPython/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: python

#111540 [20.09] go-ethereum: 1.9.24 -> 1.9.25
  pkgs/applications/blockchains/go-ethereum.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111605 fuzzel: 1.5.0 -> 1.5.1
  pkgs/applications/misc/fuzzel/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111607 fwupd: 1.5.3 → 1.5.5
  pkgs/os-specific/linux/firmware/fwupd/add-option-for-installation-sysconfdir.patch
  pkgs/os-specific/linux/firmware/fwupd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#107167 tageditor: init at 3.3.10, tagparser: init at 9.4.0
  pkgs/applications/audio/tageditor/default.nix
  pkgs/development/libraries/tagparser/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111637 planner: remove
  pkgs/applications/office/planner/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: clean-up

#111401 [20.09] mbedtls: 2.16.3 -> 2.16.9
  pkgs/development/libraries/mbedtls/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#111627 keepassxc: 2.6.3 -> 2.6.4
  pkgs/applications/misc/keepassx/community.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111591 nixos/zfs: expose zfs package as readonly attribute
  nixos/modules/services/cluster/kubernetes/kubelet.nix
  nixos/modules/tasks/filesystems/zfs.nix
  nixos/modules/virtualisation/lxd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111630 nvidia-settings: fix parallel build race condition
  pkgs/os-specific/linux/nvidia-x11/nvidia-setttings-parallel-build.patch
  pkgs/os-specific/linux/nvidia-x11/settings.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#111625 singularity: 3.7.0 -> 3.7.1
  pkgs/applications/virtualization/singularity/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111619 python3Packages.watchdog: 0.10.4 -> 1.0.2
  pkgs/development/python-modules/coconut/default.nix
  pkgs/development/python-modules/watchdog/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#111626 google-cloud-sdk: 323.0.0 -> 325.0.0
  pkgs/tools/admin/google-cloud-sdk/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111628 ccache: 4.1 -> 4.2
  pkgs/development/tools/misc/ccache/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111639 vim: add nvim-lightbulb
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: vim, 8.has: package (new)

#111640 joplin-desktop: 1.6.7 -> 1.7.10
  pkgs/applications/misc/joplin-desktop/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111495 nixosTests.installer: Increase memory allocated to the VM
  nixos/tests/installer.nix
Labels: 1.severity: channel blocker, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: nixpkgs-member, 6.topic: nixos, 6.topic: testing

#111492 flutter: added dev libraries for the emulator
  pkgs/development/compilers/flutter/flutter.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#111511 pythonPackages.pysaml2: 5.0.0 -> 6.5.1, addressing CVE-2021-21238 & CVE-2021-21239
  pkgs/development/python-modules/pysaml2/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 9.needs: port to stable

#111153 nixos/hadoop: add types
  nixos/modules/services/cluster/hadoop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#110405 elfutils: 0.180 -> 0.182, fix building under musl
  pkgs/development/tools/misc/elfutils/default.nix
  pkgs/development/tools/misc/elfutils/musl-cdefs_h.patch
  pkgs/development/tools/misc/elfutils/musl-error_h.patch
  pkgs/os-specific/linux/musl-fts/default.nix
  pkgs/os-specific/linux/musl-obstack/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 8.has: clean-up, 8.has: package (new)

#111644 routinator: 0.8.2 -> 0.8.3
  pkgs/servers/routinator/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#110171 openvswitch: 2.14.0 -> 2.14.1
  pkgs/os-specific/linux/openvswitch/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#111405 gomacro: init at 2.7
  maintainers/maintainer-list.nix
  pkgs/development/tools/gomacro/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111649 poetry2nix: 1.14.0 -> 1.15.2
  .github/CODEOWNERS
  pkgs/development/tools/poetry2nix/poetry2nix/default.nix
  pkgs/development/tools/poetry2nix/poetry2nix/lib.nix
  pkgs/development/tools/poetry2nix/poetry2nix/mk-poetry-dep.nix
  pkgs/development/tools/poetry2nix/poetry2nix/overrides.nix
  pkgs/development/tools/poetry2nix/poetry2nix/pep425.nix
  pkgs/development/tools/poetry2nix/poetry2nix/pep508.nix
  pkgs/development/tools/poetry2nix/poetry2nix/pkgs/poetry/update
  pkgs/development/tools/poetry2nix/update
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: policy discussion

#111646 treewide: Remove doBuild = false, remove some stale substituteInPlace, fix some hanging tests on darwin
  pkgs/applications/audio/keyfinder/default.nix
  pkgs/applications/misc/archivy/default.nix
  pkgs/applications/networking/cluster/octant/default.nix
  pkgs/applications/science/misc/foldingathome/control.nix
  pkgs/applications/version-management/git-and-tools/legit/default.nix
  pkgs/applications/video/vcs/default.nix
  pkgs/development/interpreters/gauche/default.nix
  pkgs/development/libraries/rocclr/default.nix
  pkgs/development/python-modules/apache-airflow/default.nix
  pkgs/development/python-modules/deform/default.nix
  pkgs/development/python-modules/doit/default.nix
  pkgs/development/python-modules/dufte/default.nix
  pkgs/development/python-modules/exdown/default.nix
  pkgs/development/python-modules/git-sweep/default.nix
  pkgs/development/python-modules/nbdime/default.nix
  pkgs/development/python-modules/pyslurm/default.nix
  pkgs/development/python-modules/skein/skeinrepo.nix
  pkgs/development/python-modules/somajo/default.nix
  pkgs/development/tools/fdroidserver/default.nix
  pkgs/development/tools/git-repo-updater/default.nix
  pkgs/servers/tautulli/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: darwin, 6.topic: python, 8.has: clean-up, 8.has: package (new), ofborg-internal-error

#111613 flatpak: 1.8.2 → 1.10.1
  pkgs/development/libraries/flatpak/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#110522 [20.09] wordpress: 5.5.1 -> 5.5.3
  pkgs/servers/web-apps/wordpress/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#110866 weechatScripts.weechat-matrix: fix PYTHONPATH
  pkgs/applications/networking/irc/weechat/scripts/weechat-matrix/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#110728 autoreconfHook: make overridable
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#110577 tridactyl-native: 1.20.3 -> 1.20.4
  pkgs/tools/networking/tridactyl-native/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#110605 qt515.qtwebengine: update darwin patches
  pkgs/development/libraries/qt-5/5.15/default.nix
  pkgs/development/libraries/qt-5/5.15/qtwebengine-darwin-no-platform-check.patch
  pkgs/development/libraries/qt-5/5.15/qtwebengine-mac-dont-set-dsymutil-path.patch
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: qt/kde

#111652 boundary: 0.1.4 -> 0.1.5
  pkgs/tools/networking/boundary/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111366 fishnet: init at 2.2.3
  pkgs/servers/fishnet/assets.nix
  pkgs/servers/fishnet/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111292 cinnamon.xviewer: init at 2.8.3
  pkgs/desktops/cinnamon/default.nix
  pkgs/desktops/cinnamon/xviewer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: cinnamon, 8.has: package (new)

#111638 python3Packages.cmsis-svd: init at 0.4
  pkgs/development/python-modules/cmsis-svd/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#109414 galene: init at 0.2
  nixos/modules/module-list.nix
  nixos/modules/services/web-apps/galene.nix
  pkgs/servers/web-apps/galene/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#111669 masterpdfeditor: 5.6.09 -> 5.7.20
  pkgs/applications/misc/masterpdfeditor/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111677 open-isns: 0.100 -> 0.101
  pkgs/os-specific/linux/open-isns/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111609 tmux-mem-cpu-load: init at 3.4.0
  pkgs/tools/misc/tmux-mem-cpu-load/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#111664 terragrunt: 0.27.4 -> 0.28.1
  pkgs/applications/networking/cluster/terragrunt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#111665 fluxcd: 0.7.5 -> 0.7.6
  pkgs/applications/networking/cluster/fluxcd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#111670 openslp: add patch for CVE-2019-5544
  pkgs/development/libraries/openslp/CVE-2019-5544.patch
  pkgs/development/libraries/openslp/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 9.needs: port to stable

#111249 glusterfs: 8.3 -> 9.0
  pkgs/tools/filesystems/glusterfs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#111039 firejail: 0.9.64 -> 0.9.64.2
  pkgs/os-specific/linux/firejail/default.nix
  pkgs/os-specific/linux/firejail/default.upstream
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#105815 graalvm-ce-20.2.0 -> 20.3.0 + darwin support.
  pkgs/development/compilers/graalvm/community-edition.nix
  pkgs/development/interpreters/clojure/babashka.nix
  pkgs/development/tools/clj-kondo/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: darwin, 8.has: package (new)

#111538 haskellPackages.hum: broken -> unbroken
  pkgs/development/haskell-modules/configuration-hackage2nix.yaml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#111666 _1password-gui: 0.9.10-5 -> 0.9.11-3
  pkgs/tools/security/1password-gui/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer
