Repository NixOS/nixpkgs, pull requests merged in 2021-06, with the labels that each got.

#125072 dbeaver: 21.0.5 -> 21.1.0
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#121986 nixos/release-notes: Initial grooming of release notes
  nixos/doc/manual/release-notes/rl-2105.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 6.topic: release process, 8.has: changelog, 8.has: documentation, backport release-21.05

#125129 nixos/doc/releases: update stable release info to 21.05
  nixos/doc/manual/installation/upgrading.xml
  nixos/doc/manual/release-notes/rl-2105.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, backport release-21.05

#125132 rust: Bootstrap riscv64
  pkgs/development/compilers/llvm/11/llvm/default.nix
  pkgs/development/compilers/llvm/9/llvm/default.nix
  pkgs/development/compilers/rust/1_52.nix
  pkgs/development/compilers/rust/default.nix
  pkgs/development/compilers/rust/print-hashes.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: rust

#125150 imagemagick: Allow compilation without --with-gcc-arch
  pkgs/applications/graphics/ImageMagick/6.x.nix
  pkgs/applications/graphics/ImageMagick/7.0.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#125121 nixos/lib/make-ext4-fs: Fix: `resize2fs -M' can leave insufficient slack
  nixos/lib/make-ext4-fs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, backport release-21.05

#125131 kea: 1.9.7 -> 1.9.8
  pkgs/tools/networking/kea/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125160 delve: disable source fortify at runtime
  pkgs/development/tools/delve/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, backport release-21.05

#125071 bmake: 20200902 -> 20210420
  pkgs/development/tools/build-managers/bmake/default.nix
  pkgs/development/tools/build-managers/bmake/fix-localtime-test.patch
  pkgs/development/tools/build-managers/bmake/fix-unexport-env-test.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#125158 radare2: 5.2.1 -> 5.3.0
  pkgs/development/tools/analysis/radare2/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#125174 nginx: fix link to discussion explaining why "with" is not used
  pkgs/top-level/all-packages.nix
Labels: backport release-21.05

#125171 zsh-completions: 0.32.0 -> 0.33.0
  pkgs/shells/zsh/zsh-completions/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#121667 nixos/buildkite-agents: fix race-condition when installing secrets
  nixos/modules/services/continuous-integration/buildkite-agents.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update)

#125003 spatialite_tools: 5.0.0 -> 5.0.1
  pkgs/development/libraries/spatialite-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#124523 zthrottle: init
  pkgs/tools/misc/zthrottle/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#124840 linux_xanmod: 5.12.7 -> 5.12.8
  pkgs/os-specific/linux/kernel/linux-xanmod.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: kernel

#124595 [21.05] Update step certificates and cli #124347
  pkgs/tools/security/step-ca/default.nix
  pkgs/tools/security/step-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#125152 zabbix: 4.0.30 -> 4.0.31, 5.0.11 -> 5.0.12
  pkgs/servers/monitoring/zabbix/versions.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#125124 grip: 4.2.0 -> 4.2.1
  pkgs/applications/misc/grip/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125130 gpg-tui: init at 0.1.5
  pkgs/tools/security/gpg-tui/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#125178 deno: 1.10.2 -> 1.10.3
  pkgs/development/web/deno/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125127 reproxy: 0.6.0 → 0.7.0
  pkgs/servers/reproxy/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125117 groonga: 11.0.2 -> 11.0.3
  pkgs/servers/search/groonga/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#120684 python3Packages.black: 20.8b1 -> 21.4b2
  pkgs/development/python-modules/black/default.nix
  pkgs/development/python-modules/pyls-black/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: python

#125179 onlyoffice-bin: 6.1.0 -> 6.2.0 and fix runHook typo
  pkgs/applications/office/onlyoffice-bin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#116973 s2n-tls: 1.0.0 -> 1.0.1
  pkgs/development/libraries/s2n-tls/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#125209 httpx: 1.0.8 -> 1.0.9
  pkgs/tools/security/httpx/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125214 haskell: add erictapen as maintainer
  pkgs/development/haskell-modules/configuration-hackage2nix/main.yaml
Labels: 6.topic: haskell

#125211 build-support/docker: pass tlsVerify to support http registries
  pkgs/build-support/docker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#124983 xcp: init at 0.9.0
  pkgs/tools/misc/xcp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#124142 jackett: 0.18.98 -> 0.18.100
  pkgs/servers/jackett/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#124600 iptsd: init at 0.4
  pkgs/applications/misc/iptsd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#124404 Small option type adjustments
  nixos/modules/services/databases/redis.nix
  nixos/modules/services/games/terraria.nix
  nixos/modules/services/misc/gitlab.nix
  nixos/modules/services/misc/matrix-synapse.nix
  nixos/modules/services/networking/firefox/sync-server.nix
  nixos/modules/services/networking/git-daemon.nix
  nixos/modules/services/networking/monero.nix
  nixos/modules/services/web-apps/discourse.nix
  nixos/modules/services/web-servers/darkhttpd.nix
  nixos/modules/services/web-servers/lighttpd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), backport release-21.05

#124955 Ustreamer
  maintainers/maintainer-list.nix
  pkgs/applications/video/ustreamer/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#124594 [20.09] Update step certificates and cli #124347
  pkgs/tools/security/step-ca/default.nix
  pkgs/tools/security/step-ca/deps.nix
  pkgs/tools/security/step-cli/default.nix
  pkgs/tools/security/step-cli/deps.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#124977 skytemple: init at 1.2.3
  pkgs/applications/misc/skytemple/default.nix
  pkgs/development/python-modules/explorerscript/default.nix
  pkgs/development/python-modules/ndspy/default.nix
  pkgs/development/python-modules/py-desmume/default.nix
  pkgs/development/python-modules/pygtkspellcheck/default.nix
  pkgs/development/python-modules/pypresence/default.nix
  pkgs/development/python-modules/skytemple-dtef/default.nix
  pkgs/development/python-modules/skytemple-eventserver/default.nix
  pkgs/development/python-modules/skytemple-files/default.nix
  pkgs/development/python-modules/skytemple-icons/default.nix
  pkgs/development/python-modules/skytemple-rust/default.nix
  pkgs/development/python-modules/skytemple-ssb-debugger/default.nix
  pkgs/development/python-modules/tilequant/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#124836 pcl: fix convex hull support
  pkgs/development/libraries/pcl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#124878 bsp-layout: init at unstable-2021-05-10
  pkgs/tools/misc/bsp-layout/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#124991 nixos/pam: use new plasma5Packages, fixes #124973
  nixos/modules/security/pam.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 8.has: module (update), backport release-21.05

#123932 radarr: 3.1.1.4954 -> 3.2.1.5070
  pkgs/servers/radarr/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#124557 python3Packages.uproot: init at 4.0.8
  pkgs/development/python-modules/scikit-hep-testdata/default.nix
  pkgs/development/python-modules/uproot/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#120699 php.extensions.snuffleupagus: init at 0.7.0
  pkgs/development/php-packages/snuffleupagus/default.nix
  pkgs/top-level/php-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: package (new)

#124892 yara: 4.0.5 -> 4.1.1
  pkgs/tools/security/yara/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, backport release-21.05

#125207 Discord 0.0.15 backport
  pkgs/applications/networking/instant-messengers/discord/base.nix
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#125185 zstd: patch test flakiness on i686
  pkgs/tools/compression/zstd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#125225 changelog: fix typo
  nixos/doc/manual/release-notes/rl-2105.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, backport release-21.05

#124603 php.buildPecl: Add checkPhase
  pkgs/build-support/build-pecl.nix
  pkgs/top-level/php-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, backport release-21.05

#124079 python3Packages.pyroute2: 0.5.18 -> 0.6.1
  pkgs/development/python-modules/aiodiscover/default.nix
  pkgs/development/python-modules/mitogen/default.nix
  pkgs/development/python-modules/pyroute2-core/default.nix
  pkgs/development/python-modules/pyroute2-ethtool/default.nix
  pkgs/development/python-modules/pyroute2-ipdb/default.nix
  pkgs/development/python-modules/pyroute2-ipset/default.nix
  pkgs/development/python-modules/pyroute2-ndb/default.nix
  pkgs/development/python-modules/pyroute2-nftables/default.nix
  pkgs/development/python-modules/pyroute2-nslink/default.nix
  pkgs/development/python-modules/pyroute2-protocols/default.nix
  pkgs/development/python-modules/pyroute2/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python, 8.has: package (new)

#124716 brave: 1.24.86 -> 1.25.68
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#125098 [20.09] python3Packages.websockets: add patch for CVE-2018-1000518-redux
  pkgs/development/python-modules/websockets/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#124969 cacerts: Make updater script aware of the nss_latest attribute
  pkgs/data/misc/cacert/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#125201 doc: fix incorrect use of cargoDeps
  doc/languages-frameworks/rust.section.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: rust, 8.has: documentation

#125240 s2n-tls: split dev output to reduce Nix closure
  pkgs/development/libraries/aws-c-io/default.nix
  pkgs/development/libraries/s2n-tls/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#123895 bazel_4: 4.0.0 -> 4.1.0
  pkgs/development/tools/build-managers/bazel/bazel_4/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_4/src-deps.json
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#124512 add himalaya Vim plugin
  pkgs/misc/vim-plugins/overrides.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: vim, 8.has: package (new)

#124986 libccd: fix pkgconfig file paths
  pkgs/development/libraries/libccd/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#124996 schismtracker: 20200412 -> 20210525
  pkgs/applications/audio/schismtracker/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new), backport release-21.05

#124012 gpxlab: fix localization
  pkgs/applications/misc/gpxlab/default.nix
  pkgs/applications/misc/gpxlab/fix-qttranslations-path.patch
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#116241 coreutils: disable tests which fail in sandbox
  pkgs/tools/misc/coreutils/default.nix
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#125115 qt5.qtgamepad: actually build module
  pkgs/development/libraries/qt-5/5.15/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: qt/kde, 8.has: package (new)

#125220 alsaTools: 1.2.2 -> 1.2.5
  pkgs/os-specific/linux/alsa-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125155 liquidprompt: 2.0.2 -> 2.0.3
  pkgs/shells/liquidprompt/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#123177 python3Packages.garages-amsterdam: init at 2.1.0
  pkgs/development/python-modules/garages-amsterdam/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#124853 editline: 1.17.0 -> 1.17.1 and add patch to fix Home and End key in tmux
  pkgs/development/libraries/editline/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, backport release-21.05

#125097 usbutils: 012 -> 013
  pkgs/os-specific/linux/usbutils/default.nix
  pkgs/os-specific/linux/usbutils/fix-paths.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, backport release-21.05

#125212 innernet: 1.3.0 -> 1.3.1
  pkgs/tools/networking/innernet/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#124221 ceph: 16.2.3 -> 16.2.4
  pkgs/tools/filesystems/ceph/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#125232 ddclient: 3.9.0 -> 3.9.1
  pkgs/tools/networking/ddclient/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125180 gnome-flashback: add module support to gnome-panel for installing applets
  nixos/modules/services/x11/desktop-managers/gnome.nix
  pkgs/desktops/gnome/misc/gnome-flashback/default.nix
  pkgs/desktops/gnome/misc/gnome-panel/default.nix
  pkgs/desktops/gnome/misc/gnome-panel/modulesdir-env-var.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: GNOME, 6.topic: nixos, 8.has: module (update)

#125245 warzone2100: fix build
  pkgs/games/warzone2100/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#125265 pulumi-bin: 3.3.0 -> 3.3.1
  pkgs/tools/admin/pulumi/data.nix
  pkgs/tools/admin/pulumi/update.sh
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#123708 jdk8: Remove default java.library.path
  pkgs/development/compilers/openjdk/8.nix
  pkgs/development/compilers/openjdk/fix-library-path-jdk8.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#125263 gnomeExtensions: allowAliases should default to true if unset
  pkgs/desktops/gnome/extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: GNOME, 8.has: package (new), backport release-21.05

#125145 kalk: init at 0.5.4
  pkgs/tools/misc/kalk/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#125169 nixos/containerd: improve zfs support
  nixos/modules/virtualisation/containerd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#125148 stagit: 0.9.5 → 0.9.6
  pkgs/development/tools/stagit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#125172 metals: 0.10.3 -> 0.10.4
  pkgs/development/tools/metals/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#125262 papirus-icon-theme: 20210501 -> 20210601
  pkgs/data/icons/papirus-icon-theme/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#124296 rust-analyzer: 2021-05-17 -> 2021-05-31
  pkgs/development/tools/rust/rust-analyzer/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125096 sane-airscan: 0.99.24 -> 0.99.26
  pkgs/applications/graphics/sane/backends/airscan/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125075 jitsi-meet-electron: 2.8.5 -> 2.8.6
  pkgs/applications/networking/instant-messengers/jitsi-meet-electron/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#125081 kdeltachat: unstable-2021-05-22 -> unstable-2021-05-31
  pkgs/applications/networking/instant-messengers/kdeltachat/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-21.05

#124210 bozohttpd: init
  pkgs/servers/http/bozohttpd/0001-include-stdint.h.patch
  pkgs/servers/http/bozohttpd/0002-dont-use-host-BUFSIZ.patch
  pkgs/servers/http/bozohttpd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#125194 unit: 1.22.0 -> 1.24.0
  pkgs/servers/http/unit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#123048 nss: 3.64 -> 3.66, cacert: 3.63 -> 3.66
  pkgs/data/misc/cacert/default.nix
  pkgs/development/libraries/nss/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#125280 nss: Set NSS_USE_64=1 for 64-bit platforms
  pkgs/development/libraries/nss/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+

#125294 fzf: 0.27.1 -> 0.27.2
  pkgs/tools/misc/fzf/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#125300 botamusique: unstable-2021-05-19 -> unstable-2021-06-01
  pkgs/tools/audio/botamusique/node-packages.nix
  pkgs/tools/audio/botamusique/src.json
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, backport release-21.05

#125041 janet: 1.15.5 -> 1.16.0
  pkgs/development/interpreters/janet/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125282 sqlx-cli: 0.5.2 -> 0.5.5
  pkgs/development/tools/rust/sqlx-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125291 poetry2nix: 1.16.1 -> 1.17.0
  pkgs/development/tools/poetry2nix/poetry2nix/default.nix
  pkgs/development/tools/poetry2nix/poetry2nix/fetch-from-pypi.sh
  pkgs/development/tools/poetry2nix/poetry2nix/fetch_from_legacy.py
  pkgs/development/tools/poetry2nix/poetry2nix/lib.nix
  pkgs/development/tools/poetry2nix/poetry2nix/mk-poetry-dep.nix
  pkgs/development/tools/poetry2nix/poetry2nix/overrides.nix
  pkgs/development/tools/poetry2nix/poetry2nix/pep508.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125197 go-task: 3.4.2 -> 3.4.3
  pkgs/development/tools/go-task/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125215 krapslog: 0.1.3 -> 0.2.0
  pkgs/tools/misc/krapslog/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125151 mackerel-agent: 0.71.1 -> 0.71.2
  pkgs/servers/monitoring/mackerel-agent/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#124846 go-mockery: 2.7.5 -> 2.8.0
  pkgs/development/tools/go-mockery/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125165 bupstash: 0.9.0 -> 0.9.1
  pkgs/tools/backup/bupstash/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125274 libsForQt5.drumstick: 2.2.0 -> 2.2.1
  pkgs/development/libraries/drumstick/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#125023 ckan: 1.30.2 -> 1.30.4
  pkgs/games/ckan/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#124871 eksctl: 0.51.0 -> 0.52.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125161 wio: unstable-2020-11-02 -> 0.0.0+unstable=2021-06-01
  pkgs/applications/window-managers/wio/default.nix
  pkgs/applications/window-managers/wio/wlroots-0.13.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125162 bibletime: 2.11.2 -> 3.0
  pkgs/applications/misc/bibletime/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125323 platforms: Update RISC-V kernel configs
  lib/systems/platforms.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#125327 haskellPackages.arch-web: unbreak
  pkgs/development/haskell-modules/configuration-hackage2nix/broken.yaml
  pkgs/development/haskell-modules/configuration-hackage2nix/main.yaml
  pkgs/development/haskell-modules/configuration-nix.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: haskell

#124589 nixos/podman-dnsname: init
  nixos/modules/virtualisation/containers.nix
  nixos/modules/virtualisation/podman-dnsname.nix
  nixos/modules/virtualisation/podman.nix
  nixos/tests/all-tests.nix
  nixos/tests/podman-dnsname.nix
  pkgs/applications/networking/cluster/dnsname-cni/default.nix
  pkgs/applications/networking/cluster/dnsname-cni/hardcode-dnsmasq-path.patch
  pkgs/applications/virtualization/podman/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#125326 jdk8: fix sprintf patch
  pkgs/development/compilers/openjdk/fix-library-path-jdk8.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#125306 firefox-esr: 78.10.1esr -> 78.11.0esr
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, backport release-20.09, backport release-21.05

#125313 crun: 0.19.1 -> 0.20
  pkgs/applications/virtualization/crun/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125334 matterbridge: 1.12.1 -> 1.12.2
  pkgs/servers/matterbridge/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#124891 antimony: add desktop item
  pkgs/applications/graphics/antimony/default.nix
  pkgs/applications/graphics/antimony/mimetype.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#119057 obs-websocket: init at 4.9.0
  maintainers/maintainer-list.nix
  pkgs/applications/video/obs-studio/plugins/obs-websocket.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: package-maintainer, 8.has: package (new)

#125035 goreleaser: 0.166.0 -> 0.166.2
  pkgs/tools/misc/goreleaser/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05

#124586 .github/workflows/nixos-manual.yml: add permisssions so action runs don't require approval
  .github/workflows/nixos-manual.yml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: policy discussion

#125206 nixos/containers: add storage.conf
  nixos/modules/virtualisation/containers.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#125046 python3Packages.pymata-express: 1.19 -> 1.20
  pkgs/development/python-modules/pymata-express/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#125177 python3Packages.adext: 0.4.1 -> 0.4.2
  pkgs/development/python-modules/adext/default.nix
  pkgs/development/python-modules/alarmdecoder/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#124978 python3Packages.mechanicalsoup: 1.0.0 -> 1.1.0
  pkgs/development/python-modules/MechanicalSoup/default.nix
  pkgs/development/python-modules/mechanicalsoup/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#123251 python3Packages.aiodns: 2.0.0 -> 3.0.0
  pkgs/applications/networking/instant-messengers/poezio/default.nix
  pkgs/development/python-modules/aiodns/default.nix
  pkgs/development/python-modules/pycares/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: python

#124521 mubeng: init at 0.4.5
  pkgs/tools/networking/mubeng/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#125293 wpscan: 3.7.5 -> 3.8.17
  pkgs/tools/security/wpscan/Gemfile.lock
  pkgs/tools/security/wpscan/gemset.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125330 stdenv.darwin: nixpkgs-fmt
  pkgs/stdenv/darwin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: stdenv

#125181 [21.05] beam-packages: drop erlang R18 R19 R20 and cuter
  doc/languages-frameworks/beam.section.md
  nixos/doc/manual/release-notes/rl-2105.xml
  pkgs/development/beam-modules/default.nix
  pkgs/development/interpreters/erlang/R18.nix
  pkgs/development/interpreters/erlang/R19.nix
  pkgs/development/interpreters/erlang/R20.nix
  pkgs/development/tools/erlang/cuter/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/beam-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: erlang, 6.topic: nixos, 8.has: changelog, 8.has: clean-up, 8.has: documentation

#125200 gotty: 1.2.0 -> 1.3.0
  pkgs/servers/gotty/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125189 python3Packages.aioswitcher: 1.2.2 -> 1.2.3
  pkgs/development/python-modules/aioswitcher/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#125347 python3Packages.pyiqvia: 0.3.3 -> 1.0.0
  pkgs/development/python-modules/pyiqvia/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#125295 vscode-extentions.kahole.magit: init 0.6.13
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#125296 vscode-extensions.bodil.file-browser: init 0.2.10
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#125297 vscode-extensions.vspacecode.vspacecode: init 0.9.1
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#125299 vscode-extensions.tiehuis.zig: init 0.2.5
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#125324 vscode-extensions.jackebecker.elixir-ls: init 0.7.0
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#125289 qutebrowser: 2.2.2 -> 2.2.3
  pkgs/applications/networking/browsers/qutebrowser/default.nix
  pkgs/development/python-modules/adblock/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, backport release-21.05

#125092 tarball: check systems based on the list of supported systems
  pkgs/top-level/make-tarball.nix
  pkgs/top-level/release-small.nix
  pkgs/top-level/release.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#125163 wal-g: 0.2.21 -> 1.0
  pkgs/tools/backup/wal-g/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#110590 lammps: stable_22Aug2018 -> stable_29Oct2020
  pkgs/applications/science/molecular-dynamics/lammps/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#125322 vscode-extensions.vspacecode.whichkey: ini 0.8.5
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#125357 chromiumDev: 92.0.4515.20 -> 92.0.4515.40
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125314 procs: 0.11.4 -> 0.11.8
  pkgs/tools/admin/procs/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125344 [21.05] cacert: 3.63 -> 3.66
  pkgs/data/misc/cacert/default.nix
  pkgs/data/misc/cacert/update.sh
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#125346 [20.09] cacert: 3.56 -> 3.66
  pkgs/data/misc/cacert/default.nix
  pkgs/data/misc/cacert/update.sh
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#125371 terraform-providers.aws: 3.39.0 -> 3.43.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#125216 dockerTools: Fix passthru image tag
  pkgs/build-support/docker/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-21.05

#119571 passExtensions.pass-import: install extension script and completion
  pkgs/tools/security/pass/extensions/import.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125218 ocamlPackages.junit: init 2.0.2
  pkgs/development/ocaml-modules/junit/alcotest.nix
  pkgs/development/ocaml-modules/junit/default.nix
  pkgs/development/ocaml-modules/junit/ounit.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml

#125241 dr14_tmeter: use ffmpeg 4
  pkgs/applications/audio/dr14_tmeter/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125341 [Backport release-21.05] podman improvements
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/virtualisation/containers.nix
  nixos/modules/virtualisation/podman-dnsname.nix
  nixos/modules/virtualisation/podman-network-socket-ghostunnel.nix
  nixos/modules/virtualisation/podman-network-socket.nix
  nixos/modules/virtualisation/podman.nix
  nixos/tests/all-tests.nix
  nixos/tests/podman-dnsname.nix
  nixos/tests/podman-tls-ghostunnel.nix
  nixos/tests/podman.nix
  pkgs/applications/networking/cluster/dnsname-cni/default.nix
  pkgs/applications/virtualization/docker/default.nix
  pkgs/applications/virtualization/podman/default.nix
  pkgs/applications/virtualization/podman/wrapper.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update), 8.has: package (new), ofborg-internal-error

#125393 hwi: 2.0.1 -> 2.0.2
  pkgs/development/python-modules/hwi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#125403 openrgb: 0.5 -> 0.6
  pkgs/applications/misc/openrgb/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125333 pantalaimon: install manuals
  pkgs/applications/networking/instant-messengers/pantalaimon/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, backport release-21.05, ofborg-internal-error

#125402 ptags: Add `ctags` to the PATH
  pkgs/development/tools/misc/ptags/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#125382 goreleaser: 0.166.2 -> 0.168.0
  pkgs/tools/misc/goreleaser/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#125362 bash_unit: 1.7.1 -> 1.7.2
  pkgs/tools/misc/bash_unit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10
