Repository NixOS/nixpkgs, pull requests merged in 2021-12, with the labels that each got.

#148034 drawio: 15.8.4 -> 15.8.7
  pkgs/applications/graphics/drawio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#148089 godns: 2.5.2 -> 2.5.3
  pkgs/tools/networking/godns/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#141148 tailscale: 1.14.6 -> 1.18.1
  pkgs/servers/tailscale/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148059 tfsec: 0.61.2 -> 0.61.3
  pkgs/development/tools/analysis/tfsec/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147655 git-filter-repo: remove duplicated expression
  pkgs/applications/version-management/git-and-tools/git-filter-repo/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147659 postgresqlPackages.pgroonga: 2.3.2 -> 2.3.4
  pkgs/servers/search/groonga/default.nix
  pkgs/servers/sql/postgresql/ext/pgroonga.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148090 git-quickfix: 0.0.4 -> 0.0.5
  pkgs/applications/version-management/git-and-tools/git-quickfix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148097 yt-dlp: 2021.11.10.1 -> 2021.12.1
  pkgs/tools/misc/yt-dlp/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-21.05, backport release-21.11

#148076 python3Packages.angr: 9.0.10651 -> 9.0.10689
  pkgs/development/python-modules/ailment/default.nix
  pkgs/development/python-modules/angr/default.nix
  pkgs/development/python-modules/angrop/default.nix
  pkgs/development/python-modules/archinfo/default.nix
  pkgs/development/python-modules/claripy/default.nix
  pkgs/development/python-modules/cle/default.nix
  pkgs/development/python-modules/pyvex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#148068 python3Packages.vt-py: 0.8.0 -> 0.9.0
  pkgs/development/python-modules/vt-py/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148065 python3Packages.qcs-api-client: 0.20.1 -> 0.20.3
  pkgs/development/python-modules/qcs-api-client/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148063 python3Packages.pytenable: 1.3.3 -> 1.4.0
  pkgs/development/python-modules/pytenable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148058 checkov: 2.0.606 -> 2.0.614
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148055 sqlfluff: 0.8.1 -> 0.8.2
  pkgs/development/tools/database/sqlfluff/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148071 python3Packages.python-gvm: 21.10.0 -> 21.11.0
  pkgs/development/python-modules/python-gvm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148031 dunst: 1.7.1 -> 1.7.2
  pkgs/applications/misc/dunst/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#146967 nixos/doc: improve example of renaming network interfaces
  nixos/doc/manual/configuration/renaming-interfaces.section.md
  nixos/doc/manual/from_md/configuration/renaming-interfaces.section.xml
Labels: 6.topic: nixos, 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#148083 spdk: upstream fix for ncurses-6.3
  pkgs/development/libraries/spdk/default.nix
  pkgs/development/libraries/spdk/ncurses-6.3.patch
  pkgs/development/libraries/spdk/spdk-dpdk-meson.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#145124 haskellPackages.graphviz: hardcode references to graphviz tools
  pkgs/development/haskell-modules/configuration-nix.nix
  pkgs/development/haskell-modules/patches/graphviz-hardcode-graphviz-store-path.patch
Labels: 6.topic: haskell, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#146600 wiimms-iso-tools: pull pending upstream inclusion fix for ncurses-6.3
  pkgs/tools/filesystems/wiimms-iso-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#147966 haskell.compiler.*: assert that host->target == build->target tools
  pkgs/development/compilers/ghc/8.10.7.nix
  pkgs/development/compilers/ghc/8.8.4.nix
  pkgs/development/compilers/ghc/9.0.1.nix
  pkgs/development/compilers/ghc/9.2.1.nix
  pkgs/development/compilers/ghc/head.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#146469 nfstrace: pull pending upstream inclusion fix for ncurses-6.3
  pkgs/tools/networking/nfstrace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#146363 musikcube: pull pending upstream inclusion fix for ncurses-6.3
  pkgs/applications/audio/musikcube/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148040 neovim: 0.5.1 -> 0.6.0
  pkgs/applications/editors/neovim/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148092 lush2: remove package
  pkgs/development/interpreters/lush/default.nix
  pkgs/development/interpreters/lush/default.upstream
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148110 dozenal: disable parallel build
  pkgs/applications/misc/dozenal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#147241 neovim: provide default value for python3Env
  pkgs/applications/editors/neovim/wrapper.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148114 .github/labeler.yml: tag neovim files with "vim" label
  .github/labeler.yml
Labels: 6.topic: policy discussion

#148103 certigo: 1.12.1 -> 1.13.0
  pkgs/tools/admin/certigo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147970 ionide.ionide-fsharp: 5.5.5 -> 5.10.1
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144094 nixos/specialisation: Rephrase in terms of extendModules, noUserModules
  nixos/lib/eval-config.nix
  nixos/modules/system/activation/top-level.nix
Labels: 0.kind: bug, 6.topic: nixos, 8.has: module (update), 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#148060 goreleaser: 0.184.0 -> 1.1.0
  pkgs/tools/misc/goreleaser/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147998 [21.11]: fix useFlake in nix-direnv
  pkgs/tools/misc/nix-direnv/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147539 probe-run: 0.3.0 -> 0.3.1
  pkgs/development/tools/rust/probe-run/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148112 spdk: enable parallel building
  pkgs/development/libraries/spdk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#148096 mrtrix: 3.0.2 -> unstable-2021-11-25
  pkgs/applications/science/biology/mrtrix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#147542 gnomeExtensions.pop-shell: init
  pkgs/desktops/gnome/extensions/manuallyPackaged.nix
  pkgs/desktops/gnome/extensions/pop-shell/default.nix
  pkgs/desktops/gnome/extensions/pop-shell/fix-gjs.patch
Labels: 6.topic: GNOME, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#148082 nixos/charybdis: implement reload functionality
  nixos/modules/services/networking/charybdis.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#147243 ocamlPackages.merlin: 4.3.1 → 4.4
  pkgs/development/tools/ocaml/merlin/4.x.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-21.11

#148131 httpx: 1.1.3 -> 1.1.4
  pkgs/tools/security/httpx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148132 gosec: 2.9.1 -> 2.9.3
  pkgs/development/tools/gosec/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148080 gnome: update docs regarding nvidiaWayland
  nixos/modules/services/x11/desktop-managers/gnome.xml
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#148070 minecraft-server: 1.17.1 -> 1.18
  pkgs/games/minecraft-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148101 vale: 2.11.2 -> 2.13.0
  pkgs/tools/text/vale/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#140992 Add aarch64 AMIs
  nixos/modules/virtualisation/amazon-ec2-amis.nix
  nixos/modules/virtualisation/ec2-amis.nix
Labels: 6.topic: nixos, 8.has: module (update), 9.needs: port to stable, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148085 libdeltachat: 1.68.0 -> 1.69.0
  pkgs/development/libraries/libdeltachat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148133 ktlint: 0.43.0 -> 0.43.1
  pkgs/development/tools/ktlint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#148150 compcert: fix for Coq 8.14.1
  pkgs/development/coq-modules/compcert/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq, backport release-21.11

#148149 matcha-gtk-theme: 2021-09-24 -> 2021-11-29
  pkgs/data/themes/matcha/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148004 matrix-appservice-irc: 0.30.0 -> 0.32.1
  pkgs/servers/matrix-synapse/matrix-appservice-irc/default.nix
  pkgs/servers/matrix-synapse/matrix-appservice-irc/node-packages.nix
  pkgs/servers/matrix-synapse/matrix-appservice-irc/package.json
  pkgs/servers/matrix-synapse/matrix-appservice-irc/src.json
  pkgs/servers/matrix-synapse/matrix-appservice-irc/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#148116 haskell.compiler.*: use wrapped install_name_tool on aarch64
  pkgs/development/compilers/ghc/8.10.7.nix
  pkgs/development/compilers/ghc/9.0.1.nix
  pkgs/development/compilers/ghc/9.2.1.nix
  pkgs/development/compilers/ghc/head.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148079 haskell.compiler.*: only set CLANG to match llc/opt
  pkgs/development/compilers/ghc/8.10.7.nix
  pkgs/development/compilers/ghc/8.8.4.nix
  pkgs/development/compilers/ghc/9.0.1.nix
  pkgs/development/compilers/ghc/9.2.1.nix
  pkgs/development/compilers/ghc/head.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 5001+

#148148 [21.11] python3Packages.tensorflow: patch for compatibility with h5py 3.0.0+
  pkgs/development/python-modules/tensorflow/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#148086 home-assistant: Consider extraComponents in hardening decisions
  nixos/modules/services/misc/home-assistant.nix
  nixos/tests/home-assistant.nix
  pkgs/servers/home-assistant/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#146271 nixos/test-driver: add execute_with_timeout, add (functional) timeouts to more functions
  nixos/lib/test-driver/test-driver.py
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: testing

#148176 gradle: 7.3 -> 7.3.1
  pkgs/development/tools/build-managers/gradle/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, marvin, awaiting_reviewer

#148029 [Backport release-21.05] qemu, runInLinuxVM: fix KVM availability check
  pkgs/applications/virtualization/qemu/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#148093 protontricks: 1.6.1 → 1.6.2
  pkgs/tools/package-management/protontricks/default.nix
  pkgs/tools/package-management/protontricks/steam-run.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.11

#148160 nixos/transmission: adjust message-level enum
  nixos/modules/services/torrent/transmission.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#148188 clj-kondo: 2021.10.19 -> 2021.12.01
  pkgs/development/tools/clj-kondo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#147719 unbound-full: fix the build again
  pkgs/tools/networking/unbound/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#148180 esphome: 2021.10.1 -> 2021.11.4
  pkgs/tools/misc/esphome/dashboard.nix
  pkgs/tools/misc/esphome/default.nix
Labels: 9.needs: port to stable, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148072 chromiumDev: 98.0.4710.4 -> 98.0.4736.0
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#148210 signal-desktop: 5.24.0 -> 5.25.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.11

#148109 python3Packages.meshtastic: 1.2.40 -> 1.2.43
  pkgs/development/python-modules/meshtastic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148099 .github/workflows/editorconfig.yml: write changed files to disk
  .github/workflows/editorconfig.yml
Labels: 2.status: work-in-progress, 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#147780 shellcheck: add override for newer version
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/tools/shellcheck/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: haskell, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#148219 nss: 3.72 -> 3.73, fix CVE-2021-43527
  pkgs/development/libraries/nss/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, backport release-21.11

#145039 libepoxy: 1.5.4 -> 1.5.9
  pkgs/development/libraries/libepoxy/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 1001-2500

#148073 libxc: fix darwin build
  pkgs/development/libraries/libxc/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.11

#148183 pinta: 1.6 -> 1.7.1
  pkgs/applications/graphics/pinta/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#148169 clang-tools: update maintainers
  maintainers/maintainer-list.nix
  pkgs/development/tools/clang-tools/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148220 materia-theme: 20200916 -> 20210322
  pkgs/data/themes/materia-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#148196 fastp: 0.23.1 -> 0.23.2
  pkgs/applications/science/biology/fastp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148170 Julia changes related to the release of 1.7.0
  pkgs/development/compilers/julia/1.6-bin.nix
  pkgs/development/compilers/julia/1.7-bin.nix
  pkgs/development/compilers/julia/patches/1.0-bin/0002-nix-Skip-tests-that-require-network-access.patch
  pkgs/development/compilers/julia/patches/1.7-bin/0005-nix-Enable-parallel-unit-tests-for-sandbox.patch
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#148212 hydrus: 463 -> 464
  pkgs/applications/graphics/hydrus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#148240 adopt multiple packages
  pkgs/applications/science/astronomy/celestia/default.nix
  pkgs/development/libraries/boost/generic.nix
  pkgs/development/libraries/science/astronomy/cfitsio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148206 python39Packages.open-meteo: init at 0.2.0
  pkgs/development/python-modules/open-meteo/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148204 python3Packages.vehicle: 0.2.0 -> 0.2.2
  pkgs/development/python-modules/vehicle/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148199 python3Packages.cloudsplaining: 0.4.6 -> 0.4.8
  pkgs/development/python-modules/cloudsplaining/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148198 python3Packages.tailscale: 0.1.2 -> 0.1.3
  pkgs/development/python-modules/tailscale/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148134 kubeval: 0.16.0 -> 0.16.1
  pkgs/applications/networking/cluster/kubeval/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148129 python3Packages.mypy-boto3-s3: 1.20.12 -> 1.20.17
  pkgs/development/python-modules/mypy-boto3-s3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148128 python3Packages.md-toc: 8.0.1 -> 8.1.0
  pkgs/development/python-modules/md-toc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148123 python3Packages.pre-commit: 2.15.0 -> 2.16.0
  pkgs/development/python-modules/pre-commit/default.nix
  pkgs/development/python-modules/pre-commit/hook-tmpl-use-the-hardcoded-path-to-pre-commit.patch
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148115 python3Packages.twitterapi: 2.7.7 -> 2.7.9.1
  pkgs/development/python-modules/twitterapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148211 podman-compose: 2021-05-18 → 0.1.8
  pkgs/applications/virtualization/podman-compose/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#147804 curl: 7.79.1 -> 7.80.0
  pkgs/tools/networking/curl/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#148238 python3Packages.rdkit: fix on aarch64-darwin
  pkgs/development/python-modules/rdkit/default.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148244 bunnyfetch: unstable-2021-06-19 -> 0.2.0
  pkgs/tools/misc/bunnyfetch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#147343 ruby: 2.7.4 -> 2.7.5, 3.0.2 -> 3.0.3
  pkgs/development/interpreters/ruby/default.nix
  pkgs/development/interpreters/ruby/patchsets.nix
Labels: 1.severity: security, 6.topic: ruby, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500, backport release-21.05, backport release-21.11

#146512 nixos/test-driver: more context when step finishes, give more functions nested labels
  nixos/lib/test-driver/test-driver.py
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: testing

#148067 terraform-providers.dhall: init at 0.0.1
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148236 emacsPackages.orgPackages: deprecated
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2205.section.md
  pkgs/applications/editors/emacs/elisp-packages/org-packages.nix
  pkgs/applications/editors/emacs/elisp-packages/update-from-overlay
  pkgs/applications/editors/emacs/elisp-packages/update-org
  pkgs/top-level/emacs-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 6.topic: emacs, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#147001 csvdiff: Init at 1.4.0
  pkgs/tools/text/csvdiff/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, marvin, awaiting_reviewer

#148251 qemu: fix darwin build
  pkgs/applications/virtualization/qemu/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-21.05

#148237 flat-remix-gtk: 20201129 -> 20211130
  pkgs/data/themes/flat-remix-gtk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#136227 gradle: Add ncurses dependencies on Linux
  pkgs/development/tools/build-managers/gradle/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, awaiting_merger

#148209 haskell.lib{,.compose}.doDistribute: default to lib.platforms.all
  pkgs/development/haskell-modules/lib/compose.nix
Labels: 6.topic: haskell, 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148248 zerotierone: 1.8.3 -> 1.8.4
  pkgs/tools/networking/zerotierone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#148252 terraform-providers: various updates
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148253 i3: 4.20 -> 4.20.1
  pkgs/applications/window-managers/i3/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#147395 coqPackages.coqprime: 8.12 → 8.14.1
  pkgs/development/coq-modules/coqprime/default.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: coq, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#148270 snappy: add patch to re-enable RTTI
  pkgs/development/libraries/snappy/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000, backport release-21.11

#147641 mathematica: Install desktop items
  pkgs/applications/science/math/mathematica/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#148184 sumneko-lua-language-server: Add darwin support
  pkgs/development/tools/sumneko-lua-language-server/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#145938 gitkraken: 8.1.0 -> 8.1.1
  pkgs/applications/version-management/gitkraken/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148239 pop-gtk-theme: 2020-06-30 -> 2021-08-19
  pkgs/data/themes/pop-gtk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#148245 flat-remix-icon-theme: 20200710 -> 20211106
  pkgs/data/icons/flat-remix-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#148246 pop-icon-theme: 2020-03-04 -> 2021-11-17
  pkgs/data/icons/pop-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#148225 [21.05] nss: 3.64 -> 3.68.1; nss_latest: 3.71 -> 3.73; xmlsec: 1.2.31 -> 1.2.32; nss_3_53: mark vulnerable
  pkgs/development/libraries/nspr/default.nix
  pkgs/development/libraries/nss/3.53.nix
  pkgs/development/libraries/nss/default.nix
  pkgs/development/libraries/nss/latest.nix
  pkgs/development/libraries/xmlsec/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 2501-5000

#148153 lunatic: 0.6.2 -> 0.7.0
  pkgs/development/interpreters/lunatic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148250 nixpkgs-review: 2.6.3 -> 2.6.4
  pkgs/tools/package-management/nixpkgs-review/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148263 rqbit: 2.1.2 -> 2.1.3
  pkgs/applications/networking/p2p/rqbit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143602 cloudmonkey: 6.1.0 -> 6.2.0
  pkgs/tools/virtualization/cloudmonkey/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148271 strace: 5.14 -> 5.15
  pkgs/development/tools/misc/strace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-21.11

#148258 libcpuid: fix cross compilation to NetBSD
  pkgs/tools/misc/libcpuid/default.nix
  pkgs/top-level/release-cross.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#147554 schismtracker: 20210525 -> 20211116
  pkgs/applications/audio/schismtracker/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148264 jtc: 1.75d -> 1.76
  pkgs/development/tools/jtc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#145265 pkgs/development: rename name to pname&version part 3
  pkgs/development/compilers/gwt/2.4.0.nix
  pkgs/development/compilers/opendylan/bin.nix
  pkgs/development/interpreters/love/0.7.nix
  pkgs/development/interpreters/love/0.9.nix
  pkgs/development/interpreters/python/cpython/docs/2.7-html.nix
  pkgs/development/interpreters/python/cpython/docs/2.7-pdf-a4.nix
  pkgs/development/interpreters/python/cpython/docs/2.7-pdf-letter.nix
  pkgs/development/interpreters/python/cpython/docs/2.7-text.nix
  pkgs/development/interpreters/python/cpython/docs/3.7-html.nix
  pkgs/development/interpreters/python/cpython/docs/3.7-pdf-a4.nix
  pkgs/development/interpreters/python/cpython/docs/3.7-pdf-letter.nix
  pkgs/development/interpreters/python/cpython/docs/3.7-text.nix
  pkgs/development/libraries/aalib/default.nix
  pkgs/development/libraries/acl/default.nix
  pkgs/development/libraries/aubio/default.nix
  pkgs/development/libraries/audiofile/default.nix
  pkgs/development/libraries/beecrypt/default.nix
  pkgs/development/libraries/boost-process/default.nix
  pkgs/development/libraries/ccrtp/default.nix
  pkgs/development/libraries/clearsilver/default.nix
  pkgs/development/libraries/cloog/0.18.0.nix
  pkgs/development/libraries/clucene-core/2.x.nix
  pkgs/development/libraries/clucene-core/default.nix
  pkgs/development/libraries/cminpack/default.nix
  pkgs/development/libraries/cpptest/default.nix
  pkgs/development/libraries/dbus-glib/default.nix
  pkgs/development/libraries/dclib/default.nix
  pkgs/development/libraries/dclxvi/default.nix
  pkgs/development/libraries/freealut/default.nix
  pkgs/development/libraries/giblib/default.nix
  pkgs/development/libraries/giflib/4.1.nix
  pkgs/development/libraries/giflib/default.nix
  pkgs/development/libraries/gle/default.nix
  pkgs/development/libraries/glew/1.10.nix
  pkgs/development/libraries/glfw/2.x.nix
  pkgs/development/libraries/grantlee/default.nix
  pkgs/development/libraries/gsl/gsl-1_16.nix
  pkgs/development/libraries/gss/default.nix
  pkgs/development/libraries/gtk-engine-bluecurve/default.nix
  pkgs/development/libraries/gtk-engines/default.nix
  pkgs/development/libraries/hotpatch/default.nix
  pkgs/development/libraries/java/commons/bsf/default.nix
  pkgs/development/libraries/java/commons/logging/default.nix
  pkgs/development/libraries/java/geoipjava/default.nix
  pkgs/development/libraries/java/jflex/default.nix
  pkgs/development/libraries/java/libmatthew-java/default.nix
  pkgs/development/libraries/java/lombok/default.nix
  pkgs/development/libraries/java/mockobjects/default.nix
  pkgs/development/libraries/java/smack/default.nix
  pkgs/development/tools/build-managers/cmake/2.8.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#148261 clipman: 1.6.0 -> 1.6.1
  pkgs/tools/wayland/clipman/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.11

#148247 lldpd: 1.0.11 -> 1.0.13
  pkgs/tools/networking/lldpd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#148215 asmrepl: init at 1.0.2
  maintainers/maintainer-list.nix
  pkgs/applications/audio/noisetorch/default.nix
  pkgs/applications/graphics/weylus/default.nix
  pkgs/applications/misc/ArchiSteamFarm/default.nix
  pkgs/applications/misc/cfm/default.nix
  pkgs/applications/networking/tmpmail/default.nix
  pkgs/applications/video/giph/default.nix
  pkgs/applications/video/mpv/scripts/cutter.nix
  pkgs/applications/window-managers/eww/default.nix
  pkgs/development/interpreters/asmrepl/Gemfile
  pkgs/development/interpreters/asmrepl/Gemfile.lock
  pkgs/development/interpreters/asmrepl/default.nix
  pkgs/development/interpreters/asmrepl/gemset.nix
  pkgs/development/python-modules/python-pidfile/default.nix
  pkgs/games/ddnet/default.nix
  pkgs/games/rpg-cli/default.nix
  pkgs/games/steam-tui/default.nix
  pkgs/misc/cliscord/default.nix
  pkgs/misc/present/default.nix
  pkgs/misc/wiki-tui/default.nix
  pkgs/tools/misc/keymapviz/default.nix
  pkgs/tools/misc/xcp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148256 mcomix: fix invalid .desktop icon name
  pkgs/applications/graphics/mcomix3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#148262 python3Packages.pyarrow: fix darwin build for when a build flag is false
  pkgs/development/python-modules/pyarrow/default.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 11.by: package-maintainer, backport release-21.11

#148226 starship: build with notification support
  pkgs/tools/misc/starship/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148249 libbpf: 0.5.0 -> 0.6.0
  pkgs/os-specific/linux/libbpf/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#148167 ec2-amis: add release 21.11
  nixos/modules/virtualisation/amazon-ec2-amis.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-21.11

#148087 plan9port: add DarwinTools to buildInputs on darwin
  pkgs/tools/system/plan9port/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, backport release-21.11

#147297 wl-mirror: init at 0.5.0
  pkgs/tools/wayland/wl-mirror/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#146993 ell: 0.45 -> 0.46; iwd: 1.19 -> 1.20
  pkgs/os-specific/linux/ell/default.nix
  pkgs/os-specific/linux/iwd/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 2501-5000

#147848 gitlab: 14.4.2 -> 14.5.0
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/Gemfile
  pkgs/applications/version-management/gitlab/gitaly/Gemfile.lock
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/gemset.nix
  pkgs/applications/version-management/gitlab/gitlab-shell/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv/gemset.nix
  pkgs/applications/version-management/gitlab/update.py
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, backport release-21.11

#148010 evcxr: 0.11.0 -> 0.12.0
  pkgs/development/interpreters/evcxr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147897 roundcube: 1.5.0 -> 1.5.1
  pkgs/servers/roundcube/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#147315 element-desktop: 1.9.4 -> 1.9.5
  pkgs/applications/networking/instant-messengers/element/element-desktop-package.json
  pkgs/applications/networking/instant-messengers/element/pin.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.05, backport release-21.11

#148242 [21.11] home-assistant: downgrade dependencies
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#148285 pop-icon-theme: remove some dependencies
  pkgs/data/icons/pop-icon-theme/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-21.11

#148124 vimPlugins.nvim-treesitter{,-textobjects}: use default branch and update
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 6.topic: vim, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#148296 diffoscope: 192 -> 194
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#148049 nixos/shairport-sync: add firewall rules
  nixos/modules/services/networking/shairport-sync.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#141793 mesa: 21.2.6 -> 21.3.1
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 1001-2500

#146364 python3Packages.django-rq: 2.4.1 -> 2.5.0
  pkgs/development/python-modules/django-rq/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#136831 mstflint: 4.14.0-3 -> 4.17.0-1
  pkgs/tools/misc/mstflint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#148307 nixos/doc/manual/release-notes/rl-2111: move highlights introduction
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-21.11

#148323 gh: 2.2.0 -> 2.3.0
  pkgs/applications/version-management/git-and-tools/gh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#147771 xsos: init at 0.7.19
  pkgs/os-specific/linux/xsos/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#148178 Removing myself as maintainer.
  maintainers/maintainer-list.nix
  pkgs/applications/audio/milkytracker/default.nix
  pkgs/applications/graphics/grafx2/default.nix
  pkgs/development/libraries/gtest/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148324 babashka: 0.6.7 -> 0.6.8
  pkgs/development/interpreters/clojure/babashka.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.11

#148341 dockerTools: Add store dependencies of the customization layer
  nixos/tests/docker-tools.nix
  pkgs/build-support/docker/default.nix
  pkgs/build-support/docker/examples.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#148321 haskellPackages.hasura: 2.0.9 -> 2.0.10
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/misc/haskell/hasura/graphql-engine.nix
Labels: 6.topic: haskell, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
