Repository NixOS/nixpkgs, pull requests merged in 2021-04, with the labels that each got.

#118179 python3Packages.pydeconz: 77 -> 78
  pkgs/development/python-modules/pydeconz/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#117796 kustomize-sops: 2.5.0 -> 2.5.1
  pkgs/development/tools/kustomize/kustomize-sops.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118091 sd-local: 1.0.27 -> 1.0.29
  pkgs/development/tools/sd-local/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#117817 obsidian: 0.11.5 -> 0.11.9
  pkgs/applications/misc/obsidian/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118102 tmux-xpanes: 4.1.2 -> 4.1.3
  pkgs/tools/misc/tmux-xpanes/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118058 gobgp: 2.24.0 -> 2.25.0
  pkgs/tools/networking/gobgp/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#117504 osu-lazer: 2021.320.0 -> 2021.323.0
  pkgs/games/osu-lazer/default.nix
  pkgs/games/osu-lazer/deps.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118067 k9s: 0.24.5 -> 0.24.6
  pkgs/applications/networking/cluster/k9s/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118068 koreader: 2021.02 -> 2021.03
  pkgs/applications/misc/koreader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118045 doctl: 1.57.0 -> 1.58.0
  pkgs/development/tools/doctl/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108917 ocitools: Update doc to use CommonMark
  doc/builders/images.xml
  doc/builders/images/ocitools.section.md
  doc/builders/images/ocitools.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#108918 citrix: Update doc to use CommonMark
  doc/builders/packages/citrix.section.md
  doc/builders/packages/index.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#116639 nixos/privacyidea: use envsubst to avoid leaking secrets to the store
  nixos/modules/services/security/privacyidea.nix
  nixos/tests/privacyidea.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#111238 kreative-square-fonts: init at unstable-2021-01-29
  pkgs/data/fonts/kreative-square-fonts/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#118205 vscx/ms-vsliveshare-vsliveshare: 1.0.3912 -> 1.0.4070
  pkgs/misc/vscode-extensions/ms-vsliveshare-vsliveshare/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118191 google-cloud-sdk: 332.0.0 -> 334.0.0
  pkgs/tools/admin/google-cloud-sdk/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118187 hover: 0.46.2 -> 0.46.3
  pkgs/development/tools/hover/default.nix
  pkgs/development/tools/hover/fix-assets-path.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118194 aws-vault: 6.3.0 -> 6.3.1
  pkgs/tools/admin/aws-vault/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118188 xorg.libXres: 1.2.0 -> 1.2.1
  pkgs/servers/x11/xorg/default.nix
  pkgs/servers/x11/xorg/tarballs.list
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000

#118209 nuclei: 2.3.2 -> 2.3.3
  pkgs/tools/security/nuclei/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118178 python3Packages.mcstatus: 5.1.1 -> 5.1.2
  pkgs/development/python-modules/mcstatus/default.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#118177 python3Packages.vsure: 1.7.3 -> 1.8.1
  pkgs/development/python-modules/vsure/default.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#118136 tektoncd-cli: 0.17.0 -> 0.17.1
  pkgs/applications/networking/cluster/tektoncd-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#115539 samba: 4.13.3 -> 4.13.7
  pkgs/servers/samba/4.x.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500

#117946 ombi: init at 4.0.1292
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/services/misc/ombi.nix
  nixos/tests/all-tests.nix
  nixos/tests/ombi.nix
  pkgs/servers/ombi/default.nix
  pkgs/servers/ombi/update.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#118220 bundix: 2.5.0 -> 2.5.1
  pkgs/development/ruby-modules/bundix/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: ruby

#118055 spotify-unwrapped: 1.1.55.494.gca75f788 -> 1.1.55.498.gf9a83c60
  pkgs/applications/audio/spotify/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#114567 xfce: update to version 4.16
  pkgs/applications/display-managers/lightdm/gtk-greeter.nix
  pkgs/applications/window-managers/xmonad/log-applet/default.nix
  pkgs/desktops/xfce/applications/gigolo/default.nix
  pkgs/desktops/xfce/applications/mousepad/allow-checking-parent-sources-when-looking-up-schema.patch
  pkgs/desktops/xfce/applications/mousepad/default.nix
  pkgs/desktops/xfce/applications/parole/default.nix
  pkgs/desktops/xfce/applications/ristretto/default.nix
  pkgs/desktops/xfce/applications/xfce4-dict/default.nix
  pkgs/desktops/xfce/applications/xfce4-notifyd/default.nix
  pkgs/desktops/xfce/applications/xfce4-screenshooter/default.nix
  pkgs/desktops/xfce/applications/xfce4-taskmanager/default.nix
  pkgs/desktops/xfce/applications/xfce4-terminal/default.nix
  pkgs/desktops/xfce/applications/xfdashboard/default.nix
  pkgs/desktops/xfce/art/xfwm4-themes/default.nix
  pkgs/desktops/xfce/core/exo/default.nix
  pkgs/desktops/xfce/core/garcon/default.nix
  pkgs/desktops/xfce/core/libxfce4ui/default.nix
  pkgs/desktops/xfce/core/libxfce4util/default.nix
  pkgs/desktops/xfce/core/thunar-volman/default.nix
  pkgs/desktops/xfce/core/thunar/default.nix
  pkgs/desktops/xfce/core/tumbler/default.nix
  pkgs/desktops/xfce/core/xfce4-appfinder/default.nix
  pkgs/desktops/xfce/core/xfce4-dev-tools/default.nix
  pkgs/desktops/xfce/core/xfce4-dev-tools/setup-hook.sh
  pkgs/desktops/xfce/core/xfce4-panel/default.nix
  pkgs/desktops/xfce/core/xfce4-power-manager/default.nix
  pkgs/desktops/xfce/core/xfce4-session/default.nix
  pkgs/desktops/xfce/core/xfce4-settings/default.nix
  pkgs/desktops/xfce/core/xfconf/default.nix
  pkgs/desktops/xfce/core/xfdesktop/default.nix
  pkgs/desktops/xfce/core/xfwm4/default.nix
  pkgs/desktops/xfce/mkXfceDerivation.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-clipman-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-cpufreq-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-cpugraph-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-datetime-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-dockbarx-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-embed-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-hardware-monitor-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-mailwatch-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-namebar-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-notes-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-sensors-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-systemload-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-timer-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-verve-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-weather-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-whiskermenu-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-windowck-plugin/default.nix
  pkgs/desktops/xfce/thunar-plugins/dropbox/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 6.topic: xfce

#97361 nixos/netdata: add config option for disabling analytics
  nixos/modules/services/monitoring/netdata.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#118225 zsh-fzf-tab: unstable-2021-02-14 -> unstable-2021-04-01
  pkgs/shells/zsh/zsh-fzf-tab/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118231 python3Packages.solax: 0.2.5 -> 0.2.6
  pkgs/development/python-modules/solax/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#104031 nix: add static nix via `pkgs.nixStatic`
  pkgs/top-level/all-packages.nix
  pkgs/top-level/static.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#118127 credslayer: init at 0.1.2
  pkgs/tools/security/credslayer/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#117116 flutter 1.22.4 -> 2.0.3, dart 2.10.5 -> 2.12.2
  pkgs/development/compilers/flutter/default.nix
  pkgs/development/compilers/flutter/flutter.nix
  pkgs/development/compilers/flutter/patches/disable-auto-update.patch
  pkgs/development/compilers/flutter/patches/move-cache.patch
  pkgs/development/interpreters/dart/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#118090 xfsprogs: 5.10.0 -> 5.11.0
  nixos/doc/manual/release-notes/rl-2105.xml
  pkgs/tools/filesystems/xfsprogs/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: nixos, 8.has: changelog, 8.has: documentation

#117851 kiwix: fix and update
  pkgs/applications/misc/kiwix/default.nix
  pkgs/applications/misc/kiwix/lib.nix
  pkgs/development/libraries/mustache-hpp/default.nix
  pkgs/development/libraries/zimlib/default.nix
  pkgs/tools/text/zimreader/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: clean-up, 8.has: package (new)

#118056 gmni{,srv}: init at 2021-03-26
  pkgs/applications/networking/browsers/gmni/default.nix
  pkgs/servers/gemini/gmnisrv/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#118236 intel-gmmlib: 20.4.1 -> 21.1.1, intel-media-driver: 21.1.2 -> 21.1.3
  pkgs/development/libraries/intel-gmmlib/default.nix
  pkgs/development/libraries/intel-media-driver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118233 home-assistant: test homematic component
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#117672 lib/generators: add toDhall
  lib/generators.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#118238 python3Packages.devolo-home-control-api: 0.17.0 -> 0.17.1
  pkgs/development/python-modules/devolo-home-control-api/default.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118223 python3Packages.accuweather: 0.1.0 -> 0.1.1
  pkgs/development/python-modules/accuweather/default.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118206 exoscale-cli: 1.26.0 -> 1.27.0
  pkgs/tools/admin/exoscale-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118212 flavours: 0.3.6 -> 0.4.0
  pkgs/applications/misc/flavours/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118239 nushell: 0.28.0 -> 0.29.0
  pkgs/shells/nushell/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118216 goreleaser: 0.161.1 -> 0.162.0
  pkgs/tools/misc/goreleaser/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118249 python3Packages.zha-quirks: 0.0.54 -> 0.0.55
  pkgs/development/python-modules/zha-quirks/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: python

#118199 cargo-valgrind: 2.0.0 -> 2.0.1
  pkgs/development/tools/rust/cargo-valgrind/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118064 ocamlPackages.mirage-clock-freestanding: init at 3.1.0
  pkgs/development/ocaml-modules/mirage-clock/default.nix
  pkgs/development/ocaml-modules/mirage-clock/freestanding.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: ocaml

#117909 [20.09] Staging
  pkgs/development/python-modules/Pygments/default.nix
  pkgs/development/python-modules/lxml/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: python

#118252 freecad: disable spaceNav by default due to segfault
  pkgs/applications/graphics/freecad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118034 tmuxPlugins: removed phony dependencies attribute
  pkgs/misc/tmux-plugins/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#118245 python3Packages.spotipy: 2.16.1 -> 2.17.1
  pkgs/development/python-modules/spotipy/default.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118251 rav1e: fix build on darwin
  pkgs/tools/video/rav1e/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 0, 6.topic: darwin

#118230 python3Packages.pynanoleaf: 0.0.7 -> 0.1.0
  pkgs/development/python-modules/pynanoleaf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118235 nix-direnv: 1.2.3 -> 1.2.4
  pkgs/tools/misc/nix-direnv/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118255 python3Packages.zigpy: 0.32.0 -> 0.33.0
  pkgs/development/python-modules/zigpy-deconz/default.nix
  pkgs/development/python-modules/zigpy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: python

#117782 spotdl: init at 3.5.0
  pkgs/development/python-modules/pytube/default.nix
  pkgs/development/python-modules/rapidfuzz/default.nix
  pkgs/tools/audio/spotdl/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#118172 Miscellaneous metadata updates
  pkgs/applications/editors/poke/default.nix
  pkgs/applications/misc/ranger/default.nix
  pkgs/applications/misc/vifm/default.nix
  pkgs/applications/misc/visidata/default.nix
  pkgs/applications/networking/browsers/amfora/default.nix
  pkgs/applications/terminal-emulators/alacritty/default.nix
  pkgs/applications/terminal-emulators/xterm/default.nix
  pkgs/applications/window-managers/leftwm/default.nix
  pkgs/development/compilers/ecl/default.nix
  pkgs/games/super-tux-kart/default.nix
  pkgs/os-specific/linux/dstat/default.nix
  pkgs/servers/mail/exim/default.nix
  pkgs/shells/oil/default.nix
  pkgs/tools/misc/fzf/default.nix
  pkgs/tools/system/htop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#118260 tor-browser-bundle-bin: make overrideAttrs work
  pkgs/applications/networking/browsers/tor-browser-bundle-bin/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#118167 svkbd: init at 0.3
  pkgs/applications/accessibility/svkbd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#99663 sublime-music: 0.11.7 -> 0.11.10
  maintainers/maintainer-list.nix
  pkgs/applications/audio/sublime-music/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118241 python3Packages.bellows: 0.22.0 -> 0.23.1
  pkgs/development/python-modules/bellows/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118250 nodejs-15_x: 15.12.0 -> 15.13.0
  pkgs/development/web/nodejs/v15.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#118259 chkrootkit: add missing binutils
  pkgs/tools/security/chkrootkit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118266 lens: 4.1.4 -> 4.2.0
  pkgs/applications/networking/cluster/lens/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118207 citrix: Delete CommonMark doc
  doc/builders/packages/citrix.xml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#117406 knockpy: init at 5.0.0
  pkgs/tools/security/knockpy/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#118132 libtheora: Fix compilation when MACOSX_DEPLOYMENT_TARGET=11
  pkgs/development/libraries/libtheora/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: darwin

#118226 kubelogin: 0.0.8 -> 0.0.9
  pkgs/applications/networking/cluster/kubelogin/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118275 nixos/zfs: fix autoScrub.enable description
  nixos/modules/tasks/filesystems/zfs.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#117605 rust: 1.50.0 -> 1.51.0
  pkgs/development/compilers/rust/1_51.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: rust

#118148 ocamlPackages.mirage-crypto*: 0.8.10 -> 0.9.0
  pkgs/development/ocaml-modules/mirage-crypto/default.nix
  pkgs/development/ocaml-modules/mirage-crypto/ec.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: ocaml

#118154 nixos/pipewire: Use formats.json, stricter typing and break up extremely long lines.
  nixos/modules/services/desktops/pipewire/pipewire-media-session.nix
  nixos/modules/services/desktops/pipewire/pipewire.nix
  pkgs/development/libraries/pipewire/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 6.topic: nixos, 8.has: module (update)

#118262 sc-im: 0.8.0 -> 0.8.1
  pkgs/applications/misc/sc-im/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118217 haskellPackages.hadolint: unbreak
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell

#118263 qutebrowser: 2.1.0 -> 2.1.1
  pkgs/applications/networking/browsers/qutebrowser/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118265 pam-krb5: 4.9 -> 4.10
  pkgs/os-specific/linux/pam_krb5/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118268 python3Packages.rapidfuzz: 1.3.3 -> 1.4.1
  pkgs/development/python-modules/rapidfuzz/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#118270 vowpal-wabbit: 8.9.2 -> 8.10.0
  pkgs/applications/science/machine-learning/vowpal-wabbit/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118279 tests/croc: remove stdenv.lib
  nixos/tests/croc.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos

#118278 devpi-client: check-manifest and pkginfo needed at runtime
  pkgs/development/tools/devpi-client/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118283 fetchurl: check that `url` is a string
  pkgs/build-support/fetchurl/default.nix
  pkgs/development/tools/misc/intltool/default.nix
Labels: 1.severity: channel blocker, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: fetch, 8.has: clean-up

#118287 lisgd: init at 0.3.0
  pkgs/tools/inputmethods/lisgd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#118285 pure-maps: 2.6.0 -> 2.6.5
  pkgs/applications/misc/pure-maps/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118273 mblaze: enableParallelBuilding
  pkgs/applications/networking/mailreaders/mblaze/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118242 oneDNN: 2.1.2 -> 2.1.3
  pkgs/development/libraries/oneDNN/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118110 gem-config.mathematical: add lasem to rpath
  pkgs/development/ruby-modules/gem-config/default.nix
Labels: 10.rebuild-darwin: 2501-5000, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: ruby

#118288 pythonPackages.supervisor: drop meld3 dependency
  pkgs/development/python-modules/supervisor/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118289 linuxPackages.rtw88: 2021-03-21 -> 2021-04-01
  pkgs/os-specific/linux/rtw88/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#118277 imagemagick7: 7.0.11-4 -> 7.0.11-5
  pkgs/applications/graphics/ImageMagick/7.0.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 9.needs: port to stable

#117950 [20.09] backport python3Packages.furl: fix build
  pkgs/development/python-modules/furl/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#118264 dhcpcd: Fix patch url
  pkgs/tools/networking/dhcpcd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 9.needs: port to stable

#116785 sqlint: 0.1.10 -> 0.2.0
  pkgs/development/ruby-modules/gem-config/default.nix
  pkgs/development/tools/sqlint/Gemfile.lock
  pkgs/development/tools/sqlint/default.nix
  pkgs/development/tools/sqlint/gemset.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: ruby

#118281 ocamlPackages.gettext-camomile: init at 0.4.2
  pkgs/development/ocaml-modules/ocaml-gettext/camomile.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml, 8.has: package (new)

#118202 systemd: 247.3 -> 247.6
  pkgs/os-specific/linux/systemd/0001-Start-device-units-for-uninitialised-encrypted-devic.patch
  pkgs/os-specific/linux/systemd/0002-Don-t-try-to-unmount-nix-or-nix-store.patch
  pkgs/os-specific/linux/systemd/0003-Fix-NixOS-containers.patch
  pkgs/os-specific/linux/systemd/0004-Look-for-fsck-in-the-right-place.patch
  pkgs/os-specific/linux/systemd/0005-Add-some-NixOS-specific-unit-directories.patch
  pkgs/os-specific/linux/systemd/0006-Get-rid-of-a-useless-message-in-user-sessions.patch
  pkgs/os-specific/linux/systemd/0007-hostnamed-localed-timedated-disable-methods-that-cha.patch
  pkgs/os-specific/linux/systemd/0008-Fix-hwdb-paths.patch
  pkgs/os-specific/linux/systemd/0009-Change-usr-share-zoneinfo-to-etc-zoneinfo.patch
  pkgs/os-specific/linux/systemd/0010-localectl-use-etc-X11-xkb-for-list-x11.patch
  pkgs/os-specific/linux/systemd/0011-build-don-t-create-statedir-and-don-t-touch-prefixdi.patch
  pkgs/os-specific/linux/systemd/0012-inherit-systemd-environment-when-calling-generators.patch
  pkgs/os-specific/linux/systemd/0013-add-rootprefix-to-lookup-dir-paths.patch
  pkgs/os-specific/linux/systemd/0014-systemd-shutdown-execute-scripts-in-etc-systemd-syst.patch
  pkgs/os-specific/linux/systemd/0015-systemd-sleep-execute-scripts-in-etc-systemd-system-.patch
  pkgs/os-specific/linux/systemd/0016-kmod-static-nodes.service-Update-ConditionFileNotEmp.patch
  pkgs/os-specific/linux/systemd/0017-path-util.h-add-placeholder-for-DEFAULT_PATH_NORMAL.patch
  pkgs/os-specific/linux/systemd/0018-logind-seat-debus-show-CanMultiSession-again.patch
  pkgs/os-specific/linux/systemd/0019-Revert-pkg-config-prefix-is-not-really-configurable-.patch
  pkgs/os-specific/linux/systemd/0019-pkg-config-derive-prefix-from-prefix.patch
  pkgs/os-specific/linux/systemd/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 6.topic: systemd

#118246 [20.09] chromium: 89.0.4389.90 -> 89.0.4389.114
  pkgs/applications/networking/browsers/chromium/browser.nix
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118219 bundix: 2.5.0 -> 2.5.1
  pkgs/development/ruby-modules/bundix/default.nix
Labels: 6.topic: ruby

#118243 fscrypt-experimental: 0.2.9 -> 0.3.0
  pkgs/os-specific/linux/fscrypt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118271 libplacebo: 3.104.0 -> 3.120.0
  pkgs/development/libraries/libplacebo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#118214 git-quick-stats: 2.1.6 -> 2.1.7
  pkgs/development/tools/git-quick-stats/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118203 documize-community: 3.8.2 -> 3.9.0
  pkgs/servers/documize-community/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#116677 agda nixos test: fix hello world program
  nixos/tests/agda.nix
  pkgs/build-support/agda/default.nix
  pkgs/development/libraries/agda/standard-library/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: agda, 6.topic: nixos

#118088 rtsp-simple-server: 0.15.1 -> 0.15.2
  pkgs/servers/rtsp-simple-server/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118302 python3Packages.wasmer: build on Darwin
  pkgs/development/python-modules/wasmer/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: python, 8.has: package (new)

#118086 qpdf: 10.2.0 -> 10.3.1
  pkgs/development/libraries/qpdf/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#87750 Ubertooth package and module
  nixos/modules/hardware/ubertooth.nix
  nixos/modules/module-list.nix
  pkgs/applications/radio/ubertooth/default.nix
  pkgs/development/libraries/libbtbb/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#118297 liblinphone: 4.4.35 -> 4.5.1
  pkgs/development/libraries/bctoolbox/default.nix
  pkgs/development/libraries/belcard/default.nix
  pkgs/development/libraries/belle-sip/default.nix
  pkgs/development/libraries/belr/default.nix
  pkgs/development/libraries/bzrtp/default.nix
  pkgs/development/libraries/liblinphone/default.nix
  pkgs/development/libraries/lime/default.nix
  pkgs/development/libraries/mediastreamer/default.nix
  pkgs/development/libraries/ortp/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#118316 salt: 3002.6 -> 3003
  pkgs/tools/admin/salt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118295 shellhub-agent: Fix scp support
  pkgs/applications/networking/shellhub-agent/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118315 josm: 17580 → 17702
  pkgs/applications/misc/josm/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118319 ldb: 2.2.0 -> 2.3.0
  pkgs/development/libraries/ldb/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#118318 fluxcd: 0.10.0 -> 0.11.0
  pkgs/applications/networking/cluster/fluxcd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118321 qlcplus: fix build
  pkgs/applications/misc/qlcplus/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118322 libreoffice-fresh: 7.1.1.2 -> 7.1.2.2
  pkgs/applications/office/libreoffice/src-fresh/download.nix
  pkgs/applications/office/libreoffice/src-fresh/primary.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#118298 nix: Run sandbox tests
  pkgs/tools/package-management/nix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#104919 python3Packages.drivelib: init at 0.3.0, python3Packages.expiringdict: init at 1.2.1, git-annex-remote-googledrive: init at 1.3.0
  maintainers/maintainer-list.nix
  pkgs/applications/version-management/git-and-tools/git-annex-remote-googledrive/default.nix
  pkgs/development/python-modules/drivelib/default.nix
  pkgs/development/python-modules/expiringdict/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#118247 Vector: 0.12.1 -> 0.12.2
  pkgs/tools/misc/vector/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, awaiting_reviewer, marvin

#118248 packer: migrate to buildGoModule
  pkgs/development/tools/packer/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#118299 python3Packages.aioasuswrt: 1.3.2 -> 1.3.3
  pkgs/development/python-modules/aioasuswrt/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#118300 python3Packages.privacyIDEA: 3.5.1 -> 3.5.2
  pkgs/development/python-modules/privacyidea/default.nix
  pkgs/development/python-modules/privacyidea/fix-tests.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#118291 python3Packages.pillow: 8.1.2 -> 8.2.0
  pkgs/development/python-modules/pillow/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 501+, 10.rebuild-linux: 501-1000, 6.topic: python, 9.needs: port to stable

#116415 boost-build: 2016.03 -> 4.4.1
  pkgs/development/tools/boost-build/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#111346 matrix-appservice-slack: 1.4.0 -> 1.7.0
  maintainers/maintainer-list.nix
  pkgs/servers/matrix-synapse/matrix-appservice-slack/default.nix
  pkgs/servers/matrix-synapse/matrix-appservice-slack/generate-dependencies.sh
  pkgs/servers/matrix-synapse/matrix-appservice-slack/node-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#117430 kodi.packages.pvr-iptvsimple: 7.4.2 -> 7.5.1
  pkgs/applications/video/kodi-packages/inputstream-ffmpegdirect/default.nix
  pkgs/applications/video/kodi-packages/inputstream-rtmp/default.nix
  pkgs/applications/video/kodi-packages/pvr-iptvsimple/default.nix
  pkgs/applications/video/kodi/unwrapped.nix
  pkgs/top-level/kodi-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#116381 postgresql_10: build with icu67
  pkgs/servers/sql/postgresql/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118257 openttd: 1.10.3 -> 1.11.0
  pkgs/games/openttd/default.nix
  pkgs/games/openttd/jgrpp.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#117103 curie: init at 1.0
  pkgs/data/fonts/curie/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#118284 squashfs-tools-ng: 1.0.4 -> 1.1.0
  pkgs/tools/filesystems/squashfs-tools-ng/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118333 babashka: 0.2.10 -> 0.3.1
  pkgs/development/interpreters/clojure/babashka.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#92929 nixos/postgresql: check config file syntax at build time
  nixos/doc/manual/release-notes/rl-2009.xml
  nixos/modules/services/databases/postgresql.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: module (update)

#118311 btcpayserver: 1.0.7.0 -> 1.0.7.2
  pkgs/applications/blockchains/btcpayserver/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#117939 charles: 4.2.8 -> 4.6.1
  pkgs/applications/networking/charles/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#118131 ruby: remove myself as maintainer/CODEOWNER
  .github/CODEOWNERS
  pkgs/development/interpreters/ruby/rubygems/default.nix
  pkgs/development/ruby-modules/bundix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: policy discussion, 6.topic: ruby

#118326 gnome3.geary: disable failing edit_context_font test
  pkgs/desktops/gnome-3/misc/geary/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: GNOME

#118304 python3Packages.yamllint: 1.25.0 -> 1.26.0
  pkgs/development/python-modules/yamllint/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#115909 async-profiler: init at 1.8.4
  pkgs/development/tools/async-profiler/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#118286 quich: init at 3.1.0
  maintainers/maintainer-list.nix
  pkgs/tools/misc/quich/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#118310 gnomeExtension.disable-unredirect: init at unstable-2021-01-17
  pkgs/desktops/gnome-3/extensions/disable-unredirect/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: GNOME, 8.has: package (new)

#117753 python38Packages.knack: 0.7.2 -> 0.8.0
  pkgs/development/python-modules/knack/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#117814 protonmail-bridge: 1.5.0 -> 1.6.9
  pkgs/applications/networking/protonmail-bridge/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#117967 xcbuild: fix missing library for PlistBuddy
  pkgs/development/tools/xcbuild/default.nix
Labels: 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1-10

#117434 tanka: 0.14.0 -> 0.15.0
  pkgs/applications/networking/cluster/tanka/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#114974 strace: assert isLinux to avoid eval error on darwin
  pkgs/development/tools/misc/strace/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#117523 tegola: 0.12.1 -> 0.13.0
  pkgs/servers/tegola/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#118276 wayland: fix build on non-Linux
  pkgs/development/libraries/wayland/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer, 8.has: package (new)

#117003 bind: 9.16.12 -> 9.16.13
  pkgs/servers/dns/bind/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#118218 fava: add missing dependency on setuptools-scm
  pkgs/applications/office/fava/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#116983 qownnotes: 20.2.5 -> 21.3.2
  maintainers/maintainer-list.nix
  pkgs/applications/office/qownnotes/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#118336 ruffle: nightly-2021-01-12 -> nightly-2021-04-02
  pkgs/misc/emulators/ruffle/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10
