Repository NixOS/nixpkgs, pull requests merged in 2021-01, with the labels that each got.

#107982 python3Packages.pyftdi: 0.51.2 -> 0.52.0
  pkgs/development/python-modules/pyftdi/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#107311 trivy: 0.14.0 -> 0.15.0
  pkgs/tools/admin/trivy/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#106255 perlPackages.MojoUserAgentCached: init at 1.12
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 8.has: package (new)

#107306 netdata: 1.26.0 -> 1.28.0
  pkgs/tools/system/netdata/default.nix
  pkgs/tools/system/netdata/go.d.plugin.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108084 pythonPackages.modeled: Fix hash, cleanup
  pkgs/development/python-modules/modeled/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#107465 audacity: switch to cmake to fix missing plug-ins
  pkgs/applications/audio/audacity/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#86943 betterdiscordctl: init at 1.7.0
  pkgs/tools/misc/betterdiscordctl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107993 mopidy-scrobbler: init at 2.0.1
  maintainers/maintainer-list.nix
  pkgs/applications/audio/mopidy/default.nix
  pkgs/applications/audio/mopidy/scrobbler.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107811 disfetch: init at 1.12
  maintainers/maintainer-list.nix
  pkgs/tools/misc/disfetch/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107934 gitoxide: Fix build on darwin
  pkgs/applications/version-management/gitoxide/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: darwin

#106741 mindforger: 1.48.2 -> 1.52.0
  pkgs/applications/editors/mindforger/build.patch
  pkgs/applications/editors/mindforger/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#106674 freenukum: init at 0.3.5
  pkgs/games/freenukum/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107994 koreader: license update agpl3 -> agpl3Only
  pkgs/applications/misc/koreader/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#97140 plujain-ramp: init at v1.1.3
  maintainers/maintainer-list.nix
  pkgs/applications/audio/plujain-ramp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107944 tensorflow1: disable sysctl.h in hwloc
  pkgs/development/python-modules/tensorflow/1/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#107906 python3.pkgs.wordcloud: 1.6.0 -> 1.8.1
  pkgs/development/python-modules/wordcloud/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#106403 desync: 0.4.0 -> 0.9.0
  pkgs/applications/networking/sync/desync/default.nix
  pkgs/applications/networking/sync/desync/deps.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: clean-up

#106682 parsimonious: excluding unpredictable tests
  pkgs/development/python-modules/parsimonious/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#106688 autoconf: license is GPLv3+
  pkgs/development/tools/misc/autoconf/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#108029 brave: add update script
  pkgs/applications/networking/browsers/brave/default.nix
  pkgs/applications/networking/browsers/brave/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108112 jwt-cli: 3.2.1 -> 3.3.0
  pkgs/tools/security/jwt-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#107199 qrcodegen: init at 1.6.0
  pkgs/development/libraries/qrcodegen/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#103646 lombok: add bin output with lombok wrapper script
  pkgs/development/libraries/java/lombok/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#107983 chiaki: 1.3.0 -> 2.0.1 & touchpad support
  pkgs/games/chiaki/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#107831 emulsion: init at 7.2
  pkgs/applications/graphics/emulsion/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#108057 brave: test rpath in installCheck
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108027 kaldi: init at 2020-12-26
  pkgs/tools/audio/kaldi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107980 Add Nix packages for Grafana plugins and allow declarative installation
  nixos/modules/services/monitoring/grafana.nix
  nixos/tests/grafana.nix
  pkgs/servers/monitoring/grafana/plugins/default.nix
  pkgs/servers/monitoring/grafana/plugins/grafana-clock-panel/default.nix
  pkgs/servers/monitoring/grafana/plugins/grafana-piechart-panel/default.nix
  pkgs/servers/monitoring/grafana/plugins/grafana-plugin.nix
  pkgs/servers/monitoring/grafana/plugins/grafana-polystat-panel/default.nix
  pkgs/servers/monitoring/grafana/plugins/grafana-worldmap-panel/default.nix
  pkgs/servers/monitoring/grafana/plugins/plugins.nix
  pkgs/servers/monitoring/grafana/plugins/update-grafana-plugin.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#108096 prometheus-bird-exporter: init at 1.3.5-git
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/bird.nix
  nixos/tests/prometheus-exporters.nix
  pkgs/servers/monitoring/prometheus/bird-exporter.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#108067 nixos/prometheus: fix remote_{read,write} options
  nixos/modules/services/monitoring/prometheus/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#107891 prometheus-smokeping-prober: init at 0.3.1 from git
  nixos/modules/services/monitoring/prometheus/exporters.nix
  nixos/modules/services/monitoring/prometheus/exporters/smokeping.nix
  nixos/tests/prometheus-exporters.nix
  pkgs/servers/monitoring/prometheus/smokeping-prober.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#108125 direnv: 2.25.1 -> 2.27.0
  pkgs/tools/misc/direnv/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108132 pam-ssh-agent: fix EDCSA crash
  pkgs/os-specific/linux/pam_ssh_agent_auth/default.nix
  pkgs/os-specific/linux/pam_ssh_agent_auth/edcsa-crash-fix.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108127 python37Packages.abodepy: 1.2.0 -> 1.2.1
  pkgs/development/python-modules/abodepy/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#107335 root: 6.18.04 -> 6.22.06, don't build vendored LLVM
  pkgs/applications/science/misc/root/default.nix
  pkgs/applications/science/misc/root/sw_vers.patch
  pkgs/development/libraries/glew/1.10.nix
  pkgs/development/libraries/glew/default.nix
  pkgs/development/libraries/libAfterImage/default.nix
  pkgs/development/libraries/physics/yoda/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107502 itk: 5.1.1 -> 5.1.2
  pkgs/development/libraries/itk/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#108142 grafana-image-renderer: init at 2020-12-01
  nixos/modules/module-list.nix
  nixos/modules/services/monitoring/grafana-image-renderer.nix
  pkgs/servers/monitoring/grafana-image-renderer/default.nix
  pkgs/servers/monitoring/grafana-image-renderer/package.json
  pkgs/servers/monitoring/grafana-image-renderer/yarn.lock
  pkgs/servers/monitoring/grafana-image-renderer/yarn.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: nixos, 8.has: module (update), 8.has: package (new)

#107392 python3Packages.channels-redis: 2.4.0 -> 3.2.0
  pkgs/development/python-modules/channels-redis/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108134 python37Packages.channels: 3.0.2 -> 3.0.3
  pkgs/development/python-modules/channels/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#107997 new-session-manager: init at 1.4.0
  maintainers/maintainer-list.nix
  pkgs/applications/audio/new-session-manager/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107632 ffmpegthumbnailer: enable generation of thumbnailer file
  pkgs/development/libraries/ffmpegthumbnailer/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#108108 msmtp: 1.8.13 -> 1.8.14
  pkgs/applications/networking/msmtp/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108152 mesa: 20.3.1 -> 20.3.2
  pkgs/development/libraries/mesa/default.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+, 11.by: package-maintainer

#108147 doc: explicit Markdown anchors for top-level headings; remove metadata
  doc/builders/packages/cataclysm-dda.section.md
  doc/builders/trivial-builders.chapter.md
  doc/languages-frameworks/agda.section.md
  doc/languages-frameworks/android.section.md
  doc/languages-frameworks/crystal.section.md
  doc/languages-frameworks/emscripten.section.md
  doc/languages-frameworks/haskell.section.md
  doc/languages-frameworks/idris.section.md
  doc/languages-frameworks/ios.section.md
  doc/languages-frameworks/lua.section.md
  doc/languages-frameworks/maven.section.md
  doc/languages-frameworks/node.section.md
  doc/languages-frameworks/python.section.md
  doc/languages-frameworks/r.section.md
  doc/languages-frameworks/rust.section.md
  doc/languages-frameworks/texlive.section.md
  doc/languages-frameworks/titanium.section.md
  doc/languages-frameworks/vim.section.md
  doc/preface.chapter.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: documentation

#108122 drawio: 13.9.9 -> 14.1.5
  pkgs/applications/graphics/drawio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#107808 dconf: fix cross compilation
  pkgs/development/libraries/dconf/default.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#108113 nanovna-saver: 0.3.7 -> 0.3.8
  pkgs/applications/science/electronics/nanovna-saver/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108097 ctodo: enable build on unix
  pkgs/applications/misc/ctodo/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#108136 utsushi: unstable-2020-11-10 -> unstable-2021-01-01
  pkgs/misc/drivers/utsushi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#105658 pythonPackages.cfn-lint: 0.35.1 -> 0.42.0
  pkgs/development/python-modules/cfn-lint/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python

#108115 qt512: fix darwin patches
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/5.12/qtbase.patch.d/0001-qtbase-mkspecs-mac.patch
  pkgs/development/libraries/qt-5/5.12/qtwebengine-darwin-no-platform-check.patch
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: darwin, 6.topic: qt/kde, 9.needs: port to stable

#108140 ocamlPackages.jingoo: 1.4.1 -> 1.4.2
  pkgs/development/ocaml-modules/jingoo/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml

#108141 wio: init at unstable-2020-11-02
  pkgs/applications/window-managers/wio/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#108166 ocamlPackages.mirage-vnetif: fix typo in meta set
  pkgs/development/ocaml-modules/mirage-vnetif/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: ocaml

#107986 printrun: unstable-2015-03-10 -> 1.6.0
  pkgs/applications/misc/printrun/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108069 nix: fix closure bloat on `nix`
  pkgs/tools/package-management/nix/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#108153 python3Packages.dnachisel: init at 3.2.5
  pkgs/development/python-modules/dnachisel/default.nix
  pkgs/development/python-modules/flametree/default.nix
  pkgs/development/python-modules/python-codon-tables/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#107417 licenses: Mark unclear GPL licenses explicitly deprecated
  lib/licenses.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#108165 elfx86exts: init at 0.4.3
  pkgs/applications/misc/elfx86exts/cargo-lock.patch
  pkgs/applications/misc/elfx86exts/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#108074 Emacs packages updates
  pkgs/applications/editors/emacs-modes/elpa-generated.nix
  pkgs/applications/editors/emacs-modes/org-generated.nix
  pkgs/applications/editors/emacs-modes/recipes-archive-melpa.json
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: emacs

#108174 pulseaudio: fix cross-compilation
  pkgs/os-specific/linux/alsa-plugins/default.nix
  pkgs/servers/pulseaudio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: cross-compilation

#108157 [20.09] thunderbird: Add gpg/gpgme dependencies to fix smartcard usage
  pkgs/applications/networking/mailreaders/thunderbird-bin/default.nix
  pkgs/applications/networking/mailreaders/thunderbird/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#108171 python3Packages.opensensemap-api: init at 0.1.5
  pkgs/development/python-modules/opensensemap-api/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#86599 ldgallery: init at 2.0
  pkgs/development/haskell-modules/non-hackage-packages.nix
  pkgs/tools/graphics/ldgallery/compiler/default.nix
  pkgs/tools/graphics/ldgallery/compiler/generate.sh
  pkgs/tools/graphics/ldgallery/default.nix
  pkgs/tools/graphics/ldgallery/viewer/default.nix
  pkgs/tools/graphics/ldgallery/viewer/generate.sh
  pkgs/tools/graphics/ldgallery/viewer/node-composition.nix
  pkgs/tools/graphics/ldgallery/viewer/node-packages.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: haskell, 8.has: package (new)

#108188 haskellPackages.attoparsec: jailbreak because of new version of Quickcheck
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 10.rebuild-darwin: 1001-2500, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-linux: 501+, 6.topic: haskell

#91789 python3Packages.{confuse,mediafile}: init
  pkgs/development/python-modules/confuse/default.nix
  pkgs/development/python-modules/mediafile/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108183 haxePackages.hxcpp: 3.4.64 -> 4.1.15
  pkgs/top-level/haxe-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10

#108175 python3Packages.python-opendata-transport: init at 0.2.1
  pkgs/development/python-modules/python-opendata-transport/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108159 [staging-next] pulseaudio: fix build on darwin
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 0, 6.topic: darwin

#107927 groff: fix static build
  pkgs/tools/text/groff/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#108199 python37Packages.sqlite-utils: 3.1 -> 3.1.1
  pkgs/development/python-modules/sqlite-utils/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108202 python3Packages.hole: init at 0.5.1
  pkgs/development/python-modules/hole/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108201 python3Packages.asgiref: 3.2.10 -> 3.3.1
  pkgs/development/python-modules/asgiref/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python

#108192 python37Packages.trytond: 5.8.1 -> 5.8.2
  pkgs/development/python-modules/trytond/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 6.topic: python

#107620 ocamlPackages.zarith: 1.10 → 1.11
  pkgs/development/ocaml-modules/zarith/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: ocaml, 8.has: package (update)

#108190 qgroundcontrol: 4.0.10 -> 4.0.11
  pkgs/applications/science/robotics/qgroundcontrol/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108200 stdenv: use gcc9 for aarch64
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#107863 properties-cpp: move cmake, pkg-config to nativeBuildInputs, clean up
  pkgs/development/libraries/properties-cpp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#106954 [staging] stdenv: trim random seed to avoid reference cycles
  pkgs/build-support/setup-hooks/reproducible-builds.sh
Labels: 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-linux: 501+

#108173 Fix NixOS cross-compilation SD Image
  pkgs/development/libraries/polkit/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: cross-compilation

#106787 nixos/console: fix Before= on the systemd-vconsole-setup unit
  nixos/modules/config/console.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#108195 python37Packages.mysqlclient: 2.0.2 -> 2.0.3
  pkgs/development/python-modules/mysqlclient/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108062 spring: refactor
  pkgs/games/spring/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#108168 python37Packages.branca: 0.4.1 -> 0.4.2
  pkgs/development/python-modules/branca/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108184 nixos/command-not-found: don't suggest nix-env
  nixos/modules/programs/command-not-found/command-not-found.pl
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 6.topic: nixos, 8.has: module (update)

#108035 [20.09] qt512: 5.12.7 -> 5.12.9
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/5.12/fetch.sh
  pkgs/development/libraries/qt-5/5.12/qtbase.patch.d/0001-qtbase-mkspecs-mac.patch
  pkgs/development/libraries/qt-5/5.12/qtwebengine-darwin-no-platform-check.patch
  pkgs/development/libraries/qt-5/5.12/srcs.nix
  pkgs/development/libraries/qt-5/5.14/default.nix
  pkgs/development/libraries/qt-5/5.15/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: qt/kde, 8.has: port to stable

#107898 qt514.qtwebkit: Fix patch applying
  pkgs/development/libraries/qt-5/5.14/qtwebkit-darwin-no-readline.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: qt/kde

#107472 kinit: increase environment limit
  pkgs/development/libraries/kde-frameworks/kinit/0004-start_kdeinit-environ-hard-limit.patch
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 101-500, 6.topic: qt/kde

#108128 nixos/plasma5: synchronize Qt version with all-packages.nix
  nixos/modules/services/x11/desktop-managers/plasma5.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 6.topic: qt/kde, 8.has: module (update)

#106577 seafile-shared,seafile-client: 7.0.9 -> 7.0.10
  pkgs/applications/networking/seafile-client/default.nix
  pkgs/misc/seafile-shared/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#108130 zigbee2mqtt: 1.16.2 -> 1.17.0
  pkgs/servers/zigbee2mqtt/default.nix
  pkgs/servers/zigbee2mqtt/node-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108208 electron: fix tray icon in wayland
  pkgs/development/tools/electron/default.nix
  pkgs/development/tools/electron/generic.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#108217 [20.09] nixos/plasma5: synchronize Qt version with all-packages.nix
  nixos/modules/services/x11/desktop-managers/plasma5.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 6.topic: qt/kde, 8.has: module (update), 8.has: port to stable

#108216 arduino-core: fix 'Save as...'
  pkgs/development/arduino/arduino-core/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10

#108220 python3Packages.pyspiflash: init at 0.6.3
  pkgs/development/python-modules/pyspiflash/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108196 python37Packages.zstandard: 0.15.0 -> 0.15.1
  pkgs/development/python-modules/zstandard/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108223 python3Packages.pyi2cflash: init at 0.2.2
  pkgs/development/python-modules/pyi2cflash/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108211 python3Packages.blockchain: init at 1.4.4
  pkgs/development/python-modules/blockchain/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108161 python3Packages.pyhomematic: 0.1.70 -> 0.1.71
  pkgs/development/python-modules/pyhomematic/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108139 python3Packages.toggl-cli: 2.2.1 -> 2.4.1
  pkgs/development/python-modules/toggl-cli/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#108169 python3Packages.connect-box: init at 0.2.8
  pkgs/development/python-modules/connect_box/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108156 python3Packages.netdata: init at 0.2.0
  pkgs/development/python-modules/netdata/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108149 python3Packages.volkszaehler: init at 0.2.0
  pkgs/development/python-modules/volkszaehler/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108144 python3Packages.python-mystrom: init at 2.0.0
  pkgs/development/python-modules/python-mystrom/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#107498 python3Packages.hstspreload: 2020.11.21 -> 2020.12.22
  pkgs/development/python-modules/hstspreload/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#107350 python3Packages.msgpack: 1.0.0 -> 1.0.2
  pkgs/development/python-modules/msgpack/default.nix
Labels: 10.rebuild-darwin: 101-500, 10.rebuild-linux: 101-500, 6.topic: python

#108232 mpd-small: remove mad from features
  pkgs/servers/mpd/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 8.has: package (new)

#108197 python37Packages.cloudflare: 2.8.14 -> 2.8.15
  pkgs/development/python-modules/cloudflare/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#99602 nodePackages.cdktf-cli: init at 0.0.19
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100

#108233 python3Packages.ambiclimate: init at 0.2.1
  pkgs/development/python-modules/ambiclimate/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108210 pythonPackages.xml2rfc: Fix dependencies
  pkgs/development/python-modules/xml2rfc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python, 8.has: clean-up

#108126 treewide: remove maintainership of `ma27` from a few packages
  pkgs/applications/science/math/geogebra/default.nix
  pkgs/applications/version-management/git-and-tools/delta/default.nix
  pkgs/applications/window-managers/yabar/build.nix
  pkgs/development/python-modules/htmltreediff/default.nix
  pkgs/development/python-modules/pyaxmlparser/default.nix
  pkgs/development/python-modules/yowsup/default.nix
  pkgs/tools/admin/chkcrontab/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: python

#108244 python3Packages.aiopulse: init at 0.4.2
  pkgs/development/python-modules/aiopulse/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108241 python3Packages.schiene: init at 0.23
  pkgs/development/python-modules/schiene/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#107500 erlang: make systemdSupport overridable
  pkgs/development/interpreters/erlang/generic-builder.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: erlang

#108182 ttyrec: 1.0.8 -> ovh-ttyrec 1.1.6.6
  pkgs/tools/misc/ovh-ttyrec/default.nix
  pkgs/tools/misc/ttyrec/clang-fixes.patch
  pkgs/tools/misc/ttyrec/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: clean-up, 8.has: package (new)

#108080 shellhub-agent: add update.sh script
  pkgs/applications/networking/shellhub-agent/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#108222 marwaita: 7.7 -> 8.0
  pkgs/data/themes/marwaita/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#107058 pslib: Init at 0.4.6
  pkgs/development/libraries/pslib/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#107887 hub: Add test, git reference
  nixos/tests/all-tests.nix
  nixos/tests/git/hub.nix
  pkgs/applications/version-management/git-and-tools/hub/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 6.topic: nixos, 6.topic: testing

#107183 linux-hardened: Switch to 5.10
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 101-500

#108265 trash-cli: 0.20.11.23 -> 0.20.12.26
  pkgs/tools/misc/trash-cli/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#107597 xfsprogs: 4.19 -> 5.10
  nixos/doc/manual/release-notes/rl-2103.xml
  pkgs/tools/filesystems/xfsprogs/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 11.by: package-maintainer, 6.topic: nixos, 8.has: changelog, 8.has: documentation, 8.has: package (new)

#108253 python3Packages.Pyro4: Fix tests on darwin
  pkgs/development/python-modules/pyro4/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: python

#108258 liquidctl: init at 1.4.2
  pkgs/development/python-modules/liquidctl/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108254 coreboot-utils: 4.12 -> 4.13
  pkgs/tools/misc/coreboot-utils/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100, 11.by: package-maintainer

#108203 pythonPackages.reflink: init at 0.2.1
  pkgs/development/python-modules/reflink/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python, 8.has: package (new)

#108148 cadvisor: 0.36.0 -> 0.37.0
  pkgs/servers/monitoring/cadvisor/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#106036 .github/workflows: build NixOS/Nixpkgs manuals
  .github/workflows/manual-nixos.yml
  .github/workflows/manual-nixpkgs.yml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 6.topic: policy discussion

#108269 pythonPackages.Pyro4: Fix hanging tests on darwin
  pkgs/development/python-modules/pyro4/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 6.topic: darwin, 6.topic: python

#108164 solanum: init at unstable-2020-12-14
  pkgs/servers/irc/solanum/default.nix
  pkgs/servers/irc/solanum/dont-create-logdir.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#104788 opustags: 1.4.0 -> 1.5.1, mark broken darwin
  pkgs/applications/audio/opustags/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: darwin

#108280 .github/workflows/manual-{nixos,nixpkgs}.yml: fix restrict eval
  .github/workflows/manual-nixos.yml
  .github/workflows/manual-nixpkgs.yml
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nixos, 6.topic: policy discussion

#108283 cargo-download: Fix build by bumping url from 1.6.0 to 1.6.1
  pkgs/tools/package-management/cargo-download/Cargo.nix
  pkgs/tools/package-management/cargo-download/crates-io.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108263 starship: 0.47.0 -> 0.48.0
  pkgs/tools/misc/starship/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108235 Combined nodePackages update and init
  pkgs/development/node-packages/default.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100

#105198 python3Packages.web: 0.61 -> 0.62, fix build
  pkgs/development/python-modules/WSME/default.nix
  pkgs/development/python-modules/cheroot/default.nix
  pkgs/development/python-modules/dbutils/default.nix
  pkgs/development/python-modules/web/default.nix
  pkgs/top-level/python-packages.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 11.by: package-maintainer, 6.topic: python, 8.has: clean-up, 8.has: package (new)

#108230 adminer: Clean up
  pkgs/servers/adminer/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108214 pcloud: 1.8.8 -> 1.8.9
  pkgs/applications/networking/pcloud/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10

#108215 evilpixie: 0.2 -> 0.2.1
  pkgs/applications/graphics/evilpixie/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108050 [staging-next] qtlocation: fix build with Qt < 5.15
  pkgs/development/libraries/qt-5/5.12/default.nix
  pkgs/development/libraries/qt-5/5.12/qtlocation-gcc-9.patch
  pkgs/development/libraries/qt-5/5.14/default.nix
  pkgs/development/libraries/qt-5/5.14/qtlocation-gcc-9.patch
  pkgs/development/libraries/qt-5/modules/qtlocation.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 101-500, 6.topic: qt/kde

#104433 busybox: 1.31.1 -> 1.32.0
  pkgs/os-specific/linux/busybox/0001-Fix-build-with-glibc-2.31.patch
  pkgs/os-specific/linux/busybox/0001-wget-implement-TLS-verification-with-ENABLE_FEATURE_.patch
  pkgs/os-specific/linux/busybox/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 11-100, 8.has: package (update)

#108257 jc: 1.13.4 -> 1.14.0
  pkgs/development/python-modules/jc/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 6.topic: python

#108249 bowtie: init at at 1.3.0
  pkgs/applications/science/biology/bowtie/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer, 8.has: package (new)

#108162 pt2-clone: 1.27 -> 1.28
  pkgs/applications/audio/pt2-clone/default.nix
Labels: 10.rebuild-darwin: 1, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#108143 mindustry: 122 -> 122.1
  pkgs/games/mindustry/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 11.by: package-maintainer

#104039 musl: 1.2.0 -> 1.2.1
  pkgs/os-specific/linux/musl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 11-100

#107872 xdot: fix tests
  pkgs/development/python-modules/xdot/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1-10, 6.topic: python

#107030 nomad: add optional nvml support
  pkgs/applications/networking/cluster/nomad/0.11.nix
  pkgs/applications/networking/cluster/nomad/0.12.nix
  pkgs/applications/networking/cluster/nomad/generic.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 1-10, 8.has: clean-up

#108245 python3Packages.dask: unbreak by removing flaky test
  pkgs/development/python-modules/dask/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 11-100, 6.topic: python
