Repository NixOS/nixpkgs, pull requests merged in 2021-11, with the labels that each got.

#144040 vimPlugins.lingua-franca: init at 2021-9-5
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#144034 ns-3: 3.34 -> 3.35
  pkgs/development/libraries/science/networking/ns-3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144057 statix: 0.3.1 -> 0.3.4
  pkgs/tools/nix/statix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#143933 logseq: 0.4.2 -> 0.4.5
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#129315 [21.05] linux_xanmod: 5.12.13 -> 5.13.0
  pkgs/os-specific/linux/kernel/linux-xanmod.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#144053 weylus: 0.11.3 -> 0.11.4
  pkgs/applications/graphics/weylus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#142565 nvidia_x11 _legacy470: init at 470.82.00
  pkgs/os-specific/linux/nvidia-x11/default.nix
  pkgs/top-level/linux-kernels.nix
Labels: 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#139867 linuxPackages.bcc: 0.20.0 -> 0.22.0 (fixes compatibility with newer kernels)
  pkgs/os-specific/linux/bcc/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#143612 crowdin-cli: 3.7.0 -> 3.7.1
  pkgs/tools/text/crowdin-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144080 mtr: fix build against upcoming ncurses-6.3
  pkgs/tools/networking/mtr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143641 neomutt: 20211022 -> 20211029
  pkgs/applications/networking/mailreaders/neomutt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143207 lib.evalModules: Add extendModules and type to result
  lib/modules.nix
  lib/options.nix
  lib/tests/modules.sh
  lib/tests/modules/declare-submodule-via-evalModules.nix
  lib/types.nix
  nixos/lib/eval-config.nix
Labels: 0.kind: enhancement, 6.topic: nixos, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: module system

#144018 python3Packages.icmplib: 3.0.1 -> 3.0.2
  pkgs/development/python-modules/icmplib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#143991 python3Packages.ibis: 1.6.0 -> 3.2.0
  pkgs/development/python-modules/ibis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143125 pidgin: use system certificates to fix letsencrypt
  pkgs/applications/networking/instant-messengers/pidgin/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#143675 plexamp: use new pname-version cababilities introduced in #143347
  pkgs/applications/audio/plexamp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#143975 sniffglue: 0.13.1 -> 0.14.0
  pkgs/tools/networking/sniffglue/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143979 sedutil: 1.15.1 -> 1.20.0
  pkgs/tools/security/sedutil/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143058 snappy: 1.1.8 -> 1.1.9 + add pkgconfig file
  pkgs/development/libraries/snappy/default.nix
  pkgs/development/libraries/snappy/disable-benchmark.patch
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#144079 Linux 5.15
  nixos/tests/kernel-generic.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: nixos, 6.topic: kernel, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#144086 monado: fix build failure related to VK_NULL_HANDLE change
  pkgs/applications/graphics/monado/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144062 buildDotnetModule: add support for running unit tests
  doc/languages-frameworks/dotnet.section.md
  pkgs/build-support/build-dotnet-module/default.nix
  pkgs/tools/games/opentracker/default.nix
Labels: 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, marvin, awaiting_reviewer

#144099 nixos/tests/chromium: Add a workaround to fix the test for M96+
  nixos/tests/chromium.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#143753 python39Packages.influxdb-client: 1.21.0 -> 1.23.0
  pkgs/development/python-modules/influxdb-client/default.nix
  pkgs/servers/home-assistant/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#144096 anki-bin: 2.1.48 -> 2.1.49
  pkgs/games/anki/bin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#120760 ncurses: remove unnecessary patch
  pkgs/development/libraries/ncurses/clang.patch
  pkgs/development/libraries/ncurses/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 5001+

#144107 python38Packages.django_3: 3.2.8 -> 3.2.9
  pkgs/development/python-modules/django/3.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#144065 ryujinx: 1.0.7086 -> 1.0.7094
  pkgs/misc/emulators/ryujinx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143234 linux: make sure that src/version actually refer to the declaring file
  pkgs/os-specific/linux/kernel/generic.nix
  pkgs/os-specific/linux/kernel/manual-config.nix
Labels: 6.topic: kernel, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: package-maintainer, backport release-21.05

#144109 elan: 1.2.0 -> 1.3.0
  pkgs/applications/science/logic/elan/0001-dynamically-patchelf-binaries.patch
  pkgs/applications/science/logic/elan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144114 electrs: 0.9.1 -> 0.9.2
  pkgs/applications/blockchains/electrs/default.nix
  pkgs/applications/blockchains/electrs/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144113 maintainer: sort
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#143708 ucg: rewrite tests
  nixos/tests/all-tests.nix
  nixos/tests/ucg.nix
  pkgs/tools/text/ucg/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144116 bitwise: 0.42 -> 0.43
  pkgs/tools/misc/bitwise/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144060 qbe: unstable-2021-10-26 -> unstable-2021-10-28
  pkgs/development/compilers/qbe/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144112 python38Packages.github3_py: 2.0.0 -> 3.0.0
  pkgs/development/python-modules/github3_py/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143710 cni-flannel-plugin: 1.1 -> 1.0.0
  pkgs/tools/networking/flannel/plugin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144106 nixos/qemu-vm: use qemu_kvm
  nixos/modules/virtualisation/qemu-vm.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#143567 qcad: 3.26.4.7 -> 3.26.4.10
  pkgs/applications/misc/qcad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143071 pocket-casts: set electron version on top-level
  pkgs/applications/audio/pocket-casts/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#143839 crc32c: 1.1.0 -> 1.1.2
  pkgs/development/libraries/crc32c/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#143591 qjackctl: 0.9.4 -> 0.9.5
  pkgs/applications/audio/qjackctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144125 sway: inherit tests from unwrapped package
  pkgs/applications/window-managers/sway/wrapper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#144119 home-assistant: pin aiounifi to v28
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144117 python38Packages.google-re2: 0.2.20210901 -> 0.2.20211101
  pkgs/development/python-modules/google-re2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#137662 python3Packages.django-debug-toolbar: init at 3.2.2
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/django-debug-toolbar/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#142232 libressl: 3.4.0 -> 3.4.1, libressl_3_2: 3.2.5 -> 3.2.7, fix generated pkg-config files
  pkgs/development/libraries/libressl/CVE-2021-41581.patch
  pkgs/development/libraries/libressl/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#144132 python3Packages.isbnlib: 3.10.8 -> 3.10.9
  pkgs/development/python-modules/isbnlib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143640 python310Packages.ruamel-yaml-clib: 0.2.0 -> 0.2.4 (fix python3.10 build)
  pkgs/development/python-modules/ruamel_yaml/0.16.nix
  pkgs/development/python-modules/ruamel_yaml/default.nix
  pkgs/development/python-modules/ruamel_yaml_clib/default.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#144138 statix: 0.3.4 -> 0.3.5
  pkgs/misc/vim-plugins/overrides.nix
  pkgs/tools/nix/statix/default.nix
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#144136 libxc: 5.1.6 -> 5.1.7
  pkgs/development/libraries/libxc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#144135 python3Packages.rapidfuzz: 1.8.0 -> 1.8.2
  pkgs/development/python-modules/rapidfuzz/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#144102 python3Packages.qutip: init at 4.6.2
  pkgs/development/python-modules/qutip/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#144143 makeRustPlatform: allow to easily override stdenv
  pkgs/development/compilers/rust/make-rust-platform.nix
Labels: 6.topic: rust, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#144145 lean: 3.33.0 -> 3.35.0
  pkgs/applications/science/logic/lean/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143946 why3: remove spurious camlp5 dependency
  pkgs/applications/science/logic/why3/default.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#143696 sierra-breeze-enhanced: init at 1.0.3
  pkgs/data/themes/kwin-decorations/sierra-breeze-enhanced/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#140769 open-policy-agent: 0.32.1 -> 0.33.1
  pkgs/development/tools/open-policy-agent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143647 etcher: 1.5.122 -> 1.6.0
  pkgs/tools/misc/etcher/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#142814 buttercup-desktop: init at 2.13.0
  pkgs/tools/security/buttercup-desktop/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144149 rPackages: package updates
  pkgs/development/r-modules/bioc-experiment-packages.nix
  pkgs/development/r-modules/bioc-packages.nix
  pkgs/development/r-modules/cran-packages.nix
  pkgs/development/r-modules/default.nix
  pkgs/development/r-modules/patches/BayesXsrc.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143197 markmind: init at 1.3.1
  pkgs/applications/misc/markmind/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#143470 vdrPlugins.epgsearch: 20191202 -> 2.4.1
  pkgs/applications/video/vdr/plugins.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144148 protoc-gen-twirp_php: 0.7.5 -> 0.8.0
  pkgs/development/tools/protoc-gen-twirp_php/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144147 slides: 0.6.2 -> 0.7.2
  pkgs/applications/misc/slides/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144146 nxpmicro-mfgtools: 1.4.72 -> 1.4.165
  pkgs/development/tools/misc/nxpmicro-mfgtools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144059 python3Packages.{xdis,uncompyle6}: bump to latest to support python 3.8.12
  pkgs/development/python-modules/uncompyle6/default.nix
  pkgs/development/python-modules/xdis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143421 nixos/neovim: Respect option defaultEditor
  nixos/modules/programs/neovim.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#94045 datefudge: work correctly even if GNU date is not in PATH
  pkgs/tools/system/datefudge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143194 threema-desktop: init at 1.0.3
  pkgs/applications/networking/instant-messengers/threema-desktop/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#143279 vdr: 2.4.7 -> 2.5.6
  pkgs/applications/video/vdr/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#142885 whalebird: init at 4.4.5
  pkgs/applications/misc/whalebird/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144087 python38Packages.azure-mgmt-eventhub: 9.1.0 -> 10.0.0
  pkgs/development/python-modules/azure-mgmt-eventhub/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#143706 zabbix: package updates
  pkgs/servers/monitoring/zabbix/versions.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#143832 spike: move test to installCheck phase
  nixos/tests/all-tests.nix
  nixos/tests/spike.nix
  pkgs/applications/virtualization/spike/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144144 river: 2021-09-30 -> 2021-11-01
  pkgs/applications/window-managers/river/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144031 python3Packages.pyclip: init at 0.5.4
  pkgs/development/python-modules/pyclip/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#144151 python38Packages.pex: 2.1.53 -> 2.1.54
  pkgs/development/python-modules/pex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#144139 dbeaver: 21.2.3 -> 21.2.4
  pkgs/applications/misc/dbeaver/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143457 pinentry: 1.1.0 -> 1.2.0
  pkgs/tools/security/pinentry/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#144152 kodi.packages.jellyfin: 0.7.4 -> 0.7.7
  pkgs/applications/video/kodi-packages/jellyfin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#140783 llvmPackages_latest: 12 -> 13
  pkgs/development/tools/analysis/clang-analyzer/0001-Fix-scan-build-to-use-NIX_CFLAGS_COMPILE.patch
  pkgs/development/tools/analysis/clang-analyzer/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#143967 abseil-cpp: remove cxx standard flag
  pkgs/applications/networking/instant-messengers/telegram/tdesktop/default.nix
  pkgs/development/libraries/abseil-cpp/default.nix
  pkgs/development/libraries/grpc/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#143160 auto-multiple-choice: init at 1.5.1
  maintainers/maintainer-list.nix
  pkgs/applications/misc/auto-multiple-choice/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144150 fclones: 0.17.0 -> 0.17.1
  pkgs/tools/misc/fclones/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144009 [Backport release-21.05] pipewire: 0.3.36 -> 0.3.39
  nixos/modules/services/desktops/pipewire/bluez-hardware.conf.json
  nixos/modules/services/desktops/pipewire/daemon/client-rt.conf.json
  nixos/modules/services/desktops/pipewire/daemon/client.conf.json
  nixos/modules/services/desktops/pipewire/daemon/jack.conf.json
  nixos/modules/services/desktops/pipewire/daemon/pipewire-pulse.conf.json
  nixos/modules/services/desktops/pipewire/daemon/pipewire.conf.json
  nixos/modules/services/desktops/pipewire/media-session/alsa-monitor.conf.json
  nixos/modules/services/desktops/pipewire/media-session/bluez-monitor.conf.json
  nixos/modules/services/desktops/pipewire/media-session/media-session.conf.json
  nixos/modules/services/desktops/pipewire/media-session/v4l2-monitor.conf.json
  nixos/modules/services/desktops/pipewire/pipewire-media-session.nix
  nixos/modules/services/desktops/pipewire/pipewire.nix
  pkgs/development/libraries/pipewire/0050-pipewire-pulse-path.patch
  pkgs/development/libraries/pipewire/0055-pipewire-media-session-path.patch
  pkgs/development/libraries/pipewire/0090-pipewire-config-template-paths.patch
  pkgs/development/libraries/pipewire/0095-spa-data-dir.patch
  pkgs/development/libraries/pipewire/default.nix
  pkgs/development/libraries/pipewire/media-session.nix
  pkgs/development/libraries/pipewire/test-paths.nix
  pkgs/development/libraries/pipewire/update.sh
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#143976 hd-idle: package rewrite
  pkgs/os-specific/linux/hd-idle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144024 nixos/plasma5: fix users tab in system settings + minor formatting
  nixos/modules/services/x11/desktop-managers/plasma5.nix
  pkgs/development/libraries/accountsservice/default.nix
  pkgs/development/libraries/accountsservice/fix-paths.patch
Labels: 6.topic: nixos, 6.topic: qt/kde, 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#142244 python38Packages.google-cloud-appengine-logging: 1.0.0 -> 1.1.0
  pkgs/development/python-modules/google-cloud-appengine-logging/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#141884 tabnine: support aarch64-darwin
  pkgs/development/tools/tabnine/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#144161 bash-preexec: fix build with Bats 1.5.0
  pkgs/development/libraries/bash/bash-preexec/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#140060 nixos/dokuwiki: add missing option enable
  nixos/modules/services/web-apps/dokuwiki.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#144171 python38Packages.jupyter_server: 1.11.1 -> 1.11.2
  pkgs/development/python-modules/jupyter_server/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#144064 wheel-inspect: init at 1.7.0
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/entry-points-txt/default.nix
  pkgs/development/python-modules/headerparser/default.nix
  pkgs/development/python-modules/wheel-filename/default.nix
  pkgs/development/python-modules/wheel-inspect/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#144073 shadowsocks-rust: 1.10.7 -> 1.11.2
  pkgs/tools/networking/shadowsocks-rust/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#142412 stage2: use atomic bind mounts
  nixos/modules/system/boot/stage-2-init.sh
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-21.05

#144192 ksnip: fix qt wrapping
  pkgs/tools/misc/ksnip/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144072 lib/lists: mutuallyExclusive function optimization
  lib/lists.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#143353 mullvad-vpn: 2021.4 -> 2021.5
  pkgs/applications/networking/mullvad-vpn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#136591 brave: add support for command line arguments
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144163 zoxide: 0.7.8 -> 0.7.9
  pkgs/tools/misc/zoxide/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144210 nixos/fancontrol: restart on-failure
  nixos/modules/services/hardware/fancontrol.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#144205 home-assistant: 2021.10.6 -> 2021.10.7
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#144168 dokuwiki: add release notes
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#142858 coqPackages.coqeal: master, add dependency
  pkgs/development/coq-modules/coqeal/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#144215 bookstack: 21.08.3 -> 21.10.3
  pkgs/servers/web-apps/bookstack/default.nix
  pkgs/servers/web-apps/bookstack/php-packages.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#143852 Qt 5.15.3
  pkgs/applications/display-managers/sddm/default.nix
  pkgs/development/libraries/qt-5/5.15/default.nix
  pkgs/development/libraries/qt-5/5.15/fetch.sh
  pkgs/development/libraries/qt-5/5.15/modules
  pkgs/development/libraries/qt-5/5.15/srcs-generated.json
  pkgs/development/libraries/qt-5/5.15/srcs.nix
  pkgs/development/libraries/qt-5/modules/qtbase.nix
  pkgs/development/libraries/qt-5/qtModule.nix
Labels: 6.topic: qt/kde, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500

#144217 meteo: 0.9.9 -> 0.9.9.1
  pkgs/applications/networking/weather/meteo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144199 lxd: Add upstream patch for LXC 4.0.11 compatibility
  pkgs/tools/admin/lxd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144178 archiver: 3.5.0 -> 3.5.1
  pkgs/applications/misc/archiver/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144175 pcm: 202107 -> 202110
  pkgs/os-specific/linux/pcm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143616 dapper: 0.5.6 -> 0.5.7
  pkgs/development/tools/dapper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143618 dcm2niix: 1.0.20210317 -> 1.0.20211006
  pkgs/applications/science/biology/dcm2niix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143627 doctl: 1.64.0 -> 1.65.0
  pkgs/development/tools/doctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143630 doppler: 3.31.1 -> 3.35.0
  pkgs/tools/security/doppler/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143916 influxdb: 1.8.9 -> 1.8.10
  pkgs/servers/nosql/influxdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143926 fluxcd: 0.20.0 -> 0.20.1
  pkgs/applications/networking/cluster/fluxcd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144221 hwloc: 2.5.0 -> 2.6.0
  pkgs/development/libraries/hwloc/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#143936 osu-lazer: 2021.1016.0 -> 2021.1028.0
  pkgs/games/osu-lazer/default.nix
  pkgs/games/osu-lazer/deps.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144066 sbt-extras: 2021-09-24 -> 2021-10-21
  pkgs/development/tools/build-managers/sbt-extras/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144067 scli: 0.6.4 -> 0.6.5
  pkgs/applications/misc/scli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144188 ryujinx: 1.0.7094 -> 1.0.7096
  pkgs/misc/emulators/ryujinx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144194 cargo-msrv: 0.11.1 -> 0.12.0
  pkgs/development/tools/rust/cargo-msrv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144226 antiprism: 0.26 -> 0.29
  pkgs/applications/science/geometry/antiprism/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143605 convimg: 8.3 -> 8.9
  pkgs/tools/misc/convimg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144213 python3Packages.black: 21.9b0 -> 21.10b0
  pkgs/development/python-modules/black/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#143608 qtads: 3.1.0 -> 3.2.0
  pkgs/games/qtads/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143574 cargo-udeps: 0.1.23 -> 0.1.24
  pkgs/development/tools/rust/cargo-udeps/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143575 cariddi: 1.1 -> 1.1.2
  pkgs/tools/security/cariddi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143599 cloud-sql-proxy: 1.25.0 -> 1.26.0
  pkgs/tools/misc/cloud-sql-proxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143600 cloudflared: 2021.9.2 -> 2021.10.5
  pkgs/applications/networking/cloudflared/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143603 codeql: 2.6.2 -> 2.7.0
  pkgs/development/tools/analysis/codeql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144162 Google
  pkgs/development/python-modules/google-cloud-error-reporting/default.nix
  pkgs/development/python-modules/google-cloud-logging/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#143622 dictu: 0.20.0 -> 0.22.0
  pkgs/development/compilers/dictu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144211 python3Packages.aiopg: 1.3.2 -> 1.3.3
  pkgs/development/python-modules/aiopg/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#143628 dolt: 0.28.4 -> 0.32.1
  pkgs/servers/sql/dolt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143779 i3-gaps: 4.19.1 -> 4.20
  pkgs/applications/window-managers/i3/gaps.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143902 gcsfuse: 0.36.0 -> 0.37.0
  pkgs/tools/filesystems/gcsfuse/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#143252 linux: build in Cherryview pinctrl driver
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 2501-5000

#144224 MIDIVisualizer: 6.4 -> 6.5
  pkgs/applications/audio/midi-visualizer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144159 scala_2_13: 2.13.6 → 2.13.7
  pkgs/development/compilers/scala/2.x.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#142747 nixos/test-runner: Fix execute() flakiness
  nixos/doc/manual/development/writing-nixos-tests.section.md
  nixos/doc/manual/from_md/development/writing-nixos-tests.section.xml
  nixos/lib/test-driver/test-driver.py
  nixos/tests/hibernate.nix
  nixos/tests/kexec.nix
  nixos/tests/switch-test.nix
Labels: 6.topic: nixos, 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: testing

#144242 python38Packages.fastecdsa: 2.2.1 -> 2.2.2
  pkgs/development/python-modules/fastecdsa/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#144160 python39Packages.ruamel: adopt
  pkgs/development/python-modules/Nikola/default.nix
  pkgs/development/python-modules/conda/default.nix
  pkgs/development/python-modules/construct/2.10.54.nix
  pkgs/development/python-modules/construct/default.nix
  pkgs/development/python-modules/dateparser/0.x.nix
  pkgs/development/python-modules/dateparser/default.nix
  pkgs/development/python-modules/drf-yasg/default.nix
  pkgs/development/python-modules/jc/default.nix
  pkgs/development/python-modules/jupyter-repo2docker/default.nix
  pkgs/development/python-modules/jupyter-telemetry/default.nix
  pkgs/development/python-modules/mautrix/default.nix
  pkgs/development/python-modules/maya/default.nix
  pkgs/development/python-modules/mitmproxy/default.nix
  pkgs/development/python-modules/monty/default.nix
  pkgs/development/python-modules/ntc-templates/default.nix
  pkgs/development/python-modules/prance/default.nix
  pkgs/development/python-modules/pre-commit-hooks/default.nix
  pkgs/development/python-modules/pymatgen/default.nix
  pkgs/development/python-modules/python-box/default.nix
  pkgs/development/python-modules/pyuavcan/default.nix
  pkgs/development/python-modules/ruamel-base/default.nix
  pkgs/development/python-modules/ruamel-ordereddict/default.nix
  pkgs/development/python-modules/ruamel-yaml-clib/default.nix
  pkgs/development/python-modules/ruamel-yaml/0.16.nix
  pkgs/development/python-modules/ruamel-yaml/default.nix
  pkgs/development/python-modules/schema-salad/default.nix
  pkgs/development/python-modules/strictyaml/default.nix
  pkgs/development/python-modules/yamale/default.nix
  pkgs/development/tools/dt-schema/default.nix
  pkgs/development/tools/fdroidserver/default.nix
  pkgs/development/tools/misc/replacement/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
  pkgs/top-level/python2-packages.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#144246 Atlassian security updates
  pkgs/servers/atlassian/confluence.nix
  pkgs/servers/atlassian/crowd.nix
  pkgs/servers/atlassian/jira.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#144248 metals: remove maintainer ceedubs (me)
  pkgs/development/tools/metals/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#144251 ib-controller: remove phases
  pkgs/applications/office/ib/controller/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#144249 python39Packages.google-cloud-datastore: disable tests which require …
  pkgs/development/python-modules/google-cloud-datastore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#143360 typos: 1.1.9 -> 1.2.0
  pkgs/development/tools/typos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144243 grapejuice: 3.60.14 -> 3.64.16
  pkgs/games/grapejuice/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1
