Repository NixOS/nixpkgs, pull requests merged in 2022-10, with the labels that each got.

#193584 sqlite: 3.39.3 -> 3.39.4
  pkgs/development/libraries/sqlite/default.nix
  pkgs/development/libraries/sqlite/tools.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#193716 ruff: 0.0.48 -> 0.0.49
  pkgs/development/tools/ruff/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193791 rq: 1.0.2 -> 1.0.4
  pkgs/development/tools/rq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193774 symfony-cli: 5.4.13 -> 5.4.14
  pkgs/development/tools/symfony-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#188901 novnc: correctly install and point to `websockify`
  pkgs/applications/networking/novnc/default.nix
  pkgs/applications/networking/novnc/websockify.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193789 frostwire: mark broken
  pkgs/applications/networking/p2p/frostwire/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#193702 fluent-bit: 1.9.8 -> 1.9.9
  pkgs/tools/misc/fluent-bit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193686 python310Packages.iso8601: 1.0.2 -> 1.1.0
  pkgs/development/python-modules/iso8601/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 2501-5000

#193626 python310Packages.gaphas: 3.7.0 -> 3.8.0
  pkgs/development/python-modules/gaphas/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#193725 infracost: 0.10.11 -> 0.10.12
  pkgs/tools/misc/infracost/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193752 netbird: 0.9.6 -> 0.9.7
  pkgs/tools/networking/netbird/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#193464 benthos: 4.3.0 -> 4.7.0
  pkgs/development/tools/benthos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193465 git-branchless: 0.4.0 -> 0.5.0
  pkgs/applications/version-management/git-and-tools/git-branchless/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193668 argo-rollouts: 1.3.0 -> 1.3.1
  pkgs/applications/networking/cluster/argo-rollouts/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193639 werf: 1.2.175 -> 1.2.176
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#192646 python310Packages.casa-formats-io: 0.1 -> 0.2
  pkgs/development/python-modules/casa-formats-io/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#192876 dragonfly-reverb: 3.2.6 -> 3.2.7
  pkgs/applications/audio/dragonfly-reverb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193010 newsboat: 2.28 -> 2.29
  pkgs/applications/networking/feedreaders/newsboat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#192703 armadillo: 11.2.4 -> 11.4.0
  pkgs/development/libraries/armadillo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193806 toxiproxy: unpin go1.17
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193804 rq: fix version output, add figsoda as a maintainer
  pkgs/development/tools/rq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193809 shotgun: 2.2.1 -> 2.3.1
  pkgs/tools/graphics/shotgun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193807 shellharden: 4.2.0 -> 4.3.0
  pkgs/development/tools/shellharden/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192838 traefik: 2.8.5 -> 2.8.8
  pkgs/servers/traefik/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193765 protoc-gen-validate: 0.6.8 -> 0.6.12
  pkgs/development/tools/protoc-gen-validate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#192993 qcad: 3.27.6.7 -> 3.27.6.11
  pkgs/applications/misc/qcad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193801 rsync: 3.2.5 -> 3.2.6
  pkgs/applications/networking/sync/rsync/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+

#192824 helio-workstation: 3.9 -> 3.10
  pkgs/applications/audio/helio-workstation/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#193743 squid: 5.6 -> 5.7
  pkgs/servers/squid/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193627 tdesktop: 4.2.0 -> 4.2.3
  pkgs/applications/networking/instant-messengers/telegram/tdesktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#193833 millet: 0.3.11 -> 0.3.12
  pkgs/development/tools/millet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#193855 kconf: use default buildGoModule
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#191352 nixos/networking: add a suggestion to use networkd options
  nixos/modules/services/networking/wireguard.nix
  nixos/modules/tasks/network-interfaces.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#191617 distrobox: 1.4.0 -> 1.4.1
  pkgs/applications/virtualization/distrobox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#191741 minipro: 0.5 -> 0.6
  pkgs/tools/misc/minipro/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#191753 influxdb2-server: 2.1.1 -> 2.4.0
  pkgs/servers/nosql/influxdb2/cli.nix
  pkgs/servers/nosql/influxdb2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#191626 ceph-csi: 3.7.0 -> 3.7.1
  pkgs/tools/filesystems/ceph-csi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#191613 cbmc: 5.65.1 -> 5.67.0
  pkgs/applications/science/logic/cbmc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#191449 terragrunt: 0.38.9 -> 0.39.0
  pkgs/applications/networking/cluster/terragrunt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#191624 jsonmerge: skip failed tests
  pkgs/development/python-modules/jsonmerge/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#191902 nixos/test: fix system for container in systemd-machinectl
  nixos/tests/systemd-machinectl.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#191234 vdrPlugins.markad: 2.0.4 -> 3.0.25
  pkgs/applications/video/vdr/plugins.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#193491 fsv: 0.9-1 -> 3.0
  pkgs/applications/misc/fsv/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#192016 conky: 1.12.2 -> 1.13.1
  pkgs/os-specific/linux/conky/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#191854 nixos/rust-motd: fix systemd service checks
  nixos/modules/programs/rust-motd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#192007 birdfont: 2.32.0 -> 2.32.3
  pkgs/tools/misc/birdfont/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#191963 nixos/code-server: escape shell extraArguments
  nixos/modules/services/web-apps/code-server.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#192003 acpid: 2.0.33 -> 2.0.34
  pkgs/os-specific/linux/acpid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#193827 system76-firmware: 1.0.42 -> 1.0.43
  pkgs/os-specific/linux/firmware/system76-firmware/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#192024 davix: 0.8.2 -> 0.8.3
  pkgs/tools/networking/davix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#192142 chia: 1.5.1 -> 1.6.0
  pkgs/applications/blockchains/chia/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192051 ltrace: 0.7.3 -> 0.7.91
  pkgs/development/tools/misc/ltrace/default.nix
  pkgs/development/tools/misc/ltrace/sysdeps-x86.patch
  pkgs/development/tools/misc/ltrace/testsuite-newfstatat.patch
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#192823 snappymail: 2.18.1 -> 2.18.3
  pkgs/servers/snappymail/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192173 hugo: fix cross compilation
  pkgs/applications/misc/hugo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192433 heimer: 3.6.0 -> 3.6.1
  pkgs/applications/misc/heimer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#192711 umoci: fix cross compilation
  pkgs/applications/virtualization/umoci/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192811 pluto: 5.10.7 -> 5.11.0
  pkgs/applications/networking/cluster/pluto/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192810 passphrase2pgp: 1.2.0 -> 1.2.1
  pkgs/tools/security/passphrase2pgp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193868 fzf: build with go 1.19
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#192722 tipa: rename name to pname&version
  pkgs/data/fonts/tipa/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#193145 dnsmasq: 2.86 -> 2.87
  pkgs/tools/networking/dnsmasq/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000, backport staging-22.05

#189647 vips: 8.13.0 -> 8.13.2
  pkgs/tools/graphics/vips/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#189317 vcluster: 0.11.1 -> 0.12.1
  pkgs/applications/networking/cluster/vcluster/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#189113 pin nixpkgs registry to pkgs.path via nix.settings.registry
  nixos/modules/installer/cd-dvd/channel.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 3+

#189275 nixos/nullmailer: Always adjust ownership of spool directories
  nixos/modules/services/mail/nullmailer.nix
Labels: 6.topic: nixos, 8.has: module (update), 12.approvals: 1

#193869 actionlint: 1.6.19 -> 1.6.20
  pkgs/development/tools/analysis/actionlint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193882 act: 0.2.31 -> 0.2.32
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193823 kuttl: 0.11.1 -> 0.13.0
  pkgs/applications/networking/cluster/kuttl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193800 diffoscope: fix tests
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#192154 linuxPackages.xpadneo: 0.9.4 -> 0.9.5
  nixos/modules/hardware/xpadneo.nix
  nixos/tests/all-tests.nix
  nixos/tests/xpadneo.nix
  pkgs/os-specific/linux/xpadneo/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#193826 tree: 2.0.2 -> 2.0.4
  pkgs/tools/system/tree/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#193892 eksctl: 0.112.0 -> 0.113.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193788 python310Packages.autograd: 1.4 -> 1.5
  pkgs/development/python-modules/autograd/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#193792 restinio: 0.6.16 -> 0.6.17
  pkgs/development/libraries/restinio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#193659 slurm: 22.05.3 -> 22.05.4
  pkgs/servers/computing/slurm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#193805 snapper: 0.10.2 -> 0.10.3
  pkgs/tools/misc/snapper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#193830 zrepl: fix build with go 1.18
  pkgs/tools/backup/zrepl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193747 [22.05] squid: Address security advisories 2022.1 and 2022.2
  pkgs/servers/squid/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193555 perlPackages.NetLDAP: Use ldapi socket location from openldap
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1

#193895 gallery-dl: 1.23.1 -> 1.23.2
  pkgs/applications/misc/gallery-dl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193896 flyway: 9.3.1 -> 9.4.0
  pkgs/development/tools/flyway/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193890 diffoscope: 222 -> 223
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#193884 python310Packages.yalexs: 1.2.3 -> 1.2.4
  pkgs/development/python-modules/yalexs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193848 wxSVG: 1.5.23 -> 1.5.24
  pkgs/development/libraries/wxSVG/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#193898 ocamlPackages.ocp-index: 1.3.3 -> 1.3.4
  pkgs/development/tools/ocaml/ocaml-top/default.nix
  pkgs/development/tools/ocaml/ocp-index/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193881 python310Packages.sensor-state-data: 2.8.0 -> 2.9.0
  pkgs/development/python-modules/sensor-state-data/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#193728 logseq: 0.8.7 -> 0.8.8
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193367 [staging-22.05] protobuf3_19: 3.19.4 -> 3.19.5
  pkgs/development/libraries/protobuf/3.19.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000

#193879 python310Packages.aiopvapi: 2.0.1 -> 2.0.2
  pkgs/development/python-modules/aiopvapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193456 gajim: 1.4.7 → 1.5.1
  pkgs/applications/networking/instant-messengers/gajim/default.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193638 jemalloc: fix building emulated x86_64-darwin on aarch64-darwin
  pkgs/development/libraries/jemalloc/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0

#193737 ocamlPackages.checkseum: 0.3.4 → 0.4.0
  pkgs/development/ocaml-modules/checkseum/default.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#193118 [22.05] libbpf 0.7.0 -> 0.8.1, bpftrace: 0.14.1 -> 0.15.0
  pkgs/os-specific/linux/bpftrace/btf-dump-new-0.6.0.patch
  pkgs/os-specific/linux/bpftrace/default.nix
  pkgs/os-specific/linux/kernel/common-config.nix
  pkgs/os-specific/linux/libbpf/default.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 2501-5000, 12.approvals: 1, 12.approved-by: package-maintainer

#193595 snapcast: Add macos support
  pkgs/applications/audio/snapcast/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193897 python3Packages.matrix-nio: 0.19.0 -> 0.20.0
  pkgs/applications/networking/instant-messengers/pantalaimon/default.nix
  pkgs/development/python-modules/matrix-nio/default.nix
Labels: 6.topic: python, 1.severity: security, 9.needs: port to stable, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#193721 [22.05] php: 8.0.23 -> 8.0.24, 8.1.10 -> 8.1.11, 7.4.30 -> 7.4.32
  pkgs/development/interpreters/php/7.4.nix
  pkgs/development/interpreters/php/8.0.nix
  pkgs/development/interpreters/php/8.1.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#193914 mysql-client: fix fallout from removing this alias
  pkgs/development/lisp-modules-new/ql.nix
  pkgs/top-level/aliases.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 1.severity: channel blocker

#193905 ocamlPackages.otoml: 1.0.1 -> 1.0.2
  pkgs/development/ocaml-modules/otoml/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193921 php: enable sysvsem by default
  pkgs/development/interpreters/php/8.0.nix
  pkgs/development/interpreters/php/8.1.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#193910 python3Packages.casa-format-io: 0.2 -> 0.2.1
  pkgs/development/python-modules/casa-formats-io/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193579 cooper-hewitt: use mkDerivation
  pkgs/data/fonts/cooper-hewitt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193911 ocamlPackages.mldoc: 1.4.8 -> 1.4.9
  pkgs/development/ocaml-modules/mldoc/default.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#193732 jot: init at 0.1.1
  pkgs/applications/misc/jot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192740 mysql57: 5.7.37 -> 5.7.39
  pkgs/servers/sql/mysql/5.7.x.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, backport release-22.05

#192915 wasm3: add many knownVulnerabilities
  pkgs/development/interpreters/wasm3/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-22.05

#193095 python3Packages.joblib: 1.1.0 -> 1.2.0
  pkgs/development/python-modules/hdbscan/default.nix
  pkgs/development/python-modules/joblib/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#193408 apacheKafka: 2.8.1 -> 2.8.2
  pkgs/servers/apache-kafka/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-22.05

#193760 wolfssl: 5.5.0 -> 5.5.1
  pkgs/development/libraries/wolfssl/default.nix
Labels: 1.severity: security, 9.needs: port to stable, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#192146 frr: add patch for CVE-2022-37032
  pkgs/servers/frr/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.05

#180733 edk2: 202202 -> 202205
  pkgs/development/compilers/edk2/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, backport release-22.05

#193766 discourse: 2.9.0.beta9 -> 2.9.0.beta10
  pkgs/servers/web-apps/discourse/action_mailer_ca_cert.patch
  pkgs/servers/web-apps/discourse/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-assign/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-calendar/Gemfile.lock
  pkgs/servers/web-apps/discourse/plugins/discourse-calendar/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-calendar/gemset.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-chat-integration/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-data-explorer/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-docs/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-github/Gemfile
  pkgs/servers/web-apps/discourse/plugins/discourse-github/Gemfile.lock
  pkgs/servers/web-apps/discourse/plugins/discourse-github/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-github/gemset.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-ldap-auth/Gemfile.lock
  pkgs/servers/web-apps/discourse/plugins/discourse-ldap-auth/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-ldap-auth/gemset.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-migratepassword/Gemfile
  pkgs/servers/web-apps/discourse/plugins/discourse-migratepassword/Gemfile.lock
  pkgs/servers/web-apps/discourse/plugins/discourse-migratepassword/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-migratepassword/gemset.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-openid-connect/default.nix
  pkgs/servers/web-apps/discourse/plugins/discourse-solved/default.nix
  pkgs/servers/web-apps/discourse/rubyEnv/Gemfile
  pkgs/servers/web-apps/discourse/rubyEnv/Gemfile.lock
  pkgs/servers/web-apps/discourse/rubyEnv/gemset.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-22.05

#193561 Linux kernel updates 2022-09-29
  pkgs/os-specific/linux/kernel/hardened/patches.json
  pkgs/os-specific/linux/kernel/linux-4.14.nix
  pkgs/os-specific/linux/kernel/linux-4.19.nix
  pkgs/os-specific/linux/kernel/linux-4.9.nix
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-5.19.nix
  pkgs/os-specific/linux/kernel/linux-5.4.nix
  pkgs/os-specific/linux/kernel/linux-rt-5.10.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 2501-5000, backport release-22.05

#193917 nixos/tests/make-test-python.nix: Restore stand-alone invocation
  nixos/tests/make-test-python.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#193928 python310Packages.peaqevcore: 6.0.0 -> 6.0.3
  pkgs/development/python-modules/peaqevcore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193232 pdsh: Fix building on aarch64-darwin
  pkgs/tools/networking/pdsh/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193922 iaito: 5.7.4 -> 5.7.6
  pkgs/tools/security/iaito/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#191814 saleae-logic-2: 2.3.59 -> 2.4.0
  pkgs/development/tools/misc/saleae-logic-2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#193877 python310Packages.plugwise: 0.22.1 -> 0.23.0
  pkgs/development/python-modules/plugwise/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193876 python310Packages.nomadnet: 0.2.1 -> 0.2.2, python310Packages.lxmf: 0.1.7 -> 0.1.8, python310Packages.rns: 0.3.11 -> 0.3.12
  pkgs/development/python-modules/lxmf/default.nix
  pkgs/development/python-modules/nomadnet/default.nix
  pkgs/development/python-modules/rns/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193776 khal: add patch for pytz support
  pkgs/applications/misc/khal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 0.kind: build failure

#193961 python310Packages.aiowebostv: 0.2.0 -> 0.2.1
  pkgs/development/python-modules/aiowebostv/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#193957 python310Packages.aiohomekit: 1.5.12 -> 2.0.1
  pkgs/development/python-modules/aiohomekit/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#193899 python310Packages.aioswitcher: 3.0.0 -> 3.0.3
  pkgs/development/python-modules/aioswitcher/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193931 python310Packages.awesomeversion: 22.8.0 -> 22.9.0
  pkgs/development/python-modules/awesomeversion/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 10.rebuild-linux: 501-1000

#193860 yoshimi: 2.2.1 -> 2.2.2.1
  pkgs/applications/audio/yoshimi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#192865 python310Packages.poetry-core: 1.1.0 -> 1.2.0
  pkgs/development/python-modules/poetry-core/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#193887 steampipe: 0.15.3 -> 0.16.4
  pkgs/tools/misc/steampipe/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193822 thermald: 2.5 -> 2.5.1
  pkgs/tools/system/thermald/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#193874 python310Packages.fjaraskupan: 2.0.1 -> 2.1.0
  pkgs/development/python-modules/fjaraskupan/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193965 dnsproxy: 0.45.1 -> 0.45.2
  pkgs/tools/networking/dnsproxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193875 python310Packages.govee-ble: 0.19.0 -> 0.19.1
  pkgs/development/python-modules/govee-ble/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193966 doctl: 1.82.0 -> 1.82.2
  pkgs/development/tools/doctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193878 python310Packages.pylutron-caseta: 0.15.2 -> 0.16.0
  pkgs/development/python-modules/pylutron-caseta/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193818 gowitness: 2.4.0 -> 2.4.2
  pkgs/tools/security/gowitness/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193963 plex: 1.28.2.6151-914ddd2b3 -> 1.29.0.6244-819d3678c
  pkgs/servers/plex/raw.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#193840 uacme: 1.7.2 -> 1.7.3
  pkgs/tools/admin/uacme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189646 ffmpeg: cleanup, remove old options, expose options from let in
  pkgs/development/libraries/ffmpeg/4.nix
  pkgs/development/libraries/ffmpeg/5.nix
  pkgs/development/libraries/ffmpeg/generic.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000, 12.approvals: 1

#193959 nixos/nixos-build-vms: fix eval
  nixos/modules/installer/tools/nixos-build-vms/build-vms.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#193799 element-desktop: update electron 19 -> 20
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1

#193186 tidal-hifi: generate hicolor icon set and use it in .desktop file
  pkgs/applications/audio/tidal-hifi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#193699 thrift: fix patch download url
  pkgs/development/libraries/thrift/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#191420 s3-credentials: 0.13 -> 0.14
  pkgs/development/python-modules/s3-credentials/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#193457 qownnotes: 22.9.1 -> 22.9.2
  pkgs/applications/office/qownnotes/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#191729 wxgtk32: init at 3.2.1
  pkgs/development/libraries/wxwidgets/wxGTK32.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193870 sbcl: bootstrap x86-64-darwin 1.2.11 -> 2.2.9
  pkgs/development/compilers/sbcl/bootstrap.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0

#193132 treewide: clean up
  lib/generators.nix
  lib/modules.nix
  lib/options.nix
  lib/sources.nix
  lib/tests/maintainers.nix
  lib/types.nix
  nixos/lib/make-multi-disk-zfs-image.nix
  nixos/lib/make-single-disk-zfs-image.nix
  pkgs/build-support/rust/build-rust-package/default.nix
  pkgs/build-support/src-only/default.nix
  pkgs/tools/misc/elfcat/Cargo.lock
  pkgs/top-level/octave-packages.nix
Labels: 6.topic: nixos, 6.topic: rust, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#193758 minidlna: fix build
  pkgs/tools/networking/minidlna/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, awaiting_reviewer

#193926 python3Packages.msrest: 0.6.21 -> 0.7.1 Fixes build issue with azure-mgmt-subscription
  pkgs/development/python-modules/azure-core/default.nix
  pkgs/development/python-modules/msrest/default.nix
  pkgs/development/python-modules/vsts/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 0.kind: build failure

#193580 hashlink: add x86_64-darwin compatibility
  pkgs/development/interpreters/hashlink/default.nix
  pkgs/development/interpreters/hashlink/hashlink.patch
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#192615 pgadmin4: 6.13 -> 6.14
  nixos/tests/pgadmin4.nix
  pkgs/tools/admin/pgadmin/default.nix
  pkgs/tools/admin/pgadmin/package.json
  pkgs/tools/admin/pgadmin/yarn.lock
  pkgs/tools/admin/pgadmin/yarn.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 0.kind: build failure
