Repository NixOS/nixpkgs, pull requests merged in 2022-03, with the labels that each got.

#160352 i3-swallow: init at unstable-2022-02-19
  pkgs/applications/window-managers/i3/swallow.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, marvin, awaiting_reviewer

#162272 haskellPackages.beam-sqlite: unbreak
  pkgs/development/haskell-modules/configuration-hackage2nix/broken.yaml
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162256 tauon: 7.1.2 -> 7.1.3
  pkgs/applications/audio/tauon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#161880 zanshin: move to pkgs/application/kde
  pkgs/applications/kde/default.nix
  pkgs/applications/kde/zanshin.nix
  pkgs/applications/office/zanshin/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: qt/kde, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#162278 alejandra: 0.6.0 -> 0.7.0
  pkgs/tools/nix/alejandra/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#162220 just: 1.0.0 -> 1.0.1
  pkgs/development/tools/just/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#158974 vsftpd: enable seccomp
  nixos/tests/all-tests.nix
  nixos/tests/vsftpd.nix
  pkgs/servers/ftp/vsftpd/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162129 github-runner: 2.287.1 -> 2.288.0
  pkgs/development/tools/continuous-integration/github-runner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#162122 bottles: 2022.2.14-trento -> 2022.2.28-trento-1
  pkgs/applications/misc/bottles/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#162029 gg-scm: 1.1.0 -> 1.2.1
  pkgs/applications/version-management/git-and-tools/gg/default.nix
  pkgs/applications/version-management/git-and-tools/gg/skip-broken-revert-tests.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162018 winbox: 3.34 -> 3.35
  pkgs/tools/admin/winbox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#161970 filebot: 4.9.4 -> 4.9.5
  pkgs/applications/video/filebot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#161825 lsiutil: substituteInPlace in the patch phase instead of buildPhase
  pkgs/os-specific/linux/lsiutil/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#161731 boundary: 0.7.4 -> 0.7.5
  pkgs/tools/networking/boundary/default.nix
  pkgs/tools/networking/boundary/update.sh
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#161432 open-watcom-v2: unstable-2022-01-18 -> unstable-2022-02-22
  pkgs/development/compilers/open-watcom/v2.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#161382 prisma 3.8.0 -> 3.10.0
  pkgs/development/node-packages/default.nix
  pkgs/development/tools/database/prisma-engines/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161334 neo: 0.6 -> 0.6.1
  pkgs/applications/misc/neo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#159666 php.packages.grumphp: init at 1.8.1
  pkgs/development/php-packages/grumphp/default.nix
  pkgs/top-level/php-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#162315 python310Packages.minikerberos: 0.2.17 -> 0.2.18
  pkgs/development/python-modules/minikerberos/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#162298 python310Packages.types-urllib3: 1.26.9 -> 1.26.10
  pkgs/development/python-modules/types-urllib3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162297 python310Packages.google-cloud-bigtable: 2.5.2 -> 2.6.0
  pkgs/development/python-modules/google-cloud-bigtable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162294 python310Packages.pex: 2.1.67 -> 2.1.68
  pkgs/development/python-modules/pex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162310 maintainer-list.nix: replace vikanezrimaya's github username
  maintainers/maintainer-list.nix
  pkgs/tools/system/lr/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#161980 ipopt: 3.12.13 -> 3.14.5
  pkgs/development/libraries/nlopt/default.nix
  pkgs/development/libraries/pagmo2/default.nix
  pkgs/development/libraries/science/math/ipopt/default.nix
  pkgs/development/libraries/science/math/libamplsolver/default.nix
  pkgs/development/python-modules/pygmo/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#162251 signalbackup-tools: 20220218 -> 20220227
  pkgs/applications/networking/instant-messengers/signalbackup-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162162 ft2-clone: 1.51 -> 1.52
  pkgs/applications/audio/ft2-clone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161571 ocamlPackages.lambda-term: 3.1.0 → 3.2.0
  pkgs/development/ocaml-modules/lambda-term/default.nix
  pkgs/development/ocaml-modules/prof_spacetime/default.nix
  pkgs/development/tools/ocaml/utop/default.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162288 python310Packages.google-cloud-vision: 2.6.3 -> 2.7.0
  pkgs/development/python-modules/google-cloud-vision/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162292 python310Packages.google-cloud-resource-manager: 1.3.3 -> 1.4.0
  pkgs/development/python-modules/google-cloud-resource-manager/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162309 python310Packages.google-cloud-redis: 2.6.0 -> 2.7.0
  pkgs/development/python-modules/google-cloud-redis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162303 ddosify: 0.7.4 -> 0.7.5
  pkgs/development/tools/ddosify/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162199 sslscan: 2.0.11 -> 2.0.12
  pkgs/tools/security/sslscan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162281 pythonPackages.cerberus: missing propagated build input
  pkgs/development/python-modules/cerberus/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-21.11

#162328 python310Packages.motionblinds: 0.6.0 -> 0.6.1
  pkgs/development/python-modules/motionblinds/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162192 python3Packages.orderedset: mark as broken
  pkgs/development/python-modules/orderedset/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#161390 gitSVN,gitMinimal: remove appendToName to have a consistent package n…
  pkgs/applications/version-management/git-and-tools/git/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#162203 minetest: fix build on aarch64-darwin
  pkgs/games/minetest/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#155207 clamav: start freshclan after network-online target
  nixos/modules/services/security/clamav.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-21.11

#162338 checkov: 2.0.906 -> 2.0.908
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162335 exploitdb: 2022-02-25 -> 2022-03-01
  pkgs/tools/security/exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#162330 python310Packages.python-vlc: 3.0.12118 -> 3.0.16120
  pkgs/development/python-modules/python-vlc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162325 python310Packages.google-cloud-automl: 2.7.0 -> 2.7.1
  pkgs/development/python-modules/google-cloud-automl/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162313 python310Packages.google-cloud-monitoring: 2.8.0 -> 2.9.0
  pkgs/development/python-modules/google-cloud-monitoring/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162282 python310Packages.google-cloud-speech: 2.12.0 -> 2.13.0
  pkgs/development/python-modules/google-cloud-speech/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162323 python310Packages.google-cloud-dlp: 3.6.0 -> 3.6.1
  pkgs/development/python-modules/google-cloud-dlp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162341 python3Packages.intellifire4py: 0.9.9 -> 0.9.10
  pkgs/development/python-modules/intellifire4py/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162081 operator-sdk: 1.17.0 -> 1.18.0
  pkgs/development/tools/operator-sdk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162320 python3Packages.textual: init at 0.1.15
  pkgs/development/python-modules/textual/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#157843 isabelle: Rebuild isabelle_setup.jar
  pkgs/applications/science/logic/isabelle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#162311 python310Packages.plaid-python: 8.10.0 -> 8.11.0
  pkgs/development/python-modules/plaid-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162344 python310Packages.google-cloud-secret-manager: 2.8.0 -> 2.9.0
  pkgs/development/python-modules/google-cloud-secret-manager/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162340 python310Packages.google-cloud-datacatalog: 3.6.2 -> 3.7.0
  pkgs/development/python-modules/google-cloud-datacatalog/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162343 gromacs: use cudatoolkit_11
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162231 oraclejdk*: remove appendToName to have a consistent package name for…
  pkgs/development/compilers/oraclejdk/jdk-linux-base.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#162306 python310Packages.google-cloud-iam: 2.5.1 -> 2.6.0
  pkgs/development/python-modules/google-cloud-iam/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#162302 python310Packages.google-cloud-datastore: 2.4.0 -> 2.5.0
  pkgs/development/python-modules/google-cloud-datastore/default.nix
Labels: 6.topic: python

#162023 jupyter-lsp: init at 1.5.1
  pkgs/development/python-modules/jupyter-lsp/default.nix
  pkgs/development/python-modules/jupyterlab-lsp/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162356 zoom-us: 5.9.3.1911 -> 5.9.6.2225
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162229 GNOME: Backport fixes & stable updates from 42 branch
  pkgs/applications/video/clapper/default.nix
  pkgs/desktops/gnome/default.nix
  pkgs/desktops/gnome/games/gnome-2048/default.nix
  pkgs/development/libraries/accountsservice/default.nix
  pkgs/development/libraries/libgda/6.x.nix
  pkgs/development/libraries/libgdata/default.nix
  pkgs/development/libraries/libgnome-games-support/default.nix
  pkgs/development/libraries/libsigcxx/3.0.nix
  pkgs/development/libraries/libsigcxx/default.nix
  pkgs/development/libraries/libwnck/default.nix
  pkgs/os-specific/linux/upower/default.nix
  pkgs/tools/misc/colord-gtk/default.nix
  pkgs/tools/networking/networkmanager/libnma/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: GNOME, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#162345 mpich: 4.0 -> 4.0.1
  pkgs/development/libraries/mpich/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162354 haskellPackages.snap-core: do jailbreak to allow newer attoparsec
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 6.topic: haskell, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#162351 haskellPackages: size-based: fix build with template-haskell 2.17
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 6.topic: haskell, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#161079 stdenv, dep-licenses.sh: do not skip handling of other exit traps
  maintainers/scripts/dep-licenses.sh
  pkgs/stdenv/generic/setup.sh
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 6.topic: stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#162321 python3Packages.rich-rst: init at 1.1.5
  pkgs/development/python-modules/rich-rst/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#159248 python3Packages.respx: 0.19.1 -> 0.19.2
  pkgs/development/python-modules/respx/default.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 10.rebuild-linux: 501-1000

#159331 playonlinux: fix crash on open file (GSettings)
  pkgs/applications/misc/playonlinux/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162339 trilinos: disable auto updates
  pkgs/development/libraries/science/math/trilinos/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#158613 hadoop: add aarch64 support
  nixos/tests/all-tests.nix
  pkgs/applications/networking/cluster/hadoop/default.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162370 ocaml-ng.ocamlPackages_4_07.lwt: fix build with strictDeps
  pkgs/development/ocaml-modules/lwt/default.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#158707 agate: 3.2.2 -> 3.2.3
  pkgs/servers/gemini/agate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161883 bonmin: init at 1.8.8
  pkgs/development/libraries/science/math/bonmin/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162359 python310Packages.graphql-subscription-manager: 0.4.3 -> 0.5.0
  pkgs/development/python-modules/graphql-subscription-manager/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162318 vimPlugins.everforest: init at 2022-02-20
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#162373 python310Packages.sphinxcontrib-plantuml: 0.22 -> 0.23
  pkgs/development/python-modules/sphinxcontrib-plantuml/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162378 python310Packages.google-cloud-texttospeech: 2.10.0 -> 2.10.1
  pkgs/development/python-modules/google-cloud-texttospeech/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162337 python3Packages.zeroconf: 0.38.3 -> 0.38.4
  pkgs/development/python-modules/zeroconf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000

#161602 pythonPackages.pyctr: init at 0.6.0
  pkgs/development/python-modules/pyctr/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162326 python310Packages.python-gitlab: 3.1.1 -> 3.2.0
  pkgs/development/python-modules/python-gitlab/default.nix
Labels: 6.topic: python

#162365 python310Packages.ipyparallel: 8.1.0 -> 8.2.0
  pkgs/development/python-modules/ipyparallel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162312 python310Packages.nitransforms: 21.0.0 -> 22.0.0
  pkgs/development/python-modules/nitransforms/default.nix
Labels: 6.topic: python

#162295 python310Packages.ckcc-protocol: 1.2.1 -> 1.3.0
  pkgs/development/python-modules/ckcc-protocol/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162371 python310Packages.google-cloud-os-config: 1.10.0 -> 1.11.0
  pkgs/development/python-modules/google-cloud-os-config/default.nix
Labels: 6.topic: python

#162194 vscode-extensions.bierner.{emojisense, markdown-emoji, markdown-checkbox}: init
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#162392 python310Packages.google-cloud-asset: 3.7.1 -> 3.8.0
  pkgs/development/python-modules/google-cloud-asset/default.nix
Labels: 6.topic: python

#162372 python310Packages.google-cloud-language: 2.3.2 -> 2.4.0
  pkgs/development/python-modules/google-cloud-language/default.nix
Labels: 6.topic: python

#162396 python310Packages.google-cloud-translate: 3.7.0 -> 3.7.1
  pkgs/development/python-modules/google-cloud-translate/default.nix
Labels: 6.topic: python

#162367 python3Packages.flipr-api: 1.4.1 -> 1.4.2
  pkgs/development/python-modules/flipr-api/default.nix
Labels: 6.topic: python

#162197 pkgs/stdenv/linux/default.nix: restore dropped gcc-wrapper
  pkgs/stdenv/linux/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux-stdenv, 6.topic: stdenv, 10.rebuild-linux: 5001+

#162362 cfripper: 1.3.3 -> 1.4.2
  pkgs/tools/security/cfripper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162405 python3Packages.rokuecp: 0.14.1 -> 0.15.0
  pkgs/development/python-modules/rokuecp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162404 python3Packages.pyoverkiz: 1.3.9 -> 1.3.10
  pkgs/development/python-modules/pyoverkiz/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162399 [21.11] Electron updates
  pkgs/development/tools/electron/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#162369 n8n: 0.165.0 → 0.165.1
  pkgs/applications/networking/n8n/node-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162409 python3Packages.elastic-apm: 6.7.2 -> 6.8.0
  pkgs/development/python-modules/elastic-apm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162410 python3Packages.decopatch: 1.4.9 -> 1.4.10
  pkgs/development/python-modules/decopatch/default.nix
Labels: 6.topic: python

#162267 [21.11] python3Packages.b2sdk: 1.13.0 -> 1.14.1
  pkgs/development/python-modules/b2sdk/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162174 jackett: 0.20.631 -> 0.20.643
  pkgs/servers/jackett/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162170 seafile-client: 8.0.5 -> 8.0.6
  pkgs/applications/networking/seafile-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162417 chromium: 98.0.4758.102 -> 99.0.4844.51
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 1.severity: security, 9.needs: port to stable, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162087 nordic: unstable-2022-01-08 -> unstable-2022-02-26
  pkgs/data/themes/nordic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162358 gtkgnutella: 1.2.1 -> 1.2.2
  pkgs/tools/networking/p2p/gtk-gnutella/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162106 sptlrx: 0.1.0 -> 0.2.0
  pkgs/applications/audio/sptlrx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162420 gh: 2.5.1 -> 2.5.2
  pkgs/applications/version-management/git-and-tools/gh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162423 llvmPackages_14: Mark broken packages
  pkgs/development/compilers/llvm/14/libcxxabi/default.nix
  pkgs/development/compilers/llvm/14/libunwind/default.nix
  pkgs/development/compilers/llvm/14/lldb/default.nix
  pkgs/development/compilers/llvm/14/openmp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162006 jql: 3.1.0 -> 3.1.1
  pkgs/development/tools/jql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161951 frostwire-bin: 6.9.5 -> 6.9.7
  pkgs/applications/networking/p2p/frostwire/frostwire-bin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#161130 podman: add darwin wrapper and wrap gvproxy
  pkgs/applications/virtualization/podman/wrapper.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162336 warzone2100: 4.2.4 -> 4.2.6
  pkgs/games/warzone2100/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#155052 dockutil: new package for darwin
  pkgs/os-specific/darwin/dockutil/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#162332 teamspeak_client: use llvmPackages_10
  pkgs/applications/networking/instant-messengers/teamspeak/client.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162216 python3Packages.pybind11: build in parallel
  pkgs/development/python-modules/pybind11/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000

#162406 whalebird: 4.5.1 -> 4.5.2
  pkgs/applications/misc/whalebird/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162327 github-runner: 2.288.0 -> 2.288.1
  pkgs/development/tools/continuous-integration/github-runner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#162440 python310Packages.pex: 2.1.68 -> 2.1.69
  pkgs/development/python-modules/pex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#161003 desktopToDarwinBundle: fix squircle icons
  pkgs/build-support/make-darwin-bundle/write-darwin-bundle.nix
  pkgs/build-support/setup-hooks/desktop-to-darwin-bundle.sh
  pkgs/development/python-modules/icnsutil/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 6.topic: darwin, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162270 starlum: use wrapGAppsHook
  pkgs/tools/misc/staruml/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162384 rust-analyzer-unwrapped: 2022-02-22 -> 2022-02-28
  pkgs/development/tools/rust/rust-analyzer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#162347 rust: rename name to pname
  pkgs/development/compilers/rust/binary.nix
  pkgs/development/compilers/rust/cargo.nix
Labels: 6.topic: rust, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#162451 build(deps): bump actions/checkout from 2 to 3
  .github/workflows/backport.yml
  .github/workflows/basic-eval.yml
  .github/workflows/editorconfig.yml
  .github/workflows/manual-nixos.yml
  .github/workflows/manual-nixpkgs.yml
  .github/workflows/nixos-manual.yml
  .github/workflows/periodic-merge-24h.yml
  .github/workflows/periodic-merge-6h.yml
  .github/workflows/update-terraform-providers.yml
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162450 build(deps): bump actions/labeler from 3 to 4
  .github/workflows/labels.yml
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162117 werf: 1.2.71 -> 1.2.72
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161222 febio: init at 3.5.1
  pkgs/development/libraries/febio/default.nix
  pkgs/development/libraries/febio/fix-cmake.patch
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162227 packet: refactor
  pkgs/development/tools/packet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162276 last: 1260 -> 1268
  pkgs/applications/science/biology/last/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162416 gitlab-runner: 14.8.0 -> 14.8.2
  pkgs/development/tools/continuous-integration/gitlab-runner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#152957 python39Packages.opensfm: init at 0.5.2
  pkgs/development/python-modules/opensfm/0002-cmake-find-system-distributed-gtest.patch
  pkgs/development/python-modules/opensfm/0003-cmake-use-system-pybind11.patch
  pkgs/development/python-modules/opensfm/0004-pybind_utils.h-conflicts-with-nixpkgs-pybind.patch
  pkgs/development/python-modules/opensfm/default.nix
  pkgs/development/python-modules/opensfm/fix-scripts.patch
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#147127 opendrop: init at 0.13.0
  pkgs/development/python-modules/fleep/0001-Fixing-paths-on-tests.patch
  pkgs/development/python-modules/fleep/default.nix
  pkgs/tools/networking/opendrop/default.nix
  pkgs/tools/networking/owl/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#158333 openresty: default more explicitly to no modules
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162042 mimalloc: 2.0.2 -> 2.0.5
  pkgs/development/libraries/mimalloc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161365 vivaldi: 5.1.2567.39-1 -> 5.1.2567.49-1
  pkgs/applications/networking/browsers/vivaldi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162488 freeoffice: fix mimeTypes in desktop entry
  pkgs/applications/office/softmaker/desktop_items.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#160841 libnetfilter_conntrack: 1.0.8 -> 1.0.9
  pkgs/development/libraries/libnetfilter_conntrack/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+

#162476 Revert "buildDotnetModule: enable RestoreUseStaticGraphEvaluation"
  pkgs/build-support/dotnet/build-dotnet-module/default.nix
  pkgs/build-support/dotnet/build-dotnet-module/hooks/dotnet-configure-hook.sh
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#162492 vscode-extensions.streetsidesoftware.code-spell-checker: 2.1.5 -> 2.1.7
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#162418 python3Packages.nextcord: init at 2.0.0a8
  pkgs/development/python-modules/nextcord/default.nix
  pkgs/development/python-modules/nextcord/paths.patch
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#161008 xone: init package and module
  maintainers/maintainer-list.nix
  nixos/modules/hardware/all-firmware.nix
  nixos/modules/hardware/xone.nix
  nixos/modules/module-list.nix
  pkgs/os-specific/linux/firmware/xow_dongle-firmware/default.nix
  pkgs/os-specific/linux/xone/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, marvin, awaiting_merger

#162475 python39Packages.graphql-subscription-manager: 0.5.0 -> 0.5.1
  pkgs/development/python-modules/graphql-subscription-manager/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#149751 libpulsar: init at 2.9.1
  maintainers/maintainer-list.nix
  pkgs/development/libraries/libpulsar/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#149689 Introduce `types.optionType` and use it for `freeformType`
  lib/modules.nix
  lib/tests/modules.sh
  lib/tests/modules/freeform-submodules.nix
  lib/tests/modules/optionTypeFile.nix
  lib/tests/modules/optionTypeMerging.nix
  lib/types.nix
  nixos/doc/manual/development/option-types.section.md
  nixos/doc/manual/from_md/development/option-types.section.xml
Labels: 6.topic: nixos, 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: module system

#162448 playonlinux: improve wrapping
  pkgs/applications/misc/playonlinux/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162495 nncp: 8.5.0 -> 8.6.0
  pkgs/tools/misc/nncp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162394 electrum-grs: fix src
  pkgs/applications/misc/electrum-grs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162283 lib/types: Fix functionTo description
  lib/types.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: module system

#161504 writers: Add writeFSharp and makeFSharpWriter functions to writers
  pkgs/build-support/dotnet/build-dotnet-module/default.nix
  pkgs/build-support/dotnet/make-nuget-deps/default.nix
  pkgs/build-support/dotnet/make-nuget-source/default.nix
  pkgs/build-support/writers/default.nix
  pkgs/build-support/writers/test.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#161850 octant: 0.25.0 -> 0.25.1
  pkgs/applications/networking/cluster/octant/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#162364 util-linuxMinimal: remove appendToName to have a consistent package n…
  pkgs/os-specific/linux/util-linux/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 5001+

#162277 python3Packages.torch-tb-profiler: init at 0.3.1
  pkgs/development/python-modules/torch-tb-profiler/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#161675 klayout: 0.27.3 -> 0.27.8
  pkgs/applications/misc/klayout/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#162464 python3Packages.adafruit-platformdetect: 3.20.0 -> 3.20.1
  pkgs/development/python-modules/adafruit-platformdetect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#162517 python310Packages.weasyprint: 54.1 -> 54.2
  pkgs/development/python-modules/weasyprint/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
