Repository NixOS/nixpkgs, pull requests merged in 2022-08, with the labels that each got.

#182862 fractal-next: init at unstable-2022-07-10
  pkgs/applications/networking/instant-messengers/fractal-next/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#182113 mlc: 3.9 -> 3.9a
  pkgs/tools/system/mlc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, backport release-22.05

#184361 qgit: update source sha256 for tag moved upstream
  pkgs/applications/version-management/git-and-tools/qgit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184268 kdiff3: 1.9.5 -> 1.9.6
  pkgs/tools/text/kdiff3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184344 libsurvive: 1.0 -> 1.01
  pkgs/development/libraries/libsurvive/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184223 hwinfo: 21.80 -> 21.82
  pkgs/tools/system/hwinfo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#184373 micropython: 1.19 -> 1.19.1
  pkgs/development/interpreters/micropython/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184291 libdvdread: 6.1.2 -> 6.1.3
  pkgs/development/libraries/libdvdread/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#183680 odpic: 4.3.0 -> 4.4.1
  pkgs/development/libraries/odpic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#180251 bazel-watcher: 0.14.0 -> 0.17.0 & fix on Darwin
  pkgs/development/tools/bazel-watcher/default.nix
  pkgs/development/tools/bazel-watcher/use-go-in-path.patch
  pkgs/development/tools/build-managers/bazel/bazel_3/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_4/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_5/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#182702 docs/javascript: advise to create less yarn.nix files
  doc/languages-frameworks/javascript.section.md
Labels: 8.has: documentation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#184424 okteta: 0.26.7 -> 0.26.9
  pkgs/applications/editors/okteta/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184264 keyd: 2.4.1 -> 2.4.2
  pkgs/tools/inputmethods/keyd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184425 panoply: 5.1.0 -> 5.1.1
  pkgs/tools/misc/panoply/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-22.05

#184462 php80Extensions.swoole: 4.8.8 -> 4.8.11
  pkgs/development/php-packages/swoole/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184458 php80Extensions.rdkafka: 6.0.1 -> 6.0.3
  pkgs/development/php-packages/rdkafka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184401 nsd: 4.4.0 -> 4.6.0
  pkgs/servers/dns/nsd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184455 php80Packages.phpstan: 1.5.4 -> 1.8.2
  pkgs/development/php-packages/phpstan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184450 php80Extensions.sqlsrv: 5.10.0 -> 5.10.1
  pkgs/development/php-packages/sqlsrv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184449 php80Packages.psysh: 0.11.2 -> 0.11.8
  pkgs/development/php-packages/psysh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184446 php80Packages.psalm: 4.15.0 -> 4.25.0
  pkgs/development/php-packages/psalm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184442 php80Extensions.event: 3.0.6 -> 3.0.8
  pkgs/development/php-packages/event/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184468 php80Extensions.xdebug: 3.1.4 -> 3.1.5
  pkgs/development/php-packages/xdebug/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184472 php80Extensions.mongodb: 1.13.0 -> 1.14.0
  pkgs/development/php-packages/mongodb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184474 php80Extensions.protobuf: 3.19.4 -> 3.21.4
  pkgs/development/php-packages/protobuf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184188 getdp: 3.4.0 -> 3.5.0
  pkgs/applications/science/math/getdp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184477 php80Packages.php-cs-fixer: 3.8.0 -> 3.9.5
  pkgs/development/php-packages/php-cs-fixer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184476 php80Extensions.pdo_sqlsrv: 5.10.0 -> 5.10.1
  pkgs/development/php-packages/pdo_sqlsrv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184478 php80Packages.phing: 2.17.2 -> 2.17.4
  pkgs/development/php-packages/phing/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#182384 [22.05] wolfssl: add patches for CVE-2022-34293 & encrypted memory improvements
  pkgs/development/libraries/wolfssl/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#184486 python310Packages.google-cloud-secret-manager: 2.12.0 -> 2.12.1
  pkgs/development/python-modules/google-cloud-secret-manager/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184416 openipmi: 2.0.32 -> 2.0.33
  pkgs/tools/system/openipmi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#182521 [staging-22.05] perlPackages.LWP: 6.49 -> 6.67, fix cross build
  pkgs/top-level/perl-packages.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#184152 yad: 11.0 -> 12.0
  pkgs/tools/misc/yad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184094 topicctl: 1.3.1 -> 1.4.0
  pkgs/tools/misc/topicctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#183805 groff: remove ? null from inputs
  pkgs/tools/text/groff/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#184519 yq-go: 4.26.1 -> 4.27.2
  pkgs/development/tools/yq-go/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#184146 gpm-ncurses: enable `ncurses` depend
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#184314 lttng-tools: 2.13.4 -> 2.13.7
  pkgs/development/tools/misc/lttng-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184370 mkvtoolnix: 68.0.0 -> 69.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184538 libsForQt5.qtutilities: 6.6.0 -> 6.6.2
  pkgs/development/libraries/qtutilities/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#184343 libwebp: 1.2.2 -> 1.2.3
  pkgs/development/libraries/libwebp/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 1001-2500, backport staging-22.05

#179356 Updated Haxe 4.2.1 -> 4.2.5
  maintainers/maintainer-list.nix
  pkgs/development/compilers/haxe/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#184433 pdns-recursor: 4.7.0 -> 4.7.1
  pkgs/servers/dns/pdns-recursor/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184245 hello: 2.12 -> 2.12.1
  pkgs/applications/misc/hello/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#183967 stdenv: Two small cleanups
  pkgs/misc/my-env/default.nix
  pkgs/stdenv/darwin/default.nix
  pkgs/stdenv/default.nix
  pkgs/stdenv/generic/common-path.nix
  pkgs/stdenv/linux/default.nix
  pkgs/stdenv/nix/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv, 12.approvals: 1

#184389 ncspot: 0.10.0 -> 0.10.1
  pkgs/applications/audio/ncspot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184422 buildpack: 0.26.0 -> 0.27.0
  pkgs/development/tools/buildpack/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184444 postgresql11Packages.pgrouting: 3.3.0 -> 3.3.1
  pkgs/servers/sql/postgresql/ext/pgrouting.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184445 postgresql11Packages.pg_partman: 4.6.0 -> 4.6.2
  pkgs/servers/sql/postgresql/ext/pg_partman.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184467 postgresql11Packages.plpgsql_check: 2.1.5 -> 2.1.8
  pkgs/servers/sql/postgresql/ext/plpgsql_check.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184542 python310Packages.types-requests: 2.28.5 -> 2.28.6
  pkgs/development/python-modules/types-requests/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184536 python310Packages.types-redis: 4.3.4 -> 4.3.13
  pkgs/development/python-modules/types-redis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184233 jotta-cli: 0.14.58899 -> 0.14.60923
  pkgs/applications/misc/jotta-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#183892 eksctl: 0.106.0 -> 0.107.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#174501 dolt: 0.39.2 -> 0.40.4
  pkgs/servers/sql/dolt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#183325 gotify-cli: 2.2.1 -> 2.2.2
  pkgs/tools/misc/gotify-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#183397 jql: 3.2.4 -> 4.0.6
  pkgs/development/tools/jql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184270 libsForQt5.kpmcore: 22.04.0 -> 22.04.3
  pkgs/development/libraries/kpmcore/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184491 photoflow: fix build
  pkgs/applications/graphics/photoflow/default.nix
  pkgs/applications/graphics/photoflow/fix-build.patch
  pkgs/development/libraries/libiptcdata/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-linux: 1

#184459 prometheus-postgres-exporter: 0.10.1 -> 0.11.0
  pkgs/servers/monitoring/prometheus/postgres-exporter.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184348 minetest: 5.5.0 → 5.5.1
  pkgs/development/libraries/irrlichtmt/default.nix
  pkgs/games/minetest/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#184219 janus-gateway: 1.0.0 -> 1.0.3
  pkgs/servers/janus-gateway/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184059 subfinder: 2.5.1 -> 2.5.2
  pkgs/tools/networking/subfinder/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184015 mopidy: fix pygobject issues for dependent packages
  pkgs/applications/audio/mopidy/mopidy.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#184030 geolite-legacy: 2022-01-25 -> 20220621
  pkgs/data/misc/geolite-legacy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#181762 stellarium: 0.22.1 → 0.22.2, unbreak on darwin
  pkgs/applications/science/astronomy/stellarium/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184534 qbittorrent: 4.4.3 -> 4.4.3.1
  pkgs/applications/networking/p2p/qbittorrent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#182576 cosign: 1.9.0 -> 1.10.0
  nixos/doc/manual/from_md/release-notes/rl-2211.section.xml
  nixos/doc/manual/release-notes/rl-2211.section.md
  pkgs/tools/security/cosign/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#184554 checkstyle: 10.3.1 -> 10.3.2
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#182117 simple-http-server: 0.6.1 -> 0.6.2
  pkgs/servers/simple-http-server/0001-cargo-remove-vendored-openssl.patch
  pkgs/servers/simple-http-server/Cargo.lock
  pkgs/servers/simple-http-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184553 nixos/pam: add an option to control Kerberos PAM modules
  nixos/modules/security/pam.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#182068 snipe-it: 6.0.7 -> 6.0.8
  pkgs/servers/web-apps/snipe-it/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#184532 pouf: 0.4.3 -> 0.5.1
  pkgs/tools/misc/pouf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184543 quakespasm: 0.94.3 -> 0.94.7
  pkgs/games/quakespasm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#178560 git-cola: 3.12.0 -> 4.0.1
  pkgs/applications/version-management/git-and-tools/git-cola/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184557 fulcio: 0.4.1 -> 0.5.2
  pkgs/tools/security/fulcio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184561 dogecoin: 1.14.5 -> 1.14.6
  pkgs/applications/blockchains/dogecoin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184326 pip-tools: fix build
  pkgs/development/python-modules/pip-tools/default.nix
  pkgs/development/python-modules/pip-tools/fix-setup-py-bad-syntax-detection.patch
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184391 obs-studio-plugins.obs-vkcapture: 1.1.4 -> 1.1.5
  pkgs/applications/video/obs-studio/plugins/obs-vkcapture.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#183296 jami: 20220503.1550.0f35faa -> 20220726.1515.da8d1da
  pkgs/applications/networking/instant-messengers/jami/client-qt.nix
  pkgs/applications/networking/instant-messengers/jami/config/ffmpeg_args_common
  pkgs/applications/networking/instant-messengers/jami/config/ffmpeg_patches
  pkgs/applications/networking/instant-messengers/jami/daemon.nix
  pkgs/applications/networking/instant-messengers/jami/default.nix
  pkgs/applications/networking/instant-messengers/jami/libclient-include-path.patch
  pkgs/applications/networking/instant-messengers/jami/libclient.nix
  pkgs/applications/networking/instant-messengers/jami/update.sh
  pkgs/development/libraries/opendht/default.nix
  pkgs/development/libraries/restinio/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#183803 kops: 1.24.0 -> 1.24.1
  pkgs/applications/networking/cluster/kops/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184548 firefox{,-bin}: 103.0 -> 103.0.1; firefox-{devedition,beta}-bin: 103.0b9 -> 104.0b4
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
  pkgs/applications/networking/browsers/firefox-bin/devedition_sources.nix
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-22.05

#182718 nordzy-icon-theme: 1.5 -> 1.6
  pkgs/data/icons/nordzy-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#182728 materia-kde-theme: 20220607 -> 20220714
  pkgs/data/themes/materia-kde/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184508 linuxPackages.xmm7360-pci: respect allowAliases
  pkgs/top-level/linux-kernels.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#184505 linux_latest: 5.18.15 -> 5.19
  pkgs/os-specific/linux/kernel/linux-5.19.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: kernel, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-22.05

#184504 python310Packages.pypdf2: 2.8.0 -> 2.9.0
  pkgs/development/python-modules/pypdf2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#184517 python310Packages.pysimplegui: 4.60.1 -> 4.60.3
  pkgs/development/python-modules/pysimplegui/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184596 compiler-rt: Fix "bare metal" case boolean logic
  pkgs/development/compilers/llvm/12/compiler-rt/default.nix
  pkgs/development/compilers/llvm/13/compiler-rt/default.nix
  pkgs/development/compilers/llvm/14/compiler-rt/default.nix
  pkgs/development/compilers/llvm/git/compiler-rt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-22.05

#184529 python310Packages.types-pyyaml: 6.0.10 -> 6.0.11
  pkgs/development/python-modules/types-pyyaml/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184537 python310Packages.schwifty: 2022.7.0 -> 2022.7.1
  pkgs/development/python-modules/schwifty/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184531 python310Packages.twitchapi: 2.5.5 -> 2.5.7.1
  pkgs/development/python-modules/twitchapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184518 python310Packages.sagemaker: 2.100.0 -> 2.101.1
  pkgs/development/python-modules/sagemaker/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184541 python310Packages.trimesh: 3.12.8 -> 3.12.9
  pkgs/development/python-modules/trimesh/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184578 python310Packages.mat2: 0.12.4 -> 0.13.0
  pkgs/development/python-modules/mat2/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-22.05

#184595 python3Packages.dbus-client-gen: init at 0.5
  pkgs/development/python-modules/dbus-client-gen/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#184555 cpm: 0.35.2 -> 0.35.3
  pkgs/development/tools/cpm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#184581 thunderbird-91: 91.11.0 -> 91.12.0
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-22.05

#184604 polymc: use LD_LIBRARY_PATH, not GAME_LIBRARY_PATH
  pkgs/games/polymc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#184577 unbound: 1.16.0 -> 1.16.2
  pkgs/tools/networking/unbound/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 1001-2500

#184567 deluge: fix the build
  pkgs/applications/networking/p2p/deluge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184515 python310Packages.pathvalidate: 2.5.0 -> 2.5.1
  pkgs/development/python-modules/pathvalidate/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184603 linux_lqx: 5.18.15-lqx1 -> 5.18.15-lqx2
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#184512 python310Packages.pyathena: 2.9.6 -> 2.13.0
  pkgs/development/python-modules/pyathena/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184608 [Backport release-21.11] compiler-rt: Fix "bare metal" case boolean logic
  pkgs/development/compilers/llvm/12/compiler-rt/default.nix
  pkgs/development/compilers/llvm/13/compiler-rt/default.nix
  pkgs/development/compilers/llvm/14/compiler-rt/default.nix
  pkgs/development/compilers/llvm/git/compiler-rt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#184514 python310Packages.pydrive2: 1.10.1 -> 1.14.0
  pkgs/development/python-modules/pydrive2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184503 python310Packages.logilab-constraint: 0.6.0 -> 0.6.2
  pkgs/development/python-modules/logilab/constraint.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184573 httpx: 1.2.3 -> 1.2.4
  pkgs/tools/security/httpx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184559 python310Packages.avro: 1.11.0 -> 1.11.1
  pkgs/development/python-modules/avro/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184507 python310Packages.mailsuite: 1.9.2 -> 1.9.4
  pkgs/development/python-modules/mailsuite/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184501 python310Packages.peaqevcore: 4.0.0 -> 4.0.1
  pkgs/development/python-modules/peaqevcore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184497 python39Packages.drf-yasg: 1.21.0 -> 1.21.3
  pkgs/development/python-modules/drf-yasg/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#183686 fwupd: 1.8.1 → 1.8.3
  pkgs/os-specific/linux/firmware/fwupd/add-option-for-installation-sysconfdir.patch
  pkgs/os-specific/linux/firmware/fwupd/default.nix
  pkgs/os-specific/linux/firmware/fwupd/install-fwupdplugin-to-out.patch
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#184485 python310Packages.geoalchemy2: 0.12.1 -> 0.12.3
  pkgs/development/python-modules/geoalchemy2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#184483 python310Packages.aioaladdinconnect: 0.1.25 -> 0.1.34
  pkgs/development/python-modules/aioaladdinconnect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#182819 imagemagick: 7.1.0-43 -> 7.1.0-44
  pkgs/applications/graphics/ImageMagick/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, backport release-22.05

#184323 link-grammar: 5.10.4 -> 5.10.5
  pkgs/tools/text/link-grammar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#182330 fbreader: remove
  pkgs/applications/misc/fbreader/default.nix
  pkgs/applications/misc/fbreader/typecheck.patch
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#184399 net-snmp: 5.9.1 -> 5.9.3
  pkgs/servers/monitoring/net-snmp/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, backport release-22.05

#184387 freetube: 0.16.0 -> 0.17.0
  pkgs/applications/video/freetube/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#183507 stdenv: mesonFlags: specify more targetPrefix'd binaries
  pkgs/development/libraries/libdrm/cross-build-nm-path.patch
  pkgs/development/libraries/libdrm/default.nix
  pkgs/development/libraries/mesa/default.nix
  pkgs/development/libraries/wayland/add-placeholder-for-nm.patch
  pkgs/development/libraries/wayland/default.nix
  pkgs/development/tools/build-managers/meson/default.nix
  pkgs/stdenv/generic/make-derivation.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 6.topic: stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#184623 securefs: compile with clang
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-22.05

#165151 nixos/klipper: Add Klipper firmware options
  nixos/modules/services/misc/klipper.nix
  pkgs/servers/klipper/klipper-firmware.nix
  pkgs/servers/klipper/klipper-flash.nix
  pkgs/servers/klipper/klipper-genconf.nix
  pkgs/servers/klipper/simulator.cfg
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#180500 python3Packages.trectools: init at 0.0.49
  pkgs/development/python-modules/trectools/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#180029 qgroundcontrol: Fix gst dependencies
  pkgs/applications/science/robotics/qgroundcontrol/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#183811 weston: remove with lib over entire file
  pkgs/applications/window-managers/weston/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#180052 qgroundcontrol: 4.2.1 -> 4.2.3
  pkgs/applications/science/robotics/qgroundcontrol/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#184558 [22.05] libwebp: 1.2.1 -> 1.2.3
  pkgs/development/libraries/libwebp/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 1001-2500

#184277 exodus: Fix "Failed to load GLES library"
  pkgs/applications/blockchains/exodus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, ofborg-internal-error, 10.rebuild-linux: 1

#184602 linuxHeaders: 5.18 -> 5.19
  pkgs/os-specific/linux/kernel-headers/default.nix
  pkgs/os-specific/linux/kernel-headers/restore-__bitwise__.patch
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+

#184636 go_1_17: 1.17.12 -> 1.17.13
  pkgs/development/compilers/go/1.17.nix
Labels: 6.topic: golang, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#184617 go_1_18: 1.18.4 -> 1.18.5
  pkgs/development/compilers/go/1.18.nix
Labels: 6.topic: golang, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#184339 live555: 2022.06.16 -> 2022.07.14
  pkgs/development/libraries/live555/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#184240 [22.05] vault, vault-bin: 1.10.3 -> 1.10.5
  pkgs/tools/security/vault/default.nix
  pkgs/tools/security/vault/vault-bin.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#183039 xow: remove
  nixos/doc/manual/from_md/release-notes/rl-2211.section.xml
  nixos/doc/manual/release-notes/rl-2211.section.md
  nixos/modules/module-list.nix
  nixos/modules/rename.nix
  nixos/modules/services/hardware/xow.nix
  pkgs/misc/drivers/xow/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#184616 nickel: 0.1.0 -> 0.2.0
  pkgs/development/interpreters/nickel/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184585 endlessh-go: 20220710 -> 20220731
  pkgs/servers/endlessh-go/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184127 wander: 0.5.1 -> 0.7.0
  pkgs/tools/admin/wander/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184253 volumeicon: use github as source
  pkgs/tools/audio/volumeicon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#183713 argparse: init at 2.6
  pkgs/development/libraries/argparse/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#180844 copilot-cli: init at 1.19.0
  pkgs/tools/admin/copilot-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184311 linode-cli: 5.21.0 -> 5.22.0
  pkgs/tools/virtualization/linode-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#183352 vte, gnome-console: add darwin support
  pkgs/applications/terminal-emulators/gnome-console/default.nix
  pkgs/development/libraries/vte/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1

#178558 pythonPackages.adafruit-nrfutil: init at 0.5.3.post17
  pkgs/development/python-modules/adafruit-nrfutil/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#184345 [22.05] fava: 1.21 -> 1.22.2
  pkgs/applications/office/fava/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184440 opencc: 1.1.3 -> 1.1.4
  pkgs/tools/text/opencc/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#184405 nuweb: 1.60 -> 1.62
  pkgs/development/tools/literate-programming/nuweb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#184260 lbreakouthd: 1.0.9 -> 1.0.10
  pkgs/games/lgames/lbreakouthd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.05

#184162 zxing-cpp: 1.2.0 -> 1.4.0
  pkgs/development/libraries/zxing-cpp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, backport release-22.05
