Repository NixOS/nixpkgs, pull requests merged in 2022-01, with the labels that each got.

#152929 gruut: fix build
  pkgs/development/python-modules/gruut-ipa/default.nix
  pkgs/development/python-modules/gruut/default.nix
  pkgs/tools/audio/tts/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#153006 fheroes2: add trivial updater script
  pkgs/games/fheroes2/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#153012 nixos/moinmoin, nixos/tests/moinmoin, python2Packages.moinmoin: remove
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2205.section.md
  nixos/modules/module-list.nix
  nixos/modules/rename.nix
  nixos/modules/services/web-apps/moinmoin.nix
  nixos/tests/all-tests.nix
  nixos/tests/moinmoin.nix
  pkgs/development/python-modules/moinmoin/default.nix
  pkgs/development/python-modules/moinmoin/fix_tests.patch
  pkgs/top-level/python2-packages.nix
Labels: 6.topic: python, 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#152977 lollypop: 1.4.23 -> 1.4.26
  pkgs/applications/audio/lollypop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152997 victor-mono: 1.5.0 -> 1.5.1
  pkgs/data/fonts/victor-mono/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152983 batsignal: 1.3.1 -> 1.3.2
  pkgs/applications/misc/batsignal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152892 flat-remix-gtk: 20211201 -> 20211223
  pkgs/data/themes/flat-remix-gtk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152183 python38Packages.stumpy: 1.10.0 -> 1.10.2
  pkgs/development/python-modules/stumpy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#153017 tealdeer: 1.4.1 → 1.5.0
  pkgs/tools/misc/tealdeer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153013 space-cadet-pinball: unstable-2021-12-02 -> 2.0.1
  pkgs/games/space-cadet-pinball/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153005 vnote: 3.10.1 -> 3.11.0
  pkgs/applications/office/vnote/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152863 free42: 3.0.7 -> 3.0.8
  pkgs/applications/misc/free42/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152991 v2ray-geoip: 202112160030 -> 202112300030
  pkgs/data/misc/v2ray-geoip/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#152982 gnu-shepherd: init at 0.8.1
  pkgs/misc/gnu-shepherd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153027 v2ray-domain-list-community: 20211119143108 -> 20211228022859
  pkgs/data/misc/v2ray-domain-list-community/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#153032 buildGoModule packages: remove unnecessary `runVend`
  pkgs/applications/blockchains/go-ethereum/default.nix
  pkgs/applications/graphics/ascii-image-converter/default.nix
  pkgs/applications/misc/nwg-menu/default.nix
  pkgs/applications/misc/tsukae/default.nix
  pkgs/applications/networking/cluster/kubergrunt/default.nix
  pkgs/applications/networking/cluster/levant/default.nix
  pkgs/applications/networking/cluster/linkerd/default.nix
  pkgs/applications/networking/cluster/linkerd/edge.nix
  pkgs/applications/networking/cluster/linkerd/generic.nix
  pkgs/applications/networking/cluster/tfswitch/default.nix
  pkgs/applications/networking/nali/default.nix
  pkgs/applications/version-management/git-and-tools/glab/default.nix
  pkgs/applications/version-management/reposurgeon/default.nix
  pkgs/development/tools/wally-cli/default.nix
  pkgs/servers/mautrix-whatsapp/default.nix
  pkgs/servers/monitoring/prometheus/nginxlog-exporter.nix
  pkgs/tools/admin/fioctl/default.nix
  pkgs/tools/misc/tfk8s/default.nix
  pkgs/tools/security/gosh/default.nix
  pkgs/tools/security/otpauth/default.nix
  pkgs/tools/security/saml2aws/default.nix
  pkgs/tools/security/sammler/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#153031 snowcrash: remove unnecessary `runVend`
  pkgs/tools/security/snowcrash/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152137 {redshift,gammastep}: do not double wrap & redshift-wlr: remove
  pkgs/applications/misc/redshift/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152011 bash_4: remove
  pkgs/shells/bash/4.4.nix
  pkgs/shells/bash/bash-4.4-patches.nix
  pkgs/shells/bash/cygwin-bash-4.4.11-2.src.patch
  pkgs/shells/bash/pgrp-pipe-4.4.patch
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#152211 clippy: fix build
  pkgs/development/compilers/rust/clippy.nix
Labels: 6.topic: rust, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153040 remind: 03.03.10 -> 03.03.11
  pkgs/tools/misc/remind/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#152938 python38Packages.p1monitor: 1.0.0 -> 1.1.0
  pkgs/development/python-modules/p1monitor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#153029 jsoncpp: disable tests when cross compiling
  pkgs/development/libraries/jsoncpp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#153039 rocketchat-desktop: 3.7.2 -> 3.7.4
  pkgs/applications/networking/instant-messengers/rocketchat-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153048 qownnotes: 21.12.4 -> 21.12.8
  pkgs/applications/office/qownnotes/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#153018 terraria-server: 1.4.2.3 -> 1.4.3.2
  pkgs/games/terraria-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152952 vscode-extensions.ms-kubernetes-tools.vscode-kubernetes-tools: 1.0.6 -> 1.3.4
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#150959 python38Packages.tern: 2.8.0 -> 2.9.0
  pkgs/development/python-modules/tern/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152854 hwinfo: 21.78 -> 21.80
  pkgs/tools/system/hwinfo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#153055 pyupgrade: 2.30.0 -> 2.30.1
  pkgs/development/python-modules/pyupgrade/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152990 python3Packages.time-machine: 2.4.1 -> 2.5.0
  pkgs/development/python-modules/time-machine/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#152923 wolfssl: 5.0.0 -> 5.1.0
  pkgs/development/libraries/wolfssl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#153011 gvm-libs: 21.4.2 -> 21.4.3
  pkgs/development/libraries/gvm-libs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#152887 python38Packages.flask-paginate: 2021.10.29 -> 2021.12.28
  pkgs/development/python-modules/flask-paginate/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#153045 vimPlugins.onedark-nvim: init at 2021-11-30
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#153046 vimPlugins.renamer-nvim: init at 2021-12-19
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#153050 vimPlugins.mkdir-nvim: init at 2021-06-20
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#153016 python38Packages.python-utils: 2.5.6 -> 2.7.0
  pkgs/development/python-modules/python-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#153021 swagger-codegen3: 3.0.30 -> 3.0.31
  pkgs/tools/networking/swagger-codegen3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#153058 python38Packages.line_profiler: 3.3.1 -> 3.4.0
  pkgs/development/python-modules/line_profiler/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#149322 libcouchbase: 3.2.3 -> 3.2.4
  pkgs/development/libraries/libcouchbase/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#148994 dapper: 0.5.7 -> 0.5.8
  pkgs/development/tools/dapper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#149740 openexr_3: 3.1.2 -> 3.1.3
  pkgs/development/libraries/openexr/3.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152860 json-schema-for-humans: 0.39.1 -> 0.39.3
  pkgs/development/python-modules/json-schema-for-humans/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#153025 python38Packages.supervisor: 4.2.3 -> 4.2.4
  pkgs/development/python-modules/supervisor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148598 libzim: init at 7.0.0
  pkgs/development/libraries/libzim/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#149453 google-cloud-sdk: 365.0.1 -> 367.0.0
  pkgs/tools/admin/google-cloud-sdk/data.nix
  pkgs/tools/admin/google-cloud-sdk/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152442 python3Packages.charset-normalizer: 2.0.8 -> 2.0.9
  pkgs/development/python-modules/charset-normalizer/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#149441 openimagedenoise: 1.4.1 -> 1.4.2
  pkgs/development/libraries/openimagedenoise/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#151447 inotify-tools: 3.21.9.5 -> 3.21.9.6
  pkgs/development/tools/misc/inotify-tools/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#150321 python3Packages.adal: enable tests
  pkgs/development/python-modules/adal/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#148901 bullet: 3.17 -> 3.21
  pkgs/development/libraries/bullet/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#148857 meshlab: 2020.12 -> 2021.10
  pkgs/applications/graphics/meshlab/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#153063 python38Packages.python-codon-tables: 0.1.10 -> 0.1.11
  pkgs/development/python-modules/python-codon-tables/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#148749 boundary: 0.6.2 -> 0.7.1
  pkgs/tools/networking/boundary/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148817 woeusb: 5.1.2 -> 5.2.4
  pkgs/tools/misc/woeusb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#153066 plexamp: 3.8.2 -> 3.9.0
  pkgs/applications/audio/plexamp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#149257 inadyn: 2.8.1 -> 2.9.0
  pkgs/tools/networking/inadyn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#153062 tdesktop: Remove myself as maintainer
  pkgs/applications/networking/instant-messengers/telegram/tdesktop/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#149207 sameboy: 0.14.6 -> 0.14.7
  pkgs/misc/emulators/sameboy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#149135 finalfusion-utils: 0.13.0 -> 0.13.2
  pkgs/applications/science/machine-learning/finalfusion-utils/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#149200 gptman: 0.8.0 -> 0.8.2
  pkgs/tools/system/gptman/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#147007 python3Packages.wrapt: enable tests
  pkgs/development/python-modules/wrapt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#153051 jetbrains: update
  pkgs/applications/editors/jetbrains/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#151283 wavegain: pull upstream fix for -fno-common toolchains
  pkgs/applications/audio/wavegain/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152921 isabelle: 2021 -> 2021-1
  pkgs/applications/science/logic/isabelle/default.nix
  pkgs/applications/science/logic/verit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152151 multipath-tools: pull upstream fix for -fno-cmmon toolchains
  pkgs/os-specific/linux/multipath-tools/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#147367 inav-configurator: init at 3.0.2
  maintainers/maintainer-list.nix
  pkgs/applications/science/robotics/inav-configurator/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#152580 spike: do not re-evaluate nixpkgs
  pkgs/applications/virtualization/spike/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: package-maintainer

#150718 sony-headphones-client: init at 1.2
  pkgs/applications/audio/sony-headphones-client/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#149680 katago: 1.9.1 -> 1.10.0
  pkgs/games/katago/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#151547 pmbootstrap: 1.39.2 > 1.40.0
  pkgs/tools/misc/pmbootstrap/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152509 amule: use gtk3
  pkgs/tools/networking/p2p/amule/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152686 ft2-clone: 1.48 -> 1.49
  pkgs/applications/audio/ft2-clone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148612 opensnitch, opensnitch-ui: 1.3.6 > 1.4.3
  pkgs/tools/networking/opensnitch/daemon.nix
  pkgs/tools/networking/opensnitch/go-mod.patch
  pkgs/tools/networking/opensnitch/ui.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#151917 holochain-go: remove unmaintained version
  pkgs/servers/holochain-go/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#152363 lumina.lumina: 1.6.1 -> 1.6.2
  nixos/modules/services/x11/desktop-managers/lumina.nix
  pkgs/desktops/lumina/lumina/avoid-absolute-path-on-sessdir.patch
  pkgs/desktops/lumina/lumina/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153030 sbt: 1.6.0 -> 1.6.1
  pkgs/development/tools/build-managers/sbt/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.11

#153065 wl-mirror: 0.5.0 -> 0.8.1
  pkgs/tools/misc/pipectl/default.nix
  pkgs/tools/wayland/wl-mirror/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#153067 entr: 5.0 -> 5.1
  pkgs/tools/misc/entr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#153042 rage: 0.7.0 -> 0.7.1
  pkgs/tools/security/rage/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#142597 werf: init at 1.2.55
  maintainers/maintainer-list.nix
  pkgs/applications/networking/cluster/werf/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#151575 tworld2: init at 2.2.0
  maintainers/maintainer-list.nix
  pkgs/games/tworld2/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#153073 librecad+qcad: use mkDerivation instead of mkDerivationWith
  pkgs/applications/misc/librecad/default.nix
  pkgs/applications/misc/qcad/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#150122 androidenv: change default emulatorVersion to one available
  pkgs/development/mobile/androidenv/compose-android-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#153076 dracula-theme: 2.0 -> 3.0
  pkgs/data/themes/dracula-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152487 krill: init at 0.9.4
  maintainers/maintainer-list.nix
  pkgs/servers/krill/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152630 python3Packages.ormar: init at 0.10.23
  pkgs/development/python-modules/ormar/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#153060 python3Packages.asyncio-dgram: 2.1.1 -> 2.1.1
  pkgs/development/python-modules/asyncio-dgram/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#147710 python3Packages.pymelcloud: init at 2.5.5
  pkgs/development/python-modules/pymelcloud/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#153080 eudev: 3.2.10 -> 3.2.11
  pkgs/os-specific/linux/eudev/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#152855 glmark2: 2021.02 -> 2021.12
  pkgs/tools/graphics/glmark2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#148637 nixos/network: add gre virtual interfaces
  nixos/modules/tasks/network-interfaces-scripted.nix
  nixos/modules/tasks/network-interfaces-systemd.nix
  nixos/modules/tasks/network-interfaces.nix
  nixos/tests/networking.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#151265 Napari
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/cachey/default.nix
  pkgs/development/python-modules/docstring-parser/default.nix
  pkgs/development/python-modules/magicgui/default.nix
  pkgs/development/python-modules/napari-console/default.nix
  pkgs/development/python-modules/napari-plugin-engine/default.nix
  pkgs/development/python-modules/napari-svg/default.nix
  pkgs/development/python-modules/napari/default.nix
  pkgs/development/python-modules/psygnal/default.nix
  pkgs/development/python-modules/pytest-mypy-plugins/default.nix
  pkgs/development/python-modules/superqt/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#153008 sssd: 2.6.1 -> 2.6.2
  pkgs/os-specific/linux/sssd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#153037 resvg: 0.19.0 -> 0.20.0
  pkgs/tools/graphics/resvg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153068 Check link type based on expanded parameters
  pkgs/build-support/bintools-wrapper/ld-wrapper.sh
  pkgs/build-support/cc-wrapper/cc-wrapper.sh
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#152724 gnomeExtensions: auto-update
  pkgs/desktops/gnome/extensions/collisions.json
  pkgs/desktops/gnome/extensions/extensionRenames.nix
  pkgs/desktops/gnome/extensions/extensions.json
Labels: 6.topic: GNOME, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#151002 black: 21.10b0 -> 21.12b0
  pkgs/development/python-modules/black/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#152243 home-manager: 2021-03-21 -> 2021-12-25
  pkgs/tools/package-management/home-manager/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152698 dbus-python: fix cross compilation
  pkgs/development/python-modules/dbus/default.nix
Labels: 6.topic: python, 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 2501-5000

#153081 python3Packages.fastapi: 0.70.0 -> 0.70.1
  pkgs/development/python-modules/fastapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#146980 python3Packages.starlette: 0.16.0 -> 0.17.1
  pkgs/development/python-modules/starlette/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#153074 qcad: 3.26.4.10 -> 3.27.1.0
  pkgs/applications/misc/qcad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152806 minio-client: 2021-11-16T20-37-36Z -> 2021-12-20T23-43-34Z
  pkgs/tools/networking/minio-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152885 filezilla: 3.55.1 -> 3.57.0
  pkgs/applications/networking/ftp/filezilla/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#150846 nixos/maddy: Better description, user and group handling
  nixos/doc/manual/from_md/release-notes/rl-2111.section.xml
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2111.section.md
  nixos/doc/manual/release-notes/rl-2205.section.md
  nixos/modules/services/mail/maddy.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#150964 terraform-providers.teleport: 7.3.0 -> 8.0.6
  pkgs/applications/networking/cluster/terraform-providers/teleport/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#152898 fio: 3.28 -> 3.29
  pkgs/tools/system/fio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#152958 alfaview: 8.33.0 -> 8.34.0
  pkgs/applications/networking/instant-messengers/alfaview/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152917 byacc: 20210808 -> 20211224
  pkgs/development/tools/parsing/byacc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#152931 burpsuite: 2021.10.3 -> 2021.12
  pkgs/tools/networking/burpsuite/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#152969 python3Packages.chex: init at unstable-2021-12-16
  pkgs/development/python-modules/chex/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152972 python3Packages.jmp: init at unstable-2021-10-03
  pkgs/development/python-modules/jmp/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#150219 doclifter: 2.19 -> 2.20
  pkgs/development/tools/misc/doclifter/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152971 python3Packages.dm-tree: refactor to build from sources
  pkgs/development/python-modules/dm-tree/cmake.patch
  pkgs/development/python-modules/dm-tree/default.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#151721 vivaldi: add commandLineArgs
  pkgs/applications/networking/browsers/vivaldi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#149811 oidentd: 2.5.0 -> 3.0.0
  pkgs/servers/identd/oidentd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#147692 qemu: fix cross compilation
  pkgs/applications/virtualization/qemu/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#149848 minizincide: 2.5.3 -> 2.5.5
  pkgs/development/tools/minizinc/ide.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152996 vdr: 2.5.6 -> 2.6.0
  pkgs/applications/video/vdr/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#149652 pam_krb5: 4.10 -> 4.11
  pkgs/os-specific/linux/pam_krb5/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#149863 libx86emu: 3.1 -> 3.5
  pkgs/development/libraries/libx86emu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#149433 onedrive: 2.4.13 -> 2.4.14
  pkgs/applications/networking/sync/onedrive/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#149401 nco: 5.0.3 -> 5.0.4
  pkgs/development/libraries/nco/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#151809 gsound: support cross-compilation
  pkgs/development/libraries/gsound/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#149229 riemann: 0.3.6 -> 0.3.7
  pkgs/servers/monitoring/riemann/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#149126 sqlcipher: 4.4.3 -> 4.5.0
  pkgs/development/libraries/sqlcipher/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#149098 sleuthkit: 4.11.0 -> 4.11.1
  pkgs/tools/system/sleuthkit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152327 pythonPackages.uvloop: set LIBUV_CONFIGURE_HOST to hostPlatform
  pkgs/development/python-modules/uvloop/default.nix
Labels: 6.topic: python, 6.topic: cross-compilation, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#149066 soju: 0.2.2 -> 0.3.0
  pkgs/applications/networking/soju/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#148971 uptimed: 0.4.5 -> 0.4.6
  pkgs/tools/system/uptimed/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152829 [staging] libredirect: fix musl build
  pkgs/build-support/libredirect/libredirect.c
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 6.topic: portability, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 6.topic: musl

#152834 openssh: disable t-exec tests on musl
  pkgs/tools/networking/openssh/common.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: musl

#152322 kalendar: fix #152284 segfault and pim sources
  pkgs/applications/office/kalendar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#143594 qtractor: 0.9.23 -> 0.9.24
  pkgs/applications/audio/qtractor/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#152171 looking-glass-client: B4 -> B5.0.1
  pkgs/applications/virtualization/looking-glass-client/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#143877 embree: 3.13.1 -> 3.13.2
  pkgs/development/libraries/embree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#144347 iptsd: 0.4 -> 0.5
  pkgs/applications/misc/iptsd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143299 visualvm: 2.1 -> 2.1.1
  pkgs/development/tools/java/visualvm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153097 python3Packages.flux-led: 0.27.20 -> 0.27.28
  pkgs/development/python-modules/flux-led/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#144466 minisign: 0.9 -> 0.10
  pkgs/tools/security/minisign/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#150999 pipewire: 0.3.40 -> 0.3.42
  pkgs/development/libraries/pipewire/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, backport staging-21.11

#152934 HentaiAtHome: init at 1.6.1
  maintainers/maintainer-list.nix
  pkgs/applications/misc/HentaiAtHome/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#152946 ddnet: 15.8 -> 15.8.1
  pkgs/games/ddnet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143555 radsecproxy: 1.9.0 -> 1.9.1
  pkgs/tools/networking/radsecproxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#143577 carla: 2.4.0 -> 2.4.1
  pkgs/applications/audio/carla/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#152550 python3Packages.{django-redis,redis,hiredis,packaging,lz4}: update and refactor
  pkgs/development/python-modules/django-redis/default.nix
  pkgs/development/python-modules/hiredis/default.nix
  pkgs/development/python-modules/lz4/default.nix
  pkgs/development/python-modules/packaging/default.nix
  pkgs/development/python-modules/redis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#151383 tokio-console: init at 0.1.0
  pkgs/development/tools/tokio-console/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#153088 python3Packages.duckdb: fix build
  pkgs/development/python-modules/duckdb/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
