Repository NixOS/nixpkgs, pull requests merged in 2022-09, with the labels that each got.

#189193 temporal: 1.17.4 -> 1.17.5
  pkgs/applications/networking/cluster/temporal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189197 tfsec: 1.27.5 -> 1.27.6
  pkgs/development/tools/analysis/tfsec/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189157 mongodb-compass: 1.32.6 -> 1.33.0
  pkgs/tools/misc/mongodb-compass/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189174 qovery-cli: 0.45.0 -> 0.46.3
  pkgs/tools/admin/qovery-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189173 pscale: 0.113.0 -> 0.115.0
  pkgs/development/tools/pscale/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189165 oh-my-posh: 8.36.4 -> 8.36.6
  pkgs/development/tools/oh-my-posh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189117 vimPlugins.nvim-surround: init at 2022-08-29
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189094 vimPlugins: update
  pkgs/applications/editors/vim/plugins/deprecated.json
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/overrides.nix
Labels: 6.topic: vim, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#189190 sngrep: 1.5.0 -> 1.6.0
  pkgs/applications/networking/sniffers/sngrep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189188 sierra-breeze-enhanced: 1.1.0 -> 1.2.0
  pkgs/data/themes/kwin-decorations/sierra-breeze-enhanced/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189187 seer: 1.8 -> 1.9
  pkgs/development/tools/misc/seer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#186815 vimPlugins.vim-isort: fix build
  pkgs/applications/editors/vim/plugins/overrides.nix
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#188866 fpc: support darwin
  pkgs/development/compilers/fpc/binary-builder-darwin.sh
  pkgs/development/compilers/fpc/binary.nix
  pkgs/development/compilers/fpc/default.nix
  pkgs/development/compilers/fpc/remove-signature.sh
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, awaiting_reviewer

#189152 python310Packages.aesedb: 0.0.7 -> 0.1.0
  pkgs/development/python-modules/aesedb/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189218 python310Packages.minikerberos: 0.3.0 -> 0.3.1
  pkgs/development/python-modules/minikerberos/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#186870 jellyfin-ffmpeg: 5.1-1 -> 5.1-2
  pkgs/development/libraries/jellyfin-ffmpeg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#189156 logseq: 0.8.2 -> 0.8.3
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#189139 boost155: remove
  pkgs/development/libraries/boost/1.55.nix
  pkgs/development/libraries/boost/clang-math-2.patch
  pkgs/development/libraries/boost/clang-math.patch
  pkgs/development/libraries/boost/darwin-1.55-no-system-python.patch
  pkgs/development/libraries/boost/default.nix
  pkgs/development/libraries/boost/gcc-5.patch
  pkgs/development/libraries/boost/generic.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#189167 vmware-horizon-client: 2203 -> 2206
  pkgs/applications/networking/remote/vmware-horizon-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#189137 gopsuinfo: 0.1.1 -> 0.1.2
  pkgs/tools/system/gopsuinfo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#188115 rubberband: fix build on darwin
  pkgs/development/libraries/rubberband/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#189155 linuxPackages.lttng-modules: mark broken for 5.10
  pkgs/os-specific/linux/lttng-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#188083 mutagen-compose: 0.15.1 -> 0.15.2
  pkgs/tools/misc/mutagen-compose/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188940 [22.05] zoom-us: 5.11.{1.8356,3.3882} -> 5.11.{9.10046,10.4400}
  pkgs/applications/networking/instant-messengers/zoom-us/arm64-darwin-sha.nix
  pkgs/applications/networking/instant-messengers/zoom-us/arm64-darwin-version.nix
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
  pkgs/applications/networking/instant-messengers/zoom-us/update.sh
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-darwin-sha.nix
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-darwin-version.nix
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-linux-sha.nix
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-linux-version.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188105 dlib: add Darwin support
  pkgs/development/libraries/dlib/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#189126 aws-sdk-cpp: ignore openssl 3 deprecation warnings
  pkgs/development/libraries/aws-sdk-cpp/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#188797 wibo: 0.2.0 → 0.2.4
  pkgs/applications/emulators/wibo/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#188383 ngtcp2-gnutls: init at 0.7.0 and use in knot-dns
  pkgs/development/libraries/ngtcp2/gnutls.nix
  pkgs/servers/dns/knot-dns/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#188922 python310Packages.west: 0.13.1 -> 0.14.0
  pkgs/development/python-modules/west/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#188908 wakatime: 1.53.4 -> 1.54.0
  pkgs/tools/misc/wakatime/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188907 unciv: 4.2.5-patch1 -> 4.2.6
  pkgs/games/unciv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#188900 syslogng: 3.37.1 -> 3.38.1
  pkgs/tools/system/syslog-ng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#188898 snappymail: 2.17.2 -> 2.17.3
  pkgs/servers/snappymail/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188896 sensu-go-backend: 6.7.5 -> 6.8.0
  pkgs/servers/monitoring/sensu-go/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189236 [22.05] poppler: add patch for CVE-2022-38784
  pkgs/development/libraries/poppler/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#188894 seaweedfs: 3.23 -> 3.24
  pkgs/applications/networking/seaweedfs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188831 ddccontrol-db: 20220720 -> 20220829
  pkgs/data/misc/ddccontrol-db/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#188822 calamares: 3.2.60 -> 3.2.61
  pkgs/tools/misc/calamares/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#188807 opentimestamps-client: 0.7.0 -> 0.7.1
  pkgs/tools/misc/opentimestamps-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189127 obs-vkcapture: fix build against wayland
  pkgs/applications/video/obs-studio/plugins/obs-vkcapture.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2

#189259 displaylink: skip builds at hydra
  pkgs/os-specific/linux/displaylink/default.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#188800 helmsman: 3.13.1 -> 3.14.0
  pkgs/applications/networking/cluster/helmsman/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189185 rocketchat-desktop: 3.8.8 -> 3.8.9
  pkgs/applications/networking/instant-messengers/rocketchat-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189264 istioctl: 1.14.3 -> 1.15.0
  pkgs/applications/networking/cluster/istioctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189253 zen-kernels: 5.19.4 -> 5.19.6
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#186647 displaylink: 5.6.0-59.176 -> 5.6.1-59.184
  pkgs/os-specific/linux/displaylink/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189153 tessen: refactor manpage installation
  pkgs/tools/security/tessen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#189256 libredwg: mark working on darwin
  pkgs/development/libraries/libredwg/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#189262 yt-dlp: 2022.8.19 -> 2022.9.1
  pkgs/tools/misc/yt-dlp/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#189258 gotty: 1.4.0 -> 1.5.0
  pkgs/servers/gotty/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189132 Linux Kernel update 5.19.6 date 2022-08-31
  pkgs/os-specific/linux/kernel/hardened/patches.json
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-5.19.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 1001-2500, needs_reviewer, awaiting_reviewer, backport release-22.05

#189249 er-patcher: 1.04-1 -> 1.06-1
  pkgs/tools/games/er-patcher/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189020 boehmgc: 8.0.6 -> 8.2.2
  pkgs/development/libraries/boehm-gc/default.nix
  pkgs/development/libraries/boehm-gc/mcfgthread.patch
  pkgs/tools/package-management/nix/patches/boehmgc-coroutine-sp-fallback.patch
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#187999 python310Packages.hatch-fancy-pypi-readme: init at 22.3.0
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/hatch-fancy-pypi-readme/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-22.05

#189098 the-powder-toy: 96.2.350 -> unstable-2022-08-30
  pkgs/games/the-powder-toy/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188916 coturn: enable sqlite support
  pkgs/servers/coturn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#189283 [Backport release-22.05] python310Packages.hatch-fancy-pypi-readme: init at 22.3.0
  pkgs/development/python-modules/hatch-fancy-pypi-readme/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#188266 obconf: add GSettings schemas path
  pkgs/tools/X11/obconf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#189220 python310Packages.pynobo: 1.3.0 -> 1.4.0
  pkgs/development/python-modules/pynobo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#189208 python310Packages.geoalchemy2: 0.12.3 -> 0.12.4
  pkgs/development/python-modules/geoalchemy2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#189223 python310Packages.xknx: 1.0.1 -> 1.0.2
  pkgs/development/python-modules/xknx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#189224 python310Packages.pyunifiprotect: 4.1.8 -> 4.2.0
  pkgs/development/python-modules/pyunifiprotect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#189304 screen: add enable-rxvt_osc
  pkgs/tools/misc/screen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189312 python3Packages.dateparser: patch flaky test
  pkgs/development/python-modules/dateparser/default.nix
Labels: 6.topic: python, backport release-22.05

#189334 vulkan-caps-viewer: 3.24 -> 3.25
  pkgs/tools/graphics/vulkan-caps-viewer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188971 python310Packages.azure-multiapi-storage: 0.9.0 -> 0.10.0
  pkgs/development/python-modules/azure-multiapi-storage/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189303 gpsprune: 21.3 -> 22
  pkgs/applications/misc/gpsprune/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189100 python3Packages.ducc0: 0.24.0 -> 0.25.0
  pkgs/development/python-modules/ducc0/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#182981 pdm: 1.14.0 -> 2.1.1
  pkgs/development/python-modules/pdm-pep517/default.nix
  pkgs/development/python-modules/requests-wsgi-adapter/default.nix
  pkgs/development/python-modules/unearth/default.nix
  pkgs/tools/package-management/pdm/check-update.patch
  pkgs/tools/package-management/pdm/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#189302 trezor-suite: 22.3.2 -> 22.8.2
  pkgs/applications/blockchains/trezor-suite/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189018 git: 2.37.2 -> 2.37.3
  pkgs/applications/version-management/git-and-tools/git/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#189289 josm: 18531 → 18543
  pkgs/applications/misc/josm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189327 helix: 22.08 -> 22.08.1
  pkgs/applications/editors/helix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#186981 microsoft-edge: 102.0.1245.44 -> 104.0.1293.54 + hardware acceleration fix
  pkgs/applications/networking/browsers/microsoft-edge/browser.nix
  pkgs/applications/networking/browsers/microsoft-edge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#180149 nixos/gitlab: fix registry.issuer setting
  nixos/modules/services/misc/gitlab.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-22.05

#189293 vimPlugins.context-vim: init at 2022-05-02
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189199 google-chrome: place commandLineArgs after wayland args
  pkgs/applications/networking/browsers/google-chrome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#189311 gzdoom: 4.7.1 -> 4.8.2
  pkgs/games/gzdoom/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#189286 oh-my-posh: 8.36.6 -> 8.36.7
  pkgs/development/tools/oh-my-posh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#183961 python310Packages.treex: Enable more tests
  pkgs/development/python-modules/treex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189271 kdash: 0.3.4 -> 0.3.5
  pkgs/development/tools/kdash/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189313 timescaledb-tune: 0.14.0 -> 0.14.1
  pkgs/development/tools/database/timescaledb-tune/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189274 epick: 0.8.0 -> 0.8.1
  pkgs/applications/graphics/epick/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189360 firefox: use ffmpeg_5
  pkgs/applications/networking/browsers/firefox/wrapper.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#189059 _1password: 2.6.2 -> 2.7.0
  pkgs/applications/misc/1password/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189316 logseq: 0.8.3 -> 0.8.4
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189291 opentelemetry-collector: 0.58.0 -> 0.59.0
  pkgs/tools/misc/opentelemetry-collector/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189294 opentelemetry-collector-contrib: 0.58.0 -> 0.59.0
  pkgs/tools/misc/opentelemetry-collector/contrib.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189371 chromium: add commandLineArgs after wayland flags
  pkgs/applications/networking/browsers/chromium/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189370 ocamlPackages.ssl: 0.5.11 -> 0.5.12
  pkgs/development/ocaml-modules/ssl/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#188875 libsoundio: fix build on darwin
  pkgs/development/libraries/libsoundio/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#189375 ytcc: install completions
  pkgs/tools/networking/ytcc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189351 obs-studio: include plugins in wrapper again
  pkgs/applications/video/obs-studio/wrapper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#189227 act: 0.2.30 -> 0.2.31
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189252 hivex: fix darwin build
  pkgs/development/libraries/hivex/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#189380 postgresql11Packages.pgrouting: 3.3.1 -> 3.3.2
  pkgs/servers/sql/postgresql/ext/pgrouting.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189260 mcpp: 2.7.2 -> 2.7.2.1
  pkgs/development/compilers/mcpp/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#189215 gobject-introspection: propagate self/targetself to avoid having to add gobject-introspection to buildInputs
  pkgs/development/libraries/gobject-introspection/default.nix
  pkgs/development/libraries/gobject-introspection/wrapper.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#189216 ovmfvartool: init at unstable-2021-06-16
  pkgs/applications/virtualization/ovmfvartool/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, awaiting_changes

#189337 krename: 5.0.1 -> 5.0.2
  pkgs/applications/misc/krename/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189250 picocom: fix substitution
  pkgs/tools/misc/picocom/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189247 gotop: fix darwin build
  pkgs/tools/system/gotop/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189243 zenith: mark working on darwin
  pkgs/tools/system/zenith/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#189395 postgresqlPackages.timescaledb: 2.7.2 -> 2.8.0
  pkgs/servers/sql/postgresql/ext/timescaledb.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#184563 ecpdap: 0.1.7 -> 0.1.8
  pkgs/development/embedded/fpga/ecpdap/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#186527 btrfs-progs: allow to build without python bindings
  pkgs/tools/filesystems/btrfs-progs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#167427 ctlptl: init at 0.8.6
  pkgs/development/tools/ctlptl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189235 hashdeep: fix darwin build
  pkgs/tools/security/hashdeep/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189376 php80Packages.phpstan: 1.8.2 -> 1.8.3
  pkgs/development/php-packages/phpstan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#189405 gecode_3: mark darwin working
  pkgs/development/libraries/gecode/3.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#189342 kn: 1.6.1 -> 1.7.0
  pkgs/applications/networking/cluster/kn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189390 fox: mark broken on darwin aarch64 only
  pkgs/development/libraries/fox/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#189280 maintainers: update danth matrix account
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#189111 zram module: rewording documentation to avoid misconception
  nixos/modules/config/zram.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 2

#189097 staging-next-22.05 - iteration9 - 2022-08-31
  pkgs/applications/editors/vim/common.nix
  pkgs/applications/networking/sync/rsync/base.nix
  pkgs/applications/networking/sync/rsync/default.nix
  pkgs/applications/networking/sync/rsync/rrsync.nix
  pkgs/development/compilers/go/1.17.nix
  pkgs/development/compilers/go/1.18.nix
  pkgs/development/libraries/libtiff/default.nix
  pkgs/development/libraries/libwebp/default.nix
  pkgs/development/libraries/nss/ckpem.patch
  pkgs/development/libraries/nss/generic.nix
  pkgs/development/libraries/sqlite/CVE-2022-35737.patch
  pkgs/development/libraries/sqlite/default.nix
  pkgs/development/libraries/webkitgtk/default.nix
  pkgs/os-specific/linux/kernel/hardened/patches.json
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-5.19.nix
  pkgs/servers/minio/default.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 6.topic: kernel, 6.topic: golang, 6.topic: vim, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#189087 dmd: disable whitespace-sensitive tests for binutils-2.39
  pkgs/development/compilers/dmd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#183848 qemu: 7.0.0 -> 7.1.0
  pkgs/applications/virtualization/qemu/default.nix
  pkgs/applications/virtualization/qemu/fix-qemu-ga.patch
  pkgs/applications/virtualization/qemu/revert-ui-cocoa-add-clipboard-support.patch
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#189012 sonic-pi: 4.0.3 -> 4.1.0
  pkgs/applications/audio/sonic-pi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#188997 python310Packages.flower: 1.1.0 -> 1.2.0
  pkgs/development/python-modules/flower/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#188963 python310Packages.awscrt: 0.14.0 -> 0.14.3
  pkgs/development/python-modules/awscrt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#188893 sameboy: 0.15.4 -> 0.15.5
  pkgs/applications/emulators/sameboy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#188886 pure-maps: 3.1.0 -> 3.1.1
  pkgs/applications/misc/pure-maps/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#189374 pdns-recursor: 4.7.1 -> 4.7.2
  pkgs/servers/dns/pdns-recursor/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-22.05

#188885 praat: 6.2.16 -> 6.2.17
  pkgs/applications/audio/praat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#188884 pluto: 5.10.5 -> 5.10.6
  pkgs/applications/networking/cluster/pluto/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188860 kafkactl: 1.23.1 -> 2.5.0
  pkgs/development/tools/kafkactl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189399 python310Packages.python-novaclient: 18.0.0 -> 18.1.0
  pkgs/development/python-modules/python-novaclient/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189387 python310Packages.google-cloud-securitycenter: 1.14.0 -> 1.15.0
  pkgs/development/python-modules/google-cloud-securitycenter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#189192 python310Packages.jsonschema: 4.13.0 -> 4.15.0
  pkgs/development/python-modules/jsonschema/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 12.approvals: 1

#188854 valentina: 0.6.1 → 0.7.51
  pkgs/applications/misc/valentina/default.nix
  pkgs/applications/misc/valentina/fix-qttranslations-path.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#189328 searxng: unstable-2022-07-15 -> unstable-2022-09-01
  pkgs/servers/web-apps/searxng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#187581 python310Packages.tinycss2: 1.1.0 -> 1.1.1
  pkgs/development/python-modules/tinycss2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#188651 cargo-workspaces: init at 0.2.35
  pkgs/development/tools/rust/cargo-workspaces/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189418 worker-build: 0.10.0 -> 0.11.0
  pkgs/development/tools/worker-build/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#188849 folly: 2022.08.22.00 -> 2022.08.29.00
  pkgs/development/libraries/folly/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#187102 python310Packages.nextcord: 2.0.0 -> 2.1.0
  pkgs/development/python-modules/nextcord/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#189195 mov-cli: init at unstable-2022-06-30
  pkgs/applications/video/mov-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189354 dwmbar: init at unstable-2021-12-22
  pkgs/applications/misc/dwmbar/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#188177 murex: init at 2.10.2400
  pkgs/shells/murex/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189415 nixosTests.cagebreak: fix by enabling udisks2
  nixos/tests/cagebreak.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#189323 werf: 1.2.166 -> 1.2.167
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189284 nvc: 1.7.0 -> 1.7.1
  pkgs/applications/science/electronics/nvc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189245 copilot-cli: 1.21.0 -> 1.21.1
  pkgs/tools/admin/copilot-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189237 cinny-desktop: 2.1.2 -> 2.1.3
  pkgs/applications/networking/instant-messengers/cinny-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#187458 papermc: 1.18.2r313 -> 1.19.2r131
  pkgs/games/papermc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#189232 signal-desktop: 5.56.0 -> 5.57.0
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer, backport release-22.05

#189299 pocketbase: 0.5.1 -> 0.5.2
  pkgs/servers/pocketbase/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189198 cinny: 2.1.2 -> 2.1.3
  pkgs/applications/networking/instant-messengers/cinny/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.05

#189353 obs-gstreamer: 0.3.4 -> 0.3.5
  pkgs/applications/video/obs-studio/plugins/obs-gstreamer.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#189248 du-dust: 0.8.2 -> 0.8.3
  pkgs/tools/misc/dust/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
