Repository NixOS/nixpkgs, pull requests merged in 2022-06, with the labels that each got.

#175657 glpaper: unstable-2020-10-11 -> unstable-2022-05-15
  pkgs/development/tools/glpaper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#175640 system76-firmware: 1.0.31 -> 1.0.39
  pkgs/os-specific/linux/firmware/system76-firmware/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#174721 zsh: 5.8.1 -> 5.9 && add artturin to maintainers
  pkgs/shells/zsh/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#175663 [22.05] python310Packages.pyfuse3: cythonize before building
  pkgs/development/python-modules/pyfuse3/default.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175567 nix-doc: 0.5.3->0.5.4 to support nix 2.9.0
  pkgs/tools/package-management/nix-doc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175616 python310Packages.sphinxcontrib-spelling: 7.4.1 -> 7.5.0
  pkgs/development/python-modules/sphinxcontrib-spelling/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175609 gnome-obfuscate: 0.0.4 -> 0.0.7
  pkgs/applications/graphics/gnome-obfuscate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.05

#171712 python39Packages.nbclient: fix tests
  pkgs/development/python-modules/nbclient/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#172445 GNUcash: 4.9 -> 4.10
  pkgs/applications/office/gnucash/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#174959 nixos/openconnect: add autoStart option
  nixos/modules/services/networking/openconnect.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#175114 python3Packages.pywlroots: 0.15.14 -> 0.15.15
  pkgs/development/python-modules/pywlroots/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#175673 gnustep.base: Remove duplicated giflib input
  pkgs/desktops/gnustep/base/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#175685 python310Packages.peaqevcore: 0.1.4 -> 0.2.0
  pkgs/development/python-modules/peaqevcore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175691 python310Packages.pex: 2.1.91 -> 2.1.92
  pkgs/development/python-modules/pex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#164779 lean2: 2017-07-22 -> 2018-10-01, unbreak
  pkgs/applications/science/logic/lean2/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175665 ledger: fix Python 3.10 module build
  pkgs/applications/office/ledger/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-22.05

#175681 cri-o: 1.23.2 -> 1.24.0
  pkgs/applications/virtualization/cri-o/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#175688 kubernetes: 1.23.5 -> 1.23.7
  pkgs/applications/networking/cluster/kubernetes/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#175619 python3Packages.awscrt: fix darwin build
  pkgs/development/python-modules/awscrt/default.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-22.05

#175217 universal-ctags: 5.9.20220220.0 -> 5.9.20220529.0
  pkgs/development/tools/misc/universal-ctags/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-22.05

#175700 cvc4: fix build on darwin
  pkgs/applications/science/logic/cvc4/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#163930 koka: 2.3.8 -> 2.4.0
  pkgs/development/compilers/koka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175692 python310Packages.pyoverkiz: 1.4.0 -> 1.4.1
  pkgs/development/python-modules/pyoverkiz/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175683 python310Packages.pycfmodel: 0.20.0 -> 0.20.1
  pkgs/development/python-modules/pycfmodel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175682 python310Packages.onvif-zeep-async: 1.2.0 -> 1.2.1
  pkgs/development/python-modules/onvif-zeep-async/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#164174 python: fix enableOptimizations with clang
  pkgs/development/interpreters/python/cpython/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#174815 python310Packages.zha-quirks: 0.0.73 -> 0.0.75
  pkgs/development/python-modules/zha-quirks/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#175686 gnome.gnome-settings-daemon: 42.1 -> 42.2
  pkgs/desktops/gnome/core/gnome-settings-daemon/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, backport release-22.05

#175719 netdata: do not persist ./configure flags to decrease closure size
  pkgs/tools/system/netdata/default.nix
  pkgs/tools/system/netdata/skip-CONFIGURE_COMMAND.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175731 archi: remove myself from maintainers
  pkgs/tools/misc/archi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175724 kexpand: remove
  pkgs/development/tools/kexpand/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175725 grv: remove
  pkgs/applications/version-management/git-and-tools/grv/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175602 gurk-rs: 0.2.3 -> 0.2.4
  pkgs/applications/networking/instant-messengers/gurk-rs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#174083 ntfy-sh: 1.22.0 -> 1.24.0
  pkgs/tools/misc/ntfy-sh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175388 svd2rust: 0.21.0 -> 0.24.0
  pkgs/development/tools/rust/svd2rust/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#174067 buildkite-agent: 3.35.2 -> 3.36.1
  pkgs/development/tools/continuous-integration/buildkite-agent/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#174087 swaysome: 1.1.4 -> 1.1.5
  pkgs/tools/wayland/swaysome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175735 jc: 1.19.0 -> 1.20.0
  pkgs/development/python-modules/jc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#175641 gmailctl: 0.10.3 -> 0.10.4
  pkgs/applications/networking/gmailctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175733 python310Packages.dask-jobqueue: disable on older Python releases
  pkgs/development/python-modules/dask-jobqueue/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175720 python310Packages.dask-mpi: disable on older Python releases
  pkgs/development/python-modules/dask-mpi/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175715 python3Packages.afdko: 3.8.1 -> 3.8.3; python3Packages.tqdm: 4.63 -> 4.64; antlr4_9: 4.9.2 -> 4.9.3
  pkgs/development/python-modules/afdko/default.nix
  pkgs/development/python-modules/afdko/use-dynamic-system-antlr4-runtime.patch
  pkgs/development/python-modules/tqdm/default.nix
  pkgs/development/tools/parsing/antlr/4.9.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, backport staging-22.05

#175711 python310Packages.sdds: 0.2.1 -> 0.3.0
  pkgs/development/python-modules/sdds/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175084 qt6Packages.quazip: init
  pkgs/development/libraries/quazip/default.nix
  pkgs/top-level/qt6-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175631 ledger-live-desktop: 2.41.3 -> 2.42.0
  pkgs/applications/blockchains/ledger-live-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#174956 new-lg4ff: init at 0.3.3
  maintainers/maintainer-list.nix
  nixos/modules/hardware/new-lg4ff.nix
  nixos/modules/module-list.nix
  pkgs/os-specific/linux/new-lg4ff/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#170680 python310Packages.awesomeversion: 22.4.0 -> 22.5.2
  pkgs/development/python-modules/awesomeversion/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 10.rebuild-linux: 501-1000

#175243 kitty: 0.25.0 -> 0.25.1
  pkgs/applications/terminal-emulators/kitty/default.nix
  pkgs/applications/terminal-emulators/kitty/disable-test_ssh_login_shell_detection.patch
  pkgs/applications/terminal-emulators/kitty/tarball-restore-write-permissions.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 0.kind: build failure, backport release-22.05

#175716 p2pool: 2.0 -> 2.1
  pkgs/applications/misc/p2pool/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#175729 jellyfin: fix permissions on state directory
  nixos/modules/services/misc/jellyfin.nix
Labels: 6.topic: nixos, 1.severity: security, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-21.11, 12.approvals: 1, backport release-22.05

#175722 webkitgtk: 2.36.2 -> 2.36.3
  pkgs/development/libraries/webkitgtk/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, backport release-21.11, backport release-22.05

#175667 you-get: 0.4.1602 -> 0.4.1612
  pkgs/tools/misc/you-get/default.nix
  pkgs/tools/misc/you-get/ffmpeg-path.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175636 python310Packages.google-nest-sdm: 1.9.0 -> 2.0.0
  pkgs/development/python-modules/google-nest-sdm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175751 python310Packages.pypoolstation: 0.4.2 -> 0.4.4
  pkgs/development/python-modules/pypoolstation/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175748 python310Packages.crownstone-uart: 2.4.0 -> 2.4.1
  pkgs/development/python-modules/crownstone-uart/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175349 Build offline documentation of python3.pkgs.pydantic
  pkgs/development/python-modules/mdx-truly-sane-lists/default.nix
  pkgs/development/python-modules/mkdocs-exclude/default.nix
  pkgs/development/python-modules/pydantic/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#175576 moz-phab: add missing 'pip' runtime dependency
  pkgs/applications/misc/moz-phab/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#173677 python3Packages.parsedmarc: 7.0.1 -> 8.2.0
  pkgs/development/python-modules/msgraph-core/default.nix
  pkgs/development/python-modules/parsedmarc/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175737 ascii-image-converter: 1.11.0 -> 1.12.0
  pkgs/applications/graphics/ascii-image-converter/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175288 doc: document pythonRelaxDepsHook
  doc/languages-frameworks/python.section.md
Labels: 6.topic: python, 8.has: documentation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175799 python310Packages.grpc-google-iam-v1: 0.12.3 -> 0.12.4
  pkgs/development/python-modules/grpc-google-iam-v1/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#175766 zigbeem2mqtt: 1.25.1 -> 1.25.2
  pkgs/servers/zigbee2mqtt/default.nix
  pkgs/servers/zigbee2mqtt/node-packages.nix
  pkgs/servers/zigbee2mqtt/node.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#175816 python310Packages.pyialarmxr: init at 1.0.18
  pkgs/development/python-modules/pyialarmxr/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python

#175826 python310Packages.pyws66i: init at 1.1
  pkgs/development/python-modules/pyws66i/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python

#175188 purple-xmpp-http-upload: unstable-2017-12-31 -> unstable-2021-11-04
  pkgs/applications/networking/instant-messengers/pidgin-plugins/purple-xmpp-http-upload/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#175281 python310Packages.wsgiproxy2: 0.4.2 -> 0.5.1
  pkgs/development/python-modules/webtest/default.nix
  pkgs/development/python-modules/wsgiproxy2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#175834 python310Packages.yolink-api: init at 0.0.5
  pkgs/development/python-modules/yolink-api/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python

#175759 home-assistant: 2022.5.5 -> 2022.6.0
  pkgs/development/python-modules/async-upnp-client/default.nix
  pkgs/development/python-modules/bimmer-connected/default.nix
  pkgs/development/python-modules/bond-async/default.nix
  pkgs/development/python-modules/dsmr-parser/default.nix
  pkgs/development/python-modules/plexapi/default.nix
  pkgs/development/python-modules/zwave-js-server-python/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/frontend.nix
  pkgs/servers/home-assistant/tests.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000

#175662 firefox: Use correct PKCS#11 module, document smartcard Support
  doc/builders/packages/firefox.section.md
  pkgs/applications/networking/browsers/firefox/wrapper.nix
Labels: 8.has: documentation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175837 nixos/new-lg4ff: respect enable option
  nixos/modules/hardware/new-lg4ff.nix
Labels: 6.topic: nixos, 8.has: module (update)

#175821 btdu: 0.3.1 -> 0.4.0
  pkgs/tools/misc/btdu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-22.05

#175831 nixos/localtimed: hopefully fix geoclue
  nixos/modules/services/system/localtime.nix
  pkgs/tools/system/localtime/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#175855 python3Packages.django_4: 4.0.4 -> 4.0.5
  pkgs/development/python-modules/django/4.nix
Labels: 6.topic: python, backport release-22.05

#175648 nss_esr: 3.68.3 -> 3.68.4, nss_latest: 3.78 -> 3.79
  pkgs/development/libraries/nss/esr.nix
  pkgs/development/libraries/nss/generic.nix
  pkgs/development/libraries/nss/latest.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, 10.rebuild-linux: 1001-2500, backport staging-22.05

#175407 Remove python26Packages.ipaddress from applications
  pkgs/tools/X11/xpra/default.nix
  pkgs/tools/admin/azure-cli/default.nix
  pkgs/tools/backup/duplicity/default.nix
  pkgs/tools/networking/dd-agent/5.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175416 python310Packages.flask-restful: remove condition from patch
  pkgs/development/python-modules/flask-restful/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175517 check-meta: fix comment
  pkgs/stdenv/generic/check-meta.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#175767 intel-media-driver: 22.3.0 -> 22.4.2
  pkgs/development/libraries/intel-media-driver/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#175778 gatekeeper: init at 3.8.1
  pkgs/applications/networking/cluster/gatekeeper/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175793 python310Packages.bracex: 2.2.1 -> 2.3.post1
  pkgs/development/python-modules/bracex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175798 python310Packages.db-dtypes: 1.0.0 -> 1.0.1
  pkgs/development/python-modules/db-dtypes/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175763 manim: remove pytest-cov
  pkgs/applications/video/manim/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175813 python310Packages.google-cloud-iot: 2.4.1 -> 2.5.0
  pkgs/development/python-modules/google-cloud-iot/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175814 python310Packages.google-cloud-resource-manager: 1.4.1 -> 1.5.0
  pkgs/development/python-modules/google-cloud-resource-manager/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175815 python310Packages.google-cloud-securitycenter: 1.10.0 -> 1.11.0
  pkgs/development/python-modules/google-cloud-securitycenter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175818 python310Packages.google-cloud-spanner: 3.13.0 -> 3.14.0
  pkgs/development/python-modules/google-cloud-spanner/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175824 python310Packages.google-cloud-tasks: 2.8.1 -> 2.9.0
  pkgs/development/python-modules/google-cloud-tasks/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175846 python310Packages.pytest-httpx: remove myself from maintainers
  pkgs/development/python-modules/pytest-httpx/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175850 python310Packages.wsgi-intercept: 1.9.3 -> 1.10.0
  pkgs/development/python-modules/wsgi-intercept/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175856 yle-dl: remove myself from maintainers
  pkgs/tools/misc/yle-dl/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175858 wget2: 2.0.0 -> 2.0.1
  pkgs/tools/networking/wget2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#175866 xh: 0.15.0 -> 0.16.1
  pkgs/tools/networking/xh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175867 python310Packages.tempest: 29.2.0 -> 30.1.0
  pkgs/development/python-modules/tempest/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175857 python310Packages.wcmatch: 8.3 -> 8.4
  pkgs/development/python-modules/wcmatch/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175883 postgresql13Packages.cstore_fdw: unbreak
  pkgs/servers/sql/postgresql/ext/cstore_fdw.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175741 fastlane: 2.204.3 -> 2.206.2
  pkgs/tools/admin/fastlane/Gemfile.lock
  pkgs/tools/admin/fastlane/default.nix
  pkgs/tools/admin/fastlane/gemset.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175884 reviewdog: 0.14.0 -> 0.14.1
  pkgs/development/tools/misc/reviewdog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175647 gstreamer-good: support cross-compilation
  pkgs/development/libraries/gstreamer/good/default.nix
  pkgs/development/libraries/libshout/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, backport release-22.05

#175874 nodejs: 16.15.0 -> 16.15.1, 18.2.0 -> 18.3.0
  pkgs/development/web/nodejs/v16.nix
  pkgs/development/web/nodejs/v18.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#175841 python310Packages.msal: 1.17.0 -> 1.18.0
  pkgs/development/python-modules/msal/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175878 cfripper: 1.11.0 -> 1.12.0
  pkgs/tools/security/cfripper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175877 snakemake: 7.8.0 -> 7.8.1
  pkgs/applications/science/misc/snakemake/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175895 nixos/new-lg4ff: fix kernel selection
  nixos/modules/hardware/new-lg4ff.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#175433 linux: disable WERROR by default
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 1001-2500, 12.approvals: 2

#173986 mlmmj: add -fcommon workaround
  pkgs/servers/mail/mlmmj/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#174187 linuxHeaders: 5.17 -> 5.18
  pkgs/os-specific/linux/kernel-headers/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+

#175699 gh-eco: init 0.1.0
  maintainers/maintainer-list.nix
  pkgs/tools/misc/gh-eco/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175422 python310Packages.urllib3: add optional-dependencies
  pkgs/development/python-modules/urllib3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#175844 python310Packages.pillow: 9.1.0 -> 9.1.1
  pkgs/development/python-modules/pillow/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#175166 python310Packages.ordereddict: drop
  pkgs/development/python-modules/botocore/default.nix
  pkgs/development/python-modules/flask-limiter/default.nix
  pkgs/development/python-modules/ordereddict/default.nix
  pkgs/development/python-modules/pyscss/default.nix
  pkgs/development/python-modules/yamlordereddictloader/default.nix
  pkgs/development/python2-modules/botocore/default.nix
  pkgs/development/tools/jira_cli/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000, 12.approvals: 1, 12.approved-by: package-maintainer

#175833 python310Packages.pbr: 5.8.1 -> 5.9.0
  pkgs/development/python-modules/pbr/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#175903 python310Packages.twilio: 7.9.1 -> 7.9.2
  pkgs/development/python-modules/twilio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175896 python310Packages.hahomematic: 1.7.2 -> 1.7.3
  pkgs/development/python-modules/hahomematic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175906 python310Packages.scmrepo: 0.0.23 -> 0.0.24
  pkgs/development/python-modules/scmrepo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175888 tflint: 0.36.2 -> 0.37.0
  pkgs/development/tools/analysis/tflint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175900 python310Packages.adafruit-platformdetect: 3.23.0 -> 3.24.0
  pkgs/development/python-modules/adafruit-platformdetect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175901 python310Packages.aiopyarr: 22.2.2 -> 22.6.0
  pkgs/development/python-modules/aiopyarr/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175902 python310Packages.pytest-testmon: 1.3.1 -> 1.3.3
  pkgs/development/python-modules/pytest-testmon/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175893 podman-tui: 0.3.1 -> 0.4.0
  pkgs/applications/virtualization/podman-tui/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175904 fclones: 0.24.0 -> 0.25.0
  pkgs/tools/misc/fclones/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175807 python310Packages.google-cloud-audit-log: 0.2.0 -> 0.2.2
  pkgs/development/python-modules/google-cloud-audit-log/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175811 python310Packages.google-cloud-datacatalog: 3.7.1 -> 3.8.0
  pkgs/development/python-modules/google-cloud-datacatalog/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175817 python310Packages.keystoneauth1: 4.5.0 -> 4.6.0
  pkgs/development/python-modules/keystoneauth1/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#175819 python310Packages.oslo-concurrency: 4.5.0 -> 4.5.1
  pkgs/development/python-modules/oslo-concurrency/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175822 python310Packages.oslo-db: 11.2.0 -> 11.3.0
  pkgs/development/python-modules/oslo-db/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175823 python310Packages.google-cloud-storage: 2.2.1 -> 2.3.0
  pkgs/development/python-modules/google-cloud-core/default.nix
  pkgs/development/python-modules/google-cloud-storage/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#175827 python310Packages.oslo-log: 4.7.0 -> 5.0.0
  pkgs/development/python-modules/oslo-log/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175828 python310Packages.google-i18n-address: 2.5.0 -> 2.5.1
  pkgs/development/python-modules/google-i18n-address/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175829 python310Packages.oslo-utils: 4.12.2 -> 4.13.0
  pkgs/development/python-modules/oslo-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#175769 liberasurecode: 1.6.2 -> 1.6.3
  pkgs/applications/misc/liberasurecode/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175847 python310Packages.python-magic: 0.4.25 -> 0.4.26
  pkgs/development/python-modules/python-magic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#175909 python310Packages.types-requests: 2.27.29 -> 2.27.30
  pkgs/development/python-modules/types-requests/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#175908 checkov: 2.0.1175 -> 2.0.1186
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#174018 python310Packages.datadiff: 1.1.6 -> 2.0.0
  pkgs/development/python-modules/datadiff/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#175680 etcd_3_5: 3.5.1 -> 3.5.4
  pkgs/servers/etcd/3.5.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175795 python310Packages.eventlet: 0.33.0 -> 0.33.1
  pkgs/development/python-modules/eventlet/default.nix
  pkgs/tools/admin/pgadmin/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#174881 mavproxy: 1.8.49 -> 1.8.50
  pkgs/applications/science/robotics/mavproxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#175950 corgi: remove
  pkgs/development/tools/corgi/default.nix
  pkgs/development/tools/corgi/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175951 go-repo-root: remove
  pkgs/development/tools/go-repo-root/default.nix
  pkgs/development/tools/go-repo-root/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175936 pond: remove
  pkgs/applications/networking/instant-messengers/pond/default.nix
  pkgs/applications/networking/instant-messengers/pond/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175935 ventoy-bin: 1.0.74 -> 1.0.75
  pkgs/tools/cd-dvd/ventoy-bin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#175937 xmpp-client: remove
  pkgs/applications/networking/instant-messengers/xmpp-client/default.nix
  pkgs/applications/networking/instant-messengers/xmpp-client/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175930 gawp: remove
  pkgs/tools/misc/gawp/default.nix
  pkgs/tools/misc/gawp/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175927 ical2org: remove
  pkgs/tools/misc/ical2org/default.nix
  pkgs/tools/misc/ical2org/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175957 gnome.geary: fix build with vala 0.56
  pkgs/desktops/gnome/misc/geary/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#174057 nixos/nvidia: remove a useless option
  nixos/modules/hardware/video/nvidia.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#175924 curl_unix_socket: remove
  pkgs/tools/networking/curl-unix-socket/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175923 goklp: remove
  pkgs/tools/networking/goklp/default.nix
  pkgs/tools/networking/goklp/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175929 i3cat: remove
  pkgs/tools/misc/i3cat/default.nix
  pkgs/tools/misc/i3cat/deps.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#175932 python310Packages.hahomematic: 1.7.3 -> 1.8.0
  pkgs/development/python-modules/hahomematic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer
