Repository NixOS/nixpkgs, pull requests merged in 2022-07, with the labels that each got.

#179737 solo2-cli: 0.1.1 -> 0.2.0
  pkgs/tools/security/solo2-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179519 mu: 1.8.1 -> 1.8.2
  pkgs/tools/networking/mu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179345 pngloss: init at unstable-2020-11-25
  maintainers/maintainer-list.nix
  pkgs/tools/graphics/pngloss/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179747 arandr: refactor derivation
  pkgs/tools/X11/arandr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179754 nushell: 0.63.0 -> 0.64.0
  pkgs/shells/nushell/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179756 vopono: 0.9.1 -> 0.9.2
  pkgs/tools/networking/vopono/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#179761 ruby-packages: update
  pkgs/top-level/ruby-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#179765 netcdf: 4.8.1 -> 4.9.0
  pkgs/development/libraries/netcdf/default.nix
  pkgs/development/python-modules/netcdf4/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#179697 nix-du: 0.5.1 -> 0.6.0
  pkgs/tools/package-management/nix-du/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179696 pulumi-bin: 3.34.1 -> 3.35.2
  pkgs/tools/admin/pulumi/data.nix
  pkgs/tools/admin/pulumi/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179679 bookstack: 21.12 -> 22.06.2
  pkgs/servers/web-apps/bookstack/default.nix
  pkgs/servers/web-apps/bookstack/php-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#179731 banking: 0.4.0 -> 0.5.1
  pkgs/applications/office/banking/default.nix
  pkgs/development/python-modules/onetimepad/default.nix
  pkgs/development/python-modules/pysqlitecipher/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179653 pantheon.switchboard-plug-printers: 2.1.10 -> 2.2.0
  pkgs/desktops/pantheon/apps/switchboard-plugs/printers/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon, 8.has: upstream changes reviewed, backport release-22.05

#178829 ocamlPackages.shared-memory-ring: 3.1.0 → 3.1.1
  pkgs/development/ocaml-modules/shared-memory-ring/default.nix
  pkgs/development/ocaml-modules/shared-memory-ring/lwt.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#178664 mynewt-newt: 1.7.0 -> 1.10.0
  pkgs/tools/package-management/mynewt-newt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#179749 libpg_query: not just for x86_64!
  pkgs/development/libraries/libpg_query/default.nix
Labels: 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#179580 arti: init at 0.5.0
  pkgs/tools/security/arti/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179687 python310Packages.pglast: 3.12 -> 3.13
  pkgs/development/python-modules/pglast/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179632 spicetify-cli: 2.10.1 -> 2.10.2
  pkgs/applications/misc/spicetify-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#167744 lsp-plugins: 1.1.31 -> 1.2.1
  pkgs/applications/audio/lsp-plugins/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#175450 airwindows-lv2: 1.0 -> 5.0
  pkgs/applications/audio/airwindows-lv2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179652 python310Packages.multitasking: 0.0.10 -> 0.0.11
  pkgs/development/python-modules/multitasking/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179762 python310Packages.qiskit-finance: 0.3.2 -> 0.3.3
  pkgs/development/python-modules/qiskit-finance/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179658 python310Packages.pulumi-aws: 5.9.1 -> 5.9.2
  pkgs/development/python-modules/pulumi-aws/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179725 python310Packages.hcloud: 1.16.0 -> 1.17.0
  pkgs/development/python-modules/hcloud/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179686 top-level/linux-kernels.nix: add vendor kernels note
  pkgs/top-level/linux-kernels.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#179264 signal-desktop: fix missing tray icon
  pkgs/applications/networking/instant-messengers/signal-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11, 12.approvals: 3+, 12.approved-by: package-maintainer, backport release-22.05

#175335 lokinet: init at 0.9.9
  nixos/modules/module-list.nix
  nixos/modules/services/networking/lokinet.nix
  pkgs/applications/networking/p2p/lokinet/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#179779 pantheon.wingpanel-indicator-network: 2.3.2 -> 2.3.3
  pkgs/desktops/pantheon/desktop/wingpanel-indicators/network/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: pantheon, 8.has: upstream changes reviewed, backport release-22.05

#168213 haskell.compiler.ghc865Binary: add powerpc64le bootstrap
  pkgs/development/compilers/ghc/8.6.5-binary.nix
  pkgs/top-level/haskell-packages.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#179795 bitcoin: fix broken build on aarch64-darwin
  pkgs/applications/blockchains/bitcoin/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-22.05

#179468 libsepol: enable parallel building
  pkgs/os-specific/linux/libsepol/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+

#179774 libsoup_3: 3.0.6 -> 3.0.7
  pkgs/development/libraries/libsoup/3.x.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 5001+

#179766 glib: 2.72.2 -> 2.72.3
  pkgs/development/libraries/glib/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#179768 gnome.gnome-control-center: 42.2 -> 42.3
  pkgs/desktops/gnome/core/gnome-control-center/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#179667 glib-networking: 2.72.0 -> 2.72.1
  pkgs/development/libraries/glib-networking/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#178886 duckdb: add patch to fix list type inference
  pkgs/development/libraries/duckdb/default.nix
  pkgs/development/python-modules/duckdb/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179783 python310Packages.tempest: 31.0.0 -> 31.1.0
  pkgs/development/python-modules/tempest/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179509 python310Packages.safety: 1.10.3 -> 2.0.0
  pkgs/development/python-modules/safety/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#177238 python310Packages.splinter: 0.17.0 -> 0.18.0
  pkgs/development/python-modules/splinter/default.nix
  pkgs/development/python-modules/zope-cachedescriptors/default.nix
  pkgs/development/python-modules/zope-testbrowser/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179728 python310Packages.setuptools-scm: fix cross compile of dependents
  pkgs/development/python-modules/setuptools-scm/default.nix
Labels: 6.topic: python, 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#179101 sqlite: 3.38.5 -> 3.39.0
  pkgs/development/libraries/sqlite/default.nix
  pkgs/development/libraries/sqlite/tools.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#179709 gosca: drop, go-langserver: drop
  pkgs/development/tools/go-langserver/default.nix
  pkgs/development/tools/gosca/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#179491 python310Packages.ua-parser: 0.10.0 -> 0.15.0
  pkgs/development/python-modules/ua-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179285 libdeltachat: 1.86.0 -> 1.87.0
  pkgs/development/libraries/libdeltachat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179125 amtk: 5.4.1 -> 5.5.1
  pkgs/development/libraries/amtk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#179452 prisma-engines: 3.15.1 -> 4.0.0
  pkgs/development/node-packages/overrides.nix
  pkgs/development/tools/database/prisma-engines/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2

#178993 bluejeans-gui: 2.27.0.130 -> 2.29.1.3
  pkgs/applications/networking/instant-messengers/bluejeans/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2

#179675 ocrfeeder: Fix launch with patch
  pkgs/applications/graphics/ocrfeeder/default.nix
  pkgs/applications/graphics/ocrfeeder/fix-launch.diff
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#179706 neovide: 0.8 -> 0.9
  pkgs/applications/editors/neovim/neovide/default.nix
  pkgs/applications/editors/neovim/neovide/skia-externals.json
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#178587 zoom-us: 5.10.{4,6} -> 5.11.1
  pkgs/applications/networking/instant-messengers/zoom-us/arm64-darwin-sha.nix
  pkgs/applications/networking/instant-messengers/zoom-us/arm64-darwin-version.nix
  pkgs/applications/networking/instant-messengers/zoom-us/default.nix
  pkgs/applications/networking/instant-messengers/zoom-us/update.sh
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-darwin-sha.nix
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-darwin-version.nix
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-linux-sha.nix
  pkgs/applications/networking/instant-messengers/zoom-us/x86_64-linux-version.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#164048 Jupyter kernel: link extra paths and fix missing docs in sagemath jupyter
  nixos/modules/services/development/jupyter/default.nix
  nixos/modules/services/development/jupyter/kernel-options.nix
  pkgs/applications/editors/jupyter/kernel.nix
  pkgs/applications/science/math/sage/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#178895 sage: depend on python3Packages.notebook
  pkgs/applications/science/math/sage/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-22.05

#179651 aws-sam-cli: relax overly-restrictive cookiecutter bound
  pkgs/development/tools/aws-sam-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179362 cutter: 2.0.5 -> 2.1.0
  pkgs/development/tools/analysis/rizin/cutter.nix
  pkgs/development/tools/analysis/rizin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#179442 nixos/dictd: make dict use local server
  nixos/modules/services/misc/dictd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#179807 lefthook: 1.0.0 -> 1.0.4
  pkgs/applications/version-management/git-and-tools/lefthook/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179806 pretendard: 1.3.0 -> 1.3.3
  pkgs/data/fonts/pretendard/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#176812 revive: init at 1.2.1
  pkgs/development/tools/revive/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179794 python310Packages.env-canada: 0.5.23 -> 0.5.24
  pkgs/development/python-modules/env-canada/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179803 python310Packages.stripe: 3.4.0 -> 3.5.0
  pkgs/development/python-modules/stripe/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179797 python310Packages.boxx: 0.10.4 -> 0.10.5
  pkgs/development/python-modules/boxx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179328 exim: 4.95 -> 4.96
  pkgs/servers/mail/exim/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#179778 python310Packages.lsassy: 3.1.1 -> 3.1.2
  pkgs/development/python-modules/lsassy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179759 python310Packages.pikepdf: 5.1.5.post1 -> 5.2.0
  pkgs/development/python-modules/pikepdf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179769 python310Packages.wandb: 0.12.19 -> 0.12.20
  pkgs/development/python-modules/wandb/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#179796 nixos/desktop-manager: Use literal newline to fix shell syntax
  nixos/modules/services/x11/desktop-managers/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#179802 act: 0.2.28 -> 0.2.29
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179595 python310Packages.requests: 2.28.0 -> 2.28.1
  pkgs/development/python-modules/requests/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#179476 python310Packages.jsonschema: 4.6.0 -> 4.6.1
  pkgs/development/python-modules/jsonschema/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500

#179479 python310Packages.pycares: 4.2.0 -> 4.2.1
  pkgs/development/python-modules/pycares/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#178779 python310Packages.babel: 2.10.1 -> 2.10.3
  pkgs/development/python-modules/babel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#179444 pcre2: fix gitea websearch crashing when searching for a plain string
  pkgs/development/libraries/pcre2/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#178778 python310Packages.certifi: 2022.05.18.1 -> 2022.06.15
  pkgs/development/python-modules/certifi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#179798 wireless-regdb: 2022.02.18 -> 2022.06.06
  pkgs/data/misc/wireless-regdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#179049 prometheus-blackbox-exporter: 0.21.0 -> 0.21.1
  pkgs/servers/monitoring/prometheus/blackbox-exporter.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179734 nixos/radvd: add package option
  nixos/modules/services/networking/radvd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#179824 minikube: 1.25.2 -> 1.26.0
  pkgs/applications/networking/cluster/minikube/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#178485 libvirt: add zfs to PATH when enabled
  pkgs/development/libraries/libvirt/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#176094 prometheus: add flag for dns plugin, enable by default
  pkgs/servers/monitoring/prometheus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.05

#179829 xonotic: 0.8.2 -> 0.8.5
  pkgs/games/xonotic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#173427 zulu: build for aarch64-darwin
  pkgs/development/compilers/zulu/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#179826 lxqt.{pcmanfm-qt,lximage-qt}: add qtimageformats plugin
  pkgs/desktops/lxqt/lximage-qt/default.nix
  pkgs/desktops/lxqt/pcmanfm-qt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#178813 jprofiler: new package
  maintainers/maintainer-list.nix
  pkgs/development/tools/java/jprofiler/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#179814 ratman: 0.3.1 -> 0.4.0
  pkgs/tools/networking/ratman/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179810 gitlab: 15.1.0 -> 15.1.1
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, backport release-22.05

#173454 rex: init at 1.13.4
  pkgs/tools/system/rex/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/perl-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179109 coreutils: reintroduce patch disabling `SEEK_HOLE` in `cp` for darwin x86_64
  pkgs/tools/misc/coreutils/default.nix
  pkgs/tools/misc/coreutils/disable-seek-hole.patch
Labels: 6.topic: darwin, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+

#178389 mattermost: Refactoring and upgrades
  pkgs/servers/mattermost/default.nix
  pkgs/tools/misc/mmctl/default.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#179534 gcc10: 10.3.0 -> 10.4.0
  pkgs/development/compilers/gcc/10/default.nix
  pkgs/development/compilers/gcc/10/gcc10-asan-glibc-2.34.patch
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 10.rebuild-linux: 1001-2500

#179821 deno: 1.23.1 -> 1.23.2
  pkgs/development/web/deno/default.nix
  pkgs/development/web/deno/librusty_v8.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179827 go-tools: 2021.1.2 -> 2022.1.2
  pkgs/development/tools/go-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#179291 treewide: don't use utillinux alias
  nixos/lib/make-multi-disk-zfs-image.nix
  nixos/lib/make-single-disk-zfs-image.nix
  pkgs/applications/backup/timeshift/unwrapped.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#179808 openasar: add unzip; remove autoupdater; unstable-2022-06-10 -> unstable-2022-06-27
  pkgs/applications/networking/instant-messengers/discord/darwin.nix
  pkgs/applications/networking/instant-messengers/discord/default.nix
  pkgs/applications/networking/instant-messengers/discord/linux.nix
  pkgs/applications/networking/instant-messengers/discord/openasar.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#179832 python310Packages.fastbencode: 0.0.7 -> 0.0.9
  pkgs/development/python-modules/fastbencode/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#179850 millet: 0.1.12 -> 0.1.14
  pkgs/development/tools/millet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179843 pythonPackages.klein: don't mark as broken
  pkgs/development/python-modules/klein/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#162426 DelayArchitect: init at unstable-2022-01-16
  pkgs/applications/audio/delayarchitect/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#179562 lapce: 0.1.0 -> 0.1.2
  pkgs/applications/editors/lapce/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179657 ugrep: 3.8.2 -> 3.8.3
  pkgs/tools/text/ugrep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179672 Iosevka 15.5.2
  pkgs/data/fonts/iosevka/bin.nix
  pkgs/data/fonts/iosevka/variants.nix
  pkgs/development/node-packages/node-packages.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179855 flyctl: 0.0.335 -> 0.0.346
  pkgs/development/web/flyctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179854 esbuild: 0.14.47 -> 0.14.48
  pkgs/development/tools/esbuild/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#178852 maddy: 0.5.4 -> 0.6.2
  nixos/tests/maddy.nix
  pkgs/servers/maddy/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179800 python310Packages.cftime: 1.6.0 -> 1.6.1
  pkgs/development/python-modules/cftime/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#179712 python310Packages.cron-descriptor: 1.2.24 -> 1.2.27
  pkgs/development/python-modules/cron-descriptor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179460 python310Packages.packageurl-python: 0.9.9 -> 0.10.0
  pkgs/development/python-modules/packageurl-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#175871 buildRubyGem: fix bundix cross
  pkgs/development/ruby-modules/gem/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: ruby, 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#179869 bookstack: fix unquoted URLs
  pkgs/servers/web-apps/bookstack/composer-env.nix
  pkgs/servers/web-apps/bookstack/composition.nix
  pkgs/servers/web-apps/bookstack/php-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 1.severity: channel blocker, 10.rebuild-linux: 1

#179782 rustc: 1.61.0 -> 1.62.0
  pkgs/development/compilers/rust/1_62.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: rust, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#179554 rustc: mark broken for dynamic Musl target
  pkgs/development/compilers/rust/rustc.nix
Labels: 6.topic: rust, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: musl, backport release-22.05

#179882 thrift: fix expired certs in tests
  pkgs/development/libraries/thrift/default.nix
Labels: backport release-22.05

#179820 mutt: 2.2.5 -> 2.2.6
  pkgs/applications/networking/mailreaders/mutt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#179722 hydra_unstable: 2022-06-16 -> 2022-06-30
  pkgs/development/tools/misc/hydra/unstable.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 8.has: upstream changes reviewed

#179853 babashka: 0.8.156 -> 0.8.157
  pkgs/development/interpreters/clojure/babashka.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#179251 staging-next-22.05 - iteration 3 - 2022-06-26
  pkgs/development/libraries/libusb1/default.nix
  pkgs/development/libraries/libzip/default.nix
  pkgs/development/libraries/openssl/default.nix
  pkgs/development/libraries/thrift/default.nix
  pkgs/development/python-modules/bottle/default.nix
  pkgs/os-specific/linux/uclibc-ng/default.nix
  pkgs/servers/sql/postgresql/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: python, 1.severity: security, 8.has: package (new), 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#178937 alfaview: 8.45.0 -> 8.47.0
  pkgs/applications/networking/instant-messengers/alfaview/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#179157 fcitx5 and its plugins: update
  pkgs/development/libraries/libime/default.nix
  pkgs/tools/inputmethods/fcitx5/default.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-chinese-addons.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-gtk.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-qt.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-unikey.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#179072 flat-remix-gtk: 20220427 -> 20220527
  pkgs/data/themes/flat-remix-gtk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179115 featherpad: 1.2.0 -> 1.3.0
  pkgs/applications/editors/featherpad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#179046 flacon: 9.0.0 -> 9.1.0
  pkgs/applications/audio/flacon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#179087 flat-remix-icon-theme: 20220304 -> 20220525
  pkgs/data/icons/flat-remix-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#179267 wasm-bindgen-cli: 0.2.80 -> 0.2.81
  pkgs/development/tools/wasm-bindgen-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179326 sirula: unstable-2021-10-12 -> 1.0.0
  pkgs/tools/wayland/sirula/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179309 jellyfin-media-player: 1.7.0 -> 1.7.1
  pkgs/applications/video/jellyfin-media-player/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179430 tilt: 0.30.0 -> 0.30.4
  pkgs/applications/networking/cluster/tilt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179858 neovide: fixup hash
  pkgs/applications/editors/neovim/neovide/skia-externals.json
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#179732 u001-font: init at unstable-2016-08-01
  lib/licenses.nix
  pkgs/data/fonts/u001/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#179849 GNOME updates
  nixos/tests/installed-tests/default.nix
  pkgs/applications/audio/rhythmbox/default.nix
  pkgs/applications/backup/deja-dup/default.nix
  pkgs/applications/misc/orca/default.nix
  pkgs/applications/networking/mailreaders/evolution/evolution-ews/default.nix
  pkgs/applications/networking/mailreaders/evolution/evolution/default.nix
  pkgs/applications/video/pitivi/default.nix
  pkgs/desktops/gnome/apps/gnome-boxes/default.nix
  pkgs/desktops/gnome/apps/gnome-boxes/fix-gir-lib-path.patch
  pkgs/desktops/gnome/apps/gnome-maps/default.nix
  pkgs/desktops/gnome/core/evolution-data-server/default.nix
  pkgs/desktops/gnome/core/gnome-calculator/default.nix
  pkgs/desktops/gnome/core/sushi/default.nix
  pkgs/development/libraries/geocode-glib/default.nix
  pkgs/development/libraries/geocode-glib/installed-tests-path.patch
Labels: 6.topic: nixos, 6.topic: GNOME, 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed, backport release-22.05

#175197 swaysettings: init at 0.3.0
  maintainers/maintainer-list.nix
  pkgs/applications/misc/swaysettings/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#179907 freecad: fix crash when selecting color of a solid
  pkgs/applications/graphics/freecad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#178811 nixops_unstable: fix build
  pkgs/applications/networking/cluster/nixops/default.nix
  pkgs/applications/networking/cluster/nixops/poetry.lock
  pkgs/applications/networking/cluster/nixops/pyproject.toml
  pkgs/applications/networking/cluster/nixops/shell.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179895 python310Packages.pywayland: 0.4.12 -> 0.4.13
  pkgs/development/python-modules/pywayland/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179898 python310Packages.pyjet: 1.8.2 -> 1.9.0
  pkgs/development/python-modules/pyjet/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179910 python310Packages.peaqevcore: 2.1.1 -> 3.0.5
  pkgs/development/python-modules/peaqevcore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179856 python310Packages.asf-search: 3.2.2 -> 4.0.1
  pkgs/development/python-modules/asf-search/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179913 python310Packages.pex: 2.1.93 -> 2.1.94
  pkgs/development/python-modules/pex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179715 trackma: init at 0.8.4
  pkgs/tools/misc/trackma/default.nix
  pkgs/tools/misc/trackma/update.sh
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#179605 hilbish: 1.0.4 -> 1.2.0
  pkgs/shells/hilbish/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179889 khal: 0.10.4 -> 0.10.5
  pkgs/applications/misc/khal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179897 python310Packages.aesara: 2.7.3 -> 2.7.4
  pkgs/development/python-modules/aesara/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179841 nixos: systemd: add missing sliceToUnit
  nixos/modules/system/boot/systemd/user.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: systemd

#179777 yara: 4.2.1 -> 4.2.2
  pkgs/tools/security/yara/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#179776 pip-audit: 2.3.4 -> 2.4.0
  pkgs/development/tools/pip-audit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#179927 haskellPackages.misfortune: remove patch
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/patches/misfortune-ghc9.patch
Labels: 6.topic: haskell, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179170 srcOnly: fix evaluation with separateDebugInfo
  pkgs/build-support/src-only/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#179931 geocode-glib: fix installed tests
  nixos/tests/installed-tests/geocode-glib.nix
  pkgs/development/libraries/geocode-glib/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#179846 power-profiles-daemon: 0.11.1 → 0.12
  pkgs/os-specific/linux/power-profiles-daemon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 8.has: upstream changes reviewed

#179920 python310Packages.trimesh: 3.12.6 -> 3.12.7
  pkgs/development/python-modules/trimesh/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#179937 bochs: new recursive style
  pkgs/applications/emulators/bochs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0
