Repository NixOS/nixpkgs, pull requests merged in 2022-02, with the labels that each got.

#157600 confluent-cli: init at 2.4.0
  pkgs/development/tools/confluent-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: backport release-21.11

#157596 nix >= 2.6.0: fix build on darwin machines
  pkgs/tools/package-management/nix/common.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0

#155841 sharedown: 3.0.1 -> 3.1.0
  pkgs/development/tools/yarn2nix-moretea/yarn2nix/default.nix
  pkgs/tools/misc/sharedown/default.nix
  pkgs/tools/misc/sharedown/update.sh
  pkgs/tools/misc/sharedown/yarn.lock
  pkgs/tools/misc/sharedown/yarndeps.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#157602 python3Packages.upb-lib: 0.5 -> 0.5.1
  pkgs/development/python-modules/upb-lib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#157604 vimPlugins.galaxyline-nvim: Switch to actively developed fork
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 6.topic: vim, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#157607 vimPlugins.vim-windowswap: init at 2018-05-16
  pkgs/misc/vim-plugins/generated.nix
  pkgs/misc/vim-plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#157606 vscode-extensions.svsool.markdown-memo: 0.3.9 -> 0.3.18
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157593 dwl: 0.2.1 -> 0.2.2
  pkgs/applications/window-managers/dwl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157547 wxGTK29: 2.9.4 -> 2.9.5
  pkgs/development/libraries/wxwidgets/0001-fix-assertion-using-hide-in-destroy.patch
  pkgs/development/libraries/wxwidgets/2.9/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#155636 tortoisehg: 5.9 -> 6.0
  pkgs/applications/version-management/tortoisehg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#157460 go_1_15: remove
  pkgs/development/compilers/go/1.15.nix
  pkgs/development/compilers/go/go_no_vendor_checks.patch
  pkgs/development/compilers/go/skip-external-network-tests-1.15.patch
  pkgs/development/compilers/go/ssl-cert-file-1.15.patch
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 6.topic: golang, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#156904 wiki-tui: 0.4.4 -> 0.4.5
  pkgs/misc/wiki-tui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157643 python39Packages.mautrix: 0.14.7 -> 0.14.8
  pkgs/development/python-modules/mautrix/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157637 python310Packages.pycryptodome-test-vectors: 1.0.6 -> 1.0.7
  pkgs/development/python-modules/pycryptodome-test-vectors/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157644 python310Packages.plugwise: 0.16.0 -> 0.16.1
  pkgs/development/python-modules/plugwise/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157636 python310Packages.subarulink: 0.4.0 -> 0.4.1
  pkgs/development/python-modules/subarulink/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157634 vscode-extensions.ocamllabs.ocaml-platform: 1.5.1 -> 1.8.4
  pkgs/misc/vscode-extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157632 python310Packages.mongomock: 3.23.0 -> 4.0.0
  pkgs/development/python-modules/mongomock/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157584 python3Packages.ipython: enable tests, reformat
  pkgs/development/python-modules/ipython/default.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#157635 python39Packages.objax: 1.4.0 -> 1.6.0
  pkgs/development/python-modules/objax/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157653 buildGo{Module,Package} packages: pin to go_1_16
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#156906 thc-hydra: fix build on darwin
  pkgs/tools/security/thc-hydra/darwin-remove-ldflag.patch
  pkgs/tools/security/thc-hydra/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#157541 [21.11] containerd: 1.5.7 -> 1.5.9 (security)
  pkgs/applications/virtualization/containerd/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#157390 otpauth: 0.4.0 -> 0.4.2
  pkgs/tools/security/otpauth/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156723 [21.11] Pantheon 6.1 backports 2022-01-25
  pkgs/desktops/pantheon/apps/elementary-calendar/default.nix
  pkgs/desktops/pantheon/apps/elementary-files/default.nix
  pkgs/desktops/pantheon/apps/elementary-mail/default.nix
  pkgs/desktops/pantheon/apps/elementary-tasks/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/network/default.nix
  pkgs/desktops/pantheon/desktop/elementary-greeter/default.nix
  pkgs/desktops/pantheon/desktop/elementary-greeter/revert-pr566.patch
  pkgs/desktops/pantheon/desktop/elementary-session-settings/default.nix
  pkgs/desktops/pantheon/services/elementary-capnet-assist/default.nix
  pkgs/development/libraries/xdg-desktop-portal-pantheon/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon, 8.has: upstream changes reviewed

#157534 tektoncd-cli: 0.20.0 -> 0.21.0
  pkgs/applications/networking/cluster/tektoncd-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157557 got: change package platforms to linux
  pkgs/applications/version-management/got/default.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157531 maintainers: add matrix for toastal
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157578 php.extensions.sqlsrv: 5.9.0 -> 5.10.0
  pkgs/development/php-packages/pdo_sqlsrv/default.nix
  pkgs/development/php-packages/sqlsrv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157652 Fix a few things after #152372
  nixos/modules/services/networking/murmur.nix
  nixos/modules/services/security/vaultwarden/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#157527 kopia: 0.10.2 -> 0.10.3
  pkgs/tools/backup/kopia/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157659 headscale: Add kradalby as maintainer
  pkgs/servers/headscale/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157615 gitea: 1.15.10 -> 1.16.0
  pkgs/applications/version-management/gitea/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157616 [21.11] gitea: 1.15.10 -> 1.15.11
  pkgs/applications/version-management/gitea/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157594 corerad: 0.3.4 -> 1.0.0
  pkgs/tools/networking/corerad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, marvin, awaiting_reviewer

#157608 Update Electron
  pkgs/development/tools/electron/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, backport release-21.11

#157639 nerdctl: 0.16.0 -> 0.16.1
  pkgs/applications/networking/cluster/nerdctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#157570 cosign: 1.5.0 -> 1.5.1
  pkgs/tools/security/cosign/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156706 nixos/i2pd: get rid of unnecessary shell script
  nixos/modules/services/networking/i2pd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, marvin, awaiting_reviewer

#157668 fuse-overlayfs: 1.8.1 -> 1.8.2
  pkgs/tools/filesystems/fuse-overlayfs/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157633 Misc
  pkgs/applications/audio/munt/default.nix
  pkgs/misc/emulators/dosbox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157586 expat: 2.4.3 -> 2.4.4
  pkgs/development/libraries/expat/CVE-2022-23852-fix.patch
  pkgs/development/libraries/expat/CVE-2022-23852-test.patch
  pkgs/development/libraries/expat/CVE-2022-23990.patch
  pkgs/development/libraries/expat/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, backport staging-21.11

#157535 slack: fix linux_url in update.sh
  pkgs/applications/networking/instant-messengers/slack/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157025 arduino: 1.8.16 -> 1.8.19
  pkgs/development/embedded/arduino/arduino-core/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#157681 gh: 2.4.0 -> 2.5.0
  pkgs/applications/version-management/git-and-tools/gh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#156458 python39Packages.shtab: fix tests
  pkgs/development/python-modules/shtab/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157305 7zz: compile optimized assembly code for x86_64
  pkgs/development/compilers/uasm/default.nix
  pkgs/tools/archivers/7zz/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#157691 duf: 0.7.0 -> 0.8.0
  pkgs/tools/misc/duf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156943 phinger-cursors: init at 1.1
  pkgs/data/icons/phinger-cursors/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157694 vnote: 3.12.0 -> 3.12.888
  pkgs/applications/office/vnote/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#157685 wtf: 0.40.0 -> 0.41.0
  pkgs/applications/misc/wtf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#155159 pixinsight: init at 1.8.8-12
  pkgs/applications/graphics/pixinsight/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#154259 SwayNotificationCenter: init at 0.3
  pkgs/applications/misc/swaynotificationcenter/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#156342 noto-fonts-cjk: use sparse checkouts for smaller downloads
  nixos/tests/all-tests.nix
  nixos/tests/noto-fonts.nix
  pkgs/data/fonts/noto-fonts/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157695 (vscode|vscodium)-fhs: fix missing desktop icon
  pkgs/applications/editors/vscode/generic.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#157663 android-studio-stable: 2020.3.1.26 -> 2021.1.1.20
  pkgs/applications/editors/android-studio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#156210 asciidoctor: 2.0.16 -> 2.0.17, add multipage to extensions
  pkgs/tools/typesetting/asciidoctor-with-extensions/Gemfile
  pkgs/tools/typesetting/asciidoctor-with-extensions/Gemfile.lock
  pkgs/tools/typesetting/asciidoctor-with-extensions/default.nix
  pkgs/tools/typesetting/asciidoctor-with-extensions/gemset.nix
  pkgs/tools/typesetting/asciidoctor/Gemfile.lock
  pkgs/tools/typesetting/asciidoctor/gemset.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#157684 mqttui: 0.13.0 -> 0.14.0
  pkgs/tools/networking/mqttui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156521 inherd-quake: 0.4.0 -> 0.5.0
  pkgs/applications/misc/inherd-quake/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157562 sawjap: make build src name independent
  pkgs/development/tools/java/sawjap/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157473 xdg-launch: 1.11 -> 1.12
  pkgs/applications/misc/xdg-launch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#141122 nixos/apfs: init
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2205.section.md
  nixos/modules/module-list.nix
  nixos/modules/system/boot/stage-1-init.sh
  nixos/modules/tasks/filesystems.nix
  nixos/modules/tasks/filesystems/apfs.nix
  nixos/tests/all-tests.nix
  nixos/tests/apfs.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, marvin, awaiting_reviewer

#157709 samba: 4.15.3 -> 4.15.5
  pkgs/servers/samba/4.x.nix
Labels: 1.severity: security, backport staging-21.11

#157618 nixVersions.stable: point to nix_2_6
  nixos/modules/installer/tools/nix-fallback-paths.nix
  pkgs/tools/package-management/nix/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#157630 roon-{bridge,server}: updates
  pkgs/servers/roon-bridge/default.nix
  pkgs/servers/roon-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#150434 sysstat: 12.4.3 -> 12.4.4
  pkgs/os-specific/linux/sysstat/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#157661 just: 0.10.5 -> 0.10.7
  pkgs/development/tools/just/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156911 tree-sitter-org-nvim: renaming of tree-sitter-org-nvim
  pkgs/development/tools/parsing/tree-sitter/default.nix
  pkgs/development/tools/parsing/tree-sitter/grammars/default.nix
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-org-nvim.json
  pkgs/development/tools/parsing/tree-sitter/update.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#157625 boehmgc: drop musl flags, per upstream's note (!)
  pkgs/development/libraries/boehm-gc/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#145714 stdenv/check-meta: add note for Flake usage
  pkgs/stdenv/generic/check-meta.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#157378 librecad: apply patch for CVE-2021-45342
  pkgs/applications/misc/librecad/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#157360 abcm2ps: 8.14.12 -> 8.14.13
  pkgs/tools/audio/abcm2ps/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157705 trivy: 0.22.0 -> 0.23.0
  pkgs/tools/admin/trivy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157706 trealla: 1.12.0 -> 1.20.31
  pkgs/development/interpreters/trealla/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157671 cmake: 3.22.1 -> 3.22.2
  pkgs/development/tools/build-managers/cmake/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#157729 samba: 4.15.2 -> 4.15.5
  pkgs/servers/samba/4.x.nix
Labels: 1.severity: security, backport release-21.11

#155061 treewide: remove some libglade dependents
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2205.section.md
  nixos/modules/module-list.nix
  nixos/modules/programs/spacefm.nix
  nixos/modules/programs/tilp2.nix
  nixos/modules/rename.nix
  pkgs/applications/editors/monodevelop/default.nix
  pkgs/applications/editors/monodevelop/git-revert-12d610fb3f6dce121df538e36f21d8c2eeb0a6e3.patch
  pkgs/applications/misc/fslint/default.nix
  pkgs/applications/misc/gksu/default.nix
  pkgs/applications/misc/gksu/gksu-2.0.2-glib-2.31.patch
  pkgs/applications/misc/pdfmod/default.nix
  pkgs/applications/misc/yarssr/default.nix
  pkgs/applications/office/timekeeper/default.nix
  pkgs/applications/science/math/gfm/default.nix
  pkgs/applications/science/math/tilp2/default.nix
  pkgs/desktops/gnome-2/bindings/libglademm/default.nix
  pkgs/desktops/gnome-2/default.nix
  pkgs/desktops/xfce/default.nix
  pkgs/development/guile-modules/guile-gnome/default.nix
  pkgs/development/libraries/gnome-sharp/default.nix
  pkgs/development/libraries/gnome-sharp/fix-mono-path.patch
  pkgs/development/libraries/gtk-sharp/2.0.nix
  pkgs/development/libraries/gtk-sharp/3.0.nix
  pkgs/development/libraries/libgksu/default.nix
  pkgs/development/libraries/libgksu/libgksu-2.0.0-fbsd.patch
  pkgs/development/libraries/libgksu/libgksu-2.0.12-automake-1.11.2.patch
  pkgs/development/libraries/libgksu/libgksu-2.0.12-fix-make-3.82.patch
  pkgs/development/libraries/libgksu/libgksu-2.0.12-notests.patch
  pkgs/development/libraries/libgksu/libgksu-2.0.12-revert-forkpty.patch
  pkgs/development/libraries/libgksu/libgksu-2.0.7-libs.patch
  pkgs/development/libraries/libgksu/libgksu-2.0.7-polinguas.patch
  pkgs/development/python2-modules/pygtk/default.nix
  pkgs/tools/X11/obconf/default.nix
  pkgs/tools/security/pbis/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/perl-packages.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python2-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 6.topic: xfce, 10.rebuild-darwin: 1

#157253 navidrome: 0.47.0 -> 0.47.5
  pkgs/servers/misc/navidrome/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-21.11

#157554 google-chrome: reland: add /run/opengl-driver/share/vulkan/icd.d/ to …
  pkgs/applications/networking/browsers/google-chrome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157384 intel-gmmlib: 22.0.1 -> 22.0.2
  pkgs/development/libraries/intel-gmmlib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157722 linux/kernel/common-config.nix: mark FORTIFY_SOURCE as optional
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 2501-5000

#152447 bada-bib: init at 0.3.0
  maintainers/maintainer-list.nix
  pkgs/applications/science/misc/bada-bib/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157419 rofi: 1.7.2 -> 1.7.3
  pkgs/applications/misc/rofi/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#157420 rofi-wayland: 1.7.2+wayland1 -> 1.7.3+wayland1
  pkgs/applications/misc/rofi/wayland.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157110 qcad: 3.27.1.3 -> 3.27.1.6
  pkgs/applications/misc/qcad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157013 openjdk8 with javaFX: fix sha256 on aarch64-darwin
  pkgs/development/compilers/openjdk/darwin/8.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157658 convco: 0.3.3 -> 0.3.8
  pkgs/development/tools/convco/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156337 sub-batch: 0.4.1 -> 1.0.0
  pkgs/applications/video/sub-batch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#142593 Linux bump default LLVM to 11
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: qt/kde, 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500

#157743 i3status-rust: 0.21.2 -> 0.21.4
  pkgs/applications/window-managers/i3/status-rust.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157655 goreleaser: 1.3.1 -> 1.4.1
  pkgs/tools/misc/goreleaser/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157439 kubescape: 2.0.143 -> 2.0.144
  pkgs/tools/security/kubescape/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157657 eksctl: 0.76.0 -> 0.82.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157094 ugrep: 3.6.0 -> 3.7.1
  pkgs/tools/text/ugrep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, ofborg-internal-error, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157392 mbedtls: 2.26.0 -> 2.28.0
  pkgs/development/libraries/mbedtls/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-21.11

#157710 sickgear: 0.25.24 -> 0.25.26
  pkgs/servers/sickbeard/sickgear.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157651 btrbk: remove asciidoc dependency
  pkgs/tools/backup/btrbk/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157675 tilt: 0.23.5 -> 0.23.9
  pkgs/applications/networking/cluster/tilt/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157758 phpExtensions.xdebug: 3.1.2 -> 3.1.3
  pkgs/development/php-packages/xdebug/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157464 stylua: 0.11.3 -> 0.12.1
  pkgs/development/tools/stylua/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157745 beekeeper-studio: 2.1.4 -> 3.1.0
  pkgs/development/tools/database/beekeeper-studio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157582 proot: 5.2.0 -> 5.3.0
  pkgs/tools/system/proot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#157598 nixos/slurm: fix startup of slurmd
  nixos/modules/services/computing/slurm/slurm.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-21.11

#157749 maintainers: update yevhenshymotiuk's github and email
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/pipx/default.nix
  pkgs/development/python-modules/userpath/default.nix
  pkgs/tools/wayland/wluma/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157730 soft-serve: set meta.mainProgram to "soft"
  pkgs/servers/soft-serve/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157475 nvidia-x11: mark legacy_340 as broken if kernel version is greater th…
  pkgs/os-specific/linux/nvidia-x11/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157309 wine{Unstable,Staging}: 7.0 -> 7.1
  pkgs/misc/emulators/wine/sources.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#156591 hello: 2.10 -> 2.12
  pkgs/applications/misc/hello/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#154601 pahole: fix musl build
  pkgs/development/tools/misc/pahole/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157577 ocamlPackages.printbox: 0.5 → 0.6; ocamlPackages.printbox-text: init at 0.6
  pkgs/development/ocaml-modules/phylogenetics/default.nix
  pkgs/development/ocaml-modules/printbox/default.nix
  pkgs/development/ocaml-modules/printbox/text.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157799 clusterctl: 1.0.2 -> 1.0.3
  pkgs/applications/networking/cluster/clusterctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157809 python310Packages.subarulink: 0.4.1 -> 0.4.2
  pkgs/development/python-modules/subarulink/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157797 python310Packages.tailscale: 0.1.6 -> 0.2.0
  pkgs/development/python-modules/tailscale/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157790 python310Packages.adguardhome: 0.5.0 -> 0.5.1
  pkgs/development/python-modules/adguardhome/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157765 python310Packages.pylast: 4.4.0 -> 4.5.0
  pkgs/development/python-modules/pylast/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#157714 python310Packages.pyatmo: 6.2.2 -> 6.2.4
  pkgs/development/python-modules/pyatmo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157686 python3Packages.boschshcpy: 0.2.28 -> 0.2.29
  pkgs/development/python-modules/boschshcpy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#157680 dnstwist: 20220120 -> 20220131
  pkgs/tools/networking/dnstwist/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157679 python3Packages.types-requests: 2.27.6 -> 2.27.8
  pkgs/development/python-modules/types-requests/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#157738 [21.11] samba: 4.15.3 -> 4.15.5
  pkgs/servers/samba/4.x.nix
Labels: 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#157215 Staging next 2022-01-29
  nixos/modules/hardware/video/nvidia.nix
  nixos/modules/services/x11/display-managers/gdm.nix
  pkgs/applications/office/gnumeric/default.nix
  pkgs/data/fonts/cantarell-fonts/default.nix
  pkgs/desktops/gnome/core/gdm/default.nix
  pkgs/desktops/gnome/core/gnome-desktop/default.nix
  pkgs/desktops/gnome/core/gnome-session/ctl.nix
  pkgs/desktops/gnome/core/gnome-session/default.nix
  pkgs/desktops/gnome/core/gnome-session/fix-paths.patch
  pkgs/desktops/gnome/core/gnome-shell/default.nix
  pkgs/desktops/gnome/core/mutter/default.nix
  pkgs/desktops/gnome/misc/gitg/default.nix
  pkgs/development/libraries/folks/default.nix
  pkgs/development/libraries/glibc/2.33-master.patch.gz
  pkgs/development/libraries/glibc/common.nix
  pkgs/development/libraries/gnutls/default.nix
  pkgs/development/libraries/mesa/default.nix
  pkgs/development/libraries/tracker-miners/default.nix
  pkgs/development/libraries/tracker/default.nix
  pkgs/development/python-modules/afdko/default.nix
  pkgs/development/python-modules/cffsubr/default.nix
  pkgs/development/python-modules/compreffor/default.nix
  pkgs/development/python-modules/fonttools/default.nix
  pkgs/development/python-modules/imageio/default.nix
  pkgs/development/python-modules/pillow/default.nix
  pkgs/development/python-modules/statmake/default.nix
  pkgs/development/python-modules/ufo2ft/default.nix
  pkgs/development/python-modules/ufo2ft/fonttools-cu2qu.patch
  pkgs/development/python-modules/ufoLib2/default.nix
  pkgs/os-specific/linux/pam/default.nix
  pkgs/os-specific/linux/pam/suid-wrapper-path.patch
  pkgs/os-specific/linux/util-linux/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 6.topic: nixos, 6.topic: GNOME, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#157746 element-{web,desktop}: 1.9.9 -> 1.10.1
  pkgs/applications/networking/instant-messengers/element/element-desktop-package.json
  pkgs/applications/networking/instant-messengers/element/pin.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#157808 Fix broken sources.gentoo.org fetch URLs
  pkgs/development/libraries/dbus-cplusplus/default.nix
  pkgs/development/libraries/xbase/default.nix
  pkgs/os-specific/linux/shadow/default.nix
  pkgs/tools/archivers/unzip/default.nix
  pkgs/tools/misc/bfr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#151970 md2gemini: 1.8.1 → 1.9.0
  pkgs/development/python-modules/md2gemini/default.nix
  pkgs/development/python-modules/mistune/common.nix
  pkgs/development/python-modules/mistune/default.nix
  pkgs/servers/mail/mailman/hyperkitty.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#157804 httpie: 2.6.0 -> 3.0.2
  pkgs/tools/networking/httpie/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157796 seaweedfs: 2.85 -> 2.88
  pkgs/applications/networking/seaweedfs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157766 symfony-cli: 5.2.2 -> 5.3.0
  pkgs/development/tools/symfony-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157827 anders: init at 1.1.1
  pkgs/applications/science/logic/anders/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144306 findimagedupes: init at 2.19.1
  pkgs/development/perl-modules/findimagedupes/default.nix
  pkgs/top-level/perl-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#155436 h2: 1.4.199 -> 2.1.210
  pkgs/servers/h2/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, marvin, awaiting_reviewer

#157830 werf: 1.2.56 -> 1.2.60
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#156188 flask-{wtf,admin} fixes
  pkgs/development/python-modules/flask-admin/default.nix
  pkgs/development/python-modules/flask-appbuilder/default.nix
  pkgs/development/python-modules/wtf-peewee/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157718 munt: full refactor
  pkgs/applications/audio/munt/default.nix
  pkgs/applications/audio/munt/libmt32emu.nix
  pkgs/applications/audio/munt/mt32emu-qt.nix
  pkgs/applications/audio/munt/mt32emu-smf2wav.nix
  pkgs/misc/emulators/dosbox-staging/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157747 nvidia_x11: 495.46 → 510.47.03
  pkgs/os-specific/linux/nvidia-x11/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, marvin, awaiting_reviewer

#157767 xorg.xorgserver: remove abi 1.17
  pkgs/servers/x11/xorg/overrides.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#157806 yubikey-manager: 4.0.7 -> 4.0.8
  pkgs/tools/misc/yubikey-manager/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#157786 sdrangel: 6.18.0 -> 6.18.1
  pkgs/applications/radio/sdrangel/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#157672 mdbook-mermaid: 0.8.3 -> 0.9.0
  pkgs/tools/text/mdbook-mermaid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157656 drill: 0.7.0 -> 0.7.2
  pkgs/tools/networking/drill/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157371 spotify-tray: fix building with Automake 1.16.5
  pkgs/applications/misc/spotify-tray/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157556 flexget: 3.2.15 -> 3.2.16
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157262 shadowsocks-rust: 1.12.5 -> 1.13.0
  pkgs/tools/networking/shadowsocks-rust/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157205 vimPlugins.tup: init at 0.7.11
  pkgs/misc/vim-plugins/overrides.nix
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#157791 gitui: 0.19.0 -> 0.20.1
  pkgs/applications/version-management/git-and-tools/gitui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157789 sbt: 1.6.1 -> 1.6.2
  pkgs/development/tools/build-managers/sbt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#156544 rpcs3: 0.0.19-12975-37383f421 -> 0.0.20-13222-8c2fd5095
  pkgs/misc/emulators/rpcs3/0001-llvm-ExecutionEngine-IntelJITEvents-only-use-ITTAPI_.patch
  pkgs/misc/emulators/rpcs3/default.nix
  pkgs/misc/emulators/rpcs3/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#157719 nixos/bookstack: Make secret replacement strings more unique
  nixos/modules/services/web-apps/bookstack.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#157631 Fix alsa, pulseaudio (and jack, pipewire, steam) on x86_64
  pkgs/os-specific/linux/alsa-project/alsa-lib/alsa-plugin-conf-multilib.patch
  pkgs/os-specific/linux/alsa-project/alsa-lib/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+

#157852 electrum: do not break upstream patches
  pkgs/applications/misc/electrum/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#157844 python310Packages.lightwave2: 0.8.0 -> 0.8.1
  pkgs/development/python-modules/lightwave2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
