Repository NixOS/nixpkgs, pull requests merged in 2022-05, with the labels that each got.

#166767 weechat-unwrapped: 3.4.1 -> 3.5
  pkgs/applications/networking/irc/weechat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171005 apio: 0.8.0 -> 0.8.1
  pkgs/development/embedded/fpga/apio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170989 iosevka-bin: 15.1.0 -> 15.2.0
  pkgs/data/fonts/iosevka/bin.nix
  pkgs/data/fonts/iosevka/variants.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170870 mopidy: 3.2.0 -> 3.3.0
  pkgs/applications/audio/mopidy/mopidy.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#170804 anytype: 0.25.0 -> 0.25.4
  pkgs/applications/misc/anytype/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#170776 ddosify: 0.7.6 -> 0.7.9
  pkgs/development/tools/ddosify/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171075 ncspot: 0.9.7 -> 0.9.8
  pkgs/applications/audio/ncspot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170730 seafile-client: 8.0.6 -> 8.0.7
  pkgs/applications/networking/seafile-client/default.nix
Labels: 9.needs: port to stable, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#170932 sbcl: 2.1.11 -> 2.2.4
  pkgs/development/compilers/sbcl/2.2.4.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#170196 [py]qtwebengine: meta.platforms; use in qutebrowser, calibre
  pkgs/applications/misc/calibre/default.nix
  pkgs/applications/networking/browsers/qutebrowser/default.nix
  pkgs/development/libraries/qt-5/modules/qtwebengine.nix
  pkgs/development/python-modules/pyqtwebengine/default.nix
Labels: 6.topic: python, 6.topic: qt/kde, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#171076 vale: 2.15.5 -> 2.16.0
  pkgs/tools/text/vale/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171042 charm: 0.11.0 -> 0.12.0
  pkgs/applications/misc/charm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170630 corerad: 1.2.0 -> 1.2.1
  pkgs/tools/networking/corerad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#168424 globalprotect-openconnect: 1.3.4 -> 1.4.1
  pkgs/tools/networking/globalprotect-openconnect/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#166237 kube3d: 5.3.0 -> 5.4.1
  pkgs/applications/networking/cluster/kube3d/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#156768 colima: backport from unstable
  pkgs/applications/virtualization/colima/default.nix
  pkgs/applications/virtualization/lima/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#170504 nixos/mate: enable libinput
  nixos/modules/services/x11/desktop-managers/mate.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: mate

#169277 ooniprobe-cli: init at 3.14.2
  pkgs/tools/networking/ooniprobe-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#144909 gpm: fix static build
  pkgs/servers/gpm/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 6.topic: static

#171001 purescript: 0.14.7 -> 0.15.0
  pkgs/development/compilers/purescript/purescript/default.nix
  pkgs/development/compilers/purescript/purescript/test-minimal-module/Main.js
  pkgs/development/compilers/purescript/purescript/test-minimal-module/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171080 python310Packages.types-requests: 2.27.24 -> 2.27.25
  pkgs/development/python-modules/types-requests/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171073 python310Packages.ratelimiter: fix check part
  pkgs/development/python-modules/ratelimiter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171095 gnuradio: fix cross compile
  pkgs/applications/radio/gnuradio/wrapper.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171094 thunderbird, thunderbird-bin: 91.8.0 -> 91.8.1
  pkgs/applications/networking/mailreaders/thunderbird-bin/release_sources.nix
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-21.11

#171084 python310Packages.pytrafikverket: 0.1.6.2 -> 0.2.0.1
  pkgs/development/python-modules/pytrafikverket/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171088 python310Packages.flake8-debugger: 4.0.0 -> 4.1.2
  pkgs/development/python-modules/flake8-debugger/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171057 python310Packages.xknx: 0.20.4 -> 0.21.0
  pkgs/development/python-modules/xknx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#170537 [21.11] ghostscript: add patches for CVE-2021-45944 & CVE-2021-45949
  pkgs/misc/ghostscript/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#171010 [staging-21.11] libopenmpt: 0.5.17 -> 0.5.18
  pkgs/applications/audio/libopenmpt/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#168650 all-packages.nix: add stdenvBootstrapTools to top-level.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#171081 vault-bin: 1.10.1 -> 1.10.2
  pkgs/tools/security/vault/vault-bin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171085 ponyc: 0.49.0 -> 0.50.0
  pkgs/development/compilers/ponyc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#170551 chez-scheme: 9.5.6 -> 9.5.8
  pkgs/development/compilers/chez/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#167745 cardinal:22.02 -> 22.04
  pkgs/applications/audio/cardinal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#167746 faust 2.37.3 -> 2.40.0
  pkgs/applications/audio/faust/faust2.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#167747 faustlive: 2.5.5 -> 2.5.8
  pkgs/applications/audio/faust/faustlive.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#171089 erlang-ls: 0.30.0 -> 0.31.0
  pkgs/development/beam-modules/erlang-ls/default.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171100 mutt: 2.2.3 -> 2.2.4
  pkgs/applications/networking/mailreaders/mutt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171105 python310Packages.pyshp: 2.2.0 -> 2.3.0
  pkgs/development/python-modules/pyshp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171114 python310Packages.types-paramiko: 2.8.20 -> 2.8.21
  pkgs/development/python-modules/types-paramiko/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171058 pkgsStatic.slang: fix build
  pkgs/development/libraries/slang/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000, 6.topic: static, backport release-21.11

#171020 python310Packages.apispec: 5.1.1 -> 5.2.0
  pkgs/development/python-modules/apispec/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171017 python310Packages.jsonrpc-async: 2.0.0 -> 2.1.0
  pkgs/development/python-modules/jsonrpc-async/default.nix
  pkgs/development/python-modules/jsonrpc-base/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171098 python3Packages.pycurl: pull fix for curl 7.83.0
  pkgs/development/python-modules/pycurl/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#171131 python310Packages.gehomesdk: 0.4.24 -> 0.4.25
  pkgs/development/python-modules/gehomesdk/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171025 duckdb: 0.3.3 -> 0.3.4
  pkgs/development/libraries/duckdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171116 gnunet: 0.16.0 -> 0.16.3
  pkgs/applications/networking/p2p/gnunet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#168633 lumina: add maintainers team
  maintainers/team-list.nix
  nixos/modules/services/x11/desktop-managers/lumina.nix
  pkgs/desktops/lumina/lumina-calculator/default.nix
  pkgs/desktops/lumina/lumina-pdf/default.nix
  pkgs/desktops/lumina/lumina/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#170508 nixos/lxqt: enable libinput
  nixos/modules/services/x11/desktop-managers/lxqt.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: LXQt

#168640 enlightenment: add maintainers team
  maintainers/team-list.nix
  nixos/modules/services/x11/desktop-managers/enlightenment.nix
  pkgs/desktops/enlightenment/econnman/default.nix
  pkgs/desktops/enlightenment/ecrire/default.nix
  pkgs/desktops/enlightenment/efl/default.nix
  pkgs/desktops/enlightenment/enlightenment/default.nix
  pkgs/desktops/enlightenment/ephoto/default.nix
  pkgs/desktops/enlightenment/evisum/default.nix
  pkgs/desktops/enlightenment/rage/default.nix
  pkgs/desktops/enlightenment/terminology/default.nix
  pkgs/development/python-modules/python-efl/default.nix
Labels: 6.topic: python, 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#171046 cdparanoiaIII: Cleanup
  pkgs/applications/audio/cdparanoia/configure.patch
  pkgs/applications/audio/cdparanoia/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 2501-5000

#170958 platformsh: fix version parsing with nix-env
  pkgs/misc/platformsh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171004 calibre-web: 0.6.17 -> 0.6.18
  pkgs/servers/calibre-web/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-21.11

#170756 python3Packages.ibis-framework: 2.1.1 -> 3.0.2
  pkgs/development/python-modules/duckdb-engine/default.nix
  pkgs/development/python-modules/ibis-framework/default.nix
  pkgs/development/python-modules/ipython-sql/default.nix
  pkgs/development/python-modules/poetry-dynamic-versioning/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#170813 wheelDepsVersionsHook: init
  pkgs/applications/misc/archivy/default.nix
  pkgs/applications/version-management/gitless/default.nix
  pkgs/development/interpreters/python/hooks/default.nix
  pkgs/development/interpreters/python/hooks/python-relax-deps-hook.sh
  pkgs/development/python-modules/testtools/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000

#170981 Fix rust nondeterminism
  pkgs/build-support/rust/build-rust-crate/build-crate.nix
  pkgs/build-support/rust/build-rust-crate/configure-crate.nix
  pkgs/build-support/rust/build-rust-crate/default.nix
Labels: 6.topic: rust, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#171097 libdeltachat: 1.77.0 -> 1.78.0
  pkgs/applications/networking/instant-messengers/deltachat-desktop/default.nix
  pkgs/applications/networking/instant-messengers/deltachat-desktop/libdeltachat-darwin-dylib.patch
  pkgs/development/libraries/libdeltachat/default.nix
  pkgs/development/python-modules/deltachat/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171082 pantheon.granite7: init at 7.0.0
  pkgs/desktops/pantheon/default.nix
  pkgs/desktops/pantheon/granite/7/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon, 10.rebuild-linux: 1

#171117 imagemagick: 7.1.0-31 -> 7.1.0-32
  pkgs/applications/graphics/ImageMagick/7.0.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, backport release-21.11

#168637 lxqt: add maintainers team
  maintainers/team-list.nix
  nixos/modules/services/x11/desktop-managers/lxqt.nix
  pkgs/desktops/lxqt/compton-conf/default.nix
  pkgs/desktops/lxqt/libfm-qt/default.nix
  pkgs/desktops/lxqt/liblxqt/default.nix
  pkgs/desktops/lxqt/libqtxdg/default.nix
  pkgs/desktops/lxqt/libsysstat/default.nix
  pkgs/desktops/lxqt/lximage-qt/default.nix
  pkgs/desktops/lxqt/lxqt-about/default.nix
  pkgs/desktops/lxqt/lxqt-admin/default.nix
  pkgs/desktops/lxqt/lxqt-archiver/default.nix
  pkgs/desktops/lxqt/lxqt-build-tools/default.nix
  pkgs/desktops/lxqt/lxqt-config/default.nix
  pkgs/desktops/lxqt/lxqt-globalkeys/default.nix
  pkgs/desktops/lxqt/lxqt-notificationd/default.nix
  pkgs/desktops/lxqt/lxqt-openssh-askpass/default.nix
  pkgs/desktops/lxqt/lxqt-panel/default.nix
  pkgs/desktops/lxqt/lxqt-policykit/default.nix
  pkgs/desktops/lxqt/lxqt-powermanagement/default.nix
  pkgs/desktops/lxqt/lxqt-qtplugin/default.nix
  pkgs/desktops/lxqt/lxqt-runner/default.nix
  pkgs/desktops/lxqt/lxqt-session/default.nix
  pkgs/desktops/lxqt/lxqt-sudo/default.nix
  pkgs/desktops/lxqt/lxqt-themes/default.nix
  pkgs/desktops/lxqt/obconf-qt/default.nix
  pkgs/desktops/lxqt/pavucontrol-qt/default.nix
  pkgs/desktops/lxqt/pcmanfm-qt/default.nix
  pkgs/desktops/lxqt/qlipper/default.nix
  pkgs/desktops/lxqt/qps/default.nix
  pkgs/desktops/lxqt/qterminal/default.nix
  pkgs/desktops/lxqt/qtermwidget/default.nix
  pkgs/desktops/lxqt/screengrab/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#171153 fortune: remove offensive quotes from build
  pkgs/tools/misc/fortune/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171086 dictdDBs.wiktionary: 20220301 -> 20220420
  pkgs/servers/dict/wiktionary/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171145 electrs: 0.9.6 -> 0.9.7
  pkgs/applications/blockchains/electrs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171151 libxcrypt: prevent build failure on warnings
  pkgs/development/libraries/libxcrypt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#170945 abcl: fix `(require :jss)` in ABCL with Java 17
  pkgs/development/compilers/abcl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#171119 monero-{cli,gui}: 0.17.3.0 -> 0.17.3.2
  pkgs/applications/blockchains/monero-cli/default.nix
  pkgs/applications/blockchains/monero-gui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#167282 moonlight-qt: 3.2.0 -> 4.0.0
  pkgs/applications/misc/moonlight-qt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#168750 python310Packages.tern: 2.9.1 -> 2.10.0
  pkgs/development/python-modules/tern/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#170999 [Backport release-21.11] couchdb3: 3.2.1 -> 3.2.2
  nixos/modules/services/databases/couchdb.nix
  pkgs/servers/http/couchdb/3.nix
Labels: 6.topic: nixos, 1.severity: security, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171068 luaPackages.luaexpat: 1.3.0-1 -> 1.4.1-1
  maintainers/scripts/luarocks-packages.csv
  pkgs/development/lua-modules/generated-packages.nix
  pkgs/development/lua-modules/luaexpat.patch
  pkgs/development/lua-modules/overrides.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: lua

#171110 python310Packages.pysensibo: 1.0.12 -> 1.0.13
  pkgs/development/python-modules/pysensibo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171078 vim/update.py: fix handling of redirects
  maintainers/scripts/pluginupdate.py
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#171128 python310Packages.fastjsonschema: 2.15.2 -> 2.15.3
  pkgs/development/python-modules/fastjsonschema/default.nix
  pkgs/development/python-modules/typical/default.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171112 python310Packages.elkm1-lib: 1.3.5 -> 1.3.6
  pkgs/development/python-modules/elkm1-lib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171109 python310Packages.xknx: 0.21.0 -> 0.21.1
  pkgs/development/python-modules/xknx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#171104 checkov: 2.0.1098 -> 2.0.1102
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#167947 lib: add callLocklessFlake
  lib/default.nix
  lib/flakes.nix
  lib/tests/flakes/subflakeTest/flake.nix
  lib/tests/flakes/subflakeTest/subflake/flake.nix
  lib/tests/misc.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#170979 proj: support cross compile
  pkgs/development/libraries/proj/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#171015 nifi: 1.16.0 -> 1.16.1
  pkgs/servers/web-apps/nifi/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#171150 [21.11] calibre-web: 0.6.17 -> 0.6.18
  pkgs/development/python-modules/advocate/default.nix
  pkgs/servers/calibre-web/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 1.severity: security, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#170957 namecoin: fix version parsing for nix-env, reduce with lib usage
  pkgs/applications/blockchains/namecoin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#171157 fq: 0.0.6 -> 0.0.7
  pkgs/development/tools/fq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171120 sqls: 0.2.20 -> 0.2.22
  pkgs/applications/misc/sqls/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170956 magic-wormhole-rs: fix pname
  pkgs/tools/networking/magic-wormhole-rs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171158 [21.11] redis: 6.2.6 -> 6.2.7
  pkgs/servers/nosql/redis/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171168 racket: 8.4 -> 8.5
  pkgs/development/interpreters/racket/default.nix
  pkgs/development/interpreters/racket/minimal.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171118 redis: 6.2.6 -> 7.0.0
  pkgs/servers/nosql/redis/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#99330 jdt-language-server: init at 1.8.0
  pkgs/development/tools/jdt-language-server/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#171171 cloudflare-dyndns: init at 4.1
  nixos/modules/module-list.nix
  nixos/modules/services/networking/cloudflare-dyndns.nix
  pkgs/applications/networking/cloudflare-dyndns/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171188 python310Packages.twitch-python: 0.0.19 -> 0.0.20
  pkgs/development/python-modules/twitch-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171175 s3-credentials: 0.10 -> 0.11
  pkgs/development/python-modules/s3-credentials/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171184 go-toml: 1.9.4 -> 2.0.0
  pkgs/development/tools/go-toml/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171161 pouf: 0.4.1 -> 0.4.3
  pkgs/tools/misc/pouf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171125 python310Packages.sphinxcontrib-spelling: 7.3.2 -> 7.3.3
  pkgs/development/python-modules/sphinxcontrib-spelling/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#170218 bazel_4, bazel_5: disable sandbox debug
  pkgs/development/tools/build-managers/bazel/bazel_4/default.nix
  pkgs/development/tools/build-managers/bazel/bazel_5/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#171191 python310Packages.python-smarttub: 0.0.31 -> 0.0.32
  pkgs/development/python-modules/python-smarttub/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171148 mkvtoolnix: 66.0.0 -> 67.0.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#170863 teams: 1.4.00.26453 -> 1.5.00.10453
  pkgs/applications/networking/instant-messengers/teams/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170090 lib/strings: call toString within hasInfix
  lib/strings.nix
  lib/tests/misc.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#171180 rage: 0.7.1 -> 0.8.0
  pkgs/tools/security/rage/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170734 python310Packages.snowflake-sqlalchemy: 1.3.3 -> 1.3.4
  pkgs/development/python-modules/snowflake-sqlalchemy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#170412 nixos/nscd: Fix lib.literalExample deprecation
  nixos/modules/services/system/nscd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#170715 vscodium: Add aarch64-darwin support
  pkgs/applications/editors/vscode/update-vscodium.sh
  pkgs/applications/editors/vscode/vscodium.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#170394 python310Packages.scikit-survival: 0.17.1 -> 0.17.2
  pkgs/development/python-modules/scikit-survival/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#169310 nixos/zookeeper: Take the same JRE we build zookeeper with by default
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2205.section.md
  nixos/modules/services/misc/zookeeper.nix
  pkgs/servers/zookeeper/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#171210 ytarchive: 2022-02-16 -> 2022-03-11
  pkgs/tools/misc/ytarchive/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171212 slirp4netns: 1.1.12 -> 1.2.0
  pkgs/tools/networking/slirp4netns/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#170854 python310Packages.jwcrypto: 1.0 -> 1.2
  pkgs/development/python-modules/jwcrypto/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#164288 python310Packages.gtts: 2.2.3 -> 2.2.4
  pkgs/development/python-modules/gtts/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#168352 nomad-pack: 2022-02-11 -> 2022-04-12
  pkgs/applications/networking/cluster/nomad-pack/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171208 yle-dl: 20220213 -> 20220425
  pkgs/tools/misc/yle-dl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#169595 ptex: remove python2 as dependency
  pkgs/development/libraries/ptex/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170242 gnome2.libglade: remove python2-dependent functionality
  pkgs/desktops/gnome-2/platform/libglade/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#149323 asterisk: Create symlinks for each config individually
  nixos/modules/services/networking/asterisk.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-21.11

#171121 python310Packages.smart-open: 5.2.1 -> 6.0.0, python39Packages.spacy: 3.2.4 -> 3.3.0, snakemake: 6.15.5 -> 7.5.0
  pkgs/applications/science/misc/snakemake/default.nix
  pkgs/development/python-modules/pathy/default.nix
  pkgs/development/python-modules/smart-open/default.nix
  pkgs/development/python-modules/spacy-transformers/default.nix
  pkgs/development/python-modules/spacy/default.nix
  pkgs/development/python-modules/yte/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#169666 unit: drop python2 support
  pkgs/servers/http/unit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#170155 python310Packages.curio: ignore not timing out test
  pkgs/development/python-modules/curio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000

#167901 ibus-engines.bamboo: 0.7.0 -> 0.7.7
  pkgs/tools/inputmethods/ibus-engines/ibus-bamboo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#171170 python310Packages.devito: fix sha256 hash that changed
  pkgs/development/python-modules/devito/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#170525 vimix-gtk-themes: 2021-08-17 -> 2022-04-24
  pkgs/data/themes/vimix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170497 alda: 2.2.0 -> 2.2.3
  pkgs/development/interpreters/alda/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#170523 pdns: 4.6.1 -> 4.6.2
  pkgs/servers/dns/pdns/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170843 zulip: 5.9.2 → 5.9.3
  pkgs/applications/networking/instant-messengers/zulip/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#170883 rocketchat-desktop: 3.7.8 -> 3.8.5
  pkgs/applications/networking/instant-messengers/rocketchat-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170968 google-chrome: remove legacy ? null
  pkgs/applications/networking/browsers/google-chrome/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#170965 audio-recorder: remove legacy ? null
  pkgs/applications/audio/audio-recorder/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#170975 wezterm: build terminfo file without compiling wezterm
  pkgs/applications/terminal-emulators/wezterm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170963 fuse-7z-ng: fix repology version parsing
  pkgs/tools/filesystems/fuse-7z-ng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#170967 marktext: fix nix-env version parsing
  pkgs/applications/misc/marktext/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#171237 ssh-import-id: add man page
  pkgs/tools/admin/ssh-import-id/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171245 orchis-theme: 2022-02-18 -> 2022-05-01
  pkgs/data/themes/orchis-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#171130 fclones: 0.21.0 -> 0.22.0
  pkgs/tools/misc/fclones/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171023 prusa-slicer: 2.4.1 -> 2.4.2
  pkgs/applications/misc/prusa-slicer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#170997 joplin-desktop: 2.7.13 -> 2.7.15
  pkgs/applications/misc/joplin-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#167223 nixos/tests/gitlab: Add additional test cases
  nixos/tests/gitlab.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#171129 gitlab: 14.9.3 -> 14.10.0
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/Gemfile
  pkgs/applications/version-management/gitlab/gitaly/Gemfile.lock
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitaly/gemset.nix
  pkgs/applications/version-management/gitlab/gitlab-shell/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile
  pkgs/applications/version-management/gitlab/rubyEnv/Gemfile.lock
  pkgs/applications/version-management/gitlab/rubyEnv/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#170507 lxd: fix nixos tests on aarch64
  nixos/tests/lxd.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#161198 yubico-piv-tool: 2.0.0 -> 2.2.1
  pkgs/tools/misc/yubico-piv-tool/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171192 mustache-go: 1.3.0 -> 1.3.1
  pkgs/development/tools/mustache-go/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#168991 cli53: 0.8.12 -> 0.8.18
  pkgs/tools/admin/cli53/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171207 mqttui: 0.16.1 -> 0.16.2
  pkgs/tools/networking/mqttui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#170892 github-runner: fix writing to `$HOME` directory
  pkgs/development/tools/continuous-integration/github-runner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#171219 python310Packages.netutils: init at 1.1.0
  pkgs/development/python-modules/netutils/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#171211 python310Packages.ansible-doctor: 1.2.4 -> 1.3.0
  pkgs/development/python-modules/ansible-doctor/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171204 wprecon: 1.6.3a -> 2.4.5
  pkgs/tools/security/wprecon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171061 gSpeech: 0.10.1 -> 0.11.0
  pkgs/applications/audio/gspeech/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171142 duckdb: run unit tests
  pkgs/development/libraries/duckdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171197 matterircd: 0.25.0 -> 0.25.1
  pkgs/servers/mattermost/matterircd.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#171007 open-watcom-v2-unwrapped: unstable-2022-04-24 -> unstable-2022-04-29
  pkgs/development/compilers/open-watcom/v2.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#171254 python310Packages.poetry-dynamic-versioning: 0.14.1 -> 0.15.0
  pkgs/development/python-modules/poetry-dynamic-versioning/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
