Repository NixOS/nixpkgs, pull requests merged in 2023-05, with the labels that each got.

#229188 bandit: Introduce top-level attribute
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229203 gptcommit: 0.5.7 -> 0.5.8
  pkgs/development/tools/gptcommit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229202 civo: 1.0.49 -> 1.0.50
  pkgs/applications/networking/cluster/civo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229200 papeer: 0.7.0 -> 0.7.1
  pkgs/tools/text/papeer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229006 haskellPackages.hspec*_2_11_0: update references to be hspec*_2_11_0_1
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 6.topic: haskell

#206763 texlive: use version info from tlpdb instead of hardcoding
  pkgs/test/texlive/default.nix
  pkgs/tools/typesetting/tex/texlive/UPGRADING.md
  pkgs/tools/typesetting/tex/texlive/bin.nix
  pkgs/tools/typesetting/tex/texlive/combine.nix
  pkgs/tools/typesetting/tex/texlive/default.nix
  pkgs/tools/typesetting/tex/texlive/fixedHashes.nix
  pkgs/tools/typesetting/tex/texlive/tl2nix.sed
  pkgs/tools/typesetting/tex/texlive/tlpdb.nix
Labels: 2.status: work-in-progress, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: TeX, 12.approvals: 1

#229196 credhub-cli: 2.9.13 -> 2.9.14
  pkgs/tools/admin/credhub-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229211 jet: 0.4.24 -> 0.5.25
  pkgs/development/tools/jet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#228229 kbibtex: 0.9.3.2 -> 0.10.0
  pkgs/applications/office/kbibtex/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#229119 ft2-clone: 1.66 -> 1.67
  pkgs/applications/audio/ft2-clone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229127 checkSSLCert: 2.66.0 -> 2.68.0
  pkgs/servers/monitoring/nagios/plugins/check_ssl_cert.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#229106 operator-sdk: 1.28.0 -> 1.28.1
  pkgs/development/tools/operator-sdk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#229128 mympd: 10.3.0 -> 10.3.1
  pkgs/applications/audio/mympd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229099 fluent-bit: 2.1.1 -> 2.1.2
  pkgs/tools/misc/fluent-bit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229205 cloudflared: 2023.4.1 -> 2023.4.2
  pkgs/applications/networking/cloudflared/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229199 kitsas: 4.0.3 -> 4.0.5
  pkgs/applications/office/kitsas/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229061 rust-analyzer-unwrapped: 2023-04-17 -> 2023-04-24
  pkgs/development/tools/rust/rust-analyzer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#228994 minimap2: 2.24 -> 2.25
  pkgs/applications/science/biology/minimap2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#228996 ecs-agent: 1.70.2 -> 1.71.0
  pkgs/applications/virtualization/ecs-agent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229005 protoc-gen-validate: 0.10.1 -> 1.0.0
  pkgs/development/tools/protoc-gen-validate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229052 libudev-zero: 1.0.1 -> 1.0.2
  pkgs/development/libraries/libudev-zero/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229112 opengrok: 1.12.0 -> 1.12.3
  pkgs/development/tools/misc/opengrok/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229094 ansible-lint: 6.14.3 -> 6.15.0
  pkgs/development/python-modules/ansible-lint/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229207 sqlcipher: 4.5.3 -> 4.5.4
  pkgs/development/libraries/sqlcipher/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#229213 rambox: 2.1.2 -> 2.1.3
  pkgs/applications/networking/instant-messengers/rambox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229216 corectrl: 1.3.3 -> 1.3.5
  pkgs/applications/misc/corectrl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229215 flrig: 1.4.7 -> 1.4.8
  pkgs/applications/radio/flrig/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229198 maude: remove Full Maude
  pkgs/development/interpreters/maude/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#227936 nixos/deepin: init
  nixos/doc/manual/release-notes/rl-2305.section.md
  nixos/modules/module-list.nix
  nixos/modules/services/desktops/deepin/app-services.nix
  nixos/modules/services/desktops/deepin/dde-api.nix
  nixos/modules/services/desktops/deepin/dde-daemon.nix
  nixos/modules/services/x11/desktop-managers/deepin.nix
  nixos/modules/services/x11/desktop-managers/default.nix
  nixos/tests/all-tests.nix
  nixos/tests/deepin.nix
  pkgs/desktops/deepin/core/dde-gsettings-schemas/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#228729 serf: patch for openssl_3
  pkgs/development/libraries/serf/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#228464 lisp-modules.kons-9: init from trunk
  pkgs/development/lisp-modules/packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#228967 simgear: 2020.3.17 -> 2020.3.18
  pkgs/development/libraries/simgear/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#228826 sbcl: 2.3.2 -> 2.3.4
  pkgs/development/compilers/sbcl/2.x.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#229231 nixos/release-notes: fix typo
  nixos/doc/manual/release-notes/rl-2305.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#229132 tarball job: tag both derivations as big-parallel
  pkgs/top-level/make-tarball.nix
  pkgs/top-level/nixpkgs-basic-release-checks.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-22.11

#229206 signalbackup-tools: 20230426 -> 20230429
  pkgs/applications/networking/instant-messengers/signalbackup-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229228 nomachine-client: 7.10.1 → 8.4.2
  pkgs/tools/admin/nomachine-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229218 haguichi: 1.4.5 -> 1.4.6
  pkgs/tools/networking/haguichi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229093 nimPackages.npeg: 1.0.1 -> 1.2.1
  pkgs/development/nim-packages/npeg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: nim

#229064 benthos: 4.13.0 -> 4.14.0
  pkgs/development/tools/benthos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229219 buttercup-desktop: 2.19.0 -> 2.19.1
  pkgs/tools/security/buttercup-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229214 python310Packages.pygti: 0.9.3 -> 0.9.4
  pkgs/development/python-modules/pygti/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#229182 python310Packages.django-stubs-ext: 0.8.0 -> 4.2.0, python310Packages.django-stubs: 1.15.0 -> 4.2.0
  pkgs/development/python-modules/django-stubs-ext/default.nix
  pkgs/development/python-modules/django-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229185 python310Packages.django-phonenumber-field: 7.0.2 -> 7.1.0
  pkgs/development/python-modules/django-phonenumber-field/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229187 python310Packages.docstring-parser: 0.14.1 -> 0.15
  pkgs/development/python-modules/docstring-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#229189 python310Packages.django-simple-captcha: 0.5.14 -> 0.5.17
  pkgs/development/python-modules/django-simple-captcha/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229174 python310Packages.deepwave: 0.0.17 -> 0.0.18
  pkgs/development/python-modules/deepwave/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229195 fzf: 0.39.0 -> 0.40.0
  pkgs/tools/misc/fzf/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#229137 tangram: 2.0 -> 3.0
  pkgs/applications/networking/instant-messengers/tangram/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#228395 restic-rest-server: 0.11.0 -> 0.12.0
  pkgs/tools/backup/restic/rest-server.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#227827 vscode-extensions.llvm-vs-code-extensions.vscode-clangd: 0.1.23 -> 0.1.24
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#229245 gnome.geary: Fix build with Vala 0.56.7 & 0.57+
  pkgs/desktops/gnome/misc/geary/default.nix
Labels: 6.topic: GNOME

#229071 linuxPackages.rtl8189es: 2022-10-30 -> 2023-03-14
  pkgs/os-specific/linux/rtl8189es/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, backport release-22.11

#229043 mpd: remove pipewire API workaround
  pkgs/servers/mpd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229168 gnupg: 2.4.0 -> 2.4.1
  pkgs/tools/security/gnupg/24.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+

#229240 unpackerr: 0.11.1 -> 0.11.2
  pkgs/servers/unpackerr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229238 zotero: remove version from name in desktopItem
  pkgs/applications/office/zotero/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229154 staging: make wrapProgram<Type> create the right type of wrapper
  pkgs/build-support/setup-hooks/make-binary-wrapper/make-binary-wrapper.sh
  pkgs/build-support/setup-hooks/make-wrapper.sh
  pkgs/tools/graphics/gnuplot/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#229233 anki-bin: 2.1.61 -> 2.1.62
  pkgs/games/anki/bin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#227548 ktlint: 0.48.2 -> 0.49.0
  pkgs/development/tools/ktlint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#228940 supergfxctl: 5.0.1 -> 5.1.1
  pkgs/applications/system/supergfxctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229243 pipecontrol: 0.2.8 -> 0.2.10
  pkgs/applications/audio/pipecontrol/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#228951 asusctl: 4.5.8 -> 4.6.2
  nixos/doc/manual/release-notes/rl-2305.section.md
  nixos/modules/services/hardware/asusd.nix
  pkgs/applications/system/asusctl/Cargo.lock
  pkgs/applications/system/asusctl/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#229138 nixos/fstrim: fix overriding the timer interval
  nixos/modules/services/misc/fstrim.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#228925 python310Packages.elastic-transport: init at 8.4.0, python310Packages.elastisearch8: init at 8.7.0, python310Packages.es-client: init at 8.7.0
  pkgs/development/python-modules/elastic-transport/default.nix
  pkgs/development/python-modules/elasticsearch/default.nix
  pkgs/development/python-modules/elasticsearch8/default.nix
  pkgs/development/python-modules/es-client/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#229249 python3Packages.dbus-python-client-gen: 0.8.2 -> 0.8.3
  pkgs/development/python-modules/dbus-python-client-gen/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#229255 defaultGemConfig.grpc: update config
  pkgs/development/ruby-modules/gem-config/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: ruby, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#225136 vagrant: 2.2.19 -> 2.3.4
  pkgs/development/tools/vagrant/default.nix
  pkgs/development/tools/vagrant/gemset.nix
  pkgs/development/tools/vagrant/unofficial-installation-nowarn.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229250 i3status-rust: 0.31.0 -> 0.31.1
  pkgs/applications/window-managers/i3/status-rust.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#228962 lib.kernel.unset: init
  lib/kernel.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#228885 taskjuggler: add webrick for tj3webd
  pkgs/applications/misc/taskjuggler/Gemfile
  pkgs/applications/misc/taskjuggler/Gemfile.lock
  pkgs/applications/misc/taskjuggler/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229073 openblas: Enable loongarch64-linux
  pkgs/development/libraries/science/math/openblas/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#229183 cpython: add loongarch triplets
  pkgs/development/interpreters/python/cpython/default.nix
  pkgs/development/interpreters/python/cpython/loongarch-support.patch
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#229237 rsyslog: 8.2302.0 -> 8.2304.0
  pkgs/tools/system/rsyslog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#229244 commonsCompress: 1.22 -> 1.23.0
  pkgs/development/libraries/java/commons/compress/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229242 vmware-horizon-client: 2206 -> 2303
  pkgs/applications/networking/remote/vmware-horizon-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#229226 aws-c-sdkutils: 0.1.8 -> 0.1.9
  pkgs/development/libraries/aws-c-sdkutils/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#229251 python310Packages.plantuml-markdown: 3.8.1 -> 3.9.1
  pkgs/development/python-modules/plantuml-markdown/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229157 cargo-info: init at 0.7.3
  pkgs/development/tools/rust/cargo-info/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229122 i3-cycle-focus: init at unstable-2021-09-27
  pkgs/applications/window-managers/i3/cycle-focus.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#229252 python310Packages.bucketstore: fix version specifier
  pkgs/development/python-modules/bucketstore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: build failure

#229261 python310Packages.python-keycloak: fix typo
  pkgs/development/python-modules/python-keycloak/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#228750 AusweisApp2: 1.26.3 -> 1.26.4
  pkgs/applications/misc/ausweisapp2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#228811 gdcm: enable tests
  pkgs/development/libraries/gdcm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229256 python310Packages.nats-py: disable failing test
  pkgs/development/python-modules/nats-py/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 0.kind: build failure

#229151 veusz: 3.3.1 -> 3.6.2 & fix
  pkgs/applications/graphics/veusz/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#227855 iosevka: 22.0.2 → 22.1.0
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229143 shell_gpt: 0.8.8 -> 0.9.0
  pkgs/tools/misc/shell_gpt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229223 Xfce updates 2023-05-01
  pkgs/desktops/xfce/core/thunar/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-mpc-plugin/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-netload-plugin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce

#229273 More vulkan updates
  pkgs/development/libraries/vulkan-headers/update.sh
  pkgs/development/tools/vulkan-validation-layers/default.nix
  pkgs/tools/graphics/vulkan-extension-layer/default.nix
  pkgs/tools/graphics/vulkan-tools/default.nix
Labels: 1.severity: channel blocker

#229274 [staging] Even more vulkan updates
  pkgs/development/compilers/glslang/default.nix
  pkgs/development/tools/spirv-tools/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#228820 wrapBintoolsWith: support LINK.EXE-style args in purity checks
  pkgs/build-support/bintools-wrapper/ld-wrapper.sh
  pkgs/build-support/wrapper-common/utils.bash
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 6.topic: windows, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#228312 remove python2 from datadog service
  nixos/modules/services/monitoring/datadog-agent.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#229272 git-cola: 4.1.0 -> 4.2.1
  pkgs/applications/version-management/git-cola/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#190933 clickhouse: set default logging level to error
  pkgs/servers/clickhouse/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#229152 python310Packages.miniful: init at 0.0.6, python310Packages.fst-pso: init at 1.8.1, python310Packages.simpful: init at 2.10.0
  pkgs/development/python-modules/fst-pso/default.nix
  pkgs/development/python-modules/miniful/default.nix
  pkgs/development/python-modules/simpful/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#228606 gcc: fix fastStdenv breakage from #209870
  pkgs/development/compilers/gcc/12/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#227707 chromium: (cross) take python3 from buildPackages
  pkgs/applications/networking/browsers/chromium/common.nix
Labels: 6.topic: cross-compilation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#229288 youtube-tui: 0.7.0 -> 0.7.1
  pkgs/applications/video/youtube-tui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229236 gnome-builder: 44.1 → 44.2
  pkgs/applications/editors/gnome-builder/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#229239 ocamlPackages.postgresql: `postgresql` is a buildInput
  pkgs/development/ocaml-modules/postgresql/default.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#226503 gst_all_1.gst-plugins-bad: remove gstmicrodns
  pkgs/development/libraries/gstreamer/bad/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#227714 lua.lib: use toLua in generateLuarocksConfig
  lib/generators.nix
  lib/tests/misc.nix
  pkgs/development/lua-modules/lib.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500, 6.topic: lua

#229308 orchis-theme: fix version number
  pkgs/data/themes/orchis-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#229159 nixos/nextcloud: refactor database.createLocally
  nixos/doc/manual/release-notes/rl-2305.section.md
  nixos/modules/services/web-apps/nextcloud.md
  nixos/modules/services/web-apps/nextcloud.nix
  nixos/tests/nextcloud/with-declarative-redis-and-secrets.nix
  nixos/tests/nextcloud/with-mysql-and-memcached.nix
  nixos/tests/nextcloud/with-postgresql-and-redis.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#229312 networkmanager-l2tp: 1.20.4 -> 1.20.10
  pkgs/tools/networking/networkmanager/l2tp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 1.severity: channel blocker

#229283 python311Packages.django-model-utils: 4.2.0 -> 4.3.1
  pkgs/development/python-modules/django-model-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229278 python310Packages.django-import-export: 3.1.0 -> 3.2.0
  pkgs/development/python-modules/django-import-export/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: build failure

#229015 python310Packages.psutil: 5.9.4 -> 5.9.5
  pkgs/development/python-modules/psutil/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#229317 evcc: 0.116.6 -> 0.116.7
  pkgs/servers/home-automation/evcc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#229263 seaweedfs: 3.47 -> 3.48
  pkgs/applications/networking/seaweedfs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229220 vdr: 2.6.3 -> 2.6.4
  pkgs/applications/video/vdr/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#229311 lightning-loop: 0.20.0 -> 0.23.0
  pkgs/applications/blockchains/lightning-loop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229302 espeak-ng: fix cross
  pkgs/applications/audio/espeak-ng/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#229285 pythonPackages.maestral: 1.7.1 -> 1.7.2
  pkgs/development/python-modules/maestral/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#229332 grafana-agent: 0.33.0 -> 0.33.1
  pkgs/servers/monitoring/grafana-agent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#228407 cbor-diag: 0.5.6 -> 0.8.4
  pkgs/development/tools/cbor-diag/Gemfile.lock
  pkgs/development/tools/cbor-diag/default.nix
  pkgs/development/tools/cbor-diag/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#226515 serial-studio: init at 1.1.7
  pkgs/applications/misc/serial-studio/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#228759 stdenv: factor out `meta` attr augmentation for reusability
  pkgs/stdenv/generic/check-meta.nix
  pkgs/stdenv/generic/make-derivation.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#229209 nixos/navidrome: add package option
  nixos/modules/services/audio/navidrome.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#229338 brev-cli: build with Go 1.20
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229292 skribilo: 0.9.5 -> 0.10.0
  pkgs/tools/typesetting/skribilo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#227973 nixos/nextcloud: fix notify_push configuration parse error
  nixos/modules/services/web-apps/nextcloud-notify_push.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#229339 doggo: build with Go 1.19
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229193 vcmi: 1.1.1 -> 1.2.1
  pkgs/development/libraries/fuzzylite/default.nix
  pkgs/games/vcmi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#226470 emacsPackages.wat-mode: init at unstable-2022-07-13
  pkgs/applications/editors/emacs/elisp-packages/manual-packages.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/wat-mode/default.nix
Labels: 8.has: package (new), 6.topic: emacs, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229350 python310Packages.datasette: 0.64.2 -> 0.64.3
  pkgs/development/python-modules/datasette/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229349 python311Packages.datasets: 2.11.0 -> 2.12.0
  pkgs/development/python-modules/datasets/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#229072 libvisio: set strictDeps, remove unneeded configureFlags
  pkgs/development/libraries/libvisio/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#229260 exportarr: 1.3.1 -> 1.3.2
  pkgs/servers/monitoring/prometheus/exportarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229342 wpsoffice: 11.1.0.11691 -> 11.1.0.11698
  pkgs/applications/office/wpsoffice/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#229366 rust-script: 0.26.0 -> 0.27.0
  pkgs/development/tools/rust/rust-script/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229346 python310Packages.ipyniivue: init at 1.0.2
  pkgs/development/python-modules/ipyniivue/default.nix
  pkgs/development/python-modules/jupyter-ui-poll/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#229343 norouter: build with Go 1.20
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229305 kopia: 0.12.1 -> 0.13.0
  pkgs/tools/backup/kopia/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#224836 prometheus-cloudflare-exporter: init at 0.0.14
  pkgs/servers/monitoring/prometheus/cloudflare-exporter.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#229360 python310Packages.kornia: 0.6.11 -> 0.6.12
  pkgs/development/python-modules/kornia/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229357 python310Packages.inform: 1.27 -> 1.28
  pkgs/development/python-modules/inform/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#229375 arianna: 1.0.0 -> 1.0.1
  pkgs/applications/misc/arianna/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229393 nerdfix: 0.2.1 -> 0.2.2
  pkgs/tools/text/nerdfix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229382 ivy: 0.2.8 -> 0.2.10
  pkgs/development/interpreters/ivy/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229381 ruff: 0.0.262 -> 0.0.263
  pkgs/development/tools/ruff/Cargo.lock
  pkgs/development/tools/ruff/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#229379 tl-expected: 2023-02-15 -> 1.1.0
  pkgs/development/libraries/tl-expected/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#225729 python310Packages.ytmusicapi: 0.25.1 -> 1.0.2
  pkgs/applications/audio/mopidy/ytmusic.nix
  pkgs/development/python-modules/ytmusicapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#227401 nixos/maddy: Add tls option
  nixos/doc/manual/release-notes/rl-2305.section.md
  nixos/modules/services/mail/maddy.nix
  nixos/tests/all-tests.nix
  nixos/tests/maddy/default.nix
  nixos/tests/maddy/tls.nix
  nixos/tests/maddy/unencrypted.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#229354 python311Packages.datafusion: 22.0.0 -> 23.0.0
  pkgs/development/python-modules/datafusion/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229353 python310Packages.intake: 0.6.6 -> 0.6.8
  pkgs/development/python-modules/intake/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229352 python310Packages.glean-sdk: 52.2.0 -> 52.6.0
  pkgs/development/python-modules/glean-sdk/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229351 python310Packages.invocations: 3.0.1 -> 3.0.2
  pkgs/development/python-modules/invocations/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#229347 checkov: 2.3.209 -> 2.3.212
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
