Repository NixOS/nixpkgs, pull requests merged in 2023-02, with the labels that each got.

#213842 cppcheck: 2.9.3 -> 2.10
  pkgs/development/tools/analysis/cppcheck/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#213790 sysdig: remove with lib over entire file
  pkgs/os-specific/linux/sysdig/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#213802 cargo-zigbuild: 0.14.5 -> 0.15.0
  pkgs/development/tools/rust/cargo-zigbuild/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213779 eid-mw: 5.1.4 -> 5.1.9
  pkgs/tools/security/eid-mw/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213774 gdcm: 3.0.20 -> 3.0.21
  pkgs/development/libraries/gdcm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213797 jmusicbot: use headless jdk
  pkgs/applications/audio/jmusicbot/default.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213579 chia-dev-tools: fix
  pkgs/applications/blockchains/chia-dev-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213833 [22.11] libtiff: add patch for CVE-2022-48281
  pkgs/development/libraries/libtiff/4.4.0-CVE-2022-48281.patch
  pkgs/development/libraries/libtiff/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#209106 busybox: 1.35.0 -> 1.36.0
  pkgs/os-specific/linux/busybox/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#210324 zig: 0.9.1 -> 0.10.1
  pkgs/development/compilers/zig/0.10.nix
  pkgs/development/compilers/zig/0.9.1.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213823 du-dust: 0.8.3 -> 0.8.4
  pkgs/tools/misc/dust/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213858 protoc-gen-go-vtproto: 0.3.0 -> 0.4.0
  pkgs/development/tools/protoc-gen-go-vtproto/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#212771 lbdb: Add IOSocketSSL Dependency for ldaps
  pkgs/tools/misc/lbdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#213811 iam-policy-json-to-terraform: 1.8.1 -> 1.8.2
  pkgs/tools/misc/iam-policy-json-to-terraform/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#213660 nix-zsh-completions: 0.4.4 -> unstable-2023-01-30
  pkgs/shells/zsh/nix-zsh-completions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#213317 throttled: fix after recent update
  nixos/modules/services/hardware/throttled.nix
  pkgs/tools/system/throttled/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#212357 docker: 20.10.21 -> 20.10.23
  pkgs/applications/virtualization/docker/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12.approved-by: package-maintainer

#213805 linuxPackages.apfs: unstable-2022-10-20 -> 0.3.0
  nixos/tests/apfs.nix
  pkgs/os-specific/linux/apfs/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#213839 carapace: 0.20.2 -> 0.21.0
  pkgs/shells/carapace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#212035 jdt-language-server 1.17.0 -> 1.19.0
  pkgs/development/tools/language-servers/jdt-language-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#213760 python310Packages.minidb: 2.0.6 -> 2.0.7
  pkgs/development/python-modules/minidb/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#213756 python310Packages.plugwise: 0.27.4 -> 0.27.5
  pkgs/development/python-modules/plugwise/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#213813 rambox: 2.0.9 -> 2.0.10
  pkgs/applications/networking/instant-messengers/rambox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213533 ppsspp: refactor
  pkgs/applications/emulators/ppsspp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#213602 nixos/virtualisation/*: replace deprecated types.string with types.str
  nixos/modules/virtualisation/amazon-options.nix
  nixos/modules/virtualisation/openstack-options.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#213555 python310Packages.arcam-fmj: 1.0.1 -> 1.1.0
  pkgs/development/python-modules/arcam-fmj/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#212905 deepin(artwork): init at 20.8
  pkgs/desktops/deepin/artwork/dde-account-faces/default.nix
  pkgs/desktops/deepin/artwork/deepin-gtk-theme/default.nix
  pkgs/desktops/deepin/artwork/deepin-icon-theme/default.nix
  pkgs/desktops/deepin/artwork/deepin-sound-theme/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#213380 xfce.xfce4-taskmanager: odd minor release numbers are stable
  pkgs/desktops/xfce/applications/xfce4-taskmanager/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce, 10.rebuild-linux: 1

#213381 xfce.xfce4-whiskermenu-plugin: 2.7.1 -> 2.7.2
  pkgs/desktops/xfce/panel-plugins/xfce4-whiskermenu-plugin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce, 10.rebuild-linux: 1

#213370 xfce.xfce4-datetime-plugin: 0.8.2 -> 0.8.3
  pkgs/desktops/xfce/panel-plugins/xfce4-datetime-plugin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce, 10.rebuild-linux: 1

#213367 xfce.libxfce4util: 4.18.0 -> 4.18.1
  pkgs/desktops/xfce/core/libxfce4util/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 6.topic: xfce

#212968 goffice: 0.10.53 → 0.10.54, gnumeric: 1.12.53 → 1.12.54
  pkgs/applications/office/gnumeric/default.nix
  pkgs/development/libraries/goffice/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213383 xfce.xfdesktop: 4.18.0 -> 4.18.1
  pkgs/desktops/xfce/core/xfdesktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce, 10.rebuild-linux: 1

#213372 xfce.xfce4-panel: 4.18.0 -> 4.18.1
  pkgs/desktops/xfce/core/xfce4-panel/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 6.topic: xfce

#213406 raft-canonical: 0.16.0 -> 0.17.1
  pkgs/development/libraries/dqlite/default.nix
  pkgs/development/libraries/raft-canonical/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#212303 build-rust-crate: handle ILP32 platforms correctly
  pkgs/build-support/rust/build-rust-crate/configure-crate.nix
Labels: 6.topic: rust, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#213866 python3Packages.pytest-rerunfailures: 10.3 → 11.0
  pkgs/development/python-modules/pytest-rerunfailures/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#213892 musikcube: replace alias libgme with game-music-emu
  pkgs/applications/audio/musikcube/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#213889 ruff: 0.0.238 -> 0.0.239
  pkgs/development/tools/ruff/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213860 nextdns: 1.38.0 -> 1.39.4
  pkgs/applications/networking/nextdns/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213861 iotop-c: 1.22 -> 1.23
  pkgs/os-specific/linux/iotop-c/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213887 quick-lint-js: 2.9.0 -> 2.11.0
  pkgs/development/tools/quick-lint-js/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213895 goa: 3.10.2 -> 3.11.0
  pkgs/development/tools/goa/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213875 proxmark3-rrg: 4.15864 -> 4.16191
  pkgs/tools/security/proxmark3/proxmark3-rrg.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213830 xsane: fix src location
  pkgs/applications/graphics/sane/xsane.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213894 deepin.deepin-terminal: init at 5.4.34
  pkgs/desktops/deepin/apps/deepin-terminal/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213904 cloudfox: 1.9.0 -> 1.9.1
  pkgs/tools/security/cloudfox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213880 roon-server: 2.0-1193 -> 2.0-1202
  pkgs/servers/roon-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213859 automatic-timezoned: 1.0.60 -> 1.0.61
  pkgs/tools/system/automatic-timezoned/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213148 python310Packages.fastavro: 1.7.0 -> 1.7.1
  pkgs/development/python-modules/fastavro/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213900 ddosify: 0.13.0 -> 0.13.1
  pkgs/development/tools/ddosify/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213800 python310Packages.ghrepo-stats: 0.5.0 -> 0.5.1
  pkgs/development/python-modules/ghrepo-stats/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213417 python310Packages.airtouch4pyapi: 1.0.5 -> 1.0.8
  pkgs/development/python-modules/airtouch4pyapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#211027 python310Packages.python-benedict: 0.28.0 -> 0.28.3
  pkgs/development/python-modules/python-benedict/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#212544 coqPackages_8_17.equations: init at 1.3+8.17
  pkgs/development/coq-modules/equations/default.nix
Labels: 8.has: package (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq

#213906 rymdport: 3.3.0 -> 3.3.1
  pkgs/applications/networking/rymdport/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213662 binutils: symlink libraries and headers for "target" to lib/ and include/
  pkgs/development/compilers/llvm/10/llvm/default.nix
  pkgs/development/compilers/llvm/11/llvm/default.nix
  pkgs/development/compilers/llvm/12/llvm/default.nix
  pkgs/development/compilers/llvm/13/llvm/default.nix
  pkgs/development/compilers/llvm/14/llvm/default.nix
  pkgs/development/compilers/llvm/15/llvm/default.nix
  pkgs/development/compilers/llvm/5/llvm/default.nix
  pkgs/development/compilers/llvm/6/llvm/default.nix
  pkgs/development/compilers/llvm/7/llvm/default.nix
  pkgs/development/compilers/llvm/8/llvm/default.nix
  pkgs/development/compilers/llvm/9/llvm/default.nix
  pkgs/development/tools/misc/binutils/default.nix
  pkgs/development/tools/misc/binutils/libbfd.nix
  pkgs/development/tools/misc/binutils/libopcodes.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#213869 pipewire: enable strictDeps
  pkgs/development/libraries/pipewire/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 2501-5000

#213898 wasmer: 3.1.0 -> 3.1.1
  pkgs/development/interpreters/wasmer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213784 Run the defaultPkgConfigPackages tests on hydra
  maintainers/scripts/eval-release.nix
  pkgs/top-level/pkg-config/test-defaultPkgConfigPackages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#213902 go-graft: 0.2.15 -> 0.2.16
  pkgs/applications/networking/go-graft/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213821 prowlarr: 1.1.1.2377 -> 1.1.2.2453
  pkgs/servers/prowlarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213909 gcc/common/configure-flags.nix: fix comment
  pkgs/development/compilers/gcc/common/configure-flags.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#213903 mark: 8.6 -> 8.7
  pkgs/tools/text/mark/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213913 python311Full: use python311
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213844 crun: 1.7.2 -> 1.8
  pkgs/applications/virtualization/crun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#213910 ppsspp: fixup after https://github.com/NixOS/nixpkgs/pull/213533
  pkgs/applications/emulators/ppsspp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#213908 python310Packages.apycula: 0.6.1 -> 0.6.2
  pkgs/development/python-modules/apycula/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#212636 ttfb: init at 1.6.0
  maintainers/maintainer-list.nix
  pkgs/development/tools/ttfb/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#211319 python3Packages.m2crypto: 0.36.0 -> 0.38.0
  pkgs/development/python-modules/m2crypto/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213758 crispyDoom: 5.11.1 -> 5.12.0
  pkgs/games/crispy-doom/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213890 roboto-serif: init at 1.007
  pkgs/data/fonts/roboto-serif/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213877 cotp: 1.1.0 -> 1.2.1
  pkgs/applications/misc/cotp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213928 python311Packages.amaranth: fix build
  pkgs/development/python-modules/amaranth/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213863 glmark2: 2021.12 -> 2023.01
  pkgs/tools/graphics/glmark2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213046 libde265: 1.0.9 -> 1.0.10
  pkgs/development/libraries/libde265/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 12.approvals: 1, backport staging-22.11

#210131 python310Packages.wheel: 0.37.1 -> 0.38.4
  pkgs/development/python-modules/wheel/0001-tests-Rename-a-a-o-_-.py-_-.py.patch
  pkgs/development/python-modules/wheel/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#213886 sublime-merge-dev: 2081 -> 2082
  pkgs/applications/version-management/sublime-merge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213870 tgt: 1.0.84 -> 1.0.85
  pkgs/tools/networking/tgt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213837 zprint: 1.2.4 -> 1.2.5
  pkgs/development/tools/zprint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213818 lsp-plugins: 1.2.4 -> 1.2.5
  pkgs/applications/audio/lsp-plugins/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#213767 swayimg: 1.9 -> 1.10
  pkgs/tools/wayland/swayimg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#213776 unciv: 4.4.3 -> 4.4.6
  pkgs/games/unciv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#211410 ruby: 2.7.6 -> 2.7.7, 3.0.4 -> 3.0.5
  pkgs/development/interpreters/ruby/default.nix
  pkgs/development/interpreters/ruby/patchsets.nix
  pkgs/development/interpreters/ruby/rvm-patchsets.nix
Labels: 1.severity: security, 6.topic: ruby, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500, backport release-22.11

#213885 live555: 2022.12.01 -> 2023.01.19
  pkgs/development/libraries/live555/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#211885 libunistring: enableParallelChecking = false
  pkgs/development/libraries/libunistring/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#212040 libssh: 0.10.0 -> 0.10.4
  pkgs/development/libraries/libssh/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000

#207071 gnupg: 2.3.7 -> 2.4.0
  pkgs/development/libraries/libassuan/default.nix
  pkgs/development/libraries/libgpg-error/default.nix
  pkgs/tools/security/gnupg/24.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+

#209499 libglvnd: 1.5.0 -> 1.6.0
  pkgs/development/libraries/libglvnd/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 1001-2500

#207873 ethtool: 6.0 -> 6.1
  pkgs/tools/misc/ethtool/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500

#213545 ocamlPackages.ocaml-r: 0.4.0 -> 0.6.0
  pkgs/development/ocaml-modules/ocaml-r/default.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#213884 python310Packages.openstacksdk: 0.103.0 -> 1.0.0
  pkgs/development/python-modules/openstacksdk/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#213948 systeroid: 0.3.0 -> 0.3.1
  pkgs/tools/system/systeroid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213947 wimboot: 2.7.4 -> 2.7.5
  pkgs/tools/misc/wimboot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213942 pinocchio: 2.6.14 -> 2.6.15
  pkgs/development/libraries/pinocchio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#213935 python3Packages.eigenpy: 2.9.0 -> 2.9.1
  pkgs/development/python-modules/eigenpy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#212961 libfabric: revert to 1.15.1
  pkgs/development/libraries/libfabric/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#213938 got: 0.82 -> 0.83
  pkgs/applications/version-management/got/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213893 erlang: 25.2.1 -> 25.2.2
  pkgs/development/interpreters/erlang/R25.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#213807 biodiff: 1.0.3 -> 1.0.4
  pkgs/development/tools/biodiff/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213966 wallabag: 2.5.2 -> 2.5.3
  pkgs/servers/web-apps/wallabag/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.11

#212030 file: 5.43 -> 5.44
  pkgs/tools/misc/file/default.nix
Labels: 12.approvals: 1

#212171 iconv: init (portable attribute for iconv(1))
  pkgs/tools/inputmethods/skk/skk-dicts/default.nix
  pkgs/tools/text/cmigemo/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: portability

#213929 gcc: revert "provide both native and cross forms of gcc.libs libraries"
  pkgs/development/compilers/gcc/10/default.nix
  pkgs/development/compilers/gcc/11/default.nix
  pkgs/development/compilers/gcc/12/default.nix
  pkgs/development/compilers/gcc/4.8/default.nix
  pkgs/development/compilers/gcc/4.9/default.nix
  pkgs/development/compilers/gcc/6/default.nix
  pkgs/development/compilers/gcc/7/default.nix
  pkgs/development/compilers/gcc/8/default.nix
  pkgs/development/compilers/gcc/9/default.nix
  pkgs/development/compilers/gcc/builder.sh
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#213997 python3Packages.django_3: 3.2.16 -> 3.2.17
  pkgs/development/python-modules/django/3.nix
Labels: 6.topic: python, 1.severity: security, backport staging-22.11

#213956 python3Packages.fiona: 1.8.22 -> 1.9.0
  pkgs/development/python-modules/fiona/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#213878 briar-desktop: 0.3.1-beta -> 0.4.0-beta
  pkgs/applications/networking/instant-messengers/briar-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#214002 gitea: fix build info
  pkgs/applications/version-management/gitea/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#214004 kubeone: 1.5.5 -> 1.5.6
  pkgs/applications/networking/cluster/kubeone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#214000 numix-icon-theme-circle: 23.01.25 -> 23.01.29
  pkgs/data/icons/numix-icon-theme-circle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#214009 argocd-autopilot: 0.4.10 -> 0.4.11
  pkgs/applications/networking/cluster/argocd-autopilot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#214005 umockdev: 0.17.15 -> 0.17.16
  pkgs/development/libraries/umockdev/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#213991 jellyfin-ffmpeg: 5.1.2-6 -> 5.1.2-7
  pkgs/development/libraries/jellyfin-ffmpeg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#213999 qiv: 2.3.2 -> 2.3.3
  pkgs/applications/graphics/qiv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213995 rtsp-simple-server: 0.21.1 -> 0.21.2
  pkgs/servers/rtsp-simple-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#214003 flex-ncat: 0.1-20221109.1 -> 0.2-20230126.0
  pkgs/applications/radio/flex-ncat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213988 pantheon-tweaks: 1.0.4 -> 1.1.0
  pkgs/desktops/pantheon/third-party/pantheon-tweaks/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon, 10.rebuild-linux: 1

#213994 mubeng: 0.12.0-dev -> 0.13.0
  pkgs/tools/networking/mubeng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213984 yesplaymusic: 0.4.5 -> 0.4.7
  pkgs/applications/audio/yesplaymusic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213982 cozette: 1.13.0 -> 1.19.0
  pkgs/data/fonts/cozette/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213977 erigon: 2.35.2 -> 2.37.0
  pkgs/applications/blockchains/erigon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213962 pgmodeler: 1.0.0-beta1 -> 1.0.0
  pkgs/applications/misc/pgmodeler/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213980 glow: 1.4.1 -> 1.5.0
  pkgs/applications/editors/glow/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213979 tanka: 0.23.1 -> 0.24.0
  pkgs/applications/networking/cluster/tanka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213973 teler: 2.0.0-dev.2 -> 2.0.0-dev.3
  pkgs/tools/security/teler/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213625 cmocka: enable tests and set broken for static
  pkgs/development/libraries/cmocka/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 6.topic: static

#213955 numix-icon-theme-square: 23.01.25 -> 23.01.29
  pkgs/data/icons/numix-icon-theme-square/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213954 osdlyrics: 0.5.12 -> 0.5.13
  pkgs/applications/audio/osdlyrics/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213964 consul: 1.14.3 -> 1.14.4
  pkgs/servers/consul/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213957 kubie: 0.19.1 -> 0.19.2
  pkgs/development/tools/kubie/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213949 fclones: 0.29.1 -> 0.29.3
  pkgs/tools/misc/fclones/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213963 jet: 0.3.21 -> 0.4.23
  pkgs/development/tools/jet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213967 overmind: 2.3.0 -> 2.4.0
  pkgs/applications/misc/overmind/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#212894 python310Packages.glean-parser: 6.4.0 -> 7.0.0
  pkgs/development/python-modules/glean-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#213959 python3Packages.glean-sdk: 51.2.0 -> 52.2.0
  pkgs/development/python-modules/glean-sdk/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#213958 keystore-explorer: 5.5.1 -> 5.5.2
  pkgs/applications/misc/keystore-explorer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213950 betaflight-configurator: 10.8.0 -> 10.9.0
  pkgs/applications/science/robotics/betaflight-configurator/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#213972 morgen: 2.5.16 -> 2.6.4, update electron version
  pkgs/applications/office/morgen/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#213937 python3Packages.etebase: 0.31.5 -> 0.31.6
  pkgs/development/python-modules/etebase/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#214018 zigbee2mqtt: 1.29.2 -> 1.30.0
  pkgs/servers/zigbee2mqtt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#214016 python310Packages.rising: 0.2.1 -> 0.3.0
  pkgs/development/python-modules/rising/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#213872 libffcall: 2.2 -> 2.4
  pkgs/development/libraries/libffcall/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#214023 openmpi: fix for newer libfabric
  pkgs/development/libraries/libfabric/default.nix
  pkgs/development/libraries/openmpi/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#213873 rustc: apply patch to fix thin archive reading
  pkgs/development/compilers/rust/1_67.nix
Labels: 6.topic: rust, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#214043 element-{web,desktop}: 1.11.20 -> 1.11.22
  pkgs/applications/networking/instant-messengers/element/pin.json
  pkgs/applications/networking/instant-messengers/element/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-22.11

#214056 nixos/doc: fix typo in python.section.md
  doc/languages-frameworks/python.section.md
Labels: 6.topic: python, 8.has: documentation

#214052 cmark-gfm: 0.29.0.gfm.8 -> 0.29.0.gfm.9
  pkgs/development/libraries/cmark-gfm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#214019 hqplayerd: 4.33.0-96 -> 4.34.0-100
  nixos/modules/services/audio/hqplayerd.nix
  pkgs/servers/hqplayerd/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#214017 linuxKernel.kernels: update
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-6.1.nix
  pkgs/os-specific/linux/kernel/linux-rt-5.10.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1

#214035 wasm-bindgen-cli: 0.2.83 -> 0.2.84
  pkgs/development/tools/wasm-bindgen-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
