Repository NixOS/nixpkgs, pull requests merged in 2023-01, with the labels that each got.

#208540 clhep: 2.4.6.2 -> 2.4.6.3
  pkgs/development/libraries/physics/clhep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#206731 simplescreenrecorder: Make available on more platforms
  pkgs/applications/video/simplescreenrecorder/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208386 lemmy-help: 0.10.0 -> 0.11.0
  pkgs/tools/misc/lemmy-help/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#205811 libsolv: Build without RPM dependency on darwin
  pkgs/development/libraries/libsolv/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#207321 oneko, xearth, xskat, xsok, x11_ssh_askpass: unbreak on aarch64-darwin
  pkgs/applications/misc/oneko/default.nix
  pkgs/applications/science/astronomy/xearth/default.nix
  pkgs/games/xskat/default.nix
  pkgs/games/xsok/default.nix
  pkgs/servers/x11/xorg/overrides.nix
  pkgs/tools/networking/x11-ssh-askpass/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+

#208572 ssh-to-age: 1.0.3 -> 1.1.0
  pkgs/tools/security/ssh-to-age/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208569 vitess: 15.0.1 -> 15.0.2
  pkgs/development/tools/database/vitess/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207267 sentry-cli: 2.10.0 -> 2.11.0
  pkgs/development/tools/sentry-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#207252 goresym: 2.0 -> 2.1
  pkgs/development/tools/goresym/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#207239 metabase: 0.44.5 -> 0.45.1
  pkgs/servers/metabase/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#194927 benthos: 4.9.0 -> 4.11.0
  pkgs/development/tools/benthos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#207222 kubernetes-controller-tools: 0.10.0 -> 0.11.1
  pkgs/development/tools/kubernetes-controller-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#148921 nixos-rebuild: Treat any build/target host as non-local
  pkgs/os-specific/linux/nixos-rebuild/nixos-rebuild.sh
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#208564 flashrom: 1.2 -> 1.2.1
  pkgs/tools/misc/flashrom/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208557 tippecanoe: 2.16.0 -> 2.17.0
  pkgs/applications/misc/tippecanoe/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208570 snappymail: 2.24.1 -> 2.24.3
  pkgs/servers/snappymail/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207224 nix-bash-completions: don't handle the `nix` command
  pkgs/shells/bash/nix-bash-completions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, backport release-22.11

#208377 nixos/cloudflared: wait for network-online.target
  nixos/modules/services/networking/cloudflared.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#199425 added dependency to systemd
  nixos/modules/installer/tools/nixos-enter.sh
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#208566 treesheets: unstable-2022-12-13 -> unstable-2022-12-30
  pkgs/applications/office/treesheets/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208425 [22.11] python310Packages.statmake: 0.5.1 -> 0.6.0
  pkgs/development/python-modules/statmake/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208168 `types.path`: Do not allow lists of strings
  lib/default.nix
  lib/strings.nix
  lib/types.nix
  nixos/modules/services/misc/nix-daemon.nix
  nixos/modules/services/system/self-deploy.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: module system

#208606 COPYING: 2022 -> 2023
  COPYING
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#195945 nixos/wg-quick: use nftables if enabled
  nixos/modules/services/networking/wg-quick.nix
  nixos/tests/wireguard/basic.nix
  nixos/tests/wireguard/default.nix
  nixos/tests/wireguard/generated.nix
  nixos/tests/wireguard/namespaces.nix
  nixos/tests/wireguard/wg-quick.nix
  pkgs/tools/networking/wireguard-tools/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#208176 .editorconfig: disallow trailing whitespace for markdown again
  .editorconfig
  doc/builders/images/makediskimage.section.md
  doc/builders/testers.chapter.md
  doc/languages-frameworks/go.section.md
  nixos/doc/manual/from_md/release-notes/rl-2205.section.xml
  nixos/doc/manual/release-notes/rl-2205.section.md
  nixos/doc/manual/release-notes/rl-2305.section.md
  pkgs/servers/nextcloud/packages/README.md
  pkgs/servers/web-apps/wordpress/packages/README.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 6.topic: golang, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#205933 nixos/nix-daemon: remove nixbld users if auto-allocating UIDs
  nixos/modules/services/misc/nix-daemon.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#208617 pwntools: 4.8.0 -> 4.9.0
  pkgs/development/python-modules/pwntools/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#204840 stdenv/check-meta: deep type checks
  doc/using/overrides.chapter.md
  lib/customisation.nix
  lib/generators.nix
  pkgs/applications/misc/keepass-plugins/otpkeyprov/default.nix
  pkgs/games/quake3/quake3e/default.nix
  pkgs/os-specific/linux/kernel/linux-rpi.nix
  pkgs/servers/x11/xorg/overrides.nix
  pkgs/stdenv/generic/check-meta.nix
  pkgs/tools/security/onlykey-agent/default.nix
Labels: 6.topic: kernel, 8.has: documentation, 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: stdenv

#205038 [22.05] vscode: 1.69.2 -> 1.73.1
  pkgs/applications/editors/vscode/generic.nix
  pkgs/applications/editors/vscode/vscode.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2

#208553 furnace: 0.6pre2 -> 0.6pre3
  pkgs/applications/audio/furnace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#205034 [22.05] vscodium: 1.70.0 -> 1.73.1.22314
  pkgs/applications/editors/vscode/vscodium.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 2

#208600 python310Packages.pysmbc: 1.0.23 -> 1.0.24
  pkgs/development/python-modules/pysmbc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208365 xnec2c: init at 4.4.12
  pkgs/applications/science/physics/xnec2c/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208589 python310Packages.hcloud: 1.18.1 -> 1.18.2
  pkgs/development/python-modules/hcloud/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208587 python310Packages.beancount-parser: 0.1.21 -> 0.1.23
  pkgs/development/python-modules/beancount-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208624 22.05 EOL Cleanups
  .github/workflows/periodic-merge-24h.yml
  lib/trivial.nix
Labels: 6.topic: policy discussion, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#208128 eartag: 0.2.1 -> 0.3.1
  pkgs/applications/audio/eartag/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208596 python310Packages.pdf2image: 1.16.0 -> 1.16.2
  pkgs/development/python-modules/pdf2image/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208584 python39Packages.schema-salad: 8.3.20220913105718 -> 8.3.20221209165047
  pkgs/development/python-modules/schema-salad/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208592 sleuthkit: 4.11.1 -> 4.12.0
  pkgs/tools/system/sleuthkit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#206203 dufs: skip checkPhase on darwin
  pkgs/servers/http/dufs/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#208565 whois: 5.5.14 -> 5.5.15
  pkgs/tools/networking/whois/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208511 prometheus-xmpp-alerts: Fix broken binary
  pkgs/servers/monitoring/prometheus/xmpp-alerts.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#202106 pkgsStatic.lm_sensors: fix build
  pkgs/os-specific/linux/lm-sensors/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#208626 svg2pdf: 0.4.0 -> 0.4.1
  pkgs/tools/graphics/svg2pdf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208560 tflint: 0.43.0 -> 0.44.1
  pkgs/development/tools/analysis/tflint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208558 litefs: 0.2.0 -> 0.3.0
  pkgs/development/tools/database/litefs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207947 django-scim2: init at 0.17.3
  pkgs/development/python-modules/django-scim2/default.nix
  pkgs/development/python-modules/scim2-filter-parser/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#207590 firefox_decrypt: unstable-2021-12-29 -> unstable-2022-12-21
  pkgs/tools/security/firefox_decrypt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208415 cargo-tally: 1.0.19 -> 1.0.21
  pkgs/development/tools/rust/cargo-tally/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208591 moar: 1.11.1 -> 1.11.2
  pkgs/tools/misc/moar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208650 chromium: Drop passthru.updateScript
  pkgs/applications/networking/browsers/chromium/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#208649 chromiumDev: 110.0.5464.2 -> 110.0.5478.4
  pkgs/applications/networking/browsers/chromium/upstream-info.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208645 wiki-tui: 0.6.0 -> 0.6.1
  pkgs/misc/wiki-tui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#206892 python3Packages.imageio: 2.22.4 -> 2.23.0
  pkgs/development/python-modules/imageio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 8.has: upstream changes reviewed

#208658 vimPlugins.mediawiki-vim: init at 2015-11-15
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/nvim-treesitter/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#208402 ArchiSteamFarm: 5.3.2.4 -> 5.4.0.3, fix plugins
  pkgs/applications/misc/ArchiSteamFarm/default.nix
  pkgs/applications/misc/ArchiSteamFarm/deps.nix
  pkgs/applications/misc/ArchiSteamFarm/update.sh
  pkgs/applications/misc/ArchiSteamFarm/web-ui/default.nix
  pkgs/applications/misc/ArchiSteamFarm/web-ui/node-packages.nix
  pkgs/applications/misc/ArchiSteamFarm/web-ui/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#208257 bcachefs-tools: add symlink for mount.bcachefs and fix runtime deps
  nixos/modules/tasks/filesystems/bcachefs.nix
  nixos/tests/installer.nix
  pkgs/os-specific/linux/kernel/linux-testing-bcachefs.nix
  pkgs/tools/filesystems/bcachefs-tools/default.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: nixos, 6.topic: kernel, 8.has: module (update), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#207628 ocamlPackages.imagelib: 20210511 → 20221222
  pkgs/development/ocaml-modules/imagelib/default.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, backport release-22.11

#208024 xorg:xhost: 1.0.8 -> 1.0.9
  pkgs/servers/x11/xorg/default.nix
  pkgs/servers/x11/xorg/tarballs.list
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208664 vimPlugins.vim-mediawiki-editor: init at 2022-10-29
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/overrides.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#207134 nixos/no-x-libs: add mpv-unwrapped, gst_all_1.gst-plugins-base
  nixos/modules/config/no-x-libs.nix
  pkgs/development/libraries/gstreamer/base/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1

#208655 nil: 2022-12-01 -> 2023-01-01
  pkgs/development/tools/language-servers/nil/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208417 pods: 1.0.0-rc.3 -> 1.0.1
  pkgs/applications/virtualization/pods/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#206651 s2n-tls: 1.3.30 -> 1.3.31
  pkgs/development/libraries/s2n-tls/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#206459 aws-c-mqtt: 0.8.1 -> 0.8.2
  pkgs/development/libraries/aws-c-mqtt/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#205720 aws-checksums: 0.1.13 -> 0.1.14
  pkgs/development/libraries/aws-checksums/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#205716 aws-c-s3: 0.2.0 -> 0.2.1
  pkgs/development/libraries/aws-c-s3/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#205253 aws-c-http: 0.6.27 -> 0.6.28
  pkgs/development/libraries/aws-c-http/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#208185 mattermost: 7.5.1 -> 7.5.2
  pkgs/servers/mattermost/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-22.11

#208043 age 1.0.0 -> 1.1.1
  pkgs/tools/security/age/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-22.11

#207385 mmctl: 7.5.1 -> 7.5.2
  pkgs/tools/misc/mmctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, backport release-22.11

#208544 star-history: 1.0.7 -> 1.0.8
  pkgs/tools/misc/star-history/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208602 ares: fix build on darwin
  pkgs/applications/emulators/bsnes/ares/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207948 nanosaur,nanosaur2,otto-matic: cleanup cmake build
  pkgs/games/nanosaur/default.nix
  pkgs/games/nanosaur2/default.nix
  pkgs/games/otto-matic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#208054 ell: 0.54 -> 0.55, iwd: 2.0 -> 2.1
  pkgs/os-specific/linux/ell/default.nix
  pkgs/os-specific/linux/iwd/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 2501-5000

#208568 nurl: 0.1.1 -> 0.2.2
  pkgs/applications/editors/vim/plugins/nvim-treesitter/generated.nix
  pkgs/applications/editors/vim/plugins/nvim-treesitter/update.py
  pkgs/tools/misc/nurl/default.nix
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208684 maintainers: update wesleyjrz email
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#208661 prowlarr: 1.0.0.2171 -> 1.0.1.2210
  pkgs/servers/prowlarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208512 CONTRIBUTING.md: clarify some directives about `meta` attributes
  CONTRIBUTING.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#201847 bitwig-studio: fix crash when creating user color palette via importing a JPEG image
  pkgs/applications/audio/bitwig-studio/bitwig-studio4.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#208586 libsForQt5.libopenshot-audio: 0.2.2 -> 0.3.0
  pkgs/applications/video/openshot-qt/libopenshot-audio.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208555 palemoon: 31.4.1.1 -> 31.4.2
  pkgs/applications/networking/browsers/palemoon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-22.11

#205061 go_1_20: init at 1.20rc1
  pkgs/development/compilers/go/1.20.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 6.topic: golang, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208491 ncspot: 0.11.2 -> 0.12.0
  pkgs/applications/audio/ncspot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208710 moar: 1.11.2 -> 1.11.3
  pkgs/tools/misc/moar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208709 edk2: don't hardcode OSes in meta.platforms
  pkgs/development/compilers/edk2/default.nix
Labels: 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#208637 highlight-assertions: unstable-2022-11-24 -> 0.1.6
  pkgs/development/tools/misc/highlight-assertions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207715 GNOME: enable debug info for more crash-prone libs
  pkgs/desktops/gnome/core/gnome-control-center/default.nix
  pkgs/development/libraries/gnome-online-accounts/default.nix
  pkgs/development/libraries/gvfs/default.nix
  pkgs/development/libraries/librest/1.0.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#208428 Add a patch to allow `true-name` to build with current template-haskell.
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/configuration-hackage2nix/broken.yaml
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#181151 pkgs/top-level/release-cross.nix: add Hydra jobs for pkgsCross.platform.nixStatic
  pkgs/top-level/release-cross.nix
Labels: 6.topic: cross-compilation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#208711 terraform-providers: add github token to update-providers
  .github/workflows/update-terraform-providers.yml
  pkgs/applications/networking/cluster/terraform-providers/update-provider
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#208101 python310Packages.google-auth: 2.14.0 -> 2.15.0, python310Packages.google-api-core: 2.10.2 -> 2.11.0
  pkgs/development/python-modules/cirq-google/default.nix
  pkgs/development/python-modules/google-api-core/default.nix
  pkgs/development/python-modules/google-auth-httplib2/default.nix
  pkgs/development/python-modules/google-auth/default.nix
  pkgs/development/python-modules/google-cloud-access-context-manager/default.nix
  pkgs/development/python-modules/google-cloud-appengine-logging/default.nix
  pkgs/development/python-modules/google-cloud-asset/default.nix
  pkgs/development/python-modules/google-cloud-audit-log/default.nix
  pkgs/development/python-modules/google-cloud-automl/default.nix
  pkgs/development/python-modules/google-cloud-bigquery-datatransfer/default.nix
  pkgs/development/python-modules/google-cloud-bigquery-logging/default.nix
  pkgs/development/python-modules/google-cloud-bigquery-storage/default.nix
  pkgs/development/python-modules/google-cloud-bigquery/default.nix
  pkgs/development/python-modules/google-cloud-bigtable/default.nix
  pkgs/development/python-modules/google-cloud-compute/default.nix
  pkgs/development/python-modules/google-cloud-container/default.nix
  pkgs/development/python-modules/google-cloud-core/default.nix
  pkgs/development/python-modules/google-cloud-datacatalog/default.nix
  pkgs/development/python-modules/google-cloud-dataproc/default.nix
  pkgs/development/python-modules/google-cloud-datastore/default.nix
  pkgs/development/python-modules/google-cloud-dlp/default.nix
  pkgs/development/python-modules/google-cloud-dns/default.nix
  pkgs/development/python-modules/google-cloud-error-reporting/default.nix
  pkgs/development/python-modules/google-cloud-firestore/default.nix
  pkgs/development/python-modules/google-cloud-iam-logging/default.nix
  pkgs/development/python-modules/google-cloud-iam/default.nix
  pkgs/development/python-modules/google-cloud-iot/default.nix
  pkgs/development/python-modules/google-cloud-kms/default.nix
  pkgs/development/python-modules/google-cloud-language/default.nix
  pkgs/development/python-modules/google-cloud-logging/default.nix
  pkgs/development/python-modules/google-cloud-monitoring/default.nix
  pkgs/development/python-modules/google-cloud-org-policy/default.nix
  pkgs/development/python-modules/google-cloud-os-config/default.nix
  pkgs/development/python-modules/google-cloud-pubsub/default.nix
  pkgs/development/python-modules/google-cloud-redis/default.nix
  pkgs/development/python-modules/google-cloud-resource-manager/default.nix
  pkgs/development/python-modules/google-cloud-runtimeconfig/default.nix
  pkgs/development/python-modules/google-cloud-secret-manager/default.nix
  pkgs/development/python-modules/google-cloud-securitycenter/default.nix
  pkgs/development/python-modules/google-cloud-spanner/default.nix
  pkgs/development/python-modules/google-cloud-speech/default.nix
  pkgs/development/python-modules/google-cloud-storage/default.nix
  pkgs/development/python-modules/google-cloud-tasks/default.nix
  pkgs/development/python-modules/google-cloud-testutils/default.nix
  pkgs/development/python-modules/google-cloud-texttospeech/default.nix
  pkgs/development/python-modules/google-cloud-trace/default.nix
  pkgs/development/python-modules/google-cloud-translate/default.nix
  pkgs/development/python-modules/google-cloud-videointelligence/default.nix
  pkgs/development/python-modules/google-cloud-vision/default.nix
  pkgs/development/python-modules/google-cloud-websecurityscanner/default.nix
  pkgs/development/python-modules/google-resumable-media/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#208705 python310Packages.aiounifi: 42 -> 43
  pkgs/development/python-modules/aiounifi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208647 cadaver: 0.23.3 -> 0.24
  pkgs/tools/networking/cadaver/configure.patch
  pkgs/tools/networking/cadaver/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208640 metasploit: 6.2.32 -> 6.2.33
  pkgs/tools/security/metasploit/Gemfile
  pkgs/tools/security/metasploit/Gemfile.lock
  pkgs/tools/security/metasploit/default.nix
  pkgs/tools/security/metasploit/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#208633 trivy: 0.35.0 -> 0.36.0
  pkgs/tools/admin/trivy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208651 python310Packages.pytest-relaxed: 1.1.5 -> 2.0.0
  pkgs/development/python-modules/pytest-relaxed/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208724 evcxr: 0.14.1 -> 0.14.2
  pkgs/development/interpreters/evcxr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208561 lite-xl: 2.1.0 -> 2.1.1
  pkgs/applications/editors/lite-xl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208520 whitesur-icon-theme: etc
  pkgs/data/icons/whitesur-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208646 dataexplorer: pin jdk17
  pkgs/applications/science/electronics/dataexplorer/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#206284 sile 0.14.7
  pkgs/tools/typesetting/sile/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#185719 luaPackages.lsqlite3complete: init at 0.9.5-1
  pkgs/top-level/lua-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: lua

#208290 gitea: 1.17.4 -> 1.18.0
  nixos/modules/services/misc/gitea.nix
  pkgs/applications/version-management/gitea/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#208631 tinygltf: 2.6.3 -> 2.7.0
  pkgs/development/libraries/tinygltf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208641 jellyfin-media-player: disable pipewireSupport in mpv to fix segfault
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-22.11

#208619 qpwgraph: 0.3.6 -> 0.3.9
  pkgs/applications/audio/qpwgraph/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208436 jetty: 11.0.12 -> 11.0.13
  pkgs/servers/http/jetty/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208579 qownnotes: 22.11.7 -> 22.12.3
  pkgs/applications/office/qownnotes/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208552 libvgm: unstable-2022-08-02 -> unstable-2022-11-25
  pkgs/development/libraries/libvgm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#208488 mousai: Fix 'Namespace Gtk not available'
  pkgs/applications/audio/mousai/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208532 wolfssl: 5.5.3 -> 5.5.4
  pkgs/development/libraries/wolfssl/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#208368 remote-touchpad: 1.2.2 -> 1.2.3
  pkgs/tools/inputmethods/remote-touchpad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-22.11

#208153 tutanota-desktop: 3.105.9 -> 3.106.4
  pkgs/applications/networking/mailreaders/tutanota-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#208620 rubyPackages.loofah: 2.19.0 -> 2.19.1
  pkgs/top-level/ruby-packages.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-22.11

#208442 pgpool: 4.3.3 -> 4.4.1
  pkgs/servers/sql/pgpool/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208222 java-service-wrapper: 3.5.50 -> 3.5.51
  pkgs/tools/system/java-service-wrapper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#208076 quakespasm: 0.95.0 -> 0.95.1
  pkgs/games/quakespasm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208601 rubyPackages.nokogiri: 1.13.9 -> 1.13.10
  pkgs/top-level/ruby-packages.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-22.11

#207202 bookstack: 22.11 -> 22.11.1
  pkgs/servers/web-apps/bookstack/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#208013 openimageio2: 2.2.17.0 -> 2.4.6.1
  pkgs/applications/graphics/openimageio/2.x.nix
  pkgs/development/libraries/minizip-ng/default.nix
  pkgs/development/libraries/opencolorio/default.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#198803 fend: 1.1.1 -> 1.1.3
  pkgs/tools/misc/fend/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#197396 hoard: 1.0.1 -> 1.3.0
  pkgs/tools/misc/hoard/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 2

#207885 openfpgaloader: 0.9.1 -> 0.10.0
  pkgs/development/embedded/fpga/openfpgaloader/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208359 dcnnt: 0.7.1 -> 0.9.0
  pkgs/servers/dcnnt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#182332 l3afpad: init at unstable-2022-02-14
  pkgs/applications/editors/l3afpad/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#208088 pathvector: 6.0.2 -> 6.0.3
  pkgs/tools/networking/pathvector/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#208513 juicefs: 1.0.2 -> 1.0.3
  pkgs/tools/filesystems/juicefs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#208499 open-pdf-sign: 0.1.1 -> 0.1.2
  pkgs/tools/misc/open-pdf-sign/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#189967 lib/systems: fix uname.processor for powerpc and mips64
  lib/systems/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#208731 [22.11] vscode: add missing wayland runtimeDependency
  pkgs/applications/editors/vscode/generic.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: vscode

#207285 zen-kernels: {6.1-zen1,6.0.13-lqx3} -> 6.1.1
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#208735 Linux kernel updates 2023-01-02
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-6.0.nix
  pkgs/os-specific/linux/kernel/linux-6.1.nix
  pkgs/os-specific/linux/kernel/linux-libre.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1, backport release-22.11

#207396 libksi: 3.20.3025 -> 3.21.3075
  pkgs/development/libraries/libksi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#207397 ssh-askpass-fullscreen: 1.2 -> 1.3
  pkgs/tools/networking/ssh-askpass-fullscreen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#208656 python3Packages.azure-storage-blob: 12.13.1 -> 12.14.1
  pkgs/development/python-modules/azure-storage-blob/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#207334 tautulli: 2.10.5 -> 2.11.1
  pkgs/servers/tautulli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207214 way-displays: 1.6.0 -> 1.6.2
  pkgs/servers/tautulli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#207161 soapui: 5.6.0 -> 5.7.0
  pkgs/applications/networking/soapui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#208590 python310Packages.trezor: 0.13.4 -> 0.13.5
  pkgs/development/python-modules/trezor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208509 vaultenv: 0.14 -> 0.15.1.
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/tools/haskell/vaultenv/default.nix
Labels: 6.topic: haskell, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#206803 unit: 1.28.0 -> 1.29.0
  pkgs/servers/http/unit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#206802 hans: 1.0 -> 1.1
  pkgs/tools/networking/hans/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#207154 dwm-status: 1.8.0 -> 1.8.1
  pkgs/applications/window-managers/dwm/dwm-status.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#208450 darwin.builder: prefer shutting down over halting VM
  doc/builders/special/darwin-builder.section.md
  nixos/modules/profiles/macos-builder.nix
Labels: 6.topic: nixos, 6.topic: darwin, 8.has: documentation, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#206547 kube-score: 1.16.0 -> 1.16.1
  pkgs/applications/networking/cluster/kube-score/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#206548 kubent: 0.6.0 -> 0.7.0
  pkgs/applications/networking/cluster/kubent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#207840 pocketbase: 0.10.1 -> 0.10.4
  pkgs/servers/pocketbase/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1

#208096 nwg-dock: 0.3.2 -> 0.3.3
  pkgs/applications/misc/nwg-dock/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1
