Repository NixOS/nixpkgs, pull requests merged in 2023-11, with the labels that each got.

#264402 uuu: init at 1.5.125
  pkgs/by-name/uu/uuu/completion.bash
  pkgs/by-name/uu/uuu/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264321 python3Packages.sphinxcontrib-wavedrom: init at 3.0.4
  pkgs/development/python-modules/sphinxcontrib-wavedrom/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2

#256051 mosquitto: 2.0.17 -> 2.0.18
  pkgs/servers/mqtt/mosquitto/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-23.05

#264530 hugo: 0.119.0 -> 0.120.2
  pkgs/applications/misc/hugo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264516 c0: unstable-2022-10-25 -> unstable-2023-09-05
  pkgs/development/compilers/c0/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264267 audiobookshelf: 2.4.4 -> 2.5.0
  pkgs/servers/audiobookshelf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264643 ytt: 0.46.0 -> 0.46.2
  pkgs/development/tools/ytt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264649 cargo-dist: 0.4.1 -> 0.4.2
  pkgs/development/tools/rust/cargo-dist/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264263 waylock: 0.6.2 -> 0.6.3
  pkgs/applications/misc/waylock/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264527 guile-sjson: init at 0.2.2
  pkgs/by-name/gu/guile-sjson/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264673 python311Packages.hahomematic: 2023.10.13 -> 2023.10.14
  pkgs/development/python-modules/hahomematic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264181 drogon: 1.8.7 -> 1.9.0
  pkgs/development/libraries/drogon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#264117 armadillo: 12.6.4 -> 12.6.5
  pkgs/development/libraries/armadillo/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#264093 kubevpn: 2.0.0 -> 2.0.1
  pkgs/applications/networking/cluster/kubevpn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#263298 coqPackages.VST: 2.11.1 → 2.12
  pkgs/development/coq-modules/VST/default.nix
  pkgs/top-level/coq-packages.nix
Labels: 8.has: package (update), 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq

#264344 llvmPackages_12.openmp,llvmPackages_13.openmp: fix cross
  pkgs/development/compilers/llvm/12/openmp/default.nix
  pkgs/development/compilers/llvm/13/openmp/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 3+, 12.approved-by: package-maintainer

#264595 mkvtoolnix: 79.0 -> 80.0
  pkgs/applications/video/mkvtoolnix/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#263175 gvfs: support cross compilation
  pkgs/development/libraries/gvfs/default.nix
  pkgs/development/libraries/gvfs/hardcode-ssh-path.patch
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1

#263451 _9pfs: fix cross compilation
  pkgs/tools/filesystems/9pfs/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#263455 duperemove: fix cross compilation
  pkgs/tools/filesystems/duperemove/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#263465 sov: fix cross compilation
  pkgs/tools/wayland/sov/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#263135 gspell: enable vala for cross compilation
  pkgs/development/libraries/gspell/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#264622 yggdrasil: 0.4.7 -> 0.5.1 - backport 23.05
  pkgs/by-name/yg/yggdrasil/package.nix
  pkgs/tools/networking/yggdrasil/change-runtime-dir.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264367 broot: 1.26.1 -> 1.27.0
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264591 [staging-next] sageWithDoc: import sphinx 7 and 7.2 upgrade patches
  pkgs/applications/science/math/sage/sage-src.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#264745 python311Packages.nomadnet: 0.4.0 -> 0.4.1
  pkgs/development/python-modules/nomadnet/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 8.has: upstream changes reviewed

#264744 python311Packages.lxmf: 0.3.6 -> 0.3.7
  pkgs/development/python-modules/lxmf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264743 python311Packages.aioesphomeapi: 18.2.0 -> 18.2.1
  pkgs/development/python-modules/aioesphomeapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 8.has: upstream changes reviewed

#264741 python311Packages.aioelectricitymaps: 0.1.3 -> 0.1.4
  pkgs/development/python-modules/aioelectricitymaps/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 8.has: upstream changes reviewed

#264672 python311Packages.rns: 0.6.2 -> 0.6.3
  pkgs/development/python-modules/rns/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264713 python311Packages.yattag: 1.15.1 -> 1.15.2
  pkgs/development/python-modules/yattag/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#264747 exploitdb: 2023-10-26 -> 2023-11-01
  pkgs/tools/security/exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264746 trufflehog: 3.62.0 -> 3.62.1
  pkgs/tools/security/trufflehog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264703 python311Packages.pyftpdlib: 1.5.8 -> 1.5.9
  pkgs/development/python-modules/pyftpdlib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#264670 python311Packages.reolink-aio: 0.7.11 -> 0.7.12
  pkgs/development/python-modules/reolink-aio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264671 python311Packages.angr: 9.2.74 -> 9.2.75
  pkgs/development/python-modules/ailment/default.nix
  pkgs/development/python-modules/angr/default.nix
  pkgs/development/python-modules/archinfo/default.nix
  pkgs/development/python-modules/claripy/default.nix
  pkgs/development/python-modules/cle/default.nix
  pkgs/development/python-modules/pyvex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264689 python3Packages.db-dtypes: unbreak
  pkgs/development/python-modules/db-dtypes/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264679 python3Packages.asana: unbreak
  pkgs/development/python-modules/asana/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264474 localstack: 2.3.0 -> 2.3.2
  pkgs/development/python-modules/localstack/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#264694 pt2-clone: 1.64 -> 1.65.1
  pkgs/applications/audio/pt2-clone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264737 ft2-clone: 1.72.1 -> 1.73
  pkgs/applications/audio/ft2-clone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264217 visidata: 2.11 -> 2.11.1, praw: fix tests
  pkgs/applications/misc/visidata/default.nix
  pkgs/development/python-modules/praw/default.nix
  pkgs/development/python-modules/prawcore/default.nix
Labels: 6.topic: python, 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed, 12.approvals: 1

#264131 python311Packages.cohere: 4.26.1 -> 4.32
  pkgs/development/python-modules/cohere/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#263355 python311Packages.sqlite-migrate: init at version 0.1a2
  pkgs/development/python-modules/sqlite-migrate/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#262947 python311Packages.google-cloud-translate: 3.12.0 -> 3.12.1
  pkgs/development/python-modules/google-cloud-translate/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264586 lief: fix darwin support
  pkgs/development/libraries/lief/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12. first-time contribution

#264675 libaribcaption: init at 1.1.1
  pkgs/by-name/li/libaribcaption/package.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264563 mvapich: fix RPATH issues and infiniband build
  pkgs/development/libraries/mvapich/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#258397 kernelPackages.nct6687d: init at unstable-2023-09-22
  pkgs/os-specific/linux/nct6687d/default.nix
  pkgs/top-level/linux-kernels.nix
Labels: 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#264748 ibus-engines.typing-booster-unwrapped: 2.24.2 -> 2.24.4
  pkgs/tools/inputmethods/ibus-engines/ibus-typing-booster/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#264769 mmseqs2: 14-7e284 -> 15-6f452
  pkgs/applications/science/biology/mmseqs2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#257728 selenium: 4.12.0 -> 4.14.0
  pkgs/development/python-modules/selenium/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500

#264721 python311Packages.jinja2-pluralize: rename from jinja2_pluralize
  pkgs/development/python-modules/diff-cover/default.nix
  pkgs/development/python-modules/jinja2-pluralize/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#263772 clamav: 1.2.0 -> 1.2.1
  pkgs/tools/security/clamav/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#264376 circom: init at 2.1.6
  pkgs/by-name/ci/circom/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#261867 nixos/paperless: set PAPERLESS_SECRET_KEY
  nixos/modules/services/misc/paperless.nix
Labels: 6.topic: nixos, 1.severity: security, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#264497 qt6.qtwebengine: fix QtWebEngine build crash
  pkgs/development/libraries/qt-6/default.nix
  pkgs/development/libraries/qt-6/modules/qtwebengine.nix
  pkgs/stdenv/adapters.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 6.topic: stdenv, 12.approvals: 1

#264767 python311Packages.types-awscrt: 0.19.6 -> 0.19.7
  pkgs/development/python-modules/types-awscrt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264766 python311Packages.pysolcast: 1.0.15 -> 2.0.0
  pkgs/development/python-modules/pysolcast/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264765 mapcidr: 1.1.13 -> 1.1.14
  pkgs/tools/misc/mapcidr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#261238 vieb: 10.3.0 -> 10.4.0
  pkgs/applications/networking/browsers/vieb/default.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, needs_reviewer, awaiting_reviewer

#264697 tecla, libbladeRF: fix build with clang 16
  pkgs/development/libraries/libbladeRF/default.nix
  pkgs/development/libraries/tecla/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#264781 vencord: 1.6.1 -> 1.6.2
  pkgs/misc/vencord/default.nix
  pkgs/misc/vencord/package-lock.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-23.05

#264479 fstar: 2023.04.25 -> 2023.09.03
  pkgs/development/compilers/fstar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264798 python310Packages.dvc: update checksum
  pkgs/development/python-modules/dvc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264736 grpc_cli: 1.59.1 -> 1.59.2
  pkgs/tools/networking/grpc_cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264783 ttop: 1.2.6 -> 1.2.7
  pkgs/tools/system/ttop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264757 chart-testing: 3.9.0 -> 3.10.0
  pkgs/applications/networking/cluster/helm/chart-testing/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264528 python3.pkgs.mastodon-py: 1.8.1 -> unstable-2023-06-24 (fixes build)
  pkgs/development/python-modules/mastodon-py/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264640 biome: 1.2.2 -> 1.3.3
  pkgs/development/tools/biome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264644 jaq: 1.0.0 -> 1.1.0
  pkgs/development/tools/jaq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264645 fw: 2.17.1 -> 2.18.0
  pkgs/tools/misc/fw/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#264704 stratisd: 3.6.0 -> 3.6.1
  pkgs/tools/filesystems/stratisd/Cargo.lock
  pkgs/tools/filesystems/stratisd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#264695 python311Packages.enlighten: 1.12.0 -> 1.12.2
  pkgs/development/python-modules/enlighten/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264732 wavemon: 0.9.4 -> 0.9.5
  pkgs/tools/networking/wavemon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#264738 kapp: 0.59.0 -> 0.59.1
  pkgs/tools/networking/kapp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264734 clash-verge: 1.3.7 -> 1.3.8
  pkgs/applications/networking/clash-verge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264726 vendir: 0.35.0 -> 0.35.2
  pkgs/development/tools/vendir/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#264750 twm: 0.7.0 -> 0.8.0
  pkgs/tools/misc/twm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264754 maestro: 1.33.1 -> 1.34.0
  pkgs/development/mobile/maestro/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264548 vscode-extensions.elixir-lsp.vscode-elixir-ls: 0.17.1 -> 0.17.5
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode, backport release-23.05

#264618 nixosTests.cinnamon: Extend the test
  nixos/tests/cinnamon.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: cinnamon

#264720 roxterm: 3.14.1 -> 3.14.2
  pkgs/applications/terminal-emulators/roxterm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264804 imgcrypt: 1.1.8 -> 1.1.9
  pkgs/applications/virtualization/imgcrypt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#261703 vscode-extensions.rust-lang.rust-analyzer 2023-07-31 -> 2023-10-16
  pkgs/applications/editors/vscode/extensions/rust-lang.rust-analyzer/build-deps/package.json
  pkgs/applications/editors/vscode/extensions/rust-lang.rust-analyzer/default.nix
  pkgs/development/node-packages/node-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: nodejs, 6.topic: vscode

#264788 phel: unstable-2023-10-27 -> 0.12.0
  pkgs/by-name/ph/phel/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#263636 python3Packages.bip32: init at 3.4
  pkgs/development/python-modules/bip32/default.nix
  pkgs/development/python-modules/ledger-bitcoin/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264614 linuxPackages.nvidia_x11: 530.41.03 -> 545.29.02
  pkgs/os-specific/linux/nvidia-x11/default.nix
  pkgs/os-specific/linux/nvidia-x11/settings.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#264756 terraform-plugin-docs: rename from tfplugindocs
  pkgs/by-name/te/terraform-plugin-docs/package.nix
  pkgs/development/tools/tfplugindocs/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#264581 formats.libconfig: fix unstable store path dependency in test
  pkgs/pkgs-lib/formats/libconfig/test/comprehensive/default.nix
  pkgs/pkgs-lib/formats/libconfig/test/comprehensive/expected.txt
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 1.severity: channel blocker

#261123 python310Packages.opencensus-ext-azure: 1.1.9 -> 1.1.11
  pkgs/development/python-modules/opencensus-ext-azure/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#261010 python310Packages.gtts: 2.3.2 -> 2.4.0
  pkgs/development/python-modules/gtts/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#263354 fishPlugins.bobthefish: unstable-2022-08-02 -> unstable-2023-06-16
  pkgs/shells/fish/plugins/bobthefish.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#263077 pyenv: 2.3.28 -> 2.3.31
  pkgs/development/tools/pyenv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#255807 python3Packages.ray: 2.6.1 -> 2.7.0
  pkgs/development/python-modules/ray/binary-hashes.nix
  pkgs/development/python-modules/ray/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#263177 celeste: 0.7.0 -> 0.8.0
  pkgs/applications/networking/sync/celeste/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264772 python3Packages.icontract: fix build
  pkgs/development/python-modules/deal/default.nix
  pkgs/development/python-modules/icontract/default.nix
  pkgs/development/python-modules/typeguard/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000

#264717 celeste-classic: init at unstable-2020-12-08
  maintainers/maintainer-list.nix
  pkgs/by-name/ce/celeste-classic/package.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#264246 apr-util: find correct BDB when using clang 16
  pkgs/development/libraries/apr-util/clang-bdb.patch
  pkgs/development/libraries/apr-util/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#264611 i3: 4.22 -> 4.23
  pkgs/applications/window-managers/i3/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#264827 logseq: 0.9.19 -> 0.9.20
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264807 helm-ls: 0.0.6 -> 0.0.7
  pkgs/development/tools/language-servers/helm-ls/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#264795 webcord: 4.5.0 -> 4.5.1
  pkgs/applications/networking/instant-messengers/webcord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#263532 docker-compose: 2.21.0 -> 2.23.0
  pkgs/applications/virtualization/docker/compose.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#264805 heygpt: 0.4.0 -> 0.4.1
  pkgs/tools/llm/heygpt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#264792 fastfetch: 2.1.2 -> 2.2.0
  pkgs/tools/misc/fastfetch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#264683 qpwgraph: switch to Qt 6
  pkgs/applications/audio/qpwgraph/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, needs_merger, 12.approvals: 1, 12.approved-by: package-maintainer

#251662 box64: Post-0.2.4 refactoring
  pkgs/applications/emulators/box64/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#264437 hyprpicker: 0.1.1 -> 0.2.0
  pkgs/applications/window-managers/hyprwm/hyprpicker/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#264339 pgweb: 0.14.1 -> 0.14.2
  pkgs/development/tools/database/pgweb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#263738 wakapi: 2.9.1 -> 2.9.2
  pkgs/tools/misc/wakapi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#264831 nixos/nix-channnel: fix setting up the default channel again
  nixos/modules/config/nix-channel.nix
  nixos/tests/activation/nix-channel.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264111 cardinal: 23.09 -> 23.10
  pkgs/applications/audio/cardinal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#264627 element-{web,desktop}: 1.11.46 -> 1.11.47
  pkgs/applications/networking/instant-messengers/element/pin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2, backport release-23.05

#263878 qt5.qtbase: switch to overrideSDK
  pkgs/stdenv/adapters.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/qt5-packages.nix
Labels: 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 6.topic: stdenv, 10.rebuild-darwin: 1001-2500

#250805 texlive: overrideTeXConfig/withPackages
  doc/languages-frameworks/texlive.section.md
  pkgs/data/fonts/iwona/default.nix
  pkgs/misc/sagetex/default.nix
  pkgs/test/texlive/default.nix
  pkgs/tools/typesetting/biber-ms/default.nix
  pkgs/tools/typesetting/biber/default.nix
  pkgs/tools/typesetting/tex/mftrace/default.nix
  pkgs/tools/typesetting/tex/texlive/bin.nix
  pkgs/tools/typesetting/tex/texlive/build-tex-env.nix
  pkgs/tools/typesetting/tex/texlive/build-texlive-package.nix
  pkgs/tools/typesetting/tex/texlive/combine-wrapper.nix
  pkgs/tools/typesetting/tex/texlive/default.nix
  pkgs/tools/typesetting/tex/texlive/generate-fixed-hashes.nix
  pkgs/tools/typesetting/tex/texlive/tl2nix.sed
  pkgs/tools/typesetting/tex/texlive/tlpdb-overrides.nix
  pkgs/tools/typesetting/tex/texlive/tlpdb.nix
Labels: 8.has: documentation, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: TeX, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264470 hyprnome: 0.1.0 -> 0.2.0
  pkgs/applications/misc/hyprnome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#264722 tetraproc: 0.8.6 -> 0.9.2
  pkgs/applications/audio/tetraproc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#264782 act: 0.2.52 -> 0.2.53
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#262117 libaom: 3.6.1 -> 3.7.0
  pkgs/development/libraries/libaom/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#257164 postgresqlPackages.pg_embedding: init at 0.3.6
  pkgs/servers/sql/postgresql/ext/pg_embedding.nix
  pkgs/servers/sql/postgresql/packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#263856 streamlink: 6.2.1 -> 6.3.1
  pkgs/applications/video/streamlink/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#264838 triton: 7.15.4 -> 7.16.0
  pkgs/tools/admin/triton/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#264819 bbin: 0.1.5 -> 0.2.1
  pkgs/development/tools/bbin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264648 ispell: 3.4.05 -> 3.4.06
  pkgs/tools/text/ispell/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1

#264646 fblog: 4.4.0 -> 4.5.0
  pkgs/development/tools/fblog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#264728 wander: 0.11.1 -> 0.11.2
  pkgs/tools/admin/wander/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#259065 `lib.fileset.difference`: init
  lib/fileset/default.nix
  lib/fileset/internal.nix
  lib/fileset/tests.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: lib

#264731 brev-cli: 0.6.262 -> 0.6.264
  pkgs/development/misc/brev-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264225 cosmic-icons: init at unstable-2023-08-30
  pkgs/by-name/co/cosmic-icons/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#264870 nixos/tests/predictable-interface-names: fix eval for systemd-stage1
  nixos/tests/predictable-interface-names.nix
Labels: 6.topic: nixos

#264860 lib.filesystem: Don't test Nix-specific error messages
  lib/tests/filesystem.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, backport release-23.05, 6.topic: lib

#263594 spring-boot-cli: 2.3.2 -> 3.1.5
  pkgs/development/tools/spring-boot-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264681 owl-lisp: 0.2.1 -> 0.2.2
  pkgs/development/compilers/owl-lisp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#263423 cairo: fix cross
  pkgs/development/libraries/cairo/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#264764 crun: 1.11 -> 1.11.1
  pkgs/applications/virtualization/crun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#264813 python3Packages.pandas: fix build on 32-bit platforms
  pkgs/development/python-modules/pandas/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#264190 reaper: 7.0 -> 7.02
  pkgs/applications/audio/reaper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#264859 terraform: 1.6.2 -> 1.6.3
  pkgs/applications/networking/cluster/terraform/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#263494 rnote: 0.7.1 -> 0.8.2
  pkgs/applications/graphics/rnote/Cargo.lock
  pkgs/applications/graphics/rnote/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#264821 gh: 2.37.0 -> 2.38.0
  pkgs/applications/version-management/gh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#264776 python311Packages.nitime: 0.10.1 -> 0.10.2
  pkgs/development/python-modules/nitime/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#264707 esphome: 2023.10.4 -> 2023.10.5
  pkgs/tools/misc/esphome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#264866 home-assistant: 2023.10.5 -> 2023.11.0
  nixos/modules/services/home-automation/home-assistant.nix
  pkgs/development/python-modules/aioairzone-cloud/default.nix
  pkgs/development/python-modules/aiocomelit/default.nix
  pkgs/development/python-modules/aiohomekit/default.nix
  pkgs/development/python-modules/aiounifi/default.nix
  pkgs/development/python-modules/aiovodafone/default.nix
  pkgs/development/python-modules/bleak-retry-connector/default.nix
  pkgs/development/python-modules/blinkpy/default.nix
  pkgs/development/python-modules/google-nest-sdm/default.nix
  pkgs/development/python-modules/hass-nabucasa/default.nix
  pkgs/development/python-modules/mastodon-py/default.nix
  pkgs/development/python-modules/matrix-nio/default.nix
  pkgs/development/python-modules/pyatv/default.nix
  pkgs/development/python-modules/python-opensky/default.nix
  pkgs/development/python-modules/zeroconf/default.nix
  pkgs/development/python-modules/zha-quirks/default.nix
  pkgs/development/python-modules/zigpy/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/frontend.nix
  pkgs/servers/home-assistant/intents.nix
Labels: 6.topic: python, 6.topic: nixos, 8.has: package (new), 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#264895 zigbee2mqtt: 1.33.1 -> 1.33.2
  pkgs/servers/zigbee2mqtt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#264476 wyoming-piper: 1.3.2 -> 1.4.0
  pkgs/tools/audio/wyoming/piper-entrypoint.patch
  pkgs/tools/audio/wyoming/piper.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#263368 fishPlugins.bobthefisher: unstable-2023-03-09 -> unstable-2023-10-25
  pkgs/shells/fish/plugins/bobthefisher.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 11.by: upstream-developer, 10.rebuild-linux: 1

#264241 numbat: init at 1.6.3
  maintainers/maintainer-list.nix
  pkgs/by-name/nu/numbat/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#257383 python310Packages.icalendar: 5.0.7 -> 5.0.10
  pkgs/development/python-modules/icalendar/default.nix
  pkgs/development/python-modules/recurring-ical-events/default.nix
  pkgs/development/python-modules/x-wr-timezone/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#263574 govc: 0.32.0 -> 0.33.0
  pkgs/tools/virtualization/govc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer
