Repository NixOS/nixpkgs, pull requests merged in 2023-07, with the labels that each got.

#239813 spotdl: 4.1.10 -> 4.1.11
  pkgs/tools/audio/spotdl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 0.kind: build failure, backport release-23.05

#240776 python311Packages.hexbytes: 0.3.0 -> 0.3.1
  pkgs/development/python-modules/hexbytes/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240630 browsh: 1.8.0 -> 1.8.2
  pkgs/applications/networking/browsers/browsh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240719 urbit: 2.9 -> 2.10
  pkgs/misc/urbit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240768 mswatch: Remove rec and . from end of meta.description
  pkgs/applications/networking/mailreaders/mswatch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240758 flat-remix-gnome: update 20230508 -> 20230606.
  pkgs/data/themes/flat-remix-gnome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240757 dprint: 0.36.1 -> 0.37.1
  pkgs/development/tools/dprint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240745 bluetuith: 0.1.3 -> 0.1.5
  pkgs/tools/bluetooth/bluetuith/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240739 typos: 1.15.8 -> 1.15.9
  pkgs/development/tools/typos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240737 vkdt: 0.5.4 -> 0.6.0
  pkgs/applications/graphics/vkdt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#239255 lib: simplify stringToCharacters
  lib/strings.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#240773 alacritty: --add-rpath instead of --set-rpath
  pkgs/applications/terminal-emulators/alacritty/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240775 gtree: 1.8.2 -> 1.8.3
  pkgs/tools/text/gtree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240781 furtherance: 1.8.0 -> 1.8.1
  pkgs/applications/misc/furtherance/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240802 libsForQt5.maui-core: 0.5.6 -> 0.6.6
  pkgs/development/libraries/maui-core/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#240805 python311Packages.pysigma-backend-elasticsearch: 1.0.3 -> 1.0.4
  pkgs/development/python-modules/pysigma-backend-elasticsearch/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240806 python311Packages.gitignore-parser: 0.1.3 -> 0.1.4
  pkgs/development/python-modules/gitignore-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240821 nchat: 3.39 -> 3.60
  pkgs/applications/networking/instant-messengers/nchat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240807 python311Packages.elastic-apm: 6.16.1 -> 6.16.2
  pkgs/development/python-modules/elastic-apm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240812 vimix-icon-theme: 2023-01-18 -> 2023-06-26
  pkgs/data/icons/vimix-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240844 lxgw-neoxihei: 1.101 -> 1.102.1
  pkgs/data/fonts/lxgw-neoxihei/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240842 kubeclarity: 2.18.1 -> 2.19.0
  pkgs/tools/security/kubeclarity/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240839 python310Packages.graphtage: 0.2.8 -> 0.2.9
  pkgs/development/python-modules/graphtage/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240589 bundler: 2.4.14 -> 2.4.15
  pkgs/development/interpreters/ruby/rubygems/default.nix
  pkgs/development/ruby-modules/bundler/default.nix
Labels: 6.topic: ruby, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#240792 nixos/gdm: fix plymouth-quit bootup error message
  nixos/modules/services/x11/display-managers/gdm.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#240835 python310Packages.mmengine: 0.7.3 -> 0.7.4
  pkgs/development/python-modules/mmengine/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240521 jetbrains: add plugin support
  pkgs/applications/editors/jetbrains/darwin.nix
  pkgs/applications/editors/jetbrains/default.nix
  pkgs/applications/editors/jetbrains/linux.nix
  pkgs/applications/editors/jetbrains/plugins/default.nix
  pkgs/applications/editors/jetbrains/plugins/plugins.json
  pkgs/applications/editors/jetbrains/plugins/specialPlugins.nix
  pkgs/applications/editors/jetbrains/plugins/update_plugins.py
  pkgs/applications/editors/jetbrains/update_ides.py
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 11-100

#238693 ast-grep: 0.5.2 -> 0.6.6
  pkgs/development/tools/misc/ast-grep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#178610 headless: Don't use deprecated vesa.
  nixos/modules/profiles/headless.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12. first-time contribution

#240862 python310Packages.bellows: 0.35.5 -> 0.35.8
  pkgs/development/python-modules/bellows/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240801 gifsicle: 1.93 -> 1.94
  pkgs/tools/graphics/gifsicle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240735 hashcat: add CUDA support
  pkgs/tools/security/hashcat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#240403 Udisks 2.10.0
  pkgs/development/libraries/libblockdev/default.nix
  pkgs/development/libraries/libblockdev/fix-paths.patch
  pkgs/os-specific/linux/udisks/2-default.nix
  pkgs/os-specific/linux/udisks/fix-paths.patch
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#240869 bacon: 2.9.0 -> 2.10.0
  pkgs/development/tools/bacon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240504 haskell.packages: use `pkgs` fix point for package set aliases
  pkgs/top-level/haskell-packages.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.05

#240877 clusterctl: 1.4.3 -> 1.4.4
  pkgs/applications/networking/cluster/clusterctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240859 python310Packages.qutip: 4.7.1 -> 4.7.2
  pkgs/development/python-modules/qutip/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240876 python311Packages.cloudsplaining: 0.5.1 -> 0.6.0
  pkgs/development/python-modules/cloudsplaining/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240879 zdns: 2022-03-14-unstable -> 2023-04-09-unstable
  pkgs/tools/security/zdns/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240883 snowcrash: unstable-2021-04-29 -> unstable-2022-08-15
  pkgs/tools/security/snowcrash/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240863 metasploit: 6.3.22 -> 6.3.23
  pkgs/tools/security/metasploit/Gemfile
  pkgs/tools/security/metasploit/Gemfile.lock
  pkgs/tools/security/metasploit/default.nix
  pkgs/tools/security/metasploit/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240873 grype: 0.63.0 -> 0.63.1
  pkgs/tools/security/grype/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240872 python311Packages.publicsuffixlist: 0.10.0.20230617 -> 0.10.0.20230701
  pkgs/development/python-modules/publicsuffixlist/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240871 python311Packages.pymazda: 0.3.8 -> 0.3.9
  pkgs/development/python-modules/pymazda/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240777 python311Packages.heatshrink2: 0.11.0 -> 0.12.0
  pkgs/development/python-modules/heatshrink2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240772 python311Packages.mss: 7.0.1 -> 9.0.1
  pkgs/development/python-modules/mss/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240885 secretscanner: 20210214-42a38f9 -> 1.2.0
  pkgs/tools/security/secretscanner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240882 spyre: 1.2.4 -> 1.2.5
  pkgs/tools/security/spyre/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240838 python311Packages.dparse: 0.6.2 -> 0.6.3
  pkgs/development/python-modules/dparse/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240702 nss_latest: 3.90 -> 3.91
  pkgs/development/libraries/nss/generic.nix
  pkgs/development/libraries/nss/latest.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-23.05

#240891 gnome.evince: Change meta.platforms to unix
  pkgs/desktops/gnome/core/evince/default.nix
Labels: 6.topic: GNOME, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#240824 maintainers.openstack: remove emilytrau
  maintainers/team-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#226727 azure-cli: 2.44.1 -> 2.49.0
  pkgs/development/python-modules/azure-mgmt-appcontainers/default.nix
  pkgs/tools/admin/azure-cli/default.nix
  pkgs/tools/admin/azure-cli/python-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2

#240564 biscuit-cli: 0.2.0 -> 0.4.0
  pkgs/tools/security/biscuit-cli/Cargo.lock
  pkgs/tools/security/biscuit-cli/default.nix
  pkgs/tools/security/biscuit-cli/version-0.4.0.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240878 systemd-journal2gelf: unstable-2022-02-15 -> unstable-2023-03-10
  pkgs/tools/system/systemd-journal2gelf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#238981 svt-av1: 1.5.0 -> 1.6.0
  pkgs/tools/video/svt-av1/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#240898 docs: clarify videoDrivers breakage in release notes
  nixos/doc/manual/release-notes/rl-2305.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog

#218280 powerdns, pdns-recursor: find config in /etc by default
  nixos/modules/services/networking/pdns-recursor.nix
  nixos/modules/services/networking/powerdns.nix
  nixos/tests/powerdns.nix
  pkgs/servers/dns/pdns-recursor/default.nix
  pkgs/servers/dns/pdns/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#240857 vimPlugins.quickmath-nvim: init at 2023-03-12
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/nvim-treesitter/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#239005 stdenv: let overrideAttrs accept attrset OR function
  doc/using/overrides.chapter.md
  pkgs/stdenv/generic/make-derivation.nix
  pkgs/test/overriding.nix
Labels: 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: stdenv, 10.rebuild-linux: 1

#188644 nixos/vaultwarden: Bind to localhost by default
  nixos/doc/manual/release-notes/rl-2311.section.md
  nixos/modules/services/security/vaultwarden/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 2.status: merge conflict, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#240750 tpm2-tss: fix CVE-2023-22745
  pkgs/development/libraries/tpm2-tss/CVE-2023-22745.patch
  pkgs/development/libraries/tpm2-tss/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, 10.rebuild-linux: 5001+

#240853 twspace-crawler: 1.11.13 -> 1.12.1
  pkgs/tools/misc/twspace-crawler/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#240907 erdtree: 3.0.2 -> 3.1.1
  pkgs/tools/system/erdtree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240905 jql: 6.0.9 -> 7.0.0
  pkgs/development/tools/jql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240895 esbuild: 0.18.10 -> 0.18.11
  pkgs/development/tools/esbuild/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240817 fulcio: 1.3.1 -> 1.3.2
  pkgs/tools/security/fulcio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#231609 bcachefs-tools: unstable-2023-01-31 -> unstable-2023-05-13
  nixos/modules/tasks/filesystems/bcachefs.nix
  nixos/tests/bcachefs.nix
  nixos/tests/installer.nix
  pkgs/os-specific/linux/kernel/linux-testing-bcachefs.nix
  pkgs/tools/filesystems/bcachefs-tools/Cargo.lock
  pkgs/tools/filesystems/bcachefs-tools/default.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: nixos, 6.topic: kernel, 8.has: module (update), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#240896 zigbee2mqtt: 1.31.2 -> 1.32.0
  pkgs/servers/zigbee2mqtt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240901 tilt: 0.32.4 -> 0.33.1
  pkgs/applications/networking/cluster/tilt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240888 fastgron: init at 0.6.2
  pkgs/development/tools/fastgron/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240875 svlint: 0.7.2 -> 0.8.0
  pkgs/development/tools/analysis/svlint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240868 protoc-gen-validate: 1.0.1 -> 1.0.2
  pkgs/development/tools/protoc-gen-validate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240911 gping: 1.3.2 -> 1.12.0
  pkgs/tools/networking/gping/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240902 halftone: 0.3.0 -> 0.3.1
  pkgs/applications/graphics/halftone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240922 bun: 0.6.9 -> 0.6.12
  pkgs/development/web/bun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240937 gimoji: 0.5.0 -> 0.5.1
  pkgs/applications/misc/gimoji/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240897 millet: 0.12.0 -> 0.12.2
  pkgs/development/tools/language-servers/millet/Cargo.lock
  pkgs/development/tools/language-servers/millet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#240870 rtx: 1.32.0 -> 1.32.1
  pkgs/tools/misc/rtx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235599 turbovnc: 3.0.1 -> 3.0.3
  pkgs/tools/admin/turbovnc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12. first-time contribution

#240861 python310Packages.jaraco_collections: 3.8.0 -> 4.3.0
  pkgs/development/python-modules/jaraco-email/default.nix
  pkgs/development/python-modules/jaraco_collections/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#240782 python311Packages.decli: 0.5.2 -> 0.6.1
  pkgs/applications/version-management/commitizen/default.nix
  pkgs/development/python-modules/decli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240483 pentestgpt: init at unstable-2023-06-27
  pkgs/development/python-modules/google/default.nix
  pkgs/development/python-modules/pycookiecheat/default.nix
  pkgs/tools/security/pentestgpt/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240889 python311Packages.appthreat-vulnerability-db: 5.1.4 -> 5.2.0
  pkgs/development/python-modules/appthreat-vulnerability-db/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240949 python310Packages.wagtail-localize: 1.5 -> 1.5.1
  pkgs/development/python-modules/wagtail-localize/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240915 python310Packages.pyopencl: 2023.1 -> 2023.1.1
  pkgs/development/python-modules/pyopencl/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240854 libuv: 1.45.0 -> 1.46.0
  pkgs/development/libraries/libuv/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#240950 python310Packages.openaiauth: 1.0.2 -> 2.0.0
  pkgs/development/python-modules/openaiauth/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240962 alacritty: 0.12.1 -> 0.12.2
  pkgs/applications/terminal-emulators/alacritty/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240917 python3Packages.django-compressor: 4.3.1 -> 4.4
  pkgs/development/python-modules/django-compressor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240943 bearer: 1.14.0 -> 1.15.0
  pkgs/development/tools/bearer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240880 verifpal: 0.26.1 -> 0.27.0
  pkgs/tools/security/verifpal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240759 makeSetupHook: unbreak structuredAttrsByDefault
  pkgs/build-support/trivial-builders/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#240967 nim: 1.6.12 -> 1.6.14
  pkgs/development/compilers/nim/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: nim

#240890 discord-canary: 0.0.161 -> 0.0.162
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-23.05

#240930 homebank: 5.5.6 -> 5.6.5
  pkgs/applications/office/homebank/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240855 arti: 1.1.5 -> 1.1.6
  pkgs/tools/security/arti/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240849 buf: 1.21.0 -> 1.23.1
  pkgs/development/tools/buf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#240804 global: 6.6.7 -> 6.6.10
  pkgs/development/tools/misc/global/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240793 projectable: 1.2.0 -> 1.3.0
  pkgs/applications/file-managers/projectable/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240762 raycast: 1.53.4 -> 1.54.1
  pkgs/os-specific/darwin/raycast/default.nix
  pkgs/os-specific/darwin/raycast/update.sh
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#240709 evcc: 0.118.1 -> 0.118.2
  pkgs/servers/home-automation/evcc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#240672 calibre: 6.21.0 -> 6.22.0
  pkgs/applications/misc/calibre/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#240664 netbox: 3.5.3 -> 3.5.4
  pkgs/servers/web-apps/netbox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, backport release-23.05

#240945 consul: 1.15.3 -> 1.16.0
  nixos/doc/manual/release-notes/rl-2311.section.md
  pkgs/servers/consul/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#240955 python310Packages.lightning-utilities: 0.8.0 -> 0.9.0
  pkgs/development/python-modules/lightning-utilities/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240909 gtree: 1.8.3 -> 1.8.4
  pkgs/tools/text/gtree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240837 protox: init at 0.4.1
  pkgs/development/tools/misc/protox/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240900 bluez: remove sap feature from build
  pkgs/os-specific/linux/bluez/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 2501-5000

#240760 elixir_1_15: 1.15.0 -> 1.15.1
  pkgs/development/interpreters/elixir/1.15.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240968 python310Packages.auth0-python: 4.2.0 -> 4.3.0
  pkgs/development/python-modules/auth0-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240732 owntracks-recorder: init at 0.9.3
  pkgs/servers/owntracks-recorder/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240963 python311Packages.natsort: 8.3.1 -> 8.4.0
  pkgs/development/python-modules/natsort/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#240767 enblend-enfuse: use fetchhg instead of sourceforge snapshots
  pkgs/tools/graphics/enblend-enfuse/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#240906 rustypaste{,-cli}: update
  pkgs/servers/rustypaste/default.nix
  pkgs/tools/misc/rustypaste-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240927 GNOME updates 2023-07-01
  pkgs/applications/networking/mailreaders/evolution/evolution/default.nix
  pkgs/desktops/gnome/core/epiphany/default.nix
  pkgs/desktops/gnome/core/evolution-data-server/default.nix
  pkgs/desktops/gnome/core/gnome-control-center/default.nix
  pkgs/desktops/gnome/core/gnome-software/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240633 kbst: 0.1.5 -> 0.2.1
  pkgs/applications/networking/cluster/kbst/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240632 func: 1.7.0 -> 1.10.0
  pkgs/applications/networking/cluster/func/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#240629 flowgger: init at 0.3.1
  pkgs/tools/misc/flowgger/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#186298 python3Packages.django-compressor: Enable more tests
  pkgs/development/python-modules/calmjs-types/default.nix
  pkgs/development/python-modules/calmjs/default.nix
  pkgs/development/python-modules/django-compressor/default.nix
  pkgs/development/python-modules/django-sekizai/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#240725 apacheKafka: 3.5.0, 3.4.1, 3.3.1 -> 3.3.2
  nixos/tests/kafka.nix
  pkgs/servers/apache-kafka/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#240573 pulsarctl: init at 2.10.3.3
  pkgs/tools/admin/pulsarctl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240569 fpattern: init at v1.9
  pkgs/development/libraries/fpattern/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240778 ckbcomp: 1.221 -> 1.222
  pkgs/tools/X11/ckbcomp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#240546 ledger-live-desktop: 2.60.0->2.62.2
  pkgs/applications/blockchains/ledger-live-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240542 ktlint: 0.49.1 -> 0.50.0
  pkgs/development/tools/ktlint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240541 synology-drive-client: 3.2.1 -> 3.3.0
  pkgs/applications/networking/synology-drive-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240932 python311Packages.crc: 4.2.0 -> 4.3.0
  pkgs/development/python-modules/crc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240948 ncpamixer: 1.3.3.3 -> 1.3.3.4
  pkgs/applications/audio/ncpamixer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240936 ghz: 0.115.0 -> 0.117.0
  pkgs/tools/networking/ghz/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240980 tailer: unstable-2023-06-26 -> 0.1.1
  pkgs/tools/misc/tailer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240867 intel-compute-runtime: 23.17.26241.15 -> 23.17.26241.24
  pkgs/os-specific/linux/intel-compute-runtime/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240787 vitess: 16.0.2 -> 17.0.0
  pkgs/development/tools/database/vitess/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#240832 parquet-tools: disable sensitive test
  pkgs/tools/misc/parquet-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#240864 gtkcord4: 0.0.11 -> 0.0.11-1
  pkgs/applications/audio/gtkcord4/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#226977 nixos/static-web-server: create module which uses upstream systemd units
  maintainers/maintainer-list.nix
  nixos/modules/module-list.nix
  nixos/modules/services/web-servers/static-web-server.nix
  nixos/tests/all-tests.nix
  nixos/tests/web-servers/static-web-server.nix
  pkgs/servers/static-web-server/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12. first-time contribution

#240852 vgmtools: unstable-2023-05-04 -> unstable-2023-06-29
  pkgs/tools/audio/vgmtools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#240850 python310Packages.rabbitpy: remove
  pkgs/development/python-modules/rabbitpy/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 2

#240957 morgen: 2.7.3 -> 2.7.4
  pkgs/applications/office/morgen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240938 libamqpcpp: 4.3.24 -> 4.3.25
  pkgs/development/libraries/libamqpcpp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240935 system76-keyboard-configurator: 1.3.6 -> 1.3.7
  pkgs/applications/misc/system76-keyboard-configurator/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#240984 python310Packages.reolink-aio: 0.7.0 -> 0.7.2
  pkgs/development/python-modules/reolink-aio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#240549 davinci-resolve: 17.4.3 -> 18.1.4
  pkgs/applications/video/davinci-resolve/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2

#238276 mruby: refactor and adopt
  pkgs/development/compilers/mruby/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#240743 rclone: 1.62.2 -> 1.63.0
  pkgs/applications/networking/sync/rclone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240979 python311Packages.openrgb-python: init at 0.2.15
  pkgs/applications/audio/ledfx/default.nix
  pkgs/development/python-modules/openrgb-python/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#240965 colloid-icon-theme: 2023-03-28 -> 2023-07-01
  pkgs/data/icons/colloid-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240599 pysolfc: 2.16.0 -> 2.20.1
  pkgs/games/pysolfc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#240944 kamailio: init at 5.7.1
  maintainers/maintainer-list.nix
  pkgs/servers/sip/kamailio/default.nix
  pkgs/servers/sip/kamailio/test-kamailio-bin/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#240583 wolfstoneextract: init at 1.2
  pkgs/games/wolfstoneextract/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1
