Repository NixOS/nixpkgs, pull requests merged in 2023-08, with the labels that each got.

#246343 nixos/bird: fix checkConfig with cross-compilation
  nixos/modules/services/networking/bird.nix
Labels: 6.topic: nixos, 8.has: module (update), 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#246335 python310Packages.azure-mgmt-authorization: 3.0.0 -> 4.0.0
  pkgs/development/python-modules/azure-mgmt-authorization/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246326 matrix-hookshot: 4.4.0 -> 4.4.1
  pkgs/servers/matrix-synapse/matrix-hookshot/package.json
  pkgs/servers/matrix-synapse/matrix-hookshot/pin.json
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-23.05

#246325 semgrep{,-core}: 1.27.0 -> 1.34.1
  pkgs/tools/security/semgrep/common.nix
  pkgs/tools/security/semgrep/default.nix
  pkgs/tools/security/semgrep/semgrep-core.nix
  pkgs/tools/security/semgrep/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246323 matrix-appservice-slack: 2.1.1 -> 2.1.2
  pkgs/servers/matrix-synapse/matrix-appservice-slack/package.json
  pkgs/servers/matrix-synapse/matrix-appservice-slack/pin.json
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#246322 unifi-protect-backup: 0.9.1 -> 0.9.4
  pkgs/applications/backup/unifi-protect-backup/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246321 trino-cli: 418 -> 422
  pkgs/development/tools/database/trino-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246306 d2: 0.5.1 -> 0.6.0
  pkgs/tools/text/d2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246390 urn-timer: unstable-2023-07-01 -> unstable-2023-07-31
  pkgs/tools/misc/urn-timer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246389 python310Packages.graphene: 3.2.2 -> 3.3.0
  pkgs/development/python-modules/graphene/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246387 process-compose: 0.51.4 -> 0.60.0
  pkgs/applications/misc/process-compose/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#246383 obsidian: 1.3.5 -> 1.3.7
  pkgs/applications/misc/obsidian/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246460 bearer: 1.16.0 -> 1.17.0
  pkgs/development/tools/bearer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246349 python310Packages.azure-mgmt-network: 23.1.0 -> 24.0.0
  pkgs/development/python-modules/azure-mgmt-network/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246346 nixos/fish: fix cross build
  nixos/modules/programs/fish.nix
Labels: 6.topic: nixos, 8.has: module (update), 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#246437 sagoin: 0.2.2 -> 0.2.3
  pkgs/tools/misc/sagoin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246419 vscode-extensions.mkhl.direnv: 0.13.0 -> 0.14.0
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#246413 python311Packages.pywemo: 1.1.0 -> 1.2.0
  pkgs/development/python-modules/pywemo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246411 python311Packages.python-roborock: 0.30.2 -> 0.30.3
  pkgs/development/python-modules/python-roborock/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246410 apkid: 2.1.4 -> 2.1.5
  pkgs/development/tools/apkid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246403 python310Packages.types-tabulate: 0.9.0.2 -> 0.9.0.3
  pkgs/development/python-modules/types-tabulate/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246400 python311Packages.reolink-aio: 0.7.3 -> 0.7.6
  pkgs/development/python-modules/reolink-aio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246463 bazarr: 1.2.3 -> 1.2.4
  pkgs/servers/bazarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246458 aliyun-cli: 3.0.169 -> 3.0.170
  pkgs/tools/admin/aliyun-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246457 AusweisApp2: 1.26.5 -> 1.26.7
  pkgs/applications/misc/ausweisapp2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#246446 maintainers.anselmschueler: add pgp key
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#246252 libgpiod 2.0.1 -> 2.0.1 change hash to the correct one
  pkgs/development/libraries/libgpiod/0001-Drop-AC_FUNC_MALLOC-and-_REALLOC-and-check-for-them-.patch
  pkgs/development/libraries/libgpiod/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246444 farge: fix dependencies & font issue
  maintainers/maintainer-list.nix
  pkgs/tools/misc/farge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#223554 notes: init at 2.2.0
  pkgs/applications/office/notes/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246455 pythia: 8.309 -> 8.310
  pkgs/development/libraries/physics/pythia/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#245816 tix: fix build with clang 16
  pkgs/development/libraries/tix/default.nix
  pkgs/development/libraries/tix/fix-clang16.patch
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 2501-5000

#243540 darwin.adv_cmds: fix build with clang 16
  pkgs/os-specific/darwin/apple-source-releases/adv_cmds/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 10.rebuild-darwin: 1001-2500

#203146 polaris: 0.13.5 -> 0.14.0
  pkgs/servers/polaris/Cargo.lock
  pkgs/servers/polaris/default.nix
  pkgs/servers/polaris/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246475 allure: 2.23.0 -> 2.23.1
  pkgs/development/tools/allure/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#243777 yuzu-ea: 3702 -> 3783, yuzu-mainline: 1475 -> 1513
  pkgs/applications/emulators/yuzu/generic.nix
  pkgs/applications/emulators/yuzu/sources.nix
  pkgs/applications/emulators/yuzu/vulkan_version.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#246492 grype: 0.64.2 -> 0.65.0
  pkgs/tools/security/grype/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246491 python310Packages.google-cloud-translate: 3.11.2 -> 3.11.3
  pkgs/development/python-modules/google-cloud-translate/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246483 prometheus-sachet: 0.3.1 -> 0.3.2
  pkgs/servers/monitoring/prometheus/sachet.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246482 vscode-extensions.usernamehw.errorlens: 3.8.0 -> 3.12.0
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#246480 aravis: 0.8.27 -> 0.8.28
  pkgs/development/libraries/aravis/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#246477 bacon: 2.12.0 -> 2.12.1
  pkgs/development/tools/bacon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246474 ast-grep: 0.9.2 -> 0.10.0
  pkgs/development/tools/misc/ast-grep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246473 assemblyscript: 0.27.5 -> 0.27.6
  pkgs/development/compilers/assemblyscript/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246200 xsimd: 9.0.1 -> 11.1.0
  pkgs/development/libraries/xsimd/default.nix
  pkgs/development/libraries/xsimd/disable-darwin-failing-tests.patch
  pkgs/development/libraries/xsimd/fix-darwin-exp10-implementation.patch
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#245802 python310Packages.accelerate: 0.19.0 -> 0.21.0
  pkgs/development/python-modules/accelerate/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#246347 offpunk: 1.9.2 -> 1.10
  pkgs/applications/networking/browsers/offpunk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246330 git-cinnabar: 0.6.1 -> 0.6.2
  pkgs/applications/version-management/git-cinnabar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#246327 hedgedoc: 1.9.7 -> 1.9.9
  pkgs/servers/web-apps/hedgedoc/default.nix
  pkgs/servers/web-apps/hedgedoc/package.json
  pkgs/servers/web-apps/hedgedoc/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246499 circt: 1.45.0 -> 1.48.0 with version info fix
  pkgs/development/compilers/circt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#246511 [23.05] matrix-appservice-slack: 2.1.1 -> 2.1.2
  pkgs/servers/matrix-synapse/matrix-appservice-slack/package.json
  pkgs/servers/matrix-synapse/matrix-appservice-slack/pin.json
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246505 v2ray-domain-list-community: 20230725085751 -> 20230730120627
  pkgs/data/misc/v2ray-domain-list-community/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246504 dbip-country-lite: 2023-07 -> 2023-08
  pkgs/data/misc/dbip-country-lite/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#236797 organicmaps: 2023.05.08-7 -> 2023.06.04-13
  pkgs/applications/misc/organicmaps/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#246508 python311Packages.async-lru: 2.0.3 -> 2.0.4
  pkgs/development/python-modules/async-lru/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246476 xfce.xfce4-clipman-plugin: 1.6.3 -> 1.6.4
  pkgs/desktops/xfce/panel-plugins/xfce4-clipman-plugin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce, 10.rebuild-linux: 1

#244299 suricata: 6.0.13 -> 7.0.0
  nixos/doc/manual/release-notes/rl-2311.section.md
  pkgs/applications/networking/ids/suricata/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#245260 alsa-scarlett-gui: fixed desktop entry
  pkgs/applications/audio/alsa-scarlett-gui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12. first-time contribution

#226155 dayon: init at 11.0.7
  pkgs/applications/networking/remote/dayon/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246454 firefox-{,bin-}unwrapped: 115.0.3 -> 116.0; firefox-esr-102-unwrapped: 102.13.0esr -> 102.14.0esr; firefox-esr-115-unwrapped: 115.0.3esr -> 115.1.0esr
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, backport release-23.05

#242489 ffmpeg: fix configure errors on native riscv
  pkgs/development/libraries/ffmpeg/generic.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#246433 linuxKernel.kernels.linux_zen: 6.4.6-zen1 -> 6.4.7-zen1; linuxKernel.kernels.linux_zen: 6.4.6-lqx1 -> 6.4.7-lqx1
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#246552 python310Packages.transformers: 4.30.2 -> 4.31.0
  pkgs/development/python-modules/transformers/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#246549 plasma: 5.27.6 -> 5.27.7
  pkgs/desktops/plasma-5/fetch.sh
  pkgs/desktops/plasma-5/plasma-sdk.nix
  pkgs/desktops/plasma-5/srcs.nix
Labels: 6.topic: qt/kde, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#245131 ldid-procursus: init at 2.1.5-procursus7
  maintainers/maintainer-list.nix
  pkgs/development/tools/ldid-procursus/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#246558 containerd: 1.7.2 -> 1.7.3
  pkgs/applications/virtualization/containerd/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#246466 Kernels for 2023-07-27
  pkgs/os-specific/linux/kernel/hardened/patches.json
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-5.4.nix
  pkgs/os-specific/linux/kernel/linux-6.1.nix
  pkgs/os-specific/linux/kernel/linux-6.4.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1, backport release-23.05

#246331 cp2k: 2023.1 -> 2023.2
  pkgs/applications/science/chemistry/cp2k/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246318 python3.pkgs.tables: fix tests for numpy 1.25
  pkgs/development/python-modules/tables/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#246536 bun: 0.7.0 -> 0.7.1
  pkgs/development/web/bun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#246048 confy: 0.6.5 -> 0.7.0
  pkgs/applications/misc/confy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246554 matrix-appservice-irc: add package.json to package
  pkgs/servers/matrix-synapse/matrix-appservice-irc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#245375 lammps: Install vim and neovim files & cuda support
  pkgs/applications/science/molecular-dynamics/lammps/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#246395 ruff: 0.0.280 -> 0.0.281
  pkgs/development/tools/ruff/Cargo.lock
  pkgs/development/tools/ruff/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#240553 doc/maven: prefer maven.buildMavenPackage over mvn2nix
  doc/languages-frameworks/maven.section.md
Labels: 8.has: documentation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: java

#246541 [release-23.05] imagemagick: 7.1.1-14 -> 7.1.1-15
  pkgs/applications/graphics/ImageMagick/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 501-1000

#246553 matrix-synapse: 1.88.0 -> 1.89.0
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-23.05

#245193 perlPackages.DataUUID: Add patch for CVE-2013-4184
  pkgs/development/perl-modules/Data-UUID-CVE-2013-4184.patch
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#246557 gopass: 1.15.5 -> 1.15.6
  pkgs/tools/security/gopass/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#245640 darwin-stdenv: revert `NIX_CC_NO_RESPONSE_FILE` logic
  pkgs/stdenv/darwin/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 10.rebuild-darwin-stdenv, 6.topic: stdenv, 10.rebuild-darwin: 5001+

#246281 xournalpp: 1.1.3 -> 1.2.0
  pkgs/applications/graphics/xournalpp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#246574 teamspeak_client: set mainProgram
  pkgs/applications/networking/instant-messengers/teamspeak/client.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#246032 sqlite-utils: repair, add test
  pkgs/development/python-modules/sqlite-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246406 metasploit: 6.3.26 -> 6.3.27
  pkgs/tools/security/metasploit/Gemfile
  pkgs/tools/security/metasploit/Gemfile.lock
  pkgs/tools/security/metasploit/default.nix
  pkgs/tools/security/metasploit/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246405 dnsrecon: 1.1.4 -> 1.1.5
  pkgs/tools/security/dnsrecon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246215 trufflehog: 3.45.1 -> 3.45.3
  pkgs/tools/security/trufflehog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246399 terrascan: 1.18.1 -> 1.18.2
  pkgs/tools/security/terrascan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246412 python311Packages.vsure: 2.6.2 -> 2.6.4
  pkgs/development/python-modules/vsure/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246612 signalbackup-tools: 20230723-1 -> 20230730
  pkgs/applications/networking/instant-messengers/signalbackup-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246599 eigenpy: 3.1.0 -> 3.1.1
  pkgs/development/python-modules/eigenpy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246359 freefilesync: 12.4 -> 12.5
  pkgs/applications/networking/freefilesync/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246616 grafana: 10.0.2 -> 10.0.3
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246617 prometheus: 2.45.0 -> 2.46.0
  pkgs/servers/monitoring/prometheus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246614 restic: 0.15.2 -> 0.16.0
  pkgs/tools/backup/restic/0001-Skip-testing-restore-with-permission-failure.patch
  pkgs/tools/backup/restic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#246606 element-{desktop,web}: 1.11.36 -> 1.11.37
  pkgs/applications/networking/instant-messengers/element/pin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#243407 paml: 4.9j -> 4.10.7
  pkgs/applications/science/biology/paml/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#230234 logseq: Add libstdc++ to the wrapper
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#246610 buck2: unstable-2023-07-18 -> unstable-2023-08-01
  pkgs/development/tools/build-managers/buck2/default.nix
  pkgs/development/tools/build-managers/buck2/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246608 code-server: 4.16.0 -> 4.16.1
  pkgs/servers/code-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#245586 logseq: match upstream electron version
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#246567 mailcatcher: 0.7.1 -> 0.9.0
  pkgs/development/web/mailcatcher/Gemfile.lock
  pkgs/development/web/mailcatcher/default.nix
  pkgs/development/web/mailcatcher/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246535 hugo: 0.116.0 -> 0.116.1
  pkgs/applications/misc/hugo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246462 vscode-extensions.serayuzgur.crates: 0.5.10 → 0.6.0
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: vscode

#246340 mysql-shell: 8.0.33 -> 8.0.34
  pkgs/development/tools/mysql-shell/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246256 winePackages.stable: 8.0.1 -> 8.0.2
  pkgs/applications/emulators/wine/sources.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#246596 mucommander: 1.2.0-1 -> 1.3.0-1
  pkgs/applications/file-managers/mucommander/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246594 copilot-cli: 1.28.0 -> 1.29.0
  pkgs/tools/admin/copilot-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#225309 docker_24_0: init at 24.0.5
  pkgs/applications/virtualization/docker/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#246575 nixos/modules/hedgedoc: minor refactoring
  nixos/modules/services/web-apps/hedgedoc.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#246593 cbmc: 5.87.0 -> 5.88.1
  pkgs/applications/science/logic/cbmc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246625 armcord: 3.2.0 -> 3.2.1
  pkgs/applications/networking/instant-messengers/armcord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#246587 vimPlugins.sniprun: 1.3.5 -> 1.3.6
  pkgs/applications/editors/vim/plugins/overrides.nix
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246641 cargo-all-features: 1.9.0 -> 1.10.0
  pkgs/development/tools/rust/cargo-all-features/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246642 grafana: 9.5.6 -> 9.5.7
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246629 gitlab-container-registry: 3.77.0 -> 3.79.0
  pkgs/applications/version-management/gitlab/gitlab-container-registry/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#246628 gitlab: 16.1.2 -> 16.1.3
  pkgs/applications/version-management/gitlab/data.json
  pkgs/applications/version-management/gitlab/gitaly/default.nix
  pkgs/applications/version-management/gitlab/gitlab-pages/default.nix
  pkgs/applications/version-management/gitlab/gitlab-workhorse/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-23.05

#246560 [release-23.05] firefox-{,bin-}unwrapped: 115.0.3 -> 116.0; firefox-esr-102-unwrapped: 102.13.0esr -> 102.14.0esr; firefox-esr-115-unwrapped: 115.0.3esr -> 115.1.0esr
  pkgs/applications/networking/browsers/firefox-bin/release_sources.nix
  pkgs/applications/networking/browsers/firefox/packages.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#246459 threema-desktop: 1.2.27→ 1.2.31
  pkgs/applications/networking/instant-messengers/threema-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#246472 azure-storage-azcopy: 10.19.0 -> 10.20.0
  pkgs/development/tools/azcopy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246493 sing-box: 1.3.4 -> 1.3.5
  nixos/tests/sing-box.nix
  pkgs/tools/networking/sing-box/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246521 codeql: 2.14.0 -> 2.14.1
  pkgs/development/tools/analysis/codeql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246523 kubeshark: 41.3 -> 41.6
  pkgs/applications/networking/cluster/kubeshark/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246525 deepin.dde-calendar: 5.8.30 -> 5.10.1
  pkgs/desktops/deepin/core/dde-calendar/default.nix
  pkgs/desktops/deepin/core/dde-calendar/fix-wrapped-name-not-in-whitelist.diff
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246526 convco: 0.4.0 -> 0.4.1
  pkgs/development/tools/convco/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246527 litefs: 0.5.1 -> 0.5.2
  pkgs/development/tools/database/litefs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246531 dnsproxy: 0.51.0 -> 0.52.0
  pkgs/tools/networking/dnsproxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246533 deepin-terminal: enable nixosTests.terminal-emulators
  nixos/tests/terminal-emulators.nix
  pkgs/desktops/deepin/apps/deepin-terminal/default.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#246539 tellico: 3.5 -> 3.5.1
  pkgs/applications/misc/tellico/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#246590 ruff: 0.0.281 -> 0.0.282
  pkgs/development/tools/ruff/Cargo.lock
  pkgs/development/tools/ruff/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#246578 i3status-rust: 0.31.8 -> 0.31.9
  pkgs/applications/window-managers/i3/status-rust.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#246550 dualsensectl: 0.3 -> 0.4
  pkgs/tools/games/dualsensectl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#246638 rustywind: 0.16.0 -> 0.17.0
  pkgs/development/tools/misc/rustywind/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246632 python311Packages.angr: 9.2.61 -> 9.2.62
  pkgs/development/python-modules/ailment/default.nix
  pkgs/development/python-modules/angr/default.nix
  pkgs/development/python-modules/archinfo/default.nix
  pkgs/development/python-modules/claripy/default.nix
  pkgs/development/python-modules/cle/default.nix
  pkgs/development/python-modules/pyvex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#246626 papirus-icon-theme: 20230601 -> 20230801
  pkgs/data/icons/papirus-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#246619 runme: 1.6.0 -> 1.7.0
  pkgs/development/tools/misc/runme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246618 typos: 1.16.1 -> 1.16.2
  pkgs/development/tools/typos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246600 python310Packages.imap-tools: 1.1.0 -> 1.2.0
  pkgs/development/python-modules/imap-tools/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#246647 davinci-resolve: remove host header restrictions for blob download
  pkgs/applications/video/davinci-resolve/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#246655 python310Packages.shtab: 1.6.2 -> 1.6.3
  pkgs/development/python-modules/shtab/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246668 proxify: 0.0.10 -> 0.0.11
  pkgs/tools/networking/proxify/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246667 nix-your-shell: 1.1.1 -> 1.3.0
  pkgs/shells/nix-your-shell/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#227145 Update JAX
  pkgs/build-support/build-bazel-package/default.nix
  pkgs/development/python-modules/jax/default.nix
  pkgs/development/python-modules/jaxlib/bin.nix
  pkgs/development/python-modules/jaxlib/default.nix
  pkgs/development/python-modules/jaxlib/prefetch.sh
  pkgs/development/python-modules/ml-dtypes/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#246672 nixpacks: 1.10.1 -> 1.12.0
  pkgs/applications/virtualization/nixpacks/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246607 graphite-gtk-theme: 2022-09-02 -> 2023-05-17
  pkgs/data/themes/graphite-gtk-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246697 Revert "Update JAX"
  pkgs/build-support/build-bazel-package/default.nix
  pkgs/development/python-modules/jax/default.nix
  pkgs/development/python-modules/jaxlib/bin.nix
  pkgs/development/python-modules/jaxlib/default.nix
  pkgs/development/python-modules/jaxlib/prefetch.sh
  pkgs/development/python-modules/ml-dtypes/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#246680 edge-runtime: 1.7.2 -> 1.8.1
  pkgs/development/web/edge-runtime/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246702 postgresqlPackages.plv8: build on aarch64-linux
  pkgs/servers/sql/postgresql/ext/plv8/default.nix
Labels: 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#246718 python310Packages.jsonmerge: run all tests
  pkgs/development/python-modules/jsonmerge/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#246715 sequoia-sq: 0.30.1 -> 0.31.0
  pkgs/tools/security/sequoia-sq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246666 texlab: 5.7.0 -> 5.8.0
  pkgs/development/tools/misc/texlab/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#246721 tor: 0.4.7.13 -> 0.4.7.14
  pkgs/tools/security/tor/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
