Repository NixOS/nixpkgs, pull requests merged in 2023-12, with the labels that each got.

#271310 python310Packages.django-rq: 2.8.1 -> 2.9.0
  pkgs/development/python-modules/django-rq/default.nix
Labels: 6.topic: python

#271123 Eval fixes from release-attrpaths-superset.nix optimization (part 2)
  lib/customisation.nix
  pkgs/development/compilers/cudatoolkit/flags.nix
  pkgs/os-specific/darwin/xcode/sdk-pkgs.nix
  pkgs/test/cuda/default.nix
  pkgs/top-level/java-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: lib

#269855 teck-udev-rules: correct meta.license attribute
  pkgs/development/node-packages/overrides.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nodejs

#271323 ledfx: add python-{mbedtls,osc} dependency
  pkgs/applications/audio/ledfx/default.nix
  pkgs/development/python-modules/python-mbedtls/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python

#268343 zix: enable tests
  pkgs/development/libraries/audio/zix/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 2501-5000

#271215 fastly: 10.6.4 -> 10.7.0
  pkgs/misc/fastly/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#270854 nlohmann_json: 3.11.2 -> 3.11.3
  pkgs/development/libraries/nlohmann_json/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000, 12.approvals: 1

#270081 libkrb5: 1.20.2 -> 1.21.2
  pkgs/development/libraries/kerberos/krb5.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#271148 moreutils: 0.67 -> 0.68
  pkgs/tools/misc/moreutils/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1

#270395 simdutf: init at 4.0.5
  pkgs/by-name/si/simdutf/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+

#269946 hare: refactor `harePackages` into `hareThirdParty`
  pkgs/top-level/all-packages.nix
  pkgs/top-level/hare-packages.nix
  pkgs/top-level/hare-third-party.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#271254 cargo-udeps: set meta.mainProgram
  pkgs/development/tools/rust/cargo-udeps/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.11

#270605 libserdes: link with libc++ libc++abi; fix darwin build
  pkgs/development/libraries/libserdes/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 12.approvals: 1, 12.approved-by: package-maintainer, 0.kind: ZHF Fixes, backport release-23.11

#269507 mdbtools: fix build on latest Clang
  pkgs/tools/misc/mdbtools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#271175 clipcat: 0.7.1 -> 0.8.0
  pkgs/applications/misc/clipcat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#271144 mysql-shell-innovation: 8.2.0 -> 8.2.1
  pkgs/development/tools/mysql-shell/innovation.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#270847 tomcat10: 10.1.15 -> 10.1.16
  nixos/modules/services/web-servers/tomcat.nix
  nixos/tests/tomcat.nix
  pkgs/servers/http/tomcat/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#271201 cudaPackages.cudnn_8_9: 8.9.1.23 -> 8.9.6.50
  pkgs/development/libraries/science/math/cudnn/releases.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 6.topic: cuda

#268791 libcap: Fix static build setting LIBCSTATIC=yes
  pkgs/os-specific/linux/libcap/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12. first-time contribution

#270496 workflows/check-by-name: Limited and exponential retries
  .github/workflows/check-by-name.yml
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#270785 clex: 4.6.patch10 -> 4.7
  pkgs/applications/file-managers/clex/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 0.kind: ZHF Fixes, backport release-23.11

#270410 invidtui: init at 0.3.6
  maintainers/maintainer-list.nix
  pkgs/by-name/in/invidtui/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+, 12. first-time contribution

#271023 pywalfox-native: init at 2.7.4
  maintainers/maintainer-list.nix
  pkgs/by-name/py/pywalfox-native/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12. first-time contribution

#270677 Update pulseaudio module
  nixos/doc/manual/release-notes/rl-2405.section.md
  nixos/modules/config/pulseaudio.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12. first-time contribution

#262957 xdg-desktop-portal-wlr: add bash to program wrapper
  pkgs/development/libraries/xdg-desktop-portal-wlr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#266746 nixos/roundcube: Ignore newline at end of password file
  nixos/modules/services/mail/roundcube.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12. first-time contribution

#268194 python311Packages.flask-sock: init at 0.7.0
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/flask-sock/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12. first-time contribution

#271031 srt: Add mingw32 build support
  pkgs/development/libraries/srt/default.nix
  pkgs/development/libraries/srt/no-msvc-compat-headers.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, 12. first-time contribution

#270143 libedit: manually define __STDC_ISO_10646__ to fix the build issue against musl
  pkgs/development/libraries/libedit/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500, 12.approvals: 1, 12. first-time contribution

#270548 spotdl: 4.2.1 -> 4.2.2
  pkgs/tools/audio/spotdl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 0.kind: ZHF Fixes, backport release-23.11

#271225 auditwheel: move to python3Packages, 5.1.2 -> 5.4.0
  pkgs/development/python-modules/auditwheel/default.nix
  pkgs/development/python-modules/jupyterhub/default.nix
  pkgs/development/python-modules/playwright/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 0.kind: ZHF Fixes, 6.topic: jupyter, backport release-23.11

#262837 nodejs: default to nodejs_20
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000

#271009 traefik: 2.10.5 -> 2.10.6
  pkgs/servers/traefik/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.11

#271243 nixos/opensearch: check plugins directory exists before checking content
  nixos/modules/services/search/opensearch.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 2

#271004 graphite2: fix cross-compilation
  pkgs/development/libraries/silgraphite/graphite2.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#270543 gtkmm4: fix cross compilation
  pkgs/development/libraries/gtkmm/4.x.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#270841 resholve: 0.9.0 -> 0.9.1
  pkgs/development/misc/resholve/README.md
  pkgs/development/misc/resholve/default.nix
  pkgs/development/misc/resholve/deps.nix
  pkgs/development/misc/resholve/source.nix
  pkgs/development/misc/resholve/test.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#269602 ocamlPackages.tls: 0.17.1 → 0.17.3
  pkgs/development/ocaml-modules/tls/default.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#268532 vim: 9.0.2048 -> 9.0.2116
  pkgs/applications/editors/vim/common.nix
Labels: 1.severity: security, 6.topic: vim, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000, backport staging-23.11

#269599 avahi: apply patch for CVE-2023-38469, CVE-2023-38470, CVE-2023-38471, CVE-2023-38472 and CVE-2023-38473
  pkgs/development/libraries/avahi/CVE-2023-38469.patch
  pkgs/development/libraries/avahi/CVE-2023-38471-2.patch
  pkgs/development/libraries/avahi/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+

#270452 python311Packages.cryptography: 41.0.3 -> 41.0.5, python311Packages.cryptography-vectors: 41.0.3 -> 41.0.5
  pkgs/development/python-modules/cryptography/default.nix
  pkgs/development/python-modules/cryptography/vectors.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#270019 python3Packages.gevent: 22.10.2 -> 23.9.1
  pkgs/development/python-modules/gevent/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#270657 dns-root-data: update B.root-servers.net addresses
  pkgs/data/misc/dns-root-data/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 2, 12.approved-by: package-maintainer, backport staging-23.11

#267795 cmake: 3.27.7 -> 3.27.8
  pkgs/by-name/cm/cmake/package.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#270371 godot: 4.1.3 -> 4.2.0
  pkgs/development/tools/godot/4/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#270096 nixos/emacs: Remove absolute paths from documentation
  nixos/modules/services/editors/emacs.md
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#271231 python311Packages.headerparser: 0.4.0 -> 0.5.1
  pkgs/development/python-modules/headerparser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271232 python311Packages.html5-parser: 0.4.11 -> 0.4.12
  pkgs/development/python-modules/html5-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271220 deepin.deepin-gtk-theme: unstable-2022-07-26 -> 23.11.23
  pkgs/desktops/deepin/artwork/deepin-gtk-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#271209 deepin-desktop-theme: 1.0.8 -> 1.0.9
  pkgs/desktops/deepin/artwork/deepin-desktop-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#271293 python311Packages.id: init at 1.1.0
  pkgs/development/python-modules/id/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#271294 python311Packages.tuf: init at 3.1.0
  pkgs/development/python-modules/pyspx/default.nix
  pkgs/development/python-modules/securesystemslib/default.nix
  pkgs/development/python-modules/tuf/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#271295 python311Packages.sigstore-rekor-types: init 0.0.11, python311Packages.sigstore-protobuf-specs: init at 0.2.2
  pkgs/development/python-modules/sigstore-protobuf-specs/default.nix
  pkgs/development/python-modules/sigstore-rekor-types/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#271239 python311Packages.mirakuru: 2.5.1 -> 2.5.2
  pkgs/development/python-modules/mirakuru/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#268288 python311Packages.yamllint: 1.32.0 -> 1.33.0
  pkgs/development/python-modules/napalm/hp-procurve.nix
  pkgs/development/python-modules/netutils/default.nix
  pkgs/development/python-modules/yamllint/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#271137 luaPackages.magick: fix libMagickWand-7.Q16HDRI path on darwin
  pkgs/development/lua-modules/overrides.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 6.topic: lua, 10.rebuild-darwin: 1

#271302 nixos/oddjobd: add SohamG as maintainer
  nixos/modules/programs/oddjobd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#271273 tlrc: 1.7.1 -> 1.8.0
  pkgs/by-name/tl/tlrc/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#237280 fuse-ext2: init at unstable-2020-07-12
  pkgs/tools/filesystems/fuse-ext2/darwin-no-installer.patch
  pkgs/tools/filesystems/fuse-ext2/default.nix
  pkgs/tools/filesystems/fuse-ext2/remove-impure-paths.patch
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#270150 preserves-tools: init at 4.992.2
  pkgs/by-name/pr/preserves-tools/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#269141 fetchfossil: support SRI hashes
  pkgs/build-support/fetchfossil/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: fetch

#269289 archi: add automatic updates
  pkgs/tools/misc/archi/default.nix
  pkgs/tools/misc/archi/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#268885 cocoapods: 1.13.0 -> 1.14.3
  pkgs/development/tools/cocoapods/Gemfile-beta.lock
  pkgs/development/tools/cocoapods/Gemfile.lock
  pkgs/development/tools/cocoapods/gemset-beta.nix
  pkgs/development/tools/cocoapods/gemset.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#268204 netbsd.sys: fix build
  pkgs/applications/version-management/cvs/default.nix
  pkgs/os-specific/bsd/netbsd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#270261 unifi8: init at 8.0.7
  pkgs/servers/unifi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#269425 lilypond-unstable: 2.25.9 -> 2.25.10
  pkgs/misc/lilypond/unstable.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#268892 libfabric: 1.19.0 -> 1.20.0
  pkgs/development/libraries/libfabric/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#271335 liberasurecode: remove -Werror
  pkgs/applications/misc/liberasurecode/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2

#271325 cozette: 1.22.2 -> 1.23.1
  pkgs/data/fonts/cozette/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#270827 openocd-rp2040: override openocd package instead
  pkgs/development/embedded/openocd-rp2040/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.11

#271305 osu-lazer-bin: 2023.1114.1 -> 2023.1130.0
  pkgs/games/osu-lazer/bin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#271312 gemstash: 2.1.0 -> 2.7.1
  pkgs/development/tools/gemstash/Gemfile.lock
  pkgs/development/tools/gemstash/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#271322 millet: 0.13.5 -> 0.14.0
  pkgs/development/tools/language-servers/millet/Cargo.lock
  pkgs/development/tools/language-servers/millet/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#268949 sway-assign-cgroups: init at 0.4.0
  pkgs/applications/window-managers/sway/assign-cgroups.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#271230 Update pythonPackages.qdarkstyle: 3.1 -> 3.2.3
  pkgs/development/python-modules/qdarkstyle/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1

#271208 vencord: 1.6.3 -> 1.6.4
  pkgs/misc/vencord/default.nix
  pkgs/misc/vencord/package-lock.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12.approved-by: package-maintainer, backport release-23.05, backport release-23.11

#271194 common-licenses: 11.1 -> 13
  pkgs/data/misc/common-licenses/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-23.11

#271314 nuclei: 3.0.4 -> 3.1.0
  pkgs/tools/security/nuclei/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#271311 deno: 1.38.2 -> 1.38.4
  pkgs/development/web/deno/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1

#271174 sogo: fix build
  pkgs/development/libraries/sope/default.nix
  pkgs/servers/web-apps/sogo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, 0.kind: ZHF Fixes, backport release-23.11

#268696 mpvScripts.mpris: 1.0 -> 1.1
  pkgs/applications/video/mpv/scripts/mpris.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#256675 insulator2: init at 2.12.2
  maintainers/maintainer-list.nix
  pkgs/applications/misc/insulator2/Cargo.lock
  pkgs/applications/misc/insulator2/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#264419 joycond-cemuhook: init at unstable-2023-08-09
  maintainers/maintainer-list.nix
  nixos/modules/programs/joycond-cemuhook.nix
  pkgs/by-name/jo/joycond-cemuhook/package.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, 12. first-time contribution

#269053 wxmaxima: 23.10.0 -> 23.11.0
  pkgs/applications/science/math/wxmaxima/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#271341 python310Packages.drms: 0.6.4 -> 0.7.0
  pkgs/development/python-modules/drms/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271334 onefetch: 2.18.1 -> 2.19.0
  pkgs/tools/misc/onefetch/default.nix
  pkgs/tools/misc/onefetch/zstd-pkg-config.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#271336 corrosion: 0.4.4 -> 0.4.5
  pkgs/development/tools/build-managers/corrosion/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#271318 hybridreverb2: enableParallelBuilding=true
  pkgs/applications/audio/hybridreverb2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#271291 python310Packages.django-import-export: 3.3.1 -> 3.3.3
  pkgs/development/python-modules/django-import-export/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#196722 rancid: init at 3.13
  pkgs/by-name/ra/rancid/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#271250 libva: add test for pkg-config definitions
  pkgs/development/libraries/libva/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#271290 python310Packages.django-ipware: 5.0.2 -> 6.0.1
  pkgs/development/python-modules/django-ipware/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271328 zfs: 2.2.1 -> 2.2.2, zfs_2_1: 2.1.13 -> 2.1.14
  pkgs/os-specific/linux/zfs/2_1.nix
  pkgs/os-specific/linux/zfs/patches/disable-zfs-dmu-offset-next-sync-by-default-v2-2.patch
  pkgs/os-specific/linux/zfs/stable.nix
  pkgs/os-specific/linux/zfs/unstable.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 12.approvals: 1

#271364 [Backport release-23.11] librewolf-unwrapped: 119.0.1-1 -> 120.0-1
  pkgs/applications/networking/browsers/librewolf/src.json
Labels: 1.severity: security

#271253 python310Packages.deepl: 1.15.0 -> 1.16.1
  pkgs/development/python-modules/deepl/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#255524 emmet-language-server: init at v2.2.0
  maintainers/maintainer-list.nix
  pkgs/development/tools/language-servers/emmet-language-server/default.nix
  pkgs/development/tools/language-servers/emmet-language-server/package-lock.json
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#265354 crossplane-cli: init at 1.14.3
  maintainers/maintainer-list.nix
  pkgs/by-name/cr/crossplane-cli/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+, 12. first-time contribution

#271260 python310Packages.diffsync: 1.9.0 -> 1.10.0
  pkgs/development/python-modules/diffsync/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271228 wavebox: 10.118.5-2 -> 10.119.8-2
  pkgs/applications/networking/instant-messengers/wavebox/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.11

#269439 nixVersions.nix_2_19: init at 2.19.1, nixVersions.unstable: 2.18 -> 2.19
  pkgs/tools/package-management/nix/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#167228 quivira: init at 4.1
  maintainers/maintainer-list.nix
  pkgs/data/fonts/quivira/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#268748 gpgme: 1.23.0 -> 1.23.2
  pkgs/development/libraries/gpgme/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, 10.rebuild-linux: 501-1000

#270329 python311Packages.keyring: 24.2.0 -> 24.3.0
  pkgs/development/python-modules/keyring/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#271261 uiua: 0.3.1 -> 0.4.1
  pkgs/applications/editors/vscode/extensions/default.nix
  pkgs/by-name/ui/uiua/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 6.topic: vscode

#270968 vimPlugins.debugprint-nvim: init at 2023-11-28
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/nvim-treesitter/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#271372 python310Packages.enaml: 0.16.1 -> 0.17.0
  pkgs/development/python-modules/enaml/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#271385 python310Packages.ezyrb: 1.3.0.post2311 -> 1.3.0.post2312
  pkgs/development/python-modules/ezyrb/default.nix
Labels: 6.topic: python

#271426 eris-server: fix nixos test
  nixos/tests/eris-server.nix
Labels: 6.topic: nixos

#271380 mailpit: 1.10.1 -> 1.10.2
  pkgs/servers/mail/mailpit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#271402 terrascan: 1.18.3 -> 1.18.5
  pkgs/tools/security/terrascan/default.nix
Labels: 12.approvals: 2

#271278 python310Packages.django-filter: 23.3 -> 23.4
  pkgs/development/python-modules/django-filter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#271382 phpunit: 10.4.2 -> 10.5.0
  pkgs/development/tools/misc/phpunit/composer.lock
  pkgs/development/tools/misc/phpunit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#271340 trigger-control: unstable-2023-06-18 -> 1.5.1
  pkgs/by-name/tr/trigger-control/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 0.kind: ZHF Fixes, backport release-23.11

#266368 remmina: 1.4.31 -> 1.4.33
  pkgs/applications/networking/remote/remmina/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#270462 e2fsprogs: add withFuse option
  pkgs/tools/filesystems/e2fsprogs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#271365 [Backport release-23.05] zfs: 2.1.12 -> 2.1.14
  pkgs/os-specific/linux/zfs/stable.nix
  pkgs/os-specific/linux/zfs/unstable.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#270211 inkscape: 1.3.1 → 1.3.2
  pkgs/applications/graphics/inkscape/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, backport release-23.11

#271317 [Backport release-23.05] {,ungoogled-}chromium: 119.0.6045.159 -> 119.0.6045.199
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#271466 telegram-desktop: 4.11.8 -> 4.12.2
  pkgs/applications/networking/instant-messengers/telegram/telegram-desktop/default.nix
  pkgs/applications/networking/instant-messengers/telegram/telegram-desktop/tg_owt.nix
Labels: 12.approvals: 1, backport release-23.11

#271410 metasploit: 6.3.44 -> 6.3.45
  pkgs/tools/security/metasploit/Gemfile
  pkgs/tools/security/metasploit/Gemfile.lock
  pkgs/tools/security/metasploit/default.nix
  pkgs/tools/security/metasploit/gemset.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#271409 python311Packages.xkcdpass: 1.19.6 -> 1.19.8
  pkgs/development/python-modules/xkcdpass/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271401 python311Packages.py-serializable: 0.15.0 -> 0.16.0
  pkgs/development/python-modules/py-serializable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#270541 python310Packages.botocore-stubs: 1.31.79 -> 1.33.0
  pkgs/development/python-modules/botocore-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#271199 [release-23.05] forgejo: mark as insecure
  pkgs/applications/version-management/forgejo/default.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#268181 simplotask: 1.11.5 → 1.12.0
  pkgs/tools/admin/simplotask/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#266193 gcc: put environment variables in drvAttrs.env
  pkgs/development/compilers/gcc/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#271446 nixos-anywhere: 1.0.0 -> 1.1.0
  pkgs/by-name/ni/nixos-anywhere/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, backport release-23.11

#271447 lxd-ui: 0.4 -> 0.5
  pkgs/tools/admin/lxd/ui.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#271279 python310Packages.django-hijack: 3.4.2 -> 3.4.3
  pkgs/development/python-modules/django-hijack/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#267550 vala: look for files in `targetOffset`
  pkgs/desktops/gnome/apps/gnome-clocks/default.nix
  pkgs/desktops/gnome/apps/seahorse/default.nix
  pkgs/desktops/gnome/core/baobab/default.nix
  pkgs/desktops/gnome/core/gnome-calculator/default.nix
  pkgs/desktops/gnome/games/gnome-mines/default.nix
  pkgs/development/compilers/vala/setup-hook.sh
  pkgs/development/libraries/libgnome-games-support/default.nix
Labels: 6.topic: GNOME, 6.topic: cross-compilation, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#270335 python311Packages.tzlocal: 5.0.1 -> 5.2
  pkgs/development/python-modules/tzlocal/default.nix
  pkgs/development/tools/gdtoolkit/default.nix
  pkgs/development/tools/sca2d/default.nix
  pkgs/os-specific/linux/autosuspend/default.nix
Labels: 6.topic: python, 9.needs: port to stable, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer, 0.kind: ZHF Fixes

#270901 spooles: fix compiler errors and link properly; fix darwin build
  pkgs/development/libraries/science/math/spooles/allocate.patch
  pkgs/development/libraries/science/math/spooles/default.nix
  pkgs/development/libraries/science/math/spooles/transform.patch
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: ZHF Fixes, backport release-23.11

#267049 teleport_11: remove
  nixos/tests/teleport.nix
  pkgs/servers/teleport/11/Cargo.lock
  pkgs/servers/teleport/11/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.11

#270159 [23.05] python3Packages.gevent: add patch for CVE-2023-41419
  pkgs/development/python-modules/gevent/22.10.2-CVE-2023-41419.patch
  pkgs/development/python-modules/gevent/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500, 12.approvals: 1, 12.approved-by: package-maintainer

#271415 rubyPackages: update
  pkgs/top-level/ruby-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501-1000, 10.rebuild-darwin: 501-1000, backport release-23.11

#261509 dlib: build with fftw, blas and webp
  pkgs/development/libraries/dlib/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#271355 tailscale: 1.54.0 -> 1.54.1
  pkgs/servers/tailscale/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#271283 cargo-vibe: init at unstable 2022-12-29
  pkgs/by-name/ca/cargo-vibe/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#270707 openapi-generator-cli: 7.0.1 -> 7.1.0
  pkgs/tools/networking/openapi-generator-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#270533 python310Packages.blockfrost-python: 0.5.3 -> 0.6.0
  pkgs/development/python-modules/blockfrost-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#270513 python310Packages.backports-entry-points-selectable: 1.2.0 -> 1.3.0
  pkgs/development/python-modules/backports-entry-points-selectable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#270709 openttd-jgrpp: 0.55.3 -> 0.56.0
  pkgs/games/openttd/jgrpp.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#270588 python310Packages.click-help-colors: 0.9.2 -> 0.9.4
  pkgs/development/python-modules/click-help-colors/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#270121 spacedrive: init at 0.1.4
  pkgs/by-name/sp/spacedrive/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#264763 weston: 12.0.2 -> 13.0.0
  pkgs/applications/window-managers/weston/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#267232 update aws packages
  pkgs/development/libraries/aws-c-auth/default.nix
  pkgs/development/libraries/aws-c-cal/default.nix
  pkgs/development/libraries/aws-c-common/default.nix
  pkgs/development/libraries/aws-c-event-stream/default.nix
  pkgs/development/libraries/aws-c-http/default.nix
  pkgs/development/libraries/aws-c-io/default.nix
  pkgs/development/libraries/aws-c-mqtt/default.nix
  pkgs/development/libraries/aws-c-s3/default.nix
  pkgs/development/libraries/aws-crt-cpp/0001-build-Make-includedir-properly-overrideable.patch
  pkgs/development/libraries/aws-crt-cpp/default.nix
  pkgs/development/libraries/aws-sdk-cpp/cmake-dirs.patch
  pkgs/development/libraries/aws-sdk-cpp/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 501-1000, 10.rebuild-darwin: 501-1000

#268884 libde265: 1.0.12 -> 1.0.14
  pkgs/development/libraries/libde265/default.nix
Labels: 1.severity: security, 9.needs: port to stable, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#270695 simgrid: 3.34 -> 3.35
  pkgs/applications/science/misc/simgrid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#271221 python310Packages.dataprep-ml: 0.0.18 -> 0.0.20
  pkgs/development/python-modules/dataprep-ml/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#271359 python310Packages.dvc-objects: 1.2.0 -> 1.3.0
  pkgs/development/python-modules/dvc-objects/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1
