Repository NixOS/nixpkgs, pull requests merged in 2023-09, with the labels that each got.

#252061 freetube: change electron to electron_22
  pkgs/applications/video/freetube/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252634 awsebcli: 3.20.7 -> 3.20.9
  pkgs/tools/virtualization/awsebcli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252549 .github/workflows/update-terraform-providers.yml: disable
  .github/workflows/update-terraform-providers.yml
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#252609 python311Packages.procmon-parser: init at 0.3.13
  pkgs/development/python-modules/procmon-parser/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252659 yash: fix build on darwin
  pkgs/shells/yash/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#252674 .github/workflows/update-terraform-providers.yml: re-enable workflow_dispatch
  .github/workflows/update-terraform-providers.yml
Labels: 6.topic: policy discussion

#252650 doublecmd: 1.0.11 -> 1.1.1
  pkgs/applications/file-managers/doublecmd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252598 python310Packages.pulumi-aws: 5.42.0 -> 6.0.3
  pkgs/development/python-modules/pulumi-aws/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#250646 oneshot: 1.5.1 -> 2.0.1
  pkgs/tools/networking/oneshot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252614 ocamlPackages.krb: add v0.16
  pkgs/development/ocaml-modules/janestreet/0.16.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#251304 sambamba: 1.0.0 -> 1.0.1
  pkgs/applications/science/biology/sambamba/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252566 zarf: 0.29.0 -> 0.29.1
  pkgs/applications/networking/cluster/zarf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252699 python311Packages.coredis: 4.15.1 -> 4.16.0
  pkgs/development/python-modules/coredis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252693 python311Packages.casbin: 1.25.0 -> 1.26.0
  pkgs/development/python-modules/casbin/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252655 sqlcipher: 4.5.4 -> 4.5.5
  pkgs/development/libraries/sqlcipher/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#252701 libisoburn: 1.5.4 -> 1.5.6
  pkgs/development/libraries/libisoburn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#252678 biome: init at 1.0.0
  pkgs/development/tools/biome/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252671 unciv: 4.7.17-patch1 -> 4.7.19
  pkgs/games/unciv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252654 aspectj: 1.9.19 -> 1.9.20
  pkgs/development/compilers/aspectj/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252651 cloudlog: 2.4.5 -> 2.4.8
  nixos/modules/services/web-apps/cloudlog.nix
  pkgs/applications/radio/cloudlog/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#252645 stratisd: 3.5.8 -> 3.5.9
  pkgs/tools/filesystems/stratisd/Cargo.lock
  pkgs/tools/filesystems/stratisd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#252631 ttdl: 4.0.0 -> 4.1.0
  pkgs/applications/misc/ttdl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252606 chatterino2: 2.4.4 -> 2.4.5
  pkgs/applications/networking/instant-messengers/chatterino2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252588 klaus: 2.0.2 -> 2.0.3
  pkgs/development/python-modules/klaus/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252677 python310Packages.jupyter-collaboration: 1.0.1 -> 1.1.0
  pkgs/development/python-modules/jupyter-collaboration/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252684 python3Packages.pyhepmc: init at 2.12.0
  pkgs/development/python-modules/pyhepmc/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252676 maintainers: add viktornordling
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#252595 ocamlPackages.elpi: 1.16.5 → 1.17.0
  pkgs/development/coq-modules/coq-elpi/default.nix
  pkgs/development/ocaml-modules/elpi/default.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252702 cosign: 2.1.1 -> 2.2.0
  pkgs/tools/security/cosign/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252703 clojure: 1.11.1.1405 -> 1.11.1.1413
  pkgs/development/interpreters/clojure/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252706 python310Packages.oci: 2.110.2 -> 2.111.0
  pkgs/development/python-modules/oci/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252707 moar: 1.15.4 -> 1.16.0
  pkgs/tools/misc/moar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252705 python311Packages.asyncsleepiq: 1.3.6 -> 1.3.7
  pkgs/development/python-modules/asyncsleepiq/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252714 clairvoyance: 2.0.6 -> 2.5.3
  pkgs/tools/security/clairvoyance/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252720 jackett: 0.21.705 -> 0.21.719
  pkgs/servers/jackett/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252713 python311Packages.neo4j: 5.11.0 -> 5.12.0
  pkgs/development/python-modules/neo4j/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252722 where-is-my-sddm-theme: 1.3.0 -> 1.5.0
  pkgs/data/themes/where-is-my-sddm-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#252712 python311Packages.botocore-stubs: 1.31.38 -> 1.31.39
  pkgs/development/python-modules/botocore-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252711 python311Packages.appthreat-vulnerability-db: 5.2.3 -> 5.2.5
  pkgs/development/python-modules/appthreat-vulnerability-db/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252710 python311Packages.censys: 2.2.4 -> 2.2.5
  pkgs/development/python-modules/censys/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252709 python311Packages.hahomematic: 2023.8.13 -> 2023.8.14
  pkgs/development/python-modules/hahomematic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252704 checkov: 2.4.19 -> 2.4.22
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252689 grype: 0.65.2 -> 0.66.0
  pkgs/tools/security/grype/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252717 python311Packages.celery: 5.3.1 -> 5.3.3, python311Packages.kombu: 5.3.1 -> 5.3.2
  pkgs/development/python-modules/celery/default.nix
  pkgs/development/python-modules/kombu/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#252688 jsonnet-language-server: 0.12.1 -> 0.13.0
  pkgs/development/tools/language-servers/jsonnet-language-server/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252669 ipinfo: 2.10.1 -> 3.0.1
  pkgs/tools/networking/ipinfo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252726 python311Packages.dataclasses-json: 0.5.14 -> 0.5.15
  pkgs/development/python-modules/dataclasses-json/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#252725 python311Packages.aiolifx-themes: 0.4.7 -> 0.4.8
  pkgs/development/python-modules/aiolifx-themes/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#249527 python3Packages.pkg-about: init at 1.0.8
  pkgs/development/python-modules/pkg-about/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252589 lighthouse-steamvr: 1.0.0 -> 1.1.1
  pkgs/tools/misc/lighthouse-steamvr/Cargo.lock
  pkgs/tools/misc/lighthouse-steamvr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252724 python310Packages.funsor: 0.4.5 -> 0.4.6
  pkgs/development/python-modules/funsor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#251639 python310Packages.json5: 0.9.9 -> 0.9.14
  pkgs/development/python-modules/json5/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#249244 python310Packages.pytest-playwright: 0.3.3 -> 0.4.2
  pkgs/development/python-modules/pytest-playwright/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252439 python311Packages.dataproperty: 0.55.0 -> 1.0.1
  pkgs/development/python-modules/dataproperty/default.nix
  pkgs/development/python-modules/pytablewriter/default.nix
  pkgs/development/python-modules/typepy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#251354 python311Packages.logbook: 1.5.3 -> 1.6.0
  pkgs/applications/misc/cobang/0001-Poetry-core-and-pillow-9.patch
  pkgs/applications/misc/cobang/default.nix
  pkgs/development/python-modules/dbt-core/default.nix
  pkgs/development/python-modules/logbook/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#252730 python311Packages.mkdocs-swagger-ui-tag: 0.6.2 -> 0.6.4
  pkgs/development/python-modules/mkdocs-swagger-ui-tag/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252692 containerd: 1.7.3 -> 1.7.5
  pkgs/applications/virtualization/containerd/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#252698 tektoncd-cli: 0.31.1 -> 0.31.2
  pkgs/applications/networking/cluster/tektoncd-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252683 python310Packages.awkward-cpp: 21 -> 22
  pkgs/development/python-modules/awkward-cpp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252731 typesense: 0.24.1 -> 0.25.0
  pkgs/servers/search/typesense/sources.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252509 hyperscan: add checkPhase
  pkgs/development/libraries/hyperscan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12. first-time contribution

#252169 lunarml: unstable-2023-07-25 -> unstable-2023-08-25
  pkgs/development/compilers/lunarml/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252652 xdaliclock: 2.47 -> 2.48
  pkgs/tools/misc/xdaliclock/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252690 ollama: 0.0.15 -> 0.0.17
  pkgs/tools/misc/ollama/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252733 appflowy: remove openssl_1_1 dependency
  pkgs/applications/office/appflowy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252694 supabase-cli: 1.86.1 -> 1.88.0
  pkgs/development/tools/supabase-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252686 act: 0.2.49 -> 0.2.50
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#251211 pythonPackages.paddleocr: init at 2.7.0.1
  pkgs/development/python-modules/paddleocr/default.nix
  pkgs/development/python-modules/paddleocr/remove-import-imaug.patch
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252743 belcard: 5.2.12 -> 5.2.98
  pkgs/development/libraries/belcard/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#249456 xdg-dbus-proxy: 0.1.4 -> 0.1.5
  pkgs/development/libraries/xdg-dbus-proxy/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#248805 openmvs: 2.1.0 -> 2.2.0
  pkgs/applications/science/misc/openmvs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252735 python311Packages.peaqevcore: 19.2.0 -> 19.2.1
  pkgs/development/python-modules/peaqevcore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252736 monkeysAudio: 10.19 -> 10.20
  pkgs/applications/audio/monkeys-audio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#252629 octave: 8.2.0 -> 8.3.0
  pkgs/development/interpreters/octave/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#252605 Linux kernel updates 2023-08-30
  pkgs/os-specific/linux/kernel/linux-4.14.nix
  pkgs/os-specific/linux/kernel/linux-4.19.nix
  pkgs/os-specific/linux/kernel/linux-5.10.nix
  pkgs/os-specific/linux/kernel/linux-5.15.nix
  pkgs/os-specific/linux/kernel/linux-5.4.nix
  pkgs/os-specific/linux/kernel/linux-6.1.nix
  pkgs/os-specific/linux/kernel/linux-6.4.nix
  pkgs/os-specific/linux/kernel/linux-rt-5.4.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1, backport release-23.05

#252759 python311Packages.aws-lambda-builders: 1.36.0 -> 1.37.0
  pkgs/development/python-modules/aws-lambda-builders/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252758 python311Packages.pytibber: 0.28.1 -> 0.28.2
  pkgs/development/python-modules/pytibber/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252757 python311Packages.riscv-config: 3.5.2 -> 3.13.1
  pkgs/development/python-modules/riscv-config/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252756 python311Packages.rich-argparse: 1.1.0 -> 1.3.0
  pkgs/development/python-modules/rich-argparse/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252755 python311Packages.requirements-detector: 1.1.0 -> 1.2.2
  pkgs/development/python-modules/requirements-detector/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252749 python311Packages.pytapo: 3.1.18 -> 3.2.14
  pkgs/development/python-modules/pytapo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252133 verible: 0.0.3253 -> 0.0.3410
  pkgs/development/tools/language-servers/verible/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#248669 dnscrypt-proxy: rename from dnscrypt-proxy2
  nixos/modules/services/networking/dnscrypt-proxy2.nix
  pkgs/tools/networking/dnscrypt-proxy/default.nix
  pkgs/tools/networking/ivpn/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252744 python310Packages.jaraco-logging: 3.1.2 -> 3.2.0
  pkgs/development/python-modules/jaraco-logging/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#252738 jfrog-cli: 2.45.0 -> 2.46.2
  pkgs/tools/misc/jfrog-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252740 timeular: 5.9.0 -> 6.2.2
  pkgs/applications/office/timeular/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252539 zsh-completions: 0.34.0 -> 0.35.0
  pkgs/shells/zsh/zsh-completions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252680 Freecad updates
  pkgs/applications/graphics/freecad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#252767 uxn: unstable-2023-08-10 -> unstable-2023-08-30
  pkgs/applications/emulators/uxn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#249103 github-runner: 2.307.1 -> 2.308.0
  nixos/doc/manual/release-notes/rl-2311.section.md
  nixos/modules/services/continuous-integration/github-runner/options.nix
  nixos/modules/services/continuous-integration/github-runner/service.nix
  pkgs/development/tools/continuous-integration/github-runner/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#252774 python310Packages.cmaes: 0.9.1 -> 0.10.0
  pkgs/development/python-modules/cmaes/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#251108 coreboot-toolchain: 4.20 -> 4.21
  pkgs/development/tools/misc/coreboot-toolchain/default.nix
  pkgs/development/tools/misc/coreboot-toolchain/stable.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#251892 elixir-ls: meta.mainProgram
  pkgs/development/beam-modules/elixir-ls/default.nix
Labels: 6.topic: erlang, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12. first-time contribution

#250668 xss-lock: meta.mainProgram
  pkgs/misc/screensavers/xss-lock/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#231366 shaka-packager: init at 2.6.1
  pkgs/applications/video/shaka-packager/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#249245 muse: 3.1.1 -> 4.1.0; add meta.mainProgram and other fixes
  pkgs/applications/audio/muse/default.nix
  pkgs/applications/audio/muse/fix-parallel-building.patch
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#252798 orbiton: 2.63.1 -> 2.64.3
  pkgs/applications/editors/orbiton/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252793 python311Packages.tlds: 2023050900 -> 2023080900
  pkgs/development/python-modules/tlds/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252792 python311Packages.snscrape: 0.6.0.20230303 -> 0.7.0.20230622
  pkgs/development/python-modules/snscrape/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252788 python311Packages.returns: 0.21.0 -> 0.22.0
  pkgs/development/python-modules/returns/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252787 python311Packages.schema-salad: 8.4.20230606143604 -> 8.4.20230808163024
  pkgs/development/python-modules/schema-salad/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252782 python311Packages.slack-bolt: disable failing tests
  pkgs/development/python-modules/slack-bolt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: build failure

#252763 python311Packages.json-logging: disable smoke tests
  pkgs/development/python-modules/json-logging/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#244046 albert: 0.20.14 -> 0.22.0
  pkgs/applications/misc/albert/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252750 python311Packages.pyramid: 2.0.1 -> 2.0.2
  pkgs/development/python-modules/pyramid/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#252805 python311Packages.orange3: adjust nativeBuildInputs
  pkgs/development/python-modules/orange3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: build failure

#252799 python311Packages.heudiconv: relax versioningit constraint
  pkgs/development/python-modules/heudiconv/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: build failure

#250344 maintainers: document expectations
  maintainers/README.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#252803 river: add meta.mainProgram
  pkgs/applications/window-managers/river/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#252779 grafana: 10.1.0 -> 10.1.1
  pkgs/servers/monitoring/grafana/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252807 fh: init at 0.1.1
  pkgs/tools/nix/fh/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252810 gitnr: init at 0.1.0
  pkgs/applications/version-management/gitnr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252775 cargo-generate: 0.18.3 -> 0.18.4
  pkgs/development/tools/rust/cargo-generate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252812 surrealdb: 1.0.0-beta.9 -> 1.0.0-beta.10
  pkgs/servers/nosql/surrealdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#251684 nixos/systemd-user: call systemd-tmpfiles during activation
  nixos/modules/system/boot/systemd/user.nix
  nixos/tests/user-activation-scripts.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 6.topic: systemd

#252623 lxqt.xdg-desktop-portal-lxqt: add libexif and menu-cache dependencies
  pkgs/desktops/lxqt/xdg-desktop-portal-lxqt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: LXQt

#252754 tevent: 0.14.1 -> 0.15.0
  pkgs/development/libraries/tevent/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#252811 papirus-icon-theme: 20230801 -> 20230901
  pkgs/data/icons/papirus-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252416 privacyidea: fix build by pinning factory_boy to 3.2.1
  pkgs/applications/misc/privacyidea/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#251369 trivial-builders: add meta to writeShellApplication
  pkgs/build-support/trivial-builders/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#252687 rpm-ostree: 2023.5 -> 2023.7
  pkgs/tools/misc/rpm-ostree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252672 kics: 1.7.5 -> 1.7.7
  pkgs/tools/admin/kics/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252696 alfaview: 8.72.0 -> 9.0.3
  pkgs/applications/networking/instant-messengers/alfaview/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252657 nghttp3: 0.13.0 -> 0.14.0
  pkgs/development/libraries/nghttp3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252660 checkstyle: 10.12.2 -> 10.12.3
  pkgs/development/tools/analysis/checkstyle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252665 sfeed: 1.8 -> 1.9
  pkgs/tools/misc/sfeed/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252586 vivaldi: 6.1.3035.302 -> 6.2.3105.45
  pkgs/applications/networking/browsers/vivaldi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252592 revive: 1.3.2 -> 1.3.3
  pkgs/development/tools/revive/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252818 sparrow: 1.7.8 -> 1.7.9
  pkgs/applications/blockchains/sparrow/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#252815 i3status-rust: 0.31.9 -> 0.32.0
  pkgs/applications/window-managers/i3/status-rust.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252526 wasmi: 0.30.0 -> 0.31.0
  pkgs/development/tools/wasmi/Cargo.lock
  pkgs/development/tools/wasmi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252506 insomnia: 2023.5.5 -> 2023.5.7
  pkgs/development/web/insomnia/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#252666 subjs: use sri hash
  pkgs/tools/security/subjs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#252252 up: use sri hash
  pkgs/tools/misc/up/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#252490 bchoppr: 1.12.2 -> 1.12.6
  pkgs/applications/audio/bchoppr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#252486 k6: 0.45.1 -> 0.46.0
  pkgs/development/tools/k6/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#252473 tremc: 0.9.2 -> 0.9.3
  pkgs/applications/networking/p2p/tremc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252469 qbittorrent: 4.5.4 -> 4.5.5
  pkgs/applications/networking/p2p/qbittorrent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#252468 transmission_4: 4.0.3 -> 4.0.4
  pkgs/applications/networking/p2p/transmission/4.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252233 sbt: 1.9.3 -> 1.9.4
  pkgs/development/tools/build-managers/sbt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#251124 devede: 4.16.0 -> 4.17.0
  pkgs/applications/video/devede/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#251121 lightworks: 2022.1.1 -> 2023.1
  pkgs/applications/video/lightworks/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#250467 murex: 4.4.9100 -> 4.4.9500; added maintainer
  pkgs/shells/murex/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#250433 calaos_installer: 3.5 -> 3.11
  pkgs/misc/calaos/installer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#249517 thonny: 4.1.1 -> 4.1.2
  pkgs/applications/editors/thonny/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#249253 juju: 3.2.0 -> 3.2.2
  pkgs/applications/networking/juju/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#249129 gatekeeper: 3.12.0 -> 3.13.0
  pkgs/applications/networking/cluster/gatekeeper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#249009 nimbo: 0.2.4 -> 0.3.0
  pkgs/applications/misc/nimbo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#248251 terraform-compliance: 1.3.34 -> 1.3.43
  pkgs/applications/networking/cluster/terraform-compliance/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#248341 scaleft: 1.45.4 -> 1.67.4
  pkgs/applications/networking/scaleft/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1
