Repository NixOS/nixpkgs, pull requests merged in 2023-06, with the labels that each got.

#235273 byacc: 20230219 -> 20230521
  pkgs/development/tools/parsing/byacc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#233920 gnome-flashback: fix screenshot key and screen not locking when idle
  pkgs/desktops/gnome/misc/gnome-flashback/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-23.05

#235263 haskellPackages.mkDerivation: small clean up
  pkgs/development/haskell-modules/generic-builder.nix
Labels: 6.topic: haskell, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#235291 shellhub-agent: 0.12.0 -> 0.12.1
  pkgs/applications/networking/shellhub-agent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-23.05

#235136 clementine: unpin protobuf
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235284 python311Packages.pyezviz: 0.2.0.15 -> 0.2.0.17
  pkgs/development/python-modules/pyezviz/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235279 python311Packages.aioairzone-cloud: 0.1.6 -> 0.1.7
  pkgs/development/python-modules/aioairzone-cloud/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235275 cmocka: unmark as broken for static builds
  pkgs/development/libraries/cmocka/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#235247 codemov: unstable-2022-10-24 -> unstable-2023-05-28
  pkgs/tools/misc/codemov/Cargo.lock
  pkgs/tools/misc/codemov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235223 cargo-modules: 0.8.0 -> 0.9.0
  pkgs/development/tools/rust/cargo-modules/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235293 python311Packages.netdata: 1.0.3 -> 1.1.0
  pkgs/development/python-modules/netdata/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235290 snagboot: replace fetchPypi with fetchFromGitHub
  pkgs/applications/misc/snagboot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#235294 reindeer: update passthru.updateScript to use upstream Cargo.lock
  pkgs/development/tools/reindeer/default.nix
  pkgs/development/tools/reindeer/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#235323 rshim-user-space: 2.0.7 -> 2.0.8
  pkgs/tools/misc/rshim-user-space/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235320 python310Packages.looseversion: 1.1.2 -> 1.2.0
  pkgs/development/python-modules/looseversion/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235312 SDL_compat: 1.2.60 -> 1.2.64
  pkgs/development/libraries/SDL_compat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235311 brook: 20230601 -> 20230606
  pkgs/tools/networking/brook/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235308 mdbook-katex: 0.5.2 -> 0.5.3
  pkgs/tools/text/mdbook-katex/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235327 python310Packages.django-vite: 2.0.2 -> 2.1.0
  pkgs/development/python-modules/django-vite/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235213 Add willcohen to geospatial
  maintainers/team-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#235277 gerrit: 3.7.2 -> 3.8.0
  pkgs/applications/version-management/gerrit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235278 python311Packages.zha-quirks: 0.0.99 -> 0.0.100
  pkgs/development/python-modules/zha-quirks/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#235135 python311Packages.certipy-ad: make it usable as module
  pkgs/development/python-modules/certipy-ad/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235333 python310Packages.awkward: 2.0.8 -> 2.2.1
  pkgs/development/python-modules/awkward-cpp/default.nix
  pkgs/development/python-modules/awkward/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235330 unciv: 4.6.14-patch1 -> 4.6.15
  pkgs/games/unciv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235239 alephone: 1.6.1 -> 1.6.2
  pkgs/games/alephone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#234975 spleen: 1.9.3 -> 2.0.0
  pkgs/data/fonts/spleen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#231603 mesa-demos: fix cross compilation, set strictDeps
  pkgs/tools/graphics/mesa-demos/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#235307 babashka: 1.3.179 -> 1.3.180
  pkgs/development/interpreters/clojure/babashka.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235043 grass: 8.2.0 -> 8.2.1 and fix build failure
  pkgs/applications/gis/grass/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#234638 [22.11] libheif: add patch for CVE-2023-29659
  pkgs/development/libraries/libheif/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#235339 python310Packages.spacy-transformers: 1.2.3 -> 1.2.4
  pkgs/development/python-modules/spacy-transformers/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235348 enumer: unpin go
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235335 cwm: fix cross compilation, enable strictDeps
  pkgs/applications/window-managers/cwm/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235207 cinnamon.bulky: 2.7 -> 2.8
  pkgs/desktops/cinnamon/bulky/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: cinnamon

#235185 Fix RAUC package cross-compilation
  pkgs/tools/misc/rauc/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235242 intel-compute-runtime: 23.13.26032.30 -> 23.17.26241.15
  pkgs/os-specific/linux/intel-compute-runtime/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235346 datadog-agent: unpin go1.18
  pkgs/tools/networking/dd-agent/datadog-agent.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235351 mgmt: unpin go
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#233448 Remove unused inputs from packages I opened in #233447
  pkgs/development/python-modules/cryptography/default.nix
  pkgs/development/python-modules/matplotlib/default.nix
  pkgs/development/python-modules/numpy/default.nix
  pkgs/development/python-modules/pandas/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#235341 v2ray: 5.6.0 -> 5.7.0
  pkgs/tools/networking/v2ray/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235352 boulder: unpin go
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235256 vscode-extensions.tailscale.vscode-tailscale: init at 0.4.0
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#227753 phpExtensions.relay: init at 0.6.3
  maintainers/maintainer-list.nix
  pkgs/development/php-packages/relay/default.nix
  pkgs/top-level/php-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#235145 openvscode-server: revert #232887 - switch back to NodeJS 16
  pkgs/servers/openvscode-server/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#227581 Add 6 vscode extensions
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, 6.topic: vscode

#234210 noson: init at 5.4.1
  pkgs/applications/audio/noson/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#234505 Add vscode-extensions.RoweWilsonFrederiskHolme.wikitext
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: vscode

#234810 waybar: 0.9.17 -> 0.9.18
  pkgs/applications/misc/waybar/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#234436 westonLite: disable JPEG and LCMS2 support
  pkgs/applications/window-managers/weston/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#234946 vimPlugins.vim-julia-cell: init at 2020-08-04
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/nvim-treesitter/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 8.has: clean-up, 6.topic: vim, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#235363 python310Packages.rq: 1.14.1 -> 1.15
  pkgs/development/python-modules/rq/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235354 mako: 1.7.1 -> 1.8.0
  pkgs/applications/misc/mako/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235358 flyctl: 0.1.20 -> 0.1.23
  pkgs/development/web/flyctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235328 konstraint: 0.28.0 -> 0.29.0
  pkgs/development/tools/konstraint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#234669 iosevka: 23.0.0 -> 24.1.0
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235305 netplan: 0.106 -> 0.106.1
  pkgs/tools/admin/netplan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#235299 gdu: 5.23.0 -> 5.24.0
  pkgs/tools/system/gdu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235382 steampipe: 0.20.2 -> 0.20.5
  pkgs/tools/misc/steampipe/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235374 hugo: 0.112.5 -> 0.112.6
  pkgs/applications/misc/hugo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#229309 kanidm: 1.1.0-alpha.11 -> 1.1.0-alpha.12
  nixos/tests/kanidm.nix
  pkgs/servers/kanidm/Cargo.lock
  pkgs/servers/kanidm/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-23.05

#235221 nixVersions.nix_2_16: init at 2.16.0
  pkgs/tools/package-management/nix/common.nix
  pkgs/tools/package-management/nix/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#234826 atuin: 14.0.1 -> 15.0.0
  pkgs/tools/misc/atuin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#234431 Use binary wrapper instead of shell wrapper for PHP
  pkgs/development/interpreters/php/generic.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#235385 papirus-icon-theme: 20230301 -> 20230601
  pkgs/data/icons/papirus-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#228752 minizinc: enable gecode and cbc solvers by default
  pkgs/development/tools/minizinc/default.nix
  pkgs/development/tools/minizinc/gecode.msc
  pkgs/development/tools/minizinc/simple-test/aust.mzn
  pkgs/development/tools/minizinc/simple-test/default.nix
  pkgs/development/tools/minizinc/simple-test/loan.mzn
  pkgs/development/tools/minizinc/simple-test/loan1.dzn
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#219502 tailscale-systray: init at 2022-10-19
  pkgs/applications/misc/tailscale-systray/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, backport release-23.05

#235036 linuxPackages.nvidia_x11_beta: 530.41.03 -> 535.43.02
  pkgs/os-specific/linux/nvidia-x11/builder.sh
  pkgs/os-specific/linux/nvidia-x11/default.nix
  pkgs/os-specific/linux/nvidia-x11/generic.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#227183 qt6Packages.qxlsx: 1.4.5 -> 1.4.6
  pkgs/development/libraries/qxlsx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#235402 repgrep: init at 0.12.4
  pkgs/tools/text/repgrep/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235178 adguardian: init at 1.2.0
  pkgs/applications/networking/adguardian/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#234043 python3.pkgs.fetchPypi: deprecate in favor of top-level fetchPypi
  nixos/doc/manual/release-notes/rl-2311.section.md
  pkgs/development/interpreters/python/python-packages-base.nix
  pkgs/top-level/python-aliases.nix
Labels: 6.topic: python, 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#234070 Init `nixVersions.minimum` and fix `lib` tests for all Nix versions
  lib/tests/filesystem.sh
  lib/tests/modules.sh
  lib/tests/release.nix
  lib/tests/sources.sh
  pkgs/tools/package-management/nix/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235298 nixos/doc/manual: add release notes for util-linux on Darwin
  nixos/doc/manual/release-notes/rl-2311.section.md
Labels: 6.topic: nixos, 6.topic: darwin, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#235408 obsidian: 1.3.4 -> 1.3.5
  pkgs/applications/misc/obsidian/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#235403 hurl: 3.0.0 -> 3.0.1
  pkgs/tools/networking/hurl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235399 lighttpd: 1.4.69 -> 1.4.71
  pkgs/servers/http/lighttpd/default.nix
  pkgs/servers/http/lighttpd/disable-legacy-crypt-tests.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235397 brave: 1.51.118 -> 1.52.117
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-22.11, backport release-23.05

#235386 mockoon: init at 3.0.0
  pkgs/tools/networking/mockoon/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#235383 dasel: 2.2.0 -> 2.3.3
  pkgs/applications/misc/dasel/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235332 subtitlr: init at 0.1.0
  pkgs/applications/audio/subtitlr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235393 btcpayserver: 1.9.3 -> 1.10.0
  pkgs/applications/blockchains/btcpayserver/default.nix
  pkgs/applications/blockchains/btcpayserver/deps.nix
  pkgs/applications/blockchains/nbxplorer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235301 gnome.gnome-mahjongg: 3.38.3 → 3.40.0
  pkgs/desktops/gnome/games/gnome-mahjongg/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235369 23.05 release notes nits
  nixos/doc/manual/release-notes/rl-2305.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-23.05

#235246 vscode-extensions.techtheawesome.rust-yew: init at 0.2.2
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#235406 atuin: remove xvfb-run for tests
  pkgs/tools/misc/atuin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235153 vscode-extensions.elixir-lsp.vscode-elixir-ls: 0.14.5 -> 0.14.7
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#235447 yamlfix: 1.9.0 -> 1.10.0
  pkgs/development/python-modules/yamlfix/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235200 rome: 12.1.0 -> 12.1.3
  pkgs/development/tools/rome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.05

#235091 several typos
  pkgs/applications/audio/tetraproc/default.nix
  pkgs/applications/version-management/tig/default.nix
  pkgs/applications/virtualization/xen/generic.nix
  pkgs/build-support/fetchgit/nix-prefetch-git
  pkgs/build-support/setup-hooks/role.bash
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 6.topic: fetch, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#235321 python311Packages.vispy: 0.12.2 -> 0.13.0
  pkgs/development/python-modules/vispy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235342 python310Packages.intensity-normalization: 2.2.3 -> 2.2.4
  pkgs/development/python-modules/intensity-normalization/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235350 python310Packages.lion-pytorch: 0.0.7 -> 0.1.2
  pkgs/development/python-modules/lion-pytorch/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235331 roxctl: 4.0.1 -> 4.0.2
  pkgs/applications/networking/cluster/roxctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235361 python310Packages.pywebview: 4.0.2 -> 4.1
  pkgs/development/python-modules/pywebview/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235375 inform6: 6.41-r4 -> 6.41-r5
  pkgs/development/compilers/inform6/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235444 python310Packages.spsdk: 1.10.0 -> 1.10.1
  pkgs/development/python-modules/spsdk/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235085 squid: 5.8 -> 5.9
  pkgs/servers/squid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#233615 pocketbase: 0.15.3 -> 0.16.3
  pkgs/servers/pocketbase/default.nix
  pkgs/servers/pocketbase/remove-update-method.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235459 fetchurl: remove defunct mirror kent.dl.sourceforge.net
  pkgs/build-support/fetchurl/mirrors.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: fetch

#235458 rl-2305: Fix a few issues with links in the release notes
  nixos/doc/manual/release-notes/rl-2305.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-23.05

#235404 hpp-fcl: 2.3.3 -> 2.3.4
  pkgs/development/libraries/hpp-fcl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#231675 flutter: Move artifact installation logic to the wrapper
  pkgs/development/compilers/flutter/default.nix
  pkgs/development/compilers/flutter/flutter.nix
  pkgs/development/compilers/flutter/wrapper.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, needs_merger

#235462 inform6: fix build on x86_64-darwin
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#234492 python311Packages.dissect: 3.5 -> 3.6
  pkgs/development/python-modules/dissect-cim/default.nix
  pkgs/development/python-modules/dissect-clfs/default.nix
  pkgs/development/python-modules/dissect-cobaltstrike/default.nix
  pkgs/development/python-modules/dissect-cstruct/default.nix
  pkgs/development/python-modules/dissect-esedb/default.nix
  pkgs/development/python-modules/dissect-etl/default.nix
  pkgs/development/python-modules/dissect-eventlog/default.nix
  pkgs/development/python-modules/dissect-evidence/default.nix
  pkgs/development/python-modules/dissect-executable/default.nix
  pkgs/development/python-modules/dissect-extfs/default.nix
  pkgs/development/python-modules/dissect-fat/default.nix
  pkgs/development/python-modules/dissect-ffs/default.nix
  pkgs/development/python-modules/dissect-hypervisor/default.nix
  pkgs/development/python-modules/dissect-ntfs/default.nix
  pkgs/development/python-modules/dissect-ole/default.nix
  pkgs/development/python-modules/dissect-regf/default.nix
  pkgs/development/python-modules/dissect-shellitem/default.nix
  pkgs/development/python-modules/dissect-sql/default.nix
  pkgs/development/python-modules/dissect-squashfs/default.nix
  pkgs/development/python-modules/dissect-target/default.nix
  pkgs/development/python-modules/dissect-thumbcache/default.nix
  pkgs/development/python-modules/dissect-util/default.nix
  pkgs/development/python-modules/dissect-vmfs/default.nix
  pkgs/development/python-modules/dissect-volume/default.nix
  pkgs/development/python-modules/dissect-xfs/default.nix
  pkgs/development/python-modules/dissect/default.nix
  pkgs/development/python-modules/fastavro/default.nix
  pkgs/development/python-modules/flow-record/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#235472 python310Packages.rzpipe: 0.5.0 -> 0.5.1
  pkgs/development/python-modules/rzpipe/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235478 python310Packages.langchain: 0.0.184 -> 0.0.188
  pkgs/development/python-modules/langchain/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#235475 maintainers: remove cdepillabout as maintainer from various packages
  nixos/tests/virtualbox.nix
  pkgs/applications/terminal-emulators/roxterm/default.nix
  pkgs/applications/virtualization/virtualbox/extpack.nix
  pkgs/development/python-modules/kaggle/default.nix
  pkgs/development/python-modules/tensorflow/bin.nix
Labels: 6.topic: python, 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#235389 sccache: 0.5.0 -> 0.5.1
  pkgs/development/tools/misc/sccache/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235425 nixos/nitter: fix proxy option
  nixos/modules/services/misc/nitter.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#235413 k0sctl: 0.15.0 -> 0.15.1
  pkgs/applications/networking/cluster/k0sctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235461 pods: 1.2.1 -> 1.2.2
  pkgs/applications/virtualization/pods/Cargo.lock
  pkgs/applications/virtualization/pods/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#235456 python311Packages.azure-mgmt-recoveryservices: 2.3.0 -> 2.4.0
  pkgs/development/python-modules/azure-mgmt-recoveryservices/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235452 oh-my-posh: 16.8.0 -> 16.9.1
  pkgs/development/tools/oh-my-posh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235446 dasel: 2.3.3 -> 2.3.4
  pkgs/applications/misc/dasel/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235488 typos: 1.14.11 -> 1.14.12
  pkgs/development/tools/typos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235489 python310Packages.twilio: 8.2.1 -> 8.2.2
  pkgs/development/python-modules/twilio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235491 python310Packages.pyunifiprotect: 4.9.0 -> 4.9.1
  pkgs/development/python-modules/pyunifiprotect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235303 Pantheon updates 2023-06-01
  pkgs/desktops/pantheon/apps/elementary-calculator/default.nix
  pkgs/desktops/pantheon/apps/elementary-camera/default.nix
  pkgs/desktops/pantheon/apps/elementary-music/default.nix
  pkgs/desktops/pantheon/apps/elementary-screenshot/default.nix
  pkgs/desktops/pantheon/services/elementary-capnet-assist/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon

#235483 httplib: 0.12.4 -> 0.12.5
  pkgs/development/libraries/httplib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#234335 kode-mono font added
  maintainers/maintainer-list.nix
  pkgs/data/fonts/kode-mono/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235492 python310Packages.onvif-zeep-async: 3.1.8 -> 3.1.9
  pkgs/development/python-modules/onvif-zeep-async/default.nix
Labels: 6.topic: python

#235486 python310Packages.aiohomekit: 2.6.3 -> 2.6.4
  pkgs/development/python-modules/aiohomekit/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235493 python310Packages.python-roborock: 0.18.9 -> 0.20.1
  pkgs/development/python-modules/python-roborock/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235494 python310Packages.meshtastic: 2.1.7 -> 2.1.8
  pkgs/development/python-modules/meshtastic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235495 trufflehog: 3.36.0 -> 3.39.0
  pkgs/tools/security/trufflehog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235496 python310Packages.meilisearch: 0.26.0 -> 0.27.0
  pkgs/development/python-modules/meilisearch/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235497 python310Packages.dvc-data: 0.53.0 -> 0.54.2
  pkgs/development/python-modules/dvc-data/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235412 fossil: 2.21 -> 2.22
  pkgs/applications/version-management/fossil/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235516 crowdin-cli: 3.11.1 -> 3.12.0
  pkgs/tools/text/crowdin-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#234428 please-cli: init at 0.3.0
  maintainers/maintainer-list.nix
  pkgs/applications/misc/please-cli/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235347 perlPackages.TextBibTeX: always install libbtparse.so to /lib instead of /lib64
  pkgs/development/perl-modules/TextBibTeX-use-lib.patch
  pkgs/top-level/perl-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235415 pdns: 4.7.4 -> 4.8.0
  pkgs/servers/dns/pdns/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235249 fastddsgen: 2.3.0 -> 2.4.0
  pkgs/development/tools/fastddsgen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#235533 python310Packages.python-heatclient: 3.2.0 -> 3.3.0
  pkgs/development/python-modules/python-heatclient/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235522 [Backport release-23.05] nixos/nitter: fix proxy option
  nixos/modules/services/misc/nitter.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#235519 cage: don't need wlroots-0_14.patch
  pkgs/applications/window-managers/cage/wlroots-0_14.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#235524 kubernetes-polaris: 7.4.2 -> 8.0.0
  pkgs/tools/security/kubernetes-polaris/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235507 exploitdb: 2023-05-27 -> 2023-06-01
  pkgs/tools/security/exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#235500 dvc: 2.58.1 -> 2.58.2
  pkgs/applications/version-management/dvc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235499 python310Packages.cwl-upgrader: 1.2.7 -> 1.2.8
  pkgs/development/python-modules/cwl-upgrader/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235490 checkov: 2.3.267 -> 2.3.273
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235453 python310Packages.google-cloud-redis: 2.12.1 -> 2.13.0
  pkgs/development/python-modules/google-cloud-redis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#235506 llvmPackages_16.compiler-rt: fix missing builtins
  pkgs/development/compilers/llvm/16/compiler-rt/default.nix
Labels: 10.rebuild-darwin: 11-100, 10.rebuild-linux: 0

#232208 tcl-fcgi: init at 0.5.0
  pkgs/development/libraries/tcl-fcgi/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#232836 pot: init at 0.5.0
  pkgs/applications/misc/pot/Cargo.lock
  pkgs/applications/misc/pot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#231324 sdkmanager: init at 0.6.5
  pkgs/development/python-modules/sdkmanager/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#235539 hugo: 0.112.6 -> 0.112.7
  pkgs/applications/misc/hugo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235536 datree: 1.9.2 -> 1.9.3
  pkgs/development/tools/datree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#235529 pylyzer: 0.0.29 -> 0.0.30
  pkgs/development/tools/language-servers/pylyzer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer
