Repository NixOS/nixpkgs, pull requests merged in 2023-03, with the labels that each got.

#218903 vscode-extensions.eamodio.gitlens: 2023.2.1404 -> 2023.2.2804
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: vscode

#218094 portfolio: 0.61.0 -> 0.61.3
  pkgs/applications/office/portfolio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2

#208559 ctpv: init at v1.0
  pkgs/applications/file-managers/lf/ctpv.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#217552 pulumiPackages.pulumi-command, python310Packages.pulumi-command: init at 0.7.1
  pkgs/tools/admin/pulumi-packages/default.nix
  pkgs/tools/admin/pulumi-packages/pulumi-command.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#196511 Pantheon: default to mutter 42
  nixos/doc/manual/release-notes/rl-2305.section.md
  pkgs/desktops/gnome/core/gnome-settings-daemon/42/default.nix
  pkgs/desktops/gnome/core/gnome-settings-daemon/42/fix-paths.patch
  pkgs/desktops/gnome/core/mutter/3.38/drop-inheritable.patch
  pkgs/desktops/gnome/core/mutter/3.38/fix-glitches-in-gala.patch
  pkgs/desktops/gnome/core/mutter/42/default.nix
  pkgs/desktops/gnome/core/mutter/42/fix-paths.patch
  pkgs/desktops/gnome/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/keyboard/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/mouse-touchpad/default.nix
  pkgs/desktops/pantheon/default.nix
  pkgs/desktops/pantheon/desktop/elementary-default-settings/default.nix
  pkgs/desktops/pantheon/desktop/elementary-shortcut-overlay/default.nix
  pkgs/desktops/pantheon/desktop/gala/default.nix
  pkgs/desktops/pantheon/desktop/wingpanel-indicators/applications-menu/default.nix
Labels: 6.topic: nixos, 6.topic: GNOME, 8.has: documentation, 8.has: changelog, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon

#217559 openloco: init at 23.02
  pkgs/development/libraries/span-lite/default.nix
  pkgs/games/openloco/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#218719 proj: fix test suite
  pkgs/development/libraries/proj/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#218791 mautrix-telegram: unstable-2023-02-16 -> 0.13.0
  pkgs/servers/mautrix-telegram/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#218536 rtl88x2bu: 2022-12-17 -> 2023-02-24
  pkgs/os-specific/linux/rtl88x2bu/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, backport release-22.11

#218906 clusterctl: 1.3.3 -> 1.3.4
  pkgs/applications/networking/cluster/clusterctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218904 treewide: pin packages with failures to go 1.19
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#218751 containerd: 1.6.18 -> 1.6.19
  pkgs/applications/virtualization/containerd/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#218919 worker-build: 0.0.12 -> 0.0.13
  pkgs/development/tools/worker-build/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, ofborg-internal-error, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218897 mailutils: disable tests on darwin
  pkgs/tools/networking/mailutils/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#218942 ugrep: 3.9.7 -> 3.10.0
  pkgs/tools/text/ugrep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218941 python310Packages.toposort: 1.9 -> 1.10
  pkgs/development/python-modules/toposort/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#211334 pdfstudio: remove libgccjit dependency
  pkgs/applications/misc/pdfstudio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#218915 air: 1.41.0 -> 1.42.0
  pkgs/development/tools/air/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218920 wangle: 2023.02.20.00 -> 2023.02.27.00
  pkgs/development/libraries/wangle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218869 python310Packages.haversine: 2.7.0 -> 2.8.0
  pkgs/development/python-modules/haversine/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#218940 python310Packages.srsly: 2.4.5 -> 2.4.6
  pkgs/development/python-modules/srsly/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#218938 python310Packages.twitchapi: 3.8.0 -> 3.9.0
  pkgs/development/python-modules/twitchapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218937 python310Packages.pyrogram: 2.0.99 -> 2.0.100
  pkgs/development/python-modules/pyrogram/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218908 rocsparse: 5.4.2 -> 5.4.3
  pkgs/development/libraries/rocsparse/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218910 yubikey-touch-detector: 1.10.0 -> 1.10.1
  pkgs/tools/security/yubikey-touch-detector/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218875 cpuid: 20230120 -> 20230228
  pkgs/os-specific/linux/cpuid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#218907 eventstat: 0.05.00 -> 0.05.01
  pkgs/os-specific/linux/eventstat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218864 python310Packages.auroranoaa: 0.0.2 -> 0.0.3
  pkgs/development/python-modules/auroranoaa/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218866 exploitdb: 2023-02-03 -> 2023-02-28
  pkgs/tools/security/exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#218936 ipxe: unstable-2023-02-20 -> unstable-2023-02-28
  pkgs/tools/misc/ipxe/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218808 devspace: 6.2.5 -> 6.3.0
  pkgs/development/tools/misc/devspace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218782 flyway: 9.15.0 -> 9.15.1
  pkgs/development/tools/flyway/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218765 evans: 0.10.10 -> 0.10.11
  pkgs/development/tools/evans/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218755 fioctl: 0.31 -> 0.32.0
  pkgs/tools/admin/fioctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218739 ooniprobe-cli: 3.16.7 -> 3.17.0
  pkgs/tools/networking/ooniprobe-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218738 tgt: 1.0.85 -> 1.0.86
  pkgs/tools/networking/tgt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218727 powerstat: 0.03.00 -> 0.03.01
  pkgs/os-specific/linux/powerstat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218724 deepin.dde-device-formatter: init at unstable-2022-09-05
  pkgs/desktops/deepin/default.nix
  pkgs/desktops/deepin/tools/dde-device-formatter/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#218717 standardnotes: 3.148.0 -> 3.150.0
  pkgs/applications/editors/standardnotes/src.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218722 deepin.deepin-movie-reborn: init at 5.10.17
  pkgs/desktops/deepin/apps/deepin-movie-reborn/default.nix
  pkgs/desktops/deepin/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#218831 firefox-beta-bin-unwrapped: 111.0b5 -> 111.0b6
  pkgs/applications/networking/browsers/firefox-bin/beta_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-22.11

#216905 grafana-dash-n-grab: init at 0.3.1
  maintainers/maintainer-list.nix
  maintainers/team-list.nix
  pkgs/servers/monitoring/grafana-dash-n-grab/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218892 conmon: 2.1.6 -> 2.1.7
  pkgs/applications/virtualization/conmon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#218943 .github/workflows: update cachix/install-nix-action to v20
  .github/workflows/basic-eval.yml
  .github/workflows/editorconfig.yml
  .github/workflows/manual-nixos.yml
  .github/workflows/manual-nixpkgs.yml
  .github/workflows/manual-rendering.yml
  .github/workflows/update-terraform-providers.yml
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#216399 ceres-solver: Add and propagate metis dependency
  pkgs/development/libraries/ceres-solver/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#218130 libgee: clean up
  pkgs/development/libraries/libgee/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#218951 deepin.deepin-camera: move NIX_CFLAGS_COMPILE to the env attrset
  pkgs/desktops/deepin/apps/deepin-camera/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#218856 pulumi-bin: 3.54.0 -> 3.55.0
  pkgs/tools/admin/pulumi-bin/data.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#216633 coqPackages.compcert: 3.11 → 3.12
  pkgs/development/coq-modules/compcert/default.nix
  pkgs/top-level/coq-packages.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: coq

#218952 python310Packages.pydata-sphinx-theme: 0.13.0rc6 -> 0.13.0
  pkgs/development/python-modules/pydata-sphinx-theme/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218352 glew: fix cmake's FindGLEW.cmake by adding more cmake target properties (fixes flightgear)
  pkgs/development/libraries/glew/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#218860 webex: 42.12.0.24485 -> 43.2.0.25211
  pkgs/applications/networking/instant-messengers/webex/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-22.11

#218950 python310Packages.pontos: 23.2.10 -> 23.2.12
  pkgs/development/python-modules/pontos/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218949 python310Packages.sunweg: 0.0.11 -> 1.0.0
  pkgs/development/python-modules/sunweg/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218948 python310Packages.asyncwhois: 1.0.2 -> 1.0.3
  pkgs/development/python-modules/asyncwhois/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218947 python310Packages.reolink-aio: 0.5.1 -> 0.5.2
  pkgs/development/python-modules/reolink-aio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218944 python310Packages.junos-eznc: 2.6.6 -> 2.6.7
  pkgs/development/python-modules/junos-eznc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#217665 coqPackages.smtcoq.cvc4: fix build with bash 5.2
  pkgs/development/coq-modules/smtcoq/cvc4.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: coq

#218863 trufflehog: 3.28.2 -> 3.28.3
  pkgs/tools/security/trufflehog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218182 ubports-click: init at 22-02-2023
  pkgs/development/tools/click/dbus-test-runner.patch
  pkgs/development/tools/click/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#212698 slack: add conditional-flag "--enable-features=WebRTCPipeWireCapturer" for screensharing under wayland
  pkgs/applications/networking/instant-messengers/slack/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218961 logseq: 0.8.17 -> 0.8.18
  pkgs/applications/misc/logseq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218932 miniserve: 0.22.0 -> 0.23.0
  pkgs/tools/misc/miniserve/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218957 cargo-llvm-cov: 0.5.10 -> 0.5.11
  pkgs/development/tools/rust/cargo-llvm-cov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218779 rubyPackages.fiddle: add libffi to dependencies
  pkgs/development/ruby-modules/gem-config/default.nix
Labels: 6.topic: ruby, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#217982 crystfel: 0.10.1 → 0.10.2
  pkgs/applications/science/physics/crystfel/default.nix
  pkgs/applications/science/physics/crystfel/link-to-argp-standalone-if-needed.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218959 xmind: add meta.mainProgram
  pkgs/applications/misc/xmind/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#218917 lefthook: 1.2.9 -> 1.3.2
  pkgs/applications/version-management/lefthook/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218914 d2: 0.2.0 -> 0.2.1
  pkgs/tools/text/d2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218883 python311Packages.ipython: 8.4.0 -> 8.11.0
  pkgs/development/python-modules/ipython/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 2501-5000, awaiting_reviewer

#218442 swaynotificationcenter: 0.7.3 -> 0.8.0
  pkgs/applications/misc/swaynotificationcenter/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#207135 stdenv: aarch64-linux: gcc9 -> gcc12
  pkgs/stdenv/linux/bootstrap-files/aarch64.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: stdenv, 10.rebuild-linux: 1

#218760 ocaml: 4.14.0 -> 4.14.1
  pkgs/development/compilers/ocaml/4.14.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#218909 yubikey-manager4: fix build
  pkgs/tools/misc/yubikey-manager/4.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#218707 libgit2: 1.5.1 -> 1.6.1
  pkgs/development/libraries/libgit2/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000

#217754 gnome-icon-theme: fix cross
  pkgs/data/icons/gnome-icon-theme/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#217622 mathematica: 13.2.0 -> 13.2.1
  pkgs/applications/science/math/mathematica/versions.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#216913 xemu: cosmetic rewrite
  pkgs/applications/emulators/xemu/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#218978 flyctl: 0.470 -> 0.473
  pkgs/development/web/flyctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#211336 findex: init at 0.7.1
  maintainers/maintainer-list.nix
  pkgs/applications/misc/findex/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#218964 python311Packages.myst-parser: 0.18.1 -> 0.19.0
  pkgs/development/python-modules/mdit-py-plugins/default.nix
  pkgs/development/python-modules/myst-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000

#218973 matrix-synapse: 1.77.0 -> 1.78.0
  pkgs/servers/matrix-synapse/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-22.11

#218963 newt: add darwin support
  pkgs/development/libraries/newt/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000

#206805 xorg.xorgserver: 1.20.14 → 21.1.7
  pkgs/desktops/gnome/core/mutter/42/default.nix
  pkgs/desktops/gnome/core/mutter/default.nix
  pkgs/servers/x11/xorg/default.nix
  pkgs/servers/x11/xorg/overrides.nix
  pkgs/servers/x11/xorg/tarballs.list
Labels: 6.topic: GNOME, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500

#218437 nixos/x11: default to the modesetting driver
  nixos/doc/manual/release-notes/rl-2305.section.md
  nixos/modules/services/x11/xserver.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#218846 gittyup: init at 1.2.2
  pkgs/applications/version-management/gittyup/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#216987 etesync-dav: fix broken dependancies
  pkgs/applications/misc/etesync-dav/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#193990 python310Packages.lifelines: init at 0.27.4
  pkgs/development/python-modules/autograd-gamma/default.nix
  pkgs/development/python-modules/formulaic/default.nix
  pkgs/development/python-modules/interface-meta/0001-fix-version.patch
  pkgs/development/python-modules/interface-meta/default.nix
  pkgs/development/python-modules/lifelines/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#219015 typos: 1.13.12 -> 1.13.14
  pkgs/development/tools/typos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218967 firefox-devedition-bin-unwrapped: 111.0b6 -> 111.0b7
  pkgs/applications/networking/browsers/firefox-bin/devedition_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-22.11

#219012 arrow-cpp: unbreak on aarch64-linux
  pkgs/development/libraries/arrow-cpp/default.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#219021 esptool: enable on darwin
  pkgs/tools/misc/esptool/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#138946 python3Packages.cmd2-ext-test: init at 2.0.0
  pkgs/development/python-modules/cmd2-ext-test/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218226 mediawiki: 1.39.1 -> 1.39.2
  pkgs/servers/web-apps/mediawiki/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218983 python310Packages.hwi: 2.2.0 -> 2.2.1
  pkgs/development/python-modules/hwi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#219007 trivy: 0.37.3 -> 0.38.0
  pkgs/tools/admin/trivy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219000 mdcat: 1.0.0 -> 1.1.0
  pkgs/tools/text/mdcat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219009 zigbee2mqtt: 1.30.1 -> 1.30.2
  pkgs/servers/zigbee2mqtt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#219028 python310Packages.google-cloud-bigquery-datatransfer: 3.10.1 -> 3.11.0
  pkgs/development/python-modules/google-cloud-bigquery-datatransfer/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#217257 matrix-synapse.plugins.matrix-synapse-ldap3: 0.1.5 -> 0.2.2
  pkgs/servers/matrix-synapse/plugins/ldap3.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#217928 gitlab-runner: 15.8.2 -> 15.9.0
  pkgs/development/tools/continuous-integration/gitlab-runner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219002 tfplugindocs: 0.13.0 -> 0.14.0
  pkgs/development/tools/tfplugindocs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219016 libtpms: 0.9.5 -> 0.9.6
  pkgs/tools/security/libtpms/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-22.11

#219029 godot: 4.0-rc1 -> 4.0-stable
  pkgs/development/tools/godot/4/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218541 urbit: 1.20 -> 1.21
  pkgs/misc/urbit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218854 google-java-format: 1.15.0 -> 1.16.0
  pkgs/development/tools/google-java-format/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218861 clojure-lsp: 2023.01.26-11.08.16 -> 2023.02.27-13.12.12
  pkgs/development/tools/misc/clojure-lsp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#218852 numix-icon-theme-square: 23.02.16 -> 23.02.28
  pkgs/data/icons/numix-icon-theme-square/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218913 symfony-cli: 5.5.0 -> 5.5.1
  pkgs/development/tools/symfony-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218855 jbang: 0.103.2 -> 0.104.0
  pkgs/development/tools/jbang/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219033 gsettings-desktop-schemas: add a homepage
  pkgs/development/libraries/gsettings-desktop-schemas/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#218485 jellyfin-mpv-shim: 2.4.2 -> 2.5.0
  pkgs/applications/video/jellyfin-mpv-shim/default.nix
  pkgs/development/python-modules/python-mpv-jsonipc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218911 scummvm: 2.6.1 -> 2.7.0
  pkgs/games/scummvm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218890 apt: 2.5.5 -> 2.5.6
  pkgs/tools/package-management/apt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218884 fnlfmt: 0.2.3 -> 0.3.0
  pkgs/development/tools/fnlfmt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219038 ntfy-sh: 2.1.0 -> 2.1.1
  pkgs/tools/misc/ntfy-sh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218693 kubeone: 1.5.6 -> 1.6.0
  pkgs/applications/networking/cluster/kubeone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218769 zef: 0.17.0 -> 0.18.0
  pkgs/development/interpreters/rakudo/zef.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218798 monit: 5.32.0 -> 5.33.0
  pkgs/tools/system/monit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#218574 uid_wrapper: 1.2.9 -> 1.3.0
  pkgs/development/libraries/uid_wrapper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#219035 python310Packages.aiosomecomfort: 0.0.10 -> 0.0.11
  pkgs/development/python-modules/aiosomecomfort/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218571 ombi: 4.22.5 -> 4.35.10
  pkgs/servers/ombi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219036 python310Packages.pynuki: 1.6.0 -> 1.6.1
  pkgs/development/python-modules/pynuki/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#218515 python310Packages.gsd: 2.7.0 -> 2.8.0
  pkgs/development/python-modules/gsd/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218746 librelp: 1.10.0 -> 1.11.0
  pkgs/development/libraries/librelp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#218723 mpop: 1.4.17 -> 1.4.18
  pkgs/applications/networking/mpop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218682 fb303: 2023.02.13.00 -> 2023.02.20.00
  pkgs/development/libraries/fb303/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218570 wireguard-go: 0.0.20220316 -> 0.0.20230223
  pkgs/tools/networking/wireguard-go/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219041 xnotify: fix rev
  pkgs/tools/X11/xnotify/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218977 pijul: 1.0.0-beta.2 -> 1.0.0-beta.4
  pkgs/applications/version-management/pijul/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218962 scriv: 1.2.0 -> 1.2.1
  pkgs/applications/version-management/scriv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219040 rustic-rs: 0.4.3 -> 0.4.4
  pkgs/tools/backup/rustic-rs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#215176 python3Packages.spacy_models.*: add Croatian, Korean, Finnish and Ukrainian language models
  pkgs/development/python-modules/pymorphy3/default.nix
  pkgs/development/python-modules/pymorphy3/dicts-ru.nix
  pkgs/development/python-modules/pymorphy3/dicts-uk.nix
  pkgs/development/python-modules/spacy-transformers/annotation-test/annotate.py
  pkgs/development/python-modules/spacy-transformers/default.nix
  pkgs/development/python-modules/spacy/models.json
  pkgs/development/python-modules/spacy/models.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#219047 cataclysm-dda: 0.F-3 -> 0.G
  pkgs/games/cataclysm-dda/common.nix
  pkgs/games/cataclysm-dda/git.nix
  pkgs/games/cataclysm-dda/locale-path-stable.patch
  pkgs/games/cataclysm-dda/locale-path.patch
  pkgs/games/cataclysm-dda/stable.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#219022 python310Packages.torchmetrics: 0.11.2 -> 0.11.3
  pkgs/development/python-modules/torchmetrics/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#218672 python310Packages.sparse: 0.13.0 -> 0.14.0
  pkgs/development/python-modules/sparse/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#209679 rav1e: 0.6.1 -> 0.6.3
  pkgs/tools/video/rav1e/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#219051 python310Packages.google-cloud-securitycenter: 1.18.2 -> 1.19.0
  pkgs/development/python-modules/google-cloud-securitycenter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#208952 aws-assume-role: init at 0.3.2
  maintainers/maintainer-list.nix
  pkgs/tools/admin/aws-assume-role/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2

#218979 python311Packages.exrex: 0.10.5 -> unstable-2021-04-22
  pkgs/development/python-modules/exrex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#219071 werf: 1.2.202 -> 1.2.204
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219063 cargo-release: 0.24.4 -> 0.24.5
  pkgs/development/tools/rust/cargo-release/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219062 trufflehog: 3.28.4 -> 3.28.5
  pkgs/tools/security/trufflehog/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219076 nix-doc: 0.5.7 -> 0.5.8
  pkgs/tools/package-management/nix-doc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219078 buildRustPackage: don't passthru `cargoDeps`
  pkgs/build-support/rust/build-rust-package/default.nix
Labels: 6.topic: rust, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#218974 python310Packages.jupyter-book: 0.13.2 -> 0.14.0
  pkgs/development/python-modules/jupyter-book/default.nix
  pkgs/development/python-modules/sphinx-book-theme/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#219059 go-toml: 2.0.6 -> 2.0.7
  pkgs/development/tools/go-toml/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#219042 eksctl: 0.130.0 -> 0.131.0
  pkgs/tools/admin/eksctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#218972 python310Packages.rpyc: 5.3.0 -> 5.3.1
  pkgs/development/python-modules/rpyc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#219072 nil: 2023-02-03 -> 2023-03-01
  pkgs/development/tools/language-servers/nil/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
