Repository NixOS/nixpkgs, pull requests merged in 2023-10, with the labels that each got.

#258286 joplin-desktop: 2.12.16 -> 2.12.18
  pkgs/applications/misc/joplin-desktop/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#252983 edk2: 202305 -> 202308
  pkgs/development/compilers/edk2/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258061 octant{,-desktop},starboard-octant-plugin: drop
  pkgs/applications/networking/cluster/octant/default.nix
  pkgs/applications/networking/cluster/octant/desktop.nix
  pkgs/applications/networking/cluster/octant/plugins/starboard-octant-plugin.nix
  pkgs/applications/networking/cluster/octant/update-desktop.sh
  pkgs/applications/networking/cluster/octant/update.sh
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 2

#257800 bitwig-studio3: 3.3.7 -> 3.3.11
  pkgs/applications/audio/bitwig-studio/bitwig-studio3.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258051 phoc: 0.27.0 -> 0.31.0
  pkgs/applications/misc/phoc/0001-handle-outputs-that-arent-in-the-layout.patch
  pkgs/applications/misc/phoc/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#258303 openblas: drop loongarch64 patch
  pkgs/development/libraries/science/math/openblas/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#249462 python3Packages.certifi: 2023.05.07 -> 2023.07.22
  pkgs/development/python-modules/certifi/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1, 12. first-time contribution

#258257 thunderbirdPackages.thunderbird-102: set knownVulnerabilities
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.05

#257369 stacks: 2.62 -> 2.65
  pkgs/applications/science/biology/stacks/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258144 Xfce updates 2023-09-30
  pkgs/desktops/xfce/applications/gigolo/default.nix
  pkgs/desktops/xfce/core/xfce4-panel/default.nix
  pkgs/desktops/xfce/panel-plugins/xfce4-clipman-plugin/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 6.topic: xfce

#258254 nest-mpi: 3.5 -> 3.6
  pkgs/applications/science/biology/nest/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#258298 op-geth: 1.101200.0 -> 1.101200.1
  pkgs/applications/blockchains/optimism/geth.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258307 flow: 0.217.0 -> 0.217.2
  pkgs/development/tools/analysis/flow/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258321 terramate: 0.4.1 -> 0.4.2
  pkgs/development/tools/misc/terramate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258291 sarasa-gothic: 0.41.10 -> 0.42.0
  pkgs/data/fonts/sarasa-gothic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258295 libvpx: 1.13.0 -> 1.13.1
  pkgs/development/libraries/libvpx/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000, backport release-23.05

#258297 regbot: 0.5.1 -> 0.5.2
  pkgs/development/tools/regclient/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#257458 treewide: fail when `nixpkgs.config` is set with explicit `pkgs`, remove all `nixpkgs.config` usages in in-tree modules
  nixos/doc/manual/configuration/customizing-packages.section.md
  nixos/doc/manual/release-notes/rl-2311.section.md
  nixos/modules/hardware/video/amdgpu-pro.nix
  nixos/modules/misc/locate.nix
  nixos/modules/misc/nixpkgs.nix
  nixos/modules/programs/browserpass.nix
  nixos/modules/programs/firefox.nix
  nixos/modules/services/desktops/gnome/gnome-browser-connector.nix
  nixos/modules/services/x11/desktop-managers/gnome.nix
  nixos/modules/services/x11/desktop-managers/plasma5.nix
  nixos/modules/services/x11/display-managers/lightdm-greeters/tiny.nix
  pkgs/applications/display-managers/lightdm-tiny-greeter/default.nix
  pkgs/servers/x11/xorg/overrides.nix
  pkgs/tools/misc/mlocate/default.nix
  pkgs/tools/misc/plocate/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 6.topic: GNOME, 6.topic: qt/kde, 8.has: documentation, 8.has: changelog, 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 3+

#258245 python311Packages.pytablewriter: 1.0.0 -> 1.1.0
  pkgs/development/python-modules/pytablewriter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258244 python311Packages.coinmetrics-api-client: 2023.8.30.20 -> 2023.9.29.14
  pkgs/development/python-modules/coinmetrics-api-client/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258242 python311Packages.oauthenticator: 16.0.7 -> 16.1.0
  pkgs/development/python-modules/oauthenticator/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258241 checkSSLCert: 2.74.0 -> 2.75.0
  pkgs/servers/monitoring/nagios/plugins/check_ssl_cert.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258226 python311Packages.garth: 0.4.32 -> 0.4.33
  pkgs/development/python-modules/garth/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258225 python311Packages.hahomematic: 2023.9.5 -> 2023.9.8
  pkgs/development/python-modules/hahomematic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258348 python310Packages.python-utils: 3.7.0 -> 3.8.1
  pkgs/development/python-modules/python-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#258338 python310Packages.pymyq: 3.1.9 -> 3.1.10
  pkgs/development/python-modules/pymyq/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258322 python310Packages.srsly: 2.4.7 -> 2.4.8
  pkgs/development/python-modules/srsly/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#258304 python310Packages.tempest: 35.0.0 -> 36.0.0
  pkgs/development/python-modules/tempest/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258333 step-ca: 0.24.2 -> 0.25.0
  pkgs/tools/security/step-ca/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258230 python310Packages.steamodd: 4.23 -> 5.0
  pkgs/development/python-modules/steamodd/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258355 python311Packages.garth: 0.4.33 -> 0.4.34
  pkgs/development/python-modules/garth/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258354 python311Packages.millheater: 0.11.5 -> 0.11.6
  pkgs/development/python-modules/millheater/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#257549 python310Packages.pyctr: 0.6.0 -> 0.7.1
  pkgs/development/python-modules/pyctr/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#257280 python310Packages.mecab-python3: 1.0.7 -> 1.0.8
  pkgs/development/python-modules/mecab-python3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#257244 python310Packages.pyfiglet: 1.0.1 -> 1.0.2
  pkgs/development/python-modules/pyfiglet/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#255580 tdlib: 1.8.16 -> 1.8.19
  pkgs/development/libraries/tdlib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#252715 python3Packages.auditok: init at 0.1.5
  pkgs/development/python-modules/auditok/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258326 linuxKernel.kernels.linux_lqx: 6.5.5-lqx1 -> 6.5.5-lqx2
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#258342 sdrangel: 7.15.4 -> 7.16.0
  pkgs/applications/radio/sdrangel/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#258332 or-tools: fix string_view compilation issue
  pkgs/development/libraries/science/math/or-tools/default.nix
  pkgs/development/libraries/science/math/or-tools/fix-stringview-compile.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#258306 protobuf3_19: remove
  pkgs/development/libraries/protobuf/3.19.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 2

#258275 netbird-ui: 0.23.1 -> 0.23.6
  pkgs/tools/networking/netbird/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-23.05

#258309 edk2: fix build on x86_64-darwin
  pkgs/development/compilers/edk2/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#258169 wireguard-exporter: fix static build
  pkgs/servers/monitoring/prometheus/wireguard-exporter.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258172 fsautocomplete: 0.63.1 -> 0.64.0
  pkgs/development/tools/fsautocomplete/default.nix
  pkgs/development/tools/fsautocomplete/deps.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258253 werf: 1.2.259 -> 1.2.263
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#257267 python3Packages.tifffile: skip large tests
  pkgs/development/python-modules/tifffile/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#258134 python310Packages.k-diffusion: 0.0.16 -> 0.1.0; python310Packages.dctorch: init at 0.1.2; python310Packages.rotary-embedded-torch: init at 0.3.0
  pkgs/development/python-modules/dctorch/default.nix
  pkgs/development/python-modules/k-diffusion/default.nix
  pkgs/development/python-modules/rotary-embedding-torch/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258346 godns: 2.9.9 -> 3.0.1
  pkgs/tools/networking/godns/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258160 structorizer: 3.32-11 → 3.32-12
  pkgs/applications/graphics/structorizer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258362 awsbck: 0.3.4 -> 0.3.5
  pkgs/tools/backup/awsbck/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258145 eksctl: 0.158.0 -> 0.160.0
  pkgs/by-name/ek/eksctl/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#257122 buildFHSEnvBubblewrap: allow being passed 'pname'
  pkgs/build-support/build-fhsenv-bubblewrap/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, backport release-23.05

#258152 python310Packages.rapidfuzz: make numpy optional
  pkgs/development/python-modules/rapidfuzz/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12. first-time contribution

#258120 zsv: 0.3.6-alpha -> 0.3.7-alpha
  pkgs/development/tools/zsv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258353 python311Packages.types-requests: 2.31.0.6 -> 2.31.0.7
  pkgs/development/python-modules/types-requests/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#258356 nwg-dock: 0.3.7 -> 0.3.9
  pkgs/applications/misc/nwg-dock/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#258310 polaris-web: 67 -> 68
  pkgs/servers/polaris/default.nix
  pkgs/servers/polaris/web.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258312 jumppad: 0.5.38 -> 0.5.51
  pkgs/tools/virtualization/jumppad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258224 iosevka: 27.0.0 -> 27.1.0
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258231 python311Packages.python-roborock: 0.34.0 -> 0.34.5
  pkgs/development/python-modules/python-roborock/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258318 cgreen: 1.6.2 -> 1.6.3
  pkgs/development/libraries/cgreen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#258335 fvwm3: 1.0.7 -> 1.0.8
  pkgs/applications/window-managers/fvwm/3.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258337 ppsspp-qt: 1.16.2 -> 1.16.5
  pkgs/applications/emulators/ppsspp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#257822 linux_xanmod, linux_xanmod_latest: 2023-09-28
  pkgs/os-specific/linux/kernel/xanmod-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 501-1000, backport release-23.05

#258281 phpPackages.composer: use `fetchgit`
  pkgs/development/php-packages/composer/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#258329 spicedb-zed: 0.12.1 -> 0.14.0
  pkgs/servers/spicedb/zed.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258121 nsc: 2.8.0 -> 2.8.1
  pkgs/tools/system/nsc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258124 python311Packages.webauthn: 1.10.1 -> 1.11.0
  pkgs/development/python-modules/webauthn/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258385 dufs: install completions
  pkgs/servers/http/dufs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258391 buck2: unstable-2023-09-15 -> unstable-2023-10-01
  pkgs/development/tools/build-managers/buck2/default.nix
  pkgs/development/tools/build-managers/buck2/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258372 goreleaser: 1.21.1 -> 1.21.2
  pkgs/tools/misc/goreleaser/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258238 python310Packages.radish-bdd: 0.16.1 -> 0.16.2
  pkgs/development/python-modules/radish-bdd/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#258273 python310Packages.setuptools-odoo: 3.1.12 -> 3.2.0
  pkgs/development/python-modules/setuptools-odoo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#257655 python3Packages.walrus: init at 0.9.3
  pkgs/development/python-modules/walrus/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#258393 reindeer: unstable-2023-09-16 -> unstable-2023-09-20
  pkgs/development/tools/reindeer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258366 arjun: init at 2.2.1
  maintainers/maintainer-list.nix
  pkgs/by-name/ar/arjun/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258401 complgen: 0.1.4 -> 0.1.5
  pkgs/development/tools/misc/complgen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258398 linux_xanmod: add zzzsy as maintainer
  pkgs/os-specific/linux/kernel/xanmod-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#258394 qtcreator: 11.0.2 -> 11.0.3
  pkgs/development/tools/qtcreator/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#258381 nwg-dock-hyprland: 0.1.6 -> 0.1.7
  pkgs/applications/misc/nwg-dock-hyprland/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#258378 kubecfg: 0.33.0 -> 0.34.0
  pkgs/applications/networking/cluster/kubecfg/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258375 steamguard-cli: 0.12.1 -> 0.12.2
  pkgs/tools/security/steamguard-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#258360 raspberrypi-eeprom: add awk to wrapper
  pkgs/os-specific/linux/raspberrypi-eeprom/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#258294 s5cmd: 2.2.0 -> 2.2.2
  pkgs/tools/networking/s5cmd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258320 go-ios: 1.0.115 -> 1.0.117
  pkgs/tools/misc/go-ios/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258003 vkd3d: 1.8 -> 1.9
  pkgs/development/libraries/vkd3d/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#258217 armcord,mailspring: mark as insecure (CVE-2023-4863)
  pkgs/applications/networking/instant-messengers/armcord/default.nix
  pkgs/applications/networking/mailreaders/mailspring/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#258415 python311Packages.pyswitchbot: 0.40.0 -> 0.40.1
  pkgs/development/python-modules/pyswitchbot/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#258413 python311Packages.mkdocstrings-python: 1.7.0 -> 1.7.1
  pkgs/development/python-modules/mkdocstrings-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258412 python311Packages.identify: 2.5.29 -> 2.5.30
  pkgs/development/python-modules/identify/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258011 albert: 0.22.4 -> 0.22.9
  pkgs/applications/misc/albert/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#256524 pkgsStatic.pulseaudio: mark unsupported
  pkgs/servers/pulseaudio/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: static

#255321 ulogd: add support for multiple logging stacks
  nixos/modules/services/logging/ulogd.nix
  nixos/tests/all-tests.nix
  nixos/tests/ulogd.nix
  nixos/tests/ulogd/ulogd.nix
  nixos/tests/ulogd/ulogd.py
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#258390 buildpack: 0.30.0 -> 0.31.0
  pkgs/development/tools/buildpack/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258034 python3Packages.treelib: init at 1.7.0
  pkgs/development/python-modules/treelib/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258044 python3Packages.wikipedia-api: init at 0.6.0
  pkgs/development/python-modules/wikipedia-api/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258433 thunderbird-bin: 115.3.0 -> 115.3.1
  pkgs/applications/networking/mailreaders/thunderbird-bin/release_sources.nix
Labels: 1.severity: security, backport release-23.05

#258102 thunderbird-unwrapped: 115.3.0 -> 115.3.1
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#258417 clojure: improve updateScript error behavior
  pkgs/development/interpreters/clojure/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#257338 fdk-aac: fix the license
  lib/licenses.nix
  pkgs/development/libraries/fdk-aac/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12. first-time contribution, 6.topic: lib

#258447 treewide: use `pkgs.config` instead of `config.nixpkgs.config`
  nixos/modules/hardware/all-firmware.nix
  nixos/modules/programs/firefox.nix
  nixos/modules/virtualisation/virtualbox-host.nix
Labels: 6.topic: nixos, 8.has: module (update)

#258325 tor: 0.4.8.6 -> 0.4.8.7
  pkgs/tools/security/tor/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#256546 python3Packages.gitpython: 3.1.33 -> 3.1.37
  pkgs/development/python-modules/gitpython/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1

#253160 makeStaticBinaries: Set -DCMAKE_SKIP_INSTALL_RPATH
  pkgs/stdenv/adapters.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 6.topic: stdenv

#258446 php82Extensions.redis: 5.3.7 -> 6.0.1
  pkgs/development/php-packages/redis/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#257996 speexdsp: fix crashes with easyeffects
  pkgs/development/libraries/speexdsp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#257045 gnuplot: 5.4.8 -> 5.4.9
  pkgs/tools/graphics/gnuplot/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#258459 electron-source: version updates for CVE-2023-5217
  pkgs/development/tools/electron/info.json
Labels: 1.severity: security

#258418 python311Packages.bellows: 0.36.4 -> 0.36.5
  pkgs/development/python-modules/bellows/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1

#258419 python311Packages.denonavr: 0.11.3 -> 0.11.4
  pkgs/development/python-modules/denonavr/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#258445 djgpp: Add darwin support
  pkgs/development/compilers/djgpp/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#258438 lunatask: 1.7.5 -> 1.7.6
  pkgs/applications/misc/lunatask/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258451 python311Packages.aioesphomeapi: 17.0.0 -> 17.0.1
  pkgs/development/python-modules/aioesphomeapi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#258088 i3status: set `meta.mainProgram`
  pkgs/applications/window-managers/i3/status.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#258369 limesctl: 3.2.0 -> 3.2.1
  pkgs/applications/misc/limesctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#258315 infamousPlugins: 0.3.0 -> 0.3.2
  pkgs/applications/audio/infamousPlugins/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258279 clusterctl: 1.5.1 -> 1.5.2
  pkgs/applications/networking/cluster/clusterctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#256056 plexRaw: 1.32.6.7468-07e0d4a7e -> 1.32.6.7557-1cf77d501
  pkgs/servers/plex/raw.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#258460 zsv: 0.3.7-alpha -> 0.3.8-alpha
  pkgs/development/tools/zsv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#257714 python310Packages.pytest-postgresql: init at 5.0.0
  pkgs/development/python-modules/mirakuru/default.nix
  pkgs/development/python-modules/port-for/default.nix
  pkgs/development/python-modules/pytest-postgresql/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2

#258455 php82Extensions.blackfire: 1.89.0 -> 1.90.0
  pkgs/development/tools/misc/blackfire/php-probe.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#258453 shopware-cli: 0.2.8 -> 0.3.4
  pkgs/by-name/sh/shopware-cli/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258452 opensearch: 2.9.0 -> 2.10.0
  pkgs/servers/search/opensearch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#257706 pkgsStatic.valgrind: mark unsupported
  pkgs/development/tools/analysis/valgrind/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: static

#258414 yabai: 5.0.8 -> 5.0.9
  pkgs/os-specific/darwin/yabai/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#257227 gnucash: 5.3 -> 5.4
  pkgs/applications/office/gnucash/0004-exec-fq-wrapper.patch
  pkgs/applications/office/gnucash/0005-remove-gncquotes-online-wiggle.patch
  pkgs/applications/office/gnucash/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, backport release-23.05

#254630 fastcdr: init at 1.1.1
  pkgs/development/libraries/fastcdr/0001-Do-not-require-wget-and-unzip.patch
  pkgs/development/libraries/fastcdr/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#258456 gitignore: add .nixos-test-history produced by test driver
  .gitignore
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#258194 texlab: 5.9.2 -> 5.10.0
  pkgs/development/tools/misc/texlab/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#257322 create-react-app: use buildNpmPackage
  pkgs/by-name/cr/create-react-app/package.nix
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: nodejs, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#257856 python310Packages.ocrmypdf: 14.4.0 -> 15.0.1
  pkgs/development/libraries/jbig2enc/default.nix
  pkgs/development/python-modules/ocrmypdf/default.nix
  pkgs/development/python-modules/ocrmypdf/paths.patch
  pkgs/tools/graphics/pngquant/default.nix
  pkgs/tools/graphics/unpaper/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#258099 python310Packages.pyrogram: 2.0.101 -> 2.0.106
  pkgs/development/python-modules/pyrogram/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258463 brave: launch script uses coreutils tools
  pkgs/applications/networking/browsers/brave/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#258095 python310Packages.castepxbin: 0.2.0 -> 0.3.0
  pkgs/development/python-modules/castepxbin/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#258316 whitesur-gtk-theme: 2023-02-07 -> 2023-06-30
  pkgs/data/themes/whitesur/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#256998 nixos/buildbot: make configurators configurable
  nixos/modules/services/continuous-integration/buildbot/master.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#258448 octant{,-desktop}: mark as insecure (CVE-2023-5217)
  pkgs/applications/networking/cluster/octant/default.nix
  pkgs/applications/networking/cluster/octant/desktop.nix
Labels: 1.severity: security, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#258302 discord-ptb: 0.0.46 -> 0.0.48
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-23.05

#258078 python311Packages.sip_4: fix py311 build
  pkgs/development/python-modules/sip/4.x.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#237404 moonraker: add useGpiod
  nixos/modules/services/misc/moonraker.nix
  pkgs/servers/moonraker/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#258484 act: 0.2.51 -> 0.2.52
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#258500 discord-{development,canary}: update
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, backport release-23.05

#258512 flexget: pin transmission-rpc version
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#258278 libxsmm: split outputs -> out, dev, doc
  pkgs/applications/science/chemistry/cp2k/default.nix
  pkgs/development/libraries/libxsmm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 2, 12.approved-by: package-maintainer

#256525 autoPatchelfHook: add `patchelfFlags` option
  pkgs/applications/networking/browsers/firefox-bin/default.nix
  pkgs/build-support/setup-hooks/auto-patchelf.py
  pkgs/build-support/setup-hooks/auto-patchelf.sh
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+

#256782 pdf2djvu: 0.9.18.2 -> 0.9.19
  pkgs/tools/typesetting/pdf2djvu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#258476 bootstrap-tools-cross: cleanup
  pkgs/stdenv/linux/bootstrap-files/loongson2f.nix
  pkgs/stdenv/linux/make-bootstrap-tools-cross.nix
Labels: 6.topic: cross-compilation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#258430 [23.05] armcord,mailspring: mark as insecure (CVE-2023-4863)
  pkgs/applications/networking/instant-messengers/armcord/default.nix
  pkgs/applications/networking/mailreaders/mailspring/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#257196 ocamlPackages.camomile: 1.0.2 → 2.0.0
  pkgs/development/ocaml-modules/camomile/default.nix
  pkgs/development/ocaml-modules/charInfo_width/default.nix
  pkgs/development/ocaml-modules/ocaml-gettext/camomile.nix
  pkgs/development/tools/headache/default.nix
  pkgs/tools/audio/liquidsoap/full.nix
  pkgs/tools/typesetting/soupault/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10
