Repository NixOS/nixpkgs, pull requests merged in 2024-10, with the labels that each got.

#344044 markdown-anki-decks: fix build
  pkgs/tools/misc/markdown-anki-decks/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345035 github/PULL_REQUEST_TEMPLATE: replace first heading with comment
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#343794 activemq: 6.1.2 -> 6.1.3
  pkgs/by-name/ac/activemq/package.nix
  pkgs/development/libraries/apache-activemq/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#344688 lib/modules: Improve error when loading a flake as a module
  lib/modules.nix
  lib/tests/modules.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: module system, 6.topic: lib

#344400 fnc: 0.16 -> 0.18
  pkgs/applications/version-management/fnc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#335751 cargo-tauri.hook: init
  doc/hooks/index.md
  doc/hooks/tauri.section.md
  nixos/doc/manual/release-notes/rl-2411.section.md
  pkgs/applications/misc/insulator2/default.nix
  pkgs/by-name/ca/cargo-tauri/hook.nix
  pkgs/by-name/ca/cargo-tauri/hook.sh
  pkgs/by-name/ca/cargo-tauri/package.nix
  pkgs/by-name/ca/cargo-tauri/test-app.nix
  pkgs/by-name/ca/cargo-tauri/update-time-crate.patch
  pkgs/by-name/ci/cinny-desktop/package.nix
  pkgs/by-name/en/en-croissant/package.nix
  pkgs/by-name/gi/gitbutler/package.nix
  pkgs/by-name/ki/kiwitalk/package.nix
  pkgs/by-name/mo/modrinth-app-unwrapped/package.nix
  pkgs/by-name/mo/mouse-actions-gui/package.nix
  pkgs/by-name/po/pot/package.nix
  pkgs/by-name/su/surrealist/0001-Cargo.patch
  pkgs/by-name/su/surrealist/package.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#344754 dioxus-cli: 0.5.6 -> 0.5.7
  pkgs/development/tools/rust/dioxus-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2

#345308 syshud: 0-unstable-2024-08-27 -> 0-unstable-2024-09-26
  pkgs/by-name/sy/syshud/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#345354 spl: 0.3.2 -> 0.4.0
  pkgs/by-name/sp/spl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345462 gotestsum: 1.11.0 -> 1.12.0-unstable-2024-09-17; move to by-name
  pkgs/by-name/go/gotestsum/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345420 llvmPackages_git: 20.0.0-git-2024-09-22 -> 20.0.0-git-2024-09-29
  pkgs/development/compilers/llvm/common/default.nix
  pkgs/development/compilers/llvm/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: llvm/clang

#345600 mpv: fix build on darwin
  pkgs/applications/video/mpv/0001-fix-darwin-build.patch
  pkgs/applications/video/mpv/default.nix
  pkgs/servers/gonic/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#345628 jawiki-all-titles-in-ns0: 0-unstable-2024-09-11 -> 0-unstable-2024-10-01
  pkgs/by-name/ja/jawiki-all-titles-in-ns0/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345630 mozcdic-ut-jawiki: 0-unstable-2024-09-21 -> 0-unstable-2024-09-27
  pkgs/by-name/mo/mozcdic-ut-jawiki/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345629 jp-zip-codes: 0-unstable-2024-09-01 -> 0-unstable-2024-10-01
  pkgs/by-name/jp/jp-zip-codes/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345551 spotube: 3.8.1 -> 3.8.2
  pkgs/by-name/sp/spotube/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345596 n8n: 1.60.1 -> 1.61.0
  pkgs/by-name/n8/n8n/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345627 pomerium: 0.26.1 -> 0.27.1
  pkgs/by-name/po/pomerium/0001-envoy-allow-specification-of-external-binary.patch
  pkgs/by-name/po/pomerium/package.json
  pkgs/by-name/po/pomerium/package.nix
  pkgs/by-name/po/pomerium/updater.sh
  pkgs/by-name/po/pomerium/yarn-hash
  pkgs/servers/http/pomerium/yarn-hash
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#345579 inochi2d: add libGL to LD_LIBRARY_PATH
  pkgs/applications/misc/inochi2d/generic.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345604 php81Extensions.spx: 0.4.16 -> 0.4.17
  pkgs/development/php-packages/spx/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: php

#344377 zoom-us: fix web view and add pulseaudio dependency
  pkgs/by-name/zo/zoom-us/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#345480 sgt-puzzles: 20240911.cd97968 -> 20240928.182b3d9
  pkgs/games/sgt-puzzles/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#345583 wireshark: 4.2.6 -> 4.2.7
  pkgs/applications/networking/sniffers/wireshark/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-24.05

#344310 geos: 3.12.2 -> 3.13.0
  pkgs/development/libraries/gdal/default.nix
  pkgs/development/libraries/geos/default.nix
  pkgs/development/libraries/librasterlite2/default.nix
  pkgs/development/python-modules/psycopg/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#345605 python312Packages.aiortm: 0.9.0 -> 0.9.7
  pkgs/development/python-modules/aiortm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345634 mame: 0.269 -> 0.270
  pkgs/applications/emulators/mame/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345588 python312Packages.openai-whisper: 20240927 -> 20240930
  pkgs/development/python-modules/openai-whisper/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#343184 lsp-ai: init at 0.7.1
  pkgs/by-name/ls/lsp-ai/Cargo.lock
  pkgs/by-name/ls/lsp-ai/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#345637 basedpyright: 1.18.0 -> 1.18.2
  pkgs/by-name/ba/basedpyright/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345524 nixos/repart-image: pass partition attrs to builder instead of JSON file
  nixos/modules/image/repart-image.nix
  nixos/modules/image/repart-verity-store.nix
  nixos/modules/image/repart.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#345607 python312Packages.ufomerge: 1.8.1 -> 1.8.2
  pkgs/development/python-modules/ufomerge/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345365 rat-king-adventure: 2.0.0 -> 2.0.1
  pkgs/games/shattered-pixel-dungeon/rat-king-adventure/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#335554 gcc11: update darwin support patch to 11.5.0
  pkgs/development/compilers/gcc/patches/11/libgcc-aarch64-darwin-detection.patch
  pkgs/development/compilers/gcc/patches/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#345670 esphome: 2024.9.1 -> 2024.9.2
  pkgs/tools/misc/esphome/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345669 panoply: 5.5.1 -> 5.5.2
  pkgs/tools/misc/panoply/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#345552 ocamlPackages.uunf: 15.1.0 → 16.0.0
  pkgs/development/ocaml-modules/uunf/default.nix
Labels: 8.has: package (update), 6.topic: ocaml, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#345665 edgedb: reapply 5.3.0
  pkgs/tools/networking/edgedb/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345620 thunderbird-bin-unwrapped: 128.2.0esr -> 128.2.3esr
  pkgs/applications/networking/mailreaders/thunderbird-bin/release_sources.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-24.05

#345564 nuclei: fix hash mismatch on darwin
  pkgs/tools/security/nuclei/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345592 nixos/nextcloud: re-add declarative-redis-and-secrets to matrix
  nixos/tests/nextcloud/default.nix
  nixos/tests/nextcloud/with-declarative-redis-and-secrets.nix
  nixos/tests/nextcloud/with-mysql-and-memcached.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#343698 coursier: 2.1.11 -> 2.1.13
  pkgs/development/tools/coursier/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#343849 {ftjam,jam}: migrate to by-name
  pkgs/by-name/ft/ftjam/package.nix
  pkgs/by-name/ja/jam/package.nix
  pkgs/development/tools/build-managers/jam/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#345683 lunar-client: 3.2.18 -> 3.2.19
  pkgs/by-name/lu/lunar-client/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345685 tailwindcss: 3.4.10 -> 3.4.13
  pkgs/development/tools/tailwindcss/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#327552 nixos/systemd: let systemd setup /etc/machine-id
  nixos/modules/system/boot/stage-2-init.sh
  nixos/modules/system/boot/systemd.nix
  nixos/tests/systemd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345675 nixos-facter: 0.1.0 -> 0.1.1
  pkgs/by-name/ni/nixos-facter/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#345641 python312Packages.clarifai-grpc: 10.8.6 -> 10.8.7
  pkgs/development/python-modules/clarifai-grpc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345639 python312Packages.pulumi-aws: 6.52.0 -> 6.54.1
  pkgs/development/python-modules/pulumi-aws/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#344111 snazy: 0.52.17 -> 0.53.0
  pkgs/development/tools/snazy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#343830 pipenv: 2024.0.1 -> 2024.1.0
  pkgs/development/tools/pipenv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#342764 calamares-nixos: 3.3.8 -> 3.3.9
  pkgs/tools/misc/calamares/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#344096 abbaye-des-morts: 2.0.2 -> 2.0.4
  pkgs/games/abbaye-des-morts/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345416 tigerbeetle: 0.16.2 -> 0.16.3
  pkgs/by-name/ti/tigerbeetle/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345684 python312Packages.speechbrain: update hash
  pkgs/development/python-modules/speechbrain/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345513 pdm: 2.18.2 -> 2.19.1
  pkgs/tools/package-management/pdm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345515 python312Packages.scikit-optimize: remove
  pkgs/development/python-modules/optuna/default.nix
  pkgs/development/python-modules/scikit-optimize/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#343430 zenn-cli: 0.1.155 -> 0.1.157
  pkgs/by-name/ze/zenn-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345643 tigerbeetle: add update script to update all hashes at the same time
  pkgs/by-name/ti/tigerbeetle/package.nix
  pkgs/by-name/ti/tigerbeetle/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#344335 fahclient: 8.3.7 -> 8.3.18
  pkgs/applications/science/misc/foldingathome/client.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12. first-time contribution

#345631 smassh: 3.1.4 -> 3.1.6
  pkgs/by-name/sm/smassh/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#344507 radarr: 5.9.1.9070 -> 5.11.0.9244
  pkgs/servers/radarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345664 athens: 0.15.1 -> 0.15.2
  pkgs/by-name/at/athens/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344950 pagefind: 1.1.0 -> 1.1.1
  pkgs/applications/misc/pagefind/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345623 mold: 2.33.0 -> 2.34.0
  pkgs/by-name/mo/mold/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345381 brasero: rename brasero-original to brasero-unwrapped; rhythmbox: use brasero-unwrapped instead of brasero
  pkgs/applications/audio/rhythmbox/default.nix
  pkgs/tools/cd-dvd/brasero/wrapper.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#345013 yt-dlp: 2024.8.6 -> 2024.9.27
  pkgs/by-name/yt/yt-dlp/package.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#344409 fflogs: 8.13.5 -> 8.14.0
  pkgs/by-name/ff/fflogs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345663 gopass-jsonapi: fix src hash
  pkgs/tools/security/gopass/jsonapi.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345532 libdigidocpp: update TSA_URL
  pkgs/development/libraries/libdigidocpp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-24.05

#343704 flatpak: Don't propagate $TZDIR into sandbox
  pkgs/by-name/fl/flatpak/unset-env-vars.patch
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345640 adw-gtk3: 5.4 -> 5.3
  pkgs/data/themes/adw-gtk3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#339059 ente-auth: init at 4.0.2
  pkgs/by-name/en/ente-auth/package.nix
  pkgs/by-name/en/ente-auth/pubspec.lock.json
  pkgs/by-name/en/ente-auth/simple-icons.json
  pkgs/by-name/en/ente-auth/update.sh
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 3+

#345726 uwsm: 0.19.1 -> 0.20.0
  pkgs/by-name/uw/uwsm/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345543 morgen: 3.5.6 -> 3.5.9
  pkgs/applications/office/morgen/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345650 infisical: 0.31.0 -> 0.31.1
  pkgs/development/tools/infisical/default.nix
  pkgs/development/tools/infisical/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345056 prowlarr: 1.23.1.4708 -> 1.24.3.4754
  pkgs/servers/prowlarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#345599 router: 1.54.0 -> 1.55.0
  pkgs/servers/http/router/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345578 cargo-info: 0.7.6 -> 0.7.7
  pkgs/development/tools/rust/cargo-info/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#343641 nixos/sing-box: test distribution specific features
  nixos/tests/sing-box.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#345563 tmuxinator: 3.1.2 -> 3.3.1
  pkgs/tools/misc/tmuxinator/default.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#344484 python312Packages.openai: 1.47.1 -> 1.50.2
  pkgs/development/python-modules/openai/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer

#345692 root: 6.32.04 -> 6.32.06
  pkgs/applications/science/misc/root/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345542 authelia: 4.38.10 -> 4.38.15
  pkgs/servers/authelia/sources.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#345482 prometheus-borgmatic-exporter: refactor
  pkgs/by-name/pr/prometheus-borgmatic-exporter/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345120 stu: 0.6.2 -> 0.6.3
  pkgs/by-name/st/stu/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345671 viddy: 1.1.2 -> 1.1.5
  pkgs/tools/misc/viddy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approved-by: package-maintainer

#344981 goda: 0.5.9 -> 0.5.11
  pkgs/development/tools/goda/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#344607 curl-impersonate-chrome: 0.7.0 -> 0.8.0
  pkgs/tools/networking/curl-impersonate/chrome/default.nix
  pkgs/tools/networking/curl-impersonate/chrome/deps.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, needs_merger, 12.approvals: 1, 12.approved-by: package-maintainer

#344709 wavebox: 10.128.7-2 -> 10.129.27-2
  pkgs/applications/networking/instant-messengers/wavebox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.05

#344712 plexamp: 4.11.1 -> 4.11.2
  pkgs/applications/audio/plexamp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#344641 crawl: 0.32.0 -> 0.32.1
  pkgs/games/crawl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#343549 nixos/phpfpm: phpfpm.slice -> system-phpfpm.slice
  nixos/modules/services/web-servers/phpfpm/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#344866 Bump elmPackages
  pkgs/development/compilers/elm/packages/node/default.nix
  pkgs/development/compilers/elm/packages/node/elm-pages/default.nix
  pkgs/development/compilers/elm/packages/node/generate-node-packages.sh
  pkgs/development/compilers/elm/packages/node/node-composition.nix
  pkgs/development/compilers/elm/packages/node/node-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#345619 iosevka-bin: 31.4.0 -> 31.7.1
  pkgs/data/fonts/iosevka/bin.nix
  pkgs/data/fonts/iosevka/variants.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#343553 nixos/graphite: add systemd slice
  nixos/modules/services/monitoring/graphite.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#344556 asm-lsp: add support for darwin
  maintainers/maintainer-list.nix
  pkgs/by-name/as/asm-lsp/package.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1, needs_merger, 12.approvals: 2, 12.approved-by: package-maintainer, 8.has: maintainer-list (update)

#345171 python3Packages.xen: init at 4.19.0
  pkgs/applications/virtualization/xen/generic/default.nix
  pkgs/applications/virtualization/xen/packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 3+, 12.approved-by: package-maintainer, 6.topic: xen-project

#345571 Uppaal: init at 5.0.0
  maintainers/maintainer-list.nix
  pkgs/by-name/up/uppaal/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution, 8.has: maintainer-list (update)

#345734 pingvin-share: 1.1.1 -> 1.1.3
  pkgs/servers/pingvin-share/backend.nix
  pkgs/servers/pingvin-share/default.nix
  pkgs/servers/pingvin-share/frontend.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345718 smassh: fix version test
  pkgs/by-name/sm/smassh/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#344999 quickjs-ng: 0.6.0 -> 0.6.1; quickjs; refactor
  pkgs/by-name/qu/quickjs-ng/package.nix
  pkgs/by-name/qu/quickjs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345736 glasskube: 0.21.0 -> 0.23.0
  pkgs/by-name/gl/glasskube/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#330897 ndn-tools: 22.12 -> 24.07
  .git-blame-ignore-revs
  pkgs/by-name/nd/ndn-cxx/package.nix
  pkgs/by-name/nd/ndn-tools/package.nix
  pkgs/by-name/nf/nfd/package.nix
  pkgs/servers/nfd/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2

#344527 bochs: use lib.* string functions
  pkgs/by-name/bo/bochs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345742 pgmoneta: 0.14.0 -> 0.14.1
  pkgs/by-name/pg/pgmoneta/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345508 vscode-extensions.apollographql.vscode-apollo: 2.3.2 -> 2.3.3
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#344292 systemd: Disable shadowstack
  pkgs/os-specific/linux/systemd/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 5001+, 6.topic: systemd, 12.approvals: 1

#345728 zed-editor: 0.154.3 -> 0.154.4
  pkgs/by-name/ze/zed-editor/Cargo.lock
  pkgs/by-name/ze/zed-editor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345716 minio: 2024-09-13T20-26-02Z -> 2024-09-22T00-33-43Z
  pkgs/servers/minio/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#345595 qbittorrent: 4.6.7 -> 5.0.0
  nixos/doc/manual/release-notes/rl-2411.section.md
  pkgs/applications/networking/p2p/qbittorrent/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#345296 matrix-hebbot: 2.1 -> 2.1-unstable-2024-09-20; fix build
  pkgs/by-name/ma/matrix-hebbot/package.nix
  pkgs/servers/matrix-hebbot/Cargo.lock
  pkgs/servers/matrix-hebbot/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344531 galculator: migrate to by-name
  pkgs/by-name/ga/galculator/package.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345569 nomnatong: 5.11 -> 5.12
  pkgs/by-name/no/nomnatong/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#341251 tetrio-plus: split into seperate derivation
  pkgs/by-name/te/tetrio-desktop/package.nix
  pkgs/by-name/te/tetrio-plus/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approved-by: package-maintainer

#345601 mbuffer: 20240707 -> 20240929
  pkgs/tools/misc/mbuffer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345598 home-manager: 0-unstable-2024-09-21 -> 0-unstable-2024-09-26
  pkgs/by-name/ho/home-manager/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345636 kubernetes-polaris: 9.4.0 -> 9.4.1
  pkgs/tools/security/kubernetes-polaris/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345633 labwc-tweaks-gtk: 0-unstable-2024-05-22 -> 0-unstable-2024-09-30
  pkgs/by-name/la/labwc-tweaks-gtk/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344275 gotrue-supabase: 2.160.0 -> 2.161.0
  pkgs/tools/security/gotrue/supabase.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345697 oh-my-posh: 23.14.1 -> 23.15.0
  pkgs/by-name/oh/oh-my-posh/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#345686 jira-cli-go: 1.5.1 -> 1.5.2
  pkgs/by-name/ji/jira-cli-go/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345681 typos: move to by-name
  pkgs/by-name/ty/typos/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#345678 gitlab-ci-ls: 0.21.2 -> 0.21.3
  pkgs/by-name/gi/gitlab-ci-ls/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344577 openseachest: 24.08 -> 24.08.1
  pkgs/tools/system/openseachest/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345572 cargo-make: 0.37.16 -> 0.37.18
  pkgs/by-name/ca/cargo-make/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345743 python312Packages.tencentcloud-sdk-python: 3.0.1243 -> 3.0.1244
  pkgs/development/python-modules/tencentcloud-sdk-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345741 goa: 3.19.0 -> 3.19.1
  pkgs/development/tools/goa/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345739 python312Packages.publicsuffixlist: 1.0.2.20240927 -> 1.0.2.20241001
  pkgs/development/python-modules/publicsuffixlist/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345744 checkov: 3.2.254 -> 3.2.256
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345756 flarectl: 0.104.0 -> 0.105.0
  pkgs/by-name/fl/flarectl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345709 llvmPackages_19: 19.1.0 -> 19.1.1
  pkgs/development/compilers/llvm/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 6.topic: llvm/clang

#344608 teamspeak_client: update pluginsdk
  pkgs/applications/networking/instant-messengers/teamspeak/client.nix
  pkgs/applications/networking/instant-messengers/teamspeak/distribution-permit.txt
  pkgs/applications/networking/instant-messengers/teamspeak/server.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#345747 python312Packages.py-serializable: 1.1.1 -> 1.1.2
  pkgs/development/python-modules/py-serializable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345748 python312Packages.mitogen: 0.3.10 -> 0.3.11
  pkgs/development/python-modules/mitogen/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345749 cnspec: 11.23.1 -> 11.24.0
  pkgs/tools/security/cnspec/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345750 python312Packages.griffe: 1.3.1 -> 1.3.2
  pkgs/development/python-modules/griffe/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345762 wlx-overlay-s: 0.5.0 -> 0.6
  pkgs/by-name/wl/wlx-overlay-s/Cargo.lock
  pkgs/by-name/wl/wlx-overlay-s/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345751 lefthook: 1.7.16 -> 1.7.17
  pkgs/by-name/le/lefthook/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#343642 unicorn: 2.1.0 -> 2.1.1
  pkgs/development/libraries/unicorn/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#345765 gimoji: 1.1.0 -> 1.1.1
  pkgs/by-name/gi/gimoji/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345767 luaPackages.dkjson: revert hash change
  pkgs/development/lua-modules/generated-packages.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 6.topic: lua

#337240 python312Packages.anthropic: 0.34.0 -> 0.34.2
  pkgs/development/python-modules/anthropic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#345660 ockam: 0.132.0 -> 0.134.0
  pkgs/tools/networking/ockam/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344956 klipper: add calibrate_shaper script as a binary
  pkgs/servers/klipper/default.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#345464 python312Packages.xknxproject: 3.7.1 -> 3.8.0
  pkgs/development/python-modules/xknxproject/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#345463 python312Packages.gcal-sync: 6.1.4 -> 6.1.5
  pkgs/development/python-modules/gcal-sync/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345772 nuclei-templates: 10.0.0 -> 10.0.1
  pkgs/by-name/nu/nuclei-templates/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345773 python3Packages.langchain-core: 0.3.0 -> 0.3.7, python3Packages.langchain-community: 0.3.0 -> 0.3.1, python3Packages.langchain: 0.3.0 -> 0.3.1, python3Packages.langchain-openai: 0.2.0 -> 0.2.1
  pkgs/development/python-modules/langchain-community/default.nix
  pkgs/development/python-modules/langchain-core/default.nix
  pkgs/development/python-modules/langchain-openai/default.nix
  pkgs/development/python-modules/langchain/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#345654 python312Packages.blackjax: 1.2.3 -> 1.2.4
  pkgs/development/python-modules/blackjax/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345366 code-cursor: 0.41.1 -> 0.41.3
  pkgs/by-name/co/code-cursor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1
