Repository NixOS/nixpkgs, pull requests merged in 2024-05, with the labels that each got.

#307674 portfolio: 0.68.3 -> 0.68.4
  pkgs/applications/office/portfolio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#307710 hoppscotch: 23.12.5-1 -> 24.3.1-2
  pkgs/by-name/ho/hoppscotch/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#307275 xpointerbarrier: 20.07 -> 23.08
  pkgs/by-name/xp/xpointerbarrier/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#305809 tdl: 0.16.2 -> 0.17.0
  pkgs/by-name/td/tdl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305986 listenbrainz-mpd: 2.3.4 -> 2.3.5
  pkgs/applications/audio/listenbrainz-mpd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#306094 trurl: 0.10 -> 0.12
  pkgs/tools/networking/trurl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#299894 affine: 0.13.1 -> 0.13.3
  pkgs/by-name/af/affine/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#300062 photonvision: 2024.2.3 -> 2024.3.1
  pkgs/by-name/ph/photonvision/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#302884 goxlr-utility: 1.0.0 -> 1.1.1
  pkgs/tools/audio/goxlr-utility/Cargo.lock
  pkgs/tools/audio/goxlr-utility/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305603 biodiff: 1.1.0 -> 1.2.1
  pkgs/development/tools/biodiff/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305936 spirit: 0-unstable-2024-03-20 -> 0-unstable-2024-04-18
  pkgs/by-name/sp/spirit/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305957 txtpbfmt: unstable-2023-10-25 -> 0-unstable-2024-04-16
  pkgs/development/tools/txtpbfmt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305508 shaderc: 2023.8 -> 2024.0
  pkgs/development/compilers/shaderc/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#278112 unvanquished: 0.54.0 -> 0.54.1
  pkgs/games/unvanquished/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#279959 fead: 0.1.3 -> 1.0.0
  pkgs/applications/misc/fead/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#281231 doomrunner: 1.8.1 -> 1.8.2
  pkgs/games/doom-ports/doomrunner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#281768 pls: 0.0.1-beta.4 -> 0.0.1-beta.6
  pkgs/by-name/pl/pls/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305098 daytona-bin: 0.9.0 -> 0.12.0
  maintainers/maintainer-list.nix
  pkgs/by-name/da/daytona-bin/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305261 nix-inspect: 0.1.1 -> 0.1.2
  pkgs/by-name/ni/nix-inspect/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#306426 discover-overlay: 0.7.0 -> 0.7.3
  pkgs/by-name/di/discover-overlay/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#306047 virtual-ans: 3.0.2c -> 3.0.3
  pkgs/applications/audio/virtual-ans/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#304597 texturepacker: 7.2.0 -> 7.3.0
  pkgs/applications/graphics/texturepacker/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#308087 libvirt: apply patches for CVE-2024-2494 and CVE-2024-1441
  pkgs/development/libraries/libvirt/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-23.11

#291564 nibtools: init at unstable-2024-02-22
  pkgs/by-name/ni/nibtools/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308124 hyprcursor: 0.1.7 -> 0.1.8
  pkgs/by-name/hy/hyprcursor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#299654 python3Packages.{xdis,uncompyle6}: bump to latest to support python 3.12
  pkgs/development/python-modules/uncompyle6/default.nix
  pkgs/development/python-modules/xdis/default.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308078 neocmakelsp: 0.6.22 -> 0.6.23
  pkgs/development/tools/language-servers/neocmakelsp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#308037 waylib: fix build on qt 6.7
  pkgs/development/libraries/waylib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#307997 ocamlPackages.ppx_cstruct: disable tests for OCaml ≥ 5.1
  pkgs/development/ocaml-modules/cstruct/ppx.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#307948 python312Packages.sqlmodel: 0.0.16 -> 0.0.18
  pkgs/development/python-modules/sqlmodel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#307714 python312Packages.watchdog-gevent: disable tests
  pkgs/development/python-modules/watchdog-gevent/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 0.kind: build failure

#308036 qovery-cli: 0.90.4 -> 0.91.1
  pkgs/tools/admin/qovery-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#307001 victoriametrics: 1.100.1 -> 1.101.0
  pkgs/by-name/vi/victoriametrics/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308082 openssl_3_3: init at 3.3.0
  pkgs/development/libraries/openssl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292415 sway/hyprland: cross compilation fixes
  pkgs/applications/window-managers/hyprwm/hyprland/default.nix
  pkgs/by-name/wa/waybar/package.nix
  pkgs/development/libraries/wlroots/default.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#263158 gcr: remove build gnupg from runtime closure
  pkgs/development/libraries/gcr/4.nix
  pkgs/development/libraries/gcr/default.nix
Labels: 6.topic: closure-size, 6.topic: cross-compilation, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#305661 snapcast: 0.27.0 -> 0.28.0; removed patch
  pkgs/applications/audio/snapcast/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#304820 [23.11] gitea: backport CSP patch in markdown renderer
  pkgs/applications/version-management/gitea/csp-early-1.21.11.patch
  pkgs/applications/version-management/gitea/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308120 glab: 1.37.0 -> 1.40.0
  pkgs/applications/version-management/glab/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12. first-time contribution

#308016 llvm,mlir: Fix the incorrect MLIR_INSTALL_PACKAGE_DIR config
  pkgs/development/compilers/llvm/common/mlir/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 3+, 12.approved-by: package-maintainer

#308141 devbox: 0.10.5 -> 0.10.6
  pkgs/development/tools/devbox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308173 unrar: 7.0.7 -> 7.0.8
  pkgs/by-name/un/unrar/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308131 aws-sso-cli: 1.15.0 -> 1.15.1
  pkgs/tools/admin/aws-sso-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308108 nickel: 1.5.0 -> 1.6.0
  pkgs/by-name/ni/nickel/Cargo.lock
  pkgs/by-name/ni/nickel/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#308086 tenv: 1.8.0 -> 1.9.4
  pkgs/by-name/te/tenv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#306008 kapp: 0.61.0 -> 0.62.0
  pkgs/tools/networking/kapp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#306289 libks: 2.0.4 -> 2.0.5
  pkgs/development/libraries/libks/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#302904 hydrus: 566 -> 572
  pkgs/applications/graphics/hydrus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308189 sish: 2.14.0 -> 2.15.0
  pkgs/tools/networking/sish/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308168 qmmp: 2.1.6 -> 2.1.7
  pkgs/applications/audio/qmmp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#306015 go-migrate: Add support for the pgx5 driver
  pkgs/development/tools/go-migrate/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#308062 mpvScripts.*: Fix some unstableGitUpdater users
  pkgs/applications/video/mpv/scripts/chapterskip.nix
  pkgs/applications/video/mpv/scripts/convert.nix
  pkgs/applications/video/mpv/scripts/cutter.nix
  pkgs/applications/video/mpv/scripts/mpv-playlistmanager.nix
  pkgs/applications/video/mpv/scripts/mpv-webm.nix
  pkgs/applications/video/mpv/scripts/occivink.nix
  pkgs/applications/video/mpv/scripts/quack.nix
  pkgs/applications/video/mpv/scripts/reload.nix
  pkgs/applications/video/mpv/scripts/sponsorblock-minimal.nix
  pkgs/applications/video/mpv/scripts/thumbfast.nix
  pkgs/applications/video/mpv/scripts/visualizer.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 2, 12.approved-by: package-maintainer

#305951 nixVersions.unstable: build from master, re-init at 2.22.0.pre20240321_6fd2f42c
  lib/tests/release.nix
  nixos/doc/manual/release-notes/rl-2405.section.md
  pkgs/development/tools/language-servers/nil/default.nix
  pkgs/tools/package-management/nix/default.nix
  pkgs/tools/package-management/nix/nix-perl.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: lib

#307832 {tor,mullvad}-browser: fix font config patch
  pkgs/applications/networking/browsers/mullvad-browser/default.nix
  pkgs/applications/networking/browsers/tor-browser/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-23.11

#306595 nextcloud29: init at 29.0.0, nextcloud27: 27.1.8 -> 27.1.9, nextcloud28: 28.0.4 -> 28.0.5
  nixos/doc/manual/release-notes/rl-2405.section.md
  nixos/modules/services/web-apps/nextcloud.md
  nixos/modules/services/web-apps/nextcloud.nix
  nixos/tests/nextcloud/default.nix
  pkgs/servers/nextcloud/default.nix
  pkgs/servers/nextcloud/packages/27.json
  pkgs/servers/nextcloud/packages/28.json
  pkgs/servers/nextcloud/packages/29.json
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: package (new), 8.has: module (update), 8.has: clean-up, 9.needs: port to stable, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 3+, 12.approved-by: package-maintainer

#308190 monkeysAudio: 10.60 -> 10.71
  pkgs/applications/audio/monkeys-audio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#308142 fishPlugins.forgit: 24.04.0 -> 24.05.0
  pkgs/shells/fish/plugins/forgit.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#308075 akkoma: 3.12.2 -> 3.13.1
  pkgs/servers/akkoma/admin-fe/default.nix
  pkgs/servers/akkoma/admin-fe/deps.patch
  pkgs/servers/akkoma/admin-fe/yarn.lock
  pkgs/servers/akkoma/akkoma-fe/default.nix
  pkgs/servers/akkoma/default.nix
  pkgs/servers/akkoma/mix.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 2

#307973 slurm: 23.11.5.1 -> 23.11.6.1
  pkgs/servers/computing/slurm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#307972 snapper: 0.10.7 -> 0.11.0
  pkgs/tools/misc/snapper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#307705 hamsket: remove unneeded symlink
  pkgs/applications/networking/instant-messengers/hamsket/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#308258 Elisp update
  pkgs/applications/editors/emacs/elisp-packages/elpa-devel-generated.nix
  pkgs/applications/editors/emacs/elisp-packages/elpa-generated.nix
  pkgs/applications/editors/emacs/elisp-packages/nongnu-generated.nix
  pkgs/applications/editors/emacs/elisp-packages/recipes-archive-melpa.json
Labels: 6.topic: emacs

#307188 treewide: migrate some packages to finalAttrs, also reference lib explicitly in meta
  pkgs/applications/networking/instant-messengers/whatsapp-for-linux/default.nix
  pkgs/applications/networking/remote/anydesk/default.nix
  pkgs/by-name/ke/keydb/package.nix
  pkgs/by-name/la/lager/package.nix
  pkgs/by-name/sy/syslogng/package.nix
  pkgs/games/abuse/default.nix
  pkgs/games/steam/runtime.nix
  pkgs/misc/sndio/default.nix
  pkgs/tools/misc/wv/default.nix
  pkgs/tools/text/recode/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: steam, 10.rebuild-darwin: 1

#307167 neovimUtils.grammarToPlugin: remove vimplugin prefix
  pkgs/applications/editors/neovim/utils.nix
Labels: 6.topic: vim, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#307994 lunar-client: 3.2.5 -> 3.2.6
  pkgs/by-name/lu/lunar-client/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#304886 puppet-bolt: fix pname
  pkgs/by-name/pu/puppet-bolt/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#308228 vscode-extensions.*: format with nixfmt RFC 166 and enforce via CI
  .github/workflows/check-nix-format.yml
  pkgs/applications/editors/vscode/extensions/WakaTime.vscode-wakatime/default.nix
  pkgs/applications/editors/vscode/extensions/chenglou92.rescript-vscode/default.nix
  pkgs/applications/editors/vscode/extensions/chenglou92.rescript-vscode/rescript-editor-analysis.nix
  pkgs/applications/editors/vscode/extensions/contextmapper.context-mapper-vscode-extension/default.nix
  pkgs/applications/editors/vscode/extensions/equinusocio.vsc-material-theme/default.nix
  pkgs/applications/editors/vscode/extensions/hashicorp.terraform/default.nix
  pkgs/applications/editors/vscode/extensions/jebbs.plantuml/default.nix
  pkgs/applications/editors/vscode/extensions/language-packs.nix
  pkgs/applications/editors/vscode/extensions/mktplcExtRefToFetchArgs.nix
  pkgs/applications/editors/vscode/extensions/ms-dotnettools.csdevkit/default.nix
  pkgs/applications/editors/vscode/extensions/ms-dotnettools.csharp/default.nix
  pkgs/applications/editors/vscode/extensions/ms-python.python/default.nix
  pkgs/applications/editors/vscode/extensions/ms-toolsai.jupyter/default.nix
  pkgs/applications/editors/vscode/extensions/ms-vscode-remote.remote-ssh/default.nix
  pkgs/applications/editors/vscode/extensions/ms-vscode.cpptools/default.nix
  pkgs/applications/editors/vscode/extensions/ms-vsliveshare.vsliveshare/default.nix
  pkgs/applications/editors/vscode/extensions/rust-lang.rust-analyzer/default.nix
  pkgs/applications/editors/vscode/extensions/sumneko.lua/default.nix
  pkgs/applications/editors/vscode/extensions/updateSettings.nix
  pkgs/applications/editors/vscode/extensions/updateSettingsTest.nix
  pkgs/applications/editors/vscode/extensions/vadimcn.vscode-lldb/default.nix
  pkgs/applications/editors/vscode/extensions/vadimcn.vscode-lldb/lldb.nix
  pkgs/applications/editors/vscode/extensions/vscode-utils.nix
  pkgs/applications/editors/vscode/extensions/vscodeEnv.nix
  pkgs/applications/editors/vscode/extensions/vscodeEnvTest.nix
  pkgs/applications/editors/vscode/extensions/vscodeExts2nix.nix
  pkgs/applications/editors/vscode/extensions/vscodeWithConfiguration.nix
Labels: 6.topic: policy discussion, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vscode

#307218 nixos/incus: add missing packages to path
  nixos/modules/virtualisation/incus.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#308004 scotch: use fetchFromGitLab, format and move to pkgs/by-name
  pkgs/by-name/sc/scotch/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308257 maintainers: rename ayes-web -> BatteredBunny
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/gekko/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12. first-time contribution, 8.has: maintainer-list (update)

#307998 silverbullet: 0.7.6 -> 0.7.7
  pkgs/by-name/si/silverbullet/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#308150 gobgp: 3.25.0 -> 3.26.0
  pkgs/tools/networking/gobgp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308149 kor: 0.3.7 -> 0.3.8
  pkgs/by-name/ko/kor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#307743 python3Packages.geopandas: 0.14.3 -> 0.14.4
  pkgs/development/python-modules/geopandas/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#308148 gobgpd: 3.25.0 -> 3.26.0
  pkgs/servers/misc/gobgpd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308145 mutagen-compose: 0.17.5 -> 0.17.6
  pkgs/tools/misc/mutagen-compose/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308144 mdbook-pagetoc: 0.1.9 -> 0.2.0
  pkgs/tools/text/mdbook-pagetoc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308135 cascadia-code: 2111.01 -> 2404.23
  pkgs/data/fonts/cascadia-code/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#308134 automatic-timezoned: 2.0.11 -> 2.0.12
  pkgs/tools/system/automatic-timezoned/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#308118 unciv: 4.11.8 -> 4.11.9
  pkgs/by-name/un/unciv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308115 python312Packages.whenever: 0.5.1 -> 0.5.2
  pkgs/development/python-modules/whenever/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#307635 yubihsm-shell: 2.4.2 -> 2.5.0
  pkgs/tools/security/yubihsm-shell/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#307697 kn: 1.13.0 -> 1.14.0
  pkgs/applications/networking/cluster/kn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308176 pinact: 0.1.2 -> 0.1.3
  pkgs/by-name/pi/pinact/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308175 timeular: 6.7.5 -> 6.7.6
  pkgs/applications/office/timeular/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#307977 python311Packages.flake8-bugbear: 24.4.21 -> 24.4.26
  pkgs/development/python-modules/flake8-bugbear/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#308174 dmarc-report-converter: 0.7.1 -> 0.7.2
  pkgs/by-name/dm/dmarc-report-converter/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308169 anytype: 0.40.2 -> 0.40.8
  pkgs/by-name/an/anytype/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#308209 temporal: 1.23.0 -> 1.23.1
  pkgs/applications/networking/cluster/temporal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308202 hoppscotch: 24.3.1-2 -> 24.3.2-1
  pkgs/by-name/ho/hoppscotch/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#308198 python312Packages.total-connect-client: 2023.12.1 -> 2024.4
  pkgs/development/python-modules/total-connect-client/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308197 python312Packages.pipdeptree: 2.18.1 -> 2.19.1
  pkgs/development/python-modules/pipdeptree/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308185 python312Packages.pydrawise: 2024.4.0 -> 2024.4.1
  pkgs/development/python-modules/pydrawise/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#308032 treewide: freebsd13 -> freebsd
  lib/systems/doubles.nix
  lib/systems/examples.nix
  lib/systems/parse.nix
  lib/tests/systems.nix
  pkgs/development/compilers/rust/rustc.nix
  pkgs/development/interpreters/ngn-k/default.nix
  pkgs/development/libraries/libunwind/default.nix
Labels: 6.topic: rust, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 6.topic: lib

#308013 python-qt: 3.5.1 -> 3.5.2
  pkgs/development/libraries/python-qt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#307622 gum: 0.13.0 -> 0.14.0
  pkgs/applications/misc/gum/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308171 astyle: 3.4.13 -> 3.4.14
  pkgs/development/tools/misc/astyle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308246 python312Packages.aiortm: 0.8.12 -> 0.8.13
  pkgs/development/python-modules/aiortm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#308274 signal-desktop-beta: 7.6.0-beta.3 -> 7.7.0-beta.1
  pkgs/applications/networking/instant-messengers/signal-desktop/signal-desktop-beta.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#308187 python312Packages.boto3-stubs: 1.34.94 -> 1.34.95
  pkgs/development/python-modules/boto3-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#308184 pip-audit: 2.7.2 -> 2.7.3
  pkgs/development/tools/pip-audit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308007 markdownlint-cli: 0.39.0 -> 0.40.0
  pkgs/tools/text/markdownlint-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#307605 live555: 2024.04.14 -> 2024.04.19
  pkgs/by-name/li/live555/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#307684 python312Packages.langchain-community: 0.0.33 -> 0.0.34, python312Packages.anthropic: 0.19.1 -> 0.25.6, python312Packages.langsmith: 0.1.48 -> 0.1.51, python312Packages.instructor: 0.6.8 -> 1.2.3
  pkgs/by-name/sh/shell-gpt/package.nix
  pkgs/development/python-modules/anthropic/default.nix
  pkgs/development/python-modules/instructor/default.nix
  pkgs/development/python-modules/langchain-community/default.nix
  pkgs/development/python-modules/langchain/default.nix
  pkgs/development/python-modules/langsmith/default.nix
  pkgs/tools/llm/shell_gpt/default.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#307801 gonic: enable on darwin
  pkgs/servers/gonic/default.nix
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, 12.approved-by: package-maintainer

#295055 libbluray: fix build using withJava, make java build deterministic
  pkgs/development/libraries/libbluray/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#308236 gpt4all: 2.7.3 -> 2.7.4
  pkgs/by-name/gp/gpt4all/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#303130 manim: move to python modules and use toPythonApplication
  pkgs/development/python-modules/manim/default.nix
  pkgs/development/python-modules/manim/failing_tests.nix
  pkgs/development/python-modules/manim/pytest-report-header.patch
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12. first-time contribution

#308275 vouch-proxy: 0.39.0 -> 0.40.0
  pkgs/servers/vouch-proxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#307988 sbcl: 2.4.3 -> 2.4.4
  pkgs/development/compilers/sbcl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#308071 python311Packages.mkdocstrings: 0.24.3 -> 0.25.0
  pkgs/development/python-modules/mkdocstrings/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#235871 maestral: enable darwin support
  pkgs/development/python-modules/desktop-notifier/default.nix
  pkgs/development/python-modules/maestral/default.nix
  pkgs/development/python-modules/rubicon-objc/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#308109 python311Packages.pytensor: remove numba-scipy dependency
  pkgs/development/python-modules/pytensor/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#308284 vscode-extensions.RoweWilsonFrederiskHolme.wikitext 3.8.0 -> 3.8.1
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode

#307987 python311Packages.mashumaro: 3.12 -> 3.13
  pkgs/development/python-modules/mashumaro/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 8.has: upstream changes reviewed

#308233 nixos/postgresql: Remove toplevel `with lib;`
  nixos/modules/services/databases/postgresql.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#308279 doc/release-notes: next batch of release note cleanups
  nixos/doc/manual/release-notes/rl-2405.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#308259 igv: 2.17.3 -> 2.17.4
  pkgs/applications/science/biology/igv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#308207 bitwig-studio: 5.1.6 -> 5.1.8
  pkgs/applications/audio/bitwig-studio/bitwig-studio5.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#308182 cargo-nextest: 0.9.68 -> 0.9.70
  pkgs/development/tools/rust/cargo-nextest/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#308199 lnd: 0.17.4-beta -> 0.17.5-beta
  pkgs/applications/blockchains/lnd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#307241 duckdb, python311Packages.duckdb: 0.10.1 -> 0.10.2
  pkgs/development/libraries/duckdb/default.nix
  pkgs/development/libraries/duckdb/versions.json
  pkgs/development/python-modules/duckdb-engine/default.nix
  pkgs/development/python-modules/duckdb-engine/remote_data.patch
  pkgs/development/python-modules/duckdb/default.nix
  pkgs/development/python-modules/sqlglot/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12. first-time contribution

#306960 darwin.system_cmds: fix build without CoreFoundation hook
  pkgs/os-specific/darwin/apple-source-releases/system_cmds/meson.build
Labels: 6.topic: darwin, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+

#306695 icoutils: fix build with newer ld64
  pkgs/tools/graphics/icoutils/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#308140 aws updates
  pkgs/development/libraries/aws-c-auth/default.nix
  pkgs/development/libraries/aws-c-cal/default.nix
  pkgs/development/libraries/aws-c-common/default.nix
  pkgs/development/libraries/aws-c-mqtt/default.nix
  pkgs/development/libraries/aws-c-sdkutils/default.nix
  pkgs/development/libraries/aws-sdk-cpp/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1, 12.approved-by: package-maintainer

#307553 nixos/no-x-libs: disable more GUIs for gst_all_1.gst-plugins-good
  nixos/modules/config/no-x-libs.nix
  pkgs/development/libraries/gstreamer/good/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#308282 remind: 04.03.04 -> 04.03.07
  pkgs/tools/misc/remind/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#308001 meilisearch: use rustPlatform.bindgenHook
  pkgs/servers/search/meilisearch/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308270 languagetool: 6.3 -> 6.4
  pkgs/tools/text/languagetool/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308122 root: 6.30.04 -> 6.30.06
  maintainers/maintainer-list.nix
  pkgs/applications/science/misc/root/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 11.by: upstream-developer, 12. first-time contribution, 8.has: maintainer-list (update)

#308311 vscode-extensions.reditorsupport.r: init 2.8.2
  maintainers/maintainer-list.nix
  pkgs/applications/editors/vscode/extensions/default.nix
  pkgs/applications/editors/vscode/extensions/reditorsupport.r/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 6.topic: vscode, 8.has: maintainer-list (update)

#306461 ibus-engines.hangul: 1.5.4 -> 1.5.5
  pkgs/tools/inputmethods/ibus-engines/ibus-hangul/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#308081 openxcom: 1.0.0.2023.08.12 -> 1.0.0.2024.02.28
  pkgs/games/openxcom/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#307976 freerdp: 2.11.5 -> 2.11.7
  pkgs/applications/networking/remote/freerdp/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, backport release-23.11

#307772 ngrok: 3.7.0 -> 3.9.0
  pkgs/tools/networking/ngrok/versions.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308210 apt: 2.7.14 -> 2.9.2
  pkgs/by-name/ap/apt/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#307472 libcpuid: 0.6.4 -> 0.6.5
  pkgs/by-name/li/libcpuid/package.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#307379 diffoscope: reenable cbfs tests
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#308339 flyctl: 0.2.40 -> 0.2.46
  pkgs/development/web/flyctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#305890 llama-cpp: set build_number/build_commit for version info
  pkgs/by-name/ll/llama-cpp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#308296 gitlab-runner: 16.10.0 -> 16.11.0
  pkgs/development/tools/continuous-integration/gitlab-runner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#308343 typesense: add darwin support
  pkgs/servers/search/typesense/default.nix
  pkgs/servers/search/typesense/sources.json
  pkgs/servers/search/typesense/update.sh
Labels: 6.topic: darwin, 8.has: package (new), 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#307464 openssh: fix linkOpenSSL=false by linking libxcrypt
  nixos/tests/openssh.nix
  nixos/tests/ssh-keys.nix
  pkgs/tools/networking/openssh/common.nix
Labels: 6.topic: nixos, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#307949 conmon: 2.1.10 -> 2.1.11
  pkgs/applications/virtualization/conmon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#307947 conmon-rs: 0.6.2 -> 0.6.3
  pkgs/applications/virtualization/conmon-rs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#307931 bbin: 0.2.1 -> 0.2.3
  pkgs/development/tools/bbin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#307923 sonic-pi: 4.5.0 -> 4.5.1
  pkgs/applications/audio/sonic-pi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#307747 kdePackages.mlt: 7.22.0 -> 7.24.0
  pkgs/development/libraries/mlt/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#307730 last: 1542 -> 1543
  pkgs/applications/science/biology/last/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#307729 haproxy: 2.9.6 -> 2.9.7
  pkgs/tools/networking/haproxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
