Repository NixOS/nixpkgs, pull requests merged in 2024-07, with the labels that each got.

#323640 erigon: 2.60.1 -> 2.60.2
  pkgs/applications/blockchains/erigon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323620 crate2nix: {0.14.0 -> 0.14.1, rewrite expression}
  pkgs/by-name/cr/crate2nix/package.nix
  pkgs/development/tools/rust/crate2nix/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323656 wyoming-piper: fix changelog and homepage
  pkgs/tools/audio/wyoming/piper.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12. first-time contribution

#323631 neocmakelsp: 0.7.6 -> 0.7.7
  pkgs/development/tools/language-servers/neocmakelsp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323106 librewolf-unwrapped: 127.0-1 -> 127.0.2-2
  pkgs/applications/networking/browsers/librewolf/src.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#322286 ast-grep: 0.23.0 -> 0.24.1
  pkgs/by-name/as/ast-grep/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#317006 glrnvim: init at 1.4.0
  pkgs/by-name/gl/glrnvim/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323693 gnomeExtensions: make manually packages extensions overridable
  pkgs/desktops/gnome/extensions/default.nix
Labels: 6.topic: GNOME, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#322322 cloudflare-utils: init at 1.2.1
  maintainers/maintainer-list.nix
  pkgs/by-name/cl/cloudflare-utils/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 8.has: maintainer-list (update)

#323667 treewide: fix typo
  pkgs/development/python-modules/s2clientprotocol/default.nix
  pkgs/games/worldofgoo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 3+

#323658 python3Packages.astropy: apply patch removing the usage of polyfill.io
  pkgs/development/python-modules/astropy/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, backport release-24.05

#323668 rustc: disable `zerocallusedregs` hardening flag on clang stdenv
  pkgs/development/compilers/rust/rustc.nix
Labels: 6.topic: rust, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#323461 xorg.libXpresent: add xorg.libXfixes to propagated build inputs
  pkgs/servers/x11/xorg/overrides.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 12.approvals: 1

#323590 coq-elpi: 2.0.1 -> 2.2.0
  pkgs/development/coq-modules/coq-elpi/default.nix
  pkgs/development/coq-modules/coqeal/default.nix
  pkgs/development/coq-modules/deriving/default.nix
  pkgs/development/coq-modules/extructures/default.nix
  pkgs/development/coq-modules/graph-theory/default.nix
  pkgs/development/coq-modules/hierarchy-builder/default.nix
  pkgs/development/coq-modules/mathcomp-algebra-tactics/default.nix
  pkgs/development/coq-modules/mathcomp-analysis/default.nix
  pkgs/development/coq-modules/mathcomp-finmap/default.nix
  pkgs/development/coq-modules/mathcomp-infotheo/default.nix
  pkgs/development/coq-modules/mathcomp-real-closed/default.nix
  pkgs/development/coq-modules/mathcomp-tarjan/default.nix
  pkgs/development/coq-modules/mathcomp-word/default.nix
  pkgs/development/coq-modules/mathcomp-zify/default.nix
  pkgs/development/coq-modules/mathcomp/default.nix
  pkgs/development/coq-modules/multinomials/default.nix
  pkgs/development/ocaml-modules/elpi/default.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#323671 dino: 0.4.3 -> 0.4.4
  pkgs/applications/networking/instant-messengers/dino/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323719 eza: 0.18.20 -> 0.18.21
  pkgs/by-name/ez/eza/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323465 raycast: 1.77.1 -> 1.77.3
  pkgs/os-specific/darwin/raycast/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1, backport release-24.05

#323663 feh: 3.10.2 -> 3.10.3
  pkgs/applications/graphics/feh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2

#318921 raze: init at 1.10.2
  pkgs/by-name/ra/raze/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 6.topic: games

#321853 base16-schemes: unstable-2024-01-14 -> unstable-2024-06-21
  pkgs/data/themes/base16-schemes/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12. first-time contribution

#320941 basedpyright: 1.12.6 -> 1.13.1
  pkgs/by-name/ba/basedpyright/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323753 openssh: 9.7p1 -> 9.8p1
  pkgs/tools/networking/openssh/default.nix
Labels: 1.severity: security, backport release-23.11, backport release-24.05

#322274 luaPackages: update on 2024-06-24
  maintainers/scripts/luarocks-packages.csv
  pkgs/development/lua-modules/aliases.nix
  pkgs/development/lua-modules/generated-packages.nix
  pkgs/development/lua-modules/overrides.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 6.topic: lua, 12.approvals: 1, 12.approved-by: package-maintainer

#271198 herbstluftwm: fix unable to be started
  nixos/modules/services/x11/window-managers/herbstluftwm.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#322731 wapp: unstable-2023-05-05 -> 0-unstable-2024-05-23
  pkgs/development/libraries/wapp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323761 [24.05] openssh: add backported security fix patches
  pkgs/tools/networking/openssh/default.nix
  pkgs/tools/networking/openssh/openssh-9.6_p1-CVE-2024-6387.patch
  pkgs/tools/networking/openssh/openssh-9.6_p1-chaff-logic.patch
Labels: 1.severity: security, backport release-23.11

#321077 spotify: 1.2.17.834.g26ee1129 -> 1.2.38.720.ga4a70a0e
  pkgs/applications/audio/spotify/darwin.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, 12.approvals: 1, 12. first-time contribution, backport release-24.05

#323740 libretro.beetle-wswan: unstable-2023-11-01 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323739 libretro.fceumm: unstable-2024-06-15 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323738 libretro.genesis-plus-gx: unstable-2024-06-21 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#320771 libretro.mame2003-plus: unstable-2024-06-08 -> unstable-2024-06-30
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323737 libretro.nxengine: unstable-2023-02-21 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323732 libretro.handy: unstable-2024-01-01 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323733 libretro.ppsspp: unstable-2024-06-24 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323731 libretro.gpsp: unstable-2024-02-10 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323725 libretro.beetle-supergrafx: unstable-2024-06-14 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323724 libretro.gw: unstable-2023-05-28 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323723 libretro.beetle-pce-fast: unstable-2024-06-14 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323721 libretro.vba-m: unstable-2023-08-18 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323746 python3Packages.osc: 1.7.0 -> 1.8.0
  pkgs/development/python-modules/osc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#323716 libretro.beetle-psx-hw: unstable-2024-06-14 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323713 libretro.prosystem: unstable-2023-08-17 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323712 libretro.stella: unstable-2024-06-23 -> unstable-2024-06-30
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#301312 blastem: init at 0.6.2-unstable-2024-03-31
  pkgs/by-name/bl/blastem/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323698 libretro.beetle-ngp: unstable-2023-11-01 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323699 libretro.snes9x2005: unstable-2022-07-25 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323706 libretro.beetle-vb: unstable-2023-11-01 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323707 libretro.nestopia: unstable-2024-06-22 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323708 libretro.picodrive: unstable-2024-06-15 -> unstable-2024-06-30
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323709 libretro.eightyone: unstable-2023-11-01 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323710 libretro.beetle-pcfx: unstable-2023-05-28 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323714 libretro.pcsx-rearmed: unstable-2024-06-17 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323741 libretro.sameboy: unstable-2022-08-19 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323748 libretro.vecx: unstable-2024-03-17 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323749 libretro.o2em: unstable-2023-10-19 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323750 libretro.swanstation: unstable-2024-05-30 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323752 libretro.gambatte: unstable-2024-06-21 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323751 libretro.vba-next: unstable-2023-06-03 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323756 libretro.dosbox-pure: unstable-2024-06-03 -> unstable-2024-06-29
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323701 libretro.beetle-lynx: unstable-2023-11-01 -> unstable-2024-06-28
  pkgs/applications/emulators/retroarch/hashes.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#322381 mattermost-desktop: 5.7.0 -> 5.8.1
  pkgs/applications/networking/instant-messengers/mattermost-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323249 ollama: remove dependency on`linuxPackages.nvidia_x11`, use `autoAddDriverRunpath` instead
  nixos/modules/services/misc/ollama.nix
  pkgs/by-name/ol/ollama/package.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#323471 inotify-info: v0.0.2 -> v0.0.3
  pkgs/by-name/in/inotify-info/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#323657 23.11 is unmaintained
  .github/workflows/periodic-merge-24h.yml
  lib/trivial.nix
  nixos/tests/systemd-confinement/default.nix
  pkgs/development/compilers/llvm/12/default.nix
  pkgs/development/compilers/llvm/13/default.nix
  pkgs/development/compilers/llvm/14/default.nix
  pkgs/development/compilers/llvm/15/default.nix
Labels: 6.topic: nixos, 6.topic: policy discussion, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 101-500, 6.topic: lib

#285299 nixos/rtorrent: rpcsock perm should reflect provided options
  nixos/modules/services/torrent/rtorrent.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#323734 envoy: 1.30.3 -> 1.30.4
  pkgs/servers/http/envoy/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#323638 python312Packages.python-opensky: 1.0.0 -> 1.0.1
  pkgs/development/python-modules/python-opensky/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#323616 python311Packages.scipy: attempt to fix Darwin build
  pkgs/development/python-modules/scipy/default.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 501-1000

#323768 openssh_{hpn,gssapi}: add backported security fix patches
  pkgs/tools/networking/openssh/default.nix
  pkgs/tools/networking/openssh/openssh-9.6_p1-CVE-2024-6387.patch
  pkgs/tools/networking/openssh/openssh-9.6_p1-chaff-logic.patch
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-23.11, backport release-24.05

#323772 graalvmCEPackages: remove unnecessary recurseIntoAttrs
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#322836 networkmanager: fix building without systemd
  pkgs/tools/networking/networkmanager/default.nix
  pkgs/tools/networking/networkmanager/without-systemd.patch
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 12.approvals: 1

#323681 python3Packages.jaxlib: fetchAttrs reproducibility
  pkgs/development/python-modules/jaxlib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 12.approvals: 1

#307123 shiori: 1.5.5 -> 1.7.0
  nixos/doc/manual/release-notes/rl-2411.section.md
  nixos/modules/services/web-apps/shiori.nix
  nixos/tests/shiori.nix
  pkgs/servers/web-apps/shiori/default.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#323482 xsct: 2.2 -> 2.3
  pkgs/by-name/xs/xsct/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#319008 mistral-rs: init at 0.1.18
  pkgs/by-name/mi/mistral-rs/Cargo.lock
  pkgs/by-name/mi/mistral-rs/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323322 spotdl: added patch for `syncedlyrics.utils` build failure
  pkgs/tools/audio/spotdl/default.nix
  pkgs/tools/audio/spotdl/is_lrc_valid-failure.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323457 petsc: 3.19.4 -> 3.21.0
  pkgs/by-name/pe/petsc/filter_mpi_warnings.patch
  pkgs/by-name/pe/petsc/package.nix
  pkgs/development/libraries/science/math/petsc/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323715 topgrade: 14.0.1 -> 15.0.0
  pkgs/tools/misc/topgrade/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323735 vimPlugins.Preview-nvim: init at 2024-06-01
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/overrides.nix
  pkgs/applications/editors/vim/plugins/patches/preview-nvim/hardcode-mdt-binary-path.patch
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323789 open-pdf-sign: 0.2.0 -> 0.2.1
  pkgs/tools/misc/open-pdf-sign/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#322497 meson: use _accumFlagsArray
  pkgs/by-name/me/meson/setup-hook.sh
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#323770 [staging-next] Fix Mesa and xvfb on Darwin
  pkgs/development/libraries/mesa/darwin.nix
  pkgs/development/libraries/mesa/darwin.patch
  pkgs/servers/x11/xorg/overrides.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 501+, 10.rebuild-linux: 0, 10.rebuild-darwin: 1001-2500

#323597 stats: 2.10.18 -> 2.10.19
  pkgs/by-name/st/stats/package.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1, 12.approvals: 1, backport release-24.05

#323593 antimatter-dimensions: 0-unstable-2024-05-11 -> 0-unstable-2024-06-28
  pkgs/by-name/an/antimatter-dimensions/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323584 python312Packages.frigidaire: 0.18.19 -> 0.18.21
  pkgs/development/python-modules/frigidaire/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#323583 checkov: 3.2.156 -> 3.2.159
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323581 python312Packages.tencentcloud-sdk-python: 3.0.1177 -> 3.0.1178
  pkgs/development/python-modules/tencentcloud-sdk-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#323560 python312Packages.tesla-fleet-api: 0.6.1 -> 0.6.2
  pkgs/development/python-modules/tesla-fleet-api/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#323559 python312Packages.polyswarm-api: 3.7.0 -> 3.8.0
  pkgs/development/python-modules/polyswarm-api/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#323796 Fix SSH in initrd
  nixos/modules/system/boot/initrd-ssh.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#172739 nvidia-x11: Package nvidia-bug-report.sh
  pkgs/os-specific/linux/nvidia-x11/builder.sh
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#323793 ledger-live-desktop: 2.81.2 -> 2.83.0
  pkgs/applications/blockchains/ledger-live-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323812 maintainers: update mguentner's contact info
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: maintainer-list (update)

#323800 qalculate-{gtk, qt}: 5.1.0 -> 5.2.0
  pkgs/applications/science/math/qalculate-gtk/default.nix
  pkgs/applications/science/math/qalculate-qt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323778 shotwell: 0.32.6 -> 0.32.7
  pkgs/applications/graphics/shotwell/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323579 Cinnamon updates 2024-06-30
  pkgs/desktops/cinnamon/cinnamon-common/default.nix
  pkgs/desktops/cinnamon/mint-l-theme/default.nix
  pkgs/desktops/cinnamon/mint-themes/default.nix
  pkgs/desktops/cinnamon/nemo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: cinnamon

#323773 [staging-next] python312Packages.libfdt: fix build
  pkgs/development/compilers/dtc/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#323283 nss_latest: 3.101 -> 3.101.1
  pkgs/development/libraries/nss/latest.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, backport release-24.05

#323797 seaweedfs: 3.68 -> 3.69
  pkgs/applications/networking/seaweedfs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323647 oh-my-posh: 21.9.1 -> 21.17.2
  pkgs/by-name/oh/oh-my-posh/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323745 hysteria: 2.4.5 -> 2.5.0
  pkgs/tools/networking/hysteria/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323730 kor: 0.5.1 -> 0.5.2
  pkgs/by-name/ko/kor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323697 proto: 0.37.1 -> 0.37.2
  pkgs/by-name/pr/proto/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323695 kubie: 0.23.0 -> 0.23.1
  pkgs/development/tools/kubie/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#323692 dolt: 1.41.0 -> 1.41.1
  pkgs/servers/sql/dolt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323794 cri-o-unwrapped: 1.30.2 -> 1.30.3
  pkgs/applications/virtualization/cri-o/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#323792 cariddi: 1.3.4 -> 1.3.5
  pkgs/tools/security/cariddi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323791 act: 0.2.63 -> 0.2.64
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323790 python311Packages.sacn: 1.9.1 -> 1.10.0
  pkgs/development/python-modules/sacn/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#323758 jumppad: 0.12.0 -> 0.12.1
  pkgs/tools/virtualization/jumppad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323808 cargo-xwin: 0.17.0 -> 0.17.1
  pkgs/by-name/ca/cargo-xwin/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323819 gobgpd: 3.27.0 -> 3.28.0
  pkgs/servers/misc/gobgpd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323820 gobgp: 3.27.0 -> 3.28.0
  pkgs/tools/networking/gobgp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323845 maintainers: remove pennae
  maintainers/maintainer-list.nix
  nixos/modules/services/networking/firefox-syncserver.nix
  nixos/modules/services/networking/mosquitto.nix
  nixos/tests/mosquitto.nix
  pkgs/by-name/sy/syncstorage-rs/package.nix
  pkgs/misc/jackaudio/tools.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, significant, 8.has: maintainer-list (update)

#323110 buildRustCrate: add support for `cargo::rustc-cdylib-link-arg`
  pkgs/build-support/rust/build-rust-crate/configure-crate.nix
  pkgs/build-support/rust/build-rust-crate/default.nix
  pkgs/build-support/rust/build-rust-crate/lib.sh
Labels: 6.topic: rust, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#323842 wl-mirror: 0.16.3 -> 0.16.4
  pkgs/tools/wayland/wl-mirror/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#319671 plasmusic-toolbar: init at 1.2.1
  pkgs/by-name/pl/plasmusic-toolbar/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#323840 vhdl-ls: 0.81.0 -> 0.82.0
  pkgs/development/tools/language-servers/vhdl-ls/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#234603 edac-utils: unstable-2015-01-07 -> unstable-2023-01-30
  pkgs/os-specific/linux/edac-utils/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323662 changedetection-io: 0.45.23 -> 0.45.24
  pkgs/servers/web-apps/changedetection-io/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323374 libkrun: 1.9.2 -> 1.9.3
  pkgs/development/libraries/libkrun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#268575 kotatogram-desktop{,-with-webkit}: 1.4.9 -> 0-unstable-2024-07-01
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/default.nix
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/kf594.patch
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/macos-opengl.patch
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/macos.patch
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/shortcuts-binary-path.patch
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/tg_owt.nix
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/tg_owt.patch
  pkgs/applications/networking/instant-messengers/telegram/kotatogram-desktop/with-webkit.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#323844 stalwart-mail: 0.8.2 -> 0.8.3
  pkgs/by-name/st/stalwart-mail/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#323388 vpl-gpu-rt: 24.2.3 -> 24.2.5
  pkgs/by-name/vp/vpl-gpu-rt/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323664 pass-secret-service: remove myself as maintainer
  pkgs/applications/misc/pass-secret-service/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#323550 minio: 2024-06-22T05-26-45Z -> 2024-06-28T09-06-49Z
  pkgs/servers/minio/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#323860 dockerTools: remove __attrsFailEvaluation
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#323260 poppler: apply patch for CVE-2024-6239
  pkgs/development/libraries/poppler/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000, 12.approvals: 2, 12.approved-by: package-maintainer, backport release-24.05

#323851 steam-tui: 0.1.0 -> 0.3.0
  pkgs/games/steam-tui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#323281 wiremock: 3.7.0 -> 3.8.0
  pkgs/by-name/wi/wiremock/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#323580 cloudflare-warp: bind package location as `/usr` to warp-taskbar
  pkgs/tools/networking/cloudflare-warp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323815 ergochat: 2.13.1 -> 2.14.0
  pkgs/servers/irc/ergochat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#323532 guile: 3.0.9 -> 3.0.10
  pkgs/development/interpreters/guile/3.0.nix
  pkgs/development/interpreters/guile/guile-hurd-posix-spawn.patch
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1

#323781 pretix: 2024.5.0 -> 2024.6.0
  pkgs/by-name/pr/pretalx/package.nix
  pkgs/by-name/pr/pretix/package.nix
  pkgs/development/python-modules/django-compressor/default.nix
  pkgs/development/python-modules/django-hijack/default.nix
  pkgs/development/python-modules/django-hijack/package-lock.json
  pkgs/development/python-modules/flit-gettext/default.nix
  pkgs/development/python-modules/flit-gettext/msgfmt-path.patch
  pkgs/development/python-modules/sentry-sdk/1.nix
  pkgs/development/python-modules/sentry-sdk/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#323610 telescope: Fix homepage URL
  pkgs/by-name/te/telescope/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#323684 astyle: 3.5 -> 3.5.1
  pkgs/development/tools/misc/astyle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323605 iqtree: 2.3.4 -> 2.3.5
  pkgs/applications/science/biology/iqtree/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323035 dafny: 4.6.0 -> 4.7.0
  pkgs/applications/science/logic/dafny/default.nix
  pkgs/applications/science/logic/dafny/deps.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#318970 lightburn: 1.6.00 -> 1.6.03
  pkgs/applications/graphics/lightburn/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#321079 nixos/cloudflared: fix links in doc
  nixos/modules/services/networking/cloudflared.nix
  nixos/modules/services/networking/networkd-dispatcher.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#323669 arc-browser: fix darwin bundle
  pkgs/by-name/ar/arc-browser/package.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.05

#322594 kooha: 2.2.4 -> 2.3.0
  pkgs/by-name/ko/kooha/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323694 iosevka: 30.3.0 -> 30.3.1
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#323545 wastebin: fix build on darwin
  pkgs/by-name/wa/wastebin/package.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323660 proton-ge-bin: GE-Proton9-7 -> GE-Proton9-9
  pkgs/by-name/pr/proton-ge-bin/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323853 bruno: 1.19.0 -> 1.20.0
  pkgs/by-name/br/bruno/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#323588 bitwarden-cli: fix darwin
  pkgs/by-name/bi/bitwarden-cli/package.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323492 mob: 4.5.0 -> 5.0.0
  pkgs/applications/misc/mob/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#323164 open-vm-tools: 12.4.0 -> 12.4.5
  pkgs/applications/virtualization/open-vm-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#323269 xivlauncher: 1.0.9 -> 1.1.0
  pkgs/by-name/xi/xivlauncher/deps.nix
  pkgs/by-name/xi/xivlauncher/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.05
