Repository NixOS/nixpkgs, pull requests merged in 2024-06, with the labels that each got.

#316250 python311Packages.anywidget: 0.9.11 -> 0.9.12
  pkgs/development/python-modules/anywidget/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#312953 python3Packages.llmx: init at 0.0.21a0
  pkgs/development/python-modules/llmx/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#314645 python3Packages.bilibili-api-python: init
  pkgs/development/python-modules/bilibili-api-python/default.nix
  pkgs/development/python-modules/qrcode-terminal/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#314865 jupyter updates 2024-05-26
  pkgs/development/python-modules/jupyter-client/default.nix
  pkgs/development/python-modules/jupyterhub/default.nix
  pkgs/development/python-modules/jupyterlab-server/default.nix
  pkgs/development/python-modules/jupyterlab/default.nix
  pkgs/development/python-modules/nbclassic/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1, 12.approved-by: package-maintainer, 6.topic: jupyter

#316226 chromedriver: 125.0.6422.78 -> 125.0.6422.141, chromium: 125.0.6422.112 -> 125.0.6422.141
  pkgs/applications/networking/browsers/chromium/upstream-info.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-23.11, backport release-24.05

#315383 auto-cpufreq: 1.9.9 -> 2.3.0
  pkgs/by-name/au/auto-cpufreq/fix-version-output.patch
  pkgs/by-name/au/auto-cpufreq/package.nix
  pkgs/by-name/au/auto-cpufreq/prevent-install-and-copy.patch
  pkgs/by-name/au/auto-cpufreq/prevent-update.patch
  pkgs/tools/system/auto-cpufreq/default.nix
  pkgs/tools/system/auto-cpufreq/prevent-update.patch
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#316245 pyright: 1.1.364 -> 1.1.365
  pkgs/by-name/py/pyright/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#315919 knightos-scas: fix build on darwin
  pkgs/development/tools/knightos/scas/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#316253 llvmPackages_18.compiler-rt: adjust FreeBSD assert patch for LLVM 18
  pkgs/development/compilers/llvm/common/compiler-rt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: bsd

#316173 hurl: add shell completions
  pkgs/by-name/hu/hurl/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316235 thunderbird-unwrapped: 115.11.0 -> 115.11.1
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#316265 terraform-plugin-docs: 0.19.2 -> 0.19.3
  pkgs/by-name/te/terraform-plugin-docs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316261 zed-editor: 0.137.5 -> 0.137.6
  pkgs/by-name/ze/zed-editor/Cargo.lock
  pkgs/by-name/ze/zed-editor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316263 ruff: 0.4.6 -> 0.4.7
  pkgs/development/tools/ruff/Cargo.lock
  pkgs/development/tools/ruff/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#316207 doc/release-notes: Add section on `lib`
  nixos/doc/manual/release-notes/rl-2405.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-24.05

#299909 buildRubyGem: Include platform in suffix for non-Ruby platforms
  pkgs/development/ruby-modules/gem/default.nix
Labels: 6.topic: ruby, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#303748 inkscape: fix path patch
  pkgs/applications/graphics/inkscape/default.nix
  pkgs/applications/graphics/inkscape/fix-ps2pdf-path.patch
  pkgs/applications/graphics/inkscape/test-ps2pdf-plugin.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-24.05

#299668 gegl: disable lua on platforms where luajit is unavailable
  pkgs/development/libraries/gegl/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#316096 gnome.gnome-color-manager: fix cross compilation
  pkgs/desktops/gnome/core/gnome-color-manager/default.nix
Labels: 6.topic: GNOME, 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#316297 devbox: 0.10.7 -> 0.11.0
  pkgs/development/tools/devbox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316180 prometheus-redis-exporter: 1.59.0 -> 1.60.0
  pkgs/servers/monitoring/prometheus/redis-exporter.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316306 nezha-agent: 0.16.9 -> 0.16.10
  pkgs/by-name/ne/nezha-agent/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#316270 doc/release-notes: update info on gnome 46
  nixos/doc/manual/release-notes/rl-2405.section.md
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-24.05

#316247 nomad: fix versioning for 1.8
  pkgs/applications/networking/cluster/nomad/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#315643 vscode-extensions: deprecate aliases
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: vscode

#260649 briar-desktop: 0.5.0-beta -> 0.6.0-beta
  pkgs/applications/networking/instant-messengers/briar-desktop/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12. first-time contribution

#315379 proxmark3: 4.18341 -> 4.18589
  pkgs/tools/security/proxmark3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#315683 microsoft-edge: 125.0.2535.51 -> 125.0.2535.67
  pkgs/applications/networking/browsers/microsoft-edge/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-23.11, backport release-24.05

#314179 deno: 1.43.5 -> 1.43.6
  pkgs/development/web/deno/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12.approved-by: package-maintainer, backport release-24.05

#309844 esbuild: 0.20.2 -> 0.21.4
  pkgs/development/tools/esbuild/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#315818 podman: 5.0.3 -> 5.1.0
  pkgs/applications/virtualization/podman/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#316298 [23.11] startgazer: 1.1.0 -> 1.1.1
  pkgs/servers/gemini/stargazer/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316233 flexget: 3.11.34 -> 3.11.35
  pkgs/applications/networking/flexget/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#315914 pantheon.elementary-mail: 7.2.0 -> 8.0.0
  pkgs/desktops/pantheon/apps/elementary-mail/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon, 10.rebuild-linux: 1

#316336 netease-cloud-music-gtk: 2.3.1 -> 2.4.0
  pkgs/by-name/ne/netease-cloud-music-gtk/Cargo.lock
  pkgs/by-name/ne/netease-cloud-music-gtk/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#316291 k3s: 1.30.0+k3s1 -> 1.30.1+k3s1
  pkgs/applications/networking/cluster/k3s/1_30/versions.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: k3s

#315957 k3s_1_29: 1.29.4+k3s1 -> 1.29.5+k3s1
  pkgs/applications/networking/cluster/k3s/1_29/versions.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 6.topic: k3s

#315873 tmuxPlugins.session-wizard: 1.2.0 -> 1.3.1
  pkgs/misc/tmux-plugins/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#316371 joypixels: fix sourceProvenance
  pkgs/data/fonts/joypixels/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#303790 virtualbox & virtualboxGuestAdditions: cleanup
  nixos/modules/virtualisation/virtualbox-guest.nix
  pkgs/applications/virtualization/virtualbox/default.nix
  pkgs/applications/virtualization/virtualbox/guest-additions/builder.nix
  pkgs/applications/virtualization/virtualbox/guest-additions/default.nix
  pkgs/applications/virtualization/virtualbox/update.sh
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#316339 tenv: 1.11.5 -> 1.11.6
  pkgs/by-name/te/tenv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316397 pyprland: 2.3.4 -> 2.3.5
  pkgs/by-name/py/pyprland/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#316197 chezmoi: 2.48.1 -> 2.48.2
  pkgs/by-name/ch/chezmoi/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316332 emacs: clean some manualPackages
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/color-theme-solarized/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/copilot/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/evil-markdown/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/font-lock-plus/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/git-undo/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/helm-words/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/isearch-plus/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/isearch-prop/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/lspce/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/rect-mark/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/sunrise-commander/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/voicemacs/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/yes-no/default.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/youtube-dl/default.nix
Labels: 6.topic: emacs, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#316295 broot: 1.38.0 -> 1.39.0
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316066 jql: 7.1.9 -> 7.1.10
  pkgs/development/tools/jql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316062 python311Packages.bnunicodenormalizer: 0.1.6 -> 0.1.7
  pkgs/development/python-modules/bnunicodenormalizer/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316057 srm-cuarzo: 0.5.6-1 -> 0.5.6-2
  pkgs/by-name/sr/srm-cuarzo/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#316054 bun: 1.1.9 -> 1.1.10
  pkgs/development/web/bun/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316047 brev-cli: 0.6.284 -> 0.6.287
  pkgs/development/misc/brev-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316145 python312Packages.taskw: disable
  pkgs/development/python-modules/taskw/default.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-24.05

#316143 python312Packages.astropy-helpers: disable
  pkgs/development/python-modules/astropy-helpers/default.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-24.05

#316181 nexttrace: 1.3.0 -> 1.3.1
  pkgs/tools/networking/nexttrace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316179 tart: 2.11.0 -> 2.11.1
  pkgs/applications/virtualization/tart/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: package-maintainer

#316175 dnsproxy: 0.71.1 -> 0.71.2
  pkgs/tools/networking/dnsproxy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316166 aegisub: fix build on darwin
  pkgs/by-name/ae/aegisub/package.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316234 libretro-core-info: 1.18.0 -> 1.19.0
  pkgs/applications/emulators/retroarch/libretro-core-info.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316217 python311Packages.youless-api: 1.1.1 -> 2.0.0
  pkgs/development/python-modules/youless-api/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316212 iosevka: 30.1.0 -> 30.1.1
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316201 kyverno: 1.12.2 -> 1.12.3
  pkgs/applications/networking/cluster/kyverno/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316199 bosh-cli: 7.5.7 -> 7.6.0
  pkgs/applications/networking/cluster/bosh-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316259 klipper: 0.12.0-unstable-2024-05-25 -> 0.12.0-unstable-2024-05-27
  pkgs/servers/klipper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#316254 python311Packages.imbalanced-learn: 0.12.2 -> 0.12.3
  pkgs/development/python-modules/imbalanced-learn/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316246 db-rest: 6.0.4 -> 6.0.5
  pkgs/servers/db-rest/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-24.05

#316305 flannel: 0.25.2 -> 0.25.3
  pkgs/tools/networking/flannel/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#316303 ldeep: 1.0.53 -> 1.0.54
  pkgs/tools/security/ldeep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316302 python311Packages.mkdocs-git-revision-date-localized-plugin: 1.2.5 -> 1.2.6
  pkgs/development/python-modules/mkdocs-git-revision-date-localized-plugin/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316296 cargo-about: 0.6.1 -> 0.6.2
  pkgs/development/tools/rust/cargo-about/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#316294 carapace: 1.0.2 -> 1.0.3
  pkgs/shells/carapace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316289 python311Packages.caio: 0.9.13 -> 0.9.17
  pkgs/development/python-modules/caio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316288 python311Packages.xdoctest: 1.1.3 -> 1.1.4
  pkgs/development/python-modules/xdoctest/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#316283 earthly: 0.8.12 -> 0.8.13
  pkgs/development/tools/earthly/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316341 _64gram: 1.1.23 -> 1.1.24
  pkgs/by-name/_6/_64gram/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316340 nwg-hello: 0.1.10 -> 0.2.0
  pkgs/by-name/nw/nwg-hello/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#316335 python311Packages.pyhocon: 0.3.60 -> 0.3.61
  pkgs/development/python-modules/pyhocon/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316333 python311Packages.pytransportnswv2: 0.3.4 -> 0.4.0
  pkgs/development/python-modules/pytransportnswv2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316319 semantic-release: 23.1.1 -> 24.0.0
  pkgs/development/tools/semantic-release/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316314 json-fortran: 8.5.0 -> 8.5.2
  pkgs/development/libraries/json-fortran/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#316373 rPackages.imbibe: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316372 rPackages.rshift: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316366 rPackages.frailtyMMpen: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316363 clipcat: 0.17.0 -> 0.18.0
  pkgs/by-name/cl/clipcat/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316360 rPackages.crc32c: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316359 rPackages.RNiftyReg: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316352 python311Packages.django-import-export: 4.0.5 -> 4.0.7
  pkgs/development/python-modules/django-import-export/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316398 python311Packages.syncedlyrics: 0.10.0 -> 0.10.1
  pkgs/development/python-modules/syncedlyrics/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316392 rPackages.gpuMagic: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316395 rPackages.neojags: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316391 rPackages.libstable4u: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316390 rPackages.fingerPro: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316389 rPackages.tkImgR: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316387 rPackages.symbolicQspray: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316386 rPackages.optbdmaeAT: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#316414 emacsPackages.lsp-bridge: fix build on darwin
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/lsp-bridge/default.nix
Labels: 6.topic: darwin, 6.topic: emacs, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#316423 kubecm: 0.29.0 -> 0.29.1
  pkgs/applications/networking/cluster/kubecm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316411 act: 0.2.62 -> 0.2.63
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#315870 dleyna-core: fix build on darwin
  pkgs/development/libraries/dleyna-core/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#276488 trunk-ng: 0.17.11 -> 0.17.16
  pkgs/by-name/tr/trunk-ng/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316198 gate: 0.36.7 -> 0.37.0
  pkgs/by-name/ga/gate/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#316292 python311Packages.sphinxawesome-theme: 5.1.4 -> 5.2.0
  pkgs/development/python-modules/sphinxawesome-theme/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#315601 cnquery: 11.5.0 -> 11.6.0
  pkgs/tools/security/cnquery/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#309637 python311Packages.testfixtures: 8.1.0 -> 8.2.0
  pkgs/development/python-modules/testfixtures/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#315515 linuxPackages_latest.prl-tools: 19.3.1-54941 -> 19.4.0-54962
  pkgs/os-specific/linux/prl-tools/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#316118 redlib: 0.31.0 -> 0.34.0
  pkgs/by-name/re/redlib/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316450 wireplumber: 0.5.2 -> 0.5.3
  pkgs/development/libraries/pipewire/wireplumber.nix
Labels: backport release-24.05

#316039 git-town: 14.2.0 -> 14.2.1
  pkgs/applications/version-management/git-town/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#315814 osv-scanner: 1.7.3 -> 1.7.4
  pkgs/tools/security/osv-scanner/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#315774 tangram: 3.0 -> 3.1
  pkgs/applications/networking/instant-messengers/tangram/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#315523 vcpkg: 2024.04.26 -> 2024.05.24
  pkgs/by-name/vc/vcpkg/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#316257 rustc: Add support for FreeBSD
  pkgs/development/compilers/rust/1_78.nix
  pkgs/development/compilers/rust/binary.nix
  pkgs/development/compilers/rust/print-hashes.sh
  pkgs/development/compilers/rust/rustc.nix
Labels: 6.topic: rust, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: bsd

#316249 freebsdPackages.libcxx: switch back to libcxxrt on FreeBSD
  pkgs/development/compilers/llvm/common/libcxx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: bsd, 6.topic: llvm/clang

#316176 gnuplot: 6.0.0 -> 6.0.1
  pkgs/tools/graphics/gnuplot/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#316442 neocmakelsp: 0.6.26 -> 0.6.27
  pkgs/development/tools/language-servers/neocmakelsp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#316444 pdfhummus: 4.6.3 -> 4.6.4
  pkgs/development/libraries/pdfhummus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#315961 plymouth-proxzima-theme: init at 0-unstable-2023-01-30
  pkgs/by-name/pl/plymouth-proxzima-theme/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#316273 pdfstudio2023: unbreak
  pkgs/applications/misc/pdfstudio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#316210 ad-miner: 1.2.0 -> 1.3.0
  pkgs/by-name/ad/ad-miner/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316014 checkov: 3.2.106 -> 3.2.112
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#315994 ggshield: 1.27.0 -> 1.28.0
  pkgs/tools/security/ggshield/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#315976 bearer: 1.43.6 -> 1.43.7
  pkgs/development/tools/bearer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#315960 plymouth-vortex-ubuntu-theme: init at 0-unstable-2024-05-05
  pkgs/by-name/pl/plymouth-vortex-ubuntu-theme/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#312959 luaPackages.luv: 1.44.2-1 -> 1.48.0-2
  maintainers/scripts/luarocks-packages.csv
  pkgs/development/lua-modules/generated-packages.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500, 6.topic: lua, 12.approvals: 1, 12.approved-by: package-maintainer

#316432 maintainers: add teutat3s to matrix team + several packages
  maintainers/team-list.nix
  pkgs/applications/networking/instant-messengers/signal-desktop/generic.nix
  pkgs/applications/networking/instant-messengers/slack/default.nix
  pkgs/applications/virtualization/docker/default.nix
  pkgs/development/tools/electron/common.nix
  pkgs/development/tools/metal-cli/default.nix
  pkgs/development/web/flyctl/default.nix
  pkgs/servers/monitoring/sensu-go/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-24.05

#316325 python311Packages.llama-index: 0.10.40 -> 0.10.42
  pkgs/development/python-modules/llama-index-core/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#315895 dovecot_fts_xapian: 1.7.12 -> 1.7.13
  pkgs/servers/mail/dovecot/plugins/fts_xapian/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#316433 panoply: 5.4.0 -> 5.4.1
  pkgs/tools/misc/panoply/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-24.05

#316345 gitnuro: add aarch64-linux support
  pkgs/applications/version-management/gitnuro/default.nix
Labels: 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12. first-time contribution

#315549 vcmi: 1.4.5 -> 1.5.1
  pkgs/games/vcmi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#313525 llama-cpp: Add rpc and remove mpi support
  pkgs/by-name/ll/llama-cpp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer, 12. first-time contribution

#313485 nixos/stage-1-init: notify during copytoram
  nixos/modules/system/boot/stage-1-init.sh
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#316406 intiface-central: 2.5.6 -> 2.6.0
  pkgs/by-name/in/intiface-central/package.nix
  pkgs/by-name/in/intiface-central/pubspec.lock.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#316315 python311Packages.ocrmypdf: 16.2.0 -> 16.3.1
  pkgs/development/python-modules/ocrmypdf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#316150 nixops_unstablePlugins.nixops-{gce,hetzner,hetznercloud,libvirtd}: mark as broken
  pkgs/applications/networking/cluster/nixops/plugins/nixops-gce.nix
  pkgs/applications/networking/cluster/nixops/plugins/nixops-hetzner.nix
  pkgs/applications/networking/cluster/nixops/plugins/nixops-hetznercloud.nix
  pkgs/applications/networking/cluster/nixops/plugins/nixops-libvirtd.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-24.05

#316115 python311Packages.cirq-rigetti: mark as broken
  pkgs/development/python-modules/cirq-rigetti/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-24.05

#316171 openmodelica.omcompiler: fix build
  pkgs/applications/science/misc/openmodelica/omcompiler/default.nix
  pkgs/applications/science/misc/openmodelica/omsimulator/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-24.05

#301077 magic-vlsi: 8.3.465 -> 8.3.483
  pkgs/applications/science/electronics/magic-vlsi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#306801 matrix-conduit: 0.6.0 -> 0.7.0
  pkgs/servers/matrix-conduit/Cargo.lock
  pkgs/servers/matrix-conduit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#316479 k3s_1_27: 1.27.13+k3s1 -> 1.27.14+k3s1
  pkgs/applications/networking/cluster/k3s/1_27/versions.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: k3s, backport release-24.05

#314677 python311Packages.pyvo: 1.5.1 -> 1.5.2
  pkgs/development/python-modules/pyvo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#313394 e1s: 1.0.34 -> 1.0.36
  pkgs/by-name/e1/e1s/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#313231 space-station-14-launcher: 0.26.0 -> 0.27.2
  pkgs/games/space-station-14-launcher/space-station-14-launcher.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#312894 lxgw-neoxihei: 1.121 -> 1.123
  pkgs/by-name/lx/lxgw-neoxihei/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#313928 openjdk21, openjfx21: update
  pkgs/development/compilers/openjdk/21.nix
  pkgs/development/compilers/openjdk/openjfx/21.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501-1000, 12.approvals: 1, backport staging-24.05

#312691 azure-static-sites-client: 1.0.026361 -> 1.0.026911
  pkgs/development/tools/azure-static-sites-client/versions.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#310160 qdrant: 1.9.0 -> 1.9.4
  pkgs/servers/search/qdrant/Cargo.lock
  pkgs/servers/search/qdrant/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#310247 awscli2: 2.15.43 -> 2.15.62
  pkgs/tools/admin/awscli2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#293022 nixos/sane: fix disabling backends which are subwords of other backends
  pkgs/applications/graphics/sane/config.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#310841 osinfo-db: 20231215 -> 20240510
  pkgs/data/misc/osinfo-db/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#307194 ocamlPackages.minisat: 0.5 -> 0.6
  pkgs/development/ocaml-modules/minisat/default.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#316448 croc: 10.0.5 -> 10.0.7
  pkgs/tools/networking/croc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
