Repository NixOS/nixpkgs, pull requests merged in 2024-01, with the labels that each got.

#276587 vcpkg: 2023.10.19 -> 2023.12.12
  pkgs/by-name/vc/vcpkg/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#277362 polylith: 0.2.15-alpha -> 0.2.18
  pkgs/development/tools/misc/polylith/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#277948 eask: 0.9.1 -> 0.9.2
  pkgs/development/tools/eask/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#276509 twitch-tui: 2.6.0 -> 2.6.2
  pkgs/applications/networking/instant-messengers/twitch-tui/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#277716 netpbm: 11.4.5 -> 11.5.1
  pkgs/tools/graphics/netpbm/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#277854 python311Packages.scikit-survival: 0.22.1 -> 0.22.2
  pkgs/development/python-modules/scikit-survival/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 8.has: upstream changes reviewed

#277681 python311Packages.lightgbm: 4.1.0 -> 4.2.0; fix build on linux
  pkgs/development/python-modules/lightgbm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#277311 python311Packages.jupyter related packages updates
  pkgs/development/python-modules/jupyter-server-terminals/default.nix
  pkgs/development/python-modules/nbconvert/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, 6.topic: jupyter

#277988 codux: 15.16.2 -> 15.17.2
  pkgs/applications/editors/codux/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#277835 zxing-cpp: 2.1.0 -> 2.2.1
  pkgs/development/libraries/zxing-cpp/default.nix
Labels: 12.approvals: 1

#277960 python311Packages.vacuum-map-parser-roborock: init at 0.1.1
  pkgs/development/python-modules/vacuum-map-parser-base/default.nix
  pkgs/development/python-modules/vacuum-map-parser-roborock/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#277993 maintainers: add shard7
  maintainers/maintainer-list.nix
Labels: 12. first-time contribution

#277910 python3Packages.pypdf: 3.16.0 -> 3.17.4
  pkgs/development/python-modules/pypdf/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#277986 broot: 1.30.2 -> 1.31.0
  pkgs/tools/misc/broot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277977 liferea: enable parallel builds
  pkgs/applications/networking/newsreaders/liferea/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#277976 fend: 1.3.3 -> 1.4.0
  pkgs/tools/misc/fend/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#277883 python311Packages.sensorpush-ble: 1.5.5 -> 1.6.1, python311Packages.habluetooth: 2.0.0 -> 2.0.1
  pkgs/development/python-modules/habluetooth/default.nix
  pkgs/development/python-modules/sensorpush-ble/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#278015 python311Packages.pyschlage: 2023.12.0 -> 2023.12.1
  pkgs/development/python-modules/pyschlage/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#277896 libgedit-amtk: 5.6.1 → 5.8.0, renamed from amtk
  pkgs/applications/editors/gedit/default.nix
  pkgs/applications/editors/gnome-latex/default.nix
  pkgs/by-name/li/libgedit-amtk/package.nix
  pkgs/by-name/li/libgedit-gtksourceview/nix-share-path.patch
  pkgs/by-name/li/libgedit-gtksourceview/package.nix
  pkgs/development/libraries/tepl/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#278009 ibus-engines.typing-booster-unwrapped: 2.24.5 -> 2.24.10
  pkgs/tools/inputmethods/ibus-engines/ibus-typing-booster/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#278011 miniaudicle: 1.5.0.7 -> 1.5.2.0
  pkgs/applications/audio/miniaudicle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.11

#278036 [staging-next] qt5: 5.15.{11,15} -> 5.15.{12,16}
  pkgs/development/libraries/qt-5/5.15/srcs-generated.json
  pkgs/development/libraries/qt-5/5.15/srcs.nix
Labels: 6.topic: qt/kde, backport staging-23.11

#261139 bruno: package from source
  pkgs/by-name/br/bruno/package.nix
  pkgs/by-name/np/npm-lockfile-fix/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#278046 libayatana-common: 0.9.9 -> 0.9.10
  pkgs/development/libraries/libayatana-common/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#262928 [staging] gnupg: revert defaults to openpgp in 2.4 branch
  pkgs/tools/security/gnupg/24-revert-rfc4880bis-defaults.patch
  pkgs/tools/security/gnupg/24.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 10.rebuild-linux: 5001+

#278025 fzf: 0.44.1 -> 0.45.0
  pkgs/tools/misc/fzf/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#276949 [staging-23.11] python311Packages.django_4: 4.2.7 -> 4.2.8
  pkgs/development/python-modules/django/4.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#273955 haskellPackages.PortMidi: fix ALSA plugins load path
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/haskell-modules/patches/portmidi-alsa-plugins.patch
Labels: 6.topic: haskell, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#278052 dq: 20230101 -> 20240101
  pkgs/tools/networking/dq/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#275606 haskell: fixes for the benefit of the haskell-updates jobset
  pkgs/development/haskell-modules/configuration-ghc-8.10.x.nix
  pkgs/development/haskell-modules/configuration-ghc-8.6.x.nix
  pkgs/development/haskell-modules/configuration-ghc-9.0.x.nix
  pkgs/development/haskell-modules/configuration-ghc-9.10.x.nix
  pkgs/development/haskell-modules/configuration-ghc-9.2.x.nix
  pkgs/development/haskell-modules/configuration-ghc-9.4.x.nix
  pkgs/development/haskell-modules/configuration-ghc-9.6.x.nix
  pkgs/development/haskell-modules/configuration-ghc-9.8.x.nix
  pkgs/top-level/release-haskell.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#275609 pkgsStatic.haskell.packages.ghc98: disable failing haddockPhase
  pkgs/development/compilers/ghc/common-hadrian.nix
  pkgs/top-level/release-haskell.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#275616 haskell.compiler: also build manual for cross-compilers
  pkgs/development/compilers/ghc/8.10.7.nix
  pkgs/development/compilers/ghc/9.0.2.nix
  pkgs/development/compilers/ghc/9.2.4.nix
  pkgs/development/compilers/ghc/9.2.5.nix
  pkgs/development/compilers/ghc/9.2.6.nix
  pkgs/development/compilers/ghc/9.2.7.nix
  pkgs/development/compilers/ghc/9.2.8.nix
  pkgs/development/compilers/ghc/9.4.2.nix
  pkgs/development/compilers/ghc/9.4.3.nix
  pkgs/development/compilers/ghc/9.4.4.nix
  pkgs/development/compilers/ghc/9.4.5.nix
  pkgs/development/compilers/ghc/9.4.6.nix
  pkgs/development/compilers/ghc/9.4.7.nix
  pkgs/development/compilers/ghc/9.4.8.nix
  pkgs/development/compilers/ghc/common-hadrian.nix
Labels: 6.topic: haskell, 6.topic: cross-compilation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#277638 lbzip2: apply implicit function definition patch; fix darwin
  pkgs/tools/compression/lbzip2/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, backport release-23.11

#276813 libsoup: Remove passthru.propagatedUserEnvPackages
  pkgs/applications/networking/p2p/transmission-remote-gtk/default.nix
  pkgs/development/libraries/libsoup/3.x.nix
  pkgs/development/libraries/libsoup/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#275617 haskell.compiler: drop all ghcs without an stackage LTS snapshot
  pkgs/development/compilers/ghc/9.2.4.nix
  pkgs/development/compilers/ghc/9.4.2.nix
  pkgs/development/compilers/ghc/9.4.3.nix
  pkgs/development/compilers/ghc/9.4.4.nix
  pkgs/development/compilers/ghc/9.6.2.nix
  pkgs/top-level/haskell-packages.nix
Labels: 6.topic: haskell

#278054 fzf-make: 0.12.0 -> 0.13.0
  pkgs/development/tools/misc/fzf-make/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278024 act: 0.2.56 -> 0.2.57
  pkgs/development/tools/misc/act/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#263279 openresty: 1.21.4.1 -> 1.21.4.3
  pkgs/servers/http/openresty/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.11

#278060 redis-plus-plus: 1.3.10 -> 1.3.11
  pkgs/development/libraries/redis-plus-plus/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278055 gimoji: 0.7.1 -> 0.7.2
  pkgs/applications/misc/gimoji/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278047 cargo-tally: 1.0.32 -> 1.0.33
  pkgs/development/tools/rust/cargo-tally/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#277760 [23.11] squid: add patches for several CVEs
  pkgs/servers/squid/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#278033 keybase: 6.2.3 -> 6.2.4
  pkgs/tools/security/keybase/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#278022 wmfocus: 1.4.0 -> 1.5.0
  pkgs/applications/window-managers/i3/wmfocus.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#278018 python311Packages.sanic-routing: 23.6.0 -> 23.12.0
  pkgs/development/python-modules/sanic-routing/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#278014 python311Packages.mdformat-mkdocs: 1.1.0 -> 1.1.2
  pkgs/development/python-modules/mdformat-mkdocs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#278013 python311Packages.gspread: 5.12.3 -> 5.12.4
  pkgs/development/python-modules/gspread/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#277992 git-mit: 5.12.181 -> 5.12.182
  pkgs/applications/version-management/git-mit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277991 gickup: 0.10.24 -> 0.10.25
  pkgs/by-name/gi/gickup/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277965 [release 23.11]: cargo-llvm-cov: 0.5.37 -> 0.6.0
  pkgs/development/tools/rust/cargo-llvm-cov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277964 [release-23.11]: fava: 1.26.2 -> 1.26.4
  pkgs/applications/office/fava/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#277962 python311Packages.unidata-blocks: 0.0.8 -> 0.0.9
  pkgs/development/python-modules/unidata-blocks/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#277961 aliyun-cli: 3.0.190 -> 3.0.191
  pkgs/tools/admin/aliyun-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277953 prismlauncher: fix meta using lib.version instead of finalAttrs.version
  pkgs/games/prismlauncher/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#276916 ghidra: 10.4 -> 11.0
  pkgs/tools/security/ghidra/build.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#278021 spicetify-cli: 2.28.1 -> 2.29.1
  pkgs/by-name/sp/spicetify-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#277973 ruff: use `ruff-lsp`, not the `python3.pkgs.ruff-lsp` alias
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#277904 freshrss: 1.23.0 -> 1.23.1
  pkgs/servers/web-apps/freshrss/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#277848 pwninit: 3.3.0 -> 3.3.1
  pkgs/development/tools/misc/pwninit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#277841 c2fmzq: 0.4.16 -> 0.4.17
  pkgs/by-name/c2/c2fmzq/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#277741 pypy2Packages.attrs: fix `tests` eval
  pkgs/development/python2-modules/attrs/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#277709 llama-cpp: fix cuda support
  pkgs/by-name/ll/llama-cpp/package.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 12.approvals: 1

#277610 quartus-prime-lite: 20.1.1.720 -> 22.1std.2.922
  pkgs/applications/editors/quartus-prime/default.nix
  pkgs/applications/editors/quartus-prime/quartus.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#277525 rtx: add simple version test
  pkgs/tools/misc/rtx/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#278008 dump1090: 8.2 -> 9.0
  pkgs/applications/radio/dump1090/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#276072 rustPlatform.importCargoLock: fix workspace_root detection
  pkgs/build-support/rust/import-cargo-lock.nix
Labels: 6.topic: rust, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 2

#277990 go: set meta.mainProgram to go
  pkgs/development/compilers/go/1.19.nix
  pkgs/development/compilers/go/1.20.nix
  pkgs/development/compilers/go/1.21.nix
Labels: 6.topic: golang, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#277792 vdr: updates 2023/12
  nixos/modules/services/hardware/vdr.nix
  pkgs/applications/video/vdr/default.nix
  pkgs/applications/video/vdr/markad/default.nix
  pkgs/applications/video/vdr/softhddevice/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#278038 gtksourceview4: Backport Nix syntax highlighting support
  pkgs/development/libraries/gtksourceview/4.x.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#278058 mlib: 0.7.0 -> 0.7.2
  pkgs/development/libraries/mlib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277936 nginx: enable ktls support by default
  nixos/modules/services/web-servers/nginx/default.nix
  pkgs/servers/http/nginx/generic.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#278069 haskell.packages.ghc810: drop unevaluatable packages
  pkgs/development/haskell-modules/configuration-ghc-8.10.x.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#278074 haskell.packages.ghc865Binary: drop unevaluatable packages
  pkgs/development/haskell-modules/configuration-ghc-8.6.x.nix
Labels: 6.topic: haskell, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#278080 trompeloeil: 46 -> 47
  pkgs/development/libraries/trompeloeil/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277490 monetdb: 11.47.17 -> 11.49.1
  pkgs/servers/sql/monetdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277970 erlang_24: 24.3.4.14 -> 24.3.4.15
  pkgs/development/interpreters/erlang/24.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#277972 erlang_26: 26.2 -> 26.2.1
  pkgs/development/interpreters/erlang/26.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277974 erlang_25: 25.3.2.7 -> 25.3.2.8
  pkgs/development/interpreters/erlang/25.nix
Labels: 6.topic: erlang, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#271865 slurm: 23.02.6.1 -> 23.11.0.1
  pkgs/servers/computing/slurm-spank-stunnel/default.nix
  pkgs/servers/computing/slurm-spank-stunnel/hostlist.patch
  pkgs/servers/computing/slurm-spank-x11/default.nix
  pkgs/servers/computing/slurm-spank-x11/hostlist.patch
  pkgs/servers/computing/slurm/common-env-echo.patch
  pkgs/servers/computing/slurm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#278090 nixos/auditd: fix typo
  nixos/modules/security/auditd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#277428 python311Packages.python-memcached: 1.59 -> 1.60
  pkgs/development/python-modules/pymemcache/default.nix
  pkgs/development/python-modules/python-memcached/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500

#278089 ffmpeg_6: make patch unconditional
  pkgs/development/libraries/ffmpeg/generic.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 5001+, 12.approvals: 1, 12.approved-by: package-maintainer

#273095 python311Packages.plugwise: 0.35.4 -> 0.36.2
  pkgs/development/python-modules/plugwise/default.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1

#277923 python311Packages.botocore-stubs: 1.34.8 -> 1.34.11
  pkgs/development/python-modules/botocore-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#278006 arping: 2.23 -> 2.24
  pkgs/tools/networking/arping/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#277867 ccache: 4.8.3 -> 4.9
  pkgs/development/tools/misc/ccache/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#277940 cockpit: 306 -> 307
  pkgs/by-name/co/cockpit/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#277576 satty: add shell completions
  pkgs/by-name/sa/satty/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#273286 Add hardware.sane.backends-package option.
  nixos/modules/services/hardware/sane.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#278121 baboossh: 1.2.0 -> 1.2.1
  pkgs/tools/security/baboossh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#278119 the-way: 0.20.1 -> 0.20.2
  pkgs/development/tools/the-way/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#278116 newsraft: refactor
  pkgs/by-name/ne/newsraft/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#278081 templ: 0.2.476 -> 0.2.501
  pkgs/development/tools/templ/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#277805 vivaldi: 6.5.3206.39 -> 6.5.3206.48
  pkgs/applications/networking/browsers/vivaldi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#276580 valeronoi: 0.2.0 -> 0.2.1
  pkgs/tools/misc/valeronoi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#276430 nixos/tailscale: fix after and wants
  nixos/modules/services/networking/tailscale.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12. first-time contribution

#276313 stress-ng: 0.17.02 -> 0.17.03
  pkgs/tools/system/stress-ng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#276159 nixos/tor: fix transport plugin exe name
  nixos/modules/services/security/tor.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#277809 tree-sitter-grammars: add bitbake
  pkgs/development/tools/parsing/tree-sitter/grammars/default.nix
  pkgs/development/tools/parsing/tree-sitter/grammars/tree-sitter-bitbake.json
  pkgs/development/tools/parsing/tree-sitter/update.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 12.approvals: 1

#276339 licensure: Init at 0.3.2
  pkgs/by-name/li/licensure/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#274383 bambu-studio: add gst-plugins-good
  pkgs/applications/misc/bambu-studio/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#278093 fzf-make: 0.13.0 -> 0.14.0
  pkgs/development/tools/misc/fzf-make/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277978 audiobookshelf: 2.7.0 -> 2.7.1
  pkgs/servers/audiobookshelf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#278128 makeInitrdNGTool: 0.1.0 -> 0.1.0
  pkgs/build-support/kernel/make-initrd-ng/Cargo.lock
Labels: 6.topic: kernel, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#278056 mainsail: 2.9.0 -> 2.9.1
  pkgs/applications/misc/mainsail/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#271584 cmus: fix feature detection on darwin
  pkgs/applications/audio/cmus/default.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-23.11

#278059 zigbee2mqtt: 1.34.0 -> 1.35.0
  pkgs/servers/zigbee2mqtt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#278158 terraform-providers.migadu: init at 2023.12.21
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#277747 octodns: move pytestCheckHook to nativeCheckInputs
  pkgs/tools/networking/octodns/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#274007 davinci-resolve: Remove address
  pkgs/applications/video/davinci-resolve/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.11

#277865 ibus-engines.cangjie: init at unstable-2023-07-25
  pkgs/tools/inputmethods/ibus-engines/ibus-cangjie/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#278194 maintainers: update handle for dixslyf
  maintainers/maintainer-list.nix
  pkgs/data/fonts/material-design-icons/default.nix
  pkgs/data/icons/catppuccin-cursors/default.nix
  pkgs/data/themes/catppuccin-gtk/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#271826 ocamlPackages.js_of_ocaml: 5.4.0 -> 5.5.2
  pkgs/development/tools/ocaml/js_of_ocaml/compiler.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#278186 php81Packages.php-cs-fixer: 3.42.0 -> 3.45.0
  pkgs/development/php-packages/php-cs-fixer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#278216 rsync: fix missing ipv6 support
  pkgs/applications/networking/sync/rsync/configure.ac-fix-failing-IPv6-check.patch
  pkgs/applications/networking/sync/rsync/default.nix
Labels: 12.approvals: 1, backport staging-23.11

#278157 doc/python: update buildPythonApplication example
  doc/languages-frameworks/python.section.md
Labels: 6.topic: python, 8.has: documentation, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#278045 trueseeing: 2.1.7 -> 2.1.9
  pkgs/tools/security/trueseeing/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278048 cansina: init at 0.9
  pkgs/by-name/ca/cansina/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#278129 theharvester: replace orjson with ujson
  pkgs/tools/security/theharvester/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278136 nextcloud: update apps, add user_oidc
  pkgs/servers/nextcloud/packages/26.json
  pkgs/servers/nextcloud/packages/27.json
  pkgs/servers/nextcloud/packages/28.json
  pkgs/servers/nextcloud/packages/nextcloud-apps.json
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, backport release-23.11

#278206 panoply: 5.3.0 -> 5.3.1
  pkgs/tools/misc/panoply/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#278201 emacsPackages.codeium: init at 1.6.13
  pkgs/applications/editors/emacs/elisp-packages/manual-packages.nix
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/codeium/codeium.el.patch
  pkgs/applications/editors/emacs/elisp-packages/manual-packages/codeium/default.nix
Labels: 8.has: package (new), 6.topic: emacs, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277967 flare-signal: 0.11.0 -> 0.11.1
  pkgs/applications/networking/instant-messengers/flare-signal/Cargo.lock
  pkgs/applications/networking/instant-messengers/flare-signal/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#276982 rapidfuzz-cpp: 2.2.3 -> 3.0.0
  pkgs/development/libraries/rapidfuzz-cpp/default.nix
  pkgs/development/python-modules/rapidfuzz/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#273712 catch2_3: 3.4.0 -> 3.5.0
  pkgs/development/libraries/catch2/3.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 11.by: package-maintainer, 10.rebuild-linux: 501-1000

#273872 microsoft-edge: 119.0.2151.72 -> 120.0.2210.61
  pkgs/applications/networking/browsers/microsoft-edge/browser.nix
  pkgs/applications/networking/browsers/microsoft-edge/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-23.11

#278227 python310Packages.apprise: 1.7.0 -> 1.7.1
  pkgs/development/python-modules/apprise/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#278218 atlas: 0.16.0 -> 0.17.0
  pkgs/development/tools/database/atlas/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278149 mimir: 2.10.5 -> 2.11.0
  pkgs/servers/monitoring/mimir/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277302 moodle: 4.3.1 -> 4.3.2
  pkgs/servers/web-apps/moodle/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#277286 hyperrogue: 12.1z -> 13.0
  pkgs/games/hyperrogue/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#274811 metal-cli: 0.17.0 -> 0.19.0
  pkgs/development/tools/metal-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#278246 python310Packages.bentoml: 1.1.10 -> 1.1.11
  pkgs/development/python-modules/bentoml/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#278100 bookletimposer: remove + maintainer email address update
  maintainers/maintainer-list.nix
  pkgs/applications/office/bookletimposer/configdir.patch
  pkgs/applications/office/bookletimposer/default.nix
  pkgs/applications/office/bookletimposer/i18n.patch
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, backport release-23.11

#278209 pspp: 1.6.2 -> 2.0.0
  pkgs/applications/science/math/pspp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#278249 python310Packages.bip-utils: 2.8.0 -> 2.9.0
  pkgs/development/python-modules/bip-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#277902 btcd: 0.23.4 -> 0.24.0
  pkgs/applications/blockchains/btcd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2

#278154 linuxKernel.kernels.linux_lqx: 6.6.8-lqx2 -> 6.6.9-lqx1 ; linuxKernel.kernels.linux_zen: 6.6.8-zen1 -> 6.6.9-zen1
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer

#278068 gnuradioMinimal: 3.10.8.0 -> 3.10.9.1
  pkgs/applications/radio/gnuradio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#278236 sequoia-sq: fix darwin build
  pkgs/tools/security/sequoia-sq/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#277722 python311Packages.pydantic-compat: init at 0.1.2, python311Packages.app-model: 0.2.2 -> 0.2.4
  pkgs/development/python-modules/app-model/default.nix
  pkgs/development/python-modules/pydantic-compat/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#278140 nucleiparser: init at unstable-2023-12-26
  pkgs/by-name/nu/nucleiparser/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277995 gnote: 45.0 -> 45.1
  pkgs/applications/office/gnote/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#278244 deepin.dde-appearance: fix error path in patch
  pkgs/desktops/deepin/core/dde-appearance/fix-custom-wallpapers-path.diff
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#278144 bitbake-language-server: 0.0.6 -> 0.0.7, python310Packages.oelint-parser: 2.12.3 -> 2.13.3
  pkgs/by-name/bi/bitbake-language-server/package.nix
  pkgs/development/python-modules/oelint-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, backport release-23.11

#273935 stdenv/check-meta: Use bespoke type checking
  pkgs/stdenv/generic/check-meta.nix
  pkgs/stdenv/generic/meta-types.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: stdenv

#277418 lomiri.cmake-extras: unstable-2022-11-21 -> 1.7
  pkgs/desktops/lomiri/development/cmake-extras/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#278077 liferea: 1.15.4 -> 1.15.5
  pkgs/applications/networking/newsreaders/liferea/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#277205 labwc-tweaks: init at unstable-2023-12-08
  pkgs/by-name/la/labwc-tweaks/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#277762 sway-easyfocus: init at unstable-2023-11-05
  pkgs/by-name/sw/sway-easyfocus/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1
