Repository NixOS/nixpkgs, pull requests merged in 2024-11, with the labels that each got.

#242562 jetbrains: add support for plugins on darwin
  pkgs/applications/editors/jetbrains/bin/darwin.nix
  pkgs/applications/editors/jetbrains/plugins/default.nix
  pkgs/applications/editors/jetbrains/plugins/specialPlugins.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#324375 stardust-xr-server: init at 0.44.1
  maintainers/maintainer-list.nix
  pkgs/by-name/st/stardust-xr-server/Cargo.lock
  pkgs/by-name/st/stardust-xr-server/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2, 8.has: maintainer-list (update)

#352631 jankyborders: switch to apple-sdk_11
  pkgs/by-name/ja/jankyborders/package.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#352633 nufmt: switch to apple-sdk_11
  pkgs/by-name/nu/nufmt/package.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#344113 sonivox: 3.6.12 -> 3.6.13
  pkgs/development/libraries/sonivox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#344517 wakatime-cli: 1.98.5 -> 1.102.3
  pkgs/by-name/wa/wakatime-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#343892 chawan: 0-unstable-2024-09-03 -> 0-unstable-2024-10-25
  pkgs/by-name/ch/chawan/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#343910 gnomeExtensions.pop-shell: unstable-2024-04-04 -> 1.2.0-unstable-2024-10-09
  pkgs/desktops/gnome/extensions/pop-shell/default.nix
Labels: 6.topic: GNOME, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#344818 super-productivity: 9.0.5 -> 10.0.11
  pkgs/applications/office/super-productivity/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345427 nicotine-plus: 3.3.4 -> 3.3.5
  pkgs/by-name/ni/nicotine-plus/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344916 tryton: 7.2.5 -> 7.2.6
  pkgs/applications/office/tryton/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#345181 nc4nix: 0-unstable-2024-09-18 -> 0-unstable-2024-09-28
  pkgs/by-name/nc/nc4nix/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#344952 boogie: 3.2.4 -> 3.2.5
  pkgs/by-name/bo/boogie/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#352666 fish: add patch to fix `$PATH` for nix-darwin
  pkgs/shells/fish/default.nix
  pkgs/shells/fish/nix-darwin-path.patch
Labels: 6.topic: darwin, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#342668 vapoursynth: 69 -> 70
  pkgs/by-name/va/vapoursynth/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#348086 totp-cli: init at 1.8.7
  pkgs/by-name/to/totp-cli/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#351974 clash-rs: init at 0.7.0
  pkgs/by-name/cl/clash-rs/Cargo.lock
  pkgs/by-name/cl/clash-rs/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#351800 tygo: init at 0.2.17
  maintainers/maintainer-list.nix
  pkgs/by-name/ty/tygo/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution, 8.has: maintainer-list (update)

#343490 mpvScripts.uosc: 5.5.0 -> 5.6.0
  pkgs/applications/video/mpv/scripts/uosc.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344674 kratos: 1.2.0 -> 1.3.1
  pkgs/applications/misc/kratos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352587 tsukimi: 0.12.2 -> 0.16.7, add nix-update-script
  pkgs/by-name/ts/tsukimi/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#345173 iio-hyprland: 0-unstable-2024-07-24 -> 0-unstable-2024-09-29
  pkgs/by-name/ii/iio-hyprland/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#344683 scip: 0.4.0 -> 0.5.1
  pkgs/development/tools/misc/scip/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#344870 ckan: 1.34.4 -> 1.35.0
  pkgs/games/ckan/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#346171 pdfsam-basic: 5.2.6 -> 5.2.8
  pkgs/applications/misc/pdfsam-basic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#343786 libedgetpu: init at 0-unstable-2024-03-14
  maintainers/maintainer-list.nix
  pkgs/by-name/li/libedgetpu/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 8.has: maintainer-list (update)

#345541 shotcut: 24.09.13 -> 24.10.13
  pkgs/by-name/sh/shotcut/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#295634 mieru: init at 3.7.0
  pkgs/by-name/mi/mieru/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352028 pyamlboot: init at 1.0.0
  pkgs/by-name/py/pyamlboot/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#351946 salt-lint: init at 0.9.2
  pkgs/by-name/sa/salt-lint/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#346091 dolibarr: 19.0.3 -> 20.0.0
  pkgs/servers/web-apps/dolibarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#346450 linux-router: 0.7.3 -> 0.7.6
  pkgs/tools/networking/linux-router/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#346390 bosh-cli: 7.7.2 -> 7.8.0
  pkgs/applications/networking/cluster/bosh-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#346354 stress-ng: 0.18.04 -> 0.18.05
  pkgs/tools/system/stress-ng/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#351512 doc/hooks/xfce4-dev-tools: document hook
  ci/OWNERS
  doc/hooks/index.md
  doc/hooks/xfce4-dev-tools.section.md
Labels: 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: xfce, 10.rebuild-linux: 1

#347378 dgraph: 24.0.2 -> 24.0.4
  pkgs/servers/dgraph/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#346795 irpf: 2024-1.4 -> 2024-1.5
  pkgs/by-name/ir/irpf/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348227 vscode-extensions.jebbs.plantuml: 2.17.4 -> 2.18.1
  pkgs/applications/editors/vscode/extensions/jebbs.plantuml/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: vscode

#348136 deheader: 1.10 -> 1.11
  pkgs/development/tools/misc/deheader/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#347848 fast-downward: 23.06.0 -> 24.06.0
  pkgs/applications/science/logic/fast-downward/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348215 loccount: 2.15 -> 2.16
  pkgs/development/tools/misc/loccount/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#236740 nixos/doc: Split `mkdir` mode into `chmod` command for clarity
  nixos/doc/manual/development/writing-modules.chapter.md
Labels: 6.topic: nixos, 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#347415 ibus-engines.typing-booster-unwrapped: 2.25.16 -> 2.25.17
  pkgs/tools/inputmethods/ibus-engines/ibus-typing-booster/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#346837 emiluaPlugins.beast: 1.1.0 -> 1.1.1
  pkgs/development/emilua-plugins/beast/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348209 dovecot_pigeonhole: 0.5.21 -> 0.5.21.1
  pkgs/servers/mail/dovecot/plugins/pigeonhole/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348210 yubihsm-connector: 3.0.4 -> 3.0.5
  pkgs/tools/security/yubihsm-connector/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#346317 sameboy: 0.16.6 -> 0.16.7
  pkgs/applications/emulators/sameboy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#343395 vscode-extensions.ms-python.vscode-pylance: 2024.8.2 -> 2024.10.1
  pkgs/applications/editors/vscode/extensions/ms-python.vscode-pylance/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: vscode

#347422 questdb: 8.1.1 -> 8.1.2
  pkgs/servers/nosql/questdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348186 traceroute: 2.1.5 -> 2.1.6
  pkgs/tools/networking/traceroute/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345662 ascii-draw: 0.4.0 -> 1.0.0
  pkgs/by-name/as/ascii-draw/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#345239 plattenalbum: 2.1.1 -> 2.2.0
  pkgs/by-name/pl/plattenalbum/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#351836 pnpm_9: 9.12.2 -> 9.12.3
  pkgs/development/tools/pnpm/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: nodejs

#351979 python312Packages.enaml: 0.17.0 -> 0.18.0
  pkgs/development/python-modules/enaml/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#352740 binsider: 0.2.0 -> 0.2.1
  pkgs/by-name/bi/binsider/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352737 python312Packages.aiowithings: 3.1.0 -> 3.1.1
  pkgs/development/python-modules/aiowithings/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#352733 python312Packages.spotifyaio: 0.7.1 -> 0.8.1
  pkgs/development/python-modules/spotifyaio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#352730 python312Packages.python-ipmi: 0.5.5 -> 0.5.7
  pkgs/development/python-modules/python-ipmi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#352728 python312Packages.pysyncobj: 0.3.12 -> 0.3.13
  pkgs/development/python-modules/pysyncobj/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#352726 python312Packages.pydexcom: 0.4.0 -> 0.4.1
  pkgs/development/python-modules/pydexcom/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#352739 opentype-sanitizer: 9.1.0 -> 9.2.0
  pkgs/by-name/op/opentype-sanitizer/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#352794 python312Packages.whenever: 0.6.9 -> 0.6.10
  pkgs/development/python-modules/whenever/default.nix
Labels: 6.topic: python

#352302 python312Packages.{torch,torch-bin}: 2.5.0 -> 2.5.1
  pkgs/development/python-modules/torch/bin.nix
  pkgs/development/python-modules/torch/binary-hashes.nix
  pkgs/development/python-modules/torch/default.nix
  pkgs/development/python-modules/torchaudio/bin.nix
  pkgs/development/python-modules/torchaudio/binary-hashes.nix
  pkgs/development/python-modules/torchaudio/default.nix
  pkgs/development/python-modules/torchvision/bin.nix
  pkgs/development/python-modules/torchvision/binary-hashes.nix
  pkgs/development/python-modules/torchvision/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1, 12.approved-by: package-maintainer

#351423 neovim: improve lpeg patch for darwin
  pkgs/by-name/ne/neovim-unwrapped/package.nix
Labels: 6.topic: darwin, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500, 12.approvals: 2

#352551 qt6Packages.{qwlroots: 0.1.0 -> 0.3.0, waylib: 0.1.1 -> 0.3.0-alpha}
  pkgs/development/libraries/qwlroots/default.nix
  pkgs/development/libraries/waylib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#352761 go-exploitdb: 0.4.6 -> 0.5.0
  pkgs/tools/security/go-exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#347266 nginx: Create cryptographically secure htpasswd file
  nixos/modules/services/web-servers/nginx/location-options.nix
  nixos/modules/services/web-servers/nginx/vhost-options.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#352748 departure-mono: 1.350 -> 1.422
  pkgs/by-name/de/departure-mono/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#285005 lighthouse: add `package` option to service
  nixos/modules/services/blockchain/ethereum/lighthouse.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#352758 vscode: 1.95.0 -> 1.95.1
  pkgs/applications/editors/vscode/vscode.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: vscode

#352577 python312Packages.onnx: remove useless pkgs.protobuf from inputs
  pkgs/development/python-modules/onnx/default.nix
  pkgs/development/python-modules/onnxconverter-common/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#352613 python312Packages.botorch: disable failing test on aarch64-darwin
  pkgs/development/python-modules/ax-platform/default.nix
  pkgs/development/python-modules/botorch/default.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#318346 python3Packages.scienceplots: init at 2.1.1
  pkgs/development/python-modules/scienceplots/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2

#348734 kdiff3: 1.11.2 -> 1.11.4
  pkgs/tools/text/kdiff3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352643 mgitstatus: 2.2 -> 2.3
  pkgs/by-name/mg/mgitstatus/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#340035 shadcn: init at 2.0.3
  pkgs/by-name/sh/shadcn/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352607 gzdoom: 4.13.1 -> 4.13.2
  pkgs/by-name/gz/gzdoom/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#352576 OWNERS: set the neovim team as owner of neovim and vimPlugins
  ci/OWNERS
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#305555 Add section about nixpkgs-merge-bot
  maintainers/README.md
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#352744 vimPlugins.fastaction-nvim: init at 2024-10-26
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 8.has: package (new), 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2

#345547 lib: improve filterAttrs
  lib/attrsets.nix
  lib/tests/misc.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 6.topic: lib

#340337 ocaml-ng: remove `__attrsFailEvaluation`
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#349917 envision-unwrapped: 0-unstable-2024-09-28 -> 0-unstable-2024-10-20; envision: update dependency list and extraInstallCommands
  pkgs/by-name/en/envision-unwrapped/Cargo.lock
  pkgs/by-name/en/envision-unwrapped/package.nix
  pkgs/by-name/en/envision/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#348026 OWNERS: Only request @infinisil for OWNERS changes
  ci/OWNERS
Labels: 2.status: merge conflict, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#352614 jreleaser-cli: 1.14.0 -> 1.15.0
  pkgs/by-name/jr/jreleaser-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352228 marwaita: 22 -> 22.2
  pkgs/by-name/ma/marwaita/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352229 marwaita-mint: 21 -> 22.2
  pkgs/by-name/ma/marwaita-mint/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348293 simgrid: 3.35 -> 3.36
  pkgs/applications/science/misc/simgrid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348292 ansifilter: 2.20 -> 2.21
  pkgs/tools/text/ansifilter/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352233 marwaita-pop_os 17.0 -> marwaita-yellow 20.3.1
  pkgs/by-name/ma/marwaita-yellow/package.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#346760 zxtune: 5072 -> 5075
  pkgs/by-name/zx/zxtune/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#352346 latexminted: 0.2.0 -> 0.3.0
  pkgs/by-name/la/latexminted/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348287 rush: 2.3 -> 2.4
  pkgs/shells/rush/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348279 runit: 2.1.2 -> 2.2.0
  pkgs/tools/system/runit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348250 jython: 2.7.3 -> 2.7.4
  pkgs/development/interpreters/jython/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348277 qmidiarp: 0.7.0 -> 0.7.1
  pkgs/applications/audio/qmidiarp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348450 tboot: 1.11.2 -> 1.11.3
  pkgs/tools/security/tboot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348438 squirrel-sql: 4.7.1 -> 4.8.0
  pkgs/development/tools/database/squirrel-sql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348357 mnc: 0.4 -> 0.5
  pkgs/tools/misc/mnc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348440 yoshimi: 2.3.2 -> 2.3.3.1
  pkgs/applications/audio/yoshimi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348352 mediathekview: 14.0.0 -> 14.1.0
  pkgs/applications/video/mediathekview/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352773 kanidm: 1.3.3 -> 1.4.0
  nixos/tests/kanidm.nix
  pkgs/by-name/ka/kanidm/package.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348348 pax: 20201030 -> 20240817
  pkgs/tools/archivers/pax/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#348296 libdsk: 1.5.19 -> 1.5.20
  pkgs/applications/emulators/libdsk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#348326 ijhttp: 241.14494.240 -> 242.21829.56
  pkgs/by-name/ij/ijhttp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348229 couchdb3: 3.3.3 -> 3.4.1
  pkgs/servers/http/couchdb/3.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348714 timeular: 6.8.1 -> 6.8.4
  pkgs/applications/office/timeular/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348719 siril: 1.2.3 -> 1.2.4
  pkgs/applications/science/astronomy/siril/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348721 qsynth: 1.0.0 -> 1.0.2
  pkgs/applications/audio/qsynth/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348678 kpcli: 4.1 -> 4.1.2
  pkgs/tools/security/kpcli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348511 minipro: 0.7 -> 0.7.2
  pkgs/tools/misc/minipro/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348524 fldigi: 4.2.05 -> 4.2.06
  pkgs/applications/radio/fldigi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348635 keepass: 2.57 -> 2.57.1
  pkgs/by-name/ke/keepass/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348677 gcompris: 4.1 -> 4.2
  pkgs/games/gcompris/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348706 gtkwave: 3.3.120 -> 3.3.121
  pkgs/applications/science/electronics/gtkwave/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348625 ganttproject-bin: 3.3.3309 -> 3.3.3312
  pkgs/applications/misc/ganttproject-bin/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348538 commonsIo: 2.16.1 -> 2.17.0
  pkgs/development/libraries/java/commons/io/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348441 libdatovka: 0.6.2 -> 0.7.0
  pkgs/development/libraries/libdatovka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#349470 apkeditor: init at 1.4.1
  pkgs/by-name/ap/apkeditor/arsclib/default.nix
  pkgs/by-name/ap/apkeditor/arsclib/deps.json
  pkgs/by-name/ap/apkeditor/fix-gradle.patch
  pkgs/by-name/ap/apkeditor/jcommand/default.nix
  pkgs/by-name/ap/apkeditor/jcommand/deps.json
  pkgs/by-name/ap/apkeditor/package.nix
  pkgs/by-name/ap/apkeditor/smali/default.nix
  pkgs/by-name/ap/apkeditor/smali/deps.json
  pkgs/by-name/ap/apkeditor/smali/fix-gradle.patch
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348607 vms-empire: 1.17 -> 1.18
  pkgs/by-name/vm/vms-empire/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348855 ballerina: 2201.9.2 -> 2201.10.1
  pkgs/development/compilers/ballerina/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#349043 commonsLogging: 1.3.1 -> 1.3.4
  pkgs/development/libraries/java/commons/logging/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348618 helio-workstation: 3.13 -> 3.14
  pkgs/applications/audio/helio-workstation/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348757 snd: 24.5 -> 24.8
  pkgs/applications/audio/snd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348611 sumo: 1.20.0 -> 1.21.0
  pkgs/applications/science/networking/sumo/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348673 asciidoctorj: 2.5.13 -> 3.0.0
  pkgs/tools/typesetting/asciidoctorj/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352649 zed-editor: 0.159.5 -> 0.159.6
  pkgs/by-name/ze/zed-editor/Cargo.lock
  pkgs/by-name/ze/zed-editor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#348899 spring-boot-cli: 3.3.2 -> 3.3.4
  pkgs/development/tools/spring-boot-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349047 prqlc: 0.13.0 -> 0.13.2
  pkgs/development/tools/database/prqlc/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348772 freeciv: 3.1.2 -> 3.1.3
  pkgs/games/freeciv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#348742 groovy: 4.0.22 -> 4.0.23
  pkgs/development/interpreters/groovy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348956 cozy-drive: 3.39.0 -> 3.40.0
  pkgs/applications/networking/cozy-drive/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#349008 bino3d: 2.2 -> 2.3
  pkgs/applications/video/bino3d/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#348929 zabbix-agent2-plugin-postgresql: 7.0.2 -> 7.0.4
  pkgs/by-name/za/zabbix-agent2-plugin-postgresql/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#348817 terraform-backend-git: 0.1.6 -> 0.1.7
  pkgs/applications/networking/cluster/terraform-backend-git/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349045 sqlcl: 24.2.0.180.1721 -> 24.3.0.285.0530
  pkgs/development/tools/database/sqlcl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#349000 swagger-codegen3: 3.0.59 -> 3.0.62
  pkgs/tools/networking/swagger-codegen3/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349134 alfaview: 9.14.0 -> 9.17.0
  pkgs/applications/networking/instant-messengers/alfaview/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#349135 yquake2: 8.40 -> 8.41
  pkgs/games/quake2/yquake2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#349164 neo4j: 5.22.0 -> 5.24.2
  pkgs/servers/nosql/neo4j/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349243 commonsLang: 3.15.0 -> 3.17.0
  pkgs/development/libraries/java/commons/lang/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349483 mendeley: 2.120.0 -> 2.122.1
  pkgs/applications/office/mendeley/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#349154 flashprint: 5.8.6 -> 5.8.7
  pkgs/applications/misc/flashprint/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#349506 metabase: 0.50.18 -> 0.50.30
  pkgs/servers/metabase/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349259 nbxplorer: 2.5.6 -> 2.5.7
  pkgs/applications/blockchains/nbxplorer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#349240 terser: 5.31.3 -> 5.34.1
  pkgs/development/tools/misc/terser/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#344447 ocamlPackages.semaphore-compat: 1.0.1 -> 1.0.2
  pkgs/development/ocaml-modules/semaphore-compat/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352637 GNOME updates 2024-10-31
  pkgs/applications/graphics/shotwell/default.nix
  pkgs/by-name/gn/gnome-sudoku/package.nix
  pkgs/by-name/gn/gnome-text-editor/package.nix
  pkgs/by-name/lo/loupe/package.nix
  pkgs/by-name/ti/tinysparql/package.nix
  pkgs/by-name/to/totem/package.nix
  pkgs/development/libraries/libspelling/default.nix
  pkgs/development/tools/misc/d-spy/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#349299 node-problem-detector: 0.8.19 -> 0.8.20
  pkgs/applications/networking/cluster/node-problem-detector/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#352590 webkitgtk: 2.46.2 → 2.46.3
  pkgs/development/libraries/webkitgtk/default.nix
Labels: 1.severity: security, 9.needs: port to stable, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 11.by: package-maintainer
