Repository NixOS/nixpkgs, pull requests merged in 2024-03, with the labels that each got.

#291411 libsecret: 0.21.3 -> 0.21.4
  pkgs/development/libraries/libsecret/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 501-1000

#291839 fwupd: 1.9.13 -> 1.9.14
  pkgs/by-name/fw/fwupd/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#292195 python3Packages.gradio: 4.9.1 -> 4.19.2, gradio-client: 0.7.3 -> 0.10.1
  pkgs/development/python-modules/gradio/client.nix
  pkgs/development/python-modules/gradio/default.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292469 tailscale: 1.60.0 -> 1.60.1
  pkgs/servers/tailscale/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292298 linux: enable CONFIG_BLK_DEV_ZONED
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 2501-5000

#291693 intel-media-sdk: drop redundant `disable-warnings-if-gcc13`
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#291929 gmsh: drop redundant `disable-warnings-if-gcc13`
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#292355 lefthook: 1.6.2 -> 1.6.4
  pkgs/by-name/le/lefthook/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#292455 vintagestory: 1.19.3 -> 1.19.4
  pkgs/games/vintagestory/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#292391 topicctl: 1.14.1 -> 1.14.2
  pkgs/tools/misc/topicctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292167 Yuzu: Only compile with -msse4.1 if on x64
  pkgs/applications/emulators/yuzu/mainline.nix
Labels: 8.has: package (new), 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292250 mesa: switch elfutils in for abandoned libelf
  pkgs/development/libraries/mesa/default.nix
  pkgs/games/steam/fhsenv.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 6.topic: steam, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 501-1000

#292483 nixos/plasma6: install kcmutils
  nixos/modules/services/x11/desktop-managers/plasma6.nix
Labels: 6.topic: nixos, 6.topic: qt/kde, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#292376 plasma6: fix meta.position
  pkgs/kde/lib/mk-kde-derivation.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292326 nixos/pipewire: doc fixes as a follow-up to #282377 and #291946
  nixos/modules/services/desktops/pipewire/pipewire.nix
  nixos/modules/services/desktops/pipewire/wireplumber.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#291659 jekyll: 4.3.1 -> 4.3.3
  pkgs/applications/misc/jekyll/basic/Gemfile.lock
  pkgs/applications/misc/jekyll/basic/gemset.nix
  pkgs/applications/misc/jekyll/full/Gemfile.lock
  pkgs/applications/misc/jekyll/full/gemset.nix
  pkgs/applications/misc/jekyll/update.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#282444 cataclysm-dda: fix gcc 13 build with 3 debian patches.
  pkgs/games/cataclysm-dda/git.nix
  pkgs/games/cataclysm-dda/stable.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12. first-time contribution

#292300 doc & fix: Clean up writers/data.nix file
  pkgs/build-support/writers/data.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#292438 phpPackages.php-cs-fixer: 3.50.0 -> 3.51.0
  pkgs/development/php-packages/php-cs-fixer/composer.lock
  pkgs/development/php-packages/php-cs-fixer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292436 python312Packages.pytest-mypy-plugins: 3.0.0 -> 3.1.0
  pkgs/development/python-modules/pytest-mypy-plugins/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#292439 python312Packages.urlextract: 1.8.0 -> 1.9.0
  pkgs/development/python-modules/urlextract/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#292447 checkov: 3.2.24 -> 3.2.28
  pkgs/development/tools/analysis/checkov/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292137 lzip: fix mingw regression
  pkgs/tools/compression/lzip/default.nix
  pkgs/tools/compression/lzip/mingw-mkdir-one-argument.patch
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292480 tzdata: do not run check_now test
  pkgs/data/misc/tzdata/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 2, backport staging-23.11

#291895 guile-git: 0.5.2 -> 0.6.0
  pkgs/development/guile-modules/guile-git/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#292407 hclfmt: 2.19.1 -> 2.20.0
  pkgs/development/tools/hclfmt/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292448 onionshare-gui: fix triple wrapping, fix meta.mainProgram
  pkgs/applications/networking/onionshare/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#292444 slither-analyzer: 0.10.0 -> 0.10.1
  pkgs/development/python-modules/slither-analyzer/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#292458 ib-tws: deprecate phases
  pkgs/applications/office/ib/tws/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#292291 nixos/dockerRegistry: add `openFirewall` option
  nixos/modules/services/misc/docker-registry.nix
  nixos/tests/docker-registry.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#291258 rPackages.pathfindR: fix missing java
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292501 androidStudioPackages: update stable and canary
  pkgs/applications/editors/android-studio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#292166 [23.11] suricata: 7.0.1 -> 7.0.3
  pkgs/applications/networking/ids/suricata/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#287471 libselinux: remove use of LFS64 function
  pkgs/os-specific/linux/libselinux/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+, 6.topic: musl

#291901 clang: don't set -march for overridden target
  pkgs/build-support/cc-wrapper/add-clang-cc-cflags-before.sh
  pkgs/build-support/cc-wrapper/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approved-by: package-maintainer

#288394 python311Packages.boto3: run tests with pytest-xdist
  pkgs/development/python-modules/boto3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 1001-2500, 10.rebuild-darwin: 1001-2500

#292514 nixos/lib/test-driver: make the warning message more noticeable
  nixos/lib/test-driver/test_driver/driver.py
Labels: 6.topic: nixos

#290964 python311Packages.httpcore: 1.0.2 -> 1.0.4
  pkgs/development/python-modules/httpcore/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#291195 python311Packages.bcrypt: 4.0.1 -> 4.1.2
  pkgs/development/python-modules/bcrypt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux: 2501-5000, 10.rebuild-darwin: 1001-2500

#289916 python311Packages.dnspython: 2.4.2 -> 2.6.1
  pkgs/development/python-modules/dnspython/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#291476 roon-tui: init at 0.3.0
  maintainers/maintainer-list.nix
  pkgs/by-name/ro/roon-tui/Cargo.lock
  pkgs/by-name/ro/roon-tui/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12. first-time contribution

#292513 phpPackages.php-codesniffer: 3.7.2 -> 3.9.0
  pkgs/development/php-packages/php-codesniffer/composer.lock
  pkgs/development/php-packages/php-codesniffer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#281337 python311Packages.service-identity: 23.1.0 -> 24.1.0
  pkgs/development/python-modules/service-identity/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 11.by: package-maintainer, 10.rebuild-linux: 5001+, 10.rebuild-darwin: 2501-5000

#292505 screenly-cli: 0.2.3 -> 0.2.4
  pkgs/by-name/sc/screenly-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292247 wasmtime: 18.0.1 -> 18.0.2
  pkgs/development/interpreters/wasmtime/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-23.11

#292353 sbcl, ecl, clisp: set meta.mainProgram
  pkgs/development/compilers/ecl/default.nix
  pkgs/development/compilers/sbcl/default.nix
  pkgs/development/interpreters/clisp/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#290686 jacktrip: 1.10.1 -> 2.2.2
  pkgs/applications/audio/jacktrip/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#289639 maintainers: nu-nu-ko fix email address & add matrix
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#270449 archiveopteryx: remove
  pkgs/servers/mail/archiveopteryx/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292502 python311Packages.trimesh: 4.1.6 -> 4.1.7
  pkgs/development/python-modules/trimesh/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#291298 processing: fix wrapper and phases
  pkgs/applications/graphics/processing/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#292486 wit-bindgen: 0.19.1 -> 0.20.0
  pkgs/by-name/wi/wit-bindgen/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#287511 nulloy: init at 0.9.8.7
  pkgs/by-name/nu/nulloy/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#289185 ctranslate2: 3.24.0 -> 4.0.0
  pkgs/development/libraries/ctranslate2/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292475 uv: 0.1.12 -> 0.1.13
  pkgs/by-name/uv/uv/Cargo.lock
  pkgs/by-name/uv/uv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292358 filebot: 5.1.2 -> 5.1.3
  pkgs/applications/video/filebot/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#291849 files-cli: 2.12.38 -> 2.12.39
  pkgs/by-name/fi/files-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#290678 python311Packages.faster-whisper: 0.10.0 -> 1.0.1
  pkgs/development/python-modules/faster-whisper/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#290307 twitterBootstrap: 5.3.2 -> 5.3.3
  pkgs/development/web/twitter-bootstrap/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#291718 cloud-init: 23.4.3 -> 23.4.4
  pkgs/tools/virtualization/cloud-init/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#291494 rsgain: 3.4 -> 3.5
  pkgs/by-name/rs/rsgain/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#291923 wasm-tools: 1.200.0 -> 1.201.0
  pkgs/tools/misc/wasm-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#291395 live555: 2023.11.30 -> 2024.02.23
  pkgs/by-name/li/live555/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#283162 python3Packages.mmengine: disable failing tests
  pkgs/development/python-modules/mmengine/default.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#291559 libvpl: patch to search `/run/opengl-drivers/lib/` for runtime implem…
  pkgs/by-name/li/libvpl/opengl-driver-lib.patch
  pkgs/by-name/li/libvpl/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#264087 nixos/matter-server: init
  maintainers/maintainer-list.nix
  nixos/doc/manual/release-notes/rl-2405.section.md
  nixos/modules/module-list.nix
  nixos/modules/services/home-automation/matter-server.nix
  nixos/tests/all-tests.nix
  nixos/tests/matter-server.nix
  pkgs/development/python-modules/python-matter-server/default.nix
  pkgs/development/python-modules/python-matter-server/link-paa-root-certs.patch
Labels: 6.topic: python, 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (new), 8.has: module (update), 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 501-1000, 8.has: tests, 12. first-time contribution

#284793 composefs: 1.0.2 -> 1.0.3
  pkgs/by-name/co/composefs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#291907 nixos/tailscale: add option to pass flags to tailscaled
  nixos/modules/services/networking/tailscale.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 2

#292557 python311Packages.python-ironicclient: 5.4.0 -> 5.5.0
  pkgs/development/python-modules/python-ironicclient/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292555 calibre: 7.5.1 -> 7.6.0
  pkgs/applications/misc/calibre/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292233 python311Packages.openai: 1.13.2 -> 1.13.3
  pkgs/development/python-modules/openai/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#292535 python312Packages.uncertainties: fix build by moving from nose to pynose
  pkgs/development/python-modules/uncertainties/default.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#292554 python311Packages.botocore-stubs: 1.34.52 -> 1.34.53
  pkgs/development/python-modules/botocore-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292553 python311Packages.boto3-stubs: 1.34.52 -> 1.34.53
  pkgs/development/python-modules/boto3-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292550 python311Packages.aiomysensors: 0.3.12 -> 0.3.13
  pkgs/development/python-modules/aiomysensors/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292549 python311Packages.aioautomower: 2024.2.9 -> 2024.2.10
  pkgs/development/python-modules/aioautomower/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292548 python311Packages.aioairzone-cloud: 0.3.8 -> 0.4.5
  pkgs/development/python-modules/aioairzone-cloud/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292547 python311Packages.tencentcloud-sdk-python: 3.0.1094 -> 3.0.1098
  pkgs/development/python-modules/tencentcloud-sdk-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292546 python311Packages.types-awscrt: 0.20.4 -> 0.20.5
  pkgs/development/python-modules/types-awscrt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#292543 python311Packages.weconnect: 0.60.1 -> 0.60.2
  pkgs/development/python-modules/weconnect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292544 python311Packages.pyoverkiz: 1.13.7 -> 1.13.8
  pkgs/development/python-modules/pyoverkiz/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292545 python311Packages.py-serializable: 1.0.1 -> 1.0.2
  pkgs/development/python-modules/py-serializable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292542 python311Packages.cyclonedx-python-lib: 6.4.1 -> 6.4.2
  pkgs/development/python-modules/cyclonedx-python-lib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292541 knockpy: 6.1.0 -> 7.0.0
  pkgs/tools/security/knockpy/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292540 ldeep: 1.0.52 -> 1.0.53
  pkgs/tools/security/ldeep/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292560 asnmap: 1.0.6 -> 1.1.0
  pkgs/tools/security/asnmap/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#292538 pip-audit: 2.7.1 -> 2.7.2
  pkgs/development/tools/pip-audit/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292537 exploitdb: 2024-02-27 -> 2024-03-01
  pkgs/tools/security/exploitdb/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292463 gotestwaf: 0.4.12 -> 0.4.13
  pkgs/tools/security/gotestwaf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#291692 xdg-utils: add perlPackages.FileMimeInfo to xdg-mime-prologue
  pkgs/tools/X11/xdg-utils/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500

#292497 python311Packages.types-pyopenssl: 24.0.0.20240130 -> 24.0.0.20240228
  pkgs/development/python-modules/types-pyopenssl/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#288904 wofi: 1.4 -> 1.4.1
  pkgs/applications/misc/wofi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#292323 maven: allow dependency sources to be stored in fixed-output derivation
  pkgs/development/tools/build-managers/apache-maven/build-package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292464 monkeysAudio: 10.49 -> 10.52
  pkgs/applications/audio/monkeys-audio/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#292511 php81Packages.psalm: fix the build
  pkgs/development/php-packages/psalm/composer.lock
  pkgs/development/php-packages/psalm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#292348 sbcl: 2.4.1 -> 2.4.2
  pkgs/development/compilers/sbcl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292492 cgal: 5.5.3 -> 5.6.1
  pkgs/development/libraries/CGAL/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#292564 direnv: 2.33.0 -> 2.34.0
  pkgs/tools/misc/direnv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#291951 zfs: rename zfsStable -> zfs_2_2; zfsUnstable -> zfs_unstable; remove enableUnstable option in favor of package
  nixos/modules/security/pam.nix
  nixos/modules/tasks/filesystems/zfs.nix
  nixos/tests/zfs.nix
  pkgs/os-specific/linux/zfs/2_2.nix
  pkgs/os-specific/linux/zfs/generic.nix
  pkgs/os-specific/linux/zfs/unstable.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: nixos, 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approved-by: package-maintainer, backport release-23.11

#291421 python311Packages.jaxtyping: 0.2.25 -> 0.2.26
  pkgs/development/python-modules/jaxtyping/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#292417 open-policy-agent: 0.61.0 -> 0.62.0
  pkgs/development/tools/open-policy-agent/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292409 kube-bench: 0.7.1 -> 0.7.2
  pkgs/tools/security/kube-bench/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292406 gortr: 0.14.8 -> 0.15.0
  pkgs/servers/gortr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292405 fioctl: 0.40 -> 0.41
  pkgs/tools/admin/fioctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#292402 bfs: 3.1.1 -> 3.1.2
  pkgs/tools/system/bfs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#292398 devspace: 6.3.11 -> 6.3.12
  pkgs/development/tools/misc/devspace/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292387 oh-my-posh: 19.11.4 -> 19.11.6
  pkgs/development/tools/oh-my-posh/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292476 snyk: 1.1280.1 -> 1.1281.0
  pkgs/development/tools/analysis/snyk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292471 upscayl: 2.9.9 -> 2.10.0
  pkgs/applications/graphics/upscayl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#292462 werf: 1.2.294 -> 1.2.295
  pkgs/applications/networking/cluster/werf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292461 sickgear: 3.30.10 -> 3.30.11
  pkgs/servers/sickbeard/sickgear.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#292460 upbound: 0.24.1 -> 0.24.2
  pkgs/development/tools/upbound/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292456 ruff-lsp: 0.0.52 -> 0.0.53
  pkgs/development/tools/language-servers/ruff-lsp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292454 scraper: 0.18.1 -> 0.19.0
  pkgs/tools/text/scraper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292441 rain: 1.7.5 -> 1.8.0
  pkgs/development/tools/rain/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#292590 eksctl: 0.172.0 -> 0.173.0
  pkgs/by-name/ek/eksctl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#292595 fcitx5: 5.1.7 -> 5.1.8
  pkgs/development/libraries/libime/default.nix
  pkgs/development/libraries/xcb-imdkit/default.nix
  pkgs/tools/inputmethods/fcitx5/default.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-chinese-addons.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-configtool.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-gtk.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-hangul.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-rime.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-skk.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-table-extra.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-table-other.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-unikey.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#292510 python311Packages.spyder-kernels: 2.5.0 -> 2.5.1
  pkgs/development/python-modules/spyder-kernels/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292507 python311Packages.pyctr: 0.7.4 -> 0.7.5
  pkgs/development/python-modules/pyctr/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292490 hugo: 0.123.4 -> 0.123.6
  pkgs/by-name/hu/hugo/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#292488 rqlite: 8.21.3 -> 8.22.1
  pkgs/servers/sql/rqlite/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292484 atmos: 1.64.1 -> 1.64.3
  pkgs/applications/networking/cluster/atmos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292570 intel-cmt-cat: 23.11 -> 23.11.1
  pkgs/os-specific/linux/intel-cmt-cat/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#292594 mergerfs: 2.40.1 -> 2.40.2
  pkgs/tools/filesystems/mergerfs/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#292589 kool: 3.1.0 -> 3.2.0
  pkgs/development/tools/misc/kool/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292561 nixos/lib/make-disk-image.nix: fix systemd-boot-builder clobbering /homeless-shelter
  nixos/lib/make-disk-image.nix
  nixos/tests/qemu-vm-external-disk-image.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#292598 mold: 2.4.0 -> 2.4.1
  pkgs/development/tools/mold/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292597 oculante: 0.8.11 -> 0.8.13
  pkgs/applications/graphics/oculante/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292428 [staging-next-23.11] diffoscope: 252 ->257
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#291328 staging-next-23.11 iteration 5 - 2024-02-25
  nixos/tests/unbound.nix
  pkgs/applications/graphics/ImageMagick/default.nix
  pkgs/by-name/al/alsa-ucm-conf/package.nix
  pkgs/data/misc/cacert/default.nix
  pkgs/development/compilers/go/1.21.nix
  pkgs/development/haskell-modules/configuration-common.nix
  pkgs/development/interpreters/python/default.nix
  pkgs/development/libraries/c-ares/CVE-2024-25629.patch
  pkgs/development/libraries/c-ares/default.nix
  pkgs/development/libraries/dav1d/default.nix
  pkgs/development/libraries/libgit2/default.nix
  pkgs/development/libraries/nss/esr.nix
  pkgs/development/libraries/openexr/3.nix
  pkgs/development/python-modules/pegen/default.nix
  pkgs/development/python-modules/pytest-mock/default.nix
  pkgs/development/python-modules/python3-saml/default.nix
  pkgs/development/python-modules/sphinx/default.nix
  pkgs/development/web/nodejs/update.nix
  pkgs/development/web/nodejs/v18.nix
  pkgs/development/web/nodejs/v20.nix
  pkgs/development/web/nodejs/v21.nix
  pkgs/os-specific/darwin/apple-sdk-11.0/apple_sdk.nix
  pkgs/stdenv/generic/setup.sh
  pkgs/tools/misc/diffoscope/default.nix
  pkgs/tools/networking/dnsmasq/default.nix
  pkgs/tools/networking/unbound/default.nix
  pkgs/tools/text/mdbook/default.nix
Labels: 6.topic: python, 6.topic: nixos, 6.topic: haskell, 1.severity: security, 6.topic: golang, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-linux-stdenv, 10.rebuild-darwin-stdenv, 6.topic: stdenv, 6.topic: nodejs, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#279683 fcitx5-*: build for both qt versions
  pkgs/tools/inputmethods/fcitx5/fcitx5-chinese-addons.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-configtool.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-skk.nix
  pkgs/tools/inputmethods/fcitx5/fcitx5-unikey.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/qt5-packages.nix
  pkgs/top-level/qt6-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#292343 nextcloud28: 28.0.2 -> 28.0.3
  pkgs/servers/nextcloud/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2

#292571 nnpdf: 4.0.8 -> 4.0.9
  pkgs/applications/science/physics/nnpdf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292572 python311Packages.nnpdf: 4.0.8 -> 4.0.9
  pkgs/applications/science/physics/nnpdf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#291912 mmv: 2.5.1 -> 2.6
  pkgs/tools/misc/mmv/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292504 python311Packages.transformers: 4.38.1 -> 4.38.2
  pkgs/development/python-modules/huggingface-hub/default.nix
  pkgs/development/python-modules/transformers/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#292582 waycheck: 1.1.0 -> 1.1.1
  pkgs/by-name/wa/waycheck/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#289297 ptcollab: 0.6.4.7 -> 0.6.4.8
  pkgs/by-name/pt/ptcollab/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292607 nixos/fcitx5: add plasma6 support option
  nixos/modules/i18n/input-method/fcitx5.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#291413 ltris: 1.2.7 -> 1.2.8
  pkgs/by-name/lt/ltris/package.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#292622 tippecanoe: 2.46.0 -> 2.47.0
  pkgs/by-name/ti/tippecanoe/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#292125 python311Packages.remotezip: 0.12.2 -> 0.12.3
  pkgs/development/python-modules/remotezip/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#292633 llvmPackages_16.mlir: init
  pkgs/development/compilers/llvm/16/default.nix
  pkgs/top-level/all-packages.nix
Labels: 12.approvals: 1

#292610 python311Packages.python-novaclient: 18.4.0 -> 18.5.0
  pkgs/development/python-modules/python-novaclient/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292619 garage_0_8: 0.8.5 -> 0.8.6, garage: 0.9.1 -> 0.9.2
  pkgs/tools/filesystems/garage/default.nix
  pkgs/top-level/all-packages.nix
Labels: 1.severity: security, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2, backport release-23.11

#291568 rPackages.gifski: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#291599 rPackages.rmatio: fixed build
  pkgs/development/r-modules/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#292061 nixos/systemd: include systemd-boot-random-seed.service
  nixos/modules/system/boot/systemd.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#292419 hyprlandPlugins: expose mkHyprlandPlugin
  pkgs/applications/window-managers/hyprwm/hyprland/plugins.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 2

#291448 diffoscope: 257 -> 259
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2
