Repository NixOS/nixpkgs, pull requests merged in 2024-09, with the labels that each got.

#338693 libtorrent: 0.13.8-unstable-2024-08-20 -> 0.13.8-unstable-2024-08-21
  pkgs/by-name/li/libtorrent/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338672 acpica-tools: Rework package
  pkgs/by-name/ac/acpica-tools/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#334026 rmpc: 0.2.1 -> 0.4.0
  pkgs/by-name/rm/rmpc/Cargo.lock.patch
  pkgs/by-name/rm/rmpc/package.nix
Labels: 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#338677 colloid-icon-theme: 2024-02-28 -> 2024-08-31
  pkgs/data/icons/colloid-icon-theme/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338545 python312Packages.ihm: 1.3 -> 1.4
  pkgs/development/python-modules/ihm/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338544 python312Packages.libmambapy: 2024.03.25 -> 2024.08.31
  pkgs/development/python-modules/libmambapy/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338412 python312Packages.mkdocs: 1.6.0 -> 1.6.1
  pkgs/development/python-modules/mkdocs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#338303 python312Packages.rns: 0.7.5 -> 0.7.6
  pkgs/development/python-modules/rns/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#337848 python312Packages.notebook: 7.2.1 -> 7.2.2
  pkgs/development/python-modules/notebook/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#337838 python312Packages.graphrag: 0.3.1 -> 0.3.2
  pkgs/development/python-modules/graphrag/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#322267 doc/languages-frameworks/python: fix typos
  doc/languages-frameworks/python.section.md
Labels: 6.topic: python, 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338725 systemfd: 0.4.2 -> 0.4.3
  pkgs/development/tools/systemfd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338225 python312Packages.pycrdt-websocket: 0.14.1 -> 0.14.2
  pkgs/development/python-modules/pycrdt-websocket/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#338686 nixos/tests/plotinus: fix build
  nixos/tests/plotinus.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#338241 python312Packages.openai: 1.42.0 -> 1.43.0
  pkgs/development/python-modules/openai/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#338705 flashmq: 1.17.0 -> 1.17.1
  pkgs/by-name/fl/flashmq/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#335279 handbrake: 1.8.1 -> 1.8.2, migrate to pkgs/by-name, add mainProgram, format with nixfmt-rfc-style
  pkgs/applications/video/handbrake/default.nix
  pkgs/by-name/ha/handbrake/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2

#338737 flyctl: 0.2.120 -> 0.2.124
  pkgs/development/web/flyctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-24.05

#338689 typesense: 26.0 -> 27.0
  pkgs/servers/search/typesense/sources.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#334860 termusic: 0.9.0 -> 0.9.1, fix build
  pkgs/applications/audio/termusic/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#338658 qq: enable wayland-ime
  pkgs/by-name/qq/qq/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-24.05

#337919 docfd: 7.0.0 -> 8.0.1
  pkgs/by-name/do/docfd/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338645 python312Packages.sqlmodel: 0.0.21 -> 0.0.22
  pkgs/development/python-modules/reflex-chakra/default.nix
  pkgs/development/python-modules/reflex/default.nix
  pkgs/development/python-modules/sqlmodel/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#338665 gitlab-ci-local: 4.52.2 -> 4.53.0
  pkgs/by-name/gi/gitlab-ci-local/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#337843 python312Packages.ollama: 0.3.1 -> 0.3.2
  pkgs/development/python-modules/ollama/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338662 amtterm: enable SSL support
  pkgs/tools/system/amtterm/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338469 keeweb: move to by-name, fix crash, and other cleanup
  pkgs/applications/misc/keeweb/default.nix
  pkgs/by-name/ke/keeweb/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#338726 uhubctl: 2.5.0 -> 2.6.0
  pkgs/tools/misc/uhubctl/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338155 cargo-info: fix build
  pkgs/development/tools/rust/cargo-info/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338589 rtz: fix build on darwin
  pkgs/tools/misc/rtz/default.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1

#338706 ft2-clone: 1.84 -> 1.85
  pkgs/applications/audio/ft2-clone/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338701 brogue-ce: 1.14 -> 1.14.1
  pkgs/games/brogue-ce/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-24.05

#338546 python312Packages.geodatasets: 2024.7.0 -> 2024.8.0
  pkgs/development/python-modules/geodatasets/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#338761 intelephense: remove from nodePackages
  maintainers/maintainer-list.nix
  pkgs/by-name/in/intelephense/package-lock.json
  pkgs/by-name/in/intelephense/package.nix
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
  pkgs/development/node-packages/overrides.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: nodejs, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 8.has: maintainer-list (update)

#338757 sqlite3-to-mysql: 2.3.0 -> 2.3.1
  pkgs/tools/misc/sqlite3-to-mysql/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#334745 xorg.libFS: 1.0.9 -> 1.0.10
  pkgs/servers/x11/xorg/default.nix
  pkgs/servers/x11/xorg/tarballs.list
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#338637 python312Packages.xmlschema: update disabledTests, fix build
  pkgs/development/python-modules/xmlschema/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#338624 kulala-fmt: 1.3.0 -> 1.3.1
  pkgs/by-name/ku/kulala-fmt/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338623 license-generator: 1.1.0 -> 1.2.0
  pkgs/tools/misc/license-generator/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338620 jumppad: 0.13.2 -> 0.13.3
  pkgs/tools/virtualization/jumppad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338616 go-graft: 0.2.18 -> 0.2.19
  pkgs/applications/networking/go-graft/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#338615 unifi8: 8.3.32 -> 8.4.59
  pkgs/servers/unifi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#338664 ryujinx: 1.1.1379 -> 1.1.1382
  pkgs/by-name/ry/ryujinx/deps.nix
  pkgs/by-name/ry/ryujinx/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338654 tio: 3.6 -> 3.7
  pkgs/by-name/ti/tio/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338644 python312Packages.urwidgets: 0.2.0 -> 0.2.1
  pkgs/development/python-modules/urwidgets/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338711 go-minimock: 3.3.14 -> 3.4.0
  pkgs/development/tools/go-minimock/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338710 go-camo: 2.5.1 -> 2.6.0
  pkgs/by-name/go/go-camo/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338704 fishPlugins.forgit: 24.06.0 -> 24.09.0
  pkgs/shells/fish/plugins/forgit.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338700 altair: 7.3.4 -> 7.3.5
  pkgs/development/tools/altair-graphql-client/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338685 nhost-cli: 1.22.3 -> 1.23.0
  pkgs/by-name/nh/nhost-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338684 bitrise: 2.20.0 -> 2.20.1
  pkgs/by-name/bi/bitrise/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338743 mdt: 0.8.5 -> 0.8.6
  pkgs/by-name/md/mdt/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338732 python312Packages.pony: 0.7.18 -> 0.7.19
  pkgs/development/python-modules/pony/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338727 komga: 1.11.2 -> 1.12.0
  pkgs/servers/komga/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338724 heptabase: 1.35.4 -> 1.35.5
  pkgs/by-name/he/heptabase/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338721 python312Packages.pymetno: 0.12.0 -> 0.13.0
  pkgs/development/python-modules/pymetno/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338717 python312Packages.aioairzone-cloud: 0.6.2 -> 0.6.3
  pkgs/development/python-modules/aioairzone-cloud/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338716 cnquery: 11.18.0 -> 11.19.1
  pkgs/tools/security/cnquery/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338762 firebase-tools: 13.15.4 -> 13.16.0
  pkgs/development/tools/firebase-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338758 mesonlsp: 4.3.3 -> 4.3.4
  pkgs/by-name/me/mesonlsp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338752 trealla: 2.55.25 -> 2.55.31
  pkgs/by-name/tr/trealla/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338269 discord: 0.0.65 -> 0.0.66
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-24.05

#338747 makejinja: 2.6.1 -> 2.6.2
  pkgs/by-name/ma/makejinja/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338774 systemd: be explicit about architecture support
  pkgs/os-specific/linux/systemd/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: portability, 6.topic: systemd

#338557 sbcl: 2.4.7 -> 2.4.8
  pkgs/development/compilers/sbcl/default.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10

#338096 linux_rpi02w: Add dtb for rpi-zero-2-w
  pkgs/os-specific/linux/kernel/linux-rpi.nix
Labels: 6.topic: kernel, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#334789 singularity: 4.1.4 -> 4.1.5
  pkgs/applications/virtualization/singularity/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#338560 utm: 4.5.3 -> 4.5.4
  pkgs/os-specific/darwin/utm/default.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#335913 libinput: 1.26.1 -> 1.26.2
  pkgs/development/libraries/libinput/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 2501-5000, 12.approvals: 1, 12.approved-by: package-maintainer

#336862 maturin: 1.7.0 -> 1.7.1
  pkgs/by-name/ma/maturin/package.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1, 12.approved-by: package-maintainer

#335585 zarf: 0.37.0 -> 0.38.3
  pkgs/applications/networking/cluster/zarf/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#280667 openfst: 1.8.2 -> 1.8.3
  pkgs/by-name/op/openfst/package.nix
  pkgs/by-name/op/opengrm-ngram/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#335596 atac: 0.16.0 -> 0.18.0
  pkgs/by-name/at/atac/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#335600 p2pool: 4.0 -> 4.1
  pkgs/applications/misc/p2pool/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#335616 getoptions: 3.3.1 -> 3.3.2
  pkgs/tools/misc/getoptions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#335638 xdg-desktop-portal-shana: 0.3.11 -> 0.3.12
  pkgs/by-name/xd/xdg-desktop-portal-shana/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#335798 pacemaker: 2.1.7 -> 2.1.8
  pkgs/misc/logging/pacemaker/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#335887 thanos: 0.35.1 -> 0.36.1
  pkgs/servers/monitoring/thanos/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#336178 treewide: avoid string-concatenating cmakeFlags
  pkgs/applications/editors/molsketch/default.nix
  pkgs/applications/graphics/pymeshlab/default.nix
  pkgs/applications/science/robotics/yarp/default.nix
  pkgs/development/libraries/aws-c-common/setup-hook.sh
  pkgs/development/libraries/openwsman/default.nix
  pkgs/development/libraries/vigra/default.nix
  pkgs/development/python-modules/hoomd-blue/default.nix
  pkgs/development/python-modules/rdkit/default.nix
  pkgs/games/commandergenius/default.nix
  pkgs/tools/filesystems/irods/common.nix
  pkgs/tools/filesystems/irods/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 501-1000, 12.approvals: 3+, 12.approved-by: package-maintainer

#336294 python3Packages.gguf: 0.6.0 -> 0.9.1
  pkgs/development/python-modules/gguf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#338688 gammastep: add missing wayland-scanner dependency
  pkgs/applications/misc/redshift/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338755 roddhjav-apparmor-rules: 0-unstable-2024-08-26 -> 0-unstable-2024-08-30
  pkgs/by-name/ro/roddhjav-apparmor-rules/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#337267 libbytesize: 2.10 -> 2.11
  pkgs/by-name/li/libbytesize/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#338785 discord: various updates
  pkgs/applications/networking/instant-messengers/discord/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#336348 scalingo: 1.32.0 -> 1.33.0
  pkgs/by-name/sc/scalingo/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#336372 feishu: 7.18.11 -> 7.22.9
  pkgs/applications/networking/instant-messengers/feishu/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#336422 frida-tools: 12.3.0 -> 12.5.0
  pkgs/tools/security/frida-tools/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#336425 httplib: 0.16.2 -> 0.16.3
  pkgs/development/libraries/httplib/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#338777 license-generator: move to by-name
  pkgs/by-name/li/license-generator/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#338788 kongress: add missing dependencies
  pkgs/kde/gear/kongress/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#338604 emacs: set foundMakefile in buildPhase of elisp builders
  pkgs/applications/editors/emacs/build-support/melpa.nix
  pkgs/applications/editors/emacs/build-support/trivial.nix
Labels: 6.topic: emacs, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#338776 cirrus-cli: 0.122.4 -> 0.124.2
  pkgs/by-name/ci/cirrus-cli/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338467 networkmanager: 1.48.8 -> 1.48.10
  pkgs/tools/networking/networkmanager/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 11-100

#338523 nixos/kubernetes: allow setting multiple kubelet dns resolvers
  nixos/doc/manual/release-notes/rl-2411.section.md
  nixos/modules/services/cluster/kubernetes/kubelet.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#338775 zed-editor: update default fonts
  pkgs/by-name/ze/zed-editor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#336832 catppuccin-cursors: 0.3.0 -> 0.3.1
  pkgs/by-name/ca/catppuccin-cursors/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#336695 radarr: 5.8.3.8933 -> 5.9.1.9070
  pkgs/servers/radarr/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#337571 mautrix-{meta,signal,whatsapp}: build with goolm
  pkgs/by-name/ma/mautrix-meta/package.nix
  pkgs/servers/mautrix-signal/default.nix
  pkgs/servers/mautrix-whatsapp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12.approved-by: package-maintainer, backport release-24.05

#336469 nagios: 4.5.3 -> 4.5.4
  pkgs/servers/monitoring/nagios/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#335138 python312Packages.howdoi: remove broken mark on darwin and remove one bad test case
  pkgs/development/python-modules/howdoi/default.nix
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#336888 handheld-daemon: 3.3.8 -> 3.3.11
  pkgs/by-name/ha/handheld-daemon/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#337021 siyuan: add desktop entry & icon, enable wayland ime
  pkgs/by-name/si/siyuan/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 12. first-time contribution

#337681 raylib: fix darwin builds
  pkgs/development/libraries/raylib/default.nix
  pkgs/development/python-modules/raylib-python-cffi/default.nix
  pkgs/development/python-modules/raylib-python-cffi/fix_macos_raylib.patch
Labels: 6.topic: python, 6.topic: darwin, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12. first-time contribution

#338815 nixos/fonts: Fix nested quotes in fontconfig.nix
  nixos/modules/config/fonts/fontconfig.nix
Labels: 6.topic: nixos, 8.has: module (update)

#338749 dvc: 3.55.0 -> 3.55.1
  pkgs/development/python-modules/dvc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#337363 python312Packages.plugwise: 1.1.0 -> 1.2.0
  pkgs/development/python-modules/plugwise/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#338784 Linux kernels 2024-09-01
  pkgs/os-specific/linux/kernel/kernels-org.json
  pkgs/os-specific/linux/kernel/linux-rt-6.1.nix
  pkgs/os-specific/linux/kernel/linux-rt-6.6.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, backport release-24.05

#338766 velero: 1.14.0 -> 1.14.1
  pkgs/by-name/ve/velero/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338756 python311Packages.llama-index-core: 0.10.60 -> 0.11.3
  pkgs/development/python-modules/llama-cloud/default.nix
  pkgs/development/python-modules/llama-index-agent-openai/default.nix
  pkgs/development/python-modules/llama-index-cli/default.nix
  pkgs/development/python-modules/llama-index-core/default.nix
  pkgs/development/python-modules/llama-index-embeddings-gemini/default.nix
  pkgs/development/python-modules/llama-index-embeddings-google/default.nix
  pkgs/development/python-modules/llama-index-embeddings-huggingface/default.nix
  pkgs/development/python-modules/llama-index-embeddings-ollama/default.nix
  pkgs/development/python-modules/llama-index-embeddings-openai/default.nix
  pkgs/development/python-modules/llama-index-graph-stores-nebula/default.nix
  pkgs/development/python-modules/llama-index-graph-stores-neo4j/default.nix
  pkgs/development/python-modules/llama-index-graph-stores-neptune/default.nix
  pkgs/development/python-modules/llama-index-indices-managed-llama-cloud/default.nix
  pkgs/development/python-modules/llama-index-legacy/default.nix
  pkgs/development/python-modules/llama-index-llms-ollama/default.nix
  pkgs/development/python-modules/llama-index-llms-openai-like/default.nix
  pkgs/development/python-modules/llama-index-llms-openai/default.nix
  pkgs/development/python-modules/llama-index-multi-modal-llms-openai/default.nix
  pkgs/development/python-modules/llama-index-program-openai/default.nix
  pkgs/development/python-modules/llama-index-question-gen-openai/default.nix
  pkgs/development/python-modules/llama-index-readers-database/default.nix
  pkgs/development/python-modules/llama-index-readers-file/default.nix
  pkgs/development/python-modules/llama-index-readers-json/default.nix
  pkgs/development/python-modules/llama-index-readers-llama-parse/default.nix
  pkgs/development/python-modules/llama-index-readers-s3/default.nix
  pkgs/development/python-modules/llama-index-readers-twitter/default.nix
  pkgs/development/python-modules/llama-index-readers-txtai/default.nix
  pkgs/development/python-modules/llama-index-readers-weather/default.nix
  pkgs/development/python-modules/llama-index-vector-stores-chroma/default.nix
  pkgs/development/python-modules/llama-index-vector-stores-google/default.nix
  pkgs/development/python-modules/llama-index-vector-stores-postgres/default.nix
  pkgs/development/python-modules/llama-index-vector-stores-qdrant/default.nix
  pkgs/development/python-modules/llama-parse/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#336901 python3Packages.{mautrix,matrix-nio}: add `withOlm` flags
  nixos/tests/matrix/mjolnir.nix
  pkgs/applications/networking/instant-messengers/matrix-commander/default.nix
  pkgs/applications/networking/instant-messengers/pantalaimon/default.nix
  pkgs/applications/networking/irc/weechat/scripts/weechat-matrix/default.nix
  pkgs/applications/networking/opsdroid/default.nix
  pkgs/development/python-modules/matrix-nio/allow-tests-without-olm.patch
  pkgs/development/python-modules/matrix-nio/default.nix
  pkgs/development/python-modules/mautrix/default.nix
  pkgs/servers/mautrix-facebook/default.nix
  pkgs/servers/mautrix-googlechat/default.nix
  pkgs/servers/mautrix-telegram/default.nix
  pkgs/tools/networking/maubot/default.nix
Labels: 6.topic: python, 6.topic: nixos, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, backport release-24.05

#332342 chiaki4deck: 1.7.4 -> 1.8.1; rename to chiaki-ng
  pkgs/games/chiaki-ng/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#338800 roundcube: 1.6.8 -> 1.6.9
  pkgs/servers/roundcube/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-24.05

#322593 pythonPackages: Add OpenStack Octavia client and Neutron bindings
  maintainers/team-list.nix
  pkgs/development/python-modules/doc8/default.nix
  pkgs/development/python-modules/os-client-config/default.nix
  pkgs/development/python-modules/osprofiler/default.nix
  pkgs/development/python-modules/python-neutronclient/default.nix
  pkgs/development/python-modules/python-octaviaclient/default.nix
  pkgs/development/python-modules/python-openstackclient/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#338272 nfs-ganesha: 5.9 -> 6.0
  pkgs/development/libraries/ntirpc/default.nix
  pkgs/servers/nfs-ganesha/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#324874 [Backport release-24.05] prismlauncher: 8.3 -> 8.4; refactor
  pkgs/by-name/pr/prismlauncher-unwrapped/package.nix
  pkgs/by-name/pr/prismlauncher/package.nix
  pkgs/games/prismlauncher/default.nix
  pkgs/games/prismlauncher/wrapper.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#338802 act: 0.2.65 -> 0.2.66
  pkgs/by-name/ac/act/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#337745 keycastr: added update script
  pkgs/by-name/ke/keycastr/package.nix
  pkgs/by-name/ke/keycastr/update.sh
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#328747 python312Packages.mdformat-gfm-alerts: init at 1.0.1
  pkgs/development/python-modules/mdformat-gfm-alerts/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#318459 u-config: init at 0.33.1
  pkgs/by-name/u-/u-config/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#336516 tidal-hifi: 5.15.0 -> 5.16.0, closes #333713
  pkgs/applications/audio/tidal-hifi/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#336629 ghidra-extensions.ghidra-delinker-extension: 0.4.0 -> 0.5.0
  pkgs/tools/security/ghidra/extensions/ghidra-delinker-extension/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#335888 maestro: update from 1.36.0 to 1.37.9
  pkgs/by-name/ma/maestro/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#330693 cataclysm-dda-git: remove incompatible patches, bump git
  pkgs/games/cataclysm-dda/git.nix
  pkgs/games/cataclysm-dda/locale-path-git.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#328866 csvtk: init at 0.30.0
  pkgs/by-name/cs/csvtk/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#324376 [24.05] xivlauncher: 1.0.9 -> 1.1.0
  pkgs/by-name/xi/xivlauncher/deps.nix
  pkgs/by-name/xi/xivlauncher/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#332753 rospo: init at 0.12.1
  pkgs/by-name/ro/rospo/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#297308 nixosTests.systemd-initrd-luks-fido2: fix test on aarch64-linux
  nixos/tests/systemd-initrd-luks-fido2.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#297045 tproxy: init at 0.8.1
  pkgs/by-name/tp/tproxy/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+

#336955 Erigon minor upgrade
  pkgs/applications/blockchains/erigon/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338157 python312Packages.protobuf5: 5.27.2 -> 5.28.0
  pkgs/development/python-modules/mitmproxy/default.nix
  pkgs/development/python-modules/protobuf/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#336212 fflogs: 8.12.19 -> 8.13.1
  pkgs/by-name/ff/fflogs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#337434 python3Packages.pystac-client: init at 0.8.3
  pkgs/development/python-modules/pystac-client/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#338323 jetbrains: 2024.2.0.2 -> 2024.2.1
  pkgs/applications/editors/jetbrains/bin/versions.json
  pkgs/applications/editors/jetbrains/plugins/plugins.json
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#336198 plexRaw: 1.40.4.8679-424562606 -> 1.40.5.8897-e5987a19d
  pkgs/servers/plex/raw.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#337397 dwt1-shell-color-scripts: fix path for shell completions
  pkgs/tools/misc/dwt1-shell-color-scripts/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#338847 scenefx: fix build
  pkgs/by-name/sc/scenefx/package.nix
Labels: 11.by: package-maintainer

#338555 vkquake: fix on darwin
  pkgs/games/quakespasm/vulkan.nix
Labels: 6.topic: darwin, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1

#338859 nixos/services.kanata: fix utils
  nixos/modules/services/hardware/kanata.nix
Labels: 6.topic: nixos, 8.has: module (update)

#338657 maintainers: add benaryorg
  maintainers/maintainer-list.nix
  nixos/tests/ceph-single-node-bluestore-dmcrypt.nix
Labels: 6.topic: nixos, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: maintainer-list (update)

#338630 [24.05] Backport fix for ceph with dmcrypt
  nixos/tests/all-tests.nix
  nixos/tests/ceph-single-node-bluestore-dmcrypt.nix
  pkgs/tools/filesystems/ceph/default.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#338049 nixos/services.neo4j: remove `with lib;`
  nixos/modules/services/databases/neo4j.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#338841 hyprpaper: fix build
  pkgs/applications/window-managers/hyprwm/hyprpaper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338822 iosevka: 31.4.0 -> 31.5.0
  pkgs/data/fonts/iosevka/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338742 python3Packages.langchain-core: 0.2.33 -> 0.2.37; refactor update script
  pkgs/development/python-modules/langchain-azure-dynamic-sessions/default.nix
  pkgs/development/python-modules/langchain-community/default.nix
  pkgs/development/python-modules/langchain-core/default.nix
  pkgs/development/python-modules/langchain-huggingface/default.nix
  pkgs/development/python-modules/langchain-mongodb/default.nix
  pkgs/development/python-modules/langchain-openai/default.nix
  pkgs/development/python-modules/langchain/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#338734 vscode-extensions.jgclark.vscode-todo-highlight: init at 2.0.8
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: vscode, 12. first-time contribution

#338723 heroku: 9.1.0 -> 9.2.0
  pkgs/development/tools/heroku/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338720 python312Packages.mkdocs-material: 9.5.33 -> 9.5.34
  pkgs/development/python-modules/mkdocs-material/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#338823 adrs: 0.2.8 -> 0.2.9
  pkgs/by-name/ad/adrs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#338845 swayidle: Pre-emptively fix finding `wayland-scanner`
  pkgs/by-name/sw/swayidle/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#338573 diffoscope: 276 -> 277
  pkgs/tools/misc/diffoscope/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10
