Repository NixOS/nixpkgs, pull requests merged in 2025-07, with the labels that each got.

#420608 fetchedMavenDeps: support proxy and custom cacerts
  lib/fetchers.nix
  pkgs/by-name/ma/maven/build-maven-package.nix
  pkgs/by-name/ma/maven/maven-proxy.py
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 6.topic: java, 12.approvals: 1, 6.topic: lib

#420700 llama-cpp: 5702 -> 5760
  pkgs/by-name/ll/llama-cpp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#420954 duplicity: 3.0.4.1 -> 3.0.5.1
  pkgs/by-name/du/duplicity/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, backport release-25.05

#421259 nexusmods-app: fix desktop entry
  pkgs/by-name/ne/nexusmods-app/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#421365 aarch64-esr-decoder: 0.2.3 -> 0.2.4
  pkgs/by-name/aa/aarch64-esr-decoder/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#412361 htslib: 1.21 -> 1.22
  pkgs/by-name/ht/htslib/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#418595 cppzmq: 4.10.0 -> 4.11.0
  pkgs/by-name/cp/cppzmq/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#419381 atmos: 1.178.0 -> 1.180.0
  pkgs/by-name/at/atmos/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421366 phpExtensions.blackfire: 1.92.38 -> 1.92.39
  pkgs/by-name/bl/blackfire/php-probe.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#420596 anubis: 1.19.1 -> 1.20.0
  nixos/tests/anubis.nix
  pkgs/by-name/an/anubis/package.nix
Labels: 6.topic: nixos, 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+, 12.approved-by: package-maintainer

#421363 tigerbeetle: 0.16.45 -> 0.16.47
  pkgs/by-name/ti/tigerbeetle/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421293 nak: 0.14.2 -> 0.14.4
  pkgs/by-name/na/nak/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421071 gotify-server{,.ui}: modernize; remove Go reference
  pkgs/by-name/go/gotify-server/package.nix
  pkgs/by-name/go/gotify-server/ui.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#418032 bind: 9.20.9 -> 9.20.10
  pkgs/by-name/bi/bind/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#421376 jreleaser-cli: 1.18.0 -> 1.19.0
  pkgs/by-name/jr/jreleaser-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421279 mergiraf: 0.10.0 -> 0.11.0
  pkgs/by-name/me/mergiraf/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-25.05

#420704 ladybird: 0-unstable-2025-06-18 -> 0-unstable-2025-06-27
  pkgs/by-name/la/ladybird/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#415324 nixos/nix-{gc,optimise}: do not start when switching
  nixos/modules/services/misc/nix-gc.nix
  nixos/modules/services/misc/nix-optimise.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2

#410403 nixos/prometheus-wireguard-exporter: add support for new flags
  nixos/modules/services/monitoring/prometheus/exporters/wireguard.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.first-time contribution

#421124 ntfs2btrfs: 20240115 -> 20250616
  pkgs/by-name/nt/ntfs2btrfs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#420891 cbmc: 6.6.0 -> 6.7.0
  pkgs/by-name/cb/cbmc/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421360 peergos: 1.6.0 -> 1.7.1
  pkgs/by-name/pe/peergos/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421456 haskell.compiler.ghc902Binary: workaround com.apple.provenance xattr
  pkgs/development/compilers/ghc/9.0.2-binary.nix
Labels: 6.topic: haskell, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-25.05

#421351 chromium,chromedriver: 138.0.7204.49 -> 138.0.7204.92
  pkgs/applications/networking/browsers/chromium/info.json
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, backport release-25.05

#421353 ecapture: 1.2.0 -> 1.3.1
  pkgs/by-name/ec/ecapture/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#421126 podofo: 1.0.0 -> 1.0.1
  pkgs/by-name/po/podofo_1_0/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#421291 cosmic-protocols: 0-unstable-2025-06-19 -> 0-unstable-2025-06-24
  pkgs/by-name/co/cosmic-protocols/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 6.topic: COSMIC

#421437 stress-ng: 0.19.01 -> 0.19.02
  pkgs/by-name/st/stress-ng/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421367 alterware-launcher: 0.11.2 -> 0.11.3
  pkgs/by-name/al/alterware-launcher/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421448 cargo-modules: 0.24.2 -> 0.24.3
  pkgs/by-name/ca/cargo-modules/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#420571 glitchtip: 5.0.4 -> 5.0.5
  pkgs/by-name/gl/glitchtip/frontend.nix
  pkgs/by-name/gl/glitchtip/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#417078 hydra: avoid drawing in development dependencies from nix 2.29 on runtime
  pkgs/by-name/hy/hydra/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421527 uniex: 0.1.7 -> 0.1.8
  pkgs/by-name/un/uniex/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421522 kdePackages: Plasma 6.4.1 -> 6.4.2
  pkgs/kde/generated/sources/plasma.json
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0

#421338 firefox-{devedition,beta}-unwrapped: 141.0b2 -> 141.0b4
  pkgs/applications/networking/browsers/firefox/packages/firefox-beta.nix
  pkgs/applications/networking/browsers/firefox/packages/firefox-devedition.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-25.05

#421514 xen: patch with XSA-470
  pkgs/by-name/xe/xen/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 6.topic: xen-project, backport release-25.05

#421517 librenms: 25.5.0 -> 25.6.0
  pkgs/by-name/li/librenms/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#421309 wezterm: 0-unstable-2025-05-18 -> 0-unstable-2025-06-24
  pkgs/by-name/we/wezterm/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421546 ungoogled-chromium: 138.0.7204.49-1 -> 138.0.7204.96-1
  pkgs/applications/networking/browsers/chromium/info.json
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-25.05

#421443 google-chrome: 138.0.7204.49 -> 138.0.7204.92
  pkgs/by-name/go/google-chrome/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-25.05

#421505 wivrn: 25.6 -> 25.6.1
  pkgs/by-name/wi/wivrn/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#421566 uwsm: 0.22.0 -> 0.23.0
  pkgs/by-name/uw/uwsm/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#421567 microsoft-edge: 137.0.3296.93 -> 138.0.3351.55
  pkgs/by-name/mi/microsoft-edge/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-25.05

#421521 shopware-cli: 0.6.10 -> 0.6.16
  pkgs/by-name/sh/shopware-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421572 [release-25.05]: nixos/systemd-stage-1: follow systemd /run propagation
  nixos/modules/system/boot/systemd/initrd.nix
  nixos/tests/all-tests.nix
  nixos/tests/systemd-initrd-credentials.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: systemd, 12.approvals: 1, 4.workflow: backport

#421141 ps3-disc-dumper: 4.3.6 -> 4.3.9
  pkgs/by-name/ps/ps3-disc-dumper/deps.json
  pkgs/by-name/ps/ps3-disc-dumper/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421485 sudo-rs: 0.2.6 -> 0.2.7
  pkgs/by-name/su/sudo-rs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-25.05

#421255 open-policy-agent: 1.5.1 -> 1.6.0
  pkgs/by-name/op/open-policy-agent/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#419109 ocamlPackages.ocaml_pcre: 8.0.3 -> 8.0.4
  pkgs/development/ocaml-modules/pcre/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#420957 html2text: fix build with gettext 0.25; 2.2.3 -> 2.3.0
  pkgs/by-name/ht/html2text/gettext-0.25.patch
  pkgs/by-name/ht/html2text/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#421519 lunatask: 2.0.22 -> 2.1.1
  pkgs/by-name/lu/lunatask/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-25.05

#421415 sheldon: 0.8.2 -> 0.8.3
  pkgs/by-name/sh/sheldon/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421610 github-mcp-server: 0.5.0 -> 0.6.0
  pkgs/by-name/gi/github-mcp-server/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420262 [Backport release-25.05] nixVersions.nix: 2.28.3 -> 2.28.4, 2.29.0 -> 2.29.1, 2.24.14 -> 2.24.15
  nixos/modules/installer/tools/nix-fallback-paths.nix
  pkgs/tools/package-management/nix/default.nix
  pkgs/tools/package-management/nix/patches/ghsa-g948-229j-48j3-2.24.patch
  pkgs/tools/package-management/nix/patches/ghsa-g948-229j-48j3-2.28.patch
  pkgs/tools/package-management/nix/patches/ghsa-g948-229j-48j3-2.29.patch
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 4.workflow: backport

#421468 tscli: 0.0.8 -> 0.0.9
  pkgs/by-name/ts/tscli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421260 texlive: fix darwin build
  pkgs/tools/typesetting/tex/texlive/bin.nix
  pkgs/tools/typesetting/tex/texlive/truncate-luajit-version-number.patch
Labels: 6.topic: darwin, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 6.topic: TeX

#421179 vscode-extensions.ms-toolsai.jupyter: 2025.4.1 -> 2025.5.0
  pkgs/applications/editors/vscode/extensions/ms-toolsai.jupyter/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 6.topic: vscode

#420924 vscode-extensions.eamodio.gitlens: 17.2.0 -> 17.2.1
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 6.topic: vscode

#421413 python3Packages.orbax-checkpoint: 0.11.16 -> 0.11.18
  pkgs/development/python-modules/orbax-checkpoint/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1

#421627 firefox-unwrapped: 140.0.1 -> 140.0.2
  pkgs/applications/networking/browsers/firefox/packages/firefox.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, backport release-25.05

#416121 haskellPackages.yaml: build executables
  pkgs/development/haskell-modules/configuration-nix.nix
Labels: 6.topic: haskell, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#421559 tlsinfo: 0.1.47 -> 0.1.48
  pkgs/by-name/tl/tlsinfo/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#421641 zashboard: 1.94.2 -> 1.96.0
  pkgs/by-name/za/zashboard/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#419772 terraform-providers.gridscale: 2.1.1 -> 2.1.2
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#419774 terraform-providers.aiven: 4.41.0 -> 4.42.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#419784 terraform-providers.grafana: 3.25.2 -> 3.25.3
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#419949 terraform-providers.huaweicloud: 1.75.3 -> 1.75.5
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#419974 terraform-providers.migadu: 2025.6.12 -> 2025.6.19
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#408333 e2fsprogs: support mkfs.ext4 -d with libarchive
  pkgs/by-name/e2/e2fsprogs/package.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+, 12.approvals: 2

#419982 terraform-providers.opentelekomcloud: 1.36.40 -> 1.36.41
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420003 terraform-providers.datadog: 3.65.0 -> 3.66.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420041 terraform-providers.venafi: 0.22.2 -> 0.22.3
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420283 terraform-providers.google-beta: 6.40.0 -> 6.41.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420457 terraform-providers.newrelic: 3.62.1 -> 3.63.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420755 terraform-providers.auth0: 1.21.0 -> 1.22.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420946 terraform-providers.ibm: 1.79.1 -> 1.79.2
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421052 terraform-providers.helm: 2.17.0 -> 3.0.2
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421497 jq: 1.8.0 -> 1.8.1
  pkgs/by-name/jq/jq/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 2501-5000, 12.approvals: 3+, 12.approved-by: package-maintainer, backport staging-25.05

#420937 nodejs_24: fix test
  pkgs/development/web/nodejs/v24.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: nodejs, 12.approvals: 1, backport release-25.05

#421591 zigbee2mqtt_2: 2.4.0 -> 2.5.0
  pkgs/by-name/zi/zigbee2mqtt_2/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421425 mufetch: init at 0.1.1
  pkgs/by-name/mu/mufetch/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#421669 python3Packages.jsonpath-ng: temporarily use setuptools format
  pkgs/development/python-modules/jsonpath-ng/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#421601 okteto: 3.8.0 -> 3.9.0
  pkgs/by-name/ok/okteto/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421620 harbor-cli: 0.0.7 -> 0.0.8
  pkgs/by-name/ha/harbor-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421613 openimageio: 3.0.7.0 -> 3.0.8.0
  pkgs/by-name/op/openimageio/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#421674 zizmor: 1.9.0 -> 1.11.0
  pkgs/by-name/zi/zizmor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421635 blackfire: 2.28.26 -> 2.28.28
  pkgs/by-name/bl/blackfire/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421685 aseprite: add meta.mainProgram
  pkgs/by-name/as/aseprite/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#421550 element-{web-unwrapped,desktop}: 1.11.104 -> 1.11.105
  pkgs/by-name/el/element-desktop/element-desktop-pin.nix
  pkgs/by-name/el/element-web-unwrapped/element-web-pin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#421235 paisa: init at 0.7.3
  nixos/tests/all-tests.nix
  nixos/tests/paisa.nix
  pkgs/by-name/pa/paisa/package.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#420813 abook: 0.6.1 -> 0.6.2
  pkgs/by-name/ab/abook/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#420933 playwright: 1.52 -> 1.53
  pkgs/by-name/pl/playwright-mcp/package.nix
  pkgs/development/python-modules/playwright/default.nix
  pkgs/development/web/playwright/browsers.json
  pkgs/development/web/playwright/chromium-headless-shell.nix
  pkgs/development/web/playwright/chromium.nix
  pkgs/development/web/playwright/driver.nix
  pkgs/development/web/playwright/firefox.nix
  pkgs/development/web/playwright/webkit.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 2, 12.approved-by: package-maintainer

#421652 mame: use absolute path to bgfx data directory
  pkgs/applications/emulators/mame/001-use-absolute-paths.diff
  pkgs/applications/emulators/mame/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#421644 libretro.flycast: 0-unstable-2025-06-20 -> 0-unstable-2025-06-27
  pkgs/applications/emulators/libretro/cores/flycast.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#421624 libretro.bsnes: 0-unstable-2025-06-20 -> 0-unstable-2025-06-27
  pkgs/applications/emulators/libretro/cores/bsnes.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#420370 luaPackages: update on 2025-06-26
  pkgs/development/lua-modules/generated-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: lua

#421640 erofs-utils: 1.8.7 -> 1.8.9
  pkgs/by-name/er/erofs-utils/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#420382 llvmPackages.clang: embed resource directory in Clang libraries
  pkgs/development/compilers/llvm/common/clang/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: llvm/clang

#421682 csharpier: 1.0.2 -> 1.0.3
  pkgs/by-name/cs/csharpier/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#412309 nixos/greetd: make use of package option
  nixos/modules/services/display-managers/greetd.nix
  pkgs/applications/display-managers/greetd/default.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#416301 python3Packages.knx-frontend: 2025.4.1.91934 -> 2025.6.13.181749
  pkgs/development/python-modules/knx-frontend/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#420715 vscode-css-languageserver: init at 1.101.2
  pkgs/by-name/vs/vscode-css-languageserver/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421611 moosefs: 4.57.6 -> 4.57.7
  pkgs/by-name/mo/moosefs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#418180 linux-pam: apply patch for CVE-2025-6020
  pkgs/by-name/li/linux-pam/CVE-2025-6020.patch
  pkgs/by-name/li/linux-pam/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 5001+, backport staging-25.05

#421531 openssl_3_5: 3.5.0 -> 3.5.1; openssl_3: 3.0.16 -> 3.0.17
  pkgs/development/libraries/openssl/3.5/CVE-2025-4575.patch
  pkgs/development/libraries/openssl/3.5/quic_accept.patch
  pkgs/development/libraries/openssl/default.nix
Labels: 8.has: package (update), 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 11.by: package-maintainer, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+

#421731 spotify-player: 0.20.5 -> 0.20.6
  pkgs/by-name/sp/spotify-player/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#417635 nixos/avahi-daemon: add dependency to ensure `/run/avahi-daemon` is created before socket activation
  nixos/modules/services/networking/avahi-daemon.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#421727 {libqalculate, qalculate-gtk, qalculate-qt}: 5.5.x -> 5.6.0
  pkgs/by-name/li/libqalculate/package.nix
  pkgs/by-name/qa/qalculate-gtk/package.nix
  pkgs/by-name/qa/qalculate-qt/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#421725 jdd: remove forgotten `rec`
  pkgs/by-name/jd/jdd/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#421720 proton-ge-bin: GE-Proton10-7 -> GE-Proton10-8
  pkgs/by-name/pr/proton-ge-bin/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, backport release-25.05

#414231 nixos/lib/test-driver: try using XDG_RUNTIME_DIR if available
  nixos/lib/test-driver/src/test_driver/driver.py
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: testing, 12.approvals: 1

#421774 jq: backport patch for GHSA-f946-j5j2-4w5m
  pkgs/by-name/jq/jq/0006-Fix-GHSA-f946-j5j2-4w5m-stack-overflow-by-limit-regex-parse-depth.patch
  pkgs/by-name/jq/jq/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1, 4.workflow: backport

#421541 pantheon.gala: 8.2.3 -> 8.2.4
  pkgs/desktops/pantheon/desktop/gala/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: pantheon

#421421 zsh-forgit: 25.06.0 -> 25.07.0
  pkgs/by-name/zs/zsh-forgit/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#419879 openapi-generator-cli: 7.13.0 -> 7.14.0
  pkgs/tools/networking/openapi-generator-cli/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#421803 eask-cli: 0.11.6 -> 0.11.7
  pkgs/by-name/ea/eask-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421573 libff: remove boost dependency
  pkgs/by-name/li/libff/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer, 12.first-time contribution

#421794 intel-gmmlib: 22.7.2 -> 22.7.3
  pkgs/by-name/in/intel-gmmlib/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#421746 gildas: 20250601_a -> 20250701_a
  pkgs/by-name/gi/gildas/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421825 typstyle: 0.13.11 -> 0.13.13
  pkgs/by-name/ty/typstyle/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421818 distroshelf: 1.0.8 -> 1.0.12
  pkgs/by-name/di/distroshelf/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#418293 linux_latest-libre: 19812 -> 19835
  pkgs/os-specific/linux/kernel/linux-libre.nix
  pkgs/os-specific/linux/kernel/update-libre.sh
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 10.rebuild-linux: 501-1000

#421729 git-gamble: 2.10.0 -> 2.11.0
  pkgs/by-name/gi/git-gamble/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421849 qt6.qtdeclarative: pick a patch from upstream
  pkgs/development/libraries/qt-6/modules/qtdeclarative/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 101-500, 10.rebuild-linux: 1001-2500, 1.severity: channel blocker, 4.workflow: backport

#421033 splitcode: 0.31.2 -> 0.31.3
  pkgs/by-name/sp/splitcode/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#417069 converged-security-suite: init at 2.8.1
  pkgs/by-name/co/converged-security-suite/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421878 devenv: 1.6.1 -> 1.7
  pkgs/by-name/de/devenv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, backport release-25.05

#421453 fleet: 4.69.0 -> 4.70.0
  pkgs/by-name/fl/fleet/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#419086 python3Packages.useful-types: init at 0.2.1
  maintainers/maintainer-list.nix
  pkgs/development/python-modules/useful-types/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.first-time contribution, 8.has: maintainer-list (update)

#418280 libxml2: 2.14.3 -> 2.14.4-unstable-06-20
  pkgs/development/libraries/libxml2/default.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin-stdenv, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#421872 matrix-alertmanager-receiver: 2025.5.21 -> 2025.7.2
  pkgs/by-name/ma/matrix-alertmanager-receiver/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#421375 grpc-client-cli: 1.22.3 -> 1.22.4
  pkgs/by-name/gr/grpc-client-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421908 thunderbird-esr: 128.11.1esr -> 128.12.0esr
  pkgs/applications/networking/mailreaders/thunderbird/packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-25.05

#421909 zigbee2mqtt_2: 2.5.0 -> 2.5.1
  pkgs/by-name/zi/zigbee2mqtt_2/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421861 maintainers: arcadio, update email
  maintainers/maintainer-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#421844 vimPlugins.claudecode-nvim: init at 2025-06-21
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 6.topic: vim, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#420515 cdrtools: unpin llvmPackages_14
  pkgs/tools/cd-dvd/cdrtools/default.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#421452 aravis: 0.8.34 -> 0.8.35
  pkgs/by-name/ar/aravis/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#421282 apko: 0.27.9 -> 0.29.1
  pkgs/by-name/ap/apko/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#419676 google-cloud-sdk: fix gcloud alpha/beta commands
  pkgs/tools/admin/google-cloud-sdk/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#421958 brush: 0.2.18 -> 0.2.19
  pkgs/by-name/br/brush/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421238 gdevelop: 5.5.231 -> 5.5.233
  pkgs/by-name/gd/gdevelop/darwin.nix
  pkgs/by-name/gd/gdevelop/linux.nix
  pkgs/by-name/gd/gdevelop/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#421948 framework-tool: 0.4.3 -> 0.4.5
  pkgs/by-name/fr/framework-tool/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#421954 mesa: 25.1.4 -> 25.1.5
  pkgs/development/libraries/mesa/common.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#421952 home-assistant-custom-lovelace-modules.universal-remote-card: 4.6.0 -> 4.6.1
  pkgs/servers/home-assistant/custom-lovelace-modules/universal-remote-card/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#421897 glusterfs: 11.1 -> 11.2
  pkgs/by-name/gl/glusterfs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#421974 libretro.gambatte: 0-unstable-2025-06-20 -> 0-unstable-2025-06-27
  pkgs/applications/emulators/libretro/cores/gambatte.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#420658 libarchive: Remove dependency on e2fsprogs
  pkgs/by-name/e2/e2fsprogs/package.nix
  pkgs/by-name/li/libarchive/package.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 5001+, 10.rebuild-linux: 5001+, 12.approvals: 1

#421984 [25.05] libs3, deepin.dtk6gui: backport minor build fixes
  pkgs/by-name/li/libs3/package.nix
  pkgs/desktops/deepin/library/dtk6gui/default.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer, 6.topic: deepin, 4.workflow: backport

#421792 nixVersions.git.tests.srcVersion: fix
  pkgs/tools/package-management/nix/tests.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, backport release-25.05
