Repository NixOS/nixpkgs, pull requests merged in 2025-10, with the labels that each got.

#447601 teams-for-linux: 2.5.8 -> 2.5.9
  pkgs/by-name/te/teams-for-linux/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447611 bluemap: 5.11 -> 5.12
  pkgs/by-name/bl/bluemap/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#437038 fractal: fix cross compilation
  pkgs/by-name/fr/fractal/package.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#437704 papers: fix cross compilation
  pkgs/by-name/pa/papers/package.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#437708 snapshot: fix cross compilation
  pkgs/by-name/sn/snapshot/package.nix
Labels: 6.topic: cross-compilation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447595 cosmic-packages: `bin-src` -> `cargo-target-dir`
  pkgs/by-name/co/cosmic-applibrary/package.nix
  pkgs/by-name/co/cosmic-bg/package.nix
  pkgs/by-name/co/cosmic-edit/package.nix
  pkgs/by-name/co/cosmic-files/package.nix
  pkgs/by-name/co/cosmic-greeter/package.nix
  pkgs/by-name/co/cosmic-idle/package.nix
  pkgs/by-name/co/cosmic-launcher/package.nix
  pkgs/by-name/co/cosmic-notifications/package.nix
  pkgs/by-name/co/cosmic-panel/package.nix
  pkgs/by-name/co/cosmic-player/package.nix
  pkgs/by-name/co/cosmic-randr/package.nix
  pkgs/by-name/co/cosmic-screenshot/package.nix
  pkgs/by-name/co/cosmic-settings/package.nix
  pkgs/by-name/co/cosmic-store/package.nix
  pkgs/by-name/co/cosmic-term/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 6.topic: COSMIC

#444693 amdvlk,nixos/amdvlk: drop
  nixos/doc/manual/configuration/gpu-accel.chapter.md
  nixos/doc/manual/release-notes/rl-2411.section.md
  nixos/doc/manual/release-notes/rl-2511.section.md
  nixos/modules/module-list.nix
  nixos/modules/rename.nix
  nixos/modules/services/hardware/amdgpu.nix
  nixos/modules/services/hardware/amdvlk.nix
  pkgs/by-name/am/amdvlk/package.nix
  pkgs/by-name/am/amdvlk/test.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/all-packages.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 3+, 12.approved-by: package-maintainer

#447434 linux/common-config: disable Bcachefs configs for version >= 6.18
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 6.topic: kernel, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, backport release-25.05

#447252 windsurf: 1.12.11 -> 1.12.12
  pkgs/by-name/wi/windsurf/info.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#447688 vscode: 1.104.1 -> 1.104.2
  pkgs/applications/editors/vscode/vscode.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: vscode, 12.first-time contribution

#446464 python313Packages.airos: 0.4.4 -> 0.5.3
  pkgs/development/python-modules/airos/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#444224 python3Packages.pymiele: 0.5.4 -> 0.5.5
  pkgs/development/python-modules/pymiele/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1

#444715 fire: 1.0.2-unstable-2025-08-16 -> 1.5.0b-unstable-2025-09-20
  pkgs/by-name/fi/fire/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#447667 terraform-providers.google-beta: 7.3.0 -> 7.5.0
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#446377 signal-desktop: 7.70.0 -> 7.72.1
  pkgs/by-name/si/signal-desktop/libsignal-node.nix
  pkgs/by-name/si/signal-desktop/package.nix
  pkgs/by-name/si/signal-desktop/ringrtc.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#446600 hushboard: unstable-2021-03-17 -> 0-unstable-2024-04-28, move to by-name
  pkgs/by-name/hu/hushboard/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#444411 cloudflared: 2025.8.1 -> 2025.9.1
  pkgs/by-name/cl/cloudflared/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447638 zfs_unstable: 2.4.0-rc1 -> 2.4.0-rc2
  pkgs/os-specific/linux/zfs/generic.nix
  pkgs/os-specific/linux/zfs/unstable.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#447699 python3Packages.databricks-sdk: 0.65.0 -> 0.67.0
  pkgs/development/python-modules/databricks-sdk/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#447629 polymake: 4.14 -> 4.15
  pkgs/by-name/po/polymake/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447547 python3Packages.click-odoo-contrib: 1.21 -> 1.22
  pkgs/development/python-modules/click-odoo-contrib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#447708 qwen-code: 0.0.13 -> 0.0.14
  pkgs/by-name/qw/qwen-code/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447717 terraform-providers.nomad: 2.5.0 -> 2.5.1
  pkgs/applications/networking/cluster/terraform-providers/providers.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447599 immich: 1.143.1 -> 1.144.1
  pkgs/by-name/im/immich-cli/package.nix
  pkgs/by-name/im/immich/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 12.first-time contribution

#447059 sdrangel: 7.22.8 -> 7.22.9
  pkgs/by-name/sd/sdrangel/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447647 renovate: 41.81.0 -> 41.132.4, fix nixos test
  nixos/tests/renovate.nix
  pkgs/by-name/re/renovate/package.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#444782 quantframe: 1.4.3 - 1.5.3
  maintainers/maintainer-list.nix
  pkgs/by-name/qu/quantframe/0001-disable-telemetry.patch
  pkgs/by-name/qu/quantframe/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 12.first-time contribution, 8.has: maintainer-list (update)

#447572 merkaartor: update to qt6
  pkgs/by-name/me/merkaartor/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#447658 python313Packages.aioecowitt: 2025.9.1 -> 2025.9.2
  pkgs/development/python-modules/aioecowitt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 9.needs: reviewer

#447765 ocamlPackages.alcotest: 1.9.0 -> 1.9.1
  pkgs/development/ocaml-modules/alcotest/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500

#447453 bcachefs-tools: 1.31.3 -> 1.31.6
  pkgs/by-name/bc/bcachefs-tools/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#447682 media-downloader: 5.4.2 -> 5.4.3
  pkgs/by-name/me/media-downloader/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#446865 python3Packages.mcp: 1.14.0 -> 1.15.0
  pkgs/development/python-modules/fastmcp/default.nix
  pkgs/development/python-modules/mcp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#447782 _1password-gui-beta: 8.11.12-26.BETA -> 8.11.14-19.BETA
  pkgs/by-name/_1/_1password-gui/sources.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447784 vimPlugins.project-nvim: 2025-09-26 -> 2025-10-01
  pkgs/applications/editors/vim/plugins/generated.nix
Labels: 6.topic: vim, 10.rebuild-darwin: 0, 10.rebuild-linux: 0

#447602 slade-unstable: 3.2.7-unstable-2025-09-03 -> 3.2.7-unstable-2025-09-30
  pkgs/by-name/sl/slade-unstable/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447766 chromium,chromedriver: 140.0.7339.207 -> 141.0.7390.54
  pkgs/applications/networking/browsers/chromium/browser.nix
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/info.json
  pkgs/applications/networking/browsers/chromium/patches/chromium-141-rust.patch
  pkgs/applications/networking/browsers/chromium/patches/webrtc-pipewire-1.4.patch
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, backport release-25.05

#428418 nixos/github-runner: use apply to override package
  nixos/modules/services/continuous-integration/github-runner/options.nix
  nixos/modules/services/continuous-integration/github-runner/service.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#444984 kustomize-sops: add binary
  pkgs/development/tools/kustomize/kustomize-sops.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.first-time contribution

#447803 pkarr: 2.0.0 -> 4.0.0
  pkgs/by-name/pk/pkarr/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447816 scip-go: 0.1.25 -> 0.1.26
  pkgs/by-name/sc/scip-go/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447759 dablin: 1.16.0 -> 1.16.1
  pkgs/by-name/da/dablin/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447339 quartus-prime-lite: 23.1std.1.993 -> 24.1std.0.1077
  maintainers/maintainer-list.nix
  pkgs/by-name/qu/quartus-prime-lite/quartus.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 12.first-time contribution, 8.has: maintainer-list (update)

#447821 argocd: 3.1.6 -> 3.1.8
  pkgs/by-name/ar/argocd/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447470 python3Packages.pipx: 1.7.1 -> 1.8.0
  pkgs/development/python-modules/pipx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447538 linuxPackages.nvidiaPackages.production: 580.82.09 -> 580.95.05
  pkgs/os-specific/linux/nvidia-x11/default.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 12.approvals: 1, 6.topic: nvidia

#447654 kitty: 0.43.0->0.43.1
  pkgs/by-name/ki/kitty/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#447613 tlrc: 1.11.1 -> 1.12.0
  pkgs/by-name/tl/tlrc/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 11.by: upstream-developer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#447619 mtail: 3.2.16 -> 3.2.18
  pkgs/by-name/mt/mtail/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447570 horizon-eda: 2.7.0 -> 2.7.1
  pkgs/by-name/ho/horizon-eda/base.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#447503 openspeedrun: init at 0.3.3
  pkgs/by-name/op/openspeedrun/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#447596 vscode-extensions.cweijan.vscode-database-client2: 8.4.0 -> 8.4.2
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 6.topic: vscode, 9.needs: reviewer

#447743 ocamlPackages.hxd: 0.3.4 -> 0.3.5
  pkgs/development/ocaml-modules/hxd/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447773 python3Packages.textual: 6.2.0 -> 6.2.1
  pkgs/development/python-modules/textual/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#447712 mackerel-agent: 0.85.1 -> 0.85.2
  pkgs/by-name/ma/mackerel-agent/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447646 python3Packages.pyinstaller-hooks-contrib: 2025.8 -> 2025.9
  pkgs/development/python-modules/pyinstaller-hooks-contrib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#447663 python3Packages.cantools: 40.7.0 -> 40.7.1
  pkgs/development/python-modules/cantools/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#447672 python3Packages.blake3: 1.0.6 -> 1.0.7
  pkgs/development/python-modules/blake3/Cargo.lock
  pkgs/development/python-modules/blake3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#447763 python3Packages.langsmith: 0.4.29 -> 0.4.31
  pkgs/development/python-modules/langsmith/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#447764 cni-plugin-flannel: 1.7.1-flannel2 -> 1.8.0-flannel1
  pkgs/tools/networking/flannel/plugin.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447798 python3Packages.trimesh: 4.8.2 -> 4.8.3
  pkgs/development/python-modules/trimesh/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#447804 polarity: latest-unstable-2025-09-17 -> latest-unstable-2025-09-25
  pkgs/by-name/po/polarity/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#438382 mdadm: 4.3 -> 4.4
  nixos/tests/installer.nix
  nixos/tests/systemd-initrd-swraid.nix
  pkgs/by-name/md/mdadm4/package.nix
Labels: 6.topic: nixos, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 1-10, 12.approvals: 1, 10.rebuild-nixos-tests

#447850 mozillavpn: 2.31.0 -> 2.31.1
  pkgs/by-name/mo/mozillavpn/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-25.05

#426954 deco: fix build
  pkgs/by-name/de/deco/package.nix
  pkgs/by-name/sc/scsh/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447800 [Backport release-25.05] chromium,chromedriver: 140.0.7339.207 -> 141.0.7390.54
  pkgs/applications/networking/browsers/chromium/browser.nix
  pkgs/applications/networking/browsers/chromium/common.nix
  pkgs/applications/networking/browsers/chromium/info.json
  pkgs/applications/networking/browsers/chromium/patches/chromium-141-rust.patch
Labels: 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 4.workflow: backport

#447817 ocamlPackages.ocp-indent: 1.8.2 -> 1.9.0
  pkgs/development/tools/ocaml/ocp-indent/default.nix
Labels: 6.topic: ocaml, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 9.needs: reviewer

#447886 llvmPackages_latest: llvmPackages_20 -> llvmPackages_21
  pkgs/top-level/aliases.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 9.needs: reviewer

#447854 jujutsu: 0.33.0 -> 0.34.0
  pkgs/by-name/ju/jujutsu/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 1

#447835 ossia-score: 3.7.0 -> 3.7.1
  pkgs/by-name/os/ossia-score/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447845 clifm: 1.26 -> 1.26.3
  pkgs/by-name/cl/clifm/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1

#447872 devenv: 1.9 -> 1.9.1
  pkgs/by-name/de/devenv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#445776 wemeet: improve packaging
  pkgs/by-name/we/wemeet/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 2

#447881 driversi686Linux.mesa: 25.2.3 -> 25.2.4
  pkgs/development/libraries/mesa/common.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#445920 commonsLang: 3.18.0 -> 3.19.0
  pkgs/by-name/co/commonsLang/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#447892 nodePackages.unified-language-server: drop
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nodejs, 9.needs: reviewer

#447685 python3Packages.imageio: fetch patch to fix failing tests
  pkgs/development/python-modules/imageio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1, 12.approved-by: package-maintainer

#447786 hmcl: 3.6.17 -> 3.6.18
  pkgs/by-name/hm/hmcl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447921 nixos/pipewire: also propagate LV2_PATH to standalone filter-chain
  nixos/modules/services/desktops/pipewire/pipewire.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#447777 {nodePackages,vimPlugins}.coc-vetur: drop
  pkgs/applications/editors/vim/plugins/aliases.nix
  pkgs/applications/editors/vim/plugins/nodePackagePlugins.nix
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 8.has: clean-up, 6.topic: vim, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: nodejs, 12.approvals: 1

#411770 nodePackages.rimraf: drop
  doc/release-notes/rl-2511.section.md
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: nodejs, 10.rebuild-darwin: 1, 9.needs: reviewer

#447783 laravel: 5.17.0 -> 5.19.0
  pkgs/by-name/la/laravel/composer.lock
  pkgs/by-name/la/laravel/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#447912 opencode: 0.13.5 -> 0.14.0
  pkgs/by-name/op/opencode/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447840 cspell: migrate from nodePackages
  pkgs/by-name/cs/cspell/inject-workplace-deps.patch
  pkgs/by-name/cs/cspell/package.nix
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: nodejs, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447720 home-assistant: 2025.9.4 -> 2025.10.0
  pkgs/development/python-modules/aioamazondevices/default.nix
  pkgs/development/python-modules/aioecowitt/default.nix
  pkgs/development/python-modules/aioesphomeapi/default.nix
  pkgs/development/python-modules/aiohasupervisor/default.nix
  pkgs/development/python-modules/aiohomematic/default.nix
  pkgs/development/python-modules/aiohue/default.nix
  pkgs/development/python-modules/aiounifi/default.nix
  pkgs/development/python-modules/airos/default.nix
  pkgs/development/python-modules/bellows/default.nix
  pkgs/development/python-modules/deebot-client/default.nix
  pkgs/development/python-modules/py-aosmith/default.nix
  pkgs/development/python-modules/pymiele/default.nix
  pkgs/development/python-modules/pynecil/default.nix
  pkgs/development/python-modules/pyvesync/default.nix
  pkgs/development/python-modules/systembridgeconnector/default.nix
  pkgs/development/python-modules/systembridgemodels/default.nix
  pkgs/development/python-modules/thinqconnect/default.nix
  pkgs/development/python-modules/universal-silabs-flasher/default.nix
  pkgs/development/python-modules/yalexs/default.nix
  pkgs/development/python-modules/zha-quirks/default.nix
  pkgs/development/python-modules/zha/default.nix
  pkgs/development/python-modules/zigpy-deconz/default.nix
  pkgs/development/python-modules/zigpy-znp/default.nix
  pkgs/development/python-modules/zigpy/default.nix
  pkgs/servers/home-assistant/component-packages.nix
  pkgs/servers/home-assistant/custom-components/homematicip_local/package.nix
  pkgs/servers/home-assistant/default.nix
  pkgs/servers/home-assistant/frontend.nix
  pkgs/servers/home-assistant/intents.nix
  pkgs/servers/home-assistant/stubs.nix
  pkgs/servers/home-assistant/tests.nix
Labels: 6.topic: python, 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 1001-2500

#447897 libretro.beetle-pce-fast: 0-unstable-2025-09-19 -> 0-unstable-2025-09-26
  pkgs/applications/emulators/libretro/cores/beetle-pce-fast.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#447706 amd-blis: add patch to make output reproducible, cleanup
  pkgs/by-name/am/amd-blis/build-date.patch
  pkgs/by-name/am/amd-blis/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1

#447795 feedbackd: 0.8.4 -> 0.8.5
  pkgs/by-name/fe/feedbackd/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#447942 feedbackd-device-themes: 0.8.5 -> 0.8.6
  pkgs/by-name/fe/feedbackd-device-themes/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447929 haskellPackages.agda2hs: 1.3-unstable-2025-07-25 -> 1.4
  pkgs/development/haskell-modules/configuration-common.nix
Labels: 6.topic: haskell, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#445785 mediamate: init at 3.8.2-316
  pkgs/by-name/me/mediamate/package.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 10.rebuild-darwin: 1, 12.approvals: 2, backport release-25.05

#447955 mesa: fix build with llvm 21 on exotic platforms
  pkgs/development/libraries/mesa/default.nix
  pkgs/development/libraries/mesa/gallivm-llvm-21.patch
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#447853 aliyun-cli: 3.0.302 -> 3.0.305
  pkgs/by-name/al/aliyun-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447904 fluxcd: 2.6.4 -> 2.7.0
  pkgs/by-name/fl/fluxcd/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447926 cargo-llvm-lines: 0.4.44 -> 0.4.45
  pkgs/by-name/ca/cargo-llvm-lines/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447968 bilibili: 1.17.2-1 -> 1.17.2-2
  pkgs/by-name/bi/bilibili/sources.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 9.needs: reviewer

#447883 reaper: 7.46 -> 7.47
  pkgs/applications/audio/reaper/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447974 ytdl-sub: 2025.09.13 -> 2025.09.27.post4
  pkgs/by-name/yt/ytdl-sub/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447822 home-assistant-custom-lovelace-modules.material-you-utilities: 2.0.13 -> 2.0.14
  pkgs/servers/home-assistant/custom-lovelace-modules/material-you-utilities/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447908 glaze: 5.7.1 -> 5.7.2
  pkgs/by-name/gl/glaze/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#446140 lowfi: 1.6.0 -> 1.7.2
  pkgs/by-name/lo/lowfi/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#447941 cnquery: 12.1.0 -> 12.3.0
  pkgs/by-name/cn/cnquery/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#445992 python3Packages.iplotx: 0.6.5 -> 0.9.0
  pkgs/development/python-modules/iplotx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#447823 kiro: 0.2.59 -> 0.3.0
  pkgs/by-name/ki/kiro/package.nix
  pkgs/by-name/ki/kiro/sources.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447650 python3Packages.oelint-parser: 8.4.3 -> 8.5.1
  pkgs/development/python-modules/oelint-parser/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#447758 readest: 0.9.81 -> 0.9.82
  pkgs/by-name/re/readest/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#447991 bloop: 2.0.14 -> 2.0.15
  pkgs/by-name/bl/bloop/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447736 Revert "treewide: undo changes causing rebuilds"
  pkgs/development/compilers/gcc/patches/default.nix
  pkgs/stdenv/generic/make-derivation.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: stdenv, 12.approvals: 1

#441512 crow-translate: 3.1.0 -> 4.0.2
  pkgs/by-name/cr/crow-translate/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#447573 jankyborders: 1.8.3 -> 1.8.4
  pkgs/by-name/ja/jankyborders/package.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0, 11.by: package-maintainer, 10.rebuild-darwin: 1, 9.needs: reviewer

#448014 python3Packages.urllib3-future: 2.14.900 -> 2.14.901
  pkgs/development/python-modules/urllib3-future/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447976 typescript: 5.9.2 -> 5.9.3 after using GitHub source again
  pkgs/by-name/ty/typescript/disable-dprint-dstBundler.patch
  pkgs/by-name/ty/typescript/package-lock.json
  pkgs/by-name/ty/typescript/package.nix
  pkgs/by-name/ty/typescript/update.bash
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 9.needs: reviewer

#448012 python3Packages.django_5_2: 5.2.6 -> 5.2.7; python3Packages.django_5_1: 5.1.12 -> 5.1.13
  pkgs/development/python-modules/django/5_1.nix
  pkgs/development/python-modules/django/5_2.nix
Labels: 6.topic: python, 1.severity: security, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, backport release-25.05, 9.needs: reviewer

#447960 protonmail-desktop: 1.9.0 -> 1.9.1
  pkgs/by-name/pr/protonmail-desktop/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-25.05

#447998 gemini-cli: 0.6.1 -> 0.7.0
  pkgs/by-name/ge/gemini-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12.approved-by: package-maintainer, backport release-25.05

#447780 television: 0.13.2 -> 0.13.4
  pkgs/by-name/te/television/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#448034 Kernel updates for 2025-10-02
  pkgs/os-specific/linux/kernel/common-config.nix
  pkgs/os-specific/linux/kernel/kernels-org.json
  pkgs/top-level/aliases.nix
  pkgs/top-level/linux-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 1001-2500, backport release-25.05

#447016 linux/common-config: enable DMABUF_MOVE_NOTIFY and HSA_AMD_P2P
  pkgs/os-specific/linux/kernel/common-config.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 2501-5000, 12.approvals: 2

#447826 coc-{explorer,git,sh,spell-checker}: migrate from nodePackages
  pkgs/applications/editors/vim/plugins/cocPlugins.nix
  pkgs/applications/editors/vim/plugins/nodePackagePlugins.nix
  pkgs/by-name/co/coc-explorer/package.nix
  pkgs/by-name/co/coc-git/fix-package-lock.patch
  pkgs/by-name/co/coc-git/package.nix
  pkgs/by-name/co/coc-sh/fix-package-lock.patch
  pkgs/by-name/co/coc-sh/package.nix
  pkgs/by-name/co/coc-spell-checker/package.nix
  pkgs/development/node-packages/aliases.nix
  pkgs/development/node-packages/node-packages.json
  pkgs/development/node-packages/node-packages.nix
Labels: 6.topic: vim, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: nodejs, 12.approvals: 2

#448042 home-assistant-custom-lovelace-modules.mushroom: 5.0.6 -> 5.0.7
  pkgs/servers/home-assistant/custom-lovelace-modules/mushroom/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447928 python313Packages.azure-mgmt-datamigration: 10.0.0 -> 10.1.0
  pkgs/development/python-modules/azure-mgmt-datamigration/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447918 python313Packages.iamdata: 0.1.202509301 -> 0.1.202510021
  pkgs/development/python-modules/iamdata/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 9.needs: reviewer

#447917 python313Packages.publicsuffixlist: 1.0.2.20250927 -> 1.0.2.20251002
  pkgs/development/python-modules/publicsuffixlist/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 9.needs: reviewer

#447916 python312Packages.mypy-boto3-*: updates
  pkgs/development/python-modules/boto3-stubs/default.nix
  pkgs/development/python-modules/mypy-boto3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#407100 photoprism: 250321-57590c48b -> 250426-27ec7a128
  nixos/modules/services/web-apps/photoprism.nix
  pkgs/by-name/ph/photoprism/backend.nix
  pkgs/by-name/ph/photoprism/frontend.nix
  pkgs/by-name/ph/photoprism/libtensorflow.nix
  pkgs/by-name/ph/photoprism/package.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#443365 wasmtime: fix pkgsStatic build
  pkgs/by-name/wa/wasmtime/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 0.kind: build failure, 12.approvals: 1, 12.approved-by: package-maintainer

#448054 ungoogled-chromium: 140.0.7339.207-1 -> 141.0.7390.54-1
  pkgs/applications/networking/browsers/chromium/info.json
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-25.05

#447400 nixos/borgbackup: Add option `wrapper`
  nixos/modules/services/backup/borgbackup.nix
  nixos/tests/borgbackup.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#448002 mieru: 3.19.1 -> 3.20.1
  pkgs/by-name/mi/mieru/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#448066 envoy: fix build by using go 1.24
  pkgs/by-name/en/envoy/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#447606 vscode-extensions.continue.continue: 1.2.4 -> 1.2.6
  pkgs/applications/editors/vscode/extensions/continue.continue/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 6.topic: vscode

#444117 bulletty: init at 0.1.7
  pkgs/by-name/bu/bulletty/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#447723 k3s: remove yajo as maintainer
  maintainers/team-list.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 2, 6.topic: teams

#447947 python3Packages.pylance: 0.37.0 -> 0.38.0
  pkgs/development/python-modules/pylance/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447809 vt-cli: 1.1.1 -> 1.2.0
  pkgs/by-name/vt/vt-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447794 obsidian: 1.9.12 -> 1.9.14
  pkgs/by-name/ob/obsidian/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#447812 opengamepadui: 0.41.0 -> 0.42.0
  pkgs/by-name/op/opengamepadui/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447836 vscode-extensions.svelte.svelte-vscode: 109.11.0 -> 109.11.1
  pkgs/applications/editors/vscode/extensions/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 6.topic: vscode

#447860 mapcidr: 1.1.34 -> 1.1.95
  pkgs/by-name/ma/mapcidr/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447861 usacloud: 1.15.0 -> 1.16.1
  pkgs/by-name/us/usacloud/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447863 afterburn: 5.9.0 -> 5.10.0
  pkgs/by-name/af/afterburn/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447869 yamlpath: drop
  pkgs/by-name/ya/yamlpath/package.nix
  pkgs/top-level/aliases.nix
Labels: 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#445656 maintainers: drop Sanskarzz
  maintainers/maintainer-list.nix
  pkgs/by-name/ky/kyverno-chainsaw/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 8.has: maintainer-list (update), 9.needs: reviewer

#447876 brial: 1.2.14 -> 1.2.15
  pkgs/by-name/br/brial/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447879 nix-ld: 2.0.5 -> 2.0.6
  pkgs/by-name/ni/nix-ld/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#447894 buildkite-cli: 3.12.0 -> 3.13.0
  pkgs/by-name/bu/buildkite-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447913 sqldef: 2.4.7 -> 3.1.8
  pkgs/by-name/sq/sqldef/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#447930 cargo-expand: 1.0.116 -> 1.0.117
  pkgs/by-name/ca/cargo-expand/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#447933 dummyhttp: 1.1.1 -> 1.1.2
  pkgs/by-name/du/dummyhttp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#447940 leetcode-cli: 0.4.6 -> 0.4.7
  pkgs/by-name/le/leetcode-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
