Repository NixOS/nixpkgs, pull requests merged in 2025-08, with the labels that each got.

#426913 zoraxy: 3.2.4 -> 3.2.5r2
  pkgs/by-name/zo/zoraxy/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429608 nhost-cli: 1.31.0 -> 1.31.1
  pkgs/by-name/nh/nhost-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430001 fishPlugins.forgit: 25.07.0 -> 25.08.0
  pkgs/shells/fish/plugins/forgit.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429975 boring: 0.11.5 -> 0.11.6
  pkgs/by-name/bo/boring/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429899 [release-25.05] vieb: 12.3.0 -> 12.4.0
  pkgs/by-name/vi/vieb/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 4.workflow: backport

#429833 blender: 4.5.0 -> 4.5.1
  pkgs/by-name/bl/blender/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer

#428929 python3Packages.cramjam: 2.10.0 -> 2.11.0.post1
  pkgs/development/python-modules/cramjam/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 101-500, 12.approvals: 1, 12.approved-by: package-maintainer

#429914 mirtk: remove itk_5_2 dependency
  pkgs/by-name/mi/mirtk/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 9.needs: reviewer

#429917 python3Packages.docling-jobkit: disable flaky test
  pkgs/development/python-modules/docling-jobkit/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#429865 cypress: 14.5.2 -> 14.5.3
  pkgs/by-name/cy/cypress/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429842 wofi: 1.5 -> 1.5.1
  pkgs/by-name/wo/wofi/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#429699 redo-apenwarr: Fix failure with bash-5.3
  pkgs/by-name/re/redo-apenwarr/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429690 steamworks: init at 0.97.2
  pkgs/by-name/st/steamworks/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#429688 unixtools: Add version to packages
  pkgs/top-level/unixtools.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.first-time contribution, 9.needs: reviewer

#429461 linux-manual: Handle scripts/kernel-doc.py
  pkgs/by-name/li/linux-manual/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#427628 aws-lc: 1.55.0 -> 1.56.0
  pkgs/by-name/aw/aws-lc/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429431 nix-index: add missing `command-not-found.nu` file in $out/etc/profile.d
  pkgs/tools/package-management/nix-index/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#429797 cracklib: 2.10.0 -> 2.10.3: modernize & massively slim down
  pkgs/by-name/cr/cracklib/package.nix
Labels: 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 10.rebuild-linux: 5001+

#429980 particle-cli: 3.38.2 -> 3.40.0
  pkgs/by-name/pa/particle-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#429012 wrangler: 4.22.0 -> 4.26.1 & use nix-update-script
  pkgs/by-name/wr/wrangler/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#430028 ngrok 3.22.1 -> 3.25.0
  pkgs/by-name/ng/ngrok/versions.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-25.05

#429968 databricks-cli: 0.260.0 -> 0.262.0
  pkgs/by-name/da/databricks-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429921 nakama: 3.27.1 -> 3.29.0
  pkgs/by-name/na/nakama/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#430008 grafanaPlugins.grafana-pyroscope-app: 1.5.0 -> 1.7.0
  pkgs/servers/monitoring/grafana/plugins/grafana-pyroscope-app/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430009 grafanaPlugins.grafana-metricsdrilldown-app: 1.0.7 -> 1.0.8
  pkgs/servers/monitoring/grafana/plugins/grafana-metricsdrilldown-app/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429954 gnomeExtensions.argos: unstable-2024-10-28 → unstable-2025-03-27 for GNOME 48 support
  pkgs/desktops/gnome/extensions/argos/default.nix
Labels: 6.topic: GNOME, 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, backport release-25.05

#429859 cardano-related: hand over packages to aciceri
  pkgs/by-name/ai/aiken/package.nix
  pkgs/by-name/op/opshin/package.nix
  pkgs/development/python-modules/blockfrost-python/default.nix
  pkgs/development/python-modules/cardano-tools/default.nix
  pkgs/development/python-modules/ogmios/default.nix
  pkgs/development/python-modules/pluthon/default.nix
  pkgs/development/python-modules/pycardano/default.nix
  pkgs/development/python-modules/python-secp256k1-cardano/default.nix
  pkgs/development/python-modules/uplc/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#429736 proton-pass: 1.32.2 -> 1.32.3
  pkgs/by-name/pr/proton-pass/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429949 python3Packages.snapshot-restore-py: init at 1.0.0; python3Packages.awslambdaric: 3.0.0 -> 3.1.1
  pkgs/development/python-modules/awslambdaric/default.nix
  pkgs/development/python-modules/snapshot-restore-py/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#429597 xschem: 3.4.5 -> 3.4.7
  pkgs/by-name/xs/xschem/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430023 linuxKernel.kernels.linux_zen: 6.15.7 -> 6.15.8
  pkgs/os-specific/linux/kernel/zen-kernels.nix
Labels: 6.topic: kernel, 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-25.05

#429480 terminal-toys: cleanup
  pkgs/by-name/te/terminal-toys/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#429314 python3Packages.langchain-perplexity: 0.1.1 -> 0.1.2
  pkgs/development/python-modules/langchain-perplexity/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#429305 gnucash: 5.11 -> 5.12
  pkgs/by-name/gn/gnucash/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#429304 alfaview: 9.21.1 -> 9.22.10
  pkgs/by-name/al/alfaview/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.first-time contribution, 9.needs: reviewer

#429254 webcamoid: 9.2.3 -> 9.3.0
  pkgs/applications/video/webcamoid/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430042 shopify-cli: 3.83.0 -> 3.83.1
  pkgs/by-name/sh/shopify-cli/manifests/package-lock.json
  pkgs/by-name/sh/shopify-cli/manifests/package.json
  pkgs/by-name/sh/shopify-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429234 paq: init at 1.1.1
  pkgs/by-name/pa/paq/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+

#430048 tideways-daemon: 1.9.46 -> 1.9.48
  pkgs/by-name/ti/tideways-daemon/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429248 nushellPlugins.semver: 0.11.5 -> 0.11.6
  pkgs/shells/nushell/plugins/semver.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1

#429725 wrtag: init at 0.15.0
  pkgs/by-name/wr/wrtag/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#429559 dropbox: add gtk3 as a dependency
  pkgs/applications/networking/dropbox/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#429457 tu: init at 0.4.0
  pkgs/by-name/tu/tu/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#429342 nordic: migrate to by-name
  pkgs/by-name/no/nordic/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#429166 treewide: refactor package definitions in by-name/ws folder.
  pkgs/by-name/ws/wsdd/package.nix
  pkgs/by-name/ws/wshowkeys/package.nix
  pkgs/by-name/ws/wsjtz/package.nix
  pkgs/by-name/ws/wsl-open/package.nix
  pkgs/by-name/ws/wsl-vpnkit/package.nix
  pkgs/by-name/ws/wslay/package.nix
  pkgs/by-name/ws/wslu/package.nix
  pkgs/by-name/ws/wsysmon/package.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#429868 Add home assistant custom component for mitsubishi, pymitsubishi python lib
  pkgs/development/python-modules/pymitsubishi/default.nix
  pkgs/servers/home-assistant/custom-components/mitsubishi/package.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#428986 xpipe: 16.7 -> 17.3
  pkgs/by-name/xp/xpipe/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#428795 palettum: init at 0.6.1
  pkgs/by-name/pa/palettum/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#428789 sunshine: refactor
  pkgs/by-name/su/sunshine/package.nix
  pkgs/by-name/su/sunshine/updater.sh
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#428633 yandex-music: 5.57.0 -> 5.61.1
  pkgs/by-name/ya/yandex-music/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#425915 vscode-extensions.wgsl-analyzer.wgsl-analyzer: init at 0.10.178
  pkgs/applications/editors/vscode/extensions/default.nix
  pkgs/applications/editors/vscode/extensions/wgsl-analyzer.wgsl-analyzer/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 6.topic: vscode

#428440 binaryninja-free: 5.0.7648 -> 5.1.8005
  pkgs/by-name/bi/binaryninja-free/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#429359 boost188: fix cmake file
  pkgs/development/libraries/boost/cmake-paths-188.patch
  pkgs/development/libraries/boost/generic.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#428866 forge-sparks: 0.4.0 -> 1.0.1
  pkgs/by-name/fo/forge-sparks/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, backport release-25.05

#428294 tmuxPlugins.tmux-toggle-popup: init at 0.4.2
  maintainers/maintainer-list.nix
  pkgs/misc/tmux-plugins/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 8.has: maintainer-list (update)

#427686 hyprshade: 3.2.1 -> 4.0.0
  pkgs/applications/window-managers/hyprwm/hyprshade/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430063 gmap: init at 0.3.2
  pkgs/by-name/gm/gmap/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#429379 komikku: 1.82.0 -> 1.83.0
  pkgs/by-name/ko/komikku/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-25.05

#410413 amazon-qldb-shell: drop
  pkgs/by-name/am/amazon-qldb-shell/package.nix
  pkgs/development/python-modules/ionhash/default.nix
  pkgs/development/python-modules/pyqldb/default.nix
  pkgs/top-level/aliases.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 3+

#427524 treewide: move to by-name part 1
  pkgs/by-name/h/h/package.nix
  pkgs/by-name/ka/kavita/change-webroot.diff
  pkgs/by-name/ka/kavita/nuget-deps.json
  pkgs/by-name/ka/kavita/package.nix
  pkgs/by-name/ka/kavita/update.sh
  pkgs/by-name/li/lidarr/package.nix
  pkgs/by-name/li/lidarr/update.sh
  pkgs/by-name/md/mdl/Gemfile
  pkgs/by-name/md/mdl/Gemfile.lock
  pkgs/by-name/md/mdl/gemset.nix
  pkgs/by-name/md/mdl/package.nix
  pkgs/by-name/pg/pgsync/Gemfile
  pkgs/by-name/pg/pgsync/Gemfile.lock
  pkgs/by-name/pg/pgsync/gemset.nix
  pkgs/by-name/pg/pgsync/package.nix
  pkgs/by-name/pr/pry/Gemfile
  pkgs/by-name/pr/pry/Gemfile.lock
  pkgs/by-name/pr/pry/gemset.nix
  pkgs/by-name/pr/pry/package.nix
  pkgs/by-name/pw/pws/Gemfile
  pkgs/by-name/pw/pws/Gemfile.lock
  pkgs/by-name/pw/pws/gemset.nix
  pkgs/by-name/pw/pws/package.nix
  pkgs/by-name/qc/qcal/package.nix
  pkgs/by-name/ra/rar/package.nix
  pkgs/by-name/ra/rar/update.sh
  pkgs/by-name/ro/ronin/Gemfile
  pkgs/by-name/ro/ronin/Gemfile.lock
  pkgs/by-name/ro/ronin/gemset.nix
  pkgs/by-name/ro/ronin/package.nix
  pkgs/by-name/ro/rover/package.nix
  pkgs/by-name/ro/rover/update.sh
  pkgs/by-name/sa/sass/Gemfile
  pkgs/by-name/sa/sass/Gemfile.lock
  pkgs/by-name/sa/sass/gemset.nix
  pkgs/by-name/sa/sass/package.nix
  pkgs/by-name/sc/scribus/package.nix
  pkgs/by-name/td/td/Gemfile
  pkgs/by-name/td/td/Gemfile.lock
  pkgs/by-name/td/td/gemset.nix
  pkgs/by-name/td/td/package.nix
  pkgs/by-name/tr/tremor-language-server/package.nix
  pkgs/by-name/tr/tremor-rs/package.nix
  pkgs/by-name/tw/twurl/Gemfile
  pkgs/by-name/tw/twurl/Gemfile.lock
  pkgs/by-name/tw/twurl/gemset.nix
  pkgs/by-name/tw/twurl/package.nix
  pkgs/by-name/we/weka/package.nix
  pkgs/by-name/wg/wgnord/package.nix
  pkgs/by-name/wh/whatweb/Gemfile
  pkgs/by-name/wh/whatweb/Gemfile.lock
  pkgs/by-name/wh/whatweb/gemset.nix
  pkgs/by-name/wh/whatweb/package.nix
  pkgs/by-name/wp/wpscan/Gemfile
  pkgs/by-name/wp/wpscan/Gemfile.lock
  pkgs/by-name/wp/wpscan/gemset.nix
  pkgs/by-name/wp/wpscan/package.nix
  pkgs/by-name/wp/wpscan/update.sh
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#357480 tuned: init at 2.25.1
  nixos/doc/manual/release-notes/rl-2511.section.md
  nixos/modules/module-list.nix
  nixos/modules/services/hardware/tuned.nix
  nixos/tests/all-tests.nix
  nixos/tests/tuned.nix
  pkgs/by-name/tu/tuned/package.nix
  pkgs/by-name/tu/tuned/remove-tty-tests.patch
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 3+, backport release-25.05

#429837 services/jitsi: Add missing dependency for breakout rooms
  nixos/modules/services/web-apps/jitsi-meet.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: jitsi, 12.approvals: 1

#430094 xenia-canary: 0-unstable-2025-07-27 -> 0-unstable-2025-08-01
  pkgs/by-name/xe/xenia-canary/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 9.needs: reviewer

#429971 vimPlugins.blink-cmp-words: init at 2025-06-26
  pkgs/applications/editors/vim/plugins/generated.nix
  pkgs/applications/editors/vim/plugins/overrides.nix
  pkgs/applications/editors/vim/plugins/vim-plugin-names
Labels: 6.topic: vim, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1, 12.first-time contribution

#426929 maintainers: drop arjix
  maintainers/maintainer-list.nix
  pkgs/by-name/ne/nengo-gui/package.nix
  pkgs/development/python-modules/nengo/default.nix
Labels: 6.topic: python, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 2, 8.has: maintainer-list (update)

#427176 mealie: 2.8.0 -> 3.0.2
  doc/release-notes/rl-2511.section.md
  nixos/tests/mealie.nix
  pkgs/by-name/me/mealie/mealie-frontend.nix
  pkgs/by-name/me/mealie/package.nix
Labels: 6.topic: nixos, 1.severity: blocker, 8.has: documentation, 8.has: changelog, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 2

#430099 compare50: 1.2.7 -> 1.2.13
  pkgs/by-name/co/compare50/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430079 openapi-python-client: 0.25.2 -> 0.25.3
  pkgs/by-name/op/openapi-python-client/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429962 keymap-drawer: 0.22.0 -> 0.22.1
  pkgs/development/python-modules/keymap-drawer/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#430088 ucon64: init at 2.2.2
  pkgs/by-name/uc/ucon64/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#373762 lsd2dsl: fix build
  pkgs/by-name/ls/lsd2dsl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#430112 svix-server: 1.69.0 -> 1.70.0
  pkgs/by-name/sv/svix-server/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429763 colloid-gtk-theme: 2024-11-16 -> 2025-07-31
  pkgs/by-name/co/colloid-gtk-theme/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#429889 Cinnamon updates 2025-08-01
  pkgs/by-name/bu/bulky/package.nix
  pkgs/by-name/fo/folder-color-switcher/package.nix
  pkgs/by-name/gn/gnome-online-accounts-gtk/package.nix
  pkgs/by-name/hy/hypnotix/package.nix
  pkgs/by-name/li/lightdm-slick-greeter/package.nix
  pkgs/by-name/pi/pix/package.nix
  pkgs/by-name/st/sticky/package.nix
  pkgs/by-name/wa/warpinator/package.nix
  pkgs/by-name/xa/xapp/package.nix
  pkgs/by-name/xe/xed-editor/package.nix
  pkgs/by-name/xr/xreader/package.nix
  pkgs/by-name/xv/xviewer/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0, 11.by: package-maintainer

#390126 halloy: 2025.2 -> 2025.8
  pkgs/by-name/ha/halloy/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#412279 jsonSchemaCatalogs: init
  pkgs/by-name/js/json-schema-catalog-rs/package.nix
  pkgs/data/json-schema/catalogs/json-patch-schemastore.nix
  pkgs/data/json-schema/catalogs/json-schema.nix
  pkgs/data/json-schema/default.nix
  pkgs/data/json-schema/lib.nix
  pkgs/data/json-schema/tests.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 12.approvals: 1

#428681 openfreebuds: init at 0.17.1
  pkgs/by-name/op/openfreebuds/package.nix
  pkgs/development/python-modules/aiocmd/default.nix
  pkgs/top-level/all-packages.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#390448 nixos/cgit: use alias option for assets
  nixos/modules/services/networking/cgit.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#421357 enry: init at 1.3.0
  pkgs/by-name/en/enry/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2

#416563 asus-wmi-screenpad-ctl: init at 1.0.0
  pkgs/by-name/as/asus-wmi-screenpad-ctl/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-25.05

#419739 ao3downloader: init at 2025.6.1
  pkgs/by-name/ao/ao3downloader/package.nix
  pkgs/development/python-modules/pdfquery/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#420986 ieda: 0-unstable-2025-05-30 -> 0-unstable-2025-06-30
  pkgs/by-name/ie/ieda/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430046 gotlsaflare: 2.7.2 -> 2.7.3
  pkgs/by-name/go/gotlsaflare/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429855 jailer: 16.7 -> 16.7.1
  pkgs/by-name/ja/jailer/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429841 kyverno: 1.14.4 -> 1.15.0
  pkgs/by-name/ky/kyverno/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#428442 tailscale: 1.84.3 -> 1.86.2
  pkgs/by-name/ta/tailscale/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 2.status: wait-for-upstream, 12.approvals: 2

#429808 mangojuice: 0.8.5 -> 0.8.6
  pkgs/by-name/ma/mangojuice/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#429906 python3Packages.pyshp: 2.4.0 -> 2.4.1
  pkgs/development/python-modules/pyshp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 9.needs: reviewer

#429872 python3Packages.pytenable: 1.8.1 -> 1.8.2
  pkgs/development/python-modules/pytenable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#429863 bosh-cli: 7.9.7 -> 7.9.8
  pkgs/by-name/bo/bosh-cli/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429961 lazysql: 0.3.8 -> 0.4.0
  pkgs/by-name/la/lazysql/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#429081 nixos/limine: fix installation when using initrd secrets
  nixos/modules/system/boot/loader/limine/limine-install.py
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.first-time contribution

#430043 ddns-go: 6.12.0 -> 6.12.1
  pkgs/by-name/dd/ddns-go/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430020 python3Packages.linode-api: 5.33.0 -> 5.33.1
  pkgs/development/python-modules/linode-api/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#430089 python3Packages.torchprofile: 0.0.3 -> 0.0.4
  pkgs/development/python-modules/torchprofile/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#430081 moar: 1.32.5 -> 1.33.0
  pkgs/by-name/mo/moar/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430059 sdl_gamecontrollerdb: 0-unstable-2025-07-18 -> 0-unstable-2025-07-28
  pkgs/by-name/sd/sdl_gamecontrollerdb/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#424873 python3Packages.torch: Disable duplicate openmp inclusion
  pkgs/development/python-modules/compressai/default.nix
  pkgs/development/python-modules/gpytorch/default.nix
  pkgs/development/python-modules/optuna-dashboard/default.nix
  pkgs/development/python-modules/pylance/default.nix
  pkgs/development/python-modules/sentence-transformers/default.nix
  pkgs/development/python-modules/sqlite-vec/default.nix
  pkgs/development/python-modules/torch/source/default.nix
  pkgs/development/python-modules/torcheval/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 501+, 10.rebuild-darwin: 501-1000, 12.approvals: 2, 12.approved-by: package-maintainer

#429776 go-ios: patch paths
  pkgs/by-name/go/go-ios/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 1

#352399 zfs: revamp and test compatible Kernel versions
  pkgs/os-specific/linux/zfs/2_2.nix
  pkgs/os-specific/linux/zfs/2_3.nix
  pkgs/os-specific/linux/zfs/generic.nix
  pkgs/os-specific/linux/zfs/unstable.nix
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, 11.by: package-maintainer, 12.approvals: 1, 12.approved-by: package-maintainer

#430181 gamescope: 3.16.14 -> 3.16.14.2
  pkgs/by-name/ga/gamescope/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#430138 ecspresso: 2.5.0 -> 2.6.0
  pkgs/by-name/ec/ecspresso/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429946 cvemap: 0.0.7 -> 1.0.0
  pkgs/by-name/cv/cvemap/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#430186 python3Packages.nicegui: 2.21.1 -> 2.22.0
  pkgs/development/python-modules/nicegui/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#429709 python3Packages.pyenphase: 2.2.2 -> 2.2.3
  pkgs/development/python-modules/pyenphase/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#429779 python312Packages.mypy-boto3-*: updates
  pkgs/development/python-modules/mypy-boto3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#430187 incus: 6.14.0 -> 6.15.0
  pkgs/by-name/in/incus/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 9.needs: reviewer

#429969 nodejs_24: 24.4.1 -> 24.5.0
  pkgs/development/web/nodejs/v24.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 6.topic: nodejs

#430119 opencode: 0.3.85 -> 0.3.110
  pkgs/by-name/op/opencode/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430148 windows.cygwinSetup: drop
  pkgs/os-specific/windows/cygwin-setup/default.nix
  pkgs/os-specific/windows/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: windows, 9.needs: reviewer

#430153 windows.mingwrt: drop
  pkgs/os-specific/windows/default.nix
  pkgs/os-specific/windows/mingwrt/default.nix
Labels: 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 6.topic: windows, 9.needs: reviewer

#426978 catppuccin-papirus-folders: 0-unstable-2023-08-02 -> 0-unstable-2024-08-06
  pkgs/by-name/ca/catppuccin-papirus-folders/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.first-time contribution

#430195 phpPackages.grumphp: 2.13.0 -> 2.14.0
  pkgs/development/php-packages/grumphp/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer, 6.topic: php

#429878 [25.05] librewolf-bin-unwrapped: 139.0.4-1 -> 141.0-1
  pkgs/by-name/li/librewolf-bin-unwrapped/package.nix
Labels: 1.severity: security, 8.has: port to stable, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 4.workflow: backport, 9.needs: reviewer

#426094 factorio: 2.0.55 -> 2.0.60
  pkgs/by-name/fa/factorio/versions.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#430173 fabric-ai: 1.4.264 -> 1.4.272
  pkgs/by-name/fa/fabric-ai/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430165 windows.pthreads: Remove win32-pthreads, exclusively use mingwW64 pthreads
  pkgs/by-name/ro/rocksdb/package.nix
  pkgs/by-name/s7/s7/package.nix
  pkgs/by-name/sr/srt/package.nix
  pkgs/development/interpreters/python/cpython/default.nix
  pkgs/development/libraries/flint/3.nix
  pkgs/os-specific/windows/default.nix
  pkgs/os-specific/windows/pthread-w32/default.nix
  pkgs/servers/x11/xorg/overrides.nix
  pkgs/top-level/release-cross.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 6.topic: windows, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#429657 uv: 0.8.3 -> 0.8.4
  pkgs/by-name/uv/uv/package.nix
Labels: 8.has: package (update), 10.rebuild-linux: 501+, 10.rebuild-darwin: 11-100, 11.by: package-maintainer, 10.rebuild-linux: 1001-2500

#430213 gmap: 0.3.2 -> 0.3.3
  pkgs/by-name/gm/gmap/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#429940 julius: 1.7.0 -> 1.8.0
  pkgs/by-name/ju/julius/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429995 mpd: 0.24.4 -> 0.24.5
  pkgs/servers/mpd/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#421548 python3Packages.viser: init at 1.0.0, python3Packages.yourdfpy: init at 0.0.58, python3Packages.plyfile: 1.0.2 -> 1.1.2, python3Packages.robot-descriptions: init at 1.2.0
  pkgs/development/python-modules/plyfile/default.nix
  pkgs/development/python-modules/robot-descriptions/default.nix
  pkgs/development/python-modules/viser/default.nix
  pkgs/development/python-modules/yourdfpy/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#430158 redpanda-client: 25.1.9 -> 25.2.1
  pkgs/by-name/re/redpanda-client/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#428475 xtf: 0-unstable-2025-05-19 -> 0-unstable-2025-07-24
  pkgs/by-name/xt/xtf/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 6.topic: xen-project

#428188 ipxe: 1.21.1-unstable-2025-07-16 -> 1.21.1-unstable-2025-07-24
  pkgs/by-name/ip/ipxe/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#430027 iso-image: ensure `boot.loader.grub.enable` is disabled by default
  nixos/modules/installer/cd-dvd/iso-image.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#430151 webkitgtk_6_0: 2.48.3 → 2.48.5
  pkgs/development/libraries/webkitgtk/default.nix
Labels: 1.severity: security, 10.rebuild-linux: 501+, 10.rebuild-darwin: 0, 11.by: package-maintainer, 10.rebuild-linux: 501-1000, backport release-25.05

#428193 vault: 1.20.0 -> 1.20.1
  pkgs/by-name/va/vault/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430273 olympus-unwrapped: 25.07.23.01 -> 25.07.26.04
  pkgs/by-name/ol/olympus-unwrapped/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer

#430228 windows.mcfgthreads: 1.9.3 -> 2.1.1
  pkgs/development/compilers/go/1.23.nix
  pkgs/development/compilers/go/1.24.nix
  pkgs/development/compilers/go/1.25.nix
  pkgs/os-specific/windows/mcfgthreads/default.nix
Labels: 6.topic: golang, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 6.topic: windows, 12.approvals: 1

#430276 bookstack: 25.05.2 -> 25.07
  pkgs/by-name/bo/bookstack/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430246 kernel updates for 2025-08-01
  pkgs/os-specific/linux/kernel/kernels-org.json
Labels: 6.topic: kernel, 10.rebuild-linux: 501+, 10.rebuild-darwin: 1-10, 10.rebuild-linux: 501-1000, backport release-25.05

#430185 windsurf: 1.11.1 -> 1.11.2
  pkgs/by-name/wi/windsurf/info.json
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#430243 trufflehog: 3.90.1 -> 3.90.2
  pkgs/by-name/tr/trufflehog/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430282 hyprcursor: 0.1.12 -> 0.1.13
  pkgs/by-name/hy/hyprcursor/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 0

#430253 plasma-plugin-blurredwallpaper: 3.3.1 -> 3.4.0
  pkgs/by-name/pl/plasma-plugin-blurredwallpaper/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#428967 pied: 0.3.0 -> 0.3.1
  pkgs/by-name/pi/pied/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#426570 docs/factor: fixup Factor docs referencing correct vocab root name
  doc/languages-frameworks/factor.section.md
Labels: 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#430211 pympress: unbreak
  pkgs/by-name/py/pympress/issue-330-gprops-iter-actually-iterable.patch
  pkgs/by-name/py/pympress/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430240 eddie: add versionCheckHook
  pkgs/by-name/ed/eddie/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#429197 home-manager: 0-unstable-2025-07-18 -> 0-unstable-2025-07-28
  pkgs/by-name/ho/home-manager/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#430292 kdePackages.krohnkite: 0.9.9.1 -> 0.9.9.2
  pkgs/kde/third-party/krohnkite/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#430280 pinta: 3.0.2 -> 3.0.3
  pkgs/by-name/pi/pinta/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1

#430044 claude-code: 1.0.64 -> 1.0.65
  pkgs/by-name/cl/claude-code/package-lock.json
  pkgs/by-name/cl/claude-code/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 3+, 12.approved-by: package-maintainer

#430003 unifi: 9.3.43 -> 9.3.45
  pkgs/by-name/un/unifi/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430239 postman: 11.50.5 -> 11.56.4
  pkgs/by-name/po/postman/darwin.nix
  pkgs/by-name/po/postman/linux.nix
  pkgs/by-name/po/postman/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 2, 12.approved-by: package-maintainer

#430053 lutgen: 1.0.0 -> 1.0.1
  pkgs/by-name/lu/lutgen/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#430193 chawan: correct license and add versionCheckHook
  pkgs/by-name/ch/chawan/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 9.needs: reviewer

#430188 wayland-bongocat: 1.2.1 -> 1.2.2
  pkgs/by-name/wa/wayland-bongocat/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#430317 opencode: 0.3.110 -> 0.3.112
  pkgs/by-name/op/opencode/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1
