Repository NixOS/nixpkgs, pull requests merged in 2025-01, with the labels that each got.

#361196 python312Packages.zope-testrunner: 6.4 -> 6.6
  pkgs/development/python-modules/zope-testrunner/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#360849 python312Packages.influxdb-client: 1.47.0 -> 1.48.0
  pkgs/development/python-modules/influxdb-client/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#357374 python312Packages.langcodes: 3.4.1 -> 3.5.0
  pkgs/development/python-modules/langcodes/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#360290 python312Packages.peewee: 3.17.7 -> 3.17.8
  pkgs/development/python-modules/peewee/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#357505 python312Packages.panel: 1.5.1 -> 1.5.5
  pkgs/development/python-modules/panel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#357866 python312Packages.mkdocs-material: 9.5.39 -> 9.5.45
  pkgs/development/python-modules/mkdocs-material/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#363212 tex-fmt: 0.4.7 -> 0.5.1
  pkgs/by-name/te/tex-fmt/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#357757 python312Packages.redshift-connector: 2.1.3 -> 2.1.5
  pkgs/development/python-modules/redshift-connector/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361098 python312Packages.yark: 1.2.10 -> 1.2.12
  pkgs/development/python-modules/yark/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369743 simplex-chat-desktop: 6.2.1 -> 6.2.3
  pkgs/by-name/si/simplex-chat-desktop/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#361009 python312Packages.cloudsmith-api: 2.0.13 -> 2.0.16
  pkgs/development/python-modules/cloudsmith-api/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369338 avro-cpp: 1.11.3 -> 1.12.0, enable tests, libserdes: fix build with avro-cpp 1.12.0
  pkgs/by-name/av/avro-cpp/0001-get-rid-of-fmt-fetchcontent.patch
  pkgs/by-name/av/avro-cpp/package.nix
  pkgs/by-name/li/libserdes/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#360744 python312Packages.viv-utils: 0.7.11 -> 0.7.13
  pkgs/development/python-modules/viv-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#360814 python312Packages.wheel-inspect: 1.7.1 -> 1.7.2
  pkgs/development/python-modules/wheel-inspect/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361137 python312Packages.jianpu-ly: 1.801 -> 1.826
  pkgs/development/python-modules/jianpu-ly/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361277 python312Packages.python-sql: 1.5.1 -> 1.5.2
  pkgs/development/python-modules/python-sql/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369791 open-in-mpv: 2.4.0 -> 2.4.2
  pkgs/by-name/op/open-in-mpv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361281 python312Packages.berkeleydb: 18.1.10 -> 18.1.12
  pkgs/development/python-modules/berkeleydb/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369782 ghostty: 1.0.0 -> 1.0.1
  pkgs/by-name/gh/ghostty/deps.nix
  pkgs/by-name/gh/ghostty/package.nix
Labels: 1.severity: security, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#361432 python312Packages.pyexcel: 0.7.0 -> 0.7.1
  pkgs/development/python-modules/pyexcel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361554 python312Packages.py-scrypt: 0.8.24 -> 0.8.27
  pkgs/development/python-modules/py-scrypt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#360952 python312Packages.returns: 0.23.0 -> 0.24.0
  pkgs/development/python-modules/returns/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361757 python312Packages.virtualenvwrapper: 6.1.0 -> 6.1.1
  pkgs/development/python-modules/virtualenvwrapper/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361645 python312Packages.mecab-python3: 1.0.9 -> 1.0.10
  pkgs/development/python-modules/mecab-python3/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361754 python312Packages.hg-evolve: 11.1.4 -> 11.1.6
  pkgs/development/python-modules/hg-evolve/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361830 python312Packages.torchdiffeq: 0.2.4 -> 0.2.5
  pkgs/development/python-modules/torchdiffeq/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361303 python312Packages.libusbsio: 2.1.12 -> 2.1.13
  pkgs/development/python-modules/libusbsio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361711 python312Packages.types-dateutil: 2.9.0.20240906 -> 2.9.0.20241003
  pkgs/development/python-modules/types-dateutil/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362017 python312Packages.pywebpush: 2.0.1 -> 2.0.3
  pkgs/development/python-modules/pywebpush/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361967 python312Packages.consolekit: 1.7.1 -> 1.7.2
  pkgs/development/python-modules/consolekit/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361333 python312Packages.pytapo: 3.3.32 -> 3.3.37
  pkgs/development/python-modules/pytapo/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361966 python312Packages.django-soft-delete: 1.0.14 -> 1.0.16
  pkgs/development/python-modules/django-soft-delete/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369737 termscp: darwin fix
  pkgs/by-name/te/termscp/package.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#361604 python312Packages.rjsmin: 1.2.2 -> 1.2.3
  pkgs/development/python-modules/rjsmin/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#361697 python312Packages.pylibftdi: 0.22.0 -> 0.23.0
  pkgs/development/python-modules/pylibftdi/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362061 python312Packages.cx-freeze: 7.2.2 -> 7.2.7
  pkgs/development/python-modules/cx-freeze/default.nix
Labels: 6.topic: python, 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362748 python312Packages.linode-api: 5.22.0 -> 5.25.0
  pkgs/development/python-modules/linode-api/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362702 python312Packages.mkdocs-git-authors-plugin: 0.9.0 -> 0.9.2
  pkgs/development/python-modules/mkdocs-git-authors-plugin/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361725 python312Packages.sphinxawesome-theme: 5.2.0 -> 5.3.2
  pkgs/development/python-modules/sphinxawesome-theme/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361880 python312Packages.dploot: 3.0.0 -> 3.0.3
  pkgs/development/python-modules/dploot/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362383 python312Packages.bottleneck: 1.4.0 -> 1.4.2
  pkgs/development/python-modules/bottleneck/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361136 python312Packages.bandit: 1.7.10 -> 1.8.0
  pkgs/development/python-modules/bandit/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362026 python312Packages.import-expression: 2.1.0.post1 -> 2.2.1.post1
  pkgs/development/python-modules/import-expression/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#360556 python312Packages.etils: 1.10.0 -> 1.11.0
  pkgs/development/python-modules/etils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369804 python312Packages.json-repair: 0.32.0 -> 0.35.0
  pkgs/development/python-modules/json-repair/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#363355 python312Packages.meraki: 1.52.0 -> 1.53.0
  pkgs/development/python-modules/meraki/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365859 python312Packages.ansitable: 0.11.3 -> 0.11.4
  pkgs/development/python-modules/ansitable/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#366790 python312Packages.num2words: 0.5.13 -> 0.5.14
  pkgs/development/python-modules/num2words/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#363511 python312Packages.awscrt: 0.23.0 -> 0.23.6
  pkgs/development/python-modules/awscrt/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#366463 python312Packages.githubkit: 0.12.1 -> 0.12.3
  pkgs/development/python-modules/githubkit/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#366786 python312Packages.strawberry-graphql: 0.253.1 -> 0.254.0
  pkgs/development/python-modules/strawberry-graphql/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 12.approvals: 1, 12.approved-by: package-maintainer

#361179 python312Packages.types-redis: 4.6.0.20240903 -> 4.6.0.20241004
  pkgs/development/python-modules/types-redis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361731 python312Packages.manuel: 1.12.4 -> 1.13.0
  pkgs/development/python-modules/manuel/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#361999 python312Packages.limnoria: 2024.8.26 -> 2024.12.20
  pkgs/development/python-modules/limnoria/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361793 python312Packages.line-profiler: 4.1.3 -> 4.2.0
  pkgs/development/python-modules/line-profiler/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362016 python312Packages.azure-servicebus: 7.12.3 -> 7.13.0
  pkgs/development/python-modules/azure-servicebus/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#362492 python312Packages.simplemma: 1.1.1 -> 1.1.2
  pkgs/development/python-modules/simplemma/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#363352 python312Packages.rotary-embedding-torch: 0.8.5 -> 0.8.6
  pkgs/development/python-modules/rotary-embedding-torch/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#361735 python312Packages.fabio: 2024.4.0 -> 2024.9.0
  pkgs/development/python-modules/fabio/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#366760 python312Packages.oci: 2.139.0 -> 2.141.1
  pkgs/development/python-modules/oci/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365017 coursier: 2.1.19 -> 2.1.22
  pkgs/by-name/co/coursier/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362229 python312Packages.google-cloud-dataproc: 5.12.0 -> 5.16.0
  pkgs/development/python-modules/google-cloud-dataproc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#362497 python312Packages.glyphslib: 6.9.0 -> 6.9.5
  pkgs/development/python-modules/glyphslib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369728 bodyclose: 0-unstable-2024-10-17 -> 0-unstable-2024-12-22
  pkgs/by-name/bo/bodyclose/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#368225 python312Packages.pyspellchecker: 0.8.1 -> 0.8.2
  pkgs/development/python-modules/pyspellchecker/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#364240 cairo-lang: 2.8.5 -> 2.9.2
  pkgs/by-name/ca/cairo-lang/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, ofborg-internal-error, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#364161 python312Packages.confluent-kafka: 2.5.3 -> 2.6.1
  pkgs/development/python-modules/confluent-kafka/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#366447 python312Packages.django-pgactivity: 1.7.0 -> 1.7.1
  pkgs/development/python-modules/django-pgactivity/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#366446 python312Packages.django-pglock: 1.7.0 -> 1.7.1
  pkgs/development/python-modules/django-pglock/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365906 python312Packages.google-cloud-dlp: 3.25.1 -> 3.26.0
  pkgs/development/python-modules/google-cloud-dlp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365962 python312Packages.pydata-sphinx-theme: 0.16.0 -> 0.16.1
  pkgs/development/python-modules/pydata-sphinx-theme/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369048 ardour: use librdf_raptor2
  pkgs/applications/audio/ardour/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#369447 python312Packages.zc-buildout: 3.0.1 -> 3.3
  pkgs/development/python-modules/zc-buildout/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369876 hyprlandPlugins.hyprsplit: 0.46.1 -> 0.46.2
  pkgs/applications/window-managers/hyprwm/hyprland-plugins/hyprsplit.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#369842 skim: 0.15.5 -> 0.15.7
  pkgs/by-name/sk/skim/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369881 television: 0.8.1 -> 0.8.5
  pkgs/by-name/te/television/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.11

#369888 pack: 0.36.1 -> 0.36.2
  pkgs/by-name/pa/pack/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369499 python312Packages.aiomealie: 0.9.4 -> 0.9.5
  pkgs/development/python-modules/aiomealie/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#369598 gnome-secrets: 10.3 -> 10.4
  pkgs/by-name/gn/gnome-secrets/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.11

#369797 keypunch: 5.0 -> 5.1
  pkgs/by-name/ke/keypunch/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.11

#369635 python312Packages.cyclopts: 3.1.2 -> 3.1.3
  pkgs/development/python-modules/cyclopts/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#369046 [Backport release-24.11] ghostty: init at 1.0.1
  maintainers/maintainer-list.nix
  nixos/modules/config/terminfo.nix
  nixos/tests/terminal-emulators.nix
  pkgs/by-name/gh/ghostty/deps.nix
  pkgs/by-name/gh/ghostty/package.nix
Labels: 6.topic: nixos, 8.has: package (new), 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 12.approvals: 3+, 12.approved-by: package-maintainer, 8.has: maintainer-list (update)

#369619 ldeep: 1.0.77 -> 1.0.78
  pkgs/by-name/ld/ldeep/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#369709 python312Packages.ohmepy: init at 1.2.3
  pkgs/development/python-modules/ohmepy/default.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369707 python312Packages.tencentcloud-sdk-python: 3.0.1291 -> 3.0.1292
  pkgs/development/python-modules/tencentcloud-sdk-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369702 Pantheon updates 2024-12-31
  pkgs/desktops/pantheon/apps/elementary-terminal/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/applications/default.nix
  pkgs/desktops/pantheon/apps/switchboard-plugs/mouse-touchpad/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 6.topic: pantheon

#367822 turnon: 1.6.2 -> 2.0.0
  pkgs/by-name/tu/turnon/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, backport release-24.11

#368085 python311Packages.angr: 9.2.133 -> 9.2.134
  pkgs/development/python-modules/ailment/default.nix
  pkgs/development/python-modules/angr/default.nix
  pkgs/development/python-modules/archinfo/default.nix
  pkgs/development/python-modules/claripy/default.nix
  pkgs/development/python-modules/cle/default.nix
  pkgs/development/python-modules/pyvex/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100, 11.by: package-maintainer

#369809 typos: 0.28.4 -> 0.29.0
  pkgs/by-name/ty/typos/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#366941 restic: fixed handling of arguments with spaces in restic wrappers
  nixos/modules/services/backup/restic.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-24.11

#369755 doc/packages/build-support: remove stray backtick
  doc/packages/build-support.md
Labels: 8.has: documentation, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369589 gh-contribs: 0.9.0 -> 0.10.1
  pkgs/by-name/gh/gh-contribs/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#369899 kdePackages: Plasma 6.2.4 -> 6.2.5
  pkgs/kde/generated/sources/plasma.json
Labels: 10.rebuild-linux: 101-500, 10.rebuild-darwin: 0, backport release-24.11

#369904 python312Packages.aiomisc: 17.5.29 -> 17.5.31
  pkgs/development/python-modules/aiomisc/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369903 python312Packages.pyvlx: 0.2.25 -> 0.2.26
  pkgs/development/python-modules/pyvlx/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369902 python312Packages.aiorussound: 4.3.0 -> 4.4.0
  pkgs/development/python-modules/aiorussound/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#331580 earlyoom: use upstream systemd service and add proper test
  nixos/doc/manual/release-notes/rl-2505.section.md
  nixos/modules/services/system/earlyoom.nix
  nixos/tests/earlyoom.nix
  pkgs/by-name/ea/earlyoom/package.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 11.by: package-maintainer, 8.has: tests

#369900 python312Packages.pylamarzocco: 1.4.5 -> 1.4.6
  pkgs/development/python-modules/pylamarzocco/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#367812 tenv: 3.2.11 -> 4.0.3
  pkgs/by-name/te/tenv/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer

#369287 llama-cpp: 4367 -> 4397
  pkgs/by-name/ll/llama-cpp/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1, 12.approved-by: package-maintainer

#369594 ladybird: 0-unstable-2024-12-23 -> 0-unstable-2024-12-30
  pkgs/applications/networking/browsers/ladybird/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1, 12.approvals: 1

#369785 asak: 0.3.4 -> 0.3.5
  pkgs/by-name/as/asak/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#369481 python312Packages.qtile-bonsai: 0.4.0 -> 0.5.0
  pkgs/development/python-modules/qtile-bonsai/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 2, 12.approved-by: package-maintainer

#369731 anyrun: 0-unstable-2024-11-08 -> 0-unstable-2024-12-27
  pkgs/by-name/an/anyrun/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 2

#365780 tor-browser: fix desktop icon
  pkgs/by-name/to/tor-browser/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, backport release-24.11

#369645 python312Packages.playwrightcapture: 1.27.4 -> 1.27.5
  pkgs/development/python-modules/playwrightcapture/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#367038 python312Packages.meshtastic: 2.5.5 -> 2.5.6post1
  pkgs/development/python-modules/meshtastic/default.nix
Labels: 6.topic: python, 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#369644 python312Packages.onvif-zeep-async: 3.1.12 -> 3.1.13
  pkgs/development/python-modules/onvif-zeep-async/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#369190 python312Packages.tree-sitter-javascript: 0.21.3 -> 0.23.1
  pkgs/development/python-modules/tree-sitter-javascript/default.nix
  pkgs/development/python-modules/tree-sitter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369898 wafw00f: 2.2.0 -> 2.3.1
  pkgs/by-name/wa/wafw00f/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369894 python312Packages.tencentcloud-sdk-python: 3.0.1292 -> 3.0.1293
  pkgs/development/python-modules/tencentcloud-sdk-python/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369913 python311Packages.hstspreload: 2024.12.1 -> 2025.1.1
  pkgs/development/python-modules/hstspreload/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#345651 satyrographos: init at 0.0.2.13
  pkgs/by-name/sa/satyrographos/package.nix
Labels: 8.has: package (new), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 11.by: package-maintainer

#352162 megasync: 4.9.1.0 -> 5.6.1.0
  pkgs/applications/misc/megasync/default.nix
  pkgs/applications/misc/megasync/dont-fetch-clang-format.patch
  pkgs/applications/misc/megasync/install-megasync.patch
  pkgs/applications/misc/megasync/megasync-fix-cmake-install-bindir.patch
  pkgs/applications/misc/megasync/noinstall-distro-version.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12. first-time contribution

#368058 worldofgoo: don't strip debug symbols
  pkgs/by-name/wo/worldofgoo/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 10.rebuild-linux: 1, 12.approvals: 1, 12.approved-by: package-maintainer, 12. first-time contribution

#369779 bossa: fix darwin build
  pkgs/by-name/bo/bossa-arduino/package.nix
  pkgs/by-name/bo/bossa/bin2c.c
  pkgs/by-name/bo/bossa/package.nix
  pkgs/top-level/all-packages.nix
Labels: 10.rebuild-darwin: 1-10, 10.rebuild-linux: 0

#369774 codeblocks: fix darwin build
  pkgs/by-name/co/codeblocks/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369812 xnee: fix build
  pkgs/by-name/xn/xnee/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#367172 itk: 5.4.0 -> 5.4.1
  pkgs/development/libraries/itk/5.x.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369828 nixos/coturn: restore logging functionality
  nixos/modules/services/networking/coturn.nix
Labels: 6.topic: nixos, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, backport release-24.11

#369841 serie: 0.4.0 -> 0.4.1
  pkgs/by-name/se/serie/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369837 nixos/kmonad: misc improvements
  nixos/modules/services/hardware/kmonad.nix
  nixos/tests/all-tests.nix
  nixos/tests/kmonad.nix
  pkgs/development/haskell-modules/configuration-nix.nix
Labels: 6.topic: nixos, 6.topic: haskell, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0

#369570 kodiPackages.formula1: 2.0.2 -> 2.0.3
  pkgs/applications/video/kodi/addons/formula1/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#369907 mpfi: fix gcc-14 build
  pkgs/by-name/mp/mpfi/package.nix
Labels: 10.rebuild-linux: 11-100, 10.rebuild-darwin: 1-10

#365543 python312Packages.diff-cover: 9.2.0 -> 9.2.1
  pkgs/development/python-modules/diff-cover/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#363375 python312Packages.amqp: 5.3.0 -> 5.3.1
  pkgs/development/python-modules/amqp/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#368674 jmol: 16.3.5 -> 16.3.7
  pkgs/applications/science/chemistry/jmol/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365143 python312Packages.py3status: 3.60 -> 3.61
  pkgs/development/python-modules/py3status/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#367207 python312Packages.fakeredis: 2.26.1 -> 2.26.2
  pkgs/development/python-modules/fakeredis/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369937 libtorrent: 0.14.0 -> 0.15.0
  pkgs/by-name/li/libtorrent/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#364931 python312Packages.elasticsearchdsl: 8.16.0 -> 8.17.0
  pkgs/development/python-modules/elasticsearch-dsl/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#363328 python312Packages.mkdocs-drawio-exporter: 0.9.1 -> 0.10.1
  pkgs/development/python-modules/mkdocs-drawio-exporter/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365518 python312Packages.google-cloud-datacatalog: 3.23.0 -> 3.24.1
  pkgs/development/python-modules/google-cloud-datacatalog/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365547 python312Packages.djangorestframework-stubs: 3.15.1 -> 3.15.2
  pkgs/development/python-modules/djangorestframework-stubs/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369863 python312Packages.plone-testing: 9.0.1 -> 9.0.3
  pkgs/development/python-modules/plone-testing/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369866 python312Packages.pyviz-comms: 2.2.1 -> 3.0.3
  pkgs/development/python-modules/pyviz-comms/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369955 passage: fix `passage -c` on darwin
  pkgs/by-name/pa/passage/package.nix
  pkgs/by-name/pa/passage/set-correct-program-name-for-sleep.patch
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369439 pybugz: migrate from python312Packages.bugz
  pkgs/by-name/py/pybugz/package.nix
  pkgs/development/python-modules/bugz/default.nix
  pkgs/top-level/python-aliases.nix
  pkgs/top-level/python-packages.nix
Labels: 6.topic: python, 8.has: package (new), 8.has: clean-up, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 10.rebuild-darwin: 1, 10.rebuild-linux: 1

#369889 codeberg-pages: 6.1 -> 6.2
  pkgs/by-name/co/codeberg-pages/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#369444 nixos/matrix-synapse: configure PYTHONMALLOC when using jemalloc
  nixos/doc/manual/release-notes/rl-2505.section.md
  nixos/modules/services/matrix/synapse.nix
Labels: 6.topic: nixos, 8.has: documentation, 8.has: changelog, 8.has: module (update), 10.rebuild-linux: 1-10, 10.rebuild-darwin: 0, 12.approvals: 1

#362119 python312Packages.pyside2: 5.15.15 -> 5.15.16
  pkgs/development/python-modules/pyside2/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#364457 python312Packages.python-utils: 3.9.0 -> 3.9.1
  pkgs/development/python-modules/python-utils/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369897 givaro: fix gcc-14 /clang-19 builds
  pkgs/development/libraries/givaro/default.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#368926 ocamlPackages.raylib: init at 1.4.0
  pkgs/development/ocaml-modules/patch/default.nix
  pkgs/development/ocaml-modules/raylib/default.nix
  pkgs/development/ocaml-modules/raylib/raygui.nix
  pkgs/top-level/ocaml-packages.nix
Labels: 6.topic: ocaml, 10.rebuild-darwin: 0, 10.rebuild-linux: 0, 11.by: nixpkgs-member

#369936 manga-ocr: relax 'numpy<2' constraint
  pkgs/development/python-modules/manga-ocr/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#365539 python312Packages.universal-pathlib: 0.2.5 -> 0.2.6
  pkgs/development/python-modules/universal-pathlib/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#369926 bash-env-json: 0.9.2 -> 0.10.0
  pkgs/by-name/ba/bash-env-json/package.nix
Labels: 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10, 12.approvals: 1

#364551 commitizen: 4.0.0 -> 4.1.0
  pkgs/development/python-modules/commitizen/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 1-10, 10.rebuild-darwin: 1-10

#364526 mlflow-server: 2.18.0 -> 2.19.0
  pkgs/development/python-modules/mlflow/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100

#365133 python312Packages.venusian: 3.1.0 -> 3.1.1
  pkgs/development/python-modules/venusian/default.nix
Labels: 6.topic: python, 10.rebuild-linux: 11-100, 10.rebuild-darwin: 11-100
